[2018-04-23 13:13] MoonGem commented on #1276
Actually...... To be fair, this thing is far fast enough already. I'm going to close this. I imported 25% of a 200K-sentence chatlog and the responses are very fast.

[2018-04-23 13:13] #1276 closed

[2018-04-23 16:14] vkosuri commented on #161
@iamhssingh I didn't understand what you are trying conveying here? could you please elaborate more what are your differnt suggestions.

[2018-04-23 16:33] gunthercox commented on #161
@iamhssingh Awesome, feel free to let me know if you have any questions or if there is anything I can clarify for you.

[2018-04-23 16:36] gunthercox commented on #1273
It is not currently possible to disable the NoKnowledgeAdapter. Have you made sure that you chat bot has been trained? The NoKnowledgeAdapter will only return a confidence of 1 if there is no responses for the chat bot to reply with.

[2018-04-23 18:09] coolrb opened #1277 "Datetime parsing does not recognize am/pm"
I can say datetime parser is much better than any other parser, However I am facing issue of parsing a datetime with am/pm information. e.g.
[code]
I was though expecting
[code]
I am taking look at the parsing.py class. Being new to python, I would appreciate to know which regex to be modified?

[2018-04-23 20:09] MoonGem opened #1278 "Model training/Quick ML question."
Hi, I was curious. When I train the bot, is it all loaded into the database so that it's only required to be trained once then I can comment out my train function on restarts?

Thanks. I'm training about 40 5000-line sentences in parallel and was just wondering if this is required every time for some in-memory module, or if it's all just loaded into database.

Thanks again,

[2018-04-23 20:16] MoonGem commented on #1278
https://github.com/gunthercox/ChatterBot/issues/1147 solved my q

[2018-04-23 20:16] #1278 closed

[2018-04-24 02:43] vkosuri commented on #1277
IMHO: Please all python related question into stackoverflow or google groups you may good response. This issue tracker field used to track all chatterbot framework/logic/error reporter tracker.

For you question this might the answer https://stackoverflow.com/a/2596991/358458

[2018-04-24 07:04] coolrb commented on #1277
Hello vkosuri, this is though a python question but its about regex re_time at line no 28 of parsing.py. I dont have any problem to change it as per my need. But as this is a genuine issue so it should be reflected in parsing.py which I dont have access. I am using chatterbot api to parse texts

and how do you suggest me to override re_time and still use the this api.

[2018-04-24 09:33] vkosuri commented on #1277
Thanks, re_time expecting am|pm somehow doesn't considering i will look into this issue.

https://github.com/gunthercox/ChatterBot/blob/eab5bb43f0a73fcb49870762f0ffcf74f26d86de/chatterbot/parsing.py#L32

[2018-04-24 12:04] tomliau33 commented on #1273
I have my own model, I implemented a logic adapter which store trained data in my own table, so the statement table was empty. Since NoKnowledgeAdapter would return confidence=1 if self.chatbot.storage.count() == 0, so my own logic adapter would be ignore even it return a response with confidence==1.

[2018-04-24 12:08] tomliau33 commented on #1273
I have my own model, I implemented a logic adapter which store trained data in my own table, so the statement table was empty. Since NoKnowledgeAdapter would return confidence=1 if self.chatbot.storage.count() == 0, so my own logic adapter would be ignore even it return a response with confidence==1.
If it is possible, I hope that I can pass a default adapter to replace NoKnowledgeAdapter when I n

[2018-04-24 12:09] tomliau33 commented on #1273
I have my own model, I implemented a logic adapter which store trained data in my own table, so the statement table was empty. Since NoKnowledgeAdapter would return confidence=1 if self.chatbot.storage.count() == 0, so my own logic adapter would be ignore even it return a response with confidence==1.

If it is possible, I hope that I can pass a default adapter to replace NoKnowledgeAdapter when I

[2018-04-24 18:13] leandrohmvieira commented on #1272
@mdalvi
I'm having this issue too, looks like SQLite(chatterbot default storage is SQLite) and MySQL aren't getting along well. To workaround this, i changed chatterbot storage to MySQL

[2018-04-24 18:44] earcearce16 opened #1279 "how do I use Microsoft Bot Framework Input/Output Adapter?"
I have my Microsoft Bot Framework set-up with the proper channels. Now I would like to integrate my python script to the Microsoft Bot Framework. I have looked around but have not found anything. I have my access token.

Where would I find "directline_host", "conversation_id"?

Here is the sample code:
[code]

[2018-04-25 04:56] tnmurthy commented on #1247
does this apply for MongoDB as well?

[2018-04-25 08:56] vkosuri commented on #1247
@tnmurthy are you looking MongoDB storage adapter, if so http://chatterbot.readthedocs.io/en/stable/storage/index.html#mongodb-storage-adapter

[2018-04-26 06:43] Goooaaal opened #1280 "Use Chinese Corpus"
How to use the Chinese Training Library in the project and use it？
I know that I want to import the Chinese corpus and I do it, but I can't ask questions in Chinese why？
It looks like I've trained
![_15247249497616](https://user-images.githubusercontent.com/33569679/39289799-1cfedcd8-4960-11e8-9fdf-6e9da81c6b5a.png)
![_15247248987930](https://user-images.githubusercontent.com/33569679/39289819-275

[2018-04-26 06:57] nvmndme opened #1281 "Telegram Input Output Adapter"
Does anyone know how to create new adapter for telegram?

[2018-04-26 12:38] krishnaraj1993 opened #1282 "how to add attachment in chatterbot"
how to add image in chatter-bot chat message

[2018-04-26 20:18] MoonGem commented on #1281
I just do this:
[code]

[2018-04-26 20:29] MoonGem opened #1283 "Mongodb large import terribly slow. Any advice?"
If I were to cancel my import of ubuntu corpus and restart it, does it import twice? It seems like the parallel import slows after about an hour or two and I'm not sure why but each 1kb tsv is taking about 3-seconds now. Been importing for ~3-4 days.

[2018-04-26 22:43] MoonGem commented on #1283
I got pymysql working per that one commit.... Not sure where it went.
[code]

And using this info:
https://airbladesoftware.com/notes/fixing-mysql-illegal-mix-of-collations/

/etc/mysql/my.cnf:
[code]

On the database:
[code]

[2018-04-26 22:43] #1283 closed

[2018-04-27 09:17] vkosuri commented on #1281
Thanks @MoonGem
@nvmndme May be you could write your input http://chatterbot.readthedocs.io/en/stable/input/create-an-input-adapter.html and output adapter http://chatterbot.readthedocs.io/en/stable/output/create-an-output-adapter.html using above example

[2018-04-27 09:28] vkosuri commented on #1280
@Goooaaal which version of chatterbot are you using? I this issue was fixed in latest release. Try to upgrade to latest one ``pip install --upgrade chatterbot``

[2018-04-27 09:30] vkosuri commented on #1279
I think it was written on Directline1.1 which is very old version, that is the reason i may not work with latest, needs to upgrade it Directlin 3.3 API https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-concepts

[2018-04-27 09:31] vkosuri opened #1285 "Microsoft bot adapter should upgrade to Directline 3"
Due to a major version of Directline3 in Microsoft bot, the input and output adapter should upgrade to latest one.

Reference:
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-concepts

[2018-04-27 09:32] vkosuri commented on #1279
I have created a separate issue https://github.com/gunthercox/ChatterBot/issues/1285

[2018-04-27 09:33] vkosuri commented on #1273
Just curios, Could you please let me know what are the use case your trying achieving using above scenario?

[2018-04-27 12:39] krishnaraj1993 opened #1286 "false message"
how to print false message
it not showing false message, something pick randomly and show

how i print false message in chatterbot chat application

[2018-04-27 18:03] vkosuri commented on #1286
enable logger you will observed how response selection will works https://github.com/gunthercox/ChatterBot/blob/9e36b35fd681bef497cbbee3bd9918753bd79053/examples/terminal_example.py#L7

[2018-04-28 11:46] lws803 opened #1288 "Simple way of data migration to mongodb"
Hi, is there a simple way of migrating data from sqlite to mongodb? I've tried exporting it as csv but I realised that data stored in monogodb is a little different (entries and all are stored a little differently).

Thanks!

[2018-04-28 20:57] gunthercox commented on #1288
You could export your data from your sqlite chat bot as a training corpus:
http://chatterbot.readthedocs.io/en/stable/corpus.html#exporting-your-chat-bot-s-database-as-a-training-corpus

and then after switching to Mongo DB, train the chat bot with it again.

[2018-04-29 03:53] lws803 commented on #1288
Hmm wont work too cause my data contains emojis. I wrote a script that reads the csv and then use chatbot.learn_response to learn every single row of the response and text.

[2018-04-29 14:40] gunthercox commented on #1288
Strange, it should work with emojis. If you are getting an error message feel free to post it, it might be a bug.

[2018-04-29 14:55] gunthercox commented on #1014
It seems that the code we have for connecting to the Microsoft Bot Framework is for an older version of the Bot Framework API. #1285 has been created for upgrading it.

[2018-04-29 14:55] #1014 closed

[2018-04-29 15:00] gunthercox commented on #1282
@krishnaraj1993 Maybe you could write some code that checks if there is an image url in the chat bot's response text and displays it if one exists.

[2018-04-29 15:02] gunthercox commented on #1280
@Goooaaal If you are using Python 2 you might want to upgrade to Python 3 for better unicode support.

You can check your python version by running `python --version` in your terminal.

[2018-04-29 17:16] lws803 commented on #1288
Hmm this was the error that came out:

[code]

[2018-04-29 17:42] vkosuri commented on #1288
@lws803 can you try it from python3 for better handle of unicodes

[2018-04-30 02:11] nvmndme commented on #1281
@MoonGem thanks! so we use a telegram lib to catch the I/O, i will try it.
@vkosuri yeah, but i don't know how to. Maybe i'll try the @MoonGem's solution

[2018-04-30 02:24] dylib opened #1290 "IndexError and KeyError"
I noticed there seems to be a couple of issues when inputting mixed words with numbers in the `terminal_example.py`:

**KeyError**
[code]
**IndexError**
[code]
_...and..._
[code]
Some type of exception handling here would probably be better than just crashing perhaps.

[2018-04-30 06:05] vkosuri commented on #1290
@dylib This due to lack of statements present SQLStorageAdapter

https://github.com/gunthercox/ChatterBot/blob/abbd96934b0af0197d012d8cb0305d401cd3210a/examples/terminal_example.py#L12

may you could try to train your bot with some statements using list trainer http://chatterbot.readthedocs.io/en/stable/training.html#training-via-list-data

[2018-05-01 15:12] tomliau33 commented on #1273
I use ChatterBot as the engine to implement a questionnaire survey bot. The bot will ask question to user, and then user response their answer. User's answers are privacy, others should not have chance to know the answer, so it is better to prevent chatbot reply those message, I disabled to store message and keep statement table as empty.

[2018-05-01 17:15] vkosuri commented on #1273
Just curios, how you are managing, could you please elaborate this situation with more information. I think it should be a separate usecase or feature that needs to separate user based conversations.

I think this can achieved by using conversation_id http://chatterbot.readthedocs.io/en/stable/conversations.html#conversation-scope? did you tried this method, instead disabled training process.

@gu

[2018-05-02 05:46] mohsin15 commented on #1268
Same error here.

chatterbot version - 0.8.5
operating system (win/linux/mac)? - Linux- ubuntu 16.04 LTS
python/anaconda? Python 2.7.6/ tried with anaconda as well

[2018-05-02 07:14] sarthakmahapatra9 opened #1292 "At what rate does the Chatterbot increases the confidence level on an answer?"
I need to understand how does the chatterbot improves or  builds the confidence on an answer and at what rate? I have been asking the same question more than 15 times and checking it's confidence on the answer, but it is always the same. I am doing something like this ( a pseudo code because I cannot share the real code here) -
if response.confidence <= 0.90 then
     reply saying "we are working

[2018-05-02 17:47] GMT95 opened #1293 "Train Chatterbot on input"
hi,
i want to do something like this

_Me: what is the color of sky?
bot: I dont know, can you tell me.
Me: blue_

and the bot saves the "blue" output on "what is the color of sky input".

Currently the bot saves my input "what is the color of sky?"

Please help.

[2018-05-02 19:29] manoelrui commented on #651
Hi @gunthercox and @pavanAlluri, I am new here and I would like to help in this issue. Can you explain me with more details about the expected result when the input is something like "next 3 weeks" ? Can you show a example, please ? I saw a comment inside the function that says  "If there is an ordinal (next 3 weeks) => return a start and end range", how is the output format of this start and end

[2018-05-03 02:55] vkosuri commented on #1293
@GMT95 chatterbot treas first statement and second as response. in your case

[code]

But you are trying in different fashion, for your use case it should be like this, Very good documentation on training process found here http://chatterbot.readthedocs.io/en/stable/training.html

[code]

See Low confidence response selection filter out your responses with below confidence. http://chatterbot.readt

[2018-05-03 14:07] vkosuri commented on #1293
yes, try this example https://github.com/gunthercox/ChatterBot/blob/master/examples/learning_new_response.py

[2018-05-03 15:17] GMT95 commented on #1293
Thankyou @vkosuri, the last link is really helpful.

[2018-05-03 20:26] vpena opened #1294 "Reverse answers with Django again?"
Hello!

I've been trying to use Chatterbot with Django and I'm getting reversed answers, which does not happens when I use Chatterbot with a python script.

To reproduce:
1) Clone Chatterbot from github
2) Go to examples, django_app and pip install requirements.txt with python 3.5.2 (getting v0.8.5 of Chatterbot)
3) Change to this configuration:
[code]
Try this conversation:
Me: "did tell gossips

[2018-05-04 11:35] GMT95 commented on #1293
@vkosuri  can i set a default response when something is not in Chatterbot's Knowledge like

**Bot replies:**  _I don't know or Can you please tell me_

[2018-05-04 14:02] vkosuri commented on #1293
Yes

[2018-05-04 14:03] vkosuri commented on #1294
@vpena Thanks, It seems to me you haven't created pull request, could you please do so?

[2018-05-04 22:38] #1282 closed

[2018-05-04 22:43] gunthercox commented on #1268
Sounds like this might be the same as #146

[2018-05-04 23:06] gunthercox commented on #1273
@tomliau33 I'm glad to see that you created your own model, that's awesome!

I think I can make a small code change that will make it easier for you to disable the `NoKnowledgeAdapter` since you don't need it for your project. Just opened a pull request with the changes: #1296

[2018-05-04 23:16] #1277 closed

[2018-05-05 02:57] tomliau33 commented on #1273
That's awesome.
Thank you very much!

[2018-05-05 03:13] tomliau33 commented on #1273
PR #1296 can solve this issue.
Thank you!

[2018-05-05 03:13] #1273 closed

[2018-05-05 11:39] iamhssingh commented on #161
@vkosuri I am actually writing a Project Report for my college based on this project. I have mentioned the usage of GuntherCox's chatterbot in it.

The theme of project is: Self-Learning Chat Bot as Teacher based on Gunthercox’s Chatterbot

@gunthercox I want to write a research paper based on IEEE format for this project. I am not sure how do I list all the contributors in the research paper. Can

[2018-05-07 04:55] mohsin15 commented on #1268
Thanks, the issue is solved now.

[2018-05-07 16:55] gunthercox commented on #161
@iamhssingh I believe for citations you can reference the copyright holder and just mention "individual contributors" as a whole. I'm definitely not an expert in the correct way to set up these references, but I'm going off of other open source projects as an example.

For example, the Django license uses the phrasing "Django Software Foundation and individual contributors".

https://github.com/dj

[2018-05-08 22:52] gunthercox commented on #1290
Looks like this is related to the [mathparse](https://github.com/gunthercox/mathparse) library. @dylib thank you for the test data, it'll make fixing this issue much easier.

[2018-05-08 22:57] gunthercox commented on #1292
The rate is typically based on the percent similarity between the input statement and a known statement, then the response that the chat bot returns from the selection of similar statements is based on the occurrence frequency of the response where the number of occurrences is the number of times that the bot has received the response to a statement it returned.

[2018-05-08 23:01] gunthercox commented on #1293
It sounds like this question has been answered? @GMT95 I'm going to close this ticket off for now, feel free to reopen it if your original question wasn't resolved.

[2018-05-09 04:35] dylanail opened #1297 "Can't get ChatterBot to work"
Hi, I installed version 0.8.6 on Ubuntu 16.04 and am using Python 3.x, and the first thing that I tried to do is get some examples up and running. The first time I installed chatterbot, it somehow worked but would only reiterate the words which I entered. I then tried the quick start guide code, but that one would only reply with the time for some reason. I uninstalled and reinstalled chatterbot,

[2018-05-09 04:41] dylanail commented on #1297
One more thing is that I ~just got it to do something else with the "basic example", and all it does is consistently reply "I am sorry, but I do not understand". Still no luck with any other example.

[2018-05-09 08:41] kizivat commented on #214
Hi, @z4nD4R.
I've just created a script to extract dialogues from [OPUS corpus](http://opus.nlpl.eu/OpenSubtitles2018.php) (movies subtitles). Currently, it's the repository is private but if there would be an interest I can publish it after some polishing. Being Slovak myself I also already create a corpus as big as 600MB including over 180k conversations. That's after excluding sentences contain

[2018-05-09 13:43] ajwsert commented on #1275
Thanks for the reply. Yes, I had seen about that function but I still can't understand properly how it works and I have some doubts.

Is that ID (and conversation stuff) stored in the database somewhere? If so, is there a way to retrieve it again? I haven't found any function/way to retrieve conversation IDs, only that one to create it, so I realize I should store the ID in a variable/session or s

[2018-05-10 03:38] vkosuri commented on #1297
It seems to me you are using old version of chatterbot, could you try to upgrade to latest version ``pip install --upgrade chatterbot`` still you are getting errors please post stack trace.

[2018-05-10 04:13] JasonXJKJ opened #1298 "Answer the same answer"
I create a chatbot:
[code]

then i train it with:
[code]

but when i use
[code]

it always print "你听说过在安第斯山脉的山羊的人？这是巴AAAAA D。"
How can I print something else?

[2018-05-10 07:02] vkosuri commented on #1298
You are using ``"response_selection_method": "chatterbot.response_selection.get_first_response"`` insted use "response_selection_method": "chatterbot.response_selection.get_random_response"

More information http://chatterbot.readthedocs.io/en/stable/logic/response_selection.html#chatterbot.response_selection.get_random_response

[2018-05-10 07:19] JasonXJKJ commented on #1298
@vkosuri thanks!

[2018-05-10 07:19] #1298 closed

[2018-05-10 08:55] mdalvi commented on #1272
@leandrohmvieira

And how do we do that?

[2018-05-10 11:32] leandrohmvieira commented on #1272
@mdalvi something like this
[code]

[2018-05-10 14:26] Revel109 opened #1299 "How to Integrate with messenger ChatBot?"
Hey,
I got chatterbot awesome and I think it's the coolest chatbot ever. Now I want to create an AI chatbot for messenger and wanna experiment on that. So, how can I do this? Anyone does this before?

[2018-05-11 00:17] vkosuri commented on #1299
These xamples section will guide you https://github.com/gunthercox/ChatterBot/tree/master/examples

[2018-05-11 12:08] manoelrui commented on #1170
Hi guys, @gunthercox and @pylobot, I liked the idea can I take this feature ? I made a prototype to share with you.

[2018-05-11 13:19] QUDUSKUNLE commented on #930
@vkosuri Thanks a lot.

[2018-05-11 17:18] manoelrui commented on #1170
@vkosuri I created the pull request #1300 to this feature.

[2018-05-12 15:31] yojan95 opened #1301 "cannot import name chatbot from chatterbot line 3"
`# -*- coding: utf-8 -*-

from chatterbot import Chatbot

bot = Chatbot(
       "brayan",
storage_adapter="chatterbot.storage.SQLSstorageaAdapter",
logic_adapter={
     "chatterbot.logic.bestmach",
     "chatterbot.logic.timeLogicAdapter",
     "chatterbot.logic.mathematicalEvaluation"
},
input_adapter="chatterbot.input.TerminalAdapter",
output_adapter="chatterbot.output.TerminalAdapter",
database

[2018-05-13 07:37] vkosuri commented on #1301
It's ChatBot not Chatbot

[code]

For more options see example section https://github.com/gunthercox/ChatterBot/tree/master/examples

[2018-05-13 12:09] gunthercox commented on #1280
@Goooaaal Looking at he stack trace you posted, I'm fairly certain that you have a syntax error in your code. You likely need to wrap the text indicated in the error message with quotation marks.
For example: `u'your-text'`

[2018-05-13 12:09] #1280 closed

[2018-05-13 12:11] #1265 closed

[2018-05-13 12:11] #1258 closed

[2018-05-13 12:11] #1264 closed

[2018-05-13 12:12] #1253 closed

[2018-05-13 12:12] #1259 closed

[2018-05-13 12:56] gunthercox commented on #1297
@dylanail The upgrade command will also make sure that you have the latest supported dependencies installed for ChatterBot, such as sqlalchemy.
***
I'm uncertain about the cause of the import error. What does the structure of your working directory look like?

[2018-05-13 16:35] gunthercox commented on #1301
@yojan95 That error message likely means that you don't have sqlalchemy installed.

Please install ChatterBot using the following command:

[code]

[2018-05-14 11:38] BasselZaity opened #1303 "Reduce the time of training"
Would you please tell me if it's possible to train n model for one time and use it without making training every time I want to use my Chat Bot, because it's taking long time to learn.

[2018-05-15 04:06] wireless90 opened #1304 "Django Chatterbot Clear Database"
If I am using django chatterbot, how do I remove all the training data. How do I drop the storage in this case?

How to get the current instance of chatterbot?

[2018-05-15 07:33] BasselZaity commented on #1303
Thanks a lot, it was helpful

Sent from my iPhone

[2018-05-15 09:28] BasselZaity commented on #1303
Hdbsbsbbs

Sent from my iPhone

[2018-05-15 12:41] kinany opened #1305 "nn"
nn

[2018-05-15 12:45] vkosuri commented on #1304
There could be a in your current directory with name sqlite.db, you could drop the file, and start train your bot.

[2018-05-15 12:45] vkosuri commented on #1303
Thank you

[2018-05-15 12:45] #1303 closed

[2018-05-16 08:08] Siva-Karthi commented on #238
Try this https://stackoverflow.com/questions/30355790/mongodb-bulk-write-error

[2018-05-17 04:28] bannedghost opened #1306 "Can't launch an instance of chatterbot after training"
So the problem is like this
I used one of the examples for training
then I quit the terminal
Now I don't want to train it at every instance
so how do I converse with the bot after I quit it?

[2018-05-17 06:43] vkosuri commented on #1306
Chatterbot training is persisted into sqlite.db file, you could separate files for training and learning, this example may give an overview how to do https://github.com/gunthercox/ChatterBot/issues/1106#issuecomment-351020080

[2018-05-17 16:12] manoelrui commented on #1235
@gunthercox, @vkosuri and @konstantin42127 I am sure that the main problem is inside **mathparse** lib, I send a [pull request ](https://github.com/gunthercox/mathparse/pull/23) to mathparse repository to try fix this [bug](https://github.com/gunthercox/mathparse/issues/13). In my environment, It worked as expected after this fix. When a new version of mathparse was released fixing this bug I can

[2018-05-18 02:12] AxelAli opened #1307 "statement.remove_response() not working"
**chatterbot version 0.8.5**
I am wanting to delete a "bad response".
Wrote a new trainer to do this.

**Used**
[conversations (Documentation)](http://chatterbot.readthedocs.io/en/stable/conversations.html)

**My trainer**
[code]
**Main code**
[code]

Im missing anything?

Thanks

[2018-05-19 07:28] #1272 closed

[2018-05-19 13:28] #1305 closed

[2018-05-22 03:00] niranjan8129 commented on #1294
how to execute the program  ... what is the main source file to pass the text

[2018-05-22 04:31] vkosuri commented on #1294
@niranjan8129 You have install all the required packages into machine, ``python manage.py train`` and ``python manage.py runserver``

About Django the documentation found here https://chatterbot.readthedocs.io/en/stable/django/index.html

An example found here https://github.com/vkosuri/chatterbot-live-example

[2018-05-23 12:42] ceroo1005 opened #1310 "yml"

[2018-05-23 12:42] #1310 closed

[2018-05-24 05:17] ishubhamgupta opened #1311 "Problem Importing Gitter"
#Gitter Conversation

from chatterbot import ChatBot

from settings import GITTER

---------------------------------------------------------------------------
While I'm running the following code

from settings import GITTER

All that I'm getting is......

ImportError                               Traceback (most recent call last)
<ipython-input-14-d6dc72a91c52> in <module>()
      1
      2 from

[2018-05-24 06:56] vkosuri commented on #1311
https://github.com/gunthercox/ChatterBot/issues/1032 Need to create a file called settings.py in the same directory as the python file you are trying to run.

[2018-05-24 18:22] lightyagami19 commented on #826
@shousunny Looks like I am facing the same issue. Can you please elaborate?
Where did you use this folder directly? here?
for files in os.listdir('C:/Users/Home\Desktop\chatterbot-corpus-master\chatterbot_corpus\data\english/'):

I directly downloaded the zip file and extracted chatterbot-corpus-master on to my desktop

[2018-05-24 22:57] gtzinos commented on #1138
Could you please give me a feedback?

[2018-05-24 23:04] kyle-sorensen commented on #1138
Don't have to necessarily use GridFs BSON raw data is compressed before insertion into MongoDB

[2018-05-25 20:31] Christian1980 opened #1312 "Connect to a source QnA database ?"
Hi,
I have a database with questions and answers. A question can have multiple answers.
How can I use my database a a source for the bot to respond to users ?

Do I need to export the database to some source text file ? I can't find any sample in the doc on how to use an existing database to populate the data to the bot to chat with users.

Thanks for any advices or (better) samples...

[2018-05-26 09:26] yogesh127 opened #1313 "Regarding learning model used in Chatterbot"
which machine learning model is used in this chatterbot for training ?

[2018-05-26 10:36] jason0luck opened #1314 "Getting Json Decode error executing the below program-ChatterBot-voice"
[code]

[code]

[2018-05-26 10:39] jason0luck commented on #1314
please someone help me in slving this,
Many Thanks.

[2018-05-26 10:48] yogesh127 commented on #1314
Sorry I cant help but i have my own querry .
which machine learning model used for training in this chatterbott??

[2018-05-26 11:07] jason0luck commented on #1314
using the ChatterBotCorpusTrainer to train my model

reference:
unable to execute the example.py
https://github.com/gunthercox/chatterbot-voice/tree/master/examples

[2018-05-26 18:41] FathimaFirdhouse opened #1315 "Chatterbot not working properly"
Hi,

I'm trying to create a chatterbot using flask. I got it but unfortunately I face few issues.
1. I have 10 YML files, If I ask a question, the chatterbot is getting the answer from some other file and not where it should fetch, basically not answering properly
2. Secondly when I run the chatterbot for the second time, the first time question that I asked which chatterbot could not reply for th

[2018-05-27 07:49] FathimaFirdhouse commented on #1315
Please somebody help me

[2018-05-27 18:56] vkosuri commented on #1315
Did you tired this https://github.com/chamkank/flask-chatterbot repo?

sometimes chatterbot will work based on your training data, may read these documents https://chatterbot.readthedocs.io/en/stable/logic/index.html

[2018-05-27 18:58] vkosuri commented on #1313
@yogesh127 https://chatterbot.readthedocs.io/en/stable/faq.html#what-kinds-of-machine-learning-does-chatterbot-use

1. [Search algorithms](https://chatterbot.readthedocs.io/en/stable/faq.html#search-algorithms)
2. [Classification algorithms](https://chatterbot.readthedocs.io/en/stable/faq.html#classification-algorithms)

curios to know what are different ML learning models are available?

[2018-05-28 04:30] FathimaFirdhouse commented on #1315
Yes I tried replicating the link you mentioned. I saw those theories of algorithms but I don't know how to make use of that in my chatterbot.. Currently I added levenshtein distance algorithm plug in as shown in my code.. but no great use.. what else can I do?

[2018-05-28 12:26] FathimaFirdhouse commented on #1315
My chatterbot is working somewhat fine but I have a issue,
when I run the chatterbot for the second time, the first time question that I asked which chatterbot could not reply for the first time is stored and it is asking me back when I ask a known question.

I want to clear the SQLITE File in python itself after every response that is right after
def get_bot_response():
    userText = request.arg

[2018-05-28 19:20] vkosuri commented on #1315
It seems you don't learn previous response, this might help you https://chatterbot.readthedocs.io/en/stable/examples.html#read-only-mode

Your chat bot will learn based on each new input statement it receives. If you want to disable this learning feature after your bot has been trained, you can set read_only=True as a parameter when initializing the bot.

[2018-05-29 00:39] FathimaFirdhouse commented on #1315
Thank you for your suggestion, but when I tried giving read_only=True in my code. The bot replies just as the user. Please find the snapshot of code and the result below:
![bot_ready_only](https://user-images.githubusercontent.com/39655998/40632651-d5f4a528-6306-11e8-8343-167b21a2cde1.JPG)
![issue_read_only](https://user-images.githubusercontent.com/39655998/40632652-d62e2884-6306-11e8-9f24-767496

[2018-05-29 09:17] FathimaFirdhouse commented on #1315
Please help me

[2018-05-29 11:29] vkosuri commented on #1315
I am not what happening on your end, My suggestions are

1. Try to enable logging how the response are selecting, see this example https://github.com/gunthercox/ChatterBot/blob/ebfd4be9a7a4402fbbce2399af7758c347e2f567/examples/learning_feedback_example.py#L12
2. Try to change response_selection_method to random response selection method https://chatterbot.readthedocs.io/en/stable/logic/response_se

[2018-05-29 14:33] ankurgulati opened #1316 "NoSuchColumnError: "Could not locate column in row for column '1'""
Hi,

I am following the exact same steps mentioned here: [](https://chatterbot.readthedocs.io/en/stable/quickstart.html)
Everything works until the last step.
[code]
I am facing the below error :

FYI I upgraded chatterbot and sqlalchemy

[2018-05-29 16:03] FathimaFirdhouse commented on #1315
Thank you so much for your help. It is working now with read_only=True instead of adding it in initialization I added it after training statement that is after bot.train(data) now it's working fine. Thank you very much.

[2018-05-29 22:22] isaam14 commented on #898
I tried writing this on the json file:

{"categories":"test_json",
"conversations": {"- - text": "Hello, how are you doing today?",
"  - text": "I am doing well, thank you.",
"- - text": "I cannot find my keys.",
"  - text": "Where was the last place you remember having them?"}}

It doesn't send an error on the console but the chatbot doesn't know the answers when say hello or when I ask her about

[2018-05-30 00:11] vkosuri commented on #1315
@FathimaFirdhouse glad to hear your problem was resolved.

[2018-05-30 11:17] #1311 closed

[2018-05-30 11:18] #1304 closed

[2018-05-30 11:21] gunthercox commented on #161
@mikhailhathey That is possible to do with ChatterBot.

[2018-05-30 11:46] gunthercox commented on #1316
Do you know what version of ChatterBot you upgraded from?

[2018-05-30 11:49] #1301 closed

[2018-05-30 11:49] #1299 closed

[2018-05-30 11:50] #1297 closed

[2018-05-30 11:58] gunthercox commented on #1314
@jason0luck Given the information presented, I'm not sure if I can help determine the cause of this error. The `JSONDecodeError` leeds me to suspect that invalid JSON was saved to the database file. If the file is small, you can likely explore it manually to see if you can find the invalid content and eliminate or fix it. It could be as simple as an improperly escaped character.

[2018-05-30 12:06] gunthercox commented on #1312
One way to do this is to export your QA content as a `yml` file for training.

The format is describe here: http://chatterbot-corpus.readthedocs.io/en/latest/data.html

Let me know if you have any questions.

[2018-05-30 15:41] ankurgulati commented on #1316
I am not sure about previous version but in that version there was an option of JSONStorageAdapator which is missing/removed

[2018-06-02 00:16] gunthercox commented on #1315
@FathimaFirdhouse The file format of the data (json / yaml) has no effect on the accuracy.

If you are getting different responses between use of single and multiple files I'd suggest making sure that the conversations in each file follow the correct notation for responses.

[2018-06-02 03:31] lws803 commented on #1288
Just tried it, works really well. There's a way to utf strip too if there are any unknown characters for some reason

[2018-06-02 03:31] #1288 closed

[2018-06-02 22:59] FathimaFirdhouse commented on #1315
Oh ok. Thank you so much for your response

[2018-06-03 08:48] jason0luck commented on #1314
Thank you.finally resolved with this error

[2018-06-03 08:53] jason0luck opened #1317 "How can i improve the confidence level of https://github.com/gunthercox/ChatterBot/tree/master/examples to get good improved results from my bot."

[2018-06-04 04:41] SmartCord opened #1318 "Connection closed when trying to connect to mongodb"
[code]

So i'm trying to connect the chatbot to mongodb atlas but for some reason and idk why but it's giving me an error saying `pymongo.errors.ServerSelectionTimeoutError: connection closed`
PS : I import ChatBot as chat

[2018-06-04 06:16] vkosuri commented on #1318
Did you looked into this issue https://github.com/mongodb-labs/mongo-connector/issues/653 ?

[2018-06-04 07:25] swathy06 opened #1319 "can chatterbot be deployed in telegram or any other social networking sites ?Without the telegram I/o adapter?"

[2018-06-04 08:57] swathy06 commented on #1315
I would like to know, what is the correct notation for responses?

[2018-06-04 19:00] mikegustafson101 commented on #1205
I'm having this issue to. I copy/pasted 'pip install chatterbot' from git, then attempted to run python -m chatterbot --version but I still get cannot import name ChatBot. Tried the test document to see if things are working and still the same error. I have a fresh install of linux, but I don't see any dependencies so I don't think Im missing anything.  Any thoughts on this would be appreciated.

[2018-06-06 07:29] vkosuri commented on #1205
@mikegustafson101 ``pip install chatterbot`` did you got any errors?

[2018-06-06 07:34] vkosuri commented on #1315
@swathy06 This might give an idea https://chatterbot.readthedocs.io/en/stable/conversations.html#statement-response-relationship

an example https://github.com/gunthercox/chatterbot-corpus/blob/master/chatterbot_corpus/data/english/greetings.yml

[2018-06-06 07:35] vkosuri commented on #1319
I think yes, You have write your own [input](https://chatterbot.readthedocs.io/en/stable/input/index.html) and [output](https://chatterbot.readthedocs.io/en/stable/output/index.html) adapters

[2018-06-06 13:42] mikegustafson101 commented on #1205
I'll have to reboot into linux to doublecheck, but Im 99% sure it installed correctly, and that's why I thought it was confusing that I couldn't even get the test script to run.

[2018-06-06 16:19] gunthercox commented on #1317
With additional training, confidence levels will increase if the bot has more accurate responses that can be used.

[2018-06-06 16:20] #1314 closed

[2018-06-06 16:21] #1312 closed

[2018-06-07 03:47] vkosuri commented on #1257
@gunthercox Thanks master, updated, let me know still unclear parts are there

[2018-06-08 07:06] abhijit2813 opened #1320 "Document parsing and I don't want my chatbot to Learn my chat where to give read_only=true"
Hello
I want to do document parsing in case of low confidence I am not to do it can anyone tell me how to do it?

Basically where shall I use read_only in my code?

[2018-06-08 08:43] vkosuri commented on #1320
@abhijit2813 ``chatbot = ChatBot("Johnny Five", read_only=True)`` https://chatterbot.readthedocs.io/en/stable/examples.html#read-only-mode

[2018-06-08 11:11] abhijit2813 commented on #1320
Thanks alot
What about connecting to document based on user query in case of low confidence
I am working on a poc

[2018-06-09 17:49] abhijit2813 commented on #1320
Hello
Can I add the corpus to db instead of using yml format if yes how to do that?

[2018-06-10 03:43] #1318 closed

[2018-06-11 07:11] vkosuri commented on #1320
Just curios how you will add data to DB?
Other workaround you have to write your own training adapter to work https://chatterbot.readthedocs.io/en/stable/training.html#creating-a-new-training-class an example https://chatterbot.readthedocs.io/en/stable/training.html#twitter-training-example

[2018-06-11 14:53] abhijit2813 commented on #1320
Thanks alot do we have any function or query that can turn user text into SQL query and hit database and return response thanks in advance

[2018-06-11 17:21] isaam14 commented on #1091
I have the same problem. I would like to record the user input of each conversation on a mongo database but I don't want the chat-bot to learn from it. How can I do that?

[2018-06-12 03:56] shirishph opened #1321 "Training for specific answer"
I'm trying to train the bot with a specific answer to a specific question by training. See this code below...

[code]

After running this, the output is like so...

[code]
note: The 'How do you drive an intergalactic spaceship' was from some other random statement and response

Running from console gives this:

[code]

Tried several times, but same response.

My question is why does CB not return

[2018-06-12 06:28] abhijit2813 commented on #1320
I have created a chatbot for FAQ. Its doing fine with returning proper answer for each best match.
Now I want to execute a function and get result of that function as answer once matching input is found. Is it possible to achieve and how?
Thanks in advance.

[2018-06-12 06:49] vkosuri commented on #1321
@shirishph Before answering your question, I would let you know chatterbot defaults methods are

1. storage adapters: [sql-storage-adapter](https://chatterbot.readthedocs.io/en/stable/storage/index.html#sql-storage-adapter)
2. logic adapter:  [Best Match Adapter](https://chatterbot.readthedocs.io/en/stable/logic/index.html#best-match-adapter)
3. response selection: [get-first-response](https://cha

[2018-06-12 06:52] vkosuri commented on #1320
Yes, This example will give some idea your try to do https://github.com/gunthercox/ChatterBot/blob/master/examples/learning_feedback_example.py

[2018-06-12 06:54] vkosuri commented on #1091
@isaam14 Have you seen this example https://github.com/gunthercox/ChatterBot/blob/master/examples/learning_feedback_example.py

[2018-06-12 07:29] #1317 closed

[2018-06-12 07:41] #1292 closed

[2018-06-12 07:43] #1170 closed

[2018-06-12 07:44] #1242 closed

[2018-06-12 12:18] krishnaraj1993 opened #1323 "nodejs loop problem not synchronize"
con.query('SELECT *  from table',async function(err, rows, fields){
					rows.forEach(async function(data, index, arr) {
						 const result = await cal_funct(json);
						 console.log(result);
					});
			});

function cal_funct(){
//some--action
retrun 'a';
}
//============================================
it print table data after 'a'

i want result like this
table data--1
'a'
table data --2
'a'

[2018-06-12 16:48] #1202 closed

[2018-06-12 16:58] prithvirajrmd2015 opened #1324 "Chatter bot not working as expected"
Hi im trying to use chatter bot i had given my training data below if i say 'im fine' its just executing the second line as the answer 'What can you do for me' can any one help me with this...
[code]

[2018-06-12 17:04] isaam14 commented on #1091
@vkosuri Thanks, yes I have. But the thing is, that example only works without the option read_only = True. And I don't want the bot to use the Statements from one conversation as Responses in another one, I only want it to use what it learned from the Corpora (and the Responses it gets from some Logic Adapters that I added). So I want to record the conversations (including the Responses that come

[2018-06-13 22:27] #939 closed

[2018-06-14 07:31] tushar1328 opened #1326 "Set a default response if no matching input is found"
``from chatterbot import ChatBot
input = 'does linux rock'
bot = ChatBot('tux')
statement = bot.input.process_input(input)
confidence, response = bot.logic.process(statement)
if confidence > THRESHOLD:
   response = bot.output.process_response(response)
else:
    response = "I don't understand what you mean"``

input = 'does linux rock'
bot = ChatBot('tux')
statement = bot.input.process_input(inpu

[2018-06-14 08:53] vkosuri commented on #1324
I think you have to [filters](https://chatterbot.readthedocs.io/en/stable/filters/index.html) or [response selection methods](https://chatterbot.readthedocs.io/en/stable/logic/response_selection.html#module-chatterbot.response_selection) to get different responses.

[2018-06-14 08:55] vkosuri commented on #1326
@tushar1328 You may use [Specific response selection adapter](https://chatterbot.readthedocs.io/en/stable/logic/index.html#specific-response-adapter)

[2018-06-14 10:57] tushar1328 opened #1327 "Catbot Responds Incorrectly on default corpus."
# After Executing the below code, the chat bot replies with same as inputs
## Code:
[code]

## Chat response:

![screenshot from 2018-06-15 12-34-04](https://user-images.githubusercontent.com/11635171/41454816-7ada9fea-7098-11e8-9852-c89ef0d4bf4a.png)

[2018-06-14 12:09] tushar1328 commented on #1326
thank you @vkosuri  got the point, and solved my queries, would be very thankful if you solve my other queries too #1327

[2018-06-15 06:39] tushar1328 commented on #1327
I have see the database files and saw that the data base inputs the responses to the same database. I don't want the database to be updated besides the corpus data. Chat bot should only respond to the corpus data. Can anyone show me the way and resolve  my query

[2018-06-15 07:03] vkosuri commented on #1327
Try to set your bot in read only mode https://chatterbot.readthedocs.io/en/stable/examples.html#read-only-mode

[2018-06-15 07:08] tushar1328 commented on #1327
I have update the Query above. After Adding the read_only= true the response is as follows
can you please review my code
[code]

[2018-06-15 07:10] tushar1328 commented on #1091
@isaam14 @vkosuri  I too want to do the same. i added read_only=TRUE to chatbot, after executing the the code the chat now prints the input we give as training corpus does not create the database  #1327

[2018-06-15 09:33] tushar1328 commented on #1091
@isaam14 I got a trick, you can use read_only = True in your main script but to train your corpus files you will need them to be execute from different file which will remove the ambiguity with **read_only** see the sample code below
### train.py

[code]
### bot.py
[code]

Try this, I did the same and it worked.

[2018-06-15 10:09] tushar1328 commented on #1327
@vkosuri  I got a trick, used read_only = True in my main script but to train my corpus files executed from different file which will remove the ambiguity with **read_only** see the sample code below
### train.py

[code]
### bot.py
[code]

[2018-06-15 10:09] #1327 closed

[2018-06-15 11:08] vkosuri commented on #1091
@tushar1328 glad to here your problem was resolved.

[2018-06-15 15:13] isaam14 commented on #1091
Thank you @tushar1328 but I don't think we have the same problem. This doesn't solve mine.

[2018-06-16 06:57] abhijit2813 commented on #1320
Thanks alot
Can I give image as a response in my chatbot?if yes how can we do that?
Thanks in advance

[2018-06-16 16:13] swiss809 opened #1328 "Multiple Questions"
Hi, I am fairly new to github and software development. I am able to run the examples inside a virtual environment. My question is how can I keep the chatbot alive longer, once I ask it a question it’s game over . I want to be able to continue to conversate with it. I ran the training_example_corpus.py in the terminal. Any advice will be greatly appreciated

[2018-06-17 00:59] vkosuri commented on #1328
@swiss809 you have to train your bot . See more information on training https://chatterbot.readthedocs.io/en/stable/training.html

[2018-06-17 10:25] jason0luck opened #1329 "which machine learning algorithm is this chatter bot using and how it is calculating the confidence?"
many thanks:)

[2018-06-18 04:27] swiss809 commented on #1328
I get the idea of training the bot but do i have to train the bot for every question? is there a way i can train the bot once an be able to ask multiple questions?

[2018-06-19 01:44] gunthercox commented on #1328
@swiss809 You're correct, you only need to train the bot once.

[2018-06-19 08:29] swathy06 opened #1331 "is it possible to do math like calculations in chatterbot?"
The user will input the number,the bot will do according to user and display response?

[2018-06-19 10:49] #1240 closed

[2018-06-19 10:54] gunthercox commented on #1331
Yes, this is possible. You just need to add `chatterbot.logic.MathematicalEvaluation` to your chatbot's logic adapters.

http://chatterbot.readthedocs.io/en/stable/logic/#mathematical-evaluation-adapter

[2018-06-19 10:56] #1319 closed

[2018-06-19 14:39] anhnt6596 opened #1333 "Can I turn on, turn off read_only mode"

[2018-06-19 19:12] swiss809 commented on #1328
Thanks @gunthercox,

After I train my bot I can only ask 1 question, then i have to restart the bot and train it again before I can ask another question. Essentially I have to run a new bot for every question. Is there something I’m doing wrong?

[2018-06-20 04:19] swathy06 commented on #1331
instead of calling mathematical adapter,can it be written in as a custom logic adapter,where the prompt from bot comes to input the number.Then user inputs the number and the calculation happens?

[2018-06-20 12:48] gunthercox commented on #1328
There is a number of things that could cause this. Is your bot successfully saving trained statements to it's database? How many statements are you training your bot with?

Posting an example of your data or the code you are using might help me suggest a solution.

[2018-06-20 12:49] #1163 closed

[2018-06-20 12:57] gunthercox commented on #1331
You are more than welcome to create your own logic adapters. The idea you are proposing definitely sounds like it would be possible to make.

[2018-06-20 16:03] isaam14 commented on #1091
This kinda solves my problem. It saves the conversations as two lists of lists (one for the user statements, the other for the bot statements, and a date is saved with each statement).

uri = # the mongo URI

bot = ChatBot(
    'Bot-Bot',
    trainer = 'chatterbot.trainers.ChatterBotCorpusTrainer',
    storage_adapter = "chatterbot.storage.MongoDatabaseAdapter",
    database_uri = uri,
    logic_a

[2018-06-20 17:19] swiss809 commented on #1328
from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer
from chatterbot.logic import LogicAdapter
from chatterbot.storage import StorageAdapter
from chatterbot.adapters import Adapter
import logging
logging.basicConfig(level=logging.INFO)
bot = ChatBot(
    'Crystal',
    trainer= 'chatterbot.trainers.ChatterbotCorpusTrainer',
    storage_adapters="chatterbot.storage

[2018-06-20 17:22] swiss809 commented on #1328
Theres some bugs im still working out, you will probably find a few things wrong. Iwant to only train this bot once.  Thanks for the help

[2018-06-21 05:43] swathy06 commented on #1331
I have created my own logic adapter,and integrated with flask. Instead of asking the values to user in python terminal,I want to ask in logic adapter to display through flask.Can you please help with this ?

[2018-06-21 06:33] vkosuri commented on #1333
@anhnt6596 Yes, I think it will not possible middle of the process.

[2018-06-21 06:35] vkosuri commented on #1331
@swathy06 Are you looking this kind of implementation?

[code]

[2018-06-21 06:39] vkosuri commented on #1328
@swiss809 Chatterbot training process will be persisted into sqlite database with name sqllite.db in current directory, you could separate training process and learning process for example

[code]

[code]

[2018-06-21 08:22] swathy06 commented on #1331
This is my custom logic adapter,
class MathLogicAdapter1(LogicAdapter):
	def can_process(self, statement):
		words = [ 'ADD']
		if all(x in statement.text.split() for x in words):
			return True
		else:
			return False

	def process(self, statement):

		from chatterbot.conversation import Statement

		user_input = statement.text.lower()

		if 'ADD' not in user_input:
			return 0, Statement('')

[2018-06-21 17:37] swiss809 commented on #1328
I must be missing something, i have the sqlite.db in my directory but i am still not able to ask my bot more than one question per training. i simplified the code but again I want to be able to ask more than one question. EX. i run the program and input "HI".... the bot responds "how are you?" after that the program ends....i want to continue to input again and have the bot to respond again.

from

[2018-06-21 17:45] swiss809 commented on #1328
needed to look at the memory_sql_example.py thats all i was trying to figure out. Thanks for helping tho

[2018-06-21 17:45] #1328 closed

[2018-06-22 02:38] senthilrameshjv opened #1334 "How do I set the trigger request using regex?"
Hello,
I understand Chatterbot uses question and answer type of training , where the response from the bot is based on the request it sends to.

Although that's interesting, how can I make the response generic..

For example, the bot can handle 'Do you know Java'?

But how do I make '* Java *' to match any string with Java in it.. This is something tools like Rivescript is able to.. this is one th

[2018-06-22 07:31] vkosuri commented on #1334
@senthilrameshjv IMO using regular expression in the requests, your will see poor performance getting accurate response.

Instead did you tried different comparison methods available in chattbot https://chatterbot.readthedocs.io/en/stable/comparisons.html

[2018-06-22 07:45] vkosuri commented on #1331
@swathy06 Are you trying to get inputs from flask? You may see this repo https://github.com/chamkank/flask-chatterbot

[2018-06-22 08:42] MARUTHESH commented on #717
I am getting this error
FileNotFoundError: [Errno 2] No such file or directory: 'How are you?'

[2018-06-22 08:44] swathy06 commented on #1331
Yes,flask is working properly.
I want the prompt "enter the number" which is in logic adapter,to be shown in flask server.Presently it is displaying in python terminal.So that user can enter the number.Then take the number which the user has typed to do operation. Is it possible to do so?

[2018-06-25 00:22] danielhdzzz opened #1335 "Capturing chatterbot's logger as a variable"
I enabled logging for my bot. I want to capture the log messages as a variable, something like the following:

[code]

Any hints on how to achieve this would be greatly appreciated!

[2018-06-25 11:49] bhavikapanara opened #1336 "How to store value in sqlite databse and fetch data from it in chatterbot?"
I have a query regarding storage of important attribute. for example when first-time human start to talk with a bot, then bot ask the name of human? so the question is how to store the name in the database so we can use in future.
 for example:
human: hi
bot: hi. what's your name?
human: my name is mark.
bot: nice name mark.
human: can you talk with me.
bot: sure, mark

Please give me suggestions.

[2018-06-26 07:11] senthilrameshjv commented on #1334
Thank you @vkosuri , let me check on that.

[2018-06-26 14:31] ChristinaLai2019 opened #1337 "Error in training chatbot"
Hi When I am trying to train my chatbot using corpuses I found a list of errors reporting and the chatbot is not trained. The error message is shown below:

[code]
My program is as below:

[code]

[2018-06-26 22:33] isaam14 commented on #1006
@gunthercox  What can I do if I don't want the training to be done with preprocessors? (because the preprocessors I use convert uppercase and unicode to lowercase and ascci respectively, but I want the responses to have uppercase and unicode in some cases)
Is there a way to set the preprocessors after the training?

[2018-06-28 14:05] vkosuri commented on #1336
@bhavikapanara I think this conversation will give you some basic idea what you are looking https://github.com/gunthercox/ChatterBot/issues/469#issuecomment-267481465

[2018-07-01 19:23] Mukund0007 opened #1339 "Chatterbot for non-english language like Arabic and Mandarian"
Hi All,
I have a requirement for making a chatbot which supports Arabic and Chinese.
My question is does chatterbot has this capability to understand Chinese and Arabic return required answer?

If not so, is there any way to create our own corpus and train my bot in above language?

Thanks and Regards,
Mukund

[2018-07-01 22:55] vkosuri commented on #1339
Yes absolutely https://github.com/gunthercox/chatterbot-corpus/tree/master/chatterbot_corpus/data/chinese

[2018-07-01 22:57] vkosuri commented on #761
Awesome i loved it

[2018-07-02 04:46] Mukund0007 commented on #1339
Thats good! I have seen but how we can customize it? I am looking for providing location assistance using some map API like google API.
Can we make it voice enabled?
Also how can we do same in Arabic language?

[2018-07-03 09:49] c230269 opened #1340 "How to save chat records in excel at the time of conversation?"

[2018-07-03 09:50] c230269 opened #1341 "how to change database from SQLite to json ?"

[2018-07-03 11:46] vkosuri commented on #1341
This storage removed on https://github.com/gunthercox/ChatterBot/releases/tag/0.8.0,

Ref: https://github.com/gunthercox/ChatterBot/pull/1004

Another workaround is, you may use existing code 0.8.0 as a workaround in you local machine.

[2018-07-03 11:48] vkosuri commented on #1340
If you are using sqlite storage adapter this method might be useful to you http://www.sqlitetutorial.net/sqlite-export-csv/

[2018-07-03 13:13] c230269 opened #1342 "how to save users input in database ?"

[2018-07-03 14:33] vkosuri commented on #1342
@c230269 The Response and Statment will stored into sqlite db, you could found under sqlite.db in your current directory.  More information found here https://chatterbot.readthedocs.io/en/stable/storage/index.html#sql-storage-adapter

[2018-07-05 06:32] mohitatgithub commented on #1128
@chamkank How to install ver. 0.7.4? I am facing this issue in ver 0.8.7 of chatterbot

[2018-07-05 19:18] vkosuri commented on #1128
@mohitatgithub ``pip install --upgrade chatterbot==0.7.4``

[2018-07-06 19:54] isaam14 opened #1343 "Get category (or categories) (of Corpus) from a Statement or a Response"
Hello!
Is there a way to ask for the category of a certain Statement or a certain Response?
Ideally I'm searching for something like a function:
get_category_from_statement(statement)
or
get_category_from_response(response)
and it would return a list of categories (or an empty list if any category matches the given statement/response).

[2018-07-06 23:10] vkosuri commented on #1343
Yes you could by using ``response.category``

[2018-07-08 14:41] Synthacon opened #1344 "No response from ChatterBot after training"
Python version 3.7
System path:
[code]
pip freeze:
[code]

pip install --upgrade chatterbot:
[code]

Code:
[code]

Running the code:
[code]
..and no response, after waiting for a couple minutes  "You: " line appears and if I write something and press enter I get same result.

Pressing ctrl+c:
[code]

I have tested couple Chatterbot code examples and I get same result as with my code.
I'm totally a

[2018-07-10 21:45] isaam14 commented on #1343
@vkosuri  I get this error :
AttributeError: 'Statement' object has no attribute 'category'

[2018-07-11 12:05] senthilrameshjv opened #1345 "Is there a way I can advise the chatterbot about intents and entities?"
Hello All,
I was developing a sample chatbot using ChatterBot and I find this limitation, to which I dont know how do I overcome. I used different comparisions, but come up with similar result.

For example, I ask the bot 'How do I connect to Amazon Web Services'. The bot looks in the training knowledge. There is a response for a question, 'How can I connect to XML web service'. Although per vario

[2018-07-13 15:12] isaam14 opened #1346 "Making a subclass of the ChatBot"
I tried creating a subclass of the chatbot (and two other sub_subclasses after that) but for some reason the response chosen by the LowConfidenceAdapter is 'S' instead of 'Sorry, I didn't understand' and I can't find why this is happening. Any clue of what could be causing this?

[code]
Also the logging info prints this:

INFO:chatterbot.adapters:LowConfidenceAdapter selected "S" as a response wit

[2018-07-13 15:59] isaam14 commented on #1346
Nevermind,
I put ['Sorry, I didn't understand'] instead of 'Sorry, I didn't understand' and it worked.
I guess since there can be many possible default responses and the adapter only takes the first it was using the str as a list and only taking the first letter as the first option.

[2018-07-13 15:59] #1346 closed

[2018-07-14 18:28] coolrb opened #1347 "Issue with parsing.py to extract date time from text like "meeting today at 9pm""
Hello There,
            I have found an issue with parsing.py to extract date time from text. The text entered by user is "Your dental appointment with Dr P. Delvour is scheduled today at 9:00pm." I was expecting to get 2018-07-14 21:00 but the value returned is 2018-07-15 08:52:21.272. I tried to debug it to find out the issue but could  not. Please let me know is there anyway I can fix this iss

[2018-07-19 03:28] XufengXufengXufeng opened #1348 "how to make chatterbot stop learning after training?"
I have trained a bot. At first it answers questions just fine. However, latter when i ask some asked questions, it starts to answer nonsense. I think it is because the bot keep learning through my questions.

I have set the read_only=True, hoping it wouldn't stop learning (I learned this from some post). However, that mode literally means the bot will reponse question back to my question, as read

[2018-07-19 04:09] WildDylan commented on #1348
Hey, I'm chinese, can you talk in chinese?

[code]

this words means ?
you want stop/start learning by some key word?

bot will not learning after set `read_only=True`.

<img width="647" alt="default" src="https://user-images.githubusercontent.com/2519544/42921050-61bf4870-8b4c-11e8-9d43-b941b2ac8824.png">
process flow for ChatterBot.

[2018-07-19 04:09] WildDylan commented on #1348
give some example for what you say?

[2018-07-19 08:07] WildDylan commented on #1348
是的，训练结束之后，全部的数据都会存储到你设置的地方。

[2018-07-19 08:07] #1348 closed

[2018-07-19 08:09] WildDylan commented on #1347
Time Zone ?

[2018-07-19 08:13] coolrb commented on #1347
Let it pick up default timezone i.e. local

[2018-07-19 11:09] ayushecps opened #1349 "Use Chatterbot.py file in my code"
I have made some changes in the Chatterbot.py file but when i deploy to heroku those changes are not getting move there since heroku installs library from google. Please help me how i can use those changes.

Its urgent.

[2018-07-19 11:11] vkosuri commented on #1349
I think you have re train your bot, I think these notes will help you https://github.com/vkosuri/chatterbot-live-example#chatterbot-django-live-example

[2018-07-19 11:44] ayushecps opened #1350 "Store chat in excel file"
Whenever chatbot response is "Hello" I want to capture very next input response from user in an excel file which should automatically get downloaded in the code folder.
eg. User input            : hi
      Chatbot reponse : hello
      User input            : ABC
Now i want to capture only ABC in excel file.

Below is the code i used in chatterbot.py file to store the input this is working fine in

[2018-07-19 13:05] ayushecps commented on #1350
Thanks for the quick reply but my requirement is storing only a particular user response in excel, can you please help me with the above code thats working very fine in local bit deploying to heroku only this particular change is not moving

[2018-07-19 13:08] ayushecps commented on #1349
I have not retrained please see the attached pic where i made changes
![image](https://user-images.githubusercontent.com/31202855/42944298-e45786cc-8b82-11e8-95e1-5681589b8d68.png)

[2018-07-19 14:10] vkosuri commented on #1350
@ayushecps You could read the yml file and input any python converter for example https://github.com/tokland/yaml2csv

[2018-07-20 01:48] mcseml commented on #1271
我的chatterbot训练了9万条记录，回答一次要10秒，很难用的机器。

My chatterbot trained 90, 000 records to answer for 10 seconds at a time，Difficult machine to use.

[2018-07-20 04:50] flyfy commented on #1271
90K knowledge entry? Wow, I think you should make the training set more dedicated and granular into a few subsets, or a few categories and then train each set using a separate trainer, that will make it much faster for the machine to "search" for an optimal match with best accuracy and speed, by the way, how accurate it is when you get the result? Do you think it is a good result to you?

[2018-07-20 10:14] k3s4 opened #1351 "output adapter problem"
Hello,

I'm trying to write some plugin and while I have finished my input adapter I have there some authorization data variables etc and my problem is - how I can access variables from input adapter in output adapter?

I have some globals variables defined in input adapter but is there simple way to access this data in output adapter?

[2018-07-20 11:01] tdaron opened #1352 "Forms in chatterbot"
Hi, I create a robot with your beautiful module but I had a question, if it is already developed, could you make a page for using the forms seen here: https://github.com/gunthercox/ChatterBot/ wiki / Cat-Forms

Because it tempts me

Kaporos

[2018-07-20 11:03] Kaporos commented on #1337
The program does not have the necessary access rights to access the db, try to run it as an administrator

[2018-07-20 12:31] vkosuri commented on #1352
I think still not implemented at, IMHO please create Pull request with your changes.

[2018-07-20 14:38] isaam14 commented on #1343
@vkosuri please help. What can I do about that error? What could be causing it?

[2018-07-20 14:44] k3s4 opened #1353 "input adapter return statement"
Hello,

I have problem with process_input() function. As I have already learned this function should normally return a statement but what if input source is empty at certain time point and I don't what to input anything for chatterbot to process?

I have tried to 'return None' as I have seen in gitter example but it gives me that:
AttributeError: 'NoneType' object has no attribute 'text'

can some

[2018-07-21 19:40] gunthercox opened #1354 "Add link to list of supported language codes for Math Adapter"

[2018-07-21 21:49] vkosuri commented on #1343
@isaam14 which version of chatterbot are you using? try to upgrade your chatterbot if you are using older version ``pip install --upgrade chatterbot``

[2018-07-23 07:33] k3s4 commented on #1351
@vkosuri can u say something more? some examples?

ley't say I have following input adapter:

[code]

How I can see 'bearer' variable in output adapter?

[2018-07-23 14:22] sahanaarya opened #1355 "get_most_frequent_response is not working correctly"
I selected "get_most_frequent_response" as the Response Selection Algorithm and I noticed that it answers the question correctly the first time but returns a greeting every time the question is asked again. Why is this the case?

[2018-07-23 16:37] isaam14 commented on #1343
@vkosuri I have version 0.8.7 (the latest) but it still doesn't work.

[2018-07-23 18:00] isaam14 commented on #1343
And when I try
print(response.tags)
or
print(response.get_tags())
I only get
[]

Do you think the problem has something to do with the fact that my chatbot has read_only = True ?

[2018-07-23 23:11] vkosuri commented on #1355
The [get_most_frequent_response](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/response_selection.py#L8) work on number of trained occurence, if ouccrence count > 0 then you will get that match.

https://github.com/gunthercox/ChatterBot/blob/9f4a4ecac32564f245d721854d2698a07d84b405/chatterbot/response_selection.py#L29

I this option will depend on https://chatterbot.readthedocs.i

[2018-07-24 12:20] kumarkrish85 opened #1356 "Example django app is not working?"
Hi,

I am trying to run the example django app using the below command

`python manage.py runserver 127.0.0.1:8000`

I have got the below error

`django.core.exceptions.ImproperlyConfigured: Passing a 3-tuple to include() is not supported. Pass a 2-tuple containing the list of patterns and app_name, and provide the namespace argument to include() instead.`

I went ahead and removed the include in

[2018-07-24 16:38] hugo-pires opened #1357 "Using ChatterBot with queries"
Hello

Is it possible to parse input sentences in order to find words that could be used in a SQL query, and return a response according to this result?

Thank you

Hugo

[2018-07-24 22:57] vkosuri commented on #1357
IMO This possible in two way one either through preprocesors https://chatterbot.readthedocs.io/en/stable/preprocessors.html or you could write your own logic adapter https://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html

[2018-07-24 23:10] vkosuri commented on #1356
I think it should update like

[code]
could you replace line https://github.com/gunthercox/ChatterBot/blob/master/examples/django_app/example_app/templates/nav.html#L21 with above then restart server?

[2018-07-25 07:15] kumarkrish85 commented on #1356
Thanks @vkosuri for the information. I did change the code and restarted it. When i click on API/ Admin. The below error i am getting it, please help to resolve the issue.

`

Request Method: | GET
-- | --
http://localhost:8082/api/chatterbot/
2.0.7
AttributeError
'WSGIRequest' object has no attribute 'session'

`

[2018-07-25 07:30] vkosuri commented on #1356
I am not sure, I googled it i found this https://stackoverflow.com/questions/39480179/wsgirequest-object-has-no-attribute-session-while-upgrading-from-django-1-3 you may try this

[2018-07-25 09:47] kumarkrish85 commented on #1356
Thanks @vkosuri , I have googled it and applied the same fix. Thanks!! , I hit with this below issue

django.db.utils.OperationalError: no such table:

I have applied the fix mentioned in the [https://stackoverflow.com/questions/34548768/django-no-such-table-exception/36453000](url)

[2018-07-25 09:47] #1356 closed

[2018-07-25 09:50] hugo-pires commented on #1357
Thank you. Is it possible to have some example from the documentation?

[2018-07-26 05:40] vkosuri commented on #1357
Sure, ASAP

[2018-07-27 02:14] tenkeyseven opened #1358 "How to format the result of"

[2018-07-27 02:17] tenkeyseven commented on #1358
I just wanna get a formatted string returned by get_response(), but it seems that the .YAML 's format doesn't make sense.

[2018-07-31 11:22] kumarkrish85 opened #1360 "Retrieve chat history from database"
Thanks to the team for creating this wonderful chatbot. Can you please share your inputs on following queries?

1. In my chatbot, i want to show choices like a/b/c , based on the user inputs it should respond based on the selection.

2. I want to save the chat conversation in database (I have read the documentation) and pull out the chat histroy for analytics?

3. I want to host it inside Apache w

[2018-07-31 11:27] bobland1 opened #1361 "Ubuntu Corpus Taking a week to train...?"
Got a couple of questions
1) My training corpus has taken nearly a week and im not entirely sure why.
2) Does the bot work if i cancel the training
3) What happens if you cancel the training, i cancelled it once to increase the ram / cpu sockets on the VM. does it just carry on from where it left off.. it hasnt added anything to the response section of the response database

[2018-07-31 11:59] vkosuri commented on #1361
1. Yes, it was documented here https://chatterbot.readthedocs.io/en/stable/training.html#training-with-the-ubuntu-dialog-corpus
2.  Yes, with trained data, check sqlite.db file in your worksapce.
3. No

[2018-08-01 09:11] kumarkrish85 commented on #1360
Hi @vkosuri any inputs?

[2018-08-01 10:02] bobland1 commented on #1361
It hasnt added anything to the database since the 24th but is still showing the training screen

[2018-08-01 12:33] vkosuri commented on #1361
I tink first it will download ubuntu corpus, then it will start training process, did you verified the ubuntu corpus downloaded from 'http://cs.mcgill.ca/~jpineau/datasets/ubuntu-corpus-1.0/ubuntu_dialogs.tgz'

[2018-08-01 12:39] vkosuri commented on #1360
I don't understand what you are looking exactly. could you please elaborate.

By looking points those things are doable using chatterbot.

1. Feedback example will guide you how to do this https://github.com/gunthercox/ChatterBot/blob/master/examples/learning_feedback_example.py
2. chatterbot default storage is sqllite https://chatterbot.readthedocs.io/en/stable/storage/index.html#sql-storage-adap

[2018-08-01 13:29] bobland1 commented on #1361
Yes, dont worry. im just going to start from fresh. How would i add my own training class, id like to train by bot of this https://github.com/hellohaptik/conversation_data

[2018-08-02 06:54] kumarkrish85 commented on #1360
Thanks @vkosuri . I want to retrieve the chat conversations between bot and user, with that we can identify which are most asked.

[2018-08-02 17:01] xmen1412 opened #1362 "What kind of Machine Learning's Algorithn ChatterBot use?"
Hi,

I was wondering what kind of algorithm you guys use for train a dataset to create chatbot?.

[2018-08-03 09:29] vkosuri commented on #1362
https://chatterbot.readthedocs.io/en/stable/faq.html#what-kinds-of-machine-learning-does-chatterbot-use

[2018-08-03 10:08] nishant260190 opened #1363 "Response too slow."
Hi,

First of all thanks for this wonderful work.

I have tried it with sqlitedb but it was too slow that's why I shifted to mongodb. Initially it is good but Now I am having only 14500 statements and it is giving response after 4-5 seconds. How can I make response more faster. is there any way ?
[code]
If I am not wrong it is matching each input statement with all existing statements in loop that

[2018-08-03 15:37] ChristinaLai2019 commented on #1337
Thanks I solved it now. And can I ask one more questions? How can we retrain the chatterbot when we get a new corpus, without having to train the entire corpus we had all over again? I just want to train the new corpus on my chatterbot that is already trained with my old corpuses.

[2018-08-03 15:45] ChristinaLai2019 opened #1364 "Training the chatterbot (repeated addition)"
Hey guys. I am wondering if there is a way that I can train my chatterbot without having to train the old ones when I get some new corpuses. It will save me a lot of time if I only need to train the new one and my chatterbot is not losing the old trained-corpuses memory.

[2018-08-03 16:05] bobland1 commented on #1363
use       "statement_comparison_function": "chatterbot.comparisons.levenshtein_distance"

[2018-08-03 16:06] bobland1 commented on #1363
but do pip install python-levenshtein

[2018-08-06 03:24] vkosuri commented on #1364
I think it will possible, using some workarounds.

The default storage adapter for chatterbot is sqllite https://chatterbot.readthedocs.io/en/stable/storage/index.html#sql-storage-adapter, it will be saved ``sqlite.db`` file in your workspace.

I would suggest place new data in newfile, train only those files. For example

[code]

[code]

[2018-08-06 03:26] vkosuri commented on #1337
See this issue https://github.com/gunthercox/ChatterBot/issues/1364#issuecomment-410578498

[2018-08-06 03:26] #1337 closed

[2018-08-06 06:50] nishant260190 commented on #1363
Thanks @bobland1 : But still response is taking 4-5 seconds in reply. Is there any other way to speed it up?

[2018-08-06 10:26] abhijit2813 opened #1365 "Hello Train bot by a clickable link"
I want to train bot by using a clickable link?
How to add clickable link to yml file?
Thanks in advance

[2018-08-06 12:10] #1361 closed

[2018-08-06 12:19] bobland1 opened #1366 "Unable to add to conversation"
![image](https://user-images.githubusercontent.com/25375432/43715993-549be784-997a-11e8-9e99-81b2e9611a44.png)
Here i just write to file from my node.js file as i am unable to transfer variables inbetween node and python. When i go to add to conversation  it errors with this
![image](https://user-images.githubusercontent.com/25375432/43716232-51810e16-997b-11e8-90c9-fc96c32a146d.png)
Any help on w

[2018-08-06 12:41] vkosuri commented on #1366
I think you were getting statement text not an object, try ``text=statement`` instead ``text=statement.txt``

I am not sure what happening, the return type of ``get_response`` is ``Statmenet object``
https://github.com/gunthercox/ChatterBot/blob/9f4a4ecac32564f245d721854d2698a07d84b405/chatterbot/chatterbot.py#L97

[2018-08-07 13:09] bobland1 commented on #1366
Tried that, seems to be same error. I think its because i havnt created a new conversation. But only way which that would work is by using the command and it makes a record of 1, 2,3 etc. Is there a way i can create a new conversation but with a set ID for instance 1000323232

[2018-08-08 11:39] getnsv opened #1367 "Getting unicode error while running test_chatbot.py"
Hi there,

Am getting the following error when I run the test_chatbot.py. Please cna you help. And also while testing with the emoji icon etc.
[code]

[2018-08-08 12:03] getnsv opened #1368 "0.4.2 to 0.8.7 migration question"
Hi there,

Which would be the equivalent of closest_meaning logic adapter in 0.4.2 in 0.8.7 version?
So also which would be the equivalent for base_match logic adapter in 0.4.2 in 0.8.7 version?

Thanks much in advance.

regards,
Sreevani

[2018-08-08 16:48] vkosuri commented on #1368
I am unable to recollect exactly what happen. This might gives an idea how many release were happen between 0.4 to 0.8 https://github.com/gunthercox/ChatterBot/releases

[2018-08-08 16:51] vkosuri commented on #1367
@getnsv did you tried these methods https://chatterbot.readthedocs.io/en/stable/encoding.html#how-do-i-fix-python-encoding-errors

[2018-08-09 16:18] bobland1 commented on #1366
@vkosuri

[2018-08-10 05:08] Cosmos19 commented on #1358
Hi,
Am using Chatterbot 0.6.1 version. It depends on chatterbot_corpus JSON file support. In the JSON file you can format the response instead of Plain Text. You can use whatever the HTML format you like.

I have now incorporated images,mailto,links and videos.

[2018-08-10 05:34] vkosuri commented on #1366
did you tried create_conversation() https://chatterbot.readthedocs.io/en/stable/storage/index.html?highlight=create_conversation#chatterbot.storage.SQLStorageAdapter.create_conversation

see an example test how it doing https://github.com/gunthercox/ChatterBot/blob/2ff9a2c5b12c4597ccd630db388b05b9208d28ba/tests/test_context.py#L19

[2018-08-10 10:40] kumarkrish85 commented on #1360
Hi @vkosuri , I want to host it in open source web server like Apache. The one you suggested Heroku involve pricing. Please suggest open source project can host the django or WSGI?

[2018-08-10 12:41] bobland1 commented on #1366
@vkosuri I know this, but how do i create a conversation instead of having the id of 1,2,3 having an id of what ever. for example 1000323232

[2018-08-12 11:36] CallumHemsley commented on #1232
@sebscholl I'm curious if you got any further with this? Thinking of doing something similar.

[2018-08-13 06:55] xmen1412 opened #1370 "how to display accuracy of training and testing data"
i have done to train and test my model with chatterbot. but, i want evaluate performance as well as accuracy of my model. is there any method to calculate and show performance's result?

[2018-08-13 07:30] vkosuri commented on #1370
There are some benchmark tests are there, these might help you https://github.com/gunthercox/ChatterBot/blob/master/tests/test_benchmarks.py

[2018-08-14 08:16] CallumHemsley opened #1371 "Training bots seperately."
Is there any way to have, say two bots, one for English and one for Chinese, that are can be trained separately?
This would improve response time I believe. One solution I can see is creating two databases for each bot so they don't overlap. I'm curious if there is a better way in which I can use only the one database?
For example, is there some way to split the tables WITHIN the SAME database, so

[2018-08-14 14:46] vkosuri commented on #1371
I think this feature not yet implemented or not supported by framework.

[2018-08-14 14:59] CallumHemsley commented on #1371
@vkosuri I see, thanks.

[2018-08-16 07:10] xmen1412 commented on #1370
is there any documentation for 'test_benchmarks.py' i do not understand how to use it?

[2018-08-16 09:10] Wybxc commented on #1126
I met the same problem.
I am Chinese and I use my own [corpus](https://github.com/Wybxc/chinese-corpus). But when I call `get_response` the second time, I get an `IndexError`.
[code]
I do not use other corpus.
And by disabling MongoDB it works well, but in that case it is too slow.
The problem only occurs on my new computer, which is Windows 10 x64. It works well on Windows 7 x86.

[2018-08-16 11:03] vltabacaru opened #1373 "u'chatterbot' is not a registered namespace"
I am running the Django app by executing `python manage.py runserver localhost:8000`
and receiving this error:

[code]

Adding `url(r'^chatterbot/', include('chatterbot.ext.django_chatterbot.urls', namespace='chatterbot'),` to urls.py gives me this error:

[code]
Please help.

[2018-08-16 14:11] vltabacaru commented on #1373
I found the error. To make it work, I changed `example_app/urls.py` to:
[code]
and in `example_app/templates/app.html` changed
`      var chatterbotUrl = '{% url "chatterbot" %}';`
with
`      var chatterbotUrl = "{% url 'chatterbot:chatterbot' %}";`

[2018-08-19 15:12] krishnakumarmoorthy commented on #146
check the spelling once again.it is "ChatBot" not Chatbot.Hope it works fine

[2018-08-19 15:15] bobland1 commented on #1366
@vkosuri I know this, but how do i create a conversation instead of having the id of 1,2,3 having an id of what ever. for example 1000323232

[2018-08-20 04:52] fabhari opened #1374 "where will be the trained conversation stored.in which file ?in chatterbot"

[2018-08-20 04:53] fabhari commented on #1374
where will be the trained conversation of a chatter bot be stored .in which file

[2018-08-21 05:32] mravunni commented on #1263
is this issue fixed?

[2018-08-21 05:41] vkosuri commented on #1263
@mravunni I think this issue not at fixed

[2018-08-21 06:39] RishikeshTeke commented on #1373
I am getting same error `'chatterbot' is not a registered namespace`. I am new to django framework. Tried above workaround but not able to solve it.

[2018-08-21 06:56] datasciraj commented on #1263
It is fixed in latest code. Take the latest example from github

On Tue, Aug 21, 2018 at 11:11 AM Mallikarjunarao Kosuri <
notifications@github.com> wrote:

--
*Regards - Raj*

[2018-08-21 06:56] datasciraj commented on #1263
This issue is fixed, i have checked the latest code of example i am getting default response from bot in django.

[2018-08-21 10:23] dsbyprateekg opened #1375 "The working example of Django integration is showing same response for every input?"
Hi,

I have copied the following example and imported in Pycharm-
[https://github.com/gunthercox/ChatterBot/tree/master/examples/django_app](url)

After training and running the project I am able to see the chatbot window but when I ask any question to it it responses the same answer which it learned from first input like in below screen shot-
![q](https://user-images.githubusercontent.com/3083054

[2018-08-21 22:15] silverstar194 commented on #1140
I found a workaround by taking a sample  from database.

In mongodb.py line 368 change line to:
[code]

[2018-08-21 22:16] silverstar194 commented on #1206
I found a workaround by taking a sample from database.

In mongodb.py line 368 change line to:

response_query = self.statements.aggregate([{ "$sample": { "size": 200000 }}, {'$group': {'_id': '$in_response_to.text'}} ], allowDiskUse=True)

This ensure doc. is always under 16mb

[2018-08-22 06:29] vkosuri commented on #1373
@RishikeshTeke Did you added ``chatterbot`` in installed_apps https://chatterbot.readthedocs.io/en/stable/django/index.html#installed-apps

[2018-08-22 06:29] vkosuri commented on #1263
@datasciraj Thank you

[2018-08-22 10:04] RishikeshTeke commented on #1373
Yes it is included inside `settings.py` file

[2018-08-22 12:54] ashumeena2802 opened #1376 "Doubt"
Can i use this in an android chat app as a chatbot and it works like a user ??

[2018-08-23 06:01] mravunni commented on #1263
@dataciraj can you let me know the django version you are using?

[2018-08-23 09:00] datasciraj commented on #1263
I have used it with django 1.8

[2018-08-24 07:05] pritibaheticompumatrice opened #1377 "statement_comparison_function= 'chatterbot.comparisons.synset_distance' not working."
I am trying to implement chatterbot.comparisons.SynsetDistance class. I want to get the response even if the user statement contains a word which is the synonym of the statement present in the training corpus.
But instead it returns the default response.

[2018-08-24 16:06] MikeTheWatchGuy opened #1378 "GUI for progress bars and user interaction"
Has a GUI been something discussed?   If so I just completed writing a front-end for ChatterBot.

It replaces the text progress meters with graphical ones:
![chatterbot progress meter](https://user-images.githubusercontent.com/13696193/44594902-703fdf80-a795-11e8-883d-91377f330ad7.jpg)

It also has a classic "chat window" for interacting.
![chatterbot chat window 2](https://user-images.githubuserc

[2018-08-25 03:46] MikeTheWatchGuy commented on #1378
OK, hearing on objections, I'll go ahead and point you to the front-end code...[ This link ](https://github.com/MikeTheWatchGuy/PySimpleGUI/blob/master/Demo_Chatterbot.py)will get your the Chatterbot GUI Demo code.  Place [the code for the PySimpleGUI package](https://github.com/MikeTheWatchGuy/PySimpleGUI/blob/master/PySimpleGUI.py) in the same folder.  This version has not been uploaded toe PyPI

[2018-08-25 20:19] r4nx opened #1379 "MySQL storage adapter error"
I am using pymysql, my database_uri looks like this: `mysql+pymysql://root@localhost:3306/eternityapi`
Tables create successfully, but when I learning the bot I am getting an error: `sqlalchemy.orm.exc.FlushError: Can't flush None value found in collection Conversation.statements` (full traceback below). The interesting thing: when I learn bot the same statement again - there is no error.

    Tra

[2018-08-26 04:35] jayeshsk opened #1380 "ImportError: cannot import name 'ChatBot'"
@gunthercox
Everytime I'm running this code it is showing me this error..
ImportError: cannot import name 'ChatBot'

here's the code..

[2018-08-26 11:52] jayeshsk commented on #1380
I have tried the above program both in VS code and pycharm.
for pycharm the error is:
`**ImportError: cannot import name 'ChatBot'**`

for VS code the error is:

please help me with this....
`

[2018-08-26 12:47] gunthercox commented on #1380
@jayeshsk is it possible that you created a file named `chatterbot.py`? If this is the case, imports `from chatterbot` will fail.

[2018-08-27 05:20] lohitk27 opened #1381 "List Trainer: [ ] 0%Traceback (most recent call last):"
whiel I'm running python chatbot_train.py  getting error

List Trainer: [                    ] 0%Traceback (most recent call last):
  File "chatbot_train.py", line 18, in <module>
    setup()
  File "chatbot_train.py", line 14, in setup
    chatbot.train(convData)
  File "C:\Python27\lib\site-packages\chatterbot\trainers.py", line 110, in trai
n
    statement = self.get_or_create(text)
  File "C:\

[2018-08-27 05:42] lohitk27 commented on #1381
@gunthercox  kindly help me out with above error

[2018-08-27 06:57] lohitk27 commented on #1381
@tentamen @gunthercox @dineshjoshy

while I'm running python chatbot_train.py getting error

List Trainer: [ ] 0%Traceback (most recent call last):
File "chatbot_train.py", line 18, in
setup()
File "chatbot_train.py", line 14, in setup
chatbot.train(convData)
File "C:\Python27\lib\site-packages\chatterbot\trainers.py", line 110, in trai
n
statement = self.get_or_create(text)
File "C:\Python27\lib\

[2018-08-27 16:10] gunthercox commented on #1380
Change `ListTrainers` to `ListTrainer`.

[2018-08-27 16:12] gunthercox commented on #1381
The error you are encountering is because ChatterBot no longer supports Python 2.7. Upgrading to Python 3 is required.

[2018-08-27 16:34] jayeshsk commented on #1380
@gunthercox
now it is again showing the same error

![pycharm64_2018-08-27_22-01-10](https://user-images.githubusercontent.com/35068681/44672109-0ea59c80-aa45-11e8-808b-a9b5a2c32c2c.png)

[2018-08-28 00:41] gunthercox commented on #1380
In that screenshot, you have a `chatterbot.py` file. That is the cause of the import error you are seeing.

[2018-08-28 06:14] kumarkrish85 commented on #1375
Hi @dcs8

I hope you run the "python manage.py train" command before running the Django example. share the settings.py file here.

[2018-08-28 06:43] kumarkrish85 commented on #1375
Hi @dcs8

Try changing the order of adapters used in settings.py , use best match adapter followed by other adapters.

[2018-08-28 06:58] dcs8 commented on #1375
@kumarkrish85 previously I used the settings exact same as in given example where no any adapter was used. There also I am getting the same.
Have you run the same example in your machine?

[2018-08-28 07:53] kumarkrish85 commented on #1375
@dcs8 yes , it worked fine for me. Please try following workarounds.

- Delete  the .db file and train again

- Create the command line chat bot with the same adapters and execute , and then port it to Django

[2018-08-28 08:18] dcs8 commented on #1375
@kumarkrish85 .db file you mean db.sqlite3 file?

[2018-08-28 09:24] vaibsshukla opened #1382 "Could not able to create database in mongo"
from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer
from pymongo import MongoClient
import logging
logging.basicConfig(level=logging.INFO)

chatbot = ChatBot(
    "Terminal",
    database_uri='mongodb://localhost:27017/chatterbot_test_database',
    storage_adapter='chatterbot.storage.MongoDatabaseAdapter',
    logic_adapters=[
        "chatterbot.logic.BestMatch

[2018-08-28 09:29] kumarkrish85 commented on #1375
@dcs8 yesm firstly try executing it from command line and see the desired output and then later port it to Django

[2018-08-28 10:08] kumarkrish85 commented on #1358
@Cosmos19 Can you please share us the examples ? In my chatbot i need to respond it with images

[2018-08-28 10:28] geeekyvaibhavatgithub opened #1383 "Where data is stored after training the bot."
I have trained the Bot using chatterbot.corpus.english. May I know where this data is stored because it is not creating any sqlite3 file, nor any MongoDB. can you please let me know.

from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer
from pymongo import MongoClient

import logging
logging.basicConfig(level=logging.INFO)

chatbot = ChatBot(
    "Terminal",
    d

[2018-08-28 12:34] jayeshsk commented on #1380
@gunthercox
the errors now say they can't access the file...
and sometimes it say can't import listtrainer...
there is lot of confusion.
can we have a teamviewer session,please?

[2018-08-28 12:44] jayeshsk commented on #1380
@gunthercox

![pycharm64_2018-08-28_18-12-02](https://user-images.githubusercontent.com/35068681/44723598-140af180-aaee-11e8-9408-6e3f2a6e7e6f.png)
![explorer_2018-08-28_18-12-28](https://user-images.githubusercontent.com/35068681/44723596-13725b00-aaee-11e8-8a06-44e0d1a1957e.png)

now it is saying files don't exist....

[2018-08-28 22:44] MikeTheWatchGuy commented on #1378
OK, I just added info about PySimpleGUI in the Wiki on the page that asks for projects that use Chatterbot.

I really hope someone that is 'in charge' is OK with both this issues being opened and the Wiki edit. Please let me know if these are bad things!

[2018-08-28 22:54] gunthercox commented on #1378
You're all welcome to edit the wiki, I highly encourage it in fact

[2018-08-30 06:16] BlogBlocks opened #1384 "Changing Places"
Is there a simple way to 'change places' with your bot ? In other words swap 'text' with 'statement_text' and talk to it in reverse.

[2018-08-31 11:44] vkosuri commented on #1383
sqllite.db file under your workspace.

[2018-09-03 04:46] vkosuri commented on #1382
from you code looks everything ok to me, could you post the stack trace of the error you got?

[2018-09-03 04:50] vkosuri commented on #1376
I think this might help you https://stackoverflow.com/a/16734723 for further steps?

[2018-09-03 05:37] geeekyvaibhavatgithub commented on #1382
1.This program is not throwing any error. this code simply get executed but does not create any database.
2. As far as virtual environment is concerned.
    i just created environment using: virtualenv cbtenv.

virtualenv cbtenv
New python executable in /home/vaibhav/cbtenv/bin/python
Installing setuptools, pip, wheel...done.

[2018-09-03 05:37] #1383 closed

[2018-09-03 13:21] BB23-ZA opened #1385 "Closes automatically after sending 1 response"
Hi,

I have trained by bot and created my own terminal.

The problem is every time I try and interact it closes the session after the first response to me.

Bryan

[2018-09-04 15:08] pengoox commented on #1374
You have to specify where you want to store it. after training your chat bot, you have to:

`chatbot.trainer.export_for_training('./export.yml')`

[2018-09-05 10:40] fabhari commented on #1374
on what basis it select the appropriate answer for the quetion form db..what dose the whole algorithm about?

[2018-09-06 06:16] vkosuri commented on #1374
Chatterbot uses [logic adapters](https://chatterbot.readthedocs.io/en/stable/logic/index.html ) for how ChatterBot selects a response to a given input statement.

Chatterbot default adapter is [Multilogic adapter](https://chatterbot.readthedocs.io/en/stable/logic/multi-logic-adapter.html)

Next, it starts to compare with each statement to find the exact match using [comparison methods](https://cha

[2018-09-06 15:15] elcolie opened #1386 "LookupError: App 'tbots' doesn't have a 'Conversation' model."
This error happens in `master` and `0.8.7`
django==2.1.1

[code]

I have no idea why `Django` couldn't figure out where the model is.

As a proof this is the in side the container. The table has been created.
[code]

However, when check with `showmigrations` it does not!
[code]

How to fix this?

[2018-09-06 17:59] elcolie opened #1387 "LookupError: App 'tbots' doesn't have a 'Statement' model."
I am trying to run `python manage.py train`

[code]

Any help would be appreciated

[2018-09-07 09:26] elcolie commented on #1357
Any update on this?

[2018-09-07 09:31] HJStella opened #1388 "Specification of Chatter Bot"
Hi, I am planning to try Chatter Bot code for sentence recognition. Before starting this, I want to know the spec.

Therefore, what is the minimum/recommended specifications of CPU/RAM for using "Chatter Bot". And how can I verify it?

Thank you for reading my question :)

[2018-09-12 20:11] fade2black opened #1390 "How to use intents and entities"
Intents and entities are common concepts in NLP. For example, IBM Watson allows to create intents and entities, and use them in dialogs. How can we use intents and entities in ChatterBot?

[2018-09-13 13:34] faraazc opened #1399 "Request for new API under Storage class to list all conversations for a specific conversation id"
Hi,

I am looking for a new API under Storage class to list all conversations for a specific conversation id.

I am not if that already exists. If not it will be helpful to have something like as shown below

bot.storage.get_conversations(conversation_id),. where bot is an bot of a chatterbot class

Thanks

[2018-09-13 22:49] gunthercox commented on #1399
Hi @faraazc, development of a feature similar to this is planned. It will allow filtering to be done based on a named conversation, for example:

[code]

I hope this is close enough to your use-case to be useful?

[2018-09-13 22:52] gunthercox commented on #1380
Based on the error message, it looks like the path you've build isn't a valid file path to those yaml files. I think you are missing a trailing slash `/` in the initial string.

[2018-09-13 23:35] fade2black commented on #1390
@pylobot Please look [here](https://medium.com/@brijrajsingh/chat-bots-designing-intents-and-entities-for-your-nlp-models-35c385b7730d).
I guess the ChatterBot does not provide an out-of-box method to incorporate intents and entities like, for example, Watson Assistant or RASA does. It seems this project is abandoned.

[2018-09-14 03:55] faraazc commented on #1399
conversation='<string>' is a conversation id right?.

and if the statement_for_conversation = bot.storage.filter(conversation='<string>' call returns me a list of statements under a particular conversation id, then solves my requirement.

Thanks for quick response.

[2018-09-14 06:46] faraazc commented on #1218
+1

@gunthercox I observing the same issue. The response time is increasing as the statement sets grow and also the length of the statement text increases.

The bot is really good. But do you have any suggestion or best practices for performance gains, mainly in improving in response time?

[2018-09-14 21:41] gunthercox commented on #1399
`conversation` will be a string. With the new changes, each statement will have an `conversation` attribute to label the conversation that it is a part of. The conversation string can be anything though, including an id.

[2018-09-15 14:10] gunthercox commented on #1126
I'm going to close this ticket off for now, the version of the `get_latest_response` has been moved to the `ChatBot` class as a part of the changes made in #1391. This should no longer be an issue.

[2018-09-15 14:10] #1126 closed

[2018-09-15 14:43] #1190 closed

[2018-09-15 20:52] gunthercox commented on #593
@thedp It's been a while, but I just introduced a change that will be available in the next version of ChatterBot which will inadvertently correct this issue. The `extra_data` attribute on statements has been removed in favor of a `tags` attribute. Additional testing has been done to ensure that tags perform as expected.

I'm going to close this ticket off for now, but feel free to create a new on

[2018-09-15 20:52] #593 closed

[2018-09-15 20:54] gunthercox commented on #261
I've removed the index from the Mongo DB storage adapter. This error should no longer occur as a result.

[2018-09-15 20:54] #261 closed

[2018-09-15 21:05] gunthercox commented on #605
This has been completed, sort of. ChatterBot no longer has sessions, those have been replaced with "conversations". `conversation` is a string attribute on statements that can be used to indicate the conversation that the statement was a part of.

I'm going to close this ticket off for now, feel free to open a new one if any questions related to conversations come up.

[2018-09-15 21:05] #605 closed

[2018-09-15 21:12] gunthercox commented on #865
Removed as a part of #1391

[2018-09-15 21:12] #865 closed

[2018-09-15 21:13] gunthercox commented on #904
The `extra_data` attribute has been removed as a part of #1402

[2018-09-15 21:17] gunthercox commented on #943
This should be fixed now that #1391 has resulted in the removal of the `Conversation` model.

[2018-09-15 21:17] #943 closed

[2018-09-15 21:27] gunthercox commented on #1187
This is not needed at the current time. I'm going to close this ticket off.

[2018-09-15 21:27] #1187 closed

[2018-09-15 21:43] #1246 closed

[2018-09-15 21:49] gunthercox commented on #1275
@ajwsert Sorry about these issues that you ran into. I'm working to make changes that will remove the concept of a conversation_id entirely. The next version of ChatterBot will use a `conversation` label (an attribute of each statement) to indicate the conversation that each statement is a part of. This eliminates the need to create new conversations while still making it possible to differentiate

[2018-09-15 21:49] #1275 closed

[2018-09-15 21:51] gunthercox commented on #1307
@AxelAli I'm sorry for not responding until now. Recent changes to ChatterBot have removed the `remove_response` method. The project is now using a single `Statement` model to store all information related to a statement. I'm going to close this ticket off but feel free to open a new one if you have any questions about the new design.

[2018-09-15 21:51] #1307 closed

[2018-09-15 21:59] gunthercox commented on #1316
I'm going to close this ticket off. I don't think I can solve it in a simple way.

For anyone who runs into this error, the following is the best advice I can provide at this time: ChatterBot does non include database migrations between SQL Alchemy versions. Before upgrading, be sure to back up your database and check ChatterBot's release notes to determine if new columns need to be created manual

[2018-09-15 21:59] #1316 closed

[2018-09-15 22:02] gunthercox commented on #1323
@krishnaraj1993 Sorry for my lack of response until now. It doesn't look like anything related to ChatterBot was included in what you posted. I'm going to close this ticket off.

[2018-09-15 22:02] #1323 closed

[2018-09-15 22:04] gunthercox commented on #1331
@swathy06 Yes, that is possible. I'm going to close this ticket off since it's been a while and a number of changes have been made to ChatterBot. Feel free to open a new ticket if you have any further questions.

[2018-09-15 22:04] #1331 closed

[2018-09-15 22:11] #1340 closed

[2018-09-15 22:12] #1341 closed

[2018-09-15 22:13] #1350 closed

[2018-09-15 22:14] #1335 closed

[2018-09-15 22:15] #1336 closed

[2018-09-15 22:20] pylobot opened #1403 "Chat bot taking long time to respond"
I trained one of my chat bots with roughly 5 TB of training data, now my chat bot is taking a while to return a response. I don't understand why this would happen.

[2018-09-15 22:25] #1360 closed, assigned to nobody

[2018-09-15 22:27] gunthercox commented on #1358
@tenkeyseven the `get_response` method returns a `Statement` object that has a `.text` (string) attribute. Based on what you've posted I can't tell if that's what you're looking for, but hopefully this helps.

[2018-09-15 22:35] gunthercox commented on #1294
@vpena Apologies for this, I believe the issue has been corrected (part of the changes in #1391) and the fix will be available in the next major release of ChatterBot.

[2018-09-15 22:35] #1294 closed

[2018-09-15 22:36] #1342 closed

[2018-09-15 22:50] #1334 closed

[2018-09-15 22:50] #1333 closed

[2018-09-15 22:51] #1306 closed

[2018-09-15 23:35] gunthercox commented on #1351
@k3s4 depending on the authentication workflow you are following, you will likely need to cache the bearer token for your application. This can be done on a database, or other level depending on the level of security you require. Beyond that, I'm not certain there is any further advice that can be given at this time.

[2018-09-15 23:35] #1351 closed

[2018-09-16 01:05] #1315 closed

[2018-09-16 01:05] #1324 closed

[2018-09-16 01:11] gunthercox commented on #1271
As of ChatterBot version 0.8.x, 90,000 records will not allow a response to be returned in optimal time.

[2018-09-16 01:11] #1271 closed

[2018-09-16 01:12] #1313 closed

[2018-09-16 01:30] gunthercox commented on #1349
@ayushecps It looks like you may have modified code in the `site-packages` directory where Python installs packages. This is not typically where developers edit the code that they are working on.

I'm going to defer to this Stack Overflow answer that describes how to "vendor" a Python package:
https://stackoverflow.com/a/18812776/1547223

[2018-09-16 01:30] #1349 closed

[2018-09-16 01:35] gunthercox commented on #1329
This page in the documentation describe the types of algorithms that are used in ChatterBot: https://chatterbot.readthedocs.io/en/stable/faq.html#what-kinds-of-machine-learning-does-chatterbot-use

The confidence scores are determined based on definitions that are specific to each logic adapter but in general, the confidence (which is the expected accuracy of the response) is based on a calculated

[2018-09-16 01:35] #1329 closed

[2018-09-16 01:37] #1255 closed

[2018-09-16 01:38] #1249 closed

[2018-09-16 01:39] #1247 closed

[2018-09-16 01:43] #1384 closed

[2018-09-16 01:44] #1368 closed

[2018-09-16 01:47] gunthercox commented on #1339
@Mukund0007 I can't speak for the Google API, but I'm sure they support a variety of languages.

ChatterBot can be voice-enabled in a number of ways, depending on how you plan you build your application. For example, many browsers support built-in speech-to-text that can be sent to your ChatBot via a web request.

[2018-09-16 01:47] #1339 closed

[2018-09-16 01:48] gunthercox commented on #1368
@getnsv I'm closing this ticket for now. Feel free to reopen if if the suggested solutions didn't work or you require further assistance.

[2018-09-16 01:51] gunthercox commented on #1129
@indiclinguist I'm going to close this ticket off. It appears that the code that was triggering this error has since been removed from the ChatterBot project. Feel free to open a new issue if difficulties persist.

[2018-09-16 01:51] #1129 closed

[2018-09-16 01:57] gunthercox commented on #1151
@pylobot This is a good suggestion. I'm going to close this off for now but I think this may be worth revisiting in the future if more complex traversal is required.

[2018-09-16 01:57] #1151 closed

[2018-09-16 01:58] #1380 closed

[2018-09-16 01:59] #1378 closed

[2018-09-16 02:02] MikeTheWatchGuy commented on #1378
I hope someone finds this GUI a help :-)  I appreciate the time you left this issue open so that people discovered it!  Congrats on your successful project.

[2018-09-16 02:03] gunthercox commented on #1379
@r4nx Thank you for reporting this issue. I've decided to remove the Conversation model from ChatterBot to simplify the data representations that it uses (#1391). This bug should be resolved as of the next version that gets released. Please let me know if you have any questions.

[2018-09-16 02:03] #1379 closed

[2018-09-16 02:05] #1321 closed

[2018-09-16 02:06] #1217 closed

[2018-09-16 02:13] gunthercox commented on #1231
The `LowConfidenceAdapter` can be tuned using the `threshold` parameter that it accepts. You could set the threshold of the `LowConfidenceAdapter` to a lower value, 0.5 for example to help more accurately confident adapters overtake it.

[2018-09-16 02:13] #1231 closed

[2018-09-16 02:14] #1254 closed

[2018-09-16 02:29] gunthercox commented on #1347
This appears to be different, but likely related to #651

[2018-09-16 19:34] #1269 closed

[2018-09-16 20:12] gunthercox commented on #1388
Hi @HJStella I've developed ChatterBot on a system that has a quad-core (i7) processor and 16 GB of memory. Systems with less available resources should be able to run it as well, but I don't currently have a way to provide any benchmarks that could be used to determine the minimum system requirements.

[2018-09-17 00:33] vkosuri commented on #1403
My suggestion would be, try to enable logging with the timestamp, you could understand what is happening inside

[2018-09-17 21:23] tkocher621 opened #1407 "Chatbot isn't saving database"
I'm using version 0.7.1 to prevent some sort of error that i was getting with any version before that. I used this version before and didn't have any issues, but now all of a sudden the bot just wont create the database. He will learn, but once the bot closes he will not save anything.

[2018-09-17 21:52] #1407 closed

[2018-09-17 21:52] tkocher621 commented on #1407
I switched from 0.7.1 to 0.7.4 and it fixed itself.

[2018-09-18 07:09] RishiTeke opened #1408 "How to create custom webAPis using django chatterbot"
I am using example_app on django-chatterbot integration. If i want to create custom rule based API that uses chatterbot also how can i do it? I tried creating functions inside ChatterBotApiView class but it not accessible. I am new to django, any help appreciated. Thanks

[2018-09-18 07:15] RishiTeke commented on #1373
I have solved problem by replacing  `var chatterbotUrl = '{% url "chatterbot" %}';` by `var chatterbotUrl = '{% url "chatterbot:chatterbot" %}';`  on line 46 in template/app.html

[2018-09-18 09:21] sherry0429 opened #1409 "What machine learning algorithm is used in this project?"
first thanks of this wonderful work,

I read all in readme, it's say this project use machine learning to make bot have more real response,

would you tell me how this machine learning work? like make a simple example or used algorithm name. so i can make a greater train data.

thanks.

[2018-09-18 09:23] #1409 closed, assigned to nobody

[2018-09-19 02:32] elcolie commented on #1387
@pylobot It is equivalent to `example_app` from [this](https://github.com/gunthercox/ChatterBot/blob/master/examples/django_app/example_app/settings.py)

[2018-09-19 08:25] KevinChen1994 opened #1410 "What is the usage scenario of chatterbot?"
First of all ,thanks for your work!
I'm thinking about does Chatterbot can be a Specific field chat bot ?  I have almost 3GB data , I try to train them in Chatterbot with MongoDB , but the speed is too slow . Then I use 100MB data to train , when it finished training. the response is too slow , maybe it takes 2 hours to response an answer .
So does Chatterbot only can be used in a small amount of

[2018-09-19 10:40] vkosuri commented on #1410
Thank you, I think this is known issue, Hope this will be improved with the latest upcoming build.

[2018-09-19 10:44] KevinChen1994 commented on #1410
@vkosuri  So you mean Chatterbot can't deal with 3 million data?

[2018-09-19 11:25] #1410 closed, assigned to nobody

[2018-09-19 23:52] #1376 closed

[2018-09-19 23:53] #1374 closed

[2018-09-19 23:57] #1385 closed

[2018-09-19 23:58] #1367 closed

[2018-09-20 00:05] #1145 closed

[2018-09-20 00:10] #1270 closed

[2018-09-20 00:20] gunthercox opened #1414 "Note migration processes for different storage adapters in ChatterBot documentation"
- [x] Django
- [x] SQL Alchemy
- [x] Mongo DB

[2018-09-20 00:22] gunthercox opened #1415 "Make Django and Sqlalchemy ext names consistent"
They are currently `sqlalchemy_app` and `django_chatterbot`. Making these consistently named would be nice.

* Perhaps `django_integration` and `sqlalchemy_integration`?

[2018-09-20 00:23] gunthercox opened #1416 "Add corpus tests for training from a local file path"

[2018-09-20 00:53] #1381 closed

[2018-09-20 00:54] #1366 closed

[2018-09-21 08:46] ithjz opened #1417 "AttributeError: module 'chatterbot.storage' has no attribute 'JsonFileStorageAdapter'"
Traceback (most recent call last):
  File "E:\users\administrator\eclipse-workspace2\chatbot-deeplearning\2.py", line 20, in <module>
    output_adapter='chatterbot.output.TerminalAdapter'
  File "E:\ProgramData\Anaconda3\lib\site-packages\chatterbot\chatterbot.py", line 39, in __init__
    utils.validate_adapter_class(storage_adapter, StorageAdapter)
  File "E:\ProgramData\Anaconda3\lib\site-pack

[2018-09-21 11:31] gunthercox commented on #1417
Hi @ithjz, the `JsonFileStorageAdapter` class was removed from ChatterBot several versions ago.
I would suggest using the `SQLStorageAdapter` instead.

[2018-09-21 13:28] tghv opened #1419 "Time consumption for training is very high(reading from excel,55000 conversations)"
I'm training data of 55000 questions and answers reading from excel with two columns,the time consumption for training the data is  very high.Is there a solution for reducing time for training

alexa_bot=ChatBot("alexa_bot",trainer='chatterbot.trainers.ListTrainer',storage_adapter='chatterbot.storage.MongoDatabaseAdapter',database='Alexa_db')

#test_bot.storage.drop()
alexa_bot.set_trainer(ListTra

[2018-09-21 23:36] #1267 closed

[2018-09-22 01:56] #1399 closed

[2018-09-22 02:00] gunthercox commented on #238
I've removed bulk-write functionality from ChatterBot as a part of the changes in #1391. I'm going to close this ticket off. Feel free to open new tickets if the issue manifests in a new way after the changes.

[2018-09-22 02:00] #238 closed

[2018-09-24 13:29] sanjaytagove commented on #1048
@beingnvn pooja want to say that, if we have question and answer with single line, then it working fine.
but what if we have answer of multiple lines(paragraphed answer), that time it gives error like:
`No handlers could be found for logger "chatterbot.storage.storage_adapter" `

[2018-09-25 03:41] beingnvn commented on #1048
Just a guess,  try using three inverted commas
Ex: """Hi"""

[2018-09-25 05:04] sanjaytagove commented on #1048
@beingnvn, is there any character limits in dialog statement for question and answer?
if we pass shorter character length then its okay, but it gives error while we putting long character stream.

[2018-09-26 01:43] #1365 closed

[2018-09-26 01:51] #304 closed

[2018-09-26 05:42] vkosuri commented on #1048
Yes, https://github.com/gunthercox/ChatterBot/blob/4b5ae262bab0bc0c83555d39400049f20aaca9cd/chatterbot/constants.py

[2018-09-26 08:06] azzhu opened #1426 "'ChatBot' object has no attribute 'find'"
File "/usr/local/lib/python3.6/dist-packages/chatterbot/trainers.py", line 48, in get_or_create
    statement = self.storage.find(temp_statement.text)
AttributeError: 'ChatBot' object has no attribute 'find'

why?

[2018-09-26 09:56] sanjaytagove commented on #1048
@vkosuri I'm using Linux server, can you plz give me file location.

[2018-09-27 08:41] azzhu commented on #1426
thanks !!!

[2018-09-27 08:57] azzhu commented on #1426
@gunthercox Sorry, I still can't solve this problem. this is my code:

[code]

this is the error msg:

/usr/bin/python3.6 /home/lsg/PycharmProjects/test_tensorflow_gpu/test_chatterbot.py
List Trainer: [#######             ] 33%Traceback (most recent call last):
  File "/home/lsg/PycharmProjects/test_tensorflow_gpu/test_chatterbot.py", line 12, in <module>
    "Your flight has been booked."
  File

[2018-09-28 07:34] vkosuri commented on #1048
import constants.py file and override the required property in your machine.

[2018-09-28 09:03] sanjaytagove commented on #1048
after putting:
[code]
it still not train large text statement.

[2018-09-28 11:00] gunthercox commented on #1426
Hi, @azzhu, I've reviewed the code you posted and it looks correct. I believe the issue is with the `chatterbot` package that is installed on your system. Can you try uninstalling it and then reinstalling it to make sure the correct version is downloaded?

[code]

[2018-09-28 11:00] #1373 closed

[2018-09-28 11:01] #1343 closed

[2018-09-28 11:06] gunthercox commented on #1408
You can create new views, similar to the example `ChatterBotApiView`. Adding the new views to the `urls.py` file will make them available to access.

Please let me know if there is anything I can clarify specifically. I'd be happy to provide links to some of the awesome documentation that exists for Django's views and url settings depending on what you are attempting to build.

[2018-09-28 11:10] RishiTeke commented on #1408
Thanks for reply @gunthercox . I managed to create function based views and created APIs.

[2018-09-29 08:03] shivg7706 opened #1428 "Plain Markdown text on Python Package Index"
[Python Package Index](https://pypi.org/project/ChatterBot/) which have the brief introduction about the package showing plain Markdown text.
![image](https://user-images.githubusercontent.com/21190262/46242964-31ccbe80-c3ec-11e8-9a2c-90ef062884f1.png)

[2018-09-29 09:49] azzhu commented on #1426
@gunthercox thanks!!! it's ok.

[2018-09-29 11:31] Jereemi commented on #1426
@gunthercox Yes..I have checked the version too..its Chatterbot 0.8.7

[2018-09-29 11:35] gunthercox commented on #1426
Interesting, and you used `pip` to install it?

[2018-09-29 11:39] Jereemi commented on #1426
@gunthercox I have tried running it with both pip and pip3 just to make it sure. The other codes are running fine both on python2 and python3 environment but this particular code-named learning_new_response.py could not be executed. I am getting the above-mentioned error.

[2018-09-29 11:48] gunthercox commented on #1426
The `find` attribute _was_ recently removed in the `1.0.0a1` release, but I'm uncertain why you'd be getting this message from version `0.8.7`.

Have you tried downgrading to the previous version?
[code]

[2018-09-29 11:49] #1417 closed

[2018-09-29 11:49] #1388 closed

[2018-09-29 11:54] Jereemi commented on #1426
@gunthercox Yes, I have downgraded just now to Chatterbot 0.8.6 and I am still getting the same error:( Please check the steps that I followed while running this file.
The steps I followed: 1. Copied the contents of the file and paste it on my file and saved it as bot.py
2. I ran the file using the command: python3 bot.py
Am I missing any steps in between??

[2018-09-29 12:01] gunthercox commented on #1426
Those steps are completely correct. I can't explain why you're seeing this error with the version you're using.

[2018-09-29 12:03] Jereemi commented on #1426
@gunthercox Ok. Thank you anyways. Let me try to find a solution to this problem. I shall update if I can come up with a solution.

[2018-09-29 12:07] #1382 closed

[2018-09-29 12:10] gunthercox commented on #1371
I'm going to close this off as a duplicate of #1232. Feel free to subscribe to that issue for updates. I'm labeling this functionality as a feature and I'd like to introduce it to ChatterBot in the future.

[2018-09-29 12:10] #1371 closed

[2018-09-29 12:42] Jereemi commented on #1426
@gunthercox I have solved the problem by replacing the following 2 lines:
trainer = ChatterBotCorpusTrainer(bot)
trainer.train("chatterbot.corpus.english")
with the below lines:
bot.set_trainer(ChatterBotCorpusTrainer)
bot.train("chatterbot.corpus.english")

It worked fine. Hope this solution can be of some help to others too:)

[2018-09-29 13:03] Jereemi opened #1430 "ChatBot Issue with learn_response() function"
I am running the file "learning_new_response.py" and when I type in a word 'Hi', it displays me the response "How are you doing" and further ask me **"Is 'How are you doing?' a coherent response to "Hi"?"**
But when I type the response as "yes" the terminal stops and it doesn't show up anything
And another error when I type the response as "no", I get the following error:
**please input the correc

[2018-09-29 20:32] gunthercox commented on #1430
The error you are getting seems to be related to the issues you encountered earlier (#1426). Again, that function changed slightly in the latest alpha release (1.0.0a1). It's almost as if you have the alpha release installed instead of version 0.8.7.

[2018-09-29 20:39] #1279 closed

[2018-09-30 05:36] cswww opened #1432 "How to distinguish between questions and answers"
I want to distinguish between questions and answers.
The answer is also a question.

[2018-09-30 13:03] azarezade commented on #1203
I have the same issue with latest version 1.0.1a, it seems to be a big issue! all statements are save `in_response_to` my first training statement.

[2018-09-30 18:15] gunthercox commented on #1428
Looking at the file changes since the last release to the Python Package Index (https://github.com/gunthercox/ChatterBot/compare/0.8.7...1.0.0a1#diff-04c6e90faac2675aa89e2176d2eec7d8), it appears that there was a handful of changes to the README.

I'll take a look soon to see if I can determine exactly what change broke the display on PyPI.

[2018-10-01 05:03] Jereemi commented on #1430
@gunthercox But how is it possible? I have already checked the version and it clearly shows its Chatterbot version 0.8.7 and even I have downgraded the version to 0.8.6.
Is there any solution to the above-mentioned issue??

[2018-10-01 11:30] Jereemi commented on #1430
@gunthercox Is there any other alternative that I can implement this learn_response.py? I really wanted to make my bot learn from the responses of different users.

[2018-10-01 12:39] Jereemi commented on #1430
@gunthercox I have resolved the issue now. When I looked into the documentation of Chatterbot, I realized that the line "**bot.learn_response(CONVERSATION, response1, input_statement)**" which is specified in the file learn_response.py is wrong because in the documentation the declaration was "**def learn_response(self, statement, previous_statement):**" and so we can specify only 3 arguments incl

[2018-10-02 08:33] CyberGodSA commented on #1426
use: chatbot.set_trainer(ChatterBotCorpusTrainer)
chatbot.train(“chatterbot.corpus.english”)

 trainer.train(“chatterbot.corpus.english”)

[2018-10-03 00:36] gunthercox commented on #1377
Hi @pritibaheticompumatrice, I'm working on fixing a bug in the `SynsetDistance` class (#1436) that was causing incorrect confidence scores. It is quite possible that this was related.

[2018-10-03 00:41] gunthercox commented on #1432
HI @cswww, I'll try to help the best I can but I might need some more info to do so. Is this a question about Natural Language Processing or about the structure of data stored in ChatterBot?

[2018-10-03 00:53] gunthercox commented on #1430
I'm glad to hear that your initial issue was resolved.
***

This could be due to the response selection method that is being used:
https://chatterbot.readthedocs.io/en/stable/logic/response_selection.html#module-chatterbot.response_selection

[2018-10-03 05:13] Jereemi commented on #1430
@gunthercox Thank you so very much in taking the initiative to help whenever a problem arises.

All the issues have been solved:D

[2018-10-03 06:41] VenkatachalamVE opened #1437 "how to set If user enters particular value then only executes untill it says sorry i dont understand by chatbot"
How to Change my Custom Adapter

[2018-10-03 06:48] VenkatachalamVE commented on #1437
For eg:

User enters Book name the bot replies old book or new book.
User enters new book correspoding value displayed by bot

But user enters directly new book without entering book name this how i can i restrict user

[2018-10-03 06:48] #1437 closed

[2018-10-03 06:49] VenkatachalamVE commented on #1437
For eg:

User enters Book name the bot replies old book or new book.
User enters new book correspoding value displayed by bot

But user enters directly new book without entering book name this how i can i restrict user

[2018-10-03 06:50] VenkatachalamVE commented on #1437
For eg:

User enters Book name the bot replies old book or new book.
User enters new book correspoding value displayed by bot

But user enters directly new book without entering book name this how i can i restrict user

[2018-10-03 06:58] VenkatachalamVE opened #1438 "how to set If user enters particular value then only executes untill it says sorry i dont understand by chatbot"
For Eg:

User Enters Book Name The Bot Replies New Book Or Old Book.
After User Enters New Corresponding Value Replied By Bot.

But User Enters Directly New  Book bot replies the corresponding answer. How to Set or Restrict User Untill user enters book name it replies sorry donot understand

[2018-10-03 08:06] cswww commented on #1432
Thank you very much for your help，It's data structure problem. Answers will be processed as questions leading to one answer being matched to trigger the next question as answers I have found a solution

# conversation = [
#     'Question',
#     'answer'
# ]
# conversation2 = [
#     'Question',
#     'answer'
# ]
#
bot.set_trainer(ListTrainer)
# bot.train(conversation)
# bot.train(conversation2)

[2018-10-03 10:19] #997 closed

[2018-10-03 10:19] #1034 closed

[2018-10-03 10:19] #1377 closed

[2018-10-03 10:27] gunthercox commented on #1438
I would recommend creating a [custom logic adapter](https://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html) that returned a high confidence score (1) if the user entered "New Book" or "Old Book" and a low score (0) if they entered anythi

[2018-10-03 10:33] #1408 closed

[2018-10-03 10:59] gunthercox commented on #1257
@vkosuri Do you know if this will still be an issue in the latest version?

[2018-10-03 11:04] gunthercox commented on #1370
`test_benchmarks.py` just tests performance (speed). It can be run like this: `nosetests tests.test_benchmarks`

[2018-10-03 13:55] vkosuri commented on #1257
@gunthercox Not yet verified, I think this might get fixed. For time being will close this JIRA, If it found will reopen this issue.

[2018-10-03 13:55] #1257 closed

[2018-10-05 04:55] sobir-git opened #1441 "mathlogic"

[2018-10-05 04:55] #1441 closed

[2018-10-05 17:04] UziFTW opened #1442 "No random responses"
Hi! I have an issue with the responses I get with Chatterbot. I keep getting the same responses regardless of how many times I enter the input. It happens for my own corpus and the english corpus that comes with the package.

Here is my code:
https://pastebin.com/dSTBsmLB

[2018-10-06 15:08] #1426 closed

[2018-10-06 15:18] #1416 closed

[2018-10-06 18:01] #1370 closed

[2018-10-07 11:08] #1198 closed

[2018-10-07 11:44] gunthercox commented on #1419
Hi @tghv, the `MongoDatabaseAdapter` will insert the statements one at a time which would be the main cause of the slowness. You might be able to achieve better performance by doing a bulk-insert operation to get the data into your database.

https://docs.mongodb.com/manual/reference/method/db.collection.insertMany/

[2018-10-07 11:57] gunthercox commented on #1432
@cswww I'm glad to hear that you found a solution. I'm going to close this ticket off. Feel free to open a new one if you have any further questions.

[2018-10-07 11:58] #1432 closed

[2018-10-07 12:06] gunthercox commented on #1403
@pylobot I'm going to close this off as a duplicate of #1363, the processing time constraints are a know issue.

[2018-10-07 12:06] #1403 closed

[2018-10-07 12:12] gunthercox commented on #1243
ChatterBot now supports the ability to add tags to any statement.

For example:
[code]

The `filter` method on the storage adapter can also be used to search for statements that have a given tag.

[2018-10-07 12:12] #1243 closed

[2018-10-07 12:18] gunthercox commented on #920
I'm going to close this ticket off. ChatterBot has evolved quite a bit since this was opened and conversation/session IDs are no longer used. (Conversation has been simplified to just be a string attribute on each statement object).

[2018-10-07 12:18] #920 closed

[2018-10-08 05:04] Jereemi opened #1446 "Cannot view the data in actual postgresql"
@gunthercox I have connected my chatterbot with postgresql. And it had trained the data that I have specified in the file. So after training, it had created the db **"jer"**.
Here's my code:
**bot = ChatBot(
    "Terminal",
    storage_adapter="chatterbot.storage.SQLStorageAdapter",
    trainer='chatterbot.trainers.ListTrainer',
    database_uri='postgresql://postgres:root@localhost:5432/jer',

[2018-10-08 07:14] Jereemi commented on #1340
I have tried this method @vkosuri and this was able to export the table in the database.
But what I wanted is: to save the chats that the users do with the chatbot through the terminal?
Any suggestion??

[2018-10-08 12:06] gunthercox commented on #1446
There are a number of ways to view data in a postgres database. The `psql` command line tool is quite useful (https://www.postgresql.org/docs/9.6/static/app-psql.html).

If a GUI option is preferred, there is also pgAdmin: https://www.pgadmin.org/

[2018-10-08 13:01] Jereemi commented on #1446
@gunthercox Yes, you are right. But what I meant to ask was given the database-uri, my **jer** database is not affected at all even after the training.
What am I missing here??

[2018-10-09 10:40] Jereemi commented on #1446
@gunthercox I am able to solve the issue that I have instantiated here:)

I have used Mysql as my storage adapter and now I am able to save the data to the MySQL database and I can view it in the GUI mode too.

But I have a doubt: Why the data changed using my GUI is not affected?
Is there a solution to this?

I would be glad if you can help me here.

[2018-10-10 09:44] gunthercox commented on #960
I no longer view this as an issue. I'm going to close this off.

[2018-10-10 09:44] #960 closed

[2018-10-10 09:50] gunthercox commented on #1387
@elcolie I can't recreate the issue you encountered. Are you sure you included `chatterbot.ext.django_chatterbot` in your `INSTALLED_APPS` setting?

Are you using your own models with ChatterBot or the ones that come built-in?

[2018-10-10 09:56] gunthercox commented on #1442
@UziFTW Do you know what version of ChatterBot you are using?

[2018-10-10 09:59] #1430 closed

[2018-10-10 10:50] elcolie commented on #1387
Thank you very much for your attention.

[2018-10-10 10:50] #1387 closed

[2018-10-10 10:51] elcolie commented on #1387
Project was  gone already.  Then I can not reproduce the error.

[2018-10-10 13:01] Jereemi commented on #1446
@gunthercox thank you so much it works like charm now:D
after running my chatbot python file the database is created and along with it, 6 tables are created which is the same as the SQLite database.

[2018-10-10 13:13] Jereemi opened #1447 "Capture Log into database"
I am able to capture the conversations between the user and the bot in a log file using the logging module.

But I want to capture the **logs** into the **same database** where the other chatterbot tables are saved i.e along with the **conversation, converstaion_association, response, statement, tag and tag_association** tables.

Is there a way I can achieve this?

[2018-10-10 19:44] gunthercox commented on #1447
This isn't something that is built into ChatterBot. You could probably achieve this functionality pretty easily by saving that information to your own tables when the user interacts with your bot.

[2018-10-10 19:52] gunthercox commented on #1447
@pylobot Your suggestion is correct, that would work perfectly. The only think I'll note is that those features are only available in ChatterBot 1.0, which is still in alpha. @Jereemi You are welcome to try out the alpha release of ChatterBot 1.0 but you should be advised that not all of the features and functionality have been finalized and there could still be some changes before it is released.

[2018-10-10 19:54] #1446 closed

[2018-10-11 05:49] Jereemi commented on #1447
@gunthercox Ok I guess I have to create a new table to save the log data.

The reason I wanted to log the conversations was that I wanted to insert new questions from the logs that the users ask and add a response for them in the already available database.

So is it possible to make changes to the SQLite DB through the GUI mode? or any alternative solution you can suggest?

[2018-10-11 23:42] #1419 closed

[2018-10-12 01:46] #1140 closed

[2018-10-12 01:46] #1206 closed

[2018-10-12 01:46] #1363 closed

[2018-10-12 01:46] #679 closed

[2018-10-12 01:46] #697 closed

[2018-10-12 01:46] #1138 closed

[2018-10-12 05:00] Jereemi commented on #1447
@gunthercox I wrote the code to log the conversations in SQLite DB. Its working great now:D Thank you so much for the suggestion.

[2018-10-12 20:28] #687 closed

[2018-10-13 12:41] Jereemi opened #1450 "Add an additional column to the default database table"
I am trying to train multiple corpus, say for instance doctors corpus, faculties corpus and students corpus.
This will train all the data and put it in the statement table one after the other.
**Is it possible to know if the statement is coming from which corpus?**

I have thought of the approach but I am not sure if this is allowed in the default database created by chatterbot.
**Here is my appro

[2018-10-14 12:19] santannamv opened #1453 "Can Chatterbot use SMS channel as output?"
Sorry, I know that it is a very dumb question. But I really do not know where to ask about it. Thanks.

[2018-10-14 12:31] gunthercox commented on #1453
Hi @santannamv, SMS could be used as a method for users to communicate with a chat bot. ChatterBot currently doesn't have anything built-in that works specifically with SMS, but I do not think it would be difficult for you to set up.

Essentially, you'd want to have a section of your code where, if a message is received it will pass the content to ChatterBot to generate a response. You can then re

[2018-10-14 23:48] talentoscope opened #1455 "Tweet cleanup"
Hi all,

Great project! Would it be possible to add a simple regex into the statement/response before saving to DB for tweets to remove @mentions, possibly URLS, and maybe the # in hashtags?

It seems that these are messy and don't generalise well if a bot replies with a mention of an unrelated user.

[2018-10-15 05:51] Jereemi commented on #1450
@gunthercox Thank you so much for the valuable answer. This means that I can create my own corpus and name it as doctors.yml (say) and use the above SQL query to extract the category statements.
This is awesome. Thank you:D

[2018-10-15 06:34] Jereemi commented on #1450
@gunthercox In context to the above query, I have used the **learn_new_response.py** and the bot learns the new response but it won't give any tag_association with the newly learned statement.

So is there a way to tag the new statement without having to include it in the training file explicitly and re-train it?

[2018-10-15 11:28] shesadev opened #1457 "is it possible to train chatbot with excel file"
Currently we train chatbot from yml file conversion.can we train chatbot from excel file data.Any way is there.

[2018-10-16 07:34] Jereemi commented on #1457
@shesadev Yes, it is possible to train it from an excel file.
It depends on how you have put your data in the excel file. Say for instance, the first column are your questions and the second column are your answers like the one below:
__________________________
|Hi                    | Hello                 |
|____________|_____________|
|How are you?  | I am doing well |
|____________|___________

[2018-10-16 08:14] dilip90 opened #1458 "ImportError: No module named storage"
Hello Team,
I am getting below issue.
**Traceback (most recent call last):
  File "test1.py", line 1, in <module>
    from chatterbot import ChatBot
  File "/opt/PythonLibs/ChatterBot/chatterbot/__init__.py", line 4, in <module>
    from .chatterbot import ChatBot
  File "/opt/PythonLibs/ChatterBot/chatterbot/chatterbot.py", line 2, in <module>
    from chatterbot.storage import StorageAdapter
Imp

[2018-10-16 08:48] Jereemi commented on #1458
@dilip90 I guess you have written the name of the Storage Adapter wrong. It should be either **chatterbot.storage.SQLStorageAdapter**( for databases such as SQLite, MySQL or PostgreSQL ) or **chatterbot.storage.MongoDatabaseAdapter** for mongodb.

So you can change your line into: **from chatterbot.storage import SQLStorageAdapter**

[2018-10-17 02:04] some81 commented on #1426
I have the same issue and the code above don't solve my issue

[2018-10-17 03:15] DanielUnn opened #1459 "Is it possible yml file can set one question with more than one answer?"
Hi guys, I know yml file is set with one question and its respective one answer and it repeat for all input. But is it possible it can also take one question with few answers and not consistent with number of answers?

For example,

[code]

Then when I ask who is Nathan?. It will reply me those three answer provided in yml file. Thanks

[2018-10-17 07:06] gunthercox commented on #1450
The `Statement` objects that ChatterBot uses have an `add_tags` method that can be used to add one or more tags to a statement. Once the statement is saved, the tags will be created for it.

[2018-10-17 07:12] gunthercox commented on #1426
@some81, can you post a sample of the code you ran that produced the error? The `find` method was removed from ChatterBot, I'm wondering if maybe you found an outdated example?

[2018-10-17 07:15] gunthercox commented on #1459
Hi @DanielUnn Right now the only way to do this would be like this:
[code]

[2018-10-17 07:17] DanielUnn commented on #1459
@gunthercox  okay, but how it will know which answer to reply me when I ask who is Alex? By random?

[2018-10-17 07:36] gunthercox opened #1460 "Move constants to top of file"
The file `chatterbot/parsing.py` has three variables that should be moved closer to the top of the file to improve readability.

The variables are named: `HASHMONTHS`, `HASHWEEKDAYS`, and `HASHORDINALS`.

They should be placed below the existing constant called `NUMBERS` that is already located near the top of the file.

[2018-10-17 07:38] Jereemi commented on #1450
@gunthercox Ok thank you for your suggestion.
Then using this method can I approach it something like:
1. First, I will make the user enter the name of the tag whenever they initiate a new chatbot.
2. then after the user makes the chatbot learn many response, I will commit it into the database.
Will this be a right approach?

[2018-10-17 07:40] gunthercox commented on #1122
I'm closing this ticket off for now. I've been rethinking the layout of the docs & blog and I might go for something that is a bit more unified.

[2018-10-17 07:40] #1122 closed

[2018-10-17 07:46] gunthercox commented on #1450
@Jereemi That sounds correct to me :+1:

[2018-10-17 07:52] #1460 closed

[2018-10-17 07:54] Jereemi commented on #1450
@gunthercox Thank you so much:)
 I shall try the approach and update it here so that we can close the issue after its done.

[2018-10-18 06:13] prabhat428 commented on #1247
@tnmurthy yes you can see it here.
https://chatterbot.readthedocs.io/en/stable/storage/index.html#mongodb-storage-adapter

[2018-10-18 10:14] kibanatry commented on #955
@elcolie Were you able to get this done.

[2018-10-18 23:50] talentoscope opened #1463 "Large database optimisation solution"
I've done quite a bit of googling recently on this as, at only 20MB it is becoming really slow, especially when using Jaccard similarity.

My proposed solution is to use something like the MinHash algorithm as a replacement. It is ten times faster when comparing strings of documents, so I think it will be a great addition or replacement for the Jaccard similarity code - as it basically does the sa

[2018-10-19 02:06] talentoscope opened #1464 "Twitter authentication"
I updated to the latest alpha and now Twitter doesn't authenticate.
Nothing has changed. The settings.py file is present, and despite copying and pasting to a Python3 shell to see what the error was, it gives
TwitterError("The twitter.Api instance must be authenticated.")

The py file I am running from has the minor version changes such as trainer.train(), etc, and they're the same as the document

[2018-10-19 02:08] talentoscope commented on #1464
`
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/xxx/ChatterBot-1.0.0a2/chatterbot/trainers.py", line 251, in train
    statements = self.get_statements()
  File "/home/xxx/ChatterBot-1.0.0a2/chatterbot/trainers.py", line 230, in get_statements
    random_word = self.random_word(self.random_seed_word, self.lang)
  File "/home/xxx/ChatterBot-1.0.0a2/chatterbo

[2018-10-20 09:55] dougian commented on #1426
Hi @gunthercox,

I ran into the exact same problem.
I was using the example code from the README:
[code]
and my chatterbot version was 0.8.7
changing as @Jereemi  suggested to
[code]

does not create an error but does the expected thing

[2018-10-21 10:54] gunthercox commented on #1450
You'll need to use `Statement` instead of `StatementMixin`. The `StatementMixin` object is used to give various statement-like objects in ChatterBot the nessesary shared attributes but it is not intended to be used directly. More information on mixins can be found here: https://chrisbartos.com/articles/what-is-a-mixin/

[2018-10-21 13:37] gunthercox commented on #1464
Hi @talentoscope I labeled this a bug. I'll try to make sure this gets fixed before the next release. Thank you to testing out the alpha release.

[2018-10-21 14:15] Qplay123 commented on #1426
Use instead of `trainer = ChatterBotCorpusTrainer(chatbot)`
the code `trainer = ChatterBotCorpusTrainer(chatbot.storage)`

[2018-10-21 14:19] #1453 closed

[2018-10-21 18:12] pylobot opened #1465 "AttributeError: 'ChatBot' object has no attribute 'find'"
An error happened after I upgraded to the new version of ChatterBot.

[code]

Is there any change I can make to fix this error?

[2018-10-21 18:19] gunthercox commented on #1465
Hi @pylobot this sounds very similar to #1426. Did you try changing your code to match the new format that will be required when ChatterBot 1.0 is released?

[code]

Keep in mind that you can always downgrade to the previous version:

[code]

[2018-10-21 18:47] gunthercox commented on #1463
Hi @talentoscope, I'd be happy to accept contributions for the MinHash algorithm. In the mean time, I'd recommend Levenshtein distance for faster comparisons than Jaccard similarity (https://chatterbot.readthedocs.io/en/stable/comparisons.html#chatterbot.comparisons.LevenshteinDistance).

ChatterBot's performance with large sets of data is an issue that I am well aware of. I think it's worth menti

[2018-10-21 18:48] #1465 closed

[2018-10-22 09:08] meetsudhirshinde opened #1466 "hi"

[2018-10-22 15:15] UziFTW commented on #1442
@gunthercox can you please respond?

[2018-10-24 02:09] gunthercox commented on #1442
Your code sample that you posted looks correct. I am uncertain why you are getting the same response repeatedly.

[2018-10-24 02:15] gunthercox commented on #1463
Something similar to lemmatization is being added in 1.0 (using partial matches to reduce the size of the search set). The current reason that all statements are compared is because of the need to do the text comparison for searching. Most similar statements are not exact matches and so inefficient query cannot be created for a database and therefore iterative comparisons are required.

[2018-10-25 16:52] patka817 commented on #1463
Have you been looking into searching in the sqlite by adding the extension spellfix1? Im not sure how or if it fits into this context but it looks like they support some distance-functions and have ranking of words/text etc.

Not that it will fix the issue for mongodb users though..

[2018-10-27 08:58] ana301 opened #1469 "Getting the error cb.train is not callable."
from chatterbot import ChatBot
from chatterbot.trainers import ListTrainer

cb=ChatBot("Ruhi")

cb.train([
   "Hello",
   "Hi there!",
   "How are you doing?",
   "I'm doing great.",
   "That is good to hear.",
   "Thank you",
   "You're Welcome"
])

response=cb.get_response("Good Morning")
print(response)

[2018-10-27 13:16] #1466 closed

[2018-10-27 13:18] gunthercox commented on #1469
Hi @ana301 Instead of calling the train method, try the following:

[code]

[2018-10-27 14:02] dilip90 commented on #1458
Let me check guys, then only can I update thanks for reply.

On Sat 27 Oct, 2018, 6:54 PM Gunther Cox, <notifications@github.com> wrote:

[2018-10-30 22:41] donkelley commented on #1426
your fix for hte example code in the comment does work, for only the basic example. all of the other examples in your github repo don't work, however.

Please update your examples - I'd like to use chatterbot but without any idea of what the correct syntax is for any of your examples, this is impossible.

It seems like an excellent project, however, so I do hope it can be updated to working state

[2018-10-31 02:32] zasxsaz commented on #1426
Anyone looking for a simple fix:
sudo pip3 uninstall chatterbot
sudo pip3 install chatterbot==1.0.0a1

[2018-10-31 19:07] zebrucfish commented on #1430
Hi guys I have the same issue, and I’m a newbie to python. Please can you post how you fixes this error?
![1fee6950-701e-4d88-9a25-365bcb392369](https://user-images.githubusercontent.com/44651908/47812380-2bf63000-dd40-11e8-93bc-13ab2ca50ceb.jpeg)

[2018-10-31 19:42] bobstheman opened #1472 "beginner struggling to get chatbot running python 3.7"

[2018-10-31 19:49] bobstheman commented on #1472
not sure why the word are so huge and bold, i copy pasted them from the "basic usage" section.

[2018-10-31 20:41] bobstheman commented on #1472
Using the instructions at https://chatterbot.readthedocs.io/en/stable/

I created this script:

https://pastebin.com/yQL2bwd2

It seems I am kind of getting somewhere now but the only thing my chatbot will say is:

The current time is 01:37 PM

Why is it only telling me the current time over and over and nothing else?

[2018-11-01 02:26] alegalopes opened #1473 "Chatterbot with feedback"
Hi!
I'm a beginner in ChatterBot and I'm very impressed with its features! Thank you in advance.
But I've an interest in a feedback of user if the bot doesn't be able to answer with the better solution.
For example: if I ask "How are you?" and its database only has the answer "I'm fine", and I want the answer "I'm not very well", I will need to update the database with the new answer.
In my code,

[2018-11-02 16:07] #1472 closed

[2018-11-02 16:08] bobstheman commented on #1472
What a waste of time.

[2018-11-04 23:37] vkosuri commented on #1472
Have you seen documentation about chatterbot https://chatterbot.readthedocs.io/en/stable/

[2018-11-04 23:39] vkosuri commented on #1473
This example ``learning_feedback_example`` might help you https://github.com/gunthercox/ChatterBot/blob/master/examples/learning_feedback_example.py

[2018-11-07 18:23] drodil commented on #1442
You have to add the response_selection_method for the BestMatch adapter:

[code]

[2018-11-08 08:34] Luhizz opened #1475 "Need to install chatterbot on codio python3.5"
So I am trying to install chatterbot and "pip install chatterbot" works but it installs to python2.7 version. I have tried to install in other python versions "python3.5 pip install chatterbot" but it says that there is no such file or directory. https://i.imgur.com/C6ZkgUa.png Maybe any of you know how should I have this fixed?

[2018-11-08 09:54] xxllp commented on #1463
two low ，just use as an toy。。。

[2018-11-10 05:02] vkosuri commented on #1475
I would recommend using python virtual environments instead using global python for more information https://realpython.com/python-virtual-environments-a-primer/

did you tried ``pip3 install --upgrade chatterbot``

[2018-11-10 16:33] gunthercox commented on #1475
@Luhizz In the picture you posted the command `sudo python3.5 install chatterbot` is incorrect. You will need to install ChatterBot using the pip command. For example:
[code]
or
[code]

[2018-11-10 20:56] Luhizz commented on #1475
@vkosuri I tried to upgrade, that does not help. I am using codio, it runs linux there.
@gunthercox I tried all the different variations, nothing.

[2018-11-10 21:03] gunthercox commented on #1475
So... nothing gets printed out? Or are you getting the same error, or a different error?

[2018-11-10 21:48] Luhizz commented on #1475
Both

and

works, but pip installs on python 2 and pip3 installs on python 3.4 and I need to run it on python 3.5, so when I try to run it it says

[2018-11-11 06:19] sumitroy630 opened #1485 "ImportError: No module named 'chatterbot.storage'"
File "C:\Users\HP\Desktop\ChatterBot-master\chatterbot\chatterbot.py", line 2, in <module>
    from chatterbot.storage import StorageAdapter

ImportError: No module named 'chatterbot.storage'; 'chatterbot' is not a package

How to fix this?

[2018-11-11 12:35] gunthercox commented on #1485
It sounds like you might need to install `chatterbot`.

[code]

[2018-11-11 12:42] gunthercox commented on #1475
I think I understand now.

[code]

This command will let you run `pip` commands from the `python3.5` installation and chatterbot will be installed to Python 3.5 as a result.

[2018-11-11 12:48] Luhizz commented on #1475
That worked, thanks!!

[2018-11-11 13:09] gunthercox commented on #1475
The `-m` allows a module, such as `pip`, to be executed as a script. A more in-depth explanation can be found in Python's documentation for the command:
https://docs.python.org/3/using/cmdline.html#cmdoption-m

[2018-11-11 17:28] #1256 closed, assigned to nobody

[2018-11-14 13:53] c230269 opened #1489 "Play and pause video using chatbot"
How can i pause and play video using chatbot.

For eg. There is an html page in which 3 sections are there each containing one video and in the same page chatbot icon is also there. Now when i click on chatbot icon and chat window opens up i started typing play video1 then chatbot should start playing video from the first section, if i say pause video1 then it should pause.

[2018-11-15 09:33] ayushecps commented on #1489
please help how to resolve this issue

[2018-11-15 09:36] richardjiafei opened #1490 "builtins.AttributeError: 'dict' object has no attribute 'translate'"
Hi
     I have a problem
    when I get the new code ,and run the following code
from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer

'''
This is an example showing how to create an export file from
an existing chat bot that can then be used to train other bots.
'''

chatbot = ChatBot('Export Example Bot')

# First, lets train our bot with some data
trainer = Cha

[2018-11-15 09:46] richardjiafei commented on #1490
Hi
     The error is in the function : get_stemmed_word_list
     I checked the varible   text, it is the str ,but when the error happened.
text
'Artificial Intelligence is the branch of engineering and science devoted to constructing machines that think.'
type(text)
<class 'str'>

     I found the text  using  type(text )   it is dict ,why? Thank you.

type(text)
<class 'dict'>
text
{"He's best k

[2018-11-15 09:50] richardjiafei commented on #1490
Hi
The error is in the function : get_stemmed_word_list
I checked the varible text, it is the str ,but when the error happened.
text
'Artificial Intelligence is the branch of engineering and science devoted to constructing machines that think.'
type(text)
<class 'str'>

 I found the text  using  type(text )   it is dict ,why? Thank you.
type(text)
<class 'dict'>
text
{"He's best known for the Dune

[2018-11-15 09:52] richardjiafei commented on #1490
Hi
The error is in the function : get_stemmed_word_list
I checked the varible text, it is the str ,but when the error happened.
text
'Artificial Intelligence is the branch of engineering and science devoted to constructing machines that think.'
type(text)
<class 'str'>

I found the text using type(text ) it is dict ,why? Thank you.
type(text)
<class 'dict'>
text
{"He's best known for the Dune nove

[2018-11-15 10:02] richardjiafei commented on #1490
Hi,  I temply modify it by the following code ,thank you.
 text = text.translate(self.punctuation_table)
 change to
 text = str(text).translate(self.punctuation_table)

It is ok.

[2018-11-15 18:23] UnknownUser1234 opened #1492 "How to save training"
[code]
With the code above, I am training a chatbot based on the english corpus. However, every time I run this script it retrains itself on EVERYTHING. Is there any way I could stop this from happening, and perhaps have it only train once, and at the very least not train on everything again.

[2018-11-16 02:23] richardjiafei opened #1493 "sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) no such column: statement.extra_data [SQL: 'SELECT statement.id AS statement_id, statement.text AS statement_text, statement.extra_data AS"
Hi,   I have a problem , Could you help me to check?  Thank you.
when I　run　the　following　code　by　hug　　　

hug -f bot_api.py

 bot_api.py　is as follows:

#!/usr/bin/env python
# coding: utf-8

#
from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer
import hug

deepThought = ChatBot("deepThought")
deepThought.set_trainer(ChatterBotCorpusTrainer)
#
deepThought.train("

[2018-11-17 13:55] #1475 closed

[2018-11-17 14:30] #1485 closed

[2018-11-18 16:35] gunthercox opened #1495 "Alows statements to be excluded if text contains any word in a provided list"
* The `filter` method on each storage adapter should accept a key word argument `exclude_text_words`.
* If `exclude_text_words` is provided (a list of words to exclude), the statements returned by the filter method should not include statements who's text contains one of the specified words.

[2018-11-18 23:55] #901 closed

[2018-11-18 23:55] #995 closed

[2018-11-19 00:16] #310 closed

[2018-11-19 00:29] gunthercox commented on #1493
Hi @richardjiafei, this error message is occurring because the column `extra_data` was removed from the database in the latest version of ChatterBot.

[2018-11-19 00:31] gunthercox commented on #1492
You can create a second file; `train.py` and import your chat bot class to do the training. Then, the training process will only be run if you call `python train.py`.

[2018-11-19 00:34] gunthercox commented on #1489
You may be able to use the `play` and `pause` functions that are provided by the HTML video element.

https://www.w3schools.com/tags/av_met_pause.asp

[2018-11-19 00:35] #1469 closed

[2018-11-20 09:00] khushbumodi0 commented on #563
hi, @gunthercox @vkosuri I am also looking to implement Tensorflow in chatterbot. Do you have any idea that how can I implement Tensorflow in Chatterbot?

[2018-11-20 13:18] khushbumodi0 opened #1502 "Can i apply LSTM, RNN in chatterbot? How?"
Hi, I want to apply memory network in Chatterbot for better performance. I want to know that can i apply LSTMs and RNN in chatterbot?

[2018-11-20 14:00] datasciraj commented on #1502
I am not sure if this option is readily available. But i guess custom adapter can help you.

[2018-11-21 06:16] blueclouray commented on #1493
I want to run the example in the readme file and I have the same problem. What should I do? Thank you

[2018-11-21 12:32] gunthercox commented on #1492
Sure, this is a quick example. Let me know if I can elaborate further or improve it.

[code]

[code]
[code]

[2018-11-21 12:37] gunthercox commented on #1493
To run the current examples, you will need to install chatterbot `1.0.0a2`.

This can be done with `pip`. For example, run `pip install chatterbot==1.0.0a2`

[2018-11-21 12:40] gunthercox commented on #563
Hi @khushbumodi0, I have only looked into Tensorflow implementations briefly. I don't have anything that could demonstrate this effectively at the moment.

[2018-11-22 08:57] khushbumodi0 commented on #1502
@gunthercox Please, can u give me some idea that LSTM & RNN is possible in chatterbot? If yes then how can I implement with chatterbot? Should I have to create a new custom logic adapter for that? Please, can you give me some suggestion on that?

[2018-11-23 21:30] gunthercox commented on #1502
@khushbumodi0 I cannot currently provide an example of LSTM & RNN is possible in ChatterBot.

[2018-11-23 21:33] #1490 closed

[2018-11-23 21:33] #1489 closed

[2018-11-23 21:34] gunthercox commented on #1473
I'm going to close this ticket off due to lack of activity. Feel free to reopen it if the issue continues to persist.

[2018-11-23 21:34] #1473 closed

[2018-11-23 21:35] #1450 closed

[2018-11-24 18:07] #613 closed

[2018-11-25 14:53] #1495 closed

[2018-11-25 14:54] #1502 closed

[2018-11-25 14:54] #1493 closed

[2018-11-25 14:55] #1492 closed

[2018-11-25 14:58] #1442 closed

[2018-11-25 15:02] gunthercox commented on #1355
I've made changes to ChatterBot so that it uses the `filter` function instead of `get_most_frequent_response`. The new functionality is intended to be more consistent and reliable.

I'm going to close this ticket off. Please let me know if you have any questions.

[2018-11-25 15:02] #1355 closed

[2018-11-25 15:10] gunthercox commented on #1167
I'm going to close this off. I was never able to recreate this issue, and I suspect that it has been fixed in some of the recent changes to ChatterBot.

[2018-11-25 15:10] #1167 closed

[2018-11-25 15:11] gunthercox commented on #1128
I'm going to close this ticket off. ChatterBot's SQL Storage adapter now has relatively proficient test coverage and I believe the issue that had caused this error has been fixed.

[2018-11-25 15:14] gunthercox commented on #1150
I'm going to close this off. An attempt at doing this is being made in #1462 and work is currently in progress to allow searching on this field (#1452).

[2018-11-25 15:14] #1150 closed

[2018-11-25 15:30] gunthercox commented on #1353
Hi @k3s4, I apologize about the very long delay in responding to your question.

I believe the issue that you encountered was related to a bug in ChatterBot, which has since been corrected.

To answer your question, `process_input` should now always return a statement, never `None`. This was acceptable in the past because the ChatBot class had other checks to see if a response was returned from th

[2018-11-25 15:30] #1353 closed

[2018-11-25 15:32] #1320 closed

[2018-11-25 15:51] gunthercox commented on #1052
This can be done by creating a custom logic adapter for your chat bot.

For example:

[code]

***

Keep in mind, that ChatterBot will still be capable of learning foul language from the people that it talks to. I'm working on changes that will be released in version 1.0 that will prevent the chat bot from responding with foul language.

[2018-11-25 15:51] #1052 closed

[2018-11-26 13:01] giovannipiccinelli commented on #1128
@gunthercox the issue is still there.. I just needed to downgrade to v, 0.7.4 to make the library work.

[2018-11-26 13:01] hanabi1224 opened #1513 "Is it possible to implement Elasticsearch storage adapter"
which is more scalable to large conversation dataset

[2018-11-26 19:15] isi007 opened #1514 "ChatterBot running in python 2.7.15 - Failed"
2.7.15 (default, May 15 2018, 15:37:31)
[GCC 7.3.1 20180303 (Red Hat 7.3.1-5)]
Python Type "help", "copyright", "credits" or "license" for more information.
[evaluate FeedBack-Lerning.py]
Traceback (most recent call last):
  File "/home/me/Documents/PythonScript/FeedBack-Lerning.py", line 21, in <module>
    trainer.train("chatterbot.corpus.english")
  File "/home/me/.local/lib/python2.7/site-pack

[2018-11-27 02:12] vkosuri commented on #1514
@isi007 I think chatterbot is deprecated on ``python 2.7``, did you tried on ``python3``

[2018-11-27 02:13] vkosuri commented on #1513
Yes, you have to write a new storage adapter, more information how to write a storage adapter found here https://chatterbot.readthedocs.io/en/stable/storage/create-a-storage-adapter.html

[2018-11-27 03:32] gunthercox commented on #1128
@giovannipiccinelli Can you post any steps or instructions that I can use to recreate this error?

[2018-11-27 07:54] giovannipiccinelli commented on #1128
I am using pythonanywhere python 3.6 and the error thrown looks similar to the one posted by Feekee at the top.

The ChatBot object does not get initialized for some reasons. Amazing library by the way 👍

![screen shot 2018-11-27 at 8 53 18 am](https://user-images.githubusercontent.com/7911077/49066607-fe5ab480-f221-11e8-980e-1c8c1efea43b.png)

[2018-11-28 06:08] bobstheman commented on #696
I was hoping someone posted an update to this question. How do you fix a bad comment/reply that the chatbot makes? If it says something stupid, can you edit the reply with a more intelligent one?

[2018-11-30 00:53] gunthercox commented on #696
@bobstheman This isn't something that is build into ChatterBot, but it is possible to use custom programming to edit a reply in whatever database you are using. This can also be done manually using a command line database client or a GUI client of your choosing.

[2018-12-01 00:10] bobstheman commented on #696
Please show how. I currently finished the "basics" of python using the python crash course book, so I'm a new programmer. However, I am fascinated by your chatterbot. It's an amazing bot other than when it says something goofy. If I were able to manually remove the goofy replies I think I'd have pretty much a "perfect bot". Please, do give examples how to manually edit the bot using windows 10 com

[2018-12-01 00:27] betolley opened #1515 "Long Conversation"
ChatterBot appears to always answer based on the question I asked.  The question I have is is there a way to have it keep track and answer based on what we are talking about?  I would like it to do the following:

Me:Hi how are you today?
ChatterBot: Good and you?
Me: Good but it is raining.
Chatterbot: I am glad you are good and sorry it is raining.

To do the above I would have to have  a Good b

[2018-12-02 13:13] oliviaguest opened #1516 "Terminal example: database(?) not working?"
I am using the latest version of ChatterBox from github and I am trying to run ```terminal_example.py```. I get the following error, what's going wrong?

[code]

[2018-12-02 13:15] Laurelai commented on #1516
Having the same problem.

[2018-12-02 17:19] aawee opened #1517 "Hello. Need someone to help me install it"
Hi.
I asked for help on freelancer to help me install Chatterbot with corpus module but i can't find someone that can help me.
I would like to have it installed on my ubuntu vps with web access (working on my active website).

My budget is $40 on freelancer or in paypal or btc.

If someone can help me please give me an response.

thank you!

[2018-12-03 19:42] saydulk commented on #1517
@aawee https://chatterbot.readthedocs.io/en/stable/django/index.html

[2018-12-03 21:01] aawee commented on #1517
I don't get this part. Thanks

Add chatterbot.ext.django_chatterbot to your INSTALLED_APPS

[2018-12-03 21:32] isi007 commented on #1245
Ok, Categories and Conversations I can write in file with extension "yml", now how can Use o create?, using this code:
 chatbot.response.categories in 'pizza query':
      do_your_operation()

Can you upload an example pleases?. Thanks in advanced.

[2018-12-03 22:46] gunthercox commented on #696
I usually use Sqlectron for changes like this (https://sqlectron.github.io/). There are many other database clients out there if there is a different one that you prefer to use.

After downloading and installing Sqlectron, I connect it to the Sqlite database that my chat bot uses.

To add a database, click the "Add" button and fill out the form with the information that Sqlectron needs to connect

[2018-12-04 04:07] bobstheman commented on #696
Thanks for the reply and the information. I'm going to give this a go tomorrow.  :)

[2018-12-04 04:53] bobstheman commented on #696
I'm not doing something right with the ---------> UPDATE "statement" SET "text"="New Text" WHERE "text"="Old Text";

I'm connected to the database and can see the data but getting an error when I try to edit it.
SQLITE_ERROR: near "UPDATE": syntax error
errno: 1
code: SQLITE_ERROR
name: Error

Can you please show a screen shot of an actual edit? Thanks gunthercox.

[2018-12-04 07:14] gunthercox commented on #696
Sure, I've updated my previous comment to include some additional screenshots.

[2018-12-04 07:17] gunthercox commented on #1515
There is not currently a way to do what you are looking for. I have plans to add this functionality eventually, the ticket number is #276

[2018-12-04 07:20] bobstheman commented on #696
Thanks again. Is it sql that I need to learn now? I'm a newb, please forgive my ignorance, still getting the hang of programming. The python crashcourse book helped a lot but I need to learn more. I'm fascinated with machine learning/ai  and would really like to get deeper into the subject. I recently bought the mathtutordvd.com full course to learn physics, algebra, calculus etc. to program tenso

[2018-12-04 07:31] bobstheman commented on #696
Ok, tried it again, I put UPDATE "4" SET "text"="Are you alive?" WHERE "text"="Are you conscious";

I'm still doing something wrong.
I was able to use the delete example correctly that you showed though. Have patience please, I know my newbness is showing.

[2018-12-04 07:47] gunthercox commented on #696
SQL is fairly easy to learn, I'd say that there are only a handful of key concepts that are important to learn (create, retrieve, update, and delete). You've already seen an example of three of those in the screenshots I posted so I'll leave it to you to look up the fourth :slightly_smiling_face:

I'd suggest learning about AI and machine learning in the following order. This is definitely not an

[2018-12-04 07:55] bobstheman commented on #696
Thanks for the follow up. I'll be looking into that info you just shared for sure.

Snooping around in sqlectron, I noticed you can right click on the panel on the left side of the screen and it will do things. I left clicked on statement and I'm able to pull up all kinds of data in the main window. Do all of those entries have to be changed? Or will editing a single response change the entire dat

[2018-12-04 08:12] gunthercox commented on #696
If you update them by ID, it will only change that one row. However, there are ways to update multiple rows at the same time. To provide an example:

This query updates the row with the id of 4 so that it's text says "New Text".
[code]

This query updates **every** row that has the text "Old Text" so that it says "New Text".
[code]

I'm sure there are plenty of SQL tutorial videos out there alread

[2018-12-04 08:14] bobstheman commented on #696
Awesome. Let me know if you need contributions to get the chatbot up and running online. I'll be the first to donate via paypal. Kudos!

[2018-12-04 08:17] gunthercox commented on #1516
It looks like the documentation is out of date. Please use a valid URL string instead. For example:

[code]

[2018-12-04 08:50] Xieluqiaofu commented on #1473
I have the same problem with the example.if my answer is no,it works fine,if yes,it goes wrong like this .
hello

 Is "Hi" this a coherent response to "hello"?

yes
Traceback (most recent call last):
  File "126.py", line 112, in <module>
    bot.learn_response(CONVERSATION, response, input_statement)
TypeError: learn_response() takes 3 positional arguments but 4 were given

[2018-12-04 22:35] bobstheman commented on #696
Hey Gunther,

I've been editing the bots sql database file with the sqlectron. I've been able to delete and change statements now but for some reason when I go to change the response "reply", it changes the question instead of the reply. What I mean is, the changes are happening in the "text" field instead of the "statement_text" field.  I don't want change the question, I want to change the reply

[2018-12-05 12:10] gunthercox commented on #696
You'll need to make sure that if you edit the `response` table that you also edit the corresponding statement in the `statement` table.

[2018-12-05 12:17] gunthercox commented on #1473
@alegalopes / @Xieluqiaofu The error you are seeing (`TypeError: learn_response() takes 3 positional arguments but 4 were given`) is because the number of parameters that the `learn_response` method has changed in the latest version of ChatterBot that is currently being developed. Please downgrade the version of ChatterBot you have installed **or** remove the `CONVERSATION` parameter from that met

[2018-12-05 13:19] prilcool opened #1518 "ImportError: No module named 'chatterbot.storage'; 'chatterbot' is not a package ""
I have python version Python 3.5.2
I installed chatterbot and it shows it is installed using pip freeze.

But i have this error

" module = self._original_import(*args, **kw)
ImportError: No module named 'chatterbot.storage'; 'chatterbot' is not a package "

Can you list your exact python version you use
can you list your exact chatterbot version that is working
Can you provide directory structure

[2018-12-05 13:58] oliviaguest commented on #1516
That fixes it! Thank you. If useful here's a PR for the two files that need it: https://github.com/gunthercox/ChatterBot/pull/1519

[2018-12-06 02:41] gunthercox commented on #1518
The message `chatterbot' is not a package` sounds like the clue here.

Did you know that if you have multiple versions of Python installed, there are different entry points for each one?

For example: `python example.py` might execute the program using Python 2.7, but `python3 example.py` might execute the program using Python 3.5.

[2018-12-06 03:00] prilcool commented on #1518
Thanks gunther for your great work .
I only have python 3.52 and it is executing using that .

can you tell me how do you have your directory structure setup .

I've already done pip3 install chatterbot and the dependencies are installed successfully.
Currently i have just downloaded  ChatterBot-master  unzipped it and placed on desktop

next I am navigating to the subdirectory  ChatterBot-master\

[2018-12-07 00:03] JustinBack commented on #1464
Will this ever get working again? It's still present and you are unable to use the twitter example.

[2018-12-07 13:06] gunthercox commented on #1518
I usually set ChatterBot up in one of two ways.

1. With pip, in which case the Python file for the chat bot can be located anywhere.
2. With the chat bot Python file located relative to the source code (this sounds like it's what you're looking to do).
[code]
(The code you are executing must be in the same directory as the Python module for the import to work.)

[2018-12-09 17:10] ThatsGabeBro opened #1522 "How do I ask a series of questions in succession?"
Hello! First of all, I'd like to say that I love Chatterbot and it has proven very helpful in my studies. I just have a question. I'm trying to create a new Logic Adapter in Django that asks a question, and then once given a valid answer, goes to the next question. But since the training data is made with Statement -> Response in mind, how would I go about making the adapter?

[2018-12-09 23:31] MilkyWay90 opened #1525 "How to supply your own training data?"
Title is self-explanatory.

[2018-12-10 00:30] Sxigames opened #1526 "Cant't train"
I can't train the chatterbot when i try i get this error
[code]

[2018-12-10 05:21] hpaiml opened #1527 "How to implement new logic adapter"
I have 3 different csv files. I want to create a new logic adapter for each. like I have to create 3 different logic adapter. In each logic adapter I have to set condition like if confidence is less than 0.7 it should show data which has cofidence level 0.7 else other data . so how I can code for it.

[2018-12-10 05:55] vkosuri commented on #1527
https://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html this will give an idea how to implement new logic adapter.

[2018-12-10 05:57] vkosuri commented on #1525
Two training methods are available one train with list data and corpus data
https://chatterbot.readthedocs.io/en/stable/training.html#training-via-list-data
https://chatterbot.readthedocs.io/en/stable/training.html#training-with-corpus-data

corpus repo https://github.com/gunthercox/chatterbot-corpus

[2018-12-10 05:58] vkosuri commented on #1522
This example is a close example https://github.com/gunthercox/ChatterBot/blob/master/examples/learning_feedback_example.py

[2018-12-10 13:02] gunthercox commented on #1526
Hi @Sxigames, could you try downgrading to version `0.8.6`?

[2018-12-10 13:05] gunthercox commented on #1527
@hpaiml What do you have for code so far?

[2018-12-10 17:39] Sxigames commented on #1526
I downgraded and doesn't work

[2018-12-11 00:19] MilkyWay90 commented on #1525
Thank you!

[2018-12-11 08:06] hpaiml commented on #1527
I want to read sqlite3 trained database in function and call in new logic adapter class.

[2018-12-11 09:47] MITeoRIte commented on #1380
@jayeshsk
Realise that the file its trying to find is "englishai.yml" from \data instead of "ai.yml" from \data\english\

So what you need to do is add a `\` on the line (which I have already done so for you) : `data=open('F:\Project Data\chatterbot-corpus-master\chatterbot_corpus\data\english\'+files,'r').readlines()`

[2018-12-12 11:08] MartinDelille opened #1528 "Document example setup"
For a non python developer like me it is not very easy to understand how to set up the examples.

I would be happy to document this but I would need some basic info. For example, I first installed ChatterBox given following command:

[code]

Unfortunately, when I try to run `basic_example` it fails:

[code]

[2018-12-12 11:31] IndigoFuzz commented on #1528
Martin, see: https://github.com/gunthercox/ChatterBot/issues/1426

[2018-12-12 11:51] MartinDelille commented on #1528
I proposed a fix based on the comments: https://github.com/gunthercox/ChatterBot/pull/1529

[2018-12-13 09:01] hpaiml commented on #1527
If asked question is related to histrory word then response confidence should be greater than 0.75..how to write code for it.

[2018-12-14 03:12] #1527 closed

[2018-12-14 14:16] movchan-moqod commented on #1000
Faced the same problem.
Resolved for me by inheriting the Views from ```chatterbot.ext.django_chatterbot.views import ChatterBotView```

[2018-12-14 15:35] jinfagang opened #1530 "newest pypi codes can not runing"
Master branch codes has errors
[code]

[2018-12-16 10:30] eraseandinstall commented on #1077
Holy hell thank you.

[2018-12-16 13:47] Quarion25 opened #1533 "Return list of responses from Chatterbot"
Hello

Is there any way to get a list of responses instead of just one from trained chatterbot?

[2018-12-16 21:35] gunthercox commented on #1526
@Sxigames Could this be related to the version of Python you are using, similar to #1465?

[2018-12-16 21:37] #1525 closed

[2018-12-16 21:46] gunthercox commented on #1530
@jinfagang I believe this may be related to ChatterBot not supporting Python 2 anymore. The downgrade solution that @vkosuri suggested earlier may solve this issue as well https://github.com/gunthercox/chatterbot-corpus/issues/109#issuecomment-447547348

[2018-12-16 21:56] gunthercox commented on #1533
Currently there is not.

[2018-12-16 22:00] #1516 closed

[2018-12-17 06:35] ayershub opened #1534 "chatterbot1.0.0a3 , example django_app how to train"

[2018-12-17 09:20] #1534 closed

[2018-12-17 13:38] Quarion25 commented on #1533
Are you planning to add this feature in future release?

[2018-12-17 13:40] Sxigames commented on #1526
@gunthercox I found the error
[code]

[2018-12-17 13:40] #1526 closed

[2018-12-19 02:10] babyeleven opened #1535 "Logic adapter"
Is there a logical adapter for answering similar questions?

[2018-12-19 12:29] QuAlan996 opened #1536 "Corpus categorization"
Hi all,
my question is related to the logic used by ChatterBot when processing multiple corpora. More specifically I made a chatbot to use in a company internal e-learning system: when a user asks a question about the behaviour of a specific software, the bot should provide the specific response.

This is the use case: my chatbot is trained with multiple corpora, each one about a specific topic. I

[2018-12-19 13:02] nightvision04 commented on #1426
I had the same "no attribute 'find' symptoms as Jereemi when installing 0.8.7 via 'pip3 install chatterbot. I run python 3.6 and osx 10.13.2.

After applying zasxsaz's fix by updating to 1.0.0a1, I get the following error:

`sqlalchemy.exc.OperationalError: (raised as a result of Query-invoked autoflush; consider using a session.no_autoflush block if this flush is occurring prematurely) (sqlite3.O

[2018-12-20 01:45] babyeleven commented on #1535
I saw the class 'JaccardSimilarity'. May I ask if this class can support Chinese?

[2018-12-20 07:08] Pd08111997 opened #1537 "About Zapier Connection"
When I try to connect my Chatterbot Account with Zapier its showing error.

I have A Demo Account on Platform.chatterbotbuilder.com and a PAid account on Build.thechatterbots.com

I cannot connect my Paid Account to Zapier.
And for Documentation, it's saying to visit Platform.chatterbotbuilder.com But The Paid account is not connecting?

[2018-12-20 15:44] Nonamow opened #1538 "Russian ChatterBot"
Firstly, you are very cool guys! Secondly, how can I use this [link](https://github.com/gunthercox/ChatterBot/issues/345) to create chatterbot.logic.MathematicalEvaluation with russian words? Also I'm trying to train bot with corpus-json files like in [russian site](https://habr.com/post/323570/) but python-script just ignored it (they are not some output). With YAMI-files all works perfectly...
T

[2018-12-22 01:55] xxcodianxx commented on #1426
Still having this issue, any fix?

[2018-12-22 08:42] kashyaparjun commented on #898
Try this:

`
{
    "conversations": [
          [
                "Hello, how are you doing today",
                "I am doing well, thank you"
          ],
         [
                "I cannot find my keys",
                "Where was the last place you remember having them?"
         ]
    ]
}
`

This should be the proper JSON structure for training

[2018-12-22 12:52] gunthercox commented on #1533
This is something that has come up before, #606 for example. I would be willing to consider adding this feature but I consider it lower priority as of right now. I'd be happy to discuss prioritizing it differently though. The key deciding factor would likely be based on what use cases exist.

[2018-12-22 16:08] MartinDelille commented on #1426
I proposed a fix but it was refused: https://github.com/gunthercox/ChatterBot/pull/1529

[2018-12-23 11:53] MartinDelille commented on #1426
@pylobot Yes he gave me explaination here: https://github.com/gunthercox/ChatterBot/pull/1529#issuecomment-449595270

I'm trying to investigate how to fix training.py but I'm still facing problems.

[2018-12-23 14:04] gunthercox commented on #1536
@QuAlan996 Since ChatterBot does not currently have a way to know what kind of user it is talking to, I would recommend creating multiple chat bots, (one designed to speak with less technically inclined personnel and another to speak with more technical users).

Would this be a viable solution for this scenario?

[2018-12-23 14:12] gunthercox commented on #1535
Hi @babyeleven, the "BestMatch" logic adapter would be the optimal choice for creating a chat bot to answer similar questions.

***

The "JaccardSimilarity" comparison method relies on part-of-speech tagging which does not currently support Chinese. I would recommend using "LevenshteinDistance" instead because it is language independent.

[2018-12-23 14:18] gunthercox commented on #1537
Hi @Pd08111997 I am not affiliated with either of those products. This is also the first time that I have heard about either of them. You will need to seek out help from whoever the owner of those websites is.

[2018-12-23 17:19] QuAlan996 commented on #1536
Thank you @gunthercox , I also considered that solution. But it is not possible to have only one istance of the bot, assuming that there is a system to categorize users? For example, I could add a log-in system to cathegorize them: if a "User1" (where "User1" is a user category) is logged-in the bot will consider only "corpus1" and "corpus3", if a "User2" is logged only "corpus2" and "corpus5", et

[2018-12-24 04:36] dsbyprateekg commented on #1375
No Bao,
I did not find any solution.

On Mon 24 Dec, 2018, 10:00 AM Bao Bill <notifications@github.com wrote:

[2018-12-27 01:05] gunthercox commented on #1538
Hi @Nonamow, you can use the Russian language support of the `MathematicalEvaluation` adapter like this:

[code]

[2018-12-27 01:21] #1518 closed

[2018-12-27 07:44] #1536 closed

[2018-12-28 20:50] #1537 closed

[2018-12-29 08:00] herboratory opened #1541 "Possible to apply multilingual within a bot?"
Hello! Thanks for making chatterbot that helps my project a lot.
I am writing a bot that will link to various IM platforms. I want to let the users choose and set either English or Chinese in the future. I would like to know if it’s possible to apply 2 languages within a bot?
This is my very first project and my programming skill is not good. If my question is inappropriate here, please free to te

[2018-12-30 14:29] herboratory opened #1542 "'Chatbot' is not defined in Chatterbot and few more questions"
I am making a chatbot through Chatterbot. I am facing the problems as follow:

1. when I run the code, it shows error, but the ChatBot is imported from chatterbot at the beginning?

2. I want to make the chatbot to distinguish specific texts then to trigger specific corpus, how can I make it? Is the "chatterbot.conversation.Response(text, **kwargs)" class for this purpose? e.g. when the user types

[2018-12-30 16:45] gunthercox commented on #1542
Hi, I'll try to answer all of your questions as soon as I can. At least for the first air that you encountered, the issue is likely related to capitalization. Use `ChatBot` instead of `Chatbot`.

[2019-01-01 04:17] vkosuri commented on #1542
To avoid this confusion going forward ``ChatBot`` replace with ``chat_bot`` in feature release?

[2019-01-01 16:15] kangaroocancode opened #1544 "Can chatterbot reply by pictures?"
if user input asking for "map", the bot reply by sending a picture to the conversation, Is it supported?

[2019-01-02 00:18] gunthercox commented on #1541
Hi @herboratory, I would recommend creating one bot per language as this may be simpler to implement with the current version of ChatterBot.

***

**Note:** A question similar to this recently came up (#1536) where the goal was to have a single chat bot for multiple types of users (as opposed to the multiple types of languages as described in this case). I am currently considering adding functiona

[2019-01-02 01:42] gunthercox commented on #1218
I've introduced additional filtering in https://github.com/gunthercox/ChatterBot/tree/1.0.0a1, https://github.com/gunthercox/ChatterBot/tree/1.0.0a2, and https://github.com/gunthercox/ChatterBot/tree/1.0.0a3 that decreases the size of the result set before a response if processed.

These changes improve the response time significantly for large data sets. I'm going to continue work to improve the

[2019-01-02 01:42] #1218 closed

[2019-01-02 01:45] #1522 closed

[2019-01-02 01:52] gunthercox commented on #1542
@vkosuri I suppose that could possibly prevent confusion to an extent, but I'd prefer to follow the recommended naming conventions for classes in Python.

https://www.python.org/dev/peps/pep-0008/#class-names

[2019-01-02 06:39] azarezade commented on #1463
@gunthercox @alentoscope, have you ever think about a clustering algorithm to reduce the number of comparisons?
For example if we have 100,000 dialogue (sentence pair) in db, then for each new query in the current version we need 100,000 comparison (distance evaluation), but if we first perform an offline clustering  and have 1000 cluster for example with about 100 dialogue in each cluster, then w

[2019-01-02 12:45] riteshk28 commented on #1213
Not sure if you guys have resolved the issue, however, I faced the same error and by upgrading my pip I was able to install chatterbot with no issues.

python -m pip install --upgrade pip
pip install chatterbot

[2019-01-03 06:40] lxz1992 opened #1546 "Chatterbot Connecting Mysql Database"
Hi guys, I want to put the chatterbot in the Django project and connect the MySQL database in the server. How to connect the MySQL database?  Thanks a lot.

[2019-01-03 08:12] shishu19 commented on #1315
Hi FathimaFirdhouse
Can U send Me code for your GUI what U have created for your chat bot as I am need in UI

Please Help
Thanks

[2019-01-04 05:31] herboratory commented on #1541
OK! That would be great! Thank you so much for the reply! :)

[2019-01-05 11:10] warp1337 commented on #1390
You can write your own input adapter and extract the intents using nlp. This project seems far from abandoned.

[2019-01-05 13:53] kulkarniniraj opened #1547 "Concurrent connections"
Since create_conversation is removed now (in 1.0 alpha), how to create concurrent conversation?

[2019-01-05 14:33] gunthercox commented on #1547
Conversations are now "created" by passing a `conversation` parameter to the `Statement` object.
You can now think of a conversation as something like a label for a statement.

[code]

The value you set for `conversation` can be any string you choose.

[2019-01-05 14:36] kulkarniniraj commented on #1547
Thanks. That is easy to use.

[2019-01-05 14:37] gunthercox commented on #1546
Hi @lxz1992, when using ChatterBot with Django the chat bot can have access to whatever Database your Django setup has been configured to use. Here are some instructions for configuring Django to use MySQL.

https://docs.djangoproject.com/en/2.1/ref/databases/#connecting-to-the-database

[2019-01-05 14:40] gunthercox commented on #1544
Hi @kangaroocancode, one way you might be able to do this is to add some extra notation to the end of the text in responses that your chat bot returns. Then, if that notation exists in the response, you could render the picture for the user.

[2019-01-05 20:15] yashshukla183 commented on #1044
try with sudo , it worked for me.

[2019-01-05 20:16] yashshukla183 commented on #1044
try to run using sudo, it will work

[2019-01-05 20:36] #696 closed

[2019-01-05 20:37] #1538 closed

[2019-01-07 04:47] statcom opened #1551 "table statement has no column named search_text"
When I ran basic_example.py or the example in main page, I got following error message.

[code]

[2019-01-07 11:14] #1533 closed

[2019-01-07 12:51] gersosa commented on #1546
But it throws error: django_chatterbot.Statement.text: (mysql.E001) MySQL does not allow unique CharFields to have a max_length > 255.

[2019-01-08 11:41] Aljumaili85 opened #1553 "Answers Updating"
Hi there,
previously I faced a problem of updating the ChatterBot answers when its could not find the right one for a given question, my chatterbot was trained using data from the ChatterBot dialog corpus .

Then I decide to create my own chatterbot from by creating empty database and inserting the question and the the answer one by one using the example "learning_new_response.py".

the applicatio

[2019-01-09 09:28] JasonZhang1991 opened #1554 "Why does SQLStorageAdapter.get_latest_response take the second last as the last response"
Why does SQLStorageAdapter.get_latest_response take the second last as the last response, shouldn't it be the first one?

[2019-01-09 09:30] JasonZhang1991 commented on #1554
Why does SQLStorageAdapter.get_latest_response take the second last as the last response, shouldn't it be the first one?

[2019-01-09 09:31] JasonZhang1991 commented on #1554
Why does SQLStorageAdapter.get_latest_response take the second last as the last response, shouldn't it be the first one?

[2019-01-09 09:55] Chingcham opened #1555 "AttributeError: 'ChatBot' object has no attribute 'set_trainer'"
Hi,
Just after installing ChatterBot ( version is 1.0.0a3.) , I tried to execute the following code snippet from quick start guide:

[code]

It failed to execute with the error, " AttributeError: 'ChatBot' object has no attribute 'set_trainer' ". I couldn't find any other post related to this attribute either.
I skimmed through the code of chatterbot.py and found ChatBot indeed  has neither 'set_t

[2019-01-09 13:34] JasonZhang1991 opened #1556 "please tell us the detail of how the bot to study itself"
please tell us the detail of how the bot to study itself

[2019-01-09 22:26] syu3 opened #1557 "How to delete chatterbot learning data."
database-Aを学習させた後、学習したものを一度消して、次にdatabase-Bを学習させたいです。
しかし、私が試した方法では一度学習したものを消すことができません。

聞きたいこと
-学習したデータを削除する方法

[2019-01-10 07:56] vkosuri commented on #1557
delete ``sqlite.db`` in your workspace. I think it's in the current directory.

[2019-01-10 12:01] syu3 commented on #1557
@vkosuri
I want to execute code and realize it.
However, if you do this with python, you get a `Server Error (500)` error
[code]
How can I do it?

[2019-01-10 16:15] Dulce06 opened #1558 "Postgres storage adapter"
Hi,

Has anyone come up with a storage adapter for Postgres.

I would like to have postgres storage adapter rather than SQL and Mongodb. But, I am really struggling to create one. Can someone please help  me with this.

If all good, I will prepare the documentation for this.

Many thanks in advance.

[2019-01-11 14:19] Dulce06 commented on #1558
Hi all,

I have successfully created storage adapter for postgres. I can now save the traninig data and conversations on postgres.

The only issue is, it doesn't store the conversation in an order and some of the statements are missing.
Glad that I am able to connect to the db and save something finally.

Will try to fix this issue soon and will update.

[2019-01-11 22:18] gunthercox commented on #1542
@herboratory Following up with your other questions.

2. ChatterBot will select a response from the corpus that contains the best matching response to the input it receives. So, if a user types "Bye" it will select a response accordingly based on the closest match that it can find, regardless of what set of training data, or corpus the response originated from.

3. There is noting built into Chatt

[2019-01-11 22:35] gunthercox commented on #1463
@azarezade Clustering does sound like an effective strategy. Are there any criteria you would suggest for creating each of the dialog clusters?

[2019-01-11 22:58] gunthercox commented on #1557
Here is an example of removing the content from a chat bot's database.

[code]

[2019-01-11 23:06] gunthercox commented on #1554
The second to last response is the newest response that the chat bot has generated. The `get_latest_response` depends on the conversation structure alternating between user and bot produced statements.

[2019-01-11 23:12] gunthercox commented on #1556
In general, this is achieved by comparing known examples of responses that have been given to the bot (we assume that whoever the bot interacts with is a trustworthy source, someone who knows how to respond correctly) and those responses are used in the future to respond to similar inputs.

More information about this can be found in the documentation.
https://chatterbot.readthedocs.io/en/latest/#

[2019-01-11 23:17] gunthercox commented on #1551
Hi @statcom, it sounds like this might be an issue in ChatterBot. I'll mark this as a possible bug and research it further as soon as I have a chance.

[2019-01-12 00:39] gunthercox commented on #1558
Hi @Dulce06, if it helps at all, ChatterBot's SQL storage adapter uses the SQL Alchemy library. SQL Alchemy supports Postgres so you might not need to build your own.

https://docs.sqlalchemy.org/en/latest/dialects/#included-dialects

Please let me know if you run into any issues as I do not currently have the resources to run tests for all databases supported by SQL Alchemy.

[2019-01-12 06:12] azarezade commented on #1463
@gunthercox For example if someone use a clustering method like DBSCAN, which can do clustering using a precomputed distance (useful in our case, Leveneshtien distance):
`DBSCAN(eps=eps, min_samples=min_samples, metric='precomputed').fit(X)`
`min_samples` and and `eps` are the criteria. But how to choose them to have some good clusters depend on the nature of data and similarity between sentences.

[2019-01-12 14:07] #1544 closed

[2019-01-12 14:07] #1547 closed

[2019-01-12 14:44] CharlieChengtianyue opened #1559 "why there always an error while running running `python manage.py runserver 0.0.0.0:8000`"
although someperson did ask this question
i am confused about what is wrong toward this?

NoReverseMatch at /

'chatterbot' is not a registered namespace

Request Method: 	GET
Request URL: 	http://127.0.0.1:8000/
Django Version: 	2.1.5
Exception Type: 	NoReverseMatch
Exception Value:

'chatterbot' is not a registered namespace

Exception Location: 	/home/charliecheng/.local/lib/python3.5/site-pack

[2019-01-12 14:59] gunthercox commented on #1559
Hi @CharlieChengtianyue, a fix has been merged. See #1552 for details.

[2019-01-12 15:46] ankitsri3019 opened #1561 "Running chatterbot step by step."
Hi Gitters,

I am new to this AI and ML world and trying to learn the working and build of this chatterbot.
I want to quick step by step guide to run this chatbot on my local machine.
I already have installed python and chatterbot package. When creating a python file for training, it thows too many errors.
Please just guide me from step 1.
Any help will be much appreciated.

Thanks.

[2019-01-12 15:56] gunthercox commented on #1561
Hi @ankitsri3019 I'm sorry to hear that your Python file is throwing too many errors. May I ask if you have had a chance to look over the quick start guide? (https://chatterbot.readthedocs.io/en/latest/quickstart.html

If so, could you tell me how far you were able to get, and what the errors you encountered were?

[2019-01-12 17:43] #1546 closed

[2019-01-12 17:48] ankitsri3019 commented on #1561
I have already performed initial steps.
I am attaching the screenshot of the errors.
Please guide me over this.
robot3.py is file name with the code.

Thanks
![error_python_file](https://user-images.githubusercontent.com/28706200/51076560-10a08d00-16c0-11e9-94ae-a318bee8912d.JPG)

[2019-01-12 22:45] #528 closed

[2019-01-12 22:45] #682 closed

[2019-01-12 22:45] #691 closed

[2019-01-12 22:45] #794 closed

[2019-01-12 22:45] #1281 closed

[2019-01-12 22:45] #1285 closed

[2019-01-12 22:50] gunthercox commented on #1561
Hi @ankitsri3019, thank you for the screenshot. From what I can see, everything looks correct.
The error message that you are getting leads me to believe that you might not be using the correct version of Python.

Can you check to make sure that you are using Python 3.4 (or higher).

[2019-01-13 05:43] CharlieChengtianyue commented on #1559
Hi @gunthercox, thanks for your reply, although the website can work now, but if i submit anything, nothing happens, and there are lots of errors in my terminal.
my python version is 3.5 and django is 2.1, can this app fit these versions?

[2019-01-13 06:00] CharlieChengtianyue commented on #1559
here are the errors:
Internal Server Error: /api/chatterbot/
Traceback (most recent call last):
  File "/home/charliecheng/.local/lib/python3.5/site-packages/django/db/backends/utils.py", line 65, in execute
    return self.cursor.execute(sql, params)
  File "/home/charliecheng/.local/lib/python3.5/site-packages/django/db/backends/sqlite3/base.py", line 328, in execute
    return Database.Cursor.e

[2019-01-13 15:08] gunthercox commented on #1559
Python 3.5 and Django 2.1 are both the ideal versions to be using.

For this error, I think this line is the describes what the issue is: `django.db.utils.OperationalError: no such table: django_chatterbot_conversation`. It sounds like your database is missing a table that it needs.

[2019-01-13 15:31] CharlieChengtianyue commented on #1559
so what i need to do is to install chatterbot again?
i am new here and i am not quite familiar with this

[2019-01-13 20:39] #1464 closed

[2019-01-13 21:22] gunthercox commented on #1201
I'm going to close this ticket off. I am no longer planning to make this change.

[2019-01-13 21:22] #1201 closed

[2019-01-13 21:29] #1515 closed, assigned to nobody

[2019-01-13 23:38] gunthercox commented on #1455
Nobody has picked this up since October. I'm going to close this ticket off.

[2019-01-13 23:38] #1455 closed

[2019-01-13 23:41] gunthercox commented on #1354
I'm going to close this off now that the math adapter uses one of the standard language parameters added in #1548.

[2019-01-13 23:41] #1354 closed

[2019-01-14 00:22] #1414 closed, assigned to gunthercox

[2019-01-14 00:31] #1557 closed

[2019-01-14 06:39] nikhilv-quantela commented on #1197
Thanks for your response

On Mon, Jan 14, 2019 at 6:00 AM Gunther Cox <notifications@github.com>
wrote:

--
Nikhil Vashishtha
Data Scientist
Quantela Inc.
Bengaluru

+91-7477858588

[2019-01-14 08:58] Dulce06 commented on #1558
Hi @gunthercox

Thanks for the message.

I am able to connect to the postgres.  But, when I interact with my bot , not all the messages are saved in my DB. It skips couple of them/ any single line in between and they are out of sync ( results data stored in the wrong column) .
Few times, it does not store them at all.

Any suggestion to fix this?

Many thanks

[2019-01-14 09:12] Aljumaili85 commented on #1553
No, actually  I have one and only one answer for each question, but it seems that the BestMatch is not selecting the right matched question , but at the same time BestMatch works good with the database of  dialog corpus

[2019-01-14 09:48] Chingcham commented on #1555
Thank you! I suspected that, but I was unable to find version difference for documentation. The link helped.

[2019-01-14 09:49] #1555 closed

[2019-01-14 15:40] svijay7598 opened #1567 "can not able to run server"
Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x7fc03f8d3048>
Traceback (most recent call last):
  File "/home/vijay/workspace/anomaly/lib/python3.5/site-packages/django/utils/autoreload.py", line 225, in wrapper
    fn(*args, **kwargs)
  File "/home/vijay/workspace/anomaly/lib/python3.5/site-packages/django/core/management/commands/runserver.py", line 117, in

[2019-01-15 08:20] rtiwariops commented on #1426
Same issue here.
sqlalchemy.exc.OperationalError: (raised as a result of Query-invoked autoflush; consider using a session.no_autoflush block if this flush is occurring prematurely) (sqlite3.OperationalError) table statement has no column named conversation [SQL: 'INSERT INTO statement (text, conversation, in_response_to) VALUES (?, ?, ?)'] [parameters: ('What is AI?', 'training', None)] (Backgrou

[2019-01-15 08:40] gunthercox commented on #161
Quite a bit has changed since this ticket was first opened. At this point I'm no longer planning to write a research paper related to ChatterBot. My efforts will instead be directed towards improving the existing documentations and tutorials.

[2019-01-15 08:40] #161 closed

[2019-01-15 10:49] gunthercox commented on #1541
I have made some changes that should be available when the next version of ChatterBot is released.

Here is a small example for your convenience, I hope this helps.

[code]

[2019-01-15 10:54] #1179 closed

[2019-01-15 10:54] #1541 closed

[2019-01-15 11:02] gunthercox commented on #1567
Hi @svijay7598, please take a look at this line from the traceback you posted:
[code]

This means that line number 110 in the file `/home/vijay/workspace/simple-django-login-and-register/source/accounts/views.py` has some code that isn't formatted correctly.

More specifically, the line of code in this file `username = f'user{user.id}'` is only valid when using Python 3 or higher. I'm guessing tha

[2019-01-15 11:09] gunthercox commented on #1559
Installing ChatterBot again probably won't fix this issue. As long as there isn't any data in your database that you want to keep, I'd recommend just deleting the database file (it is probably labeled something like `database.sqlite3`). Then, after restarting your application, a new database will be created with the correct tables.

Please let me know if you encounter any issues with this.

[2019-01-15 11:11] gunthercox commented on #1558
@Dulce06 can you tell me what version of ChatterBot you are using? Also, an example of the data that is appearing in the wrong column would be useful.

[2019-01-15 11:34] gunthercox commented on #1463
I'll have to do a bit of reading. `DBSCAN` sounds very promising and it looks like sklearn has a number of clustering algorithms available.

[2019-01-15 11:39] gunthercox commented on #1553
Interesting, I'll mark this as a possible bug then. I'm not aware of any issues currently effecting how the BestMatch adapter selects responses, but I'd happy to work on a solution if the problem can be identified.

[2019-01-15 11:44] gunthercox commented on #1517
@aawee, I apologize for the delayed response. The `INSTALLED_APPS` should be a variable that you can find in the `settings.py` file of your Django project.

I hope that other than this, all has gone smoothly with the installation?

[2019-01-15 11:48] gunthercox commented on #1415
I'm going to close this off as something that won't be done for now.

[2019-01-15 11:48] #1415 closed

[2019-01-15 12:07] #1528 closed

[2019-01-15 12:34] gunthercox commented on #1357
Sorry everyone. I don't have any examples for how to so this. I would recommend looking into [Python's regular expression](https://docs.python.org/3/howto/regex.html) capabilities to extract SQL-like words from a string of text. Custom text tokenization through a library like NLTK might be another option if you are looking for something that can use examples to generate the rules for what words to

[2019-01-15 12:34] #1357 closed

[2019-01-15 20:30] jkries opened #1571 "What to do now for low confidence?"
I see that as of this new Version 1, the LowConfidenceAdapter has been removed.

What has replaced it?

I have the following code which is now broken:

bot = ChatBot(
    "Chat Bot",
    logic_adapters=[
        {
            'import_path': 'chatterbot.logic.BestMatch'
        },
        {
            'import_path': 'chatterbot.logic.LowConfidenceAdapter',
            'threshold': 0.65,

[2019-01-16 10:01] moiz7994 commented on #1555
This is my code

from chatterbot import ChatBot
from chatterbot.trainers import ListTrainer
from chatterbot.trainers import ChatterBotCorpusTrainer
import os

bot=ChatBot('Bot')
bot.set_trainer(ListTrainer)

for files in os.listdir('C:\chatterbot-corpus-1.2.0\chatterbot_corpus\data\english/'):
    data= open('C:\chatterbot-corpus-1.2.0\chatterbot_corpus\data\english/' + files,'r').readlines()