[2016-10-15 23:58] Nixellion commented on #241
@navyad Any news? I see the sqlite fork, but it still says wip. Any eta? :) Just curious.

[2016-10-16 20:29] Nixellion opened #350 "ClosestMeaningAdapter nltk_data download loop"
Whenever I try to use ClosestMeaningAdapter, it goes into download loop like this:

[code]

However nltk is downloaded. Is it me, or is there a bug?

[2016-10-16 22:15] gunthercox commented on #350
I've seen this before, but it appears to be somewhat sporadic. Occasionally data files will be downloaded for NLTK even when they have already been downloaded. I will look into the issue.

[2016-10-17 02:42] chenjun0210 commented on #238
I've had a similar problem.

Traceback (most recent call last):
  File "/Users/chenjun/git/AI_ChatterBot/chatterBot/examples/terminal_mongo_example.py", line 28, in <module>
    bot.train("chatterbot.corpus.sports")
  File "/Users/chenjun/git/AI_ChatterBot/chatterBot/chatterbot/trainers.py", line 80, in train
    trainer.train(pair)
  File "/Users/chenjun/git/AI_ChatterBot/chatterBot/chatterbot/tr

[2016-10-17 04:15] Nixellion commented on #238
Yeah, ill say it again, that I NEVER saw this issue on Raspberry Pi 3, Raspbian linux os. With exactly same files. It just works there, while on my i7 windows machine it works 100x faster, but throws errors

[2016-10-17 06:14] navyad commented on #241
@Nixellion ,  development is going on [here](https://github.com/davizucon/ChatterBot/tree/sqlalchemy-adapter). @davizucon  has taken over this issue.

[2016-10-18 11:01] #343 closed

[2016-10-18 11:02] #331 closed

[2016-10-19 00:16] Nixellion opened #352 "chatbot.trainer.export_for_training does not export Cyrillic correctly"
It seems that chatbot.trainer.export_for_training function and underlying json processor does not use utf on export or something. Instead of Cyrillic symbols it stores strings like this: "\u041a\u043e\u0441\u043c\u043e\u0441"

Should be an easy fix. With other strings in Python 3 it's usually enough to use codecs.open (or io.open ) with encoding='utf-8'.

[2016-10-19 00:16] Nixellion commented on #350
Thanks. Happens all the time here :(

[2016-10-19 00:21] Nixellion commented on #302
Just to give some information on the issue... While adapters are great and it's nice that they use confidence check, I found it more reliable and easy to write my own regex based command-parser for my assistant ai. Any user input goes through the command parser first, and it only goes to chat bot if no matching command was found.

At least for now.

[2016-10-19 00:22] Nixellion commented on #241
thanks for info

[2016-10-19 00:24] Nixellion commented on #261
Happened with me too. I had to split long replies, only taking first sentence or discarding it if it's too long, but it's still a bad solution imho

[2016-10-19 00:25] Nixellion commented on #345
Thanks, that's what I wanted to know :)

[2016-10-19 13:34] davizucon commented on #241
Hi @Nixellion, thanks for asking, by the way, the storage adapter using SQLalchemy. There is a few tests not passing, when everything ok I'll make a PR, for beta. Few free to ask and suggestions.

[2016-10-19 16:55] thedp commented on #295
@gunthercox ETA for the fix?
Thanks.

[2016-10-19 17:19] hobson commented on #295
fix in 2 weeks on my fork @totalgood, with PR to @gunthercox repo

[2016-10-19 17:43] gsingers commented on #260
@gunthercox I'll try to get a PR up soon.  @davizucon see the link above to RTFMbot.

@gunthercox I've looked through the code, not sure I see where the training is happening.  Can you point me at it?

[2016-10-19 17:59] gunthercox commented on #260
@gsingers Check out the two training modules (`ListTrainer`, `ChatterBotCorpusTrainer`) in [trainers.py](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py)

[2016-10-20 09:09] chenjun0210 commented on #164
Does It support parallel Training？

[2016-10-20 11:32] gunthercox commented on #164
Parallel training is only supported if the database being used supports concurrent writes. The default file database that ChatterBot uses does not support concurrent writes, but if you use mongo db it will.

[2016-10-20 16:01] chenjun0210 commented on #164
my data size about
i use mongo db . but i dont know how to set the training parameters or  when i use mongodb the default is parallel training ？？  thanks a lot

[2016-10-20 16:02] chenjun0210 commented on #164
my data size is about  2G

[2016-10-21 09:44] chenjun0210 commented on #295
@hobson hi , i want to train the chatterbot with  storage DjangoStorageAdapter, and use database as django  database . but It seems inconsistent database formats

[2016-10-21 14:02] gunthercox opened #354 "Parallel training functionality"
Using python's multiprocessing, large amounts of training data can be applied to a ChatterBot instance in parallel as long as the database being used with that chat bot supports concurrent writes.

The goal would to be to create a new training class that will split a large file into multiple files, and then train the chat bot using multiple parallel processes.

[2016-10-21 14:02] gunthercox commented on #164
You will probably need to do a bit of work to get the import process ready to bring in 2GB of data in parallel. I would recommend breaking it up, if possible, into a few files of manageable size. You will then have to use python's multiprocessing capabilities to start training processes on each subset of the data file. This functionality isn't built into ChatterBot at the moment, if you are unsure

[2016-10-22 06:49] liberaltech opened #355 "JavaScript ChatterBot"
Do you plan on expanding chatterbot to any other languages like JavaScript? It seems like it wouldn't be that difficult since python and JavaScript share a somewhat similar syntax. Would be nice to see this type of bot on node.js, most of the JS bots I've seen so far aren't intelligent bots.

[2016-10-22 12:01] thedp opened #356 "A way to communicate additional params to the logic adapter?"
Will there be a way to allow a logic adapter to receive additional information beyond just the statement?

For example, with a Django app I would like to send a custom logic adapter the user information, so the bot will take this into account when constructing a reply.

Thanks.

[2016-10-23 09:45] vkosuri opened #357 "identify logic adapter using prefix"
I think most of the chatbots are doing identifying their logic adapter using specific keywords

For exmaple

[code]

I can call logic adapter from chatterbot is something like below

[code]

[2016-10-23 09:51] vkosuri commented on #357
The workaround i am doing

[code]

[2016-10-23 14:48] gunthercox commented on #355
Hi @liberaltech, I currently don't have any plans to recreate ChatterBot in JavaScript. I would not be opposed to helping out with a JavaScript fork of the project if anyone ever decides to create one, but for the time being most of my efforts are placed on developing and expanding the current codebase.

***

As a side note, I've seen several examples of ChatterBot being used in web APIs which can

[2016-10-23 14:51] gunthercox commented on #356
Currently no. Getting this set up would require some modifications to the current codebase. With that said, I think this would be a fantastic thing to support. I will look into the required changes in the current Django views that would be needed to allow this.

[2016-10-23 15:06] gunthercox commented on #357
I like what this idea is trying to accomplish, unfortunately I think it might be going slightly against what ChatterBot aims to accomplish. This seems more like a command line application than an interactive conversation.

The goal for ChatterBot is to understand the user's input and then respond appropriately. If there is any opportunities to improve it's ability to answer questions and respond t

[2016-10-23 15:11] rmdort commented on #357
Agree. Why cant your logic adapter handle this? For example

In your `chatterbot_jira.JiraLogicAdapter`

[code]

[2016-10-23 16:59] #357 closed

[2016-10-23 17:13] vkosuri opened #358 "reponse based previous statements"
Is there a way chatterbot can respond previous statements for example, In the below example i am referencing jira xx-1234 only first time.

[code]

Few ideas i am not sure will it work or not

Maintain lookup table for statements if user always referencing a particuler thing, This might be slow down process, but it's worth to maintain good conversation with bot.

Any thoughts/suggestions?

[2016-10-23 18:28] gunthercox commented on #358
In this case, what if you modified your logic adapter to have a variable like `self.last_ticket_referenced`. Then, if the input contains the desired trigger phrase, `self.last_ticket_referenced` is updated to match. Perhaps something like this:

[code]

This will allow the logic adapter that handles jira related input to keep track of the last ticket that was mentioned by the user.

[2016-10-23 23:30] #355 closed

[2016-10-24 02:43] rmdort commented on #358
@gunthercox This wont work if multiple users are asking for the ticket status, because last_ticket_referenced will change (considering that there is only a single chatbot instance)

You will have to spawn multiple chatbots or use mongo DB to store these values

[2016-10-24 08:05] vkosuri commented on #358
@rmdort agreed with you, If i use mongo DB how do i handle this situation? could you provide a example scenario?

[2016-10-24 08:17] rmdort commented on #358
I usually have a Users class which syncs the data with mongo

This might help. PS: I am using websockets,
https://gist.github.com/rmdort/be125bf5ab04876bf073563dc755ef7d

Maybe there is a better way of doing it. Open to feedback

[2016-10-24 16:24] gunthercox commented on #2
Work is being done on the subtree branch (https://github.com/gunthercox/ChatterBot/tree/subtree) to support finding past conversations that are similar to the current one.

[2016-10-24 17:01] gunthercox commented on #17
I'm going to close this off as a ticket and move the content of the discussion into the project wiki (https://github.com/gunthercox/ChatterBot/wiki/Turing-Test-Questions). Eventually my goal will be to create a document that proposes a methodology for creating good questions to ask a computer / human to try to determine which is which. Obviously this project is still a ways away from this level of

[2016-10-24 17:01] #17 closed

[2016-10-24 17:42] #214 closed

[2016-10-24 18:22] #345 closed

[2016-10-25 02:13] maclogan opened #359 "Running Django example app return UnrecognizedInputFormatException"
Running the Django example app listed under examples with no modificiation returned "chatterbot.adapters.input.variable_input_type_adapter.VariableInputTypeAdapter.UnrecognizedInputFormatException: "This type <'NoneType'> is not recognized as a valid input type."

I feel like this is an error on my end but I can't seem to resolve it.

[2016-10-25 03:25] vkosuri commented on #359
I think you have to add chatbot init to settings.py. I am using like this

I am getting authentication issue, so I have commented CsrfViewMiddleware

[code]
[code]

[2016-10-25 03:27] vkosuri commented on #358
I think the same question i was asked here https://github.com/gunthercox/ChatterBot/issues/2

[2016-10-25 03:43] rmdort commented on #2
This looks awesome.  Will past conversations be tied to the User?

[2016-10-25 03:45] maclogan commented on #359
Thanks for the response, but this didn't seem to work for me.  I am still getting the same error message as before.

[2016-10-25 04:33] vkosuri commented on #359
@maclogan could you paste you console output, By the way a quote was missed

[code]

More info available here http://chatterbot.readthedocs.io/en/stable/django/settings.html

[2016-10-25 12:52] gunthercox commented on #2
Not yet, but in future additions that functionality will definitely be added.

[2016-10-25 14:31] maclogan commented on #359
This is the full error I get after hitting the submit button on the online UI provided in the django app example.

`Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/django/core/handlers/exception.py", line 39, in inner
    response = get_response(request)
  File "/usr/local/lib/python3.5/dist-packages/django/core/handlers/base.py", line 249, in _legacy_get_response

[2016-10-25 14:45] gunthercox commented on #359
@maclogan What version of Django do you have installed?
You can run `python -m django --version` to check this.

[2016-10-25 14:53] maclogan commented on #359
I have 1.10.2 installed

[2016-10-25 15:48] gunthercox commented on #359
Hmm, OK. I can't create this issue testing with Python 3, Django 1.10.2 and the latest version of ChatterBot.

Is there any chance that you are using the old example code from https://github.com/gunthercox/django_chatterbot (which is outdated and no longer maintained)

instead of https://github.com/gunthercox/ChatterBot/tree/master/examples/django_app (which is the latest, tested copy of the examp

[2016-10-25 16:17] maclogan commented on #359
Hm I must be doing something wrong then.  I am using the current example app and have just tried it on another python/django installation and it didn't work

[2016-10-26 02:04] maclogan commented on #359
So just to be sure I am not missing anything obvious, to run the example app all I have to do is be sure my django, chatterbot, and example/django-app are up to date, modify the setting.py file to add logic adapters to the chatterbot settings, and run a migration.  Then I just runserver like usual, correct?

[2016-10-26 04:22] vkosuri commented on #359
yes

[2016-10-26 09:08] saadj55 opened #360 "Extracting Nouns and other choice data"
Can I extract useful data from the user inputs?

Like,

User: My name is saad.
Bot: Hello Saad

Can I extract nouns like above and other useful data choices from the user? On which I can direct the user to some other route in my app.

[2016-10-26 09:16] rmdort commented on #360
1. To extract names, you have to use a Named Entity Extractor (nltk, Spacy, Mitie etc)
2. To extract nouns, Chatterbot uses nltk pos tagger

[code]

All this has to be done in a logic adapter

[2016-10-26 10:28] saadj55 commented on #360
@rmdort can you please elaborate a bit more on this?

[2016-10-26 15:01] rmdort commented on #360
I would suggest you to learn more about `Parts of Speech` tagger and NER tools. Google is your friend :)

[2016-10-26 16:59] gunthercox commented on #359
@maclogan What version of ChatterBot do you have installed?

[2016-10-26 17:51] maclogan commented on #359
chatterbot-0.4.10

[2016-10-26 19:51] gunthercox commented on #359
Ok, I was just able to replicate the issue you are having. I've released ChatterBot `0.4.11` which appears to fix this problem. What to upgrade and check if the issue is fixed for you? You should be able to run `pip install chatterbot --upgrade` to get the latest copy.

[2016-10-26 20:18] maclogan commented on #359
That seems to have fixed it!  Sorry for the trouble, I ran an update on chatterbot 2 days ago, but I just checked my logs and I guess it failed during the installation.

[2016-10-26 20:18] #359 closed

[2016-10-27 18:05] vkosuri opened #363 "capabilities of chatbot"
We are adding different logic adapters to a chatbot but end user man not remember all these logic adapter that are installed/added to an chatbot.

By introduce a special keyword like ``!help`` or something it will produce  logic adapters info and a breif description what it does.

Any suggestions/thoughts?

[2016-10-27 18:11] vkosuri commented on #358
Closing this issue it is going address in #2

[2016-10-27 18:11] #358 closed

[2016-10-28 01:47] rmdort commented on #363
Hmm. Why should an end user know about your logic adapter.

Logic adapters are processed sequentially

[code]

And whichever get the highest confidence score gets selected. In your case you can have a Logic adapter that captures `!help` and generate a custom message.

[2016-10-28 03:57] vkosuri commented on #363
Thank you, Assume i am going to provide a complex Django chat bot that include many customer relations, internal operations, employee related information, other rest operations and etc.,

Here we have different types end users are going use same single chatbot. End user don't know what capabilities or services that chatbot is providing to him this gives customer a bad relation.

We should tell wha

[2016-10-28 04:19] rmdort commented on #363
Exactly. Have a logic adapter to do this

[code]

[2016-10-29 17:46] Nixellion opened #366 "Multiple knowledge themes"
From what I understand, right now all the conversations of the chatbot are added to one database.

But what about 'injecting' and 'removing' certain knowledge?
For example, a chatbot is trained from live conversations with users, but at some point I want to inject into him dialogues from a certain book, to allow him to use answers from that book along with those trained from actual people.

But th

[2016-10-29 17:59] alekaizer commented on #366
I don't think it's currently possible to use X,Y,Z dataset based on the user talking.

And for the training, you can write your own trainers and implement your own logic on removing/updating etc...

[2016-10-29 18:35] alekaizer opened #367 "How can we have a Null response when statement doesn't exist but confidence is good"
Hi @gunthercox, using ClosestMeaning and ClosestMatch adapters output some weird-ish sometimes:
Let's take this dataset:

[code]

and chatterbot init this way:

[code]

Bot is trained with **pair**

[code]

and let's input these:

[code]

**1** Is obviously wrong but the confidence(**0.74**) is even higher than **2**'s(**0.62**)

So my question is how can I have the bot knows that **1** is wrong b

[2016-10-29 19:03] gunthercox commented on #363
I'm going to close this ticket as I believe @rmdort has provided a good solution.

[2016-10-29 19:03] #363 closed

[2016-10-29 19:12] gunthercox commented on #366
Adding information is currently supported through the [training process](http://chatterbot.readthedocs.io/en/latest/training.html), however not to the extent that you describe.

I'm planning to (very soon) introduce a `Conversation` object that allows the chat bot to manage information from individual conversations that it has had or has been trained with. I believe this will provide the functiona

[2016-10-29 22:03] Nixellion commented on #366
Thanks, gunthercox, yes, I believe that Conversation object should be just what I need.

[2016-10-30 03:11] vkosuri commented on #356
As said @gunthercox , You could something like below, by introducing a new param ```CHATTERBOT_ARGS``` dict object

[code]

You can import these setting in your logic adapter, More information here https://docs.djangoproject.com/en/dev/topics/settings/#using-settings-in-python-code

[code]

[2016-10-30 04:20] vkosuri commented on #350
I believe you were seeing this looping message due to https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/utils/wordnet.py#L18

Usually we don't have privileges default nltk download directories, obviously We will get LookupError Exception,

And also the expected default directories are ``/home/<user/nltk`` on ``Linux``, `` C:\Users\<user>\AppData\Roaming\nltk_data`` on ``Windows``

[c

[2016-10-30 15:38] ThomasKoscheck opened #371 "Pythonerror when using german umlauts"
Chatterbot gives me a pythonerror when using german umlauts like ä,ü,ö,ß because of wrong encoding

[2016-10-30 16:18] vkosuri commented on #363
@gunthercox The solution will solve if i have a couple of logic adapters. I am considering a large amount logic adapter are installed on single adapter this solution i have rewrite everything.

Instead if we have base_helper_logic adapter, we can overwrite those methods inside one logic operator.

[2016-10-30 16:19] vkosuri opened #372 "Session management"
@gunthercox any plans adding sessions management to ChatterBot?

[2016-10-30 16:29] vkosuri commented on #290
@gunthercox interested to work for it, Any ETAs for this task?

[2016-10-30 18:11] gunthercox commented on #350
This should be resolved by #369

[2016-10-30 18:11] #350 closed

[2016-10-30 18:15] gunthercox commented on #290
@vkosuri Unfortunately I haven't had a chance to look into this yet. The REST API documentation for the bot framework looks to be rather thorough, but I haven't been able to look into what would be required to support integration with it or how much work it would involve.

[2016-10-30 18:19] gunthercox commented on #372
Yes, I briefly mentioned adding support for supporting conversations with multiple different users in https://github.com/gunthercox/ChatterBot/issues/313#issuecomment-250967889, but essentially the way it would be supported is with a form of session management for each conversation _session_ that that the bot is having.

[2016-10-30 19:04] alekaizer opened #373 "Missing corpus after upgrade: /data/portuguese/compliment_pt-BR.json'"
I just upgrade the module to have the fix on **nltk_loop** and there's a missing corpus after the upgrade

[2016-10-30 19:08] gunthercox commented on #373
It looks like it was renamed to `compliment.corpus.json`: https://github.com/gunthercox/ChatterBot/tree/master/chatterbot/corpus/data/portuguese

[2016-10-30 19:47] gunthercox commented on #356
@thedp I've made changes in #374 that now allow data to be passed with the statement to the django view using the already existing `extra_data` attribute supported by `Statement` objects.

[2016-10-30 19:54] #356 closed

[2016-10-30 20:05] #260 closed

[2016-10-30 20:09] gunthercox commented on #260
@gsingers I've made changes that break up the response generation and response learning parts of the `get_response` method. #365 adds a new example file that demonstrates this. Feel free to provide feedback if you have any.

[2016-10-30 20:27] alekaizer commented on #373
Yes I've seen that, but I thought the *_pt-BR* was made to make diff between pt-PT and pt-BR

And any idea on #367 ? haven't heard from you on that

[2016-10-30 20:36] gunthercox commented on #373
Are PT and BR representing different dialects of Portuguese? If they are, removing the suffix was my mistake, in which case I will go back and make the necessary changes.

***

Sorry I haven't responded to #367 yet, I haven't had a chance to look into it. It may be a bug, or it might be the result of the existing algorithms being used. Once I have a chance to walk through what is happening I will

[2016-10-30 21:14] alekaizer commented on #373
BR is Brazilian Portuguese while PT is the "original" one from Portugal, but I'm not an expert of PT so I don't know the differences, but there are some surely.

---------

ok about #367

[2016-10-30 22:16] gunthercox commented on #373
Ok, I'll create a pull request to separate the dialects (i'm also not an expert of Portuguese).
I think I'm going to keep the directories separate though, so something like:
`/data/portuguese.brazilian/compliment.corpus.json` and `/data/portuguese/somethingelse.corpus.json`

[2016-10-30 22:21] #352 closed

[2016-10-30 23:21] gunthercox commented on #373
@alekaizer Actually, after [a bit of research](https://en.wikipedia.org/wiki/Portuguese_dialects), it looks like the two dialects are otherwise indistinguishable. I'm going to leave the directory as-is for now. Even google translate appear to not distinguish between Portuguese and Brazilian Portuguese.

[2016-10-30 23:21] #373 closed

[2016-10-31 04:28] vkosuri commented on #372
@gunthercox Thanks, any guidance to implement this feature?

[2016-10-31 09:28] gunthercox commented on #372
So far, I was considering changing the `recent_statements` variable to be a dictionary where the keys are unique session ids and the values are the queues holding the most recent conversation for that session. A few of the methods in the `ChatBot` class will have to be modified and a number of tests will need to be modified or created.

One thing I'm still unsure about is what to add for methods t

[2016-10-31 10:02] rmdort commented on #372
Why not add `session_id` property to the `Statement` object?

https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/conversation/statement.py#L12

[2016-10-31 10:52] gunthercox commented on #372
@rmdort That might cause a slight issue if the same `Statement` object in the database becomes a part of multiple conversation sessions that users are having with the bot. It would allow session ids to be overwritten by other user's conversations.

[2016-10-31 15:50] #169 closed

[2016-10-31 16:23] gunthercox commented on #367
The solution; more training data. Because `'what is your name'` is very similar to `'what is your address'` (they both share a common `what is your`) the logic adapters are picking it up as a possible response. However, if you train your bot with other variations of the input, something like: `['where are you located','R2D2 AI Street, TUXVILLE, PC-Land']`, then it will generate a higher confidence

[2016-10-31 16:26] gunthercox commented on #371
Do you have a unicode header at the top of your Python file?

[code]

[2016-10-31 16:27] alekaizer commented on #367
Oh okay, I'll try that out ! thanks @gunthercox

[2016-10-31 16:29] #367 closed

[2016-10-31 23:56] #174 closed

[2016-11-01 07:09] vkosuri commented on #360
Something could be useful https://github.com/DarkmatterVale/regex4dummies
[code]

[2016-11-01 07:47] vkosuri commented on #290
@gunthercox By going through some of the guideline of `Bot Connector - Direct Line API - V1.0`  https://docs.botframework.com/en-us/restapi/directline/#navtitle

These things we need to to accomplish. Can i submit **PR** for these changes?

**Authentication**
[code]
**Starting a conversation**
[code]

**Sending an Activity to the bot**
[code]

[2016-11-01 11:27] gunthercox commented on #290
@vkosuri Sure, a pull request would be fantastic!

[2016-11-01 11:57] #302 closed

[2016-11-01 14:04] alekaizer opened #377 "key with empty in_response_to field"
@gunthercox I am sorry if this question has already been asked before, I didn't know how to express the my search query

So the question is about the storages, I can see that we have two entries per Statement:

1. with empty **in_response_to** field
2. with filled **in_response_to** field

Example:
`{
    "_id": {
        "$oid": "58189c46620c9c7d49db1c59"
    },
    "text": "Welcome to Tuxville",

[2016-11-02 13:58] #142 closed

[2016-11-02 14:31] gunthercox commented on #377
Hi @alekaizer, how are you getting these results? I don't believe it should be possible for these two statements to exist separately. The _two_ statements you have listed are the same statement because they have the same ID. Mongo DB won't allow two objects to have the same ID and ChatterBot applies a unique index constraint to the `text` attribute of statements so two statements cannot be the sam

[2016-11-02 15:04] alekaizer commented on #377
oh sorry @gunthercox,  the $oid  it's just a copy/paste of the same object with diff value, of course they don't have the same $oid in the DB

here is a real state of the DB

`{
    "_id": {
        "$oid": "5819fbc9620c9c7d49f7f0af"
    },
    "in_response_to": [
        {
            "occurrence": 1,
            "text": "Can I ask you a question?"
        }
    ],
    "bot_id": "af2ecfc7-79ab-45

[2016-11-02 16:44] vkosuri commented on #290
Methods trying to implement using DirectLine client

[code]

[2016-11-03 21:53] maclogan opened #379 "Store response occurrence count in Django models"
Is it possible to train using the corpus data for a django project running Chatterbot?  I can't seem to find a way to alter the chatbot's settings to accept the language corpus.

Also, it looks like the database of request/responses created by the example django app is just the response/request phrases rather than storing occurrences.  Is there a way to make that happen as well?

[2016-11-04 17:48] vkosuri commented on #290
- [ ] Input adapter
- [ ] Output adapter
- [ ] Tests
- [ ] Documentation

[2016-11-04 22:24] phpmind opened #382 "How can I use Ubuntu corpus data?"
Very impressive project.
How can i use  ubuntu Dialogue Corpus v1.0.  and v2.0.

http://cs.mcgill.ca/~jpineau/datasets/ubuntu-corpus-1.0/    (Dual Encoder LSTM network will be best for this data)   http://www.wildml.com/2016/04/deep-learning-for-chatbots-part-1-introduction/

Then I have to use node red (https://nodered.org ) to extend and make this  for technical  answer machine.

Thanks for grea

[2016-11-05 01:20] gunthercox commented on #382
This should definitely be possible. I'll have to look into the format of the data in the Ubuntu corpora before I can make a recommendation on how to do this. In the mean time, feel free to take a look at the existing training modules for some ideas: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py

[2016-11-05 01:25] gunthercox commented on #379
Lack of a way to train in Django is currently a known issue (https://github.com/gunthercox/ChatterBot/issues/295). I'm in the process of developing a method to add this functionality.

It looks like occurrences currently aren't being tracked by the Django models, I will add a migration to fix this for the next release.

[2016-11-05 07:24] datta90 opened #384 "Set a default response if no matching input is found"
hi gunther,

I wanted to know if there is a way to set a default response like (i don't understand what you mean)
if no matching input is found

-Dattatreya

[2016-11-05 07:27] datta90 commented on #384
i am trying to set a threshold value in the closest match adapter for levenshtein distance
is this correct ?

[2016-11-05 11:40] alekaizer commented on #384
hi @datta90 You use the **process** method of your logic adapter to get the confidence of the response then set the threshold on the confidence.

`
input = 'does linux rock'
bot = ChatBot('tux')
statement = bot.logic.input.process_input(input)
confidence, response = bot.logic.process(statement)
if confidence > THRESHOLD:
   response = bot.output.process_response(response)
else
   response = 'I don

[2016-11-05 11:57] gunthercox commented on #384
@alekaizer That is an excellent example. There isn't a better way to provide a default response, I usually recommend something similar to that as a solution.

[2016-11-05 13:04] datta90 commented on #384
i am getting this error when i type the above code in python terminal
In [9]:  statement = bot.logic.input.process_input(input1)
----------------------------------------------------------------------
AttributeError                            Traceback (most recent call
<ipython-input-9-794f22aa52a2> in <module>()
----> 1 statement = bot.logic.input.process_input(input1)

AttributeError: 'MultiLogi

[2016-11-05 13:08] gunthercox commented on #384
@datta90 Are you sure you are typing it into the terminal _exactly_ as it was written above?
The error message is correct, there is no `.input` attribute after `.logic`. I think maybe you meant to type just `bot.input.process_input`.

[2016-11-05 16:53] alekaizer opened #388 "Serialize Chatbot instance"
Hi guys,
I was wondering if anyone runs into the need to serialize a Chatbot instance, like

Training the bot in background with Celery or Python-rq, then :

1. store the dump in Redis so the main app can consume it when ready
2. store the dump in Redis so on restart the bot won't need to re-train again

@gunthercox , @vkosuri any idea on that kind of stuffs ? Pickling and storing is my only idea

[2016-11-05 18:13] vkosuri commented on #388
@alekaizer I'll prefer celery and Redis option. By curiosity, could you please explain your usecase of this feature?

[2016-11-05 18:26] vkosuri commented on #372
@gunthercox Something might useful https://github.com/robotframework/robotframework/blob/e544484dc80f04a5e3d391673176c355dbe86faf/src/robot/utils/connectioncache.py

Any comments/suggestions

[2016-11-05 18:40] alekaizer commented on #388
@vkosuri  I just moved from Celery to Django-rq to have as the processes are not that heavy I just need the async execution

For the use case, here it's:

1. When an user create a bot, and want to test it, the first interaction trigger the bot's training, which can take some times, so the user is left on wait

2. Now let's say the app crash or I reboot the app, and some bots are already running, s

[2016-11-05 21:52] gunthercox commented on #388
Hi @alekaizer, I think I might be able to provide a few suggestions. When an instance of the `ChatBot` class is trained, all of the knowledge it learns get's written to it's database. Each `ChatBot`, by default, is actually mostly stateless, the only exception being it's `recent_statements` attribute that stores the current conversation that the user is having with the bot.

What database are you

[2016-11-05 23:20] gunthercox commented on #372
@vkosuri Looks interesting, in the `ConnectionCache`, what are the _connections_ usually?

[2016-11-06 02:07] gunthercox commented on #377
I _think_ this is the correct functionality. If an entry exists for `"Go ahead and ask."`, then the `in_response_to` attribute for that statement should list `"Can I ask you a question?"` as a response. The actual entry for `"Can I ask you a question?"` should have `"in_response_to": []` as empty because the chat bot hasn't learned anything in response to `"Can I ask you a question?"`.

I think th

[2016-11-06 02:16] #360 closed

[2016-11-06 03:27] vkosuri commented on #372
``Robotframework`` is test framework, It caches different test objects for example ``telnet, ssh, requests,etc.``

[2016-11-06 10:30] alekaizer commented on #388
hi @gunthercox, I'm using MongoDb, and I've made a custom storage adapter to add bot_id in statements so each statements knows which bot it belongs to.

and I think my problem may come from the fact that every time I launch the bot training.
And if I understand what you just said, I only need to train the bot, once, as long as the DB is populated I don't need to retrain the same data, I should tra

[2016-11-06 10:35] alekaizer commented on #377
Yes that's the functionality, and my problem is :
`"Can I ask you a question?"` is in response to nothing.
In that case is it relevant to store it, as there's no trigger for that statement?

I think that comes from the conversation way of training, as they have backward reference.

[2016-11-06 10:59] gunthercox commented on #377
There are a few reasons why statements like `"Can I ask you a question?"` are stored when they have an empty `in_response_to` attribute.

1. Other data can be stored on the statement object. For example, statements can have an `extra_data` attribute that holds information generated by various adapters.
2. For data consistency. Every response has a corresponding statement that _can_ have responses.

[2016-11-06 11:07] alekaizer commented on #377
yes 👍 perfectly clear :)

[2016-11-06 11:07] #377 closed

[2016-11-06 11:20] gunthercox commented on #388
If the new bots are using the same database there is no need to train them. Otherwise, if it is an empty database, training is definitely recommended.

[2016-11-06 11:30] alekaizer commented on #388
Great, I'll add a **trained** field on the model then to the object to avoid re-training !

Thank you @gunthercox

[2016-11-06 11:30] #388 closed

[2016-11-06 11:33] gunthercox commented on #379
@maclogan Actually, I was wrong. Occurrence counts are already on the Django models: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/ext/django_chatterbot/models.py

[2016-11-06 13:09] #379 closed

[2016-11-06 14:09] gunthercox opened #391 "Check if logic adapters string parameters need to be imported"
For logic adapters, a check should be added so that if the parameters `statement_comparison_function`, `response_selection_method` are strings, then they will be automatically imported.

[2016-11-06 14:28] #287 closed

[2016-11-07 09:10] datta90 commented on #384
thank you gunther
I am getting error UnicodeDecodeError: 'utf8' codec can't decode byte 0x93 in position 83: invalid start byte when i am adding my own training data in the English folder,
my file name is ending with .corpus.json and i have written this file properly
even when i am remove this file i am still getting this error

[2016-11-07 09:11] datta90 commented on #384
is it because of json adapter storage my strings are bit long in the file

[2016-11-07 12:43] gunthercox commented on #384
A `UnicodeDecodeError` is a Python error that is triggered when a file is opened for reading without the encoding being properly specified. I'll look into this to make sure that ChatterBot's corpus reader is specifying it correctly.

[2016-11-07 13:20] vkosuri commented on #289
@gunthercox interested to work on this feature? Any guidelines?

[2016-11-07 15:04] gunthercox commented on #371
Hi @ThomasKoscheck, I've made some changes to the formatting of the data in the German corpus so that it passes JSON validation tests. Locally I was able to trigger a `UnicodeDecodeError` due to invalid JSON. This may have been related to the issue you encountered.

[2016-11-07 15:11] gunthercox commented on #384
@datta90 I've made a correction to the German corpus that should fix the issue you reported: https://github.com/gunthercox/ChatterBot/pull/394

[2016-11-07 15:11] #371 closed

[2016-11-07 15:47] gunthercox commented on #289
I think the best way to implement this would be as a comparison method, similar to the ones found in [chatterbot/conversation/comparisons.py](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/conversation/comparisons.py).

At this point, I'm not sure if this will be possible to do, but it would be amazing if the SyntaxNet library could be used to compare the similarity of two stateme

[2016-11-07 16:45] vkosuri commented on #289
Thanks @gunthercox some useful links i have found

on ubuntu

- https://github.com/tensorflow/models/pull/115
- Installation instrctuion https://github.com/JoshData/models/blob/b72274d38f169f77e6a15e54834f463f627dc82a/syntaxnet/build/ubuntu-14.04_x64.sh

GitHub syntaxnet https://github.com/tensorflow/models/tree/master/syntaxnet

On Windows it's very difficulty https://github.com/tensorflow/models

[2016-11-07 16:51] vkosuri commented on #372
@gunthercox any comments?

[2016-11-08 00:57] phpmind opened #396 "How to convert this chatbot in technical answer machine"
How to convert this kind of ChatterBot in technical chat bot which can query based on patterns and questions. Like if i ask how is this flight( id 4567890 doing). It should bring me all info which i have defined already.

And many more questions like generating charts in real time and do a lot more in terms of the real-time elastic search /MySQL query.

Also how to integrate pre-built models  in t

[2016-11-08 01:13] gunthercox commented on #396
Hi @phpmind, It sounds like you might need to [create a logic adapter](http://chatterbot.readthedocs.io/en/latest/adapters/create-a-logic-adapter.html) that handles the lookups to the endpoint that you are getting your flight data from. This will allow you to control what "pattern" your bot looks for to trigger a lookup and control how it extracts that information from the user's input.

ChatterBo

[2016-11-08 01:17] #391 closed

[2016-11-08 14:41] gunthercox commented on #360
@saadj55 I just came across an article that you might find interesting or useful: http://www.nltk.org/book/ch07.html

[2016-11-08 14:44] saadj55 commented on #360
@gunthercox Thanks!

[2016-11-08 16:24] josefernandez91 opened #398 "No JSON object could be decoded in example Django app"
[code]

[2016-11-08 17:33] Skittels0 opened #399 "Problem installing chatterbot"
So. I have a problem.

I'll begin from the start.

I started with installing chatterbot using.
`pip3 install chatterbot`
Which worked well and installed this.
`chatterbot in /usr/local/lib/python3.5/dist-packages
fuzzywuzzy<0.13,>=0.12 in /usr/local/lib/python3.5/dist-packages (from chatterbot)
nltk<4.0.0 in /usr/local/lib/python3.5/dist-packages (from chatterbot)
pymongo<4.0.0,>=3.3.0 in /usr/loc

[2016-11-09 00:46] gunthercox commented on #399
Sure, let's pick just one version of Python to use and go from there. Which version of Python would you _prefer_ to get chatterbot installed under?

[2016-11-09 12:34] Skittels0 commented on #399
I would prefer python 3.

[2016-11-09 14:30] datta90 commented on #384
No problem gunther actually mistake was from my side I used regex to remove the ASCII characters present in my JSON file

[2016-11-09 15:23] gunthercox commented on #399
Ok, so bear with me if you have already done this. Can you tell me the output if you enter the following:

[code]

[2016-11-09 16:08] Skittels0 commented on #399
Of course i can.

`pip3 install chatterbot --upgrade`
Output.
`The directory '/home/[don't want to tell my username]/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/[don't want to tell my username]/.cache/

[2016-11-09 16:26] gunthercox commented on #399
Ok, so looking at the traceback, the `UnsuitableForProductionWarning` is just a warning and _can_ be ignored. The `MissingCorpusError` is a definitely an issue. What happens when you run the command it reccomends?
[code]

[2016-11-09 16:29] gunthercox commented on #398
Hi @josefernandez91, I'm looking in to this. My goal is to create a test case that recreates the issue.

[2016-11-09 17:07] Skittels0 commented on #399
Okay.

`python3 -m textblob.download_corpora`
Output.
`[nltk_data] Downloading package brown to /home/[don't want to tell my username]/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.
[nltk_data] Downloading package punkt to /home/[don't want to tell my username]/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /home/[don't want to tell m

[2016-11-09 17:20] gunthercox commented on #372
Session management for ChatterBot will essentially just be adding support for having conversations with multiple users at the same time.

Right now, the the `ChatBot` class just stores the current conversation.

[code]

The change that needs to be made is to allow the chat bot to store multiple conversations.

[code]

Right now my thoughts are as follows, feel free to ask questions or add suggesti

[2016-11-09 17:23] gunthercox commented on #399
Awesome, I'm glad it worked. I will note that I do have plans to remove `textblob` from ChatterBot in the future in favor of handling tasks like this automatically.

[2016-11-09 18:45] Skittels0 commented on #399
Why don't you make a .sh which automates the install and checks if everything what is needed is installed?

[2016-11-09 20:05] phpmind commented on #290
vkosuri  - I am very new to chat bot world. However I have a question. What is the advantage of using ChatterBot instead of using Microsoft Bot Framework in terms of features and accuracy?

[2016-11-09 20:41] gunthercox commented on #399
ChatterBot actually already handles this internally for the NLTK data corpus. An example can be seen here: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/utils/wordnet.py#L16. The issue is textblob (which is just another library that wraps NLTK to provide convenient functionality). Textblob, as you saw, handles the downloads explicitly instead of automatically. The goal moving for

[2016-11-09 21:06] #399 closed

[2016-11-09 21:26] #396 closed

[2016-11-09 21:59] phpmind commented on #396
Thank gunthercox.
I asked the  chart question because i would like to integrate with some short of kibana interface where data is coming from different channels. But i got it now 100%.

One more question i have what kind of data and ML algorithm (LSTM ,seq2seq) you have used to trained this bot initially.  (LSTM  is considered most accurate in ubuntu corpus data set)

My last question was on ubunt

[2016-11-09 23:59] gunthercox commented on #396
For machine learning, ChatterBot does searches on statements stored as a graph data structure. Many of the logic adapters use different methods such as Bayesian Networks for statement analysis to select responses.

I'm actually in the process of researching the Ubuntu data corpus and looking at ways to allow it to be easily loaded into a ChatterBot instance's knowledge base.

Here are a few resour

[2016-11-11 00:56] gunthercox commented on #295
I'm currently working to add a Django management command and `training_data` parameter that will allow chat bots to be trained. This functionality should be available in the next version released.

Updated documentation will be available, but essentially all you will need to do is call the following command in your Django project.

[code]

The changes can be seen here: https://github.com/guntherco

[2016-11-11 00:58] hobson commented on #295
excellent

--Hobson
(503) 974-6274
gh <https://github.com/hobson/> twtr <https://twitter.com/hobsonlane> li
<https://www.linkedin.com/in/hobsonlane> g+
<http://plus.google.com/+HobsonLane/> so
<http://stackoverflow.com/users/623735/hobs>

On Thu, Nov 10, 2016 at 4:56 PM, Gunther Cox <notifications@github.com>
wrote:

[2016-11-11 03:00] #295 closed

[2016-11-11 07:06] vkosuri commented on #290
@phpmind Am also like you, @gunthercox could you please answer his question?

[2016-11-11 16:19] maclogan opened #402 "python manage.py train"
I noticed the update allowing for training from external corpora, updated my chatterbot install and pulled the newest version of chatterbot, but when I try to train the chatbot by running the command `python manage.py train` as instructed in docs/django/training.rst, I just get the error `Unknown command: 'train'`.  Is there any additional step I am missing?

[2016-11-12 04:32] maclogan commented on #402
Sorry, when reinstalling the new Chatterbot, I forgot to run setup.py.  Issue is resolved now.

[2016-11-12 04:32] #402 closed

[2016-11-12 12:40] gunthercox commented on #402
Awesome, glad this got resolved.

[2016-11-12 13:10] gunthercox commented on #290
@phpmind There are different advantages to using ChatterBot and Microsoft Bot Framework. Choosing one over the other greatly depends on what you want to create. Here are a few major differences that I can point out. There may be others, but these seem like the most important.

| ChatterBot                                                                                                 | Microsoft B

[2016-11-12 13:56] gunthercox commented on #398
@josefernandez91 Could you tell me what version of ChatterBot you have installed? You should be able to check this by running `python -m chatterbot --version`.

[2016-11-13 01:53] maclogan commented on #398
I am having a similar issue where the example will work fine until you refresh the page or let it idle long enough, then it will throw this error.
`Internal Server Error: /api/chatterbot/
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/django/core/handlers/base.py", line 149, in get_response
    response = self.process_exception_by_middleware(e, request)
  File "/

[2016-11-13 18:22] graylu21 opened #404 "Breaking the While loop in Spyder console"
Hey, im sure this is a noob issue but your example in the docs ends with:

     # The following loop will execute each time the user enters input
     while True:
         try:
             # We pass None to this method because the parameter
             # is not used by the TerminalAdapter
             bot_input = bot.get_response(None)

         # Press ctrl-c or ctrl-d on the keyboard to exit

[2016-11-13 20:21] gunthercox commented on #404
Hi @graylu21, would removing the try/except block and setting your own termination condition work for you? For example, you could do something like:

[code]

[2016-11-13 20:47] graylu21 commented on #404
Yes, but im not sure how set a condition based on something i type to the bot.

[2016-11-13 21:00] gunthercox commented on #404
How are you using ChatterBot in Spyder (I'm not very familiar with Spyder)? Maybe I can help figure out a solution based on your setup.

[2016-11-13 21:37] graylu21 commented on #404
I am running Python 3.5 with Anaconda which comes with a bunch of packages, and Spyder. And i just copy and pasted the Example in your docs. The conversation runs in an IPython console inside the Spyder window, i type and press Enter and the response pops up underneath. I just cant get the loop to stop without closing the console.

[2016-11-13 21:41] graylu21 commented on #404
And while i have your attention, im am wanting to program a GUI to run my bot it. Like, run the .py file, it pops up a chat window, and i chat with my bot through that window. Do you have any suggestions on the GUI package to use? Like Tkinter or PyQt, or others? Know of any code for a chat window already developed?

[2016-11-13 21:47] gunthercox commented on #404
For a GUI example, there is one using Tkinter in the examples directory: https://github.com/gunthercox/ChatterBot/blob/master/examples/tkinter_gui.py

[2016-11-13 21:56] gunthercox commented on #404
I'm looking into possible solution. According to a few sources online you should be able to exit a process running in a Spyder console by pressing `ctrl c`.

Another source stated that you can press `I` _twice_ to interrupt the kernel (http://stackoverflow.com/a/38229513/1547223).

Let me know if either of these work for you?

[2016-11-13 23:07] #290 closed

[2016-11-14 06:33] AdolHong commented on #238
I met the same error on my Mac OS....

[2016-11-14 15:16] graylu21 commented on #404
They did not. On the leftside of my Spyder window is the notebook housing my code. On the right i have an 'object inspector' at the top and the IPython console at the bottom.

When i run your example, the console tells me to download levenshein and stuff, then prints Type something to begin... and my dialouge with the bot starts. But no matter if my crusor is in the console, notebook, or inspector

[2016-11-14 15:26] graylu21 commented on #404
But the GUI link you sent me was perfect! That is exactly what I was looking for! Thank you so much!

[2016-11-16 08:56] duicym opened #406 "python manage.py train"
[root@localhost django_app]# python manage.py train
Unknown command: 'train'
Type 'manage.py help' for usage.
[root@localhost django_app]# python3 manage.py train
Unknown command: 'train'
Type 'manage.py help' for usage.

cannot use this command

[2016-11-16 16:36] gunthercox commented on #406
Could you check what version of ChatterBot you have installed?

[2016-11-16 17:38] maclogan commented on #398
Is there news on a potential solution to this?

[2016-11-16 18:50] gunthercox commented on #398
Not yet. For some reason, I can't seem to recreate the error. I will try to look into if further as soon as I have time.

In the mean time, if anyone else feels like taking a crack at this, the issue is coming from these lines [34-37] in https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/ext/django_chatterbot/views.py#L34

[code]

[2016-11-16 20:18] onlydarkknight opened #407 "Error while train bot with unicode data(persian)"
When i try to train my bot with persian (unicode) data that already stored in corpus/data/persian folder and get responce from bot, this error occure:
Here is my sample code,any help or suggestion please!
and sorry for my bad english:

[code]

and below is last lines of error

[code]

[2016-11-17 23:50] #384 closed

[2016-11-18 00:03] gunthercox commented on #406
If you have version 0.4.12 or lower then you don't have this method available. Right now it is only available if you install ChatterBot from source to get the current version, or if you wait until version 0.4.13 is released.

Feel free to reopen this ticket if I have incorrectly addressed the issue.

[2016-11-18 00:03] #406 closed

[2016-11-18 03:37] duicym commented on #406
0.4.12 ,i will get the current version and try it , thx a lot.

[2016-11-18 18:31] phpmind commented on #42
brizzbane - Did u create Elasticsearch  +ChatterBot adapter ?

[2016-11-19 13:36] gunthercox commented on #407
Hi @onlydarkknight, I've made changes to correct the issue. I've also added a unit test to make sure this doesn't break again in the future. These changes will be available when I release the next version of ChatterBot.

Thank you for posting both your example code and the error traceback. It made debugging the issue much easier.

[2016-11-19 19:12] vishnu-ks opened #412 "Mongodb Adapter error"
I was getting this error while using mongodb storage adapter. It was working fine in previous version.
![error](https://cloud.githubusercontent.com/assets/18617708/20457801/270a3bb6-aeb9-11e6-824e-39fff762588d.png)

This was the code

[code]

[2016-11-19 19:43] onlydarkknight commented on #407
thank you for your reply.
But i'm working on a project (a telegram bot) and want use this package for chat section.Therefore i cant wait for next version.
Is it possible for you to post changes or help me to correct this issue myself.

[2016-11-19 20:30] gunthercox commented on #407
You don't have to wait. I released the next version this morning. Version 0.4.13 includes the fix.

[2016-11-20 05:35] gullyy opened #413 "Architecture of the project"
To understand how ChatterBot works, I can go though the code..to understand more easily how it works can we have a high level architecture and a code flow diagram?

[2016-11-20 05:43] vkosuri commented on #413
I think you are looking something like this
https://chatterbot.readthedocs.io/en/stable/about.html#process-flow-diagram

[2016-11-22 06:16] vishnu-ks opened #414 "Chat bot stops responding to input"
After chatting with the chat bot for sometime it got freezed and was not replying to any questions.
It happened only after adding some logic adapters. I checked after removing those logic adapters and then also it was not working I will paste my code and error log here. Hope you guys will figure out a way to solve this problems soon.

![screen shot 2016-11-22 at 11 32 09 am](https://cloud.githubus

[2016-11-22 13:53] tianjianjiang commented on #412
In chatterbot.adapters.storage.mongodb.MongoDatabaseAdapter#mongo_to_object
[code]

statement_data doesn't always have `in_response_to`, and the situation often happens in twitter.

[2016-11-22 16:22] gunthercox commented on #413
@gullyy I'm going to close this off. Feel free to re-open it if the diagram in the documentation is not what you were looking for or if there are any details of ChatterBot's design that could befit by having another diagram created.

[2016-11-22 16:22] #413 closed

[2016-11-22 16:44] gunthercox commented on #404
@graylu21 I'm sorry, but I don't think this is a functionality that I can add to ChatterBot. I'm not very familiar with the iPython ecosystem and I can't make a recommendation on how to do this. I've looked into the possibility that other Python frameworks that typically run in a loop might handle this (Django or Flask for example), but I could not find any evidence of other developers attempting

[2016-11-22 16:44] #404 closed

[2016-11-22 16:50] gunthercox commented on #414
@vishnu-ks Thank you for posting your your `settings.py` this might help me to recreate this issue.

This appears to be the same error reported by @josefernandez91 here: https://github.com/gunthercox/ChatterBot/issues/398

I'm going to close this ticket for now as it appears to be a duplicate. Feel free to click the subscribe button on #398 to get notified of updates on this issue.

[2016-11-22 16:50] #414 closed

[2016-11-22 16:53] gunthercox commented on #412
Hi, I've made a change to the `mongo_to_object` method to make sure that the absence of the `in_response_to` attribute will not cause an error. You can take a look at #415 for details on what was changed.

[2016-11-22 16:55] vishnu-ks commented on #412
Okay.. I am on it.. :) :+1:

[2016-11-22 16:56] #412 closed

[2016-11-22 17:21] vkosuri opened #416 "a combination of both voice and chat"
@gunthercox is it possible to having both voice and response in a Django chatterbot? If so could you provide an example scenario here?

[2016-11-22 18:19] tianjianjiang commented on #412
Thank you both!

[2016-11-24 13:50] gunthercox commented on #416
I think it's definitely possible, but because it's a web app the audio will have to be processed on the client's side. This might make things easier because there is likely several javascript libraries available that handle speech recognition and speech synthesis. It looks like Google Chrome has built in support for both speech recognition and speech synthesis: https://developers.google.com/web/up

[2016-11-24 13:59] gunthercox commented on #2
Closing this ticket off as #276 is essentially the same thing, except with a more defined scope.

[2016-11-24 13:59] #2 closed

[2016-11-24 17:09] #382 closed

[2016-11-25 18:51] vishnu-ks opened #417 "Suggestion to make change in corpus data so that it can improve accuracy"
I just made a chatbot with training data that I made by my own. It is trained with a set of conversation about animals which we see commonly. The only problem that what I found is most of the time when we ask the bot which it don't know it will reply an answer which has closest match.
Suppose I am asking the bot 'what is a cat' and it know the response for' what is a rat' only then it reply the an

[2016-11-26 01:44] gunthercox commented on #417
So your recommendation is to compare the text of each statement with the stop words removed when searching for the closest match? Please correct me if I'm wrong, I just want to make sure I'm understanding correctly.

[2016-11-26 07:39] vishnu-ks commented on #417
I will explain with an example, If a user asks **What is a cat** first we will tokenize it or we remove the stopwords and then tokenize it. Ater tokenizing we will get 4 tokens **What, is, a, cat** and then we will compare all this 4 tokens one by one to all the keys that we have in our json data because we don't know what is the keyword yet. Then after finding the key from the json data we will s

[2016-11-26 18:38] #281 closed

[2016-11-27 00:45] gunthercox opened #423 "Improve documentation on creating adapters"
Include instructions on:

- directory setup
- import string

[2016-11-27 09:27] 12520054 opened #425 "ImportError: No module named 'jsondb'"
Hi there,
I'm trying to deploy my chat bot to openshift flask on python 3.5
Then I get that issue
[code]
Any one help me please.
Thanks so much :D

[2016-11-27 12:34] bkrmendy commented on #425
Also had this. Did you try installing jsondb?

[2016-11-27 16:27] alekaizer commented on #417
@vishnu-ks I am facing the same kind of issues on the responses, being fighting with chatterbot for 2 weeks now to get the right combination to knock it out :D

and I slightly have the same idea, using tokenized data as tags then store them in the extra_data field along side the statements.

I will implement it and let @gunthercox see it and maybe he'll give us another hint, he might have an illum

[2016-11-28 01:43] #372 closed

[2016-11-28 02:02] gunthercox commented on #425
Hi @12520054, @bkrmendy is correct. You should be able to resolve this issue by installing ChatterBot's dependencies before installing chatterbot itself. I've opened a pull request (#426) that makes changes to correct this issue in future versions of ChatterBot. Thank you for reporting the issue.

[2016-11-28 02:02] #425 closed

[2016-11-28 02:48] shank7485 opened #427 "Docs improvement pertaining to input statement learning in the bot"
I have some docs improvement suggestions pertaining to the learning aspect of the bot.

From the documentation:
An untrained instance of ChatterBot starts off with no knowledge of how to communicate. Each time a user enters a statement, the library saves the text that they entered and the text that the statement was in response to. As ChatterBot receives more input the number of responses that it

[2016-11-28 13:32] gunthercox opened #429 "Allow multi-statement responses where one user says multiple statements in a row"

[2016-11-28 13:37] gunthercox opened #430 "Deprecate matching logic adapters"
The following adapters share the same codebase but they use different comparison functions to compare statements.

- `ApproximateSentenceMatchAdapter`
- `ClosestMatchAdapter`
- `ClosestMeaningAdapter`
- `SentimentAdapter`

The `BaseMatchAdapter` can be renamed to `MatchAdapter`.
Documentation will need to be updated to show how to get the same functionality using the `MatchAdapter` as was availabl

[2016-11-28 13:40] gunthercox opened #431 "Give multi logic adapter a separate list for system logic adapters"
Right now, the `MultiLogicAdapter` which handles the process of checking the generated responses of other logic adapters, can return just the user's input if other logic adapters are added after the chat bot is initialized.

This can be fixed by adding a separate list for system logic adapters that are required to be present at all times.

[2016-11-28 13:43] gunthercox commented on #398
I believe this issue has been corrected by #428. I'm going to close this ticket off for now, feel free to reopen it if the issue persists.

[2016-11-28 13:43] #398 closed

[2016-11-28 13:46] gunthercox opened #432 "Add example of using sessions to documentation"
A good example of this might be the get method in the Django ChatterBot API view.

[2016-11-28 13:49] gunthercox commented on #427
Hi @shank7485, thank you for opening this ticket. I will make changes to the documentation to hopefully clarify these points.

[2016-11-28 17:55] #432 closed

[2016-11-29 01:20] #431 closed

[2016-11-30 02:49] loveJasmine opened #436 "ImportError: No module named settings"
rzai@rzai00:~/prj/ykdebug-ChatterBot$ python twitter_training_example.py
Traceback (most recent call last):
  File "twitter_training_example.py", line 3, in <module>
    from settings import TWITTER
ImportError: No module named settings

[2016-11-30 02:50] loveJasmine opened #437 "ImportError: No module named settings from microsoft_bot.py"
[code]

[2016-11-30 02:57] gunthercox commented on #437
Hi @loveJasmine, the reason that a `settings.py` file is not included in the examples directory is because it would contain private API keys for the various examples that require them. To use this example, you would need to register a bot on the Microsoft Bot Framework website and use the credentials given there.

Your `settings.py` file should look similar to the following:

**settings.py**
[code

[2016-11-30 02:58] #436 closed

[2016-11-30 03:01] gunthercox commented on #436
See https://github.com/gunthercox/ChatterBot/issues/437 for my explanation of why there is no `settings.py` file included.

In the case of this example, if you look at the code you should see a comment that provides instructions on how to get set up:

[code]

[2016-11-30 03:08] #437 closed

[2016-11-30 03:13] meain commented on #437
@gunthercox  Maybe we could add a dummy settings file with all the spaces for the api keys left blank? In that case the error will be something like `invalid key` than an `import error` which will be better I think.

[2016-11-30 04:20] #427 closed

[2016-11-30 04:22] gunthercox commented on #427
I've updated several pages of the documentation to hopefully clarify these questions. Thank you again for asking for clarification. It is very helpful for improving ChatterBot's documentation. Please let me know if there is anything else that can be improved further.

[2016-11-30 04:25] gunthercox commented on #416
Hi @vkosuri, I'm going to close this ticket off. I believe your question was answered, feel free to reopen the ticket if I missed something or you still have questions.

[2016-11-30 04:25] #416 closed

[2016-11-30 11:37] vkosuri commented on #416
@gunthercox thank you

[2016-11-30 15:51] gunthercox opened #441 "Add benchmark load testing"
It would be useful to be able to run a script to generate statistics about how long various logic and storage adapters take to process information.

[2016-11-30 15:52] #423 closed

[2016-11-30 19:45] gunthercox commented on #288
Closing this off, there are many cases where the cached extra data should never expire. Because of this it makes more sense to store it in the database with the statement.

[2016-12-01 02:09] bilalbayasut opened #442 "[ASK] cannot save extra data to database"
Hi folks, I'm trying to add extra data to each statement by using add_extra method. But when I check in my mongodb , the corresponding statement still does not has any extra_data.

here is my code

[code]

[2016-12-01 03:24] yapadubpadoo opened #443 "ImportError: cannot import name 'import_module'"
I did a simple script follow the tutorial but got this error. Any suggestion?
Thanks

python chat.py
Traceback (most recent call last):
  File "chat.py", line 1, in <module>
    from chatterbot import ChatBot
  File "/Users/Hiruma/MyWorkSpace/GitHub/tzchatbot/env/lib/python3.5/site-packages/chatterbot/__init__.py", line 4, in <module>
    from .chatterbot import ChatBot
  File "/Users/Hiruma/MyWor

[2016-12-01 03:35] gunthercox commented on #442
Just a quick note, the `add_extra_data` method adds the data to the statement object. If you want to save the modified statement to your database you can do something like this:

[code]

[2016-12-01 03:39] gunthercox commented on #443
Go to `/Users/Hiruma/MyWorkSpace/GitHub/tzchatbot/env/lib/python3.5/site-packages/chatterbot/`

If you see a **directory** named `utils` delete it.
Also if you see a directory named **adapters** delete it.

I had a similar issue recently. For some reason pip appears to be adding cached outdated modules from the previous version when ChatterBot gets upgraded.

[2016-12-01 03:42] bilalbayasut commented on #442
Here is my code
`
while True:
    try:
        # bot_input = bot.get_response(None)
        input_statement = bot.input.process_input_statement()
        statement, response, confidence = bot.generate_response(input_statement)

        st = Statement(input_statement)
        st.add_extra_data('intent', 'greetings')
        print(str(st.text))
        bot.storage.update(st)

    # Press ctrl-c or c

[2016-12-01 03:48] gunthercox commented on #442
I think I see the issue. In `input_statement = bot.input.process_input_statement()`, the item returned (`input_statement`) is a statement object. Then you have `st = Statement(input_statement)` which is creating a new statement where the text is another statement object.

Try changing `st = Statement(input_statement)` to `st = Statement(input_statement.text)`.

[2016-12-01 03:54] bilalbayasut commented on #442
Yes, I nailed it, instead of I create a new object, I just use the existing statement variable from

`statement, response, confidence = bot.generate_response(input_statement)`

and call `statement.add_extra_data('intent','greetings')`

and now I can see my corresponding statement has the extra data.

Thanks, cos I just played around with python, still haven't got the deep oop idea behind your code

[2016-12-01 03:55] gunthercox commented on #442
No problem! Happy to help.

[2016-12-01 03:56] #442 closed

[2016-12-01 04:12] bilalbayasut opened #444 "[Suggestion] Conversational Flow based chatbot"
I suggest that if this chatterbot can support the mechanism to create a conversational flow chatbot like [wit.ai](https://wit.ai/) with it's story, I think it will be more reaching the needs of creating chatbot for various kind of scenarios.

[2016-12-01 05:07] gunthercox commented on #444
After looking at the documentation in [their quickstart guide](https://wit.ai/docs/quickstart) I think ChatterBot actually already supports all of the _story_ functionality that you mentioned. The terminology between the two ChatterBot and wit.ai is rather different but I'm seeing a lot of similarities.

1. **Creating a story** in wit.ai looks to be the same thing as **training** in chatterbot.
2.

[2016-12-01 05:09] #441 closed

[2016-12-01 05:13] bilalbayasut commented on #444
@gunthercox , well it means that we have to figure it out our self to make a conversational chatbot. Like what i just did by saving the detected topic or intent for each statement, and adding a step variable so that the bot know where he is in conversation. am I right?

Because, let say if we have a scenario when we want to direct the flow of conversation with the user by slipping some API in the

[2016-12-01 07:51] gpjyothish opened #446 "how can we give a message to the user if the similarity between the strings are less?"
Imagine if we enter a string as an input to the bot, that have a negligible similarity with the trained set. Then how can make the bot to give a message that it doesn't know the answer instead of giving a comparitevely most similar random output?

[2016-12-01 08:10] bilalbayasut commented on #446
you can display the confidence value and use the existing adapter called NoKnowledge where the bot will say a predefined input (let say : "I don't know, please try again") if the statement does not exist on the training set. you can see in example folder, it's already listed and explained there

[2016-12-01 08:47] gpjyothish commented on #446
thank you....

[2016-12-01 08:47] #446 closed

[2016-12-01 08:48] bilalbayasut commented on #446
happy to help

[2016-12-01 09:58] vkosuri opened #447 "django login screen"
I thought this could be a useful feature, if we have a nice login page for django example app.

common credentials are
[code]

@gunthercox can i submit PR for this request?

[2016-12-01 10:06] Niccolohui opened #448 "Error for running example"
Hi all,

I got error for running this example

[code]
[code]

anyone can help?

[2016-12-01 11:30] vkosuri commented on #448
@Niccolohui which version of chatterbot are you using? Try

[code]

[2016-12-01 12:30] nimraTassawar commented on #448
@Niccolohui
i think you are not using updated chatterbot.
e.g., your storage_adapter="chatterbot.storage.JsonFileStorageAdapter", should be replaced to     storage_adapter="chatterbot.adapters.storage.JsonFileStorageAdapter",

[2016-12-01 15:20] Niccolohui commented on #448
@vkosuri Thanks but i have updated the chatterbot again. and i got this

  File "chatbot.py", line 2, in <module>
    from chatterbot import ChatBot
  File "/Users/niccolo/anaconda/lib/python3.5/site-packages/chatterbot/__init__.py", line 4, in <module>
    from .chatterbot import ChatBot
  File "/Users/niccolo/anaconda/lib/python3.5/site-packages/chatterbot/chatterbot.py", line 4, in <module>

[2016-12-01 15:25] gunthercox commented on #448
See https://github.com/gunthercox/ChatterBot/issues/443#issuecomment-264070500

[2016-12-01 15:51] Niccolohui commented on #448
@gunthercox  thanks!!
I have removed the directory named utils and adapters and i got this.

    database="../database.db"
  File "/Users/niccolo/anaconda/lib/python3.5/site-packages/chatterbot/chatterbot.py", line 31, in __init__
    utils.validate_adapter_class(storage_adapter, StorageAdapter)
  File "/Users/niccolo/anaconda/lib/python3.5/site-packages/chatterbot/utils.py", line 112, in validate

[2016-12-01 15:53] gunthercox commented on #448
If you also changed the example file as @nimraTassawar described, undo those changes.

[2016-12-01 20:25] #320 closed

[2016-12-02 00:36] gunthercox commented on #447
My original intention for the example django app was to keep it as simple as possible so that new developers could easily see the changes they need to make to add ChatterBot to their Django project. I'm not opposed to the idea of making additions, but what would the benefit of a login page be?

[2016-12-02 00:53] gunthercox commented on #444
ChatterBot currently doesn't support form-like information gathering in the core. Typically this is a somewhat specialized process that depends highly on the type of information being gathered and the circumstances under which the information is needed. So yes, if a someone wants to gather specific information from a user, they must code this logic themselves.

ChatterBot does allow you to [create

[2016-12-02 00:53] graylu21 opened #450 "Question about letting the chat bot start the conversation"
Hey, sorry for posting another issue, but Hub doesn't have a chat function, kinda ironic.
We can chat via email, if that's cool.

Your tkinter gui works like a charm, but I'm unfamiliar with all the "self." thingies.. So its kind a difficult for me to customize it, haha. Two main things I am wanting to do is have my bot initiate the conversation, and press enter to submit a response. I've googles

[2016-12-02 00:55] csrgxtu commented on #443
In Ubuntu Linux 14.04.5 desktop, the upper two directories utils and adapters is located in /usr/local/lib/python2.7/dist-packages/chatterbot, delete it and it will work.

[2016-12-02 01:00] gunthercox commented on #450
Ok, hopefully I can help.

1. "I want my bot to instantiate the conversation"

I'm not exactly clear on this. Do you mean that you want the bot to start the conversation with the user instead of the way it is now where the users says something to the bot?

2. This stack overflow post looks like it has a good answer for how to bind an event listener to the enter key: http://stackoverflow.com/questi

[2016-12-02 01:04] graylu21 commented on #450
When I run the GUI, and the window pops up, I would like
     ChatBot: Hello!
to be the first thing that appears in the chat box.

Is there a way I can set up a Greeting Statement at start up?

[2016-12-02 01:10] tryzombie501 opened #451 "Can't get the example code to work."
It's most likely my stupidity

this is my error on python 3.5.2

Traceback (most recent call last):
  File "C:/Users/Administrator/Desktop/test.py", line 1, in <module>
    from chatterbot import ChatBot
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python35\lib\site-packages\chatterbot\__init__.py", line 4, in <module>
    from .chatterbot import ChatBot
  File "C:\Users\Administra

[2016-12-02 01:13] graylu21 commented on #451
Which example are you trying to run?

[2016-12-02 01:14] gunthercox commented on #451
Hi @tryzombie501 See my response here for how to fix: https://github.com/gunthercox/ChatterBot/issues/443

[2016-12-02 01:17] gunthercox commented on #450
What about just manually displaying the text? Does it necessarily have to come from the chat bot?

[2016-12-02 01:20] graylu21 commented on #450
No, not at all. I would either be a set sentence or a random choice of sentences. But I don't know how your tkinter code works, so I don't know how to get it to start off with a text.

[2016-12-02 01:22] tryzombie501 commented on #443
That worked thank you, I've been dying to play around with this.

[2016-12-02 01:22] tryzombie501 commented on #451
Thank you, I've been dying to play around with this.

[2016-12-02 01:31] #451 closed

[2016-12-02 02:17] graylu21 commented on #450
Check out my first repository! https://github.com/graylu21/ELIZA-ChatterBot
I didn't know if I should have done a pull request or what... haha

[2016-12-02 03:12] tryzombie501 commented on #451
Sorry to bother a closed issue but i was woundering if the chatbot can learn from speaking with the user for example through terminal

[2016-12-02 03:20] graylu21 commented on #451
Yes, check out the examples, also the docs!

[2016-12-02 03:22] tryzombie501 commented on #451
but from what i seen in the example terminal was that it only talks to the user, Or does it learn without needing .train called?

[2016-12-02 05:13] vkosuri commented on #447
Usually the web services are provided using login credentials only. That's the reason i am looking into

[2016-12-02 07:11] yunsonbai opened #452 "Mongo DB error: distinct too big, 16mb cap"
[code]

[2016-12-02 07:39] vkosuri opened #453 "Django session management isn't working"
@gunthercox How do i resolve this error.

[code]

[2016-12-02 07:43] HelloJyo opened #454 "didn't get how to use mongoDB"
I didn't get how to use mongoDB instead of JSON adapter..didn't show any responses from the bot

[2016-12-02 07:55] vkosuri commented on #443
@gunthercox this error i have seen when i have installed chatterbot from ``pip install chatterbot`` may be pip zip file cached these files while uploading into pypi server.

[2016-12-02 07:58] vkosuri commented on #454
@HelloJyo Here is an example located here http://chatterbot.readthedocs.io/en/stable/storage/index.html#mongo-database-adapter

A python code example located here https://github.com/gunthercox/ChatterBot/blob/master/examples/terminal_mongo_example.py

[2016-12-02 08:48] HelloJyo commented on #454
i did that but the bot didn't give any response. I created a mongoDB "myDB" and inserted some data into it. Where should i place it? I want to use that one for the bot to give responses...

[2016-12-02 08:58] vkosuri commented on #453
<pre>
[02/Dec/2016 08:37:21] "GET /static/js/jquery.js HTTP/1.1" 304 0
[02/Dec/2016 08:37:21] "GET /static/js/js.cookie.js HTTP/1.1" 304 0
Internal Server Error: /api/chatterbot/
Traceback (most recent call last):
  File "/home/developer/adtran-bot/venv/local/lib/python2.7/site-packages/django/core/handlers/exception.py", line 39, in inner
    response = get_response(request)
  File "/home/develop

[2016-12-02 09:23] vkosuri commented on #453
I think the browser caching session id, we need clear the browser session id, https://docs.djangoproject.com/en/dev/topics/http/sessions/#django.contrib.sessions.backends.base.SessionBase.flush

[2016-12-02 13:38] gunthercox commented on #443
@vkosuri I thought this might be the case as well. I checked out the zip file that pypi has stored for the 0.5 release and all of the files appear to be correct.

I did find that deleting the /build directory in my ChatterBot directory locally corrected the issue for me.

[2016-12-02 13:41] gunthercox commented on #451
@tryzombie501 That is correct, the chat bot will learn by speaking to the user. You can prevent the chat bot from learning by setting `read_only=True`, but by default the chat bot will continuously learn based on how the user responds to it.

[2016-12-02 13:48] gunthercox commented on #448
This issue is a duplicate of https://github.com/gunthercox/ChatterBot/issues/443
Please direct any further questions to that ticket.

[2016-12-02 13:48] #448 closed

[2016-12-02 13:58] gunthercox commented on #454
@HelloJyo Did you try setting the database parameter to match the name of the one you are using? The available parameters are listed at the documentation link that @vkosuri provided.

Also, if you are looking to add data to the chat bot's database, I recommend taking a look at the [training documentation](http://chatterbot.readthedocs.io/en/latest/training.html). The training process will convenie

[2016-12-02 14:41] graylu21 commented on #450
Any ideas?

And I tried posting my Enter problem on StackOverflow:
http://stackoverflow.com/questions/40924200/bind-enter-on-complicated-tkinter-code

[2016-12-02 15:01] graylu21 commented on #450
Fixed it!!! Aha! In the 'initialize' definition:
        self.usr_input = ttk.Entry(self, state='normal')
        self.usr_input.grid(column=0, row=0, sticky='nesw', padx=3, pady=3)
        self.usr_input.focus() #Sets focus to the input bar at start
        self.usr_input.bind('<Return>', lambda e: self.get_response()) #Binds the Enter key

But I still don't know how to have the 'bot' initiate co

[2016-12-02 15:38] graylu21 commented on #450
Whoo! Fixed the other one too!
`       self.conversation = ScrolledText.ScrolledText(self, wrap='word', state='normal')
        self.conversation.grid(column=0, row=2, columnspan=2, sticky='nesw', padx=3, pady=3)
        self.conversation.insert(tk.END, "Eliza: Hello" + "\n") #Initiates Conversation
        self.conversation['state'] = 'disabled'
`

Then we could change the string for a 'greetings

[2016-12-02 16:20] gunthercox commented on #450
Great, I'm glad to hear you figured it out.

[2016-12-02 16:20] #450 closed

[2016-12-02 21:01] boris314159 opened #457 "Error running basic_example.py"
Installed from ZIP file on 12/02/16... Python 3.5.2
This ran a couple of days ago, just re-installed...maybe something broken?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\BockJoel\Downloads\ChatterBot-0.5.0\chatterbot\chatterbot.py", line 36, in __init__
    self.storage = utils.initialize_class(storage_adapter, **kwargs)
  File "C:\Users\BockJoel\Dow

[2016-12-02 22:54] boris314159 commented on #457
FIXED by following these instructions:

_If you see a directory named utils delete it.
Also if you see a directory named adapters delete it.

I had a similar issue recently. For some reason pip appears to be adding cached outdated modules from the previous version when ChatterBot gets upgraded._

[2016-12-02 22:54] #457 closed

[2016-12-02 23:50] gunthercox commented on #457
Hi @boris314159, glad you were able to resolve the issue. Sorry I didn't get a chance to respond earlier.

[2016-12-03 00:50] boris314159 commented on #457
It's all good, thank you.
I'm excited about the ChatterBot project and hope to maybe contribute once
I get up to speed.

On Fri, Dec 2, 2016 at 3:50 PM, Gunther Cox <notifications@github.com>
wrote:

[2016-12-03 02:46] vkosuri opened #458 "Multiple input and output adapters on a single bot instance"
I think currently chatter will send requests and response to all configured logic adapters, instead is there a possibility send one to one mapping.

For example

If user requested from twitter response should go only twitter.

@gunthercox Any idea how to achieve this task?

[2016-12-03 02:53] gunthercox commented on #458
What action would the logic adapter be taking in this example?
Normally an input adapter would receive the input from Twitter and an output adapter send it back to Twitter.

[2016-12-03 03:18] vkosuri commented on #458
Apologies For confusing, Is there possibility to configure multiple input and output adapters on a single bot instance?

[code]

[2016-12-03 04:24] csrgxtu opened #459 "Is there a way to get the accuracy of this chatterBot"
In Machine Learning area, there always a test data set used for get the accuracy of the model, so, is there any similiar thing for ChatterBot?

[2016-12-03 04:24] #430 closed

[2016-12-03 04:28] gunthercox commented on #458
Right now there isn't a way to do this _exactly_. However, one simple way to achieve it would be to create two separate chat bot instances that share the same database.

[2016-12-03 04:42] gunthercox commented on #459
ChatterBot uses logic adapters, which are essentially just modules that take input and return a response. Each response that is returned has a confidence value associated with it. The confidence value is a numeric indicator of how accurate the logic adapter _thinks_ the response is.

A confidence score is _kind of_ a metric for accuracy but it probably better reflects the breadth of a particular b

[2016-12-03 05:27] vkosuri commented on #458
Thanks, I have few other questions, if we add this features integrated into chatterbot,

1. any consequences/issues will occur?
2. If not any plan implementation this feature?
3. Will it benefited to chatterbot?

[2016-12-03 06:20] tshrjn opened #460 "AttributeError: module 'chatterbot.logic' has no attribute 'BestMatch'"
I tried the simple [terminal example](https://github.com/gunthercox/ChatterBot/blob/master/examples/terminal_example.py) but got this error. Any suggestions ? Thanks in advance.

[code]

[2016-12-03 15:30] gunthercox commented on #460
Hi @tshrjn, sorry about the error, `BestMatch` was a new class name that I added a few hours ago. I've released the latest version of ChatterBot which included this class. To upgraded run:

[code]

This should fix your issue.

[2016-12-03 15:30] #460 closed

[2016-12-03 15:52] gunthercox commented on #458
At one point, this feature was actually added: https://github.com/gunthercox/ChatterBot/pull/116
I removed it because there wasn't a way to specify where an input from one source should be returned to (So for example, input from Twitter should return output to Twitter).

I don't think this functionality would benefit ChatterBot. Supporting multiple inputs and outputs really increases the complexit

[2016-12-03 15:57] gunthercox commented on #447
Since ChatterBot is now supporting concurrent chat sessions, I can see the ability to log into the Django example being useful. I think a good use case might be that someone wants to test out the chat bot having two different conversations. They could make two user accounts and sign in on different browsers.

[2016-12-03 16:51] gunthercox commented on #417
Hi @vishnu-ks, @alekaizer, I'm going to close this issue because I'm still uncertain that it actually solves anything. I welcome any pull requests or code samples as those may provide better grounds for demonstrating and collaborating on a solution.

[2016-12-03 16:51] #417 closed

[2016-12-03 18:51] onlydarkknight commented on #407
Hello again and thanks for your reply
I download latest version of package but still have same error,therefore i test same code with hindi corpus data but still same error occurred.below is new example code :
[code]
and error:

[code]
i attached image of pip list command to see my package version.
![capture](https://cloud.githubusercontent.com/assets/23508966/20861485/b11050f0-b9a6-11e6-80fe-3f899

[2016-12-03 22:04] gunthercox commented on #407
Looking at the traceback, it appears that the issue is coming from the `jsondb` package (`File "D:\Python27\Lib\site-packages\jsondb\db.py"`). Please make sure you have the latest version installed by running `pip install jsondatabase --upgrade`

You may also find that you need to encode test from the response statement to display it in the terminal. I've added an example bellow to help you.

[cod

[2016-12-03 22:04] #407 closed

[2016-12-03 22:48] vkosuri commented on #458
Great and thank you

[2016-12-03 22:48] #458 closed

[2016-12-03 22:49] vkosuri commented on #447
Agreed with you

[2016-12-03 22:49] #447 closed

[2016-12-04 17:57] gunthercox opened #464 "Do the Django Statement and Response models need to be converted back into ChatterBot Statement and Response objects?"
Right now, when using ChatterBot with Django, ChatterBot's Django storage adapter converts the Django Statement and Response model objects back into ChatterBot Statements and Response objects.

Because both objects share similar structures, the conversion might not actually be necessary and ChatterBot can use the Django objects themselves. This change would greatly improve performance when process

[2016-12-04 18:47] onlydarkknight commented on #407
Thanks again
i test my jsondatabase version and it is up to date already.also test your example code and still get same error as bellow:
[code]
did you test your example code and run with no error?

[2016-12-04 19:51] gunthercox commented on #407
I was able to run the example I posted without error. In the traceback you posted, the part that says `character maps to <undefined>` looks very odd to me. Is it possible that the default encoding isn't set on your computer? To check this, what is the output of:

[code]

[2016-12-05 04:50] shashwatbhatt opened #465 "Not able to run learning_feedback_example"
In examples/learning_feedback_example.py on line number 49
"previous statement" param is missing which causes an error as there are two parameters expected by it. I have solved this one creating a PR.

[2016-12-05 10:44] HelloJyo commented on #454
I changed to the mongoDB. I trained the bot with new data by making changes with the corpus data.
But couldn't train it with the trainer class (list trainer). If there any way to do that?

[2016-12-05 11:12] #465 closed

[2016-12-05 11:15] gunthercox commented on #454
There is other methods for training: http://chatterbot.readthedocs.io/en/latest/training.html

[2016-12-05 11:21] vkosuri opened #467 "Custom paths for corpus data"
I think it would be good option to specify custom paths for corpus data, currently its system specified path only

[code]

[2016-12-05 11:29] HelloJyo commented on #454
ok i'm gonna try

[2016-12-05 13:05] vkosuri commented on #453
Currently i was handling like this at https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/ext/django_chatterbot/views.py#L51, am i doing in correct way?

[code]

[2016-12-05 18:22] gunthercox commented on #453
This looks correct. This is an issue I am still looking in to. I think I have to look deeper into how Django's sessions work and specifically what triggers them to be created and destroyed.

[2016-12-05 18:45] vkosuri commented on #453
Somehow i figured out this issue, It was failing because of initial or first conversation browser cookie session id and UUID generated session are different.

[2016-12-05 19:39] onlydarkknight commented on #407
Also i test your example test code in python command line step by step(marked in yellow in attached image) and got same error again(surrounded with red color line), and it seems printing unicode to console doesn't cause error;while when i run command `chatbot.train("chatterbot.corpus.hindi.greetings")` this error occurred
![chater](https://cloud.githubusercontent.com/assets/23508966/20899449/b8990

[2016-12-06 03:17] cesarandreslopez commented on #452
Same error here. Not with one of the examples though but with an import of https://www.cs.cornell.edu/~cristian/Cornell_Movie-Dialogs_Corpus.html in particular the movie_lines.txt

The import is fine and it will work upto some point while importing but by the time the import is done I will get a pymongo.errors.OperationFailure: distinct too big, 16mb cap error. I will try again limiting the length

[2016-12-06 03:56] rajasimon opened #468 "How do I post against chatterbot api from channels?"
Well I'm using Django channels to send and receive messages. In this case I'm using consumers to get the messages from frontend and process it and return back to frontend.

[code]
I correctly set `chatterbot.ext.django_chatterbot` in INSTALLED_APPS. And also I have this...

[code]

[2016-12-06 04:22] cesarandreslopez commented on #452
@gunthercox i can confirm that if the size of the of text or phrase is limited (tried 160 characters) i see no  "Mongo DB error: distinct too big, 16mb cap" error.

[2016-12-06 08:50] vkosuri opened #469 "Structure way defining of corpus data"
@gunthercox Is there any specific way to define corpus data for chatter bot?

for example

[code]

If so how chatterbot will process this text

[code]

[2016-12-06 09:01] HelloJyo commented on #454
ok it worked....thanks

[2016-12-06 09:01] #454 closed

[2016-12-06 17:31] kennetham commented on #459
@gunthercox how do I get the confidence level from `get_response`? Is there any way to get the confidence level from a statement?

[2016-12-06 22:25] gunthercox commented on #459
Currently `get_response` does not return the confidence value. I can see how this would be useful and I would be happy to add it as a feature in one of the upcoming releases of ChatterBot.

[2016-12-06 23:15] gunthercox commented on #469
Currently, ChatterBot's corpus format is essentially just a list of dialog sets. For example"

[code]

 It would be a good idea to modify the format so that it can store more information as you suggested.

[2016-12-07 00:04] gunthercox commented on #468
Hi @rajasimon, I am not very familiar with Django channels but they look quite interesting. Maybe take a look at the existing API view that is provided in the project: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/ext/django_chatterbot/views.py

[2016-12-07 02:33] alex-dh opened #470 "Logic adapter for some kind of facet search"
I'm considering a problem where there may be a product database or some other searchable data set.

I'd like to be able to extract keywords and perform searches, and return responses that may interest the user.

It looks like I'd have to write a logic adapter, which I should be able to do as a developer.  But I am unsure how to incorporate this into a training set, or whether a contextually aware

[2016-12-07 03:28] rajasimon commented on #468
Yes I was expecting something very easy to setup weather I'm using Django channels or normal Django views for the chat messages. Maybe we can setup chatterbot configuration in the settings file and invoke that from our views or channels message to get the response.

I looked that chatterbot settings in that example and modified what I need.

[code]

Looks like messages saved into database that's a

[2016-12-07 03:43] kennetham commented on #459
Cool. I am using a quick and dirty method now, I'm not sure if it was meant to be used this way.

[code]

[2016-12-07 03:48] kennetham commented on #469
Question: as per suggested, the corpus should be in json format. How do you train the corpus in the main application? Let's say I exported the training corpus data, how do you retrain it on another bot? There isn't any examples on that?

I basically wrote my own "adapter" to read the corpus in json format, then load it in JSON pair to train.

[2016-12-07 10:31] bilalbayasut commented on #444
ok yes, but how about to make the response ? can I generate my own response in hard code ? or maybe there is a way to store in db by train method, but not by user_input - response pairs, but the response only.

so I can call chatbot.train(['Thank you for ordering flower with us'])

or you have a more dynamic and simple way?

thanks in advance

[2016-12-07 18:29] gunthercox commented on #469
Right now you can export your chat bot's knowledge as a JSON file: file:///C:/Users/Gunther/GitHub/ChatterBot/build/corpus.html?highlight=export#exporting-your-chat-bot-s-database-as-a-training-corpus

The ability to specify a file path for a training corpus will be added in https://github.com/gunthercox/ChatterBot/issues/467

[2016-12-08 01:51] SunYunyun opened #473 "Warning that JsonFileStorageAdapter is not recommended for production application environments"
D:\Anaconda2\lib\site-packages\chatterbot-0.5.1-py2.7.egg\chatterbot\storage\jsonfile.py:19: UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production application environments.
  self.UnsuitableForProductionWarning
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is al

[2016-12-08 02:35] vkosuri commented on #473
I am not sure chatterbox will work anaconda , can you try with Python
version 2.7 , 3, 3.4 etc?

[2016-12-08 07:32] osDanielLee commented on #473
Did you get a error or something else? If all you got just like you
provide, it seems like download package wordnet failed, did you try to
download wordnet by yourself?

On Thu, Dec 8, 2016 at 9:51 AM, SunYunyun <notifications@github.com> wrote:

--

With best regards,
Datong Li

[2016-12-08 08:00] vkosuri opened #474 "Add session management to input hipchat adapters"
I verified this issue on hipchat only, i made some changes on my machine to work.

[2016-12-08 12:08] gunthercox commented on #474
Ok, this makes sense. I never made changes to add it 😐

[2016-12-08 12:13] gunthercox commented on #473
Hi @SunYunyun, the warning that you are seeing is just a warning, not an error. It is displayed to make sure that developers are aware of the poor performance of the default file storage that is used unless they specify a different database.

***

You said that nothing happens after this, which example are you using?

[2016-12-08 12:21] gunthercox commented on #470
Hi @alex-dh, this is an interesting question. Normally I would recommend just training the chat bot based on the available data but it sounds like you data source is something that gets changed externally.

I'll have to think about this, but I would definitely be interested in making changes to ChatterBot to better accommodate this functionality.

[2016-12-08 13:57] bekerov opened #475 "Example `add_response`"
Please specify example of usage `add_response`

[2016-12-08 19:29] boris314159 opened #476 "Feature request - interactive training with feedback"
Is it feasible to implement reinforcement learning for interactive training of the chatbot?
The idea would be to provide feedback on the appropriateness of the respsonse,
in order to develop specialized knowledge on the part of the bot.
Bad responses would be penalized, and vice versa for good responses.
Does the current architecture support such a mechanism in principle?

[2016-12-08 19:33] gunthercox commented on #476
The current codebase does not support reinforcement learning. I would be happy to accept this as a feature request though.

[2016-12-09 02:19] vkosuri commented on #475
For a quick example you could look into this testcase, https://github.com/gunthercox/ChatterBot/blob/c3431ced70b88eb08fb36534f18ed62c90ab9723/tests/conversation_tests/test_statements.py#L17

[2016-12-09 02:33] alex-dh commented on #470
Hi @gunthercox thanks for the reply, the data source would be external that's correct.

I am wondering if an efficient approach would be a middleware layer that generates faux-chats based on a heuristic, and outputs these as new training sets.

Is it possible to selectively "untrain" chatterbot, i.e to remove expired / outdated responses?  Alternatively I could run a cron to reset / retrain on a r

[2016-12-09 02:36] gunthercox commented on #470
Sure, statements can be deleted using the `remove` method on the storage adapter: http://chatterbot.readthedocs.io/en/latest/storage/index.html#chatterbot.storage.JsonFileStorageAdapter.remove

[2016-12-09 02:47] gunthercox commented on #475
Hi @bekerov, here is a link to the documentation for this function for reference: [link](http://chatterbot.readthedocs.io/en/latest/conversations.html#chatterbot.conversation.Statement.add_response). The `add_response` method adds the Response object as an element in the list of statements that the current statement is in response to. So, for example:

[code]

Also, keep in mind that doing this on

[2016-12-09 02:58] alex-dh commented on #470
Thanks for the pointer, I have an inkling of an idea forming, something like this:

1. Generate Corpus data from saved searches (middleware, simple heuristic or templated pattern replacements)
2. Train  Chatterbot on new corpus
3. Remove old responses
4. ...
5. Profit?

I'll have a bit of a play and let you know how I get on.  Ideally this would be a dynamic process but for our purposes this middl

[2016-12-09 03:04] phpmind opened #477 "ChatterBot and Api.ai"
Hi
Can we connect ChatterBot with API.AI.

I like using logical adapter but i would like to know if we can integrate with API.AI.

Thanks

[2016-12-09 06:12] bekerov commented on #475
Thanks this very helpful

[2016-12-09 07:37] #475 closed

[2016-12-09 12:58] HelloJyo opened #478 "No module named storage"
I am trying to create a web site to which i need to integrate the chatterbot. I created my own web page using Django. But when tried to integrate the chatterbot, i got this error.... i didn't used "django_chatterbot" and just used the chatterbot package...

[code]

[2016-12-09 17:30] ThomasKoscheck commented on #478
Same issue

[2016-12-09 23:06] gunthercox commented on #478
Hi @HelloJyo, what do you get as output when you enter `python -m chatterbot --version` in your terminal?

[2016-12-09 23:28] boris314159 opened #479 "Logic problem in "learning_feedback_example.py""
I really like this example, it provides the basis for interactive training of bots. There seems to be logical error if the user responds negatively to the query below. If get_feedback() returns "No", the output is simply the original bot response (which was incorrect), and is assigned a confidence value of 1.0.

[code]

[2016-12-09 23:28] #468 closed

[2016-12-09 23:44] phpmind commented on #477
gunthercox - I would love to add this feature in few weeks. I will let you know.

Thanks

[2016-12-10 00:45] gunthercox commented on #453
Hi @vkosuri, I apologize for not responding to your comment sooner. Somehow I missed the notification for it. I've opened up a pull request that should resolve the issue you encountered #480. It appears that I forgot to handle the case that a chat session id could be held in the Django session, but missing from the ChatBot's sessions.

[2016-12-10 01:37] #453 closed

[2016-12-10 01:49] gunthercox commented on #452
I'm going to close this ticket off as it is a duplicate of #261

[2016-12-10 01:49] #452 closed

[2016-12-10 01:51] gunthercox commented on #261
Just a note on this, newer versions of ChatterBot include more verbose error handling for MongoDB and part of message for this error now also states `distinct too big, 16mb cap`.

[2016-12-10 03:52] vkosuri commented on #453
No problem, This looks awsome. Thank you very much.

[2016-12-10 04:03] vkosuri commented on #469
@gunthercox I am planning to write PR for above two enhancements, do any have any ETA for these two issues #469 and #467?

[2016-12-10 04:06] vkosuri commented on #474
Thanks, Any plans to fix this issue? If not can i submit PR?

[2016-12-10 04:19] vkosuri opened #482 "Chatbot text into events"
It would be great by convert chatterbot text into events. For example, any suggestion/comments?

[code]

[2016-12-10 04:27] gunthercox commented on #474
@vkosuri If you are interested in working on this that would be greatly appreciated.

[2016-12-10 04:30] vkosuri commented on #474
Sure will submit a PR soon

[2016-12-10 04:32] gunthercox commented on #469
@vkosuri I haven't started working on anything to allow custom paths for corpus data (#467) yet, feel free to start if you are interested in working on it.
***
For this ticket (#469) i'm in the process of researching the formats of other existing data corpora. I'm interested to see if there are any design patterns that might be beneficial to follow.

[2016-12-10 04:44] gunthercox commented on #482
Creating efficient scheduling operations can often be a challenging problem to solve. What about offloading the task to the user's calendar? Most calendar apps already display notifications when a scheduled event is coming up, and it would also make it possible synchronize the events across the user's devices if they were all connected to the same calendar.

- https://msdn.microsoft.com/en-us/offi

[2016-12-10 09:21] ThomasKoscheck commented on #478
Hey, I am having a similar Error:
[code]
This error also appears, when I am trying to run some examples of you.

When I am running `python -m chatterbot --version`, it gives me this output.
[code]

[2016-12-10 11:47] HelloJyo commented on #478
I have a traceback as follows when i run the django application in the browser

Environment:

Request Method: POST
Request URL: http://127.0.0.1:8000/views/act

Django Version: 1.9.2
Python Version: 2.7.6
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'c

[2016-12-10 13:09] gunthercox commented on #478
@HelloJyo can you post your `CHATTERBOT` configuration from your `settings.py` file? It may be able to help me determine what the cause of this issue is.
***
@ThomasKoscheck I don't think you have chatterbot installed correctly. The output `ImportError: No module named jsondb` tells me that you don't have that package installed and that you are likely missing other requirements as well. The recomm

[2016-12-10 13:40] gunthercox commented on #478
@HelloJyo Did you follow the setup instructions for using ChatterBot with Django?
http://chatterbot.readthedocs.io/en/latest/django/index.html#installation

[2016-12-10 16:03] #473 closed

[2016-12-10 16:09] gunthercox opened #483 "Rest response"
Under some circumstances, saying nothing is a valid response. I am considering experimenting with adding functionality for a special response type that indicates that the bot should _not_ respond. It would also be interesting to see if a long pause in a conversation with a user could be interpreted as a non-response in which case the bot could learn to reply with something like _"Are you still the

[2016-12-10 16:13] #443 closed

[2016-12-10 16:16] #152 closed

[2016-12-10 17:22] vkosuri commented on #482
very impressed me alot by looking this https://api.slack.com/rtm, do you have any comments on this?

[2016-12-10 18:14] engineer34 opened #484 "The data received from twitter is not copied to the database"
I am creating a twitter bot with your project but The data received from twitter is not copied to the database. self.storage.(statement) part is not working ?

[2016-12-10 19:36] vkosuri commented on #467
@gunthercox Planning to write like this, any suggestions/comments?

[code]

[2016-12-10 19:40] gunthercox commented on #467
@vkosuri Looks good to me 👍

[2016-12-10 19:41] vkosuri commented on #484
@engineer34 Could you please let me know type adapter are you using for example Terminal/django/etc

[2016-12-10 19:44] gunthercox commented on #482
Slack has a great API, I've been meaning to look into it at some point.

[2016-12-10 19:45] engineer34 commented on #484
storage_adapter = "chatterbot.adapters.storage.TwitterAdapter"

[2016-12-10 19:47] gunthercox commented on #484
@engineer34 I think you are using an old version of ChatterBot. The twitter storage adapter has been removed because it had a number of issues. There is a new training module that replaces it and it should work much better: http://chatterbot.readthedocs.io/en/latest/training.html#training-with-the-twitter-api

[2016-12-10 19:51] #474 closed

[2016-12-10 19:52] engineer34 commented on #484
I try this example but I get an error message :
ImportError: No module named input

[2016-12-10 19:53] gunthercox commented on #484
Maybe that module doesn't exist in the version you have?

[2016-12-10 20:03] engineer34 commented on #484
thank you so much

[2016-12-10 20:13] vkosuri opened #486 "in_response_to properties"
I think adding a properties object to in_response_to, it will give more control to developer make many decisions by filling in_response properties dict.. For example

[code]

***
I am assuming it may add extra overhead to chatterbot, Any suggestions/comments?

[2016-12-10 21:09] gunthercox commented on #486
Each of the items in the `in_response_to` list is technically a `Response()` objects. Each `Response()` object is a representation of the relationship between two statements. If the proposed `properties` attribute is intended for styling the response statement, would there be any issues saving them as `extra_data` on the statement itself?

![image](https://cloud.githubusercontent.com/assets/203057

[2016-12-10 21:10] #484 closed

[2016-12-10 21:58] engineer34 opened #487 "about get_response("text") function"
how can provide
 response = chatbot.get_response("Hi")
instead of using terminal

[2016-12-11 09:45] Rileghft commented on #238
I have the same issue

After tracing function call stack, and then I found that a write error occur at **bulk.py** when calling function  **_do_batched_write_command(...)**. The following error message stored in the variable **result**

[2016-12-11 15:31] HelloJyo commented on #478
My settings.py file is this.....

"""
Django settings for mysite project.

Generated by 'django-admin startproject' using Django 1.9.12.

For more information on this file, see
https://docs.djangoproject.com/en/1.9/topics/settings/

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.9/ref/settings/
"""

import os

# Build paths inside the project like this: os.

[2016-12-11 16:06] gunthercox commented on #478
Ah, I'm pretty sure I see your issue. For ChatterBot to work in Django, you need to include it's Django extension module in your `INSTALLED_APPS` list. So you should add `'chatterbot.ext.django_chatterbot',` in your installed apps.

Also, I see that you have the following in your installed apps as well:
[code]

If the `chatterbot` module is something you made yourself, you should rename it to stop

[2016-12-11 16:13] gunthercox commented on #478
There is also a Django example on GitHub if an example would help:
https://github.com/gunthercox/ChatterBot/tree/master/examples/django_app

[2016-12-11 19:58] gunthercox opened #489 "Add tests to make sure that input and output adapters work with Django"
There are currently integration tests for basic input and output adapters, however some of the more complex ones that connect to APIs such as Gitter and Hipchat currently do not have tests.

[2016-12-11 21:20] vkosuri commented on #486
Awesome, this makes me more clear. I think this could be documented?

[2016-12-11 21:28] gunthercox commented on #486
Agreed, my plan is to add a version of that diagram and an explanation to the documentation on statements and responses. http://chatterbot.readthedocs.io/en/latest/conversations.html

[2016-12-11 21:29] vkosuri commented on #486
Thanks Master

[2016-12-11 21:29] #486 closed

[2016-12-12 04:47] vkosuri opened #493 "chatterbot live example"
I have made a heroku live example for chatterbot to more familiar with chatterbot and what it does. you can access this app from here https://chatterbot-live-example.herokuapp.com/

Any comments/suggestion?

[2016-12-12 04:47] vkosuri commented on #493
And alos source of this example you can found here https://github.com/vkosuri/chatterbot-live-example

[2016-12-12 05:57] vkosuri opened #494 "wsgi issues"
I have found some issue will submit PR.

[2016-12-12 06:21] vkosuri commented on #482
@gunthercox By looking into this, any thoughts on best implementation methods?

- https://msdn.microsoft.com/en-us/office/office365/api/calendar-rest-operations
- https://developers.google.com/google-apps/calendar/v3/reference/

[2016-12-12 13:49] vkosuri opened #497 "django chat response aren't converting into json objects"
Captured Traceback of thsi errror

[code]

[2016-12-12 14:04] vkosuri commented on #497
And also it was failed due to unable to convert Unicode data into string

[2016-12-12 23:43] gunthercox commented on #482
@vkosuri Unfortunately I don't have any recommendations.

[2016-12-12 23:58] #487 closed

[2016-12-13 00:00] gunthercox commented on #469
I just wanted to post a link for later reference. This is for the current work-in-progress concept for the future version of ChatterBot's dialog corpus files. I'm still considering other ideas so this document will be updated in the future.

https://github.com/gunthercox/ChatterBot/wiki/Specification-for-the-ChatterBot-corpus-format

[2016-12-13 00:09] gunthercox commented on #493
I can see it is currently having the issue you reported in #497. As soon as the issue is resolved I'll draft a new version of chatterbot to release to pypi.

[2016-12-13 01:19] #478 closed

[2016-12-13 01:22] gunthercox commented on #482
Actually, there is a very cool datetime parsing utility that @rmdort contributed a while back. You can check it out here: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/parsing.py

This might be useful for converting phrases like "later today" to an actual datetime object.

[2016-12-13 12:01] rajasimon commented on #468
@gunthercox

[code]

And in my channels message I have this...
[code]
I know this bad way to try. This will fetch the nltk data two times. I cann't able to make post request to chatterbot API using requests because of the csrf_token issue. What is the best approach?

[2016-12-13 12:11] HelloJyo commented on #478
chatterbot is the downloaded copy and I made some changes in it. I want to use that as a module in a web application. I didn't want to install the chatterbot, instead want to use the downloaded copy. But when i try to do so, I am getting this....

Unhandled exception in thread started by <function wrapper at 0x7f478fee4e60>
Traceback (most recent call last):
  File "/home/cedex/.local/lib/python2.

[2016-12-13 14:13] gunthercox commented on #468
@rajasimon Django encourages secure requests. If you are seeing an error about CSRF tokens, then you likely need to add the token to the request you are sending to your API.

Django provides several examples on how you can do this in their documentation: https://docs.djangoproject.com/en/1.10/ref/csrf/

The solution you use depends on the setup of your code. If you are sending your requests to the

[2016-12-13 14:17] gunthercox commented on #478
Sure, you'll just have to remember to modify any imports to match the name spacing of your app.

[2016-12-13 17:54] vkosuri commented on #469
This looks good to me. Question

1. How chatterbot will responds to previous statements using suggested model?
2. If not, what are the other methods to achieve this?

[2016-12-13 23:40] gunthercox commented on #469
In this model, responses are indicated by consecutive statements in each list.

[2016-12-13 23:44] duramato opened #504 "Identify "Corpus" by IETF language tag rather than just language"
My suggestion is to Identify the "Corpus" by [IETF language tag](https://en.wikipedia.org/wiki/IETF_language_tag) rather than just language. What are the benefits? it would allow for different dialects to be made independent as i might want to just "teach" just one of them.
### Why i'm bringging this idea up?
For example the corpus for the _Portuguese_ language taking a look at it seems to have mo

[2016-12-13 23:49] gunthercox commented on #504
This is a good suggestion. Making changes to use IETF language tags sounds like it would really benefit ChatterBot.

[2016-12-14 06:19] HelloJyo commented on #478
Thanks... Now it's working..

[2016-12-14 06:27] rajasimon commented on #468
@gunthercox Well I'm not planning for using AJAX solution. And I found the way to work with `requests` But I wanted to insert  `{% csrf_token %}` in base.html

[code]

[2016-12-14 06:32] rajasimon commented on #468
And another one thing... I'm getting the No json object could be decoded error from TimeLogicAdapter related. Will investigate into that one. Will update you.

[2016-12-14 13:15] vkosuri commented on #469
Apologies I am making this conversation longer 🔢 , From above statement, can i assume If the question multiple answer, do i need to two lists for same answer?

***
How do i make programmable responses? Is there way the If chatterbot not found the answer in corpus, suggest chatterbot to look for programmable response

[2016-12-14 14:38] gunthercox commented on #469
No problem, any questions you have about it are helpful because it lets me consider things that I might not have thought about. If you have any other questions, please ask them. I want to get as much feedback on the design as possible before committing to it.

Also, you are correct. For representing multiple responses to the same input, the input will have to be listed multiple times. I designed i

[2016-12-15 01:31] vkosuri commented on #469
By looking into http://www.alicebot.org/aaa.html it was amazing like chatterbot. If i want make a bot like ``alice`` using chatterbot, what are things/algorithms need update/write/create?

[2016-12-15 16:18] gunthercox commented on #469
Were there any features that you saw in Alice bot that ChatterBot doesn't have?

[2016-12-15 16:32] gunthercox commented on #494
Closed by #505

[2016-12-15 16:32] #494 closed

[2016-12-15 16:32] gunthercox commented on #497
Closed by #498

[2016-12-15 16:32] #497 closed

[2016-12-15 22:24] engineer34 opened #508 "No handlers could be found for logger "chatterbot.trainers""
I got this error can you help me please ?

[2016-12-15 22:34] gunthercox commented on #508
Hi @engineer34 Could you please provide some information on how you got the error? Right now there isn't anything there that can let me help you. Some items that you might wight want to include **at minimum** are:

- The version of Python you are using
- The version of ChatterBot you have installed
- **A list of steps that other developers could follow to recreate the error that you encountered.**

[2016-12-16 00:05] vkosuri commented on #469
some of them i have found, please point/correct me if it already there

Bot Properties
----------------
I think it is good idea if we have similar kind of feature.
https://code.google.com/archive/p/aiml-en-us-foundation-alice/wikis/BotProperties.wiki

Preprocessing statements
----------------------------
This is my first choice of implementation, It's awesome feature
https://code.google.com/archiv

[2016-12-16 17:53] ThomasKoscheck opened #509 "encoding output response as utf-8 string"
I want to request, if it is possible to encode the response from chatterbot with utf-8, because in the moment it is an object as far as I know and that is problematic for the use with special characters and umlauts (ä,ö,ü).

Python is giving me the following error:
[code]
_I am using Chatterbot with the Telegram- API_

The code for this is:
[code]

[2016-12-16 17:57] gunthercox commented on #509
I believe your unicode header is incorrect. It should be `# -*- coding: utf-8 -*-`

[2016-12-16 18:10] ThomasKoscheck commented on #509
I tried it with both versions of the headers, but that it doesnt make any difference.

[2016-12-17 14:54] #464 closed

[2016-12-17 15:55] gunthercox commented on #509
ChatterBot is able to handle unicode values correctly. You can pass it non-encoded data and it should be able to process it properly (you'll just need to decode the output that it returns).

Bellow is one of ChatterBot's tests from [tests/test_chatbot.py](https://github.com/gunthercox/ChatterBot/blob/master/tests/test_chatbot.py), this is just a simple check that a unicode response can be passed i

[2016-12-17 16:10] gunthercox commented on #444
Hi @bilalbayasut, my apologies for the late response. I appear to have missed your last comment.

You can create response pairs in ChatterBot using it's _training_ functionality. Here is a link to the documentation with more info and examples: http://chatterbot.readthedocs.io/en/latest/training.html

Essentially, training provides several different methods to add statements, as you described. For

[2016-12-17 16:10] #444 closed

[2016-12-17 16:59] #493 closed

[2016-12-18 03:38] stevedipaola opened #514 "how lists of response works?"
can you explain - in a default setup how a long list of responses will change the possible weighty of response  from say doing them in separate lsits. That is how does a list of responses weight the setup to move through to those responses. I am asking mainly to understand how to author these, that is when to keep a long list going as opposed to making another list.

So then the difference between

[2016-12-18 13:35] gunthercox commented on #514
Given the first example with two short lists, the chat bot would not make a connection between "I am good." and "That is good to hear.". That is, it would not know that "I am good." has "That is good to hear." as a possible response.

In the single longer list, each statement will be learned as a response to the previous.

[2016-12-18 14:45] vkosuri commented on #493
@gunthercox is it possible add this https://chatterbot-live-example.herokuapp.com/ url in somewhere in documentation?

[2016-12-18 15:32] gunthercox commented on #493
Sure! Feel free to make a pull request. There is also a section in the readme.md that lists various examples with Django and Flask, a link to the live example might work well there as well.

[2016-12-18 16:39] vkosuri opened #518 "Integrating jinja2 templates into corpus"
With reference #469 I felt introducing jinja2 template into corpus, A more useful to users and developers.

An example located here https://gist.github.com/sevennineteen/4400462

@gunthercox any comments/suggestion before implementing this feature?

[2016-12-18 18:18] gunthercox commented on #518
I like the idea of having some kind of templateing functionality. However, I don't think that the corpus is the right place to have this feature. ChatterBot's corpus is intended to a be a source of **raw** data (examples of conversations, bits of factual information, etc.).

[2016-12-18 18:52] vkosuri commented on #518
Agreed, By making another directory **templates** will make a separation from **raw** data,

[code]

[code]

[2016-12-18 20:06] gunthercox commented on #518
A separate directory definitely sounds better.

[2016-12-18 20:26] stevedipaola commented on #514
Thanks, ok that came off as a dumb question, I was looking for the next level of detail or better yet I should have just explained my issue.  we have a chatterbot setup working with slack (wonderful program and setup! - thanks) and in our code the ability to correct on the fly. So this way, as one current approach, I can start with nothing, then start with a question and after that  answer live ju

[2016-12-18 21:34] gunthercox commented on #514
Hmm, maybe you could set [get_most_frequent_response](http://chatterbot.readthedocs.io/en/latest/logic/response_selection.html#module-chatterbot.response_selection):
[code]

Making this change would cause your bot to select the response that occurs most frequently. If your correcting methods incremented the occurrence count of the correct response, it should cause that response to be selected the

[2016-12-18 21:53] #508 closed

[2016-12-18 21:54] gunthercox commented on #477
Looking forward to seeing git. In the meantime, I'm going to close this ticket off. Thank you.

[2016-12-18 21:54] #477 closed

[2016-12-19 19:36] ThomasKoscheck commented on #509
You are right, there was a issue in my encoding. Thanks for your help!

You can close this issue.

[2016-12-19 19:38] #509 closed

[2016-12-20 08:53] vkosuri commented on #518
Got other ideas, Instead modifying everythin can write like this

Questions:

1. Will it work as a long term solution?
2. will address template mechanism?

I will document this, soon

[code]
[code]

[2016-12-20 18:37] rajasimon opened #522 "How do I point to the custom corpus within Django project?"
I'm planning to create corpus directory inside my Django project, say I have the project called `funstuff`

[code]

I like to modify the settings.py file like this
[code]

Finally I want `./manage.py train` should pick those corpus file and start the training!

[2016-12-20 18:45] vkosuri commented on #522
You could more documentation from here http://chatterbot.readthedocs.io/en/stable/django/training.html#training

[code]

[2016-12-20 19:17] rajasimon commented on #522
@vkosuri  Nope still it's not picking my Django project corpus file. Can you replicate my above setup and give me solution

[2016-12-20 23:39] gunthercox commented on #522
Hi, the ability to specify a path currently isn't available in ChatterBot.
There are plans to add the ability to do so and there is currently a ticket
open that requests this feature (
https://github.com/gunthercox/ChatterBot/issues/467).

This will be a relatively simple feature to add and it should be possible
to add it in one of the upcoming releases.

[2016-12-20 23:40] gunthercox commented on #518
Unfortunately I don't have a concise answer for either of your questions.

As a long-term solution, it might work well, or it might have unexpected
conflicts with a future item called `Personas`. Personas will be
representations of personality for both users and chat bots. I think some
of your recent comments and pull requests hint upon the necessity of this
functionality but unfortunately it is n

[2016-12-21 06:48] rajasimon commented on #467
I like this to be integrated asap!

[2016-12-21 06:49] vkosuri commented on #467
Sure 👍

On 21-Dec-2016 12:18, "Raja Simon" <notifications@github.com> wrote:

[2016-12-21 06:54] buildithub opened #523 "Chatterbot response in django is in json format"
![screenshot from 2016-12-21 12 24 01](https://cloud.githubusercontent.com/assets/18592572/21380041/60a84b24-c778-11e6-9809-29907693680f.png)

[2016-12-21 07:05] vkosuri commented on #523
@buildithub how you are trying? Did you see this error while running example_app ? Could you please explain a bit your problem, so that is easier to help?

[2016-12-21 07:11] buildithub commented on #523
yes I ran example_app and the above problem occurs. This is happening since 0.5.3 version. Before that I used 0.5.1 version of the chatterbot and there was no problem.

[2016-12-21 08:02] vkosuri commented on #523
I can able reproduce this issue

[2016-12-21 08:47] buildithub commented on #523
I used 0.5.1 version's django_app with 0.5.3's chatterbot. Still not working. Only working with 0.5.1.

[2016-12-21 09:27] buildithub commented on #523
I used 0.5.3 version's django_app with 0.5.1's chatterbot. It's working.

[2016-12-21 16:49] melvinabraham opened #524 "Adding new data to existing corpus."
@gunthercox
When I add new Questions/Answers to the existing corpus(I used 'conversations') and then on training it again, the bot doesn't respond with the newly added questions.
![1](https://cloud.githubusercontent.com/assets/12198973/21397898/7450b55a-c7cb-11e6-9d09-63cd4cdd2bae.png)
![2](https://cloud.githubusercontent.com/assets/12198973/21397908/7ca1cffa-c7cb-11e6-9da3-d6d6dfccecb3.png)
![3](

[2016-12-22 00:08] gunthercox commented on #524
If you are modifying chatterbot's codebase, you will likely need to
re-install chatterbot after the modification (`pip install . --upgrade`).
After than you should be able to call the train method to re-train the chat
bot with your updated data.

[2016-12-22 05:27] buildithub opened #525 "Can I initialize two chatterbot at the same time in django?"
I want to have a django app which has two chatterbot with different databases. Is it feasible? If yes can you give some idea?

[2016-12-22 05:33] vkosuri commented on #525
Yes it is feasible

[2016-12-22 05:47] buildithub commented on #525
How? can you please give some idea?

[2016-12-22 07:24] vkosuri commented on #525
Something could you help you http://michal.karzynski.pl/blog/2013/10/29/serving-multiple-django-applications-with-nginx-gunicorn-supervisor/

I never tried above scenario, I think working with different database you need pass it externally to your app.

[2016-12-22 07:46] rajasimon commented on #467
Can you make the pull request so I can check it and also does it support for adding my own custom adapters...?

i.e)

[code]

[2016-12-22 08:22] rajasimon commented on #467
Sorry for my prev message I just saw this https://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html#directory-structure

[2016-12-22 13:38] melvinabraham commented on #524
Um no. I'm not modifying the codebase. Rather, I added an extra entry to the corpus (english.conversations). However on querying that entry(Essentially a question with answer, refer the pics above) I get a random output, not what I trained it.
Thanks.

[2016-12-22 13:44] melvinabraham commented on #524
To be more specific:
1. **I added the entry** _["This is a test question?","Testing123"]_ to the **english.conversations corpus**
![1](https://cloud.githubusercontent.com/assets/12198973/21427402/64285ab6-c87a-11e6-98d3-9100deda6c60.png)
2. Now I created a bot and trained it with the already **modified and saved** conversations corpus.
So basically the program gets response from the bot for :  "Th

[2016-12-22 22:09] gunthercox opened #527 "Deprecate update_default and get_default session methods"
Doing this will enforce the use of sessions. The `get_default` and `update_default` methods were implemented to ensure backwards compatibility to versions of ChatterBot that were created before sessions were implemented. Removing these methods will also simplify the design of the session manager.

- After deprecation is added, an issue should be created containing the following details:
- When the

[2016-12-22 23:04] gunthercox opened #528 "Removing input & output adapters (in the distant future)"
**Pros:**
- Doing this makes it possible for ChatterBot maintainers to focus on the communication aspect of the project instead of maintaining numerous modules for integrations with existing communication APIs. There will always be new communication APIs being created. As the number of these APIs that ChatterBot supports increases over time it will become more difficult to maintain them. Instead o

[2016-12-23 01:02] vkosuri commented on #528
Looks good, one question on session management, Please correct me if i am wrong

**Developer**
He has create a session object and reuse the same

**End user**
i.e If a user installed chatbot on his machine, started an basic example, there is no session management?

[2016-12-23 01:05] vkosuri commented on #518
@gunthercox Agreed totally with you, If above example will be useful others, i will add this example in example section.

I really liked ``Personas`` Any future plans on this.

[2016-12-23 01:13] vkosuri commented on #483
I think this can turned into questions **bot-user**,

1. If user repeating same questions asking **Are you a robot?**
2. Restrict users flooding with chat message other than corpus data

[2016-12-23 01:15] vkosuri commented on #482
@gunthercox Thanks, I have few thoughts i will reopen with detailed plan

[2016-12-23 01:15] #482 closed

[2016-12-23 01:42] gunthercox commented on #528
The examples would have to be modified to manage sessions properly. For most of the simple examples that are currently included with ChatterBot there would be just one session.

[2016-12-23 01:50] gunthercox commented on #518
I don't think the above example is needed in the example section right at the moment.

I don't think I've documented the idea for personas anywhere yet. I will be sure to do so soon.

[2016-12-23 02:32] vkosuri commented on #518
Thank you

[2016-12-23 02:32] #518 closed

[2016-12-23 16:24] dmartincc opened #529 "How to set TwitterTrainer to a custom seed word?"
Is there a way to set the base_word to a custom word instead of "random" or use a user account for training the bot?

[2016-12-24 01:13] gunthercox commented on #529
Currently there is no way to do this, but I agree that it would be useful.
I would be happy to add this capability.

[2016-12-24 06:51] NotSoSuper opened #530 "Python3.6 Import Error importing utils"
Attempting to import `from chatterbot import ChatBot` yields error

[code]

Python 3.6 was just recently released and I'm not really sure what's causing this import error...

[2016-12-24 07:55] vkosuri commented on #530
Thanks, we haven't add it to in Travis also, You could try it Python earlier versions at this moment.

Cheers 👍

[2016-12-24 14:11] gunthercox commented on #530
@NotSoSuper, See my response to https://github.com/gunthercox/ChatterBot/issues/443#issuecomment-264070500, I believe you may be encountering a similar issue.

[2016-12-24 16:09] NotSoSuper commented on #530
Alright, thanks, I just ported my project to Python 3.6 (and other modules) and this was the only one that wasn't working.

[2016-12-24 16:47] gunthercox opened #531 "Add ability to sort statements by date created"
This is going to be required for #513 so that the latest statement in a conversation can be retrieved.

[2016-12-26 04:27] rajasimon commented on #467
@vkosuri Shall I have the patch now ?

[2016-12-26 05:09] vkosuri commented on #467
Sure

On 26-Dec-2016 09:57, "Raja Simon" <notifications@github.com> wrote:

@vkosuri <https://github.com/vkosuri> Shall I have the patch now ?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/gunthercox/ChatterBot/issues/467#issuecomment-269160004>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/ANCAAe

[2016-12-26 13:38] Nixellion opened #532 "ImportError: No module named 'chatterbot.adapters.storage'..."
Just updated to the latest git version of chatterbot, and I now get this error when running `chatbot = ChatBot(...` command. Before the update everything worked quite well. Do I need to change something in the way I initialize a bot? I did not update it for a long time actually, so it's possible I missed something. Thanks!

`chatbot = ChatBot("Chatbotname", logic_adapters=[
        "chatterbot.ada

[2016-12-26 13:40] Nixellion commented on #532
Oh, haha. Well. Obviously, i just had to remove ".adapters" from all adapters, I see the change in directories now. Sorry to bother. Will keep digging into further things that changed.  Sorry about this.

[2016-12-26 17:22] sunchenguang opened #533 "chinese corpus UnicodeDecodeError"
I use window10 , python2.7
this is my file
test.py
[code]
then i run `python test.py`, i get error
[code]
how can i clear the console output warning like `[ntlk_data] Downloading ....`
and how to solve the error.
i can't find the same error in any issue.
thanks for support

[2016-12-26 17:49] vkosuri commented on #533
@sunchenguang the nltk downloading will search different zip files available on you machine, if any one of the file not found it starts downloading it from server.

I think most of the times in windows can't convert Unicode characters properly, have seen same issue on Linux machine?

REF Link: https://wiki.python.org/moin/PrintFails

[2016-12-27 07:20] sivasivacsc opened #534 "ImportError: No module named 'chatterbot.input'"
In example directory am trying to run the terminal_mongo_example.py but i got an a issue

[code]

[2016-12-27 08:45] vkosuri commented on #534
which version of chatterbot are you using? Use ``python -m chatterbot --version`` in your terminal to get version?

If still problem persists try to upgrade to latest chatterbot

[code]

[2016-12-27 12:06] sivasivacsc commented on #534
Super Dude :+1:  you fixed issue
i have one more doubt where i pass this parameter **i.e the database_uri and database_name**

[2016-12-27 12:31] vkosuri commented on #533
@sunchenguang Try to remove database.db and re run your script with below modification it is working fine on my machine.

[code]

[2016-12-27 12:51] vkosuri commented on #534
I never tried, I think this link will help you https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/.

I am closing this issue, please feel to reopen if you have any issues.

[2016-12-27 12:51] #534 closed

[2016-12-27 15:19] sunchenguang commented on #533
I find the file in below
[code]
I modify the file as you do, but it doesn't work.
I use the same `test.py` file  and the console just show same error.

[2016-12-27 15:28] gunthercox commented on #532
@Nixellion Thanks for the heads up. I will make changes to correct the broken link.

[2016-12-27 18:02] #532 closed

[2016-12-27 18:07] gunthercox commented on #530
Ok, so just to confirm, the solution from https://github.com/gunthercox/ChatterBot/issues/443#issuecomment-264070500 did correct your issue?

[2016-12-27 18:09] NotSoSuper commented on #530
Correct, deleting the `utils` and `adapters` folders fixed the problem.

[2016-12-27 18:10] #530 closed

[2016-12-27 18:51] gunthercox opened #539 "Change filter logic to be AND instead of OR"
The `filter` method of storage adapters is currently doing an OR operation for each specified attribute. This should actually be an AND operation. Right now this isn't causing any issues but the AND logic would allow some existing code to be simplified and it would also make the method more consistent with similar methods of other frameworks.

[2016-12-27 20:10] fercook opened #540 "Unicode and MongoDB problem?"
Hi, I am using the terminal_mongo_example.py example but training it using 5000 conversations with MongoDB storage, but after I enter the first sentence I get an error that seems to be related to Unicode (the conversations are in UTF-8 full of spanish characters).
The same bot but using JSON storage works fine (although slow).

The error I get is:
`Traceback (most recent call last):
  File "termin

[2016-12-28 05:35] vkosuri commented on #533
did you removed previous ``database.db`` file?

[2016-12-28 08:29] sunchenguang commented on #533
yes i do. I would like to try it on python3

[2016-12-28 19:09] onlydarkknight commented on #533
@vkosuri this issue also happened when try to train bot with other unicode languages like persian .more details could found in this [closed but unsolved bug](https://github.com/gunthercox/ChatterBot/issues/407)

[2016-12-29 04:54] sunchenguang commented on #533
Maybe python2 has encode decode bug.  Just bypass the problem

[2016-12-29 19:43] #531 closed

[2016-12-29 23:08] #527 closed

[2016-12-30 00:08] gunthercox opened #543 "Add documentation on how to use unicode"
It would be useful to have some documentation on how to use unicode encoding in Python and how troubleshoot unicode errors and warnings. ChatterBot's domain involves working with string type data and a variety of unicode-related questions come up frequently.

[2016-12-30 05:21] vkosuri commented on #543
@gunthercox a useful tag,

I want share some of my thoughts here, If i found unicode issues how i resolved those issues

Recommended use [virtual environments](https://virtualenv.pypa.io/en/stable/userguide/) for python2 and [python3](https://docs.python.org/3/library/venv.html).

**python2**
[code]
**python3**
[code]

1. [Learn the differences between Python 2 & 3](http://python-future.org/compat

[2016-12-30 19:00] DangMinh24 opened #544 "Error in file index.rst"
In  _**Setting parameters**_ section, I think _**response_selection_method**_ and _**"statement_comparison_function"**_ are in incorrect order.

[2016-12-31 02:08] gunthercox commented on #544
Hi @DangMinh24, the ordering of these parameters doesn't matter.

[2016-12-31 02:22] DangMinh24 commented on #544
Hi @gunthercox , I means in [Setting parameters](https://github.com/gunthercox/ChatterBot/blob/master/docs/logic/index.rst), I try:

It got TypeErrors. Then I try

It works great. So I think there is a mistake in an example

[2016-12-31 11:45] gunthercox commented on #544
You are correct, it looks like the values for the parameters are reversed. Thank you for pointing this out. I'll make changes to correct it.

[2016-12-31 15:50] gunthercox commented on #544
Closed by #545

[2016-12-31 15:50] #544 closed

[2017-01-02 07:25] Olamyy opened #546 "Best way to restructure mongo storage"
Hi,
I'm trying to restructure the MongoStorage to suit own needs.
By restructuring, i mean i want to edit the way the format the documents are stored in the Database.
What would you say is the best way for me to go about that?

[2017-01-02 09:38] vkosuri commented on #546
I think this is something you are looking into http://chatterbot.readthedocs.io/en/stable/storage/create-a-storage-adapter.html#creating-a-new-storage-adapter

[2017-01-02 09:59] bilalbayasut opened #547 "[QUESTION] session_id suddenly change"
hi @gunthercox , I tried to embed session in my flask app, and when I create a session, I save the session_id in my database. but when I pass the session_id in generate_response() , then the function call the get() to get the session, suddenly the session changed (as well as the id) , how to solve this? thanks

[2017-01-02 12:18] vkosuri commented on #547
@bilalbayasut which version of chatterbot are you using? Use python -m chatterbot --version in your terminal to get version?

[2017-01-02 12:20] vkosuri commented on #525
@buildithub i am closing this issue, if you have any questions/suggestion please feel free reopen this issue

[2017-01-02 12:20] #525 closed

[2017-01-02 12:27] vkosuri commented on #524
@melvinabraham any updates on this? Try to search your test statement exists in database.db or not, if it is there then your data is trained.

If you try to get more specific output you have to use comparison functions http://chatterbot.readthedocs.io/en/stable/logic/index.html#best-match-adapter

[2017-01-02 13:02] melvinabraham commented on #524
With reference to the previous answer, the bot was supposed to answer for "**This is a test question**" as "**Testing123**". On searching the **database.db** file for this question I found out that it exists:
![4](https://cloud.githubusercontent.com/assets/12198973/21589597/6f1ca40c-d119-11e6-8aea-45e953a1994a.png)

Compiling the testcase:
![5](https://cloud.githubusercontent.com/assets/12198973/2

[2017-01-02 15:16] vkosuri commented on #524
@melvinabraham thanks, did you added statement comparison adapters? And also please read http://chatterbot.readthedocs.io/en/stable/conversations.html#statement-comparison

[2017-01-02 20:58] #514 closed

[2017-01-02 20:59] gunthercox commented on #489
Closing this to eliminate unnecessary work in lieu of #528.

[2017-01-02 20:59] #489 closed

[2017-01-02 22:04] #467 closed

[2017-01-02 22:08] gunthercox commented on #522
Hi @rajasimon The ability to specify custom corpus paths has been added in https://github.com/gunthercox/ChatterBot/pull/549 and it will be available to use in the next release. I will update the documentation as well.

[2017-01-02 22:21] #522 closed

[2017-01-03 01:39] vkosuri commented on #522
Thanks @gunthercox

[2017-01-03 04:10] bilalbayasut commented on #547
0.5.0

[2017-01-03 09:24] aliabbasjp opened #551 "Integrate chatscript , which adapter to use and how?"
Hi,
I need to integerate chatscript  (https://github.com/bwilcox-1234/ChatScript) such that a new Logic adapter named "Chatscript" is possible.
Is this a good thing to do, if yes which methods I need to implement ? And how can I start about doing that?

I need chatscript because it allows us to explicitly model a sequence of conversation and not like a lookup list where responses are looked up fro

[2017-01-03 12:45] gunthercox commented on #547
There has been updates to correct a few issues with sessions since the 0.5.0 release. Feel free to check the release notes for more details: https://github.com/gunthercox/ChatterBot/releases. The latest release is 0.5.4. I'd recommend updating to the latest version to check if the problem persists.

[2017-01-03 12:50] bilalbayasut commented on #547
@gunthercox how to safely update to the latest? thanks

[2017-01-03 12:52] gunthercox commented on #551
Hi @aliabbasjp ChatterBot currently has no support for ChatScript. I actually hadn't heard of ChatScript before but it looks interesting.

I've been working on planning updates to ChatterBot's [training](http://chatterbot.readthedocs.io/en/latest/training.html) data format to support more functionality. The current plans are described here: https://github.com/gunthercox/ChatterBot/wiki/ChatterBot-

[2017-01-03 12:53] gunthercox commented on #547
ChatterBot can be updated to the latest version using pip. The command is:

[code]

[2017-01-03 13:15] #547 closed

[2017-01-03 16:53] melvinabraham commented on #524
@vkosuri Issue resolved! A comma went haywire in the .json file.
Sorry and thank you!

[2017-01-03 16:53] #524 closed

[2017-01-03 16:57] vkosuri commented on #524
@melvinabraham no problem

[2017-01-04 03:05] bilalbayasut commented on #547
can I update it by simply pull origin and merge with my existing one ? thanks @gunthercox

[2017-01-04 13:34] vkosuri commented on #547
I don't which OS are you using, If it is Linux I would recommend virtual environments,

[code]

[2017-01-04 23:12] thedp opened #554 "AttributeError: 'Response' object has no attribute 'serialize'"
I'm getting this error when trying to talk to the bot over localhost:8000.
What am I missing? Thanks.

[code]

[2017-01-05 03:36] vkosuri commented on #554
which version of chatterbot are you using? To get current version, use this ``python -m chatterbot --version`` command on your terminal

[2017-01-05 07:09] thedp commented on #554
I'm using the version from GitHub. Cloned yesterday.

[2017-01-05 14:35] ankurgulati opened #555 "How can I use a global variable declared inside my custom logic adaptor?"
Hi,
I want to access the database in which the input from the user has been stored. For example his name.

OR
Is there anyway to access a global variable, inside my logic adaptor.

[2017-01-05 23:21] thedp commented on #309
+1

[2017-01-06 06:08] aliabbasjp opened #556 "UnicodeDecodeError: 'utf8' codec can't decode byte 0x92 in position 48: invalid start byte"
I just copy pasted following example:
[code]
I get following error:
[code]

[2017-01-06 23:57] gunthercox commented on #555
You can access the database from within the logic adapter via `self.chatbot.storage`.

[2017-01-06 23:58] #546 closed

[2017-01-06 23:59] #551 closed

[2017-01-07 14:27] #554 closed

[2017-01-07 14:29] gunthercox commented on #554
Hi @thedp, I've pushed up a fix for this. The error message was correct in stating that the `'Response' object has no attribute 'serialize'`.

[2017-01-07 17:16] #523 closed

[2017-01-07 17:30] kenyeung128 commented on #309
+1

[2017-01-07 18:18] gunthercox opened #559 "Add tests for ChatterBot examples"
Changes to ChatterBot has broken some of the examples in the past, having tests for each example would help prevent that from happening again in the future.

[2017-01-07 19:34] gunthercox opened #560 "Remove read_only parameter at database level"
The `ChatBot` class currently takes a read_only parameter that controls if the storage adapter can write to the database. This needs to be changed so that the `read_only` parameter only controls statements being saved at the `ChatBot` class level (essentially __read only__ just controls if the chat bot can learn).

The reason this change is needed is because:
1. It is largely inconsistent with how

[2017-01-07 20:55] #560 closed

[2017-01-07 21:05] #555 closed

[2017-01-08 13:42] aliabbasjp commented on #556
Is there any resolution to this?

[2017-01-08 20:50] thedp commented on #554
@gunthercox thank you so much for this project and quick fix.
But I'm still getting this error. I've uninstalled the pip and reinstalled it.
I'm trying to run the example django_app. Am I doing something wrong to trigger this?

Thank you.

[2017-01-08 23:34] gunthercox commented on #554
Ok, I'm glad your issue was resolved. The fix will be available through pip once I release the next version. For now it just exists in the latest changes on GitHub.

[2017-01-09 18:51] thedp opened #562 "logic adapter example in doc is missing ** for kwargs"
http://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html#example-logic-adapter

[2017-01-09 19:21] melvinabraham commented on #524
@vkosuri
How do I link your awesome 'chatterbot' with my custom corpus with an android application?

[2017-01-10 01:47] phpmind opened #563 "Implementing a retrieval-based model using tensorflow ?"
Hi,
How hard will it be to Implement retrieval-based model using Tensorflow as part of this project ?
I want to use seq2seq model as a part of this improvement.
Thanks

[2017-01-10 01:55] gunthercox commented on #563
Hi, this likely wouldn't be too difficult. I would estimate a difficulty of maybe 2 out of 5 with 5 being the hardest to implement.

:star: :star:

[2017-01-10 05:11] vkosuri commented on #563
Some useful links, If you haven't seen before
https://keras.io/
https://github.com/farizrahman4u/seq2seq

[2017-01-10 05:37] aliabbasjp commented on #556
I am still unable to use chatterbot due to unicode issues.

[2017-01-10 12:50] gunthercox commented on #556
Hi @aliabbasjp, sorry about the late reply. Please make sure that you have the latest version of ChatterBot and it's dependencies by running `pip install chatterbot --upgrade`.

Looking at the traceback you can see that the error is being triggered in `jsondb\compat.py` which is one of ChatterBot's dependencies. JsonDB recently had some updates and it's possible that you either have an older versi

[2017-01-10 13:10] aliabbasjp commented on #556
@gunthercox Yes I am using the updated latest versions of both.

[2017-01-10 13:15] aliabbasjp commented on #556
Also I tried on linux with the same exact problem.

[2017-01-10 13:32] gunthercox commented on #556
That is strange, I can't recreate this issue. I'm wondering if is is possibly a difference with Anaconda and regular Python?

[2017-01-10 13:34] gunthercox commented on #459
Hi @csrgxtu I've opened #565 which makes a change so that the confidence score can be accessed on the returned statement object. (`response.confidence`)

[2017-01-10 13:37] gunthercox opened #566 "Change logic adapter process method to return just one value"
#565 Makes changes to store the computed confidence value on the statement object that get's returned from the logic adapter. The return values for the `process` method could be simplified to just return one value.

[2017-01-10 15:47] martmists opened #567 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 98: invalid continuation byte"
[code]

[2017-01-10 15:52] martmists commented on #567
Indents may look a little messed up but I can assure you they are fine.

[2017-01-10 23:27] #459 closed

[2017-01-10 23:27] #543 closed

[2017-01-10 23:27] #562 closed

[2017-01-11 02:24] vkosuri commented on #563
@gunthercox could you please let me know, what are advantages and disadvantages using seq2seq model in chatterbot

[2017-01-11 02:39] phpmind commented on #563
Some reference -
http://www.wildml.com/2016/07/deep-learning-for-chatbots-2-retrieval-based-model-tensorflow/
https://github.com/dennybritz/chatbot-retrieval/

[2017-01-11 03:09] phpmind commented on #309
@rmdort  - Did u try using wit.ai with chatterbot ? OR api.ai etc for intent and entities?
I know API.AI is paid but just for the idea. Because my requirement is kind of same as yours.  Or did u manage to built your own version using open-intent?  https://github.com/open-intent-io/open-intent

[2017-01-11 03:12] deepukr85 commented on #556
@aliabbasjp
I got same issue when my training dataset is having some  characters like normal white space is causing some issues while I copy data from some other editors which is causing unicode decode error. Pls check your input data, I think that is causing the error.

[2017-01-11 05:26] ArtificialBreeze opened #571 "Prioritizing some responses over others"
Hi!
In my case, I have two sets of conversations: general ones (the english corpus you provided, movie conversations,..) and some questions and answers that are relevant to answer technical questions.
The problem comes up in the fact that these specific conversations are not weighted enough to be selected by the bot. Example:
Q: What is the location of this event?
A: *Some irrelevant answer from e

[2017-01-11 09:01] phpmind opened #572 "Logic adapters how do they route request and response ?"
I have to use multiple Logic adapters as in my case I have tons of queries based on different requests.
But I am not sure how Logic adapters will route or determine which adapters is most appropriate.

I will be using elastic search for data query and there are billions of records. I can not allow NLP to search in all indexes. That will be the waste of resources.

So my question is how to make it

[2017-01-11 13:03] vkosuri commented on #572
I think this something you are looking http://chatterbot.readthedocs.io/en/stable/logic/response_selection.html

[2017-01-11 13:07] vkosuri commented on #567
@martmists I guess you are mixing with both double quotes and single quotes, I think this will work
[code]

[2017-01-11 14:16] martmists commented on #567
How is that an issue?
1. Python supports both
2. Yours doesn't work because of an unescaped `'`
3. The error pops up in `b.train`, so why would there be an error in ChatBot's `__init__`

[2017-01-11 17:33] gunthercox commented on #571
If you have a way to train your bot with the desired responses you could
use the [get_most_frequent_response](
http://chatterbot.readthedocs.io/en/latest/logic/response_selection.html#chatterbot.response_selection.get_most_frequent_response)
response selection method. Training multiple times with the desired data
would increment occurrence counts for those responses and it would ensure
that they g

[2017-01-11 17:36] ArtificialBreeze commented on #571
Thanks, this makes sense!

[2017-01-11 17:36] #571 closed

[2017-01-11 18:15] ArtificialBreeze commented on #476
What I did for a similar problem was, instead of logging all of the conversation statements:response_statements, manually use ```chatbot.learn_response()``` whenever some conditions trigger (like learning rate hyperparameter, positive / negative feedback from user,etc...)

[2017-01-11 20:24] phpmind commented on #572
Thanks vkosuri.

[2017-01-11 22:59] gunthercox commented on #572
This is a great question. I'm not actually sure if there is a good answer
for you right now but I'm hoping that we can figure something out. It might
require making some improvements to ChatterBot itself to make this happen.
Let's see if we can figure something out because I realize this is a real
problem that will only get worse as chat bots build with ChatterBot are
used with larger data sets.

[2017-01-12 00:33] ArtificialBreeze opened #574 "Learn_response()"
When using a mongoDB database, I sometimes manually need to save the response in the database.
Assuming ```st1``` and ```st2``` are two valid statements, ```chatbot.learn_response(st1,st2)``` does not seem to do anything.
Any suggestions?

[2017-01-12 00:39] gunthercox commented on #574
Hmmm, strange. I can't seem to verify this. I'm checking that this functionality works using the following unit test in [/tests/test_chatbot.py#L117](https://github.com/gunthercox/ChatterBot/blob/master/tests/test_chatbot.py#L117)

[code]

[2017-01-12 00:58] ArtificialBreeze commented on #574
Can this possibly be happening because ```read_only``` is equal to True? I rewrote the ```learn_response()``` method but I think this flag still prevents from writing the database. The goal is essentially to write only specific responses, based on some feedback.

[2017-01-12 01:06] gunthercox commented on #574
That sounds like it is probably it. If `read_only` is True, the bot won't learn.

[2017-01-12 01:09] ArtificialBreeze commented on #574
Is it possible to make it so that it doesn't learn **all** of the responses, but only some?

[2017-01-12 01:16] gunthercox commented on #574
Possibly, under what conditions are you looking to have learning occur? For example, if you only what a bot to learn when talking to a particular user you could do something like:

[code]

[2017-01-12 01:52] ArtificialBreeze commented on #574
I think this will do the job, thanks!

[2017-01-12 01:52] #574 closed

[2017-01-12 02:35] SunYunyun commented on #567
are you solution?

[2017-01-12 09:10] vkosuri commented on #567
Thanks @martmists which version of chatter bot are you using, i have tried below example it is working fine.

[code]

[code]

[2017-01-12 12:11] martmists commented on #567
I'm using the latest from pypi.
Again, the error IS NOT in the `__init__` for ChatBot, it's in the `b.train`

[2017-01-12 13:04] vusdo opened #575 "mongodb distinct.. slow. issue."
I put 20,000 data in mongo DB now.

The following code will make the query speed too slow.
Response_query = self.statements.distinct ('in_response_to.text')

I need action to improve conversation speed.

Can you recommend it?
thank you.

[2017-01-13 01:26] gunthercox commented on #575
Theoretically the distinct shouldn't be needed. I can remove it to correct this issue.

[2017-01-13 06:46] vusdo commented on #575
Please explain in more detail.
Thank you..

[2017-01-13 09:37] gunthercox commented on #575
Actually, after looking into this a bit further, it doesn't appear that the distinct can be avoided. This method needs to return a list of statements that are responses and it cause larger performance issues if duplicate statements were returned.

It might be possible to improve performance by applying an index, but I currently don't have a way to test what the performance increase (if any) would

[2017-01-13 11:26] gunthercox opened #576 "Benchmarks graphs"
It would be useful to have a graph in the documentation that shows the recorded values for performance benchmarks for each version of ChatterBot that gets released.

[2017-01-13 16:54] gouthamgtm opened #577 "Chatterbot prints the complete json as response in the chat"
Hi,

Instead printing only the 'text' value as response to the input chat from the user, it responds the entire json output there.

python3 --version
Python 3.5.2
python3 -m django --version
1.10.5
python3 -m chatterbot --version
0.5.4

**Input:**
20

**Expected output:**
( 20 ) = 20

**But the output I got:**
{'text': 'b"{\'extra_data\': {}, \'text\': \'( 20 ) = 20\', \'in_response_to\': [], \'cr

[2017-01-13 17:31] gunthercox commented on #577
I believe @buildithub encountered the same issue: https://github.com/gunthercox/ChatterBot/issues/523
It was resolved by using the latest version of the example.

[2017-01-13 21:54] martmists commented on #567
@gunthercox gonna wait for a response from you since I'm afraid this guy doesn't know English.

[2017-01-13 22:31] gunthercox commented on #567
@martmists Do you have the unicode header at the top of your python file? `# -*- coding: utf-8 -*-`

[2017-01-13 23:26] #529 closed

[2017-01-14 03:35] phpmind commented on #575
I would say, using elastic search could be a better choice. But a bit of work involved. https://github.com/elastic/elasticsearch-py/blob/master/docs/index.rst
I am going to test this and will let you know.

Once data is in elastic you can visualize and can do a lot more for free using kibana.
a new adapter needs to be written but it's not that difficult.

[2017-01-14 03:48] phpmind commented on #572
gunthercox@ - Is it possible to use this kind of ( https://github.com/phpmind/open-intent )  intent entity format like API.AI is using. If we can have that we can get the correct result and narrow down the request and send to the correct query type using routing then different logical adopters can be connected which
 could be elastic search, MongoDb or Dynamodb or anything wherever data is stored.

[2017-01-14 14:23] gunthercox commented on #572
Noting has been written (that I'm aware of) for using the models designed for open-intent.io with ChatterBot. I think the concept of the dictionary file that they have you define might be a good way to handle the "tagging" of statements that I mentioned before.

In their example dictionary file they provide the following example, it looks like they are grouping synonyms for a particular word and t

[2017-01-14 16:29] martmists commented on #567
No, does that matter on Windows when using `chcp 65001`?

[2017-01-14 18:24] martmists commented on #567
just checked, adding that does NOT fix this. I also checked the windows 10 linux subsystem, and it results in the same error.

[2017-01-14 18:46] martmists commented on #567
@gunthercox The problem seems to have fixed itself after deleting database.db, will investigate further.

[2017-01-14 18:46] #567 closed

[2017-01-14 19:39] martmists opened #581 "^ is used as bitwise XOR, ** should be used for powers"
This is done wrongly in math_words.json

As an example, I'll take the input `What's seven times three to the power of eight?`

Here chatterbot does this:
[code]
Whereas it should do this:
[code]

[2017-01-14 20:49] #581 closed

[2017-01-15 00:08] phpmind commented on #572
Thanks Gunther.

[2017-01-15 03:22] vusdo commented on #575
I will not use mongodb.
Please suggest a reference.
Thank you.

[2017-01-15 06:55] phpmind commented on #575
vusdo@ - You need to install elastic search if you want to use for millions/bill of records and also text based search is very fast.
 https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-logstash-and-kibana-elk-stack-on-ubuntu-14-04

Install elastic and kibana. You don't need Logstash.

Then use this lib to manipulate data,  insert search etc.  https://github.com/elastic/e

[2017-01-15 10:46] vusdo commented on #575
I am pleased to learn a new solution.
Thank you for sharing the elasticsearch storage adapter.

[2017-01-15 14:20] RominYue opened #583 "Creating a new logic adapter"
1. Error
    In Providing extra arguments part, these several lines of code:
[code]

**super(MyLogicAdapter, self).__init__(kwargs)** "kwargs" should be "**kwargs"

2. enhancement:
    In Directory structure part, there is only one file example.
    Now I want to put adapter into directory. such as /myadpters/logic/Myadpter.py

    Do we must add /myadpters/__init__.py, add /myadpters/logic/__init

[2017-01-15 14:37] gunthercox commented on #583
Hi @RominYue Thank you, I will make adjustments to the documentation to clarify this.
***
Regarding your last question, `from .MyAdapter import MyAdapter` is not required to be added to the `__init__.py` file.

Adding it to `__init__.py` is just a Python convention that allows you to import the class like this:

[code]
 instead of like this:

[code]

[2017-01-15 14:40] RominYue commented on #583
yeah...
but when I want to use it in ChatBot,
[code]

it would pop out error when I do not add **from myadapters import MyAdapter** in __init__.py

[2017-01-15 20:08] #559 closed

[2017-01-15 21:50] #566 closed

[2017-01-16 02:19] RominYue commented on #533
@sunchenguang
yeah.... python2 has encode decode issues  when using chatterbot. Python3.+ is a good choice...

[2017-01-16 03:14] #533 closed

[2017-01-16 03:42] vkosuri commented on #533
@sunchenguang i also observed this issue will pop up if we training with exisisting database.db, try to remove ```database.db`` and retrain your bot, It may work. Similar issue https://github.com/gunthercox/ChatterBot/issues/567

[2017-01-16 10:50] shashigharti opened #590 "Error while running python from laravel(PHP)"
I am trying to execute chatterbot from PHP and not getting the expected result. I am using python3.7 and chatterbot 0.5.5

from chatterbot import ChatBot
import sys
import requests

bot = ChatBot('Agri',
    storage_adapter='chatterbot.storage.MongoDatabaseAdapter',
    logic_adapters=[
            "chatterbot.logic.MathematicalEvaluation",
            "chatterbot.logic.BestMatch"
        ],
    o

[2017-01-16 14:24] brunotikami opened #591 "Issue when getting a response to a known statement"
Hello everybody, I've just started with chatterbot so please excuse me if this is not related to your project.

When I try to get a response for a statement for the first time, everything works as expected but when I send it again, I get the following error:

` response = chatter.get_response(payload, session_id)
  File "/bot/lib/python2.7/site-packages/chatterbot/chatterbot.py", line 108, in get_

[2017-01-16 14:38] gunthercox commented on #591
Hi @brunotikami, could you add a list of step-by-step instructions that I can use to attempt to recreate the error you encountered?

[2017-01-16 17:01] brunotikami commented on #591
Sure! I'll remove some business logic from my application but the flow is basically this:

1) a Facebook messaging event is POSTed to my Django view;
2) for each "messaging event" from inside the payload, I do this:

`
# chatterbot_settings is a property that loads the default settings
chatter = ChatBot(self.slug, **self.chatterbot_settings)
        chatter.conversation_sessions = NexusSessionMana

[2017-01-16 21:40] martmists opened #592 "Add internal support for different JSON libraries."
As mentioned in #42, cjson is used when installed automatically to speed up. However, cjson does not yet support Python 3. This is why I'm proposing to add a similar method for a Py3 version of a fast JSON library, such as ujson or python-rapidjson.

[2017-01-16 22:58] gunthercox commented on #590
Hi @shashigharti, all of the parameters you're passing to `ChatBot` appear to be correct.

You said that you are not getting the expected result. Are you getting _any_ result? If so, what is the result you are getting?

[2017-01-16 23:09] gunthercox commented on #592
I like this idea. What do you think of the idea of allowing developers to set the JSON library via a parameter?
For example, something like:

[code]

The advantage would be that it reduces the amount of code that has to be added to ChatterBot to support different JSON libraries in the future. It also gives the developer more control.

[2017-01-16 23:19] thedp opened #593 "extra_data doesn't always arrive to logic adapter"
I'm using the django as in/out.
I've noticed that extra_data doesn't always arrive to my custom logic_adapter. But when I delete the sqlite3 db, it starts working again, and then stops again.

Is this by design?

Thank you.

[2017-01-16 23:21] gunthercox commented on #591
Ok, so one thing I just noticed as I was checking over your traceback:

return proxy_statement.in_response_to

I'm assuming that you are using Django with MongoDB as it's database in your project.
I've never actually tested to see if ChatterBot's MongoDB adapter will work with a Django & MongoDB setup. Let me know if I my assumption about your project setup is correct. If so, I will try to set up

[2017-01-16 23:28] gunthercox commented on #593
Are you saving a statement in your custom logic adapter? The `extra_data` attribute is empty by default so if a new statement gets created and that statement has the same text as an existing one, then when it gets saved the empty value for `extra_data` would replace the existing value.

[2017-01-16 23:39] phpmind commented on #572
Gunther @ - Apart from open-intent.io,  i found this URL this is written in python
 https://github.com/MycroftAI/adapt
Not sure how useful this would be but just posting to validate.

[2017-01-16 23:52] thedp commented on #593
I'm not intentionally saving.
I'm talking only about the statement from the client. You say after recieving the exact same statement, the extra_data doesn't get passed to the logic adapter?

Is the only way to always get the extra_data from the client is by setting chatterbot to read_only=True ?

[2017-01-16 23:59] gunthercox commented on #593
Setting `read_only=True` just controls if the chat bot can "learn", if it is set to true then none of of the input the chat bot gets will be saved to the database.

It sounds like this might be a bug. I will test it out and make changes to make sure it gets fixed.

[2017-01-17 00:01] martmists commented on #592
This looks like a great format to me, along with the advantages for configurable JSON libraries I'd say this is something to work on. I'll see what I myself can do, though I'm not extremely skilled at Python nor do I understand the current way storage based on JSON works.

[2017-01-17 02:40] shashigharti commented on #590
Hi @gunthercox

Thanks for the quick response. I wasn't getting any errors only an empty result so couldn't debug. After adding debug code:

 exec("$cmd $message 2>&1", $retArr, $retVal);

I was able to figure out the issue. The issue was while the function call was made from the POST method(web) nltk was being downloaded in /var/www directory and there was a permission error.
The problem is solve

[2017-01-17 03:04] #590 closed

[2017-01-17 05:53] aliabbasjp commented on #556
@deepukr85 @gunthercox  I tried all ways of giving examples but all of them fail like above.

[2017-01-17 05:58] vkosuri commented on #556
@aliabbasjp can you try to delete existing ``database.db``, retrain your bot? If still problems exists let us know

[2017-01-17 06:00] aliabbasjp commented on #556
@vkosuri  where is this database.db ?

[2017-01-17 06:05] vkosuri commented on #556
i think it will be in your current directory, If you are using Ubuntu try ``locate database.db``

[2017-01-17 06:09] aliabbasjp commented on #556
@vkosuri  that worked!

[2017-01-17 06:12] #556 closed

[2017-01-17 06:23] aliabbasjp commented on #556
@vkosuri @gunthercox  The problem is that I have to delete this database.db each time I run a new script, as there are multiple bot scripts in a directory.

Moreover same error happens if we pass  unicode training statements  in bot.train

Hence should not be closed.

[2017-01-17 06:37] vkosuri commented on #556
@aliabbasjp Two things here i observed. May be it will vary.

1. Python2.7
i. In python 2.7 if you train your bot with regular data, it will create a new file called ``database.db`` and then your are trying train your bot with **new data which has unicode values** with name ``database.db`` file Then it is failing.
2. Python3.x
i. You won't see these failures.

I think @gunthercox have more appropr

[2017-01-17 13:28] brunotikami commented on #591
Yes, that's correct. I'm using <chatterbot.storage.MongoDatabaseAdapter> as the storage_adapter while also using the <chatterbot.ext.django_chatterbot> Django app.

[2017-01-17 16:41] martmists commented on #164
I've noticed that #597 using ujson has sped up processing a lot, though my training data is only ~300MB in size. I recommend trying it out to see how much faster it will go.

[2017-01-17 19:57] gunthercox commented on #591
Ok, I'll write up an example and test this out locally as soon as I can.

Just a note, ChatterBot's storage adapters are not the same thing as Django's database backends. By default, ChatterBot will use it's built in _Django storage adapter_ which uses whatever database backend your Django settings are set up to use. So, if you use a Django storage backend like [Django MongoDB Engine](https://djan

[2017-01-17 20:20] gunthercox commented on #556
@vkosuri I don't have a better answer at the moment. I think recommending to delete the database is a poor solution. I need to look into this further to see if I can recreate the issue. If I can recreate it then I can fix it. Unfortunately when I run the code locally, it works. I can't get any unicode errors to show up. This leads me to believe that there is one of the two following problems happe

[2017-01-19 11:48] brunotikami commented on #591
Sorry, I'm not sure if I got it right. You're saying that I should set the DEFAULT_FILE_STORAGE to django_mongodb_engine (from the backend you've mentioned) or add a different database to the DATABASES map ?

[2017-01-19 12:28] HelloJyo opened #599 "many-to-many relationship of users and chatterbots"
I am trying to implement an application where **several users** exists and each user can have **many chatterbots**. Each bot needs to have **its own** training data.  I am using **mongo db** as the storage adapter. How can I do it?

[2017-01-20 03:27] vkosuri commented on #599
Yes this is possible, you can as many as but point single storage adapter. For more information read http://chatterbot.readthedocs.io/en/stable/storage/index.html

[2017-01-20 04:23] HelloJyo commented on #599
To be more specific, **I want to store the bot_id (that identifies a unique bot of a user) along with the training data** in the collection(ie, 'statements'). The training data of a bots is unique and is meant only for that particular bot. When giving responses a bot will only look upon its own training data set by comparing the current bot_id to the stored one in the training data set.

[2017-01-20 11:07] vkosuri commented on #599
I think it is very much similar issue https://github.com/gunthercox/ChatterBot/issues/357

For creating multiple instances of db on same server this link will help you http://stackoverflow.com/questions/15124610/multiple-instances-of-mongo-db-on-same-server

[2017-01-21 13:46] #577 closed

[2017-01-21 17:30] vkosuri opened #600 "Translate Text adapters"
@gunthercox how about adding this feature to Chatterbot?

More information https://cloud.google.com/translate/docs/translating-text#translate-translate-text-python

Any comments?

[2017-01-21 21:30] gunthercox commented on #600
This sounds like is might work well as a [preprocessor](http://chatterbot.readthedocs.io/en/latest/preprocessors.html).

[2017-01-22 03:12] vkosuri commented on #600
If it is feasible to add preprocesser i will make PR, otherwise i will add this to [chatterbot-tricks](https://github.com/vkosuri/chatterbot-tricks)

[code]

[2017-01-22 11:44] x8888k opened #601 "something wrong happened in comparisons.py"
call function synset_distance but process is finished.

Traceback (most recent call last):
  File "/tmp/pycharm_project_training/ChatterBotQuikStart.py", line 20, in <module>
    response = chatbot.get_response("hi")
  File "/usr/local/lib/python3.5/site-packages/chatterbot/chatterbot.py", line 98, in get_response
    statement, response, confidence = self.generate_response(input_statement, sessio

[2017-01-22 17:47] thedp opened #602 "Django JSON reply is invalid JSON format"
I'm having some trouble parsing the reply from django.
It seems the reply contains single quotes instead of JSON standard double quote.
Also, other values that can't be converted with javascript jsonParse, like datatime: `'created_at': datetime.datetime(2017, 1, 22, 17, 38, 35, 878994)`.

Is it a bug?

Thanks.

[2017-01-23 05:26] vkosuri commented on #602
@thedp can you elaborate more on this issue?

[2017-01-23 05:40] vkosuri commented on #601
@x8888k which version of chatterbot are you using Try this command on console ``python -m chatterbot --version`` to get version. If possible can you share code snippet to reproduce your issue?

[2017-01-23 05:41] vkosuri commented on #599
@HelloJyo I am closing this issue, if you need any specific information please feel free to reopen this issue.

[2017-01-23 05:41] #599 closed

[2017-01-23 07:36] x8888k commented on #601
@vkosuri thanks for your reply
I'm sorry that I have set a incorrect param---response_selection_method="chatterbot.comparisons.synset_distance"
it should be statement_comparison_function="chatterbot.comparisons.synset_distance"

sorry,plz close this issue.

[2017-01-23 07:36] #601 closed

[2017-01-23 23:36] alekaizer commented on #602
@thedp datetime is not JSON serializable
Maybe you receiving a byte-type response too, can you provide more infos ?

[2017-01-24 00:13] phpmind opened #603 "Can we use botkit to use chatterbot cross platform interface ?"
https://github.com/howdyai/botkit

botkit is API based so i guess somehow we can make it ?

[2017-01-24 08:09] thedp commented on #602
@vkosuri
The JSON reply is structured like this:   `{"text":{'text':'something', 'created_at': datetime.datetime( . . `

@alekaizer What kind of info should I provide?

[2017-01-24 11:04] HelloJyo commented on #599
**how can i filter the responses so that each bot will get responses that are meant for them**. All the training data are residing in the same collection. Thus selecting a response means first **check the bot_id** (which are saved during training of each bots) and if the test passes the bot can have access to the particular response. How can I filter responses with respect to the bot_id.

[2017-01-24 18:09] gunthercox commented on #599
Hi @HelloJyo, right now ChatterBot doesn't have this functionality built in. I'm aiming to introduce it in a future release but I'm still working on changes that will make it possible to select responses from a specific bot in situations where multiple bits are being used.

[2017-01-24 23:41] lattice0 opened #604 "Threading support to reply lots of people"
I'm thinking about using ChatterBot to answer lots of people in a server. The messages are going to be received through NodeJS and passed to python through ZeroMQ. I'm thinking about the best strategy to process all messages, but I didn't see anything in the documentation.

As I see, it'd be necessary for the ChatterBot object to be global, because we don't want more than one instance of the same

[2017-01-24 23:49] lucaszanella opened #605 "Support for session_id in logic adapters so message contexts can be maintained"
As I see, in `get_response()` we have this line:

`statement, response = self.generate_response(input_statement, session_id)`

and `generate_response()` does the following:

[code]

as I see, the logic adapters aren't able to work with sessions. That is, they can't consult previous messages to learn the **context** of the chat (although the bot learns answers from previous ones).

Wouldn't it be n

[2017-01-25 01:27] gunthercox commented on #603
Hi @phpmind, assuming you have access to an API for a botkit app you can definitely make requests to it from ChatterBot. Vice versa, it would not be difficult to create a small API based Python app that could provide responses to a botkit based chatbot. (Either should be able to get information from each other depending on the setup you desire).

Your question doesn't make it entirely clear what i

[2017-01-25 01:30] gunthercox commented on #605
@lucaszanella I agree, I would be happy to make changes to allow this.

[2017-01-25 02:09] gunthercox commented on #605
I'm actually in the process of making some rather large changes that will make this much easier to do. Each statement will end up having a reference to the session that it is a part of.

[2017-01-25 02:34] lucaszanella commented on #605
Nice! Context is good for bots, it'll be crucial to have sessions in order
to implement stories. Imagine a bot for a store: it first needs to get
information about the client, which is a story. Then, it needs to chat with
the client to pick the product he wants to buy, that's another story.
Stories can start other stores, just like wit.ai does.

Your project is the most modern one (that's still of

[2017-01-25 02:46] lucaszanella commented on #604
Here's the output when trying to call get_response inside a thread:

[code]

If you, however, set training to False, it works without any problems, so the problem is really something related to json storage and threading. I'm trying to understand where's the problem

[2017-01-25 02:47] vkosuri commented on #605
I think this could you help you [Analyzing Sentence Structure](http://www.nltk.org/book/ch08.html)

[2017-01-25 03:00] lucaszanella commented on #605
Did you implement these things in chatterbot yet?

Em 25 de jan de 2017 00:47, "Mallikarjunarao Kosuri" <
notifications@github.com> escreveu:

[2017-01-25 04:53] lucaszanella commented on #528
I didn't understand. How will the bot talk to the world? For example, I was going to develop a ZeroMQ input/output. How I'm supposed to integrate it with the bot in the future when there is no input/output adapters? I thought it was a nice idea to have a base class and then people could install the desired adapters. Didn't understand why you're removing it.

[2017-01-25 05:33] vkosuri commented on #528
I will try to write below what i understood, @gunthercox please correct if i wrong.

This means user look on only chatterbot specific data, not looking for integration which currently chatterbot providing (HipChat, Microsoft, etc.)

[code]

``chatterbot`` will expose its Northbound API to end user, using that API his/her develop their application.

[2017-01-25 05:34] vkosuri commented on #605
No i am learning these techniques

[2017-01-25 05:52] HelloJyo commented on #599
thanks guys...I'm gonna give it a try

[2017-01-25 18:10] lucaszanella commented on #605
Do you have a date to release it? I was thinking about implementing myself
but it's better to wait for your implementation

Em 24 de jan de 2017 23:30, "Gunther Cox" <notifications@github.com>
escreveu:

[2017-01-25 23:18] gunthercox commented on #605
@lucaszanella I don't have a date set yet for releasing the changes that will associate statements with specific chat sessions. Right now I'd estimate that the release is about a month away. The reason for this is that it is a part of a much larger change that is intended to make it easier to search through past conversations to find ones that were similar to the current conversation. As a side ef

[2017-01-26 00:16] gunthercox commented on #528
@lucaszanella I've updated the original ticket to cover how things would work if input and output adapters were discontinued. It's under the new section titled:

Let me know if you have any questions.

[2017-01-26 00:19] gunthercox commented on #604
The file database that ChatterBot uses by default isn't thread safe. It's the default because it doesn't require any databases to be installed locally so it is easy for people to get started and test out their chat bots. The error you are seeing is because multiple threads have attempted to read and write to the the same file at the same time and a write was not completed so the data was invalid.

[2017-01-27 06:32] vkosuri commented on #523
Same answer

[2017-01-27 12:36] cesarandreslopez opened #606 "Returning n best results"
Is it possible to get the n amount of best results? I'm using ChatterBot for autocomplete suggestions for a chat system and it would be great to have something that returns several potential answers instead of just the "Best" one.

[2017-01-28 11:07] kushalbabel opened #607 "The confidence level of the answer"
Is there any way of getting to know about how much the bot is confident while answering a question?
The purpose is, if the confidence is low, i would redirect the question to a human and learn the answer for future
It would be great if you could reply fast because I have some deadlines
Thanks for the awesome code

[2017-01-28 12:01] vkosuri commented on #607
I think it is based on your comparison method used
More info http://chatterbot.readthedocs.io/en/stable/conversations.html#statement-comparison

[2017-01-28 12:38] kushalbabel commented on #607
No, I dont have the other statement to compare with. I just want to know if my corpus has some "good enough" answer or not

[2017-01-28 13:22] gunthercox commented on #607
Hi @kushalbabel, the confidence score is returned with the statement when you call `.get_response()`. So for example:

[code]

[2017-01-28 13:35] vkosuri commented on #607
Thanks Master @gunthercox

[2017-01-28 13:37] kushalbabel commented on #607
Thanks you so much @gunthercox  @vkosuri

[2017-01-28 13:37] #607 closed

[2017-01-28 14:22] gunthercox commented on #606
Hi @cesarandreslopez, currently ChatterBot only returns a single response. I can definitely see the value in being able to set how may close responses are returned. I'd be happy to make changes that would allow this.

[2017-01-28 16:48] MarkusKramer commented on #606
Yes, it would be great to have that!

[2017-01-28 16:50] gunthercox commented on #602
I've identified the cause of this issue. Working on a fix.

[2017-01-28 17:56] #602 closed

[2017-01-28 20:45] gunthercox commented on #523
Hi everyone, #608 corrects this problem. I apologize about the delay in tracking down the issue.

[2017-01-30 15:43] vkosuri opened #611 "Removing corpus data"
@gunthercox Master, Due to new repository [chatterbot-corpus](https://github.com/gunthercox/chatterbot-corpus). I am planning remove corpus data and tests from this repo. Let me know your inputs

[2017-01-31 04:36] rachit1994 opened #612 "TypeError: object of type 'Statement' has no len()"
What am I doing wrong? I created a route to train the chatbot and a route to chat.
**main.py**:
[code]

**ChatbotSetup.py**:
[code]

This is the error I am getting:

[code]

[2017-01-31 06:04] vkosuri commented on #612
By looking into your code, you have to change comparison function ``statement_comparison_function`` and statement functions ``response_selection_method`` something like below

[code]

Documentation should also be update here http://chatterbot.readthedocs.io/en/stable/logic/index.html#setting-parameters

[2017-01-31 06:48] rachit1994 commented on #612
still the same error. However when i remove all the 'response_selection_method' and 'statement_comparison_function' things work fine

[2017-01-31 07:12] vkosuri commented on #612
which version chatterbot are you using?                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartp

[2017-01-31 07:21] rachit1994 commented on #612
'0.5.5'

[2017-01-31 14:12] gunthercox commented on #611
I agree with this decision. Let's make sure that the following steps have been completed before removing the data from the `chatterbot` repository.

- [x] The corpus data has been copied to the `chatterbot-corpus` module.
- [ ] ChatterBot's documentation has been updated to describe how to download or install the ChatterBot corpus data.
- [ ] Check if any changes need to be made to ChatterBot's co

[2017-01-31 20:12] gunthercox opened #613 "Replace get_response_statements method with filtering"
Storage adapters have a `get_response_statements` method that returns all statements that are in response to another statement. A much more elegant solution would be to have the `filter` method be versatile enough to return this same information.

[2017-02-01 06:47] vkosuri commented on #613
@gunthercox Master,

 [filter](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/storage/storage_adapter.py#L69) state that ``Returns a list of objects from the database.`` and

[get_response_statements](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/storage/storage_adapter.py#L106) `` Return only statements that are in response to another statement.``

Question is W

[2017-02-01 06:49] vkosuri commented on #612
Thanks @rachit1994, My guess was you are trying combine many things, could you please try to add one after another logic adapters, still observing same issue let me know.

[code]

[2017-02-01 06:53] #612 closed

[2017-02-01 07:15] sanjaykhanal commented on #612
I was also having similar problem a while ago. try modifying you code as below. so far my problem was solved doing this.

def getResponse(self,message):
        return str(self.Jarvii.get_response(str(message)))

[2017-02-01 11:58] gunthercox commented on #613
@vkosuri, some of the other filtering options will likely just be join operations on related fields. The setup will likely end up being similar to the way Django does their filtering for querysets.

[2017-02-02 07:58] thedp opened #615 "How to prevent other logic adapters from running when there is already confidence == 1 ?"
I've created multiple logic adapters to handle the input by calling 3rd party APIs and access a DB.

I want to avoid unneeded calls to the APIs and my DB.
How can I prevent other logic adapters from even running when there is already confidence == 1 ?

Thank you.

[2017-02-02 10:13] janMbugti opened #616 "context based reply."
hi i want to get reply on context based.... example if i trained my bot with two sets of conversations i.e
conversation_1=["hi","hi too","please send me sms packages","these are sms packages","price?","these are sms price list"]
conversation_1=["hi","hi too","please send me internet packages","these are internet packages","price?","these are internet price list"]

Note: Now against price statement

[2017-02-02 14:12] gunthercox commented on #616
Hi @janMbugti, I am aware of this issue. I am currently working on a fix. The issue stems from the current lack of the ability of the chat bot to search it's knowledge graph for similar conversation sequences. I'm hoping to introduce this functionality in an upcoming major release but there is still a good amount of design work that I need to complete.

[2017-02-02 15:51] gunthercox commented on #583
I'm going to close this off as I believe all of the issues have been addresses. Feel free to reopen it if I missed any documentation changes that were needed,

[2017-02-02 15:51] #583 closed

[2017-02-06 19:58] LorenDavie opened #619 "A Question about Input Adaptors / Output Adaptors"
I'd like to build a chatbot that integrates with (among other things) Facebook Messenger, Slack, and SMS. It looks like there's currently no adaptors for these platforms, nor do I see it anywhere in the roadmap (maybe I'm missing it though).

Any interest in this stuff?  I suppose I could fork Chatterbot, build these adaptors out and submit pull requests. Is this the sort of thing you would theore

[2017-02-06 20:00] LorenDavie commented on #619
Forgot to mention, - I started working on a similar project (https://github.com/Axilent/talkback) a ways back, but I'd rather contribute to a project with momentum than handling this stuff all by myself.

[2017-02-07 00:52] phpmind commented on #619
We already have   Microsoft bot framework.

https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/output/microsoft.py

[2017-02-07 02:36] gunthercox commented on #619
Hi @LorenDavie, thank you for your interest in contributing. I actually have plans to eventually phase-out ChatterBot's input and output adapters in favor of making the library simpler. More details on this can be found here: https://github.com/gunthercox/ChatterBot/issues/528

Let me know if you have any questions.

[2017-02-07 13:33] brunotikami commented on #591
Hey @gunthercox, any news on this ? Thanks

[2017-02-08 00:12] addelll commented on #469
vkosuri did you implement aiml or add it to chatterBot ?

[2017-02-08 00:33] vkosuri commented on #469
We have added some of aiml copurs into [chatterbot-corpus. ](https://github.com/gunthercox/chatterbot-corpus)

[2017-02-08 07:28] HelloJyo opened #620 "How to remove old response statements"
When a new response for an **existing**  user-query is given in the training process, how can I **delete the old response** and replace it with the new one?

[2017-02-08 08:18] vkosuri commented on #620
I think this will address your question ‎https://github.com/gunthercox/ChatterBot/blob/master/tests/conversation_tests/test_statements.py#L35

[2017-02-09 06:24] zorrofox opened #622 "May be a django_storage.py bug"
I think the last [line](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/storage/django_storage.py#L153) of the django_storage.py may not correct, because according to the logic description:

        A statement must exist which lists the closest matching statement in the
        in_response_to field. Otherwise, the logic adapter may find a closest
        matching statement that do

[2017-02-09 14:15] KgotsoK opened #623 "Training with UbuntuCorpusTrainer - Arguments invalid"
When I try to use the ubuntu corpus trainer, the app fails with the following trace. It seems like the trainer is being called with two arguments (which is correct according to the documentation) but only one is expected by the function. That's my noob observation - I could be wrong. Please help.

By the way, I'm just editing the included django app example code. only edited the ChatterBot setting

[2017-02-10 03:07] Melvinroy opened #624 "Sentence Comparison Algorithms"
Hi,

I am getting the following error when I am trying to use any of the sentence comparison algorithms.

![image](https://cloud.githubusercontent.com/assets/10074485/22812635/e562ee76-ef6b-11e6-9e6f-80edfc0fba82.png)

Since I am new to the development environment it is hard for my to figure it out. Could someone help me?

[2017-02-10 03:46] vkosuri commented on #624
Swap response and comparison it will work

[2017-02-10 04:07] Melvinroy commented on #624
![image](https://cloud.githubusercontent.com/assets/10074485/22813797/7f2b0c16-ef74-11e6-8125-e5b5dd247709.png)

Still I get the following error

[2017-02-10 04:34] vkosuri commented on #624
You have to write like this‎```Pythonstatement_compsion_function = chatterbot.comparision.leventhsisresponse_selection_method = chatterbot.response_selection```                                                                                                                                     And also delete your database.db file‎. let me know if you are facing issue

[2017-02-10 05:22] vkosuri commented on #623
The problem you didn't passed training data, Look this test you will get some idea https://github.com/gunthercox/ChatterBot/blob/master/tests/training_tests/test_ubuntu_corpus_training.py#L28

More info http://chatterbot.readthedocs.io/en/stable/django/training.html#training-settings

[2017-02-10 07:53] KgotsoK commented on #623
My assumption was that the UbuntuCorpusTrainer downloads the training data :-/

[2017-02-10 11:41] KgotsoK commented on #623
Thanks @vkosuri

have a look at https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py#L312

`UbuntuCorpusTrainer`'s `train()` method really does take one arg. I'm trying to figure out where two are given :-/

[2017-02-10 12:25] KgotsoK commented on #623
Also @vkosuri Do you know where to find corpora for the ListCorpusTrainer?

[2017-02-10 12:52] vkosuri commented on #623
https://github.com/gunthercox/ChatterBot/tree/master/chatterbot/corpus/data

[2017-02-10 13:04] KgotsoK commented on #623
This is actually a valid issue. I edited line 312 of trainers.py to add an extra (arbitrary) argument for UbuntuCorpusTrainer's train() method. worked like a charm!

Oh and about the   ListCorpusTrainer corpora, I meant additional ones outside of this repo. I think for ChatterBot to work in an at least decent manner, it needs much more training data.

[2017-02-10 14:09] KgotsoK commented on #623
So this is how my CHATTERBOT settings code looks now:

[code]

I ran the `train()` method and the extraction ran successfully. Then almost instantaneously, the line `ChatterBot trained using "UbuntuCorpusTrainer"` appeared. Im pretty certain that it's not trained because:

1. The files add up to over 1GB - No way the trainer took less than a second
2. The `sqlite3` database has nothing (Im assumin

[2017-02-10 22:55] martmists commented on #592
Closing this as I'll be using #597

[2017-02-10 22:55] #592 closed

[2017-02-11 00:34] michaelMinar commented on #623
I'm seeing the exact same issue as @KgotsoK. I run the sample code and it takes about 30 minutes to extract the training data, then trains instantaenously and leaves me with an empty database.db file.

[2017-02-11 07:50] Mustyy opened #625 "Interface GUI"
Hi
I was wondering if there is a way to deploy chatterbot on a site or a platform after im done training it using my  terminal
any ideas?

[2017-02-11 10:08] vkosuri commented on #625
You can use diferent public cloud applications for your app for example [AWS](aws.amazon.com/), [Heroku](heroku.com). Here an example app rl[chatterbot-live-example](https://github.com/vkosuri/chatterbot-live-example)

[2017-02-12 10:23] Sofia8 opened #626 "erreur"

[2017-02-12 11:49] KonradKlimczak opened #627 "Cannot initialize Spanish Chatbot"
Hello, whenever I try to initialize ChatterBot using Spanish corpus I got UnicodeDecodeError.
My file:

[code]

Traceback:
[code]

I am using Python 2.7.11 on Windows 8.1 64-bit.
Any idea how can I solve this issue?

[2017-02-12 16:32] lucaszanella commented on #626
This is because the default Storage Adapter os jsonAdapter, which is for
test only, so it gives this warning because if used in production you'll
suffer from serious performance hits

Em 12 de fev de 2017 08:23, "Sofia8" <notifications@github.com> escreveu:

[2017-02-13 03:51] vkosuri commented on #627
Python2.7 are having Unicode issues when you are using existing ``database.db``, Try to remove existing ``database.db`` retrain your bot, let me know still you are facing issue.

[2017-02-13 06:58] Near-Tam opened #628 "How could I fix this issues?"
RuntimeError: Model class chatterbot.ext.django_chatterbot.models.Statement doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS.

[2017-02-13 08:03] KgotsoK commented on #628
Does your Django app settings include the lines marked with arrows?

[code]

[2017-02-13 08:19] Near-Tam commented on #628
when I set Django app as this:
# Application definition

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'chatterbot.ext.django_chatterbot',
    'meizu_ai',
]

the result is :

[2017-02-13 08:21] Near-Tam commented on #628
when I set Django app as this:
# Application definition

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'chatterbot.ext.django_chatterbot',
    'meizu_ai',
]

the result is:
ValueError: invalid literal for int() with base 10: ''
[13/Feb/2

[2017-02-13 08:22] KgotsoK commented on #623
Back to AIML... https://github.com/Program-O/Program-O

[2017-02-13 08:22] #623 closed

[2017-02-13 09:13] KonradKlimczak commented on #627
I have deleted old database.db file, but I still receive the same error.
When I open new database.db file I can see that is has some encoding problems:

[code]

[2017-02-13 09:18] vkosuri commented on #627
As per my understanding Python 2.7 not good for unicode, could you please try it on Python3.x, and let me know your observations

[2017-02-13 09:21] vkosuri commented on #627
https://github.com/gunthercox/ChatterBot/blob/021a808a71cd390ab33d127ae8c3f4b4f6c83b1d/docs/quickstart.rst

[2017-02-14 21:02] VanRH commented on #624
I've seen something like the above when I tried replacing my installed version(via pip install) with a downloaded zip (clone button). It seemed like using multiple logic adapters cause an inconsistency between statement and string as the type that was being passed around. One adapter expected a string as input and another one expected a statement object.

I ended up just using BestMatch and LowCon

[2017-02-14 23:00] vkosuri commented on #627
@KonradKlimczak did your problem is resolved?

[2017-02-14 23:01] vkosuri commented on #626
@Sofia8 I am closing this issue, if you need any help please feel free to reopen this issue.

[2017-02-14 23:01] #626 closed

[2017-02-14 23:02] vkosuri commented on #625
@Mustyy I am closing this issue, if you have any thoughts to improve this thread please feel free to reopen this issue.

[2017-02-14 23:02] #625 closed

[2017-02-14 23:26] vkosuri commented on #620
@HelloJyo did i answer your question?

[2017-02-14 23:35] vkosuri commented on #622
@zorrofox see this line is suggesting ``in_response_to`` converted into [in_response](https://github.com/gunthercox/ChatterBot/blob/7e443ad9d895d08a48e13fb74de28ff9589fc507/chatterbot/storage/django_storage.py#L50). In this context ``in_response`` object referring to another statement, so i think it should be

[code]

[2017-02-14 23:36] vkosuri commented on #619
@LorenDavie I am closing this issue, Please feel free to reopen if you have any thoughts/ideas on this issue.

[2017-02-14 23:36] #619 closed

[2017-02-14 23:41] vkosuri commented on #628
@Near-Tam Did you problem is resolved, Could you please elaborate your problem to understand more. Which version chatterbot are you using?
Could you please share stack trace of your problem.

And also If Django settings should like this

[code]

[2017-02-14 23:43] vkosuri commented on #616
@janMbugti Master already addressed your question hence i am closing this issue, please feel free reopen this issue if you have anything to discuss further.

[2017-02-14 23:43] #616 closed

[2017-02-14 23:47] vkosuri commented on #624
@Melvinroy Did your problem was resolved?

@VanRH I think this was old problem. It is resolved now.

[2017-02-14 23:51] vkosuri commented on #615
If you want more specific about your app create your new logic adapter

If you want restric a specific adapter override [can_process](http://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html#chatterbot.logic.LogicAdapter.can_process) method.

[2017-02-14 23:54] vkosuri commented on #606
@cesarandreslopez If you any improvements on this feature please feel free to open this issue.

[2017-02-15 05:15] Melvinroy commented on #624
@vkosuri : No its not working
@VanRH : No the issue is not solved. When I downloaded the package from Github and ran the codes I was able to run multiple logic adapters for some time , but after sometime the error starts appearing.

At present I am using BestMatch and Low Confidence Adapter(thinking I can solve the issue in the forecoming days) . I am concentration on how to connect with Mongodb a