[2017-02-16 02:59] theteerapon opened #629 "bot.python.py"

[2017-02-16 05:39] alexpacer commented on #591
I'm getting similar issue. I'm using django 1.10.x and mongodb.

The exception of

starts from here

And I tried to switch to JSONfile storage, same problem happened on this line. It seems there'r something wrong with the Statement/Response object who inherits from django model?

[2017-02-16 06:05] vkosuri commented on #629
@theteerapon could you please describe problem description?

[2017-02-16 12:04] zorrofox commented on #622
I  don't very understand your meaning. But the test fact is also showing the logic is not correct. Bellow is separately training English Greetings CORPUS with JSON file storage and Django storage adapter logging.basicConfig(level=logging.INFO) output:
![image](https://cloud.githubusercontent.com/assets/1528417/23020586/b6cb5eec-f482-11e6-956e-f99987d035dd.png)
![image](https://cloud.githubusercont

[2017-02-17 13:55] vkosuri commented on #622
@zorrofox Thanks, if possible could you create pull request for this issue?

[2017-02-17 15:27] f3tejada commented on #627
Same problem here. I installed python 3.6 but it didn't work.

[2017-02-17 15:42] f3tejada commented on #627
I tried with:
`chatbot.set_trainer(ListTrainer)
chatbot.train([
   "árbol",
   "te gustan los árboles?",
])`

And it returns:

`Warning (from warnings module):
  File "C:\Python27\lib\site-packages\chatterbot\storage\jsonfile.py", line 26
    self.UnsuitableForProductionWarning
UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production environments.

Traceback (mo

[2017-02-17 16:38] vkosuri commented on #627
Use Python 3to resolve this issue, let me know if you need any help

[2017-02-17 17:21] KonradKlimczak commented on #627
Works with Python 3.6.0 on Windows 10 64bit.

[2017-02-17 17:21] #627 closed

[2017-02-18 08:55] zorrofox commented on #622
Sure! I have created one please review.

[2017-02-21 09:32] TernTuring opened #631 "Compressed file ended before the end-of-stream"
Extracting dialogs/8/4259.tsv
Extracting dialogs/8/42590.tsv
Traceback (most recent call last):
  File "ubuntu_corpus_training_example.py", line 19, in <module>
    chatbot.train()
  File "/usr/lib64/python3.4/site-packages/chatterbot/trainers.py", line 320, in train
    self.extract(corpus_download_path)
  File "/usr/lib64/python3.4/site-packages/chatterbot/trainers.py", line 306, in extract

[2017-02-21 16:55] TernTuring opened #632 "ImportError: cannot import name Api"
/usr/local/lib/python2.7/site-packages/chatterbot/storage/jsonfile.py:26: UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production environments.
  self.UnsuitableForProductionWarning
Traceback (most recent call last):
  File "twitter.py", line 36, in <module>
    trainer="chatterbot.trainers.TwitterTrainer"
  File "/usr/local/lib/python2.7/site-packages/chatterb

[2017-02-21 17:10] vkosuri commented on #632
Try to do fallowing steps, Recommended use [virtual environments ](http://docs.python-guide.org/en/latest/dev/virtualenvs/)

[code]

Let me know still if you are facing this issue.

[2017-02-21 20:50] jonathanglima commented on #591
+1

[2017-02-22 08:10] TernTuring commented on #632
python twitter.py
/opt/chatbot/mengbao/venv/lib/python3.4/site-packages/chatterbot/storage/jsonfile.py:26: UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production environments.
  self.UnsuitableForProductionWarning
Traceback (most recent call last):
  File "twitter.py", line 36, in <module>
    trainer="chatterbot.trainers.TwitterTrainer"
  File "/opt/chatbot/m

[2017-02-22 23:22] gunthercox commented on #629
I'm closing this ticket because it contains no information and appears to be inactive.

[2017-02-22 23:22] #629 closed

[2017-02-24 06:06] #620 closed

[2017-02-24 10:50] vkosuri commented on #632
Read the documentation https://pypi.python.org/pypi/twitter/1.17.1

[2017-02-24 10:50] #632 closed

[2017-02-24 12:35] StDogbert opened #634 "Can't initialize ChatBot"
Hi!

I am trying to initialize chatbot using python 2.7.10

`# -*- coding: utf-8 -*-

from chatterbot import ChatBot

bot = ChatBot("Ron Obvious")`

And get this error:

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/chatterbot/storage/jsonfile.py:26: UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production environments.
  self.Uns

[2017-02-24 13:05] priyanka22kar commented on #634
me too facing the same issue!!!

[2017-02-24 15:17] StDogbert commented on #634
Did the same from other mac and it worked. It worked from windows too. Tried to uninstall and reinstall all dependencies and chatterbot itself - same problem. I have no idea what to try next...

[2017-02-24 16:13] StDogbert commented on #634
Somehow corpora/wordnet archive was corrupted during first loading and as download step was skipped every time cause archive was already there I got this error. Deleted archive and next time it was redownloaded succesfully.

[2017-02-24 16:13] #634 closed

[2017-02-24 17:51] kumarneeraj2005 opened #635 "getting following error while testing django example"
django.core.exceptions.ImproperlyConfigured: Requested setting CHATTERBOT, but settings are not configured. You must either define the environment variable DJANGO_SETTINGS_MODULE or call settings.configure() before accessing settings.

hi
{'text': u'hi', 'created_at': datetime.datetime(2017, 2, 24, 17, 15, 31, 350875, tzinfo=<UTC>), 'extra_data': {}, 'in_response_to': [{'text': u'Hi', 'occurrence'

[2017-02-24 17:51] kumarneeraj2005 commented on #635
Please guide me how to solve this issue.

[2017-02-24 22:36] DynasticFX opened #636 "OutputFormatAdapter"
the OutputFormatAdapter dosent seam to work for me im only getting the error
AttributeError: 'module' object has no attribute 'OutputFormatAdapter'

my code

`from chatterbot import ChatBot
from chatterbot.trainers import ListTrainer

chatbot = ChatBot(
    "Diana",
    output_adapter="chatterbot.output.OutputFormatAdapter",
    output_format='text'
)
conversation = [
    "Hello",
    "Hi there!",

[2017-02-25 10:54] #636 closed

[2017-02-25 17:21] gunthercox commented on #635
Hi @kumarneeraj2005, based on the information you have provided I cannot determine how you encountered this problem. Can you provide a list of steps that I can use to recreate this issue?

[2017-02-25 17:25] gunthercox commented on #632
@TernTuring Make sure that you have the correct requirements installed. There are several Python twitter libraries available, some of them can have conflicting package names if both are installed on the same system. Check the `requirements.txt` file for the exact packages and versions that ChatterBot uses. Let me know if you have any questions.

[2017-02-25 17:29] gunthercox commented on #606
I'm reopening this ticket, the changes that I mentioned were never made.

[2017-02-25 18:15] gunthercox commented on #615
I'm reopening this as it is a valid issue that I wish to address. I haven't had a chance to implement anything yet but I do want to provide a way to support this functionality.

[2017-02-25 19:38] gunthercox commented on #625
Currently there is no way to deploy a trained chat bot, I would highly recommend training the bot _after_ it is deployed to a hosting service such as AWS.

[2017-02-27 05:53] priyanka22kar opened #637 "Not able to import the chatbot package please help!"
me too facing the same issue!!!

File "C:/Users/Priyanka Baviskar/Documents/py_2/chatbot_demo.py", line 8, in
from chatterbot import ChatBot

File "chatterbot.py", line 7, in

ImportError: cannot import name ChatBot

and yes I don't have any directories named utils and adapters checked that approach too!!
please help.

![image](https://cloud.githubusercontent.com/assets/26005427/23350198/ede4a7da-

[2017-02-27 06:07] vkosuri commented on #637
@priyanka22kar did you tried same example on ``Python2.7``,

Which version of chatterbot are you using, to get chatterbot version ``python -m chatterbot --version``

[2017-02-27 06:13] priyanka22kar commented on #637
![image](https://cloud.githubusercontent.com/assets/26005427/23350645/fc8ace38-fce1-11e6-94c0-2ff87493a3d5.png)

[2017-02-27 06:22] vkosuri commented on #637
could you provide error stack trace for python2.7

[2017-02-27 06:26] priyanka22kar commented on #637
I
![image](https://cloud.githubusercontent.com/assets/26005427/23350891/be98970c-fce3-11e6-9685-c17bb85e633b.png)

[2017-02-27 06:51] vkosuri commented on #637
My guess could issue with your python path. http://stackoverflow.com/questions/33549546/python-path-issue

Add these steps at startup to know where your path is setted.

[code]

[2017-02-27 06:55] priyanka22kar commented on #637
![image](https://cloud.githubusercontent.com/assets/26005427/23351551/e040ed88-fce7-11e6-9e1c-92ee112c2379.png)

[2017-02-27 07:22] vkosuri commented on #637
I am not sure what happening, In a general process what i am doing on a new windows machine

[code]

I am not familer with Anaconda, By looking into [setup.py](https://github.com/gunthercox/ChatterBot/blob/master/setup.py#L60) it supports only python.

**It is not recommended,** you may try to

[code]

Still if problem persists try to remove python2 and install a fresh copy do above steps. I hope

[2017-02-27 07:53] priyanka22kar commented on #637
Sir I tried your suggestion
Still not working

[2017-02-27 09:44] priyanka22kar commented on #637
its working fine with python 3.5
but  over here i am tring to execute the twitter data training example its showing an error
![image](https://cloud.githubusercontent.com/assets/26005427/23356236/1ce97d2e-fcff-11e6-8dfe-b3246d17a63d.png)
can you explain how to resolve it? and further more after training the twitter data to the bot
will the bot be able to fetch the answers from twitter for a given q

[2017-02-27 10:10] vkosuri commented on #637
Here is an example located here http://chatterbot.readthedocs.io/en/stable/training.html#twitter-training-example

[2017-02-27 12:46] priyanka22kar commented on #637
it stopped executing in python 3.5 too

![image](https://cloud.githubusercontent.com/assets/26005427/23361868/d1649ca2-fd18-11e6-84fe-c6565669b360.png)

[2017-02-27 15:53] gunthercox commented on #637
@priyanka22kar Based on your output it looks like you are using Anaconda and an iPython notebook. I haven't tested ChatterBot heavily under these environments but I am aware of a few reports of developers encountering issues when attempting to use ChatterBot in an iPython notebook.

ChatterBot has been developed and is heavily tested under the normal Python installation, Anaconda and iPython are a

[2017-02-27 17:34] alequeiroz opened #639 "Forcing a String to generate a response from chatterbot"
I'm currently to build a system that process some errors and returns a string message, and need to force it,  changing the "Keyboard" to a str variable, for chatterbot give a response. Anyone have any idea how to do this?

[2017-02-27 23:00] gunthercox commented on #639
Hi @alequeiroz, I'm not exactly certain what you mean by "force". Do you just need a string type value to be returned from ChatterBot?

[2017-02-28 00:22] alequeiroz commented on #639
Hello @gunthercox Not returned, but inserted in someway, instead of getting the value from the keyboard, i need to use string that is in my python program.

[2017-02-28 02:31] gunthercox commented on #639
Have a look at this example: https://github.com/gunthercox/ChatterBot/blob/master/examples/basic_example.py

I believe it is pretty close to what you are looking for.

[2017-02-28 05:49] priyanka22kar commented on #637
@gunthercox  That would be really helpful
Thank You

[2017-02-28 10:21] priyanka22kar commented on #637
I re-installed everything
now previous error isn't displaying
but when i am trying to run the gitter bot example is gives me error

This is how the simple example is working :
![image](https://cloud.githubusercontent.com/assets/26005427/23401389/86a95738-fdcd-11e6-98d7-220a0dd45d6b.png)

This is the new error i am facing
![image](https://cloud.githubusercontent.com/assets/26005427/23401426/a61b5a3

[2017-02-28 10:39] vkosuri commented on #637
@priyanka22kar I assume the settings is from ``Django``, You can rewrite like this, replace with your gitter ``room_id`` and ``api_key``

[code]

[2017-02-28 10:48] priyanka22kar commented on #637
@vkosuri
The code executes but throws an error:

runfile('C:/Users/Priyanka Baviskar/Documents/py_2/chatbot_demo_gitter_demo.py', wdir='C:/Users/Priyanka Baviskar/Documents/py_2')
C:\Users\Priyanka Baviskar\Anaconda_\lib\site-packages\chatterbot\storage\jsonfile.py:26: UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production environments.
  self.UnsuitableForPro

[2017-02-28 10:56] vkosuri commented on #637
401 represent unauthorized, check with api and room id

[2017-02-28 11:01] vkosuri commented on #637
401 represent unauthorized, check with api and room id

[2017-02-28 11:19] priyanka22kar commented on #637
@vkosuri  Sir I have 2 Queries:
[1]
When I created an app using gitter
I received:
TOKEN
OAUTH KEY
OAUTH SECRET
REDIRECT URL

So I applied it in the code as follows:
![image](https://cloud.githubusercontent.com/assets/26005427/23403106/9c2f2eaa-fdd4-11e6-8ade-5aea00d64c8c.png)

And when executed got the following error:
runfile('C:/Users/Priyanka Baviskar/Documents/py_2/chatbot_demo_gitter_demo.py

[2017-02-28 13:05] vkosuri commented on #637
On Gitter see some example over here https://github.com/gunthercox/ChatterBot/blob/master/tests/input_adapter_tests/test_gitter_input_adapter.py#L23

I am not sure with Ubuntu corpus issues

[2017-02-28 13:48] priyanka22kar commented on #637
Can I edit the Corpus ?
add more conversations directly into the json file ?

[2017-02-28 18:50] gunthercox commented on #637
You can certainly edit the corpus files. The Ubuntu dialog corpus is a separate project but ChatterBot has a smaller built in corpus in the `corpus/data` directory.

[2017-02-28 22:43] darenr commented on #635
@kumarneeraj2005 I think the app is working, the response contains "hi" which is "correct". I think what you're noticing is that the serialization of the api is not valid json, the api returns a json structure with the "text" node pointing to python serialized (as opposed to json) so you get in the app the data that you show. This is why the app shows the following:

![screenshot from 2017-02-28 1

[2017-03-01 08:39] priyanka22kar commented on #637
One last doubt @gunthercox
when we download the The Ubuntu dialog corpus via the program were does it get stored ?
Because it isn't extracting the whole data for me its throwing error.

[2017-03-01 10:34] gopiwh0 commented on #137
@davizucon
Yes, it was pretty easy to use aiml as a logic adapter. I used the AIML interpreter here: https://github.com/creatorrr/pyAIML, which is AIML 1.0.1 standard. It was tricky to calculate the confidence level of the reply  though, as it is not part of the AIML standard.

[2017-03-01 11:07] jbmlaird opened #640 "ImportError: no module named 'chatterbot.ext' on own app"
When I run the sample Django Chatterbot app, it runs fine but not when I run my own project. I have tried `pip install chatterbot --upgrade`.

Stack trace:

[code]

My **settings.py**:

[code]

My **urls.py**:

[code]

Ctrl+clicking on chatterbot.ext.django_chatterbot displays the correct file!

[2017-03-01 11:26] jbmlaird commented on #640
I'm not entirely sure what fixed it but after creating another app and including it before chatterbot, it migrated fine.

[2017-03-01 11:26] #640 closed

[2017-03-01 13:49] gunthercox commented on #637
The Ubuntu dialog corpus should be downloaded to the same directory that
your Python code is being executed from. I test out the download process as
soon as I can. It is possible that some change has been made since I wrote
the download code.

On Wed, Mar 1, 2017 at 3:39 AM Priyanka baviskar <notifications@github.com>
wrote:

[2017-03-01 16:43] jbmlaird opened #642 "OperationFailure: not authorized on chatterbot-database to execute command { createIndexes: "statements", indexes: [ { key: { text: 1 }, unique: true, name: "text_1" } ] }"
Upon trying to run my app locally I get the above error that occurs on the database_uri line.

[code]

Full stack trace:

[code]

Interestingly, I connected to the database using the command line and ran the above command and got a success message returned. Running the app still causes this error, however.

Is this an error with mLab?

[2017-03-02 11:16] 360d-io-labs commented on #605
Hi is there any news regarding this? I checked the dev branch but it has not been updated for a while? Is there something we can do to help?

[2017-03-02 13:07] elviraC opened #644 "While installing ChatterBot-Voice, ChatterBot uninstalls"
Hello,

I wanted to test out the ChatterBot-Voice. But when I used the "pip install chatterbot-voice" command, it uninstalled my chatterbot 5.0, which is really annoying. I had to uninstall chatterbot-voice and chatterbot, to reinstall chatterbot to get chatterbot to work again.

How can I install chatterbot-voice, without it uninstalling chatterbot..?

[2017-03-02 15:44] gunthercox commented on #644
Hi @elviraC, this is happening because the [requirements.txt](https://github.com/gunthercox/chatterbot-voice/blob/master/requirements.txt) file in the `chatterbot-voice` package is pined for `ChatterBot>=0.3.5,<0.5.0`. It needs to be updated, probably to something like `ChatterBot>=0.4.0,<0.6.0`.

Feel free to make a pull request with the change if you want to contribute. Otherwise I will make the

[2017-03-02 15:50] gunthercox commented on #635
Hi @darenr, the issue you are seeing was fixed in https://github.com/gunthercox/ChatterBot/pull/608, it will be available for download when the next version of ChatterBot is released.

[2017-03-02 15:53] gunthercox commented on #642
Hi @jbmlaird, this isn't an issue I have encountered before. To me it looks like an authentication issue with the server hosting your database.

[2017-03-02 17:13] darenr commented on #635
@gunthercox awesome, thanks, I also fixed it in my local copy, but I'm glad to hear there's a new version, the project has a lot of interesting ideas.

[2017-03-03 09:30] addelll opened #645 "Flask app using ChatterBot"
**# have created a simple Flask app using ChatterBot with Heroku but 👍:**
`
2017-03-03T09:29:05.195670+00:00 app[web.1]: Traceback (most recent call last):
2017-03-03T09:29:05.195672+00:00 app[web.1]:   File "/app/.heroku/python/lib/python3.6/site-packages/gunicorn/arbiter.py", line 557, in spawn_worker
2017-03-03T09:29:05.195673+00:00 app[web.1]:     worker.init_process()
2017-03-03T09:29:05.1956

[2017-03-04 15:01] gunthercox commented on #645
Hi @addelll, I based on the stack trace I can't pinpoint the exact cause of your failed Heroku deployment. What parameters are you passing to the `ChatBot` class in your code?

[2017-03-04 15:08] gunthercox commented on #605
Hi @360d-io-labs, I appreciate the offer. The development branch currently contains some major changes and improvements but I am currently getting random test failures. I haven't had a chance to pinpoint the exact cause. Examples of these failures can be viewed in the Travis CI output https://travis-ci.org/gunthercox/ChatterBot/builds/196184505

[2017-03-04 15:24] gunthercox commented on #644
I've updated the version requirements. https://github.com/gunthercox/chatterbot-voice/commit/9fdb29bd1ee5bdbcbe72af8cf386bd0760329fa6

The change will be available when I release the next version of the `chatterbot-voice` package.

[2017-03-04 15:25] #639 closed

[2017-03-04 15:28] gunthercox commented on #637
@priyanka22kar Yes, you can edit the corpus by editing the json file.

[2017-03-04 15:41] #635 closed

[2017-03-04 15:52] addelll commented on #645
the simple example didn't work with flask in heroku , i tested the example https://github.com/chamkank/flask-chatterbot

from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer
from langdetect import detect_langs
from time import sleep
import json
from chatterbot.conversation.session import ConversationSessionManager
import uuid

chatbot = ChatBot("Adddell", silence_

[2017-03-04 15:56] gunthercox commented on #645
Are you able to run @chamkank's flask app example locally without error?

[2017-03-04 16:25] addelll commented on #645
yes it's working

[2017-03-04 18:49] addelll commented on #645
hi just tell me best config (python version and requirements) that should i use to test it in server

[2017-03-05 01:30] gunthercox commented on #645
Python 3.5 is the recommended version of Python for ChatterBot. ChatterBot's requirements are listed with the version ranges specified in this file: https://github.com/gunthercox/ChatterBot/blob/master/requirements.txt

[2017-03-05 12:39] gunthercox commented on #644
The next version of the `chatterbot-voice` package has been released to the Python package index. Please upgrade to the latest version to receive this fix.

[2017-03-05 12:39] #644 closed

[2017-03-05 21:42] chamkank commented on #645
If it still doesn't work after that, I recommend using [PythonAnywhere](https://www.pythonanywhere.com/) instead of Heroku. It worked without a hitch in the past, when I hosted the live demo.

[2017-03-06 12:27] addelll commented on #604
how to resolve this probleme?

[2017-03-06 20:02] mohitgoyal001 commented on #443
sameerror problem

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'Chatbot'
I am using python3

[2017-03-07 02:18] gunthercox commented on #443
@mohitgoyal001, Like most programming languages, Python imports are case-sensitive. `Chatbot` should be `ChatBot` in your import.

[2017-03-08 16:31] mohitgoyal001 commented on #443
Thanks.. @gunthercox  it works.

[2017-03-10 11:00] neatville opened #648 "When I use chatterbot, it seems to be giving responses I didn't train it to give."
Here's my setup.
[code]

I thought it only gave the types of responses originally found in the corpus (then the database, the corpus I created was pretty small). An example of it not doing what it's supposed to be doing, is if it receives a 'no' response, it might type 'No' back. Another weird thing is it has given responses that were previously received as questions. Does it also get trained each

[2017-03-11 18:25] shafaypro commented on #648
Same is the case here. I am even getting unexpected results. If i train it only for Corpus and the previously i trained only for greetings. Still it retrieves bad output (which i have never trained ) some times simple "single letter words". I did deleted the json file still.

[2017-03-12 22:24] shafaypro commented on #648
I checked it , There was a path difference as well if you are using an IDE like PYCHARM, check the path that the pYCHARM is considering , there must be another json file which its referring too. I checked it and i did had on the active path of PYCHARM. plus I did faced some anonymus responces like "V" <-- only when i said "Tweet on twitter"

[2017-03-14 03:01] johnduxx opened #649 "about chatterbot machine learning technique"
Dear Altruist,

I want to contribute in this project. Before going to join with it, i have a very simple question. What machine learning techniques has been used in this project?

Can you please share in details if possible?

[2017-03-14 08:28] Parveen-Thind opened #650 "PermissionError: [Errno 13] Permission denied: 'database.db'"
Traceback (most recent call last):
  File "<pyshell#1>", line 1, in <module>
    c = ChatBot('Ron Obvious')
  File "C:\Users\Hp W8.1 ori\AppData\Local\Programs\Python\Python35\lib\site-packages\chatterbot\chatterbot.py", line 37, in __init__
    self.storage = utils.initialize_class(storage_adapter, **kwargs)
  File "C:\Users\Hp W8.1 ori\AppData\Local\Programs\Python\Python35\lib\site-packages\cha

[2017-03-14 09:47] vkosuri commented on #650
@Parveen-Thind could you please describe your prblem detail? For more information please look here http://stackoverflow.com/questions/23870808/oserror-errno-13-permission-denied

[2017-03-14 09:57] vkosuri commented on #649
The purpose of [chatterbot ](http://chatterbot.readthedocs.io/en/stable/index.html) is use in [Salvius the Robot ](http://blog.salvius.org/) for more information available [here](http://blog.salvius.org/2014/09/when-good-chat-bots-go-bad.html).

The major techniques used here, as far of i know

1. You could [train](http://chatterbot.readthedocs.io/en/stable/training.html) your bot
2. Build your [c

[2017-03-14 12:12] Parveen-Thind commented on #650
from chatterbot import ChatBot
chatbot  = ChatBot('Ron Obvious')
 # this code gives me above errors . I am not being able remove it.

[2017-03-14 14:04] gunthercox commented on #649
Hi @johnduxx I'm glad you're interested in contributing to this project. To answer your question, ChatterBot uses a number of algorithms to select a response. ChatterBot is designed to be modular so each response selection algorithm is broken up into its own module called a logic adapter. A number of logic adapters have been written, at the moment most of them implement search-based artificial int

[2017-03-14 16:19] vkosuri commented on #650
I think you are trying to work on chatterbot examples folder, try to run it somewhere you have privileges to create or delete files from your python script.

[2017-03-14 17:24] Utsav2 commented on #200
@NotSoSuper did you notice an improvement?

[2017-03-14 20:33] pavanAlluri opened #651 "bug in datetime parsing"
Hello,

As i use the parsing module for datetime conversion, in the function '**date_from_relative_week_year**' the ordinal value that is being passed into the function is not being used.

For example if the text input was next 3 weeks... the output is being of only one week. i believe this is because ordinal is not being used here. I tried to fix it my myself i adding the ordinal value to the rel

[2017-03-14 21:22] web-maker commented on #591
Hi all. I have a same error. I want to use Django 1.10 and a separate MongoDB for bot data. When I tried to get response from bot, I got an error `invalid literal for int() with base 10: '"`.
I found a bottleneck in StorageAdapter class, in next lines:
`
    def Statement(self):
        """
        Create a storage-aware statement.
        """
        import os

        if 'DJANGO_SETTINGS_MODULE'

[2017-03-15 00:14] gunthercox commented on #651
Hi @pavanAlluri, I have inspected the code and I can confirm that there is
an issue with this function. I will make a pull request with corrections as
soon as I can. In the mean time it is possible that another contributor may
propose a solution.

[2017-03-15 00:21] gunthercox commented on #591
@web-maker If you are interested in submitting a pull request I would be happy to review it.

[2017-03-15 00:56] shank7485 opened #652 "Extracting certain 'key words' from a sentence"
How can we make the bot to extract certain keywords from a sentence?

Example 1:

`User Question:         What is the weather in Seattle?`

_(Bot reads keyword 'Seattle'. Gets weather in Seattle by some Weather API. Return the weather)_

`Bot Answer:              Weather in Seattle is XX.`

Example 2:

`User Question:          May I know the weather in London?`

_(Bot reads keyword 'London'. Gets

[2017-03-15 01:05] gunthercox commented on #652
This sounds like a structured data analysis problem. I'd recommend taking a look at some of the functionality provided by NLTK http://www.nltk.org/book/ch07.html

[2017-03-15 02:22] NotSoSuper commented on #200
Yes, however, even after the mongodb gets very large it can tend to slow down.

[2017-03-15 11:50] arafat-al-mahmud commented on #649
@gunthercox  Please correct me if I am wrong.

For the sake of **Search-based artificial intelligence** I have found following optional algorithms implemented in **ChatterBot** that can be used as the 'statement_comparison_function' for a logic adapter:

**_levenshtein_distance_** : for measuring character based text similarity

**_synset_distance_** : for calculating the synonymous similarity bet

[2017-03-15 11:51] gunthercox commented on #649
@arafat-al-mahmud That is correct.

[2017-03-15 13:31] web-maker commented on #591
@gunthercox Thanks, I added pull request #653

[2017-03-15 15:08] gunthercox commented on #591
@web-maker Thank you, I'll check it out.

[2017-03-15 15:21] #637 closed

[2017-03-15 16:08] #611 closed

[2017-03-15 18:47] gunthercox commented on #628
I'm closing this issue because it is inactive and there wan't enough information provided to recreate the problem.

[2017-03-15 18:47] #628 closed

[2017-03-15 19:05] #603 closed

[2017-03-15 19:37] #642 closed

[2017-03-15 19:45] #624 closed

[2017-03-15 19:51] gunthercox commented on #238
I'm closing this ticket off as it hasn't been reported in quite some time and I'm fairly certain it was resolved.

[2017-03-15 23:41] vkosuri commented on #652
I think this might also help you https://textblob.readthedocs.io/en/dev/

[2017-03-16 01:11] #540 closed

[2017-03-16 12:14] yumupinglan commented on #634
how to delete archive ?

[2017-03-16 18:03] pavanAlluri commented on #651
Thank you for looking into this @gunthercox

[2017-03-17 10:02] vkosuri commented on #319
@bilalbayasut save this into a file for example ``./my_bot_config.json``

[code]

To could do like this

[code]

[2017-03-17 12:33] sks4903440 opened #656 "Duplicate 'fact'"
The bot displays the same fact after repeated queries.
![a](https://cloud.githubusercontent.com/assets/15520349/24043303/0e1dd556-0b3c-11e7-8666-814c59c49e58.png)

[2017-03-17 13:13] Jaivignesh92 commented on #325
I need to create chatbot to autocorrect all the spelling mistakes? can you help me?

[2017-03-17 13:19] gunthercox commented on #325
I would recommend writing this as a preprocessor instead of a logic
adapter. Logic adapters typically are for generating a response while
preprocessors are specifically designed to alow you to modify the input
that the bot recieves.

http://chatterbot.readthedocs.io/en/stable/preprocessors.html

[2017-03-17 13:26] Jaivignesh92 commented on #325
Actually My question is User will write a sentence with spelling mistake and Chatbot should response same sentence without spelling mistake.

example:

USER: clmate is gaod
BOT: climate is good

can you help me in this?

[2017-03-17 14:54] vkosuri commented on #325
I think this might help you https://github.com/mattalcock/blog/blob/master/2012/12/5/python-spell-checker.rst

[2017-03-17 18:35] Jaivignesh92 opened #657 "Chatterbot Not installed properly using anaconda"
//anaconda/lib/python2.7/site-packages/chatterbot/storage/jsonfile.py:26: UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production environments.
  self.UnsuitableForProductionWarning

[2017-03-17 18:41] Jaivignesh92 commented on #657
---------------------------------------------------------------------------
BadZipfile                                Traceback (most recent call last)
<ipython-input-8-fe29959b3109> in <module>()
      2
      3 # Create a new chat bot named Charlie
----> 4 chatbot = ChatBot('Charlie')
      5
      6 # Get a response to the input text 'How are you?'

//anaconda/lib/python2.7/site-packages/chatte

[2017-03-18 17:39] laffyfx opened #658 "Django Chatterbot JSON Error"
Hi! Quick note: I _just_ got into this whole "python/linux" thing so I'm sorry if I sound like a dummy.

On typing literally anything into the most recent version of the Django ChatterBot example (I installed all dependencies with [this file](https://github.com/gunthercox/ChatterBot/blob/master/requirements.txt)), I receive a string of "de-serialized" JSON (again, I'm new, so I'm not sure if that'

[2017-03-18 19:30] laffyfx commented on #658
After reading [this fix](https://github.com/gunthercox/ChatterBot/issues/523#issuecomment-268476276) and trying it, I now experience this once input is submitted:
[Screenshot here](http://i.imgur.com/xhdKBFM.png)

I'm going to try reinstalling everything from the requirements.txt file and see what I can do from there.

[2017-03-19 05:04] #656 closed

[2017-03-20 14:29] galeej opened #659 "couchdb Trainer"
Hi,

I have written a couchdb trainer that trains data stored in couchdb.  It works on my local... Would it be possible for me to submit the trainer to you?

Sorry, first time contributor to any git project.

Regards,
Sunil

[2017-03-20 18:35] gunthercox commented on #659
Hi @galeej, you are welcome to submit a pull request. I can't guarantee it will get merged into the code base but I would be glad to review it.

[2017-03-20 20:35] toopay opened #660 "RethinkDB Storage"
I have an experiment using [RethinkDB](https://rethinkdb.com/) as storage recently - since JSON definetely couldn't be used in production and i'm not Mongo fan. @gunthercox is this something you might be interested in? I could submit a PR soon if that is the case :)

Cool library anyway. Cheers!

[2017-03-20 21:04] gunthercox commented on #660
@toopay Thank you for the offer. In the nearer future I may be significantly changing the way storage adapters work in ChatterBot. As much as I want to support as many different databases as possible, refactoring will be much easier for me if there are fewer of them in the core of the repository.

[2017-03-20 21:08] toopay commented on #660
Interesting. Could you outline the direction of those refactor?

[2017-03-20 21:45] gunthercox commented on #660
I don't have any finalized plans at the current time.

[2017-03-21 09:52] vkosuri commented on #660
How this is going to be described here https://github.com/gunthercox/ChatterBot/issues/528

[2017-03-21 09:55] vkosuri commented on #656
@sks4903440 Is your problem is resolved? If not can you describe you problem detail?

[2017-03-21 10:01] vkosuri commented on #657
@Jaivignesh92 chatterbot supported environments are listed [here ](https://github.com/gunthercox/ChatterBot/blob/master/setup.py#L60). A typical related [issue ](https://github.com/gunthercox/ChatterBot/issues/637)

[2017-03-21 10:16] vkosuri commented on #658
@laffyfx which version of chatterbot are you using? To get version of chatterbot use below command

[code]

If you are not using latest [version ](https://github.com/gunthercox/ChatterBot/releases/tag/0.5.5) you could upgrade by using
[code]

I think this was fixed on https://github.com/gunthercox/ChatterBot/pull/608. Let us know still you are facing this issue?

[2017-03-21 10:51] nony05 opened #662 "NLTK error during chatterbot setup"
When i initialize a chatterbot  like this
Install chatterbot using  `pip install django chatterbot`, then add `chatterbot.ext.django_chatterbot` in Installed apps and then run `./manage.py runserver`

shows Error
[code]

[2017-03-21 11:03] sks4903440 commented on #656
Its resolved.

[2017-03-21 12:52] gunthercox commented on #660
@vkosuri That is not correct. #528 is for input and output adapters. @toopay was talking about a storage adapter for using RethinkDB.

[2017-03-21 13:55] vkosuri commented on #660
@gunthercox apologies i thought #528 will apply storage adapters also. Thanks Master.

[2017-03-21 23:49] laffyfx commented on #658
@vkosuri according to [this screenshot](http://i.imgur.com/45MKeSp.png), I apparently have no version!
I looken in the /dist-packages/ folder and found that my version is 0.6.0 ([screenshot for verification](http://i.imgur.com/AXNPJFr.png)).

EDIT:
And just like that, although I have executed the command
`pip install chatterbot --upgrade --force-reinstall` (maybe it was the "force-reinstall"?)
ove

[2017-03-21 23:49] #658 closed

[2017-03-25 04:57] neatville commented on #234
@gunthercox this link you posted is dead: http://chatterbot.readthedocs.io/en/latest/adapters/tie_breaking_method_mixins.html
Is that how you would currently get a random response? In my corpus I have some of the same questions posted multiple times, yet each question gets the same default answer for it each time.

`
# -*- coding: utf-8 -*-
from chatterbot import ChatBot
from chatterbot.trainers i

[2017-03-25 19:17] neatville commented on #234
I think I have it figured out now..

[code]
Those were the only changes I had to make to finally get some varied responses for each given question.

[2017-03-25 19:20] gunthercox commented on #234
@neatville Setting the `response_selection_method` is correct.

[2017-03-25 19:40] neatville commented on #648
Interesting, I didn't see another file it was referring to. I didn't use PyCharm for it, but the problem seemed to just go away after I started using mongodb. Not sure if that's what solved it or not, in my case.

[2017-03-26 22:09] davizucon commented on #528
@gunthercox and @vkosuri ,
If I understood well, there will be some kind of asynchronous Statement and maybe a session to have conversations(user) related with external conversations(?) (API exposed or consumed) and eventually the Statement will appear in brain (data) and/or will be show in the user conversation.

Said that, it will expand/change how ChatterBot interact, and how logic adapters pro

[2017-03-27 07:42] galeej opened #665 "What happens if I train the chatbot twice in the same session?"
Hi,

I'd like to know what happens if I happen to train the chatbot twice with the same corpus in the same session.

Would the database.db (assuming I'm using the JsonFileStorageAdapter) get updated with the training dataset (with increment to the 'occurence' field)?

[2017-03-27 08:58] kail518 opened #666 "Training Data Memory?"
Hi everyone
I just started using chatterbot and played around by importing different corpus, as well as adding manual conversations. It seems there is memory from previous conversations. For example, if I do training on the ubuntu database, then redotraining on the English corpus, it seems to have memory of responses from ubuntu. This is creating some very unusual responses

[2017-03-27 13:47] isfando opened #667 "Accuracy of Response"
How to find out the probability of accuracy/confidence (or relevancy) of the chat response

[2017-03-27 14:09] davizucon commented on #137
@gopiwh0 did you go any further with integration?

[2017-03-27 15:21] #667 closed

[2017-03-27 22:09] gunthercox commented on #528
@davizucon I believe what you are describing is accurate. After this change is made the only difference there will be is that programmers will pass data TO chatterbot and a response will be returned, they will then write code to do something with that response. Right now input and output adapters are somewhat limiting to the developer and I would prefer to encourage design patterns that don't forc

[2017-03-27 22:14] gunthercox commented on #666
Hi @kail518, your observation is correct. Knowledge is retained by the chat bot each time it is trained.

Methods exist to remove all learned statements from the chat bot if you wish to do so. You can do:

[code]

[2017-03-27 22:15] gunthercox commented on #665
Hi @galeej, that is correct. Occurrence counts are incremented for each duplicate statement received.

[2017-03-27 22:19] #652 closed

[2017-03-27 22:21] #657 closed

[2017-03-27 22:23] #650 closed

[2017-03-27 22:24] #649 closed

[2017-03-27 22:24] #645 closed

[2017-03-28 06:11] galeej commented on #665
ok.

Also, would it be possible for you to let me know why this loop in the jsonfilestorageadapter exists?

[code]
b
I am trying to write a couchdb storage adapter.  This would help me understand the code better.

Thanks in advance,

Galeej

[2017-03-28 06:11] #665 closed

[2017-03-28 06:36] galeej opened #668 "Initializing chatbot with a different database name for JsonFileStorage"
Hi,

I would like to initialize a chatbot with a different db name.. Is it possible to do it?

I can do it for the JsonFileStorageAdapter class by

j1 = JsonFileStorageAdapter(database = "sampledb.db")

However, I am not sure how to create a chatbot that references a db other than database.db

[2017-03-28 06:40] galeej commented on #668
As of now I am doing the following.. please let me know if this is correct:

c1 = ChatBot("wisebot", storage_adapter = "chatterbot.storage.JsonFileAdapter")
c1.storage.__init__(database = "sampledb.db")

I can see a separate db called sampledb being created if this is being done...But im not sure if this is the apt way to do it :)

[2017-03-28 09:01] xliu019 opened #669 "slow in returning replies"
Right now whenever l type a question/line to the bot, l have to wait for quite some time to get the reply. But when l first tried the chatterbot 2 days ago, it is quite fast. May l know why?
l use the example in the Github:

import tkinter as tk
try:
    import ttk as ttk
    import ScrolledText
except ImportError:
    import tkinter.ttk as ttk
    import tkinter.scrolledtext as ScrolledText
impor

[2017-03-28 09:08] xliu019 opened #670 "How to get the bot to open a file when l type the file name and analyze network properties"
Right now l am working on a project which can open a network file and analyze network properties. l need to build a chatbot that ask users questions, let users choose/put file names of the networks, open the networks and return the various network properties in the chat. Is it possible? Thank you very much!

Here is the screenshot of the existing project:
![image](https://cloud.githubusercontent.c

[2017-03-28 10:20] vkosuri commented on #670
It seems to you are working on TCL/TK widgets, If so i don't exact answer how to integrate both ``Python`` and ``TCL/TK``.

Coming to your question, What I understood,

1. you need to read files names from user
2. Input to your tool it will produce above specified graphs.

Then that is the case see this [example ](http://chatterbot.readthedocs.io/en/stable/examples.html#terminal-example)

I want i

[2017-03-28 10:26] vkosuri commented on #669
I think you are using JsonFileStorageAdapter adapter, Check size of JsonFileStorageAdapter, If is huge then you response will become slower. Try to [Mongo DB](http://chatterbot.readthedocs.io/en/stable/storage/index.html#mongo-database-adapter) to avoid slowness. Fro more information fallow this link http://chatterbot.readthedocs.io/en/stable/storage/index.html

[2017-03-28 10:39] vkosuri commented on #668
Did you tried like this

[code]

[2017-03-28 10:58] galeej commented on #668
Yes.  It works... silly me.

Thanks.

[2017-03-28 10:58] #668 closed

[2017-03-28 13:01] qinyuanpei opened #671 "How to storage conversation data when I have a quick start"
I had installed chatterBot with pip and I wrote a simple demo based on examples:
[code]
When I execute this script, it will download data with "nltk_download_corpus", here it shows a exception in terminus, so how can we solve this issues if I don't want to download data from network, because I had found data in this project on GIthub.

[2017-03-28 14:41] vkosuri commented on #671
Did you tried like this

[code]

[2017-03-28 18:33] gunthercox commented on #662
@nony05 Sorry about the late response. If you are still encountering this issue, based on the error you are receiving (`zipfile.BadZipfile: File is not a zip file`) it appears that there is an issue with your NLTK data files.

Is there any chance that you downloaded the NLTK data files manually?

[2017-03-28 23:27] 6d6366726c opened #672 "Errors when running the basic example"
Hey folks,
I pip installed chatterbot to a new virtualenv, but having trouble running the first basic example here:
https://chatterbot.readthedocs.io/en/stable/examples.html

I can see from a search on previous issues that UnsuitableForProductionWarning is an alert only so can be ignored, but the rest of the errors have me stumped.

Help please!

`/Library/Python/2.7/site-packages/chatterbot/stora

[2017-03-29 01:10] qinyuanpei commented on #671
Yes，I know that chatterbot use JSON as the default storage，we don't have to define a storage adapter in our script like examples show，my question is that data.py in site-packages shows a BadZipfile exception when I execute this script，I think maybe Python(v2.7/v3) in my system(Ubuntu14) is not work well.

[2017-03-29 10:44] rajasimon commented on #241
Nice to see this integrated ASAP

[2017-03-29 15:06] yumupinglan commented on #672
I also have this problem on python3.5.

`C:\Program Files\Python 3.5\lib\site-packages\chatterbot\storage\jsonfile.py:26: UnsuitableForProductionWarning: The JsonFileStorageAdapter is not recommended for production environments.
  self.UnsuitableForProductionWarning
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files\Python 3.5\lib\site-packages\chatte

[2017-03-29 15:34] vkosuri commented on #672
similar issue see https://github.com/gunthercox/ChatterBot/issues/662#issuecomment-289863176

[2017-03-29 15:35] vkosuri commented on #671
similar issue see https://github.com/gunthercox/ChatterBot/issues/662#issuecomment-289863176

[2017-03-29 19:13] 6d6366726c commented on #672
I didn't download NLTK manually. Any ideas on how to resolve?

[2017-03-30 01:00] qinyuanpei commented on #671
Thanks for your help，I will download nltk data manually and try again.

[2017-03-30 01:00] #671 closed

[2017-03-30 02:35] xliu019 commented on #669
Thank you very much! It is super fast now. :)

[2017-03-30 02:35] #669 closed

[2017-03-30 09:19] vkosuri opened #673 "corpus image support"
How do i use images in my corpus, any suggestions?

[2017-03-30 15:25] gunthercox commented on #672
@6d6366726c If you haven't already done so, I would recommend making sure that you have the latest version of NLTK installed. To do this you can run:

[code]

This error is very likely occurring due to an issue with one ore more of the NLTK data files. These files are not downloaded with the NLTK python package and have to be downloaded separately. Typically ChatterBot will attempt to trigger the

[2017-03-30 15:29] gunthercox commented on #673
Images are not supported by the ChatterBot corpus. It is a text-based collection of structured dialog.

[2017-03-30 18:31] rajasimon commented on #241
@davizucon I see "All testes passing" commit message. What about pull request?

[2017-03-30 19:40] gunthercox commented on #648
@neatville Your chat bot does get trained each time `chatterbot.get_response()` is called. This is by design to help the chat bot learn to communicate. You can also disable this learning by passing the parameter `read_only=True` to the `ChatBot` class.

[2017-03-30 19:42] davizucon commented on #241
Hi @rajasimon, Yes but I don't fell confidence enough to delivery. I`ll need to do some more tests against others databases (SQLite (default and done) , MySQL (in progress) and PostgreSQL(in progress)) to see if there is any issue.

By the way, what you think:

All parameters are optional, except storage_adapter

chatbot = ChatBot( ....

- **storage_adapter**="chatterbot.storage.SQLAlchemyDatabase

[2017-03-31 00:23] vkosuri commented on #673
Thanks Master, will it possible through Django framework using some trick of preprocessor

[2017-03-31 00:23] #673 closed

[2017-03-31 07:17] rajasimon commented on #645
You should add these to your `nltk.txt`

[code]

[2017-03-31 08:30] vkosuri commented on #645
A example project here https://github.com/vkosuri/chatterbot-live-example

[2017-03-31 13:03] gunthercox commented on #645
@vkosuri Does your example still work? It looks like the heroku site may be broken.

[2017-03-31 14:14] vkosuri commented on #645
No it is working https://chatterbot-live-example.herokuapp.com/

[2017-03-31 18:13] rajasimon commented on #645
@vkosuri I doubt that. Can you try with fresh installation. I too ran into the same problem when I deploy in the first time.

[2017-04-01 05:25] mrmrn opened #674 "if I had a dataset, could I train chatter bot?"
Hi, this open source, language independent bot engine is very nice work.
Thank you all.
I like to develop a chatbot for supporting​ a website, and my preferred language is Persian.
So can I use a persian dataset for training chatterbot?

[2017-04-01 06:40] vkosuri commented on #674
Yes, You could submit PR to this repository https://github.com/gunthercox/chatterbot-corpus

Some of the examples of other language's are available https://github.com/gunthercox/chatterbot-corpus/tree/master/chatterbot_corpus/data

[2017-04-01 12:00] mrmrn commented on #674
how could I submit PR to [that](https://github.com/gunthercox/chatterbot-corpus) repo?

[2017-04-01 12:47] yumupinglan commented on #672
download NLTK manually, and the issue resolved. @vkosuri thank you vary much!

[2017-04-02 09:17] vkosuri commented on #672
@yumupinglan Thanks Master @gunthercox

[2017-04-02 09:17] #672 closed

[2017-04-02 09:18] vkosuri commented on #674
Please read the documentation https://help.github.com/articles/fork-a-repo/

[2017-04-02 09:18] #674 closed

[2017-04-02 15:02] ttrd06 opened #675 "consuming time for chat answers"
hello at all,

i followed examples and tutorials for testing chatterbot but i have a 'bug' or there is something i don't understand:
i used the terminal example and
i have to wait until 10-15 seconds before the answers come from chatterbot. the conversation is not 'normal'...
my config is: win10 64 - core I7 - 16gb of ram -- 1To SSD.

is there here a complete project to test it ?

[2017-04-02 15:59] vkosuri commented on #675
I tired on my machine it is quite fast and working fine as expected.

Some times it might delay using JsonStorageAdapter because of if it is very huge size around 1MB.

Could you try un-comment this [line ](https://github.com/gunthercox/ChatterBot/blob/master/examples/terminal_example.py#L7). It will verbose more information on terminal how your request and response are selecting using different l

[2017-04-02 16:15] ttrd06 commented on #675
thank's for reply,

i un-commented the line you asked then you have below:

Type something to begin...
hello
INFO:chatterbot.adapters:Recieved input statement: hello
INFO:chatterbot.adapters:"hello" is a known statement
INFO:chatterbot.adapters:Not processing the statement using MathematicalEvaluation
INFO:chatterbot.adapters:TimeLogicAdapter selected "The current time is 06:10 PM" as a response w

[2017-04-02 16:54] vkosuri commented on #675
I don't see any issue with my machine.

[code]

[2017-04-02 17:01] vkosuri commented on #675
You could add logger formatter after line number 8 to know exact time you have been waited
[code]

[2017-04-02 17:26] ttrd06 commented on #675
you'll see now with the new infos provided:

Type something to begin...
hello
2017-04-02,19:23:44.506 INFO {input_adapter} [process_input_statement] Recieved input statement: hello
2017-04-02,19:23:44.568 INFO {input_adapter} [process_input_statement] "hello" is a known statement
2017-04-02,19:23:44.568 INFO {multi_adapter} [process] Not processing the statement using MathematicalEvaluation
2017-0

[2017-04-02 17:35] ttrd06 commented on #675
and in the same time, i tried the twitter example and i had an another bug:
File "C:\Python27\lib\site-packages\chatterbot\trainers.py", line 131, in __init__
    from twitter import Api as TwitterApi
ImportError: cannot import name Api

did you experienced the same bug ?

[2017-04-02 18:40] ttrd06 commented on #675
last news, i uninstalled my python 2.7 (but working with others projects) and installed python 3 (clean install)
i have both the sames issues ... if someone can explain me clearly what happens ?

[2017-04-02 19:37] ttrd06 commented on #675
another news: tested with Linux too and i have same issues with the twitter error:
Python27\lib\site-packages\chatterbot\trainers.py", line 131, in init
from twitter import Api as TwitterApi
ImportError: cannot import name Api

So windows is not faulty because Linux has the same issue ...
Anyone have this bug ?

[2017-04-02 23:09] vkosuri commented on #675
For slowness issue try this example
[code]
For twitter issue try to install twitter
[code]

[2017-04-03 06:52] ttrd06 commented on #675
good morning,

i followed what you said @vkosuri and no changes appears as you can check below:

[code]

36 sec to wait from the beginning ...
twitter, it's the same but what about
`pip install --upgrade twitter`
in the requirements file from chatterbot, you have:
`chatterbot-corpus>=0.0.1,<1.0.0
jsondatabase>=0.1.7,<1.0.0
nltk>=3.2.0,<4.0.0
pymongo>=3.3.0,<4.0.0
python-twitter>=3.0.0,<4.0.0`

the

[2017-04-03 08:47] vkosuri commented on #675
@ttrd06 As per my knowledge, I think there is no specified time limit to get response for all requests, it is dependent on different factors for example memory, Operating system, etc.

Did you problem was resolved after installing ``twitter``.

@gunthercox Master, can you comment on this topic?

[2017-04-03 09:02] ttrd06 commented on #675
@vkosuri twiter pb has been resolved since 2 minutes and others bugs inside with:
`INFO:chatterbot.trainers:Requesting 50 random tweets containing the word Google
INFO:chatterbot.trainers:Adding 1 tweets with responses
Traceback (most recent call last):
  File "C:/AI/Python/chat/twitter-test.py", line 40, in <module>
    chatbot.train().encode("utf-8")
  File "C:\Python27\lib\site-packages\chatter

[2017-04-03 12:23] ttrd06 commented on #675
hi again,

nobody have explaination about this too big consuming time ?

[2017-04-03 14:50] gunthercox commented on #675
@ttrd06 I will look into your issue as soon as I can.

:coffee: :coffee: :coffee:

It looks like you have encountered several possible issues. Scanning over all your previous comments it also looks like you possibly have the wrong `twitter` package installed (it should be `python-twitter`).

[code]

[2017-04-03 15:34] ttrd06 commented on #675
thank's for reply @gunthercox,

at this time, twitter is important but secondary. my goal is use chatterbox with a raisonable time to answer.
As i said before, i followed your tuto:

`pip install chatterbot`

and

`from chatterbot import ChatBot

chatbot = ChatBot(
    'Ron Obvious',
    trainer='chatterbot.trainers.ChatterBotCorpusTrainer'
)

# Train based on the english corpus
chatbot.train("cha

[2017-04-03 16:38] mrmrn commented on #674
thanks

[2017-04-03 19:21] #659 closed

[2017-04-05 00:49] Olamyy opened #678 "How do i disable the storage adapter?"
I'm working with chatterbot and I really don't think I need a storage adapter.
Basically cause I've got my own storage engine and I'm on a limited storage space so I can't afford to save all conversations.

I was thinking if I left it blank, it'd disable it but it didnt.
The documentation says it defaults to 'JSONFileStorage'

[2017-04-05 01:01] vkosuri commented on #678
I haven't tried like this, could you try and let me know?

[code]

I think you will get error on your terminal.

[2017-04-05 03:58] yeshoujquery opened #679 "Chatterbot data to 2M is very slow to reflect why?"
4G memory usage is not particularly large, but after the training data reflects a very slow data only 2M did not use mongodb to answer

[2017-04-05 04:09] maclogan opened #680 "Making changes to the models does not change the chatbot."
I must be missing something here.

When trying to add a model to ext/django_chatterbot/models.py file, nothing happens.  Migrating states that there are no changes detected.  Is this not where to change, add, or delete files in Chatterbot 0.5.5?

[2017-04-05 04:19] #680 closed

[2017-04-05 06:26] vkosuri commented on #680
Did you tried making migrations

`` Bash
python manage.py migrate
``
https://docs.djangoproject.com/en/1.10/topics/migrations/#workflow

[2017-04-05 14:03] gunthercox commented on #679
If you are using the default JSON file storage adapter then the **entire** file has to be loaded into memory to search for matching statements. It works well for testing and very small data sets but it is completely impractical for larger data sets. This is the main reason that a real database is highly recommended.

[2017-04-06 10:22] monokal opened #682 "Slack Input/Output Adapter"
Slack is becoming an increasingly popular tool for organisations and individuals to communicate and has a huge developer following thanks to their well documented APIs.

It'd be great to have a native ChatterBot Input/Output Adapter for Slack to allow for more Human responses to wrap around the core functionality of whatever Python Slack Bot you're building.

https://api.slack.com/

[2017-04-06 11:31] vkosuri commented on #662
@nony05 did you tried manually download the files? And also try to upgrade chatterbot to latest version  ``pip install --upgrade chatterbot``

[2017-04-06 11:32] vkosuri commented on #682
A future update https://github.com/gunthercox/ChatterBot/issues/528

[2017-04-07 23:49] l0stbitz commented on #137
from __future__ import unicode_literals
from chatterbot.logic import LogicAdapter
from chatterbot.conversation import Statement
import aiml

class AIMLEvaluation(LogicAdapter):
    """

    """

    def __init__(self, **kwargs):
        from nltk import NaiveBayesClassifier

        self.kernel = aiml.Kernel()
        self.kernel.learn("standard/std-65percent.aiml")

    def process(self, statemen

[2017-04-08 13:42] ttrd06 commented on #675
hello at all,
@gunthercox did you had time to check my issue ?
i tried again today and i always have the same "bug" but not with CNTK or Tensorflow.
i wait for your answer please.
Thank's in advance

[2017-04-08 16:08] gunthercox commented on #675
@ttrd06 I did not have time to check your issue. I will look into it as soon as I can.

[2017-04-09 16:56] monokal opened #683 "UbuntuCorpusTrainer fails on non-existent "data/ubuntu_dialogs" directory after extraction."
So, using the example from `ChatterBot/examples/ubuntu_corpus_training_example.py`, it seems that the `ubuntu_dialogs.tgz` archive is downloaded and extracted successfully, however, the bot doesn't seem to be picking responses from it after `.train()` and also seems to want to extract the archive on every run. I've tried completely removing the data directory and re-training but nothing I've found

[2017-04-09 17:50] somerandomdudeontheinternet commented on #675
Hi, I am also facing the same issue, I also tried creating a completely new virtualenv with new installs.
[code]
As you can see it is taking 30 seconds for me with just around 500 statements in the json db file.
I tried debugging it, in "best_match.py" module, fetching the data takes 15 seconds and filtering another 15 seconds.
`statement_list = self.chatbot.storage.get_response_statements()` take

[2017-04-09 18:01] somerandomdudeontheinternet commented on #675
Alright, with the MongoDB it seems to work fine without any excessive delays. So the issue seems to be related to JsonFileStorage.
@ttrd06 Try using MongoDB instead, that should solve your problem for now.

[2017-04-09 20:15] monokal commented on #604
Use a supported database @addelll. A MongoDB storage adapter is documented here: http://chatterbot.readthedocs.io/en/stable/storage/

[2017-04-10 15:58] vladobra opened #684 "python-cjson throws an error with JsonFileStorage adapter"
Using chatterbot 0.6.0 and python-cjson 1.2.1

code:
=====================
from chatterbot import ChatBot
chatbot = ChatBot(
    'Ron Obvious',
    trainer='chatterbot.trainers.ChatterBotCorpusTrainer',
    input_adapter="chatterbot.input.TerminalAdapter",
    output_adapter="chatterbot.output.TerminalAdapter",
    database = "database.db"
)
while True:
    try:
        bot_input = chatbot.get_res

[2017-04-10 20:17] rajasimon commented on #241
Hi @davizucon, Thanks for the reply and I tried your code. Wish I can able to pull request to your repo but I can't because of the fork and fork not possible ? Anyway here is my thought on the first run...

- Can you make sure `chatterbot.storage.SQLAlchemyDatabaseAdapter`
- And in `sqlalchemy.py` why you hideout (34 and 52 line) ? Also I don't think you don't need `primary_key=True` in text. Just

[2017-04-11 10:53] monokal commented on #683
Having dug a little deeper, it seems the issue is that the code in https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py#L216 is expecting to find the Ubuntu Dialogs in `data/ubuntu_dialogs`, however, the extraction process places them in `dialogs`. On renaming the directory, things seem to be getting read.

[code]

[2017-04-11 13:13] davizucon commented on #241
Hi @rajasimon , thanks for addition !

I'll check out primary_key and run the tests with the change.

Ok ok, I'll make a PR for gunthercox/master, I'll suggest for this feature remains in alpha stage, until we make appropriate documentation and further tests.

[2017-04-13 10:41] monokal opened #686 "pymongo.errors.OperationFailure: distinct too big, 16mb cap"
When trying to train from and use the Ubuntu Dialog Corpus with the MongoDB Storage Adapter I'm hitting the following exception. The code is pretty much identical to the Ubuntu Corpus example in this repo.

I believe the issue is related MongoDB not being able to handle strings over 160 characters (which there is in the Ubuntu Corpus). So this should either be somehow resolved, or support dropped

[2017-04-13 15:47] ttrd06 commented on #675
thank's for you help @somerandomdudeontheinternet and sorry for the late, i took some days for hollidays.
i will try it asap and back to close this issue if ok.

Nice day at all

[2017-04-13 16:08] JoziGila opened #687 "train() of UbuntuCorpusTrainer extracts the corpus everytime and does not modify the database"
Everytime I run my script the files start extracting.
I tried extracting manually and commenting out the self.extract(), in which case the bot does not train at all.
Downloading of the corpus only happens once as intended.

[2017-04-13 18:00] BLCKPSTV opened #688 "Guide for installing on Heroku?"
Not really an issue but it would be awesome if there is a guide to get chatterbot on heroku!!

[2017-04-14 02:26] vkosuri commented on #688
Here is an example on heroku https://github.com/vkosuri/chatterbot-live-example and live demo https://chatterbot-live-example.herokuapp.com/

[2017-04-14 16:12] ttrd06 commented on #675
hello at all,

i confirm what @somerandomdudeontheinternet has said before, use only mongodb adaptor to feel a good experience. json db is just worst with training example include in tutorials.

thank's for all,
this issue is closed for me

[2017-04-15 18:39] BLCKPSTV commented on #688
Following your link , I managed to install it locally! But when I do heroku open
I get following error `Invalid HTTP_HOST header: 'lit-oasis-91133.herokuapp.com'. You may need to add u'lit-oasis-91133.herokuapp.com' to ALLOWED_HOSTS.`
I've changed this in both the forked github clone and in my local folder in the settings.py. I think I'm almost there. But unable to figure out what I am doing wrong

[2017-04-16 06:26] BLCKPSTV commented on #688
OK! I got it online.
Though when visiting https://lit-oasis-91133.herokuapp.com/
The chatterbot doesn't work! Any clues what could be wrong?

[2017-04-16 06:33] vkosuri commented on #688
on your console did you get any error?

[2017-04-16 06:38] 1q2q3q4r opened #690 "can‘t get response！Microsoft Bot"
chatbot = ChatBot('MicrosoftBot',
    directline_host = 'https://directline.botframework.com',
    direct_line_token_or_secret='Fxjz_-XXXX.cwA.os8.XXXXXXXXXXX_pAtQ-XXXXXXXX_VzADDt5I',
    conversation_id = 'abc123',
    input_adapter='chatterbot.input.Microsoft',
    output_adapter='chatterbot.output.Microsoft',
    #trainer='chatterbot.trainers.ChatterBotCorpusTrainer'
)
response = chatbot.get_re

[2017-04-16 07:06] vkosuri commented on #690
Are you seen any errors on your terminal?

[2017-04-16 07:11] 1q2q3q4r commented on #690
no , no error in my terminal,but in microsoft.py I find the code: data = response.json() --> data {'messages': []}

[2017-04-16 12:47] thedp commented on #615
@gunthercox Do you think this is something you might implement soon?
Thank you.

[2017-04-16 14:34] BLCKPSTV commented on #688
when doing heroku logs --tail --ps postgres --app lit-oasis-91133 in my terminal.
It keeps hanging and doesn't show me anything? Do I need to connect the database to my postgress application or does this happen automatically. Also theres a file db.sqlite3, do I need to change this or connect this somewhere? And I also used the same api key as in the example? Need to request a new one?

[2017-04-16 14:58] BLCKPSTV commented on #688
Heroku logs gives me this:

`heroku logs
2017-04-15T20:40:12.816022+00:00 app[web.1]: [2017-04-15 20:40:12 +0000] [4] [INFO] Starting gunicorn 19.7.1
2017-04-15T20:40:12.816494+00:00 app[web.1]: [2017-04-15 20:40:12 +0000] [4] [INFO] Listening at: http://0.0.0.0:25467 (4)
2017-04-15T20:40:12.816604+00:00 app[web.1]: [2017-04-15 20:40:12 +0000] [4] [INFO] Using worker: sync
2017-04-15T20:40:12.8204

[2017-04-16 20:12] monokal opened #691 "Amazon AVS (Alexa) I/O adapter"
Official example using the Raspberry Pi. Nice thing is that as it uses a 3rd party "wake word engine", we don't have to stick to activating the bot with "Alexa".

https://github.com/alexa/alexa-avs-sample-app/wiki/Raspberry-Pi

[2017-04-17 05:03] vkosuri commented on #688
Did you try to add allowed_hosts to ``settings.py``

[code]

[2017-04-17 09:23] BLCKPSTV commented on #688
Yes added it on my local and online forked github page and pushed master. When I debug = false in the settings then I see the chatterbot example page. But the bot is not responding...

[2017-04-17 09:46] vkosuri commented on #688
Can you try to enable browser debug/developer tools, you get to know more information what is going on. for example https://developer.mozilla.org/en-US/docs/Tools/Debugger

[2017-04-17 10:01] vkosuri commented on #688
I tried using my firfox browser ``500 internal server error``, i.e you rest end points aren't working, Try to check locally. whether you app is working fine or not

[2017-04-17 13:08] oddrock opened #692 "Running Chatterbot is very slow"
When I run the chatterbot on my pc server(4c 8 GB)，it responses very slow， about serverl seconds. I found that the chatterbot process only use one core although my pc server has 4 cores.
Why？Have there some parameter I should ajust!

Help!

[2017-04-17 13:09] oddrock commented on #692
PS : I found every time when i get repsponse from a chatterbot , one core of CPU's usage is 100%. I think it is alse very strange.

[2017-04-17 19:22] #675 closed

[2017-04-17 20:10] BLCKPSTV commented on #688
Damn when running local I also get in my chrome console: Failed to load resource: the server responded with a status of 500 (Internal Server Error)

[2017-04-18 08:31] BLCKPSTV commented on #688
Soo... I've tried it on my raspberry pi locally and managed to get the chatterbot online (locally), the response of the bot is just hi, every time.

This is the output when doing following.

`pi@raspberrypi:~/ChatterBot/examples/django_app $ python manage.py runserver
Performing system checks...

System check identified no issues (0 silenced).
April 18, 2017 - 08:24:04
Django version 1.11, using s

[2017-04-18 09:38] BLCKPSTV commented on #688
Again small update when reinstalling from forked page and running locally with python manage.py runserver 0.0.0.0:8000
I got it working fully with correct responses...
How can I troubleshoot to know what differs from the one on heroku??

[2017-04-18 09:44] vkosuri commented on #688
I think this may be the problem ``python manage.py runserver 0.0.0.0:8000``, i think you tried ``python manage.py runserver

With first approach you can access you app with your ip address anywhere if it is reachable
With second approach you can access your app in your local machine only.

[2017-04-18 09:46] BLCKPSTV commented on #688
And for deploy remotely on heroku? python manage.py runserver heroku?

[2017-04-18 09:55] vkosuri commented on #688
I am not sure try ``python manage.py runserver heroku``

[2017-04-18 11:59] BLCKPSTV commented on #688
Ok I just did a complete reinstall and just followed the heroku guide again as always and baffled as I am. It works.
Thanks for the help.
This can be closed.

[2017-04-18 11:59] #688 closed

[2017-04-18 13:10] gunthercox commented on #615
@thedp This is something that I would like to implement, but I don't have any estimates on when I will be able to get around to working on it. It may be a few more weeks before I have a chance.

[2017-04-18 13:11] gunthercox commented on #692
Hi @oddrock, I haven't encountered this issue before. Can you provide any additional information about the setup of your chat bot?

[2017-04-18 13:16] gunthercox commented on #241
@davizucon I'd be happy to bring in the SQLite adapter for an alpha release. I have been getting a number of complaints about the performance of the JSON file adapter lately and I think I'm going to make plans to remove it completely (eventually) in favor of the SQLite adapter once it is stable.

[2017-04-18 13:18] gunthercox commented on #683
@monokal Sorry for my late response! Thank you for the detailed bug report, I will aim to have this corrected in the next release.

[2017-04-18 13:44] oddrock commented on #692
@gunthercox thank you. I have solved this problem just by changing the storage adpater to mongodb.

[2017-04-18 13:44] #692 closed

[2017-04-18 14:11] davizucon commented on #241
Hi @gunthercox , I see. Sorry for delay to delivery, tough days.

I have based these tables on the actual JSON structure and I believe that in the near future, maybe in the next PR, I will change table design. So keep training data somewhere that you can enter again.

By the way, there is another approach and can be developed in parallel with SQLite, **tinydb**,
"is a lightweight document oriented

[2017-04-19 09:36] yeditor opened #695 "can i add keywords_match rule before statements similarity calculate？"
here is my understanding:
when selecting a statement similar to the input query,if using "statement_comparison_function":"chatterbot.comparisons.levenshtein_distance"
it will compare input query and each statements in corpus by a percent, but what if , suppose if key-word "360" both in input query and one certain statement,choose that statement other than calculate the distance percent?
my choise

[2017-04-19 10:39] jinfagang opened #696 "Allow replies to be changed after then have been learned"
Hi, this project are very elgant and clean. I like this style. I have 2 issue consider about the design about this framework:

* I found that, once a statement store into database like mongo, I can not replace it, that means, if previous reply is wrong by bot, I can not fix that, maybe there are some flag allow me to override that?

* Another things is about the reply, the bot learned one question

[2017-04-20 03:36] #695 closed

[2017-04-20 03:56] yeshoujquery commented on #679
@gunthercox Can you give me a way to write it? If I use the database in the case of trouble to help me stick to your implementation code I learn about my learning chatterbot for a long time has been reflected very slowly on the very distress

[2017-04-20 09:38] jm33-m0 opened #697 "bot.get_response(input_msg) is very slow when used to get response from mongodb"
i have about 30k lines of training data, which has been imported into mongodb using `ListTrainer`, when i try to use `bot.get_response(input_msg)` to get response for a single input message, it uses 100% of one of my cpu cores, getting response takes more than 5 seconds (takes even longer on a low-end vps)

please give me some advice to speed up the chatbot, thanks

[2017-04-20 11:07] vkosuri commented on #697
@jm33-m0 What version of chatterbot and Mango db are you using?

I felt the problem is on Mongo DB, some of the useful links to resolve your issue

https://jira.mongodb.org/browse/SERVER-19485
https://dba.stackexchange.com/questions/137723/memory-usage-of-mongodb

And also try use [mongostat](https://docs.mongodb.com/manual/reference/program/mongostat/) to capture more results.

[2017-04-20 11:34] jm33-m0 commented on #697
@vkosuri here is my mongodb version info:
[code]
so it's not an issue with chatterbot? i see python taking 100% of a cpu core not mongodb (weird)

[2017-04-20 11:50] jm33-m0 commented on #697
i enabled logging and found the problem:
it takes some time to select a response, and that's where cpu usage achieves 100% (single core)

i really don't know how to make mongodb faster as it's already running fine (at least working without errors)

[2017-04-20 11:56] vkosuri commented on #697
You could find where exactly your memory consuming by python, using concept [profile](https://docs.python.org/2/library/profile.html)

could you please try profile your script by redirect stats into external file e.g.: output_file.log, more info https://docs.python.org/2/library/profile.html#instant-user-s-manual

[code]

[2017-04-20 12:09] jm33-m0 commented on #697
@vkosuri `output_file.log` is a huge binary file (more than 2k lines when loaded by `xxd`) containing too much info...
im quite sure that chatterbot stucks at `bot.get_response(input_msg)`, where it selects response from mongodb

[2017-04-20 12:16] jm33-m0 commented on #697
@vkosuri
im using `terminal_mongo_example.py` as an example, the database is the same huge one
here is what my `output_file.log` says:
[code]

[2017-04-20 13:18] jm33-m0 commented on #697
and `mongostat` shows:
(took **half a minute** to generate a response)

[code]

[2017-04-20 18:04] vkosuri commented on #697
It related to Terminal Input https://docs.python.org/3/library/functions.html#input

I am also not sure where exactly your memory is consuming?

Did you tried these methods to resolve your issues?
https://jira.mongodb.org/browse/SERVER-19485
https://dba.stackexchange.com/questions/137723/memory-usage-of-mongodb

[2017-04-20 19:21] gunthercox commented on #679
Sure, to clarify what I meant, by default the chat bot will use the value `chatterbot.storage.JsonFileStorageAdapter` which is a file based database. The file database can become very slow when large amounts of data are added.

You can switch the parameter to make is use a database such as Mongo DB, which has much better performance.

Here is an example of what this might look like in your code.

[2017-04-21 01:34] jm33-m0 commented on #697
memory is fine, it's consuming CPU, as `mongostat` shows, it stucks at selecting response, so I think it's a problem with chatter bot

[2017-04-21 01:41] oddrock opened #698 "Does Chatterbot provide HTTP API？"
hello，Does Chatterbot  provide HTTP API？Can I use chatterbot just by an HTTP request and response?
Does anyone have some examples? or JAVA APIs are also useful.

[2017-04-21 04:23] vkosuri commented on #698
Yes, but you have to external mechanism tools such as [Djangoand](http://chatterbot.readthedocs.io/en/stable/django/index.html) flask

[2017-04-21 09:50] yeshoujquery commented on #679
@gunthercox
 I used the mongodb training 373753 data query once the time is 315831ms what way can be faster? This speed really a bit unacceptable ... seeking answers

`chatbotEnglish = ChatBot(
    "english mongodb",
    storage_adapter='chatterbot.storage.MongoDatabaseAdapter',
    logic_adapters=[
        "chatterbot.logic.MathematicalEvaluation",
        "chatterbot.logic.TimeLogicAdapter",

[2017-04-21 16:24] Madhu009 commented on #697
@jm33-m0 @vkosuri  I also encountered the same issue

Here is what I observed

--> Logic -->Bestmatch-->statement_list = self.chatbot.storage.get_response_statements()

the above statement reads the entire data so it is taking much time
this reads either from json file storage or mongod file storage.

The loop is running for O(datasize) which is why it is taking much time

this is just my understa

[2017-04-22 01:33] monokal commented on #691
Oh hell, https://aws.amazon.com/lex/

[2017-04-24 10:27] yeshoujquery commented on #679
`
  for statement in statement_list:
            confidence = self.compare_statements(input_statement, statement)

            if confidence > closest_match.confidence:
                statement.confidence = confidence
                closest_match = statement
`

There has been a cycle in which all cause special slow query data fairly fast here loop matching accuracy can be maintained by the autho

[2017-04-24 10:27] yeshoujquery commented on #679
@gunthercox
`
for statement in statement_list:
       confidence = self.compare_statements(input_statement, statement)
        if confidence > closest_match.confidence:
            statement.confidence = confidence
            closest_match = statement
`

There has been a cycle in which all cause special slow query data fairly fast here loop matching accuracy can be maintained by the author?

[2017-04-25 03:15] yeshoujquery commented on #697
@jm33-m0
I also have this problem I also choose to use mongodb3.x but the reaction speed of the robot is particularly slow I traced the code is found code processing problem has been in circulation rather than a similar kind of TF LSTM RNN and the mechanism of the robot but also want to give up trying to save the author do not know to have to modify your reaction speed too slow?

[2017-04-25 05:28] vishalgoyal18 opened #699 "No module named jsondb"
I keep getting this error when running the chatterbot commands. Please help.

============ RESTART: C:/Users/goyalvi/ChatterBot/chatbottest.py ============

Traceback (most recent call last):
  File "C:/Users/goyalvi/ChatterBot/chatbottest.py", line 2, in <module>
    chatbot = ChatBot("Ron Obvious")
  File "C:/Users/goyalvi/ChatterBot\chatterbot\chatterbot.py", line 37, in __init__
    self.stora

[2017-04-25 07:10] vkosuri commented on #699
could please check the jsondatabase installed in your machine by using  ``pip freeze``

If You are using Linux, you could try like this to get to know.

[code]

It seems jsondatabase not installed in your machine try to do a fresh installation of chatterbot

``
pip install --upgrade chatterbot
``

Still seeing same issue, try to install jsondatabase alone

``
pip install --upgrade jsondatabase
``

[2017-04-25 09:22] vishalgoyal18 commented on #699
It worked now. Thanks.

Regards, Vishal

From: Mallikarjunarao Kosuri [mailto:notifications@github.com]
Sent: Tuesday, April 25, 2017 12:40 PM
To: gunthercox/ChatterBot <ChatterBot@noreply.github.com>
Cc: Goyal, Vishal <Vishal.Goyal@in.fujitsu.com>; Author <author@noreply.github.com>
Subject: Re: [gunthercox/ChatterBot] No module named jsondb (#699)

could please check the jsondatabase installed i

[2017-04-25 14:42] jm33-m0 commented on #697
@yeshoujquery sorry, but i am not sure i understand your comment, could you please put some commas in it?
i am seeking some alternatives like DeepQA (based on tensorflow), but haven't tried any of them

[2017-04-26 02:44] yeshoujquery commented on #697
@jm33-m0 DeepQA I have tried, the training time a little longer, I mean, chatterbot can not carry a large amount of data, if you try to succeed can share the results?

[2017-04-28 19:52] frossaren opened #700 "error when newly installed"
Getting: Traceback (most recent call last) :
File "/home/usr/Chatterbot/chatterbot/chatterbot.py", line 3, in <module>
from .storage import Storageadapter
Valueerror: Attempted relative import in non-package

I am a bit unsecure what is causing this and i dont seem to find anything here

[2017-04-28 23:47] vkosuri commented on #700
You can't execute chatterbot cloned file. Before that you have to install chatterbot by using

[code]

Recommend use Python Virtual Environment

[2017-04-29 10:46] PremVarma opened #701 "Getting error in python chatbot"
![image](https://cloud.githubusercontent.com/assets/28188631/25554895/20264a6c-2cf7-11e7-8538-16d9a1eecda5.png)

Help Me Please To Solving This Error!!

[2017-04-29 10:54] vkosuri commented on #701
The reason you were seeing due to default ``JsonStorageAdapter``. It's warning only, if you want avoid this warning please change storage adapter. For more info please read this documentation http://chatterbot.readthedocs.io/en/stable/storage/index.html

[2017-04-29 13:00] #699 closed

[2017-04-29 14:22] gunthercox commented on #701
@PremVarma There are a few ways to install ChatterBot.

As @vkosuri mentioned, `pip` is the recommended way to install.

[code]

You can also install your local copy using pip, for example

[code]

http://chatterbot.readthedocs.io/en/latest/setup.html

[2017-04-29 14:25] gunthercox commented on #662
I'm going to close this issue due to lack of activity.

[2017-04-29 14:25] #662 closed

[2017-04-29 14:42] frossaren commented on #700
@vkosuri I have tried that too but just gets this error
File" /home/usr/lib/python2.7/site-packages/chatterbot/chatterbot.py", line 3, in <module> from .storage import Storageadapter
Valueerror: attempted relative import in non-package

[2017-04-29 17:53] BLCKPSTV opened #703 "Forum or discusgroup?"
Is there a discusgroup or forum where there can be talked about chatterbot?

I'm having problems importing custom corpus in the Djange example on heroku. And I don't want to bother the Issues everytime.

Would be nice and good to create a community.

[2017-04-29 20:27] gunthercox commented on #703
Currently there isn't one. I wouldn't be opposed to creating a community forum for ChatterBot.

Do you have any recommendations or examples of other projects that do a good job of this?

[2017-04-29 20:33] BLCKPSTV commented on #703
Stackoverflow - but there's a barrier crossing for beginners. (They policy of comments/posting/etc...)
Google Groups page? - Openface has one and I got answers pretty quick though not a solution and there's a better chance of solutions with stackoverflow. (do to the same policy)
Hitchhike on a pythonforum or in my case a django forum...
I would like to contribute, but my knowledge isn't sufficient

[2017-04-30 19:09] gunthercox commented on #700
@frossaren did you by any chance write your code in a file called `chatterbot.py`? If you did this will cause import errors.

[2017-04-30 19:12] #576 closed

[2017-04-30 19:20] gunthercox commented on #575
I'm closing this ticket off. It doesn't appear to contain anything actionable to improve ChatterBot.

[2017-04-30 19:20] #575 closed

[2017-04-30 19:21] #666 closed

[2017-05-01 17:05] frossaren commented on #700
seems like python had corrupted files on that computer... suddenly realized that nothing with python was working. Tried to copy the code to my main pc and it worked like a charm. Great job

[2017-05-01 17:05] #700 closed

[2017-05-02 13:22] frossaren opened #706 "How fast is the bot trained?"
Hello.
I was wondering if there is any rule for when the bot begins to answer with words it has seen in the conversation? Is it any rules like it starts after 15 times or is mine doing something completely wrong

[2017-05-02 13:55] frossaren commented on #706
For an example i created one and i didnt use any training. I started with writing yes and it copied me. and then i wrote no and tried to get it to say no everytime i said yes by doing so over and over again. Still havent got it to answer me with no

[2017-05-02 14:12] frossaren commented on #706
Was missing a , in the code where i tried this... closing again

[2017-05-02 14:12] #706 closed

[2017-05-02 15:03] gunthercox opened #707 "SQLite database not being deleted after tests"
I noticed that the test databases created by the SQLite storage adapter test cases are not being deleted when testing is concluded. As a result, several database files are created each time tests are run.

[2017-05-02 15:06] vkosuri commented on #707
Observed same issue while running tests

[2017-05-02 16:17] ProdigyTech opened #708 "ImportError: cannot import name API"
Can someone help me with this error? I followed instructions from the documentation, but I can't seem to get the trainer to work. I have a settings.py file in the same directory as my app.py with the correct twitter keys.

![image](https://cloud.githubusercontent.com/assets/8797862/25627468/893a3f6e-2f17-11e7-889d-9bd7db18e37d.png)

![image](https://cloud.githubusercontent.com/assets/8797862/25627

[2017-05-02 18:58] gunthercox commented on #708
Hi @ProdigyTech Based on your description it sounds like you don't have the Python `python-twitter`  package installed.

[2017-05-03 02:12] weslleylobo opened #709 "Broken ListTrainer"
Hello, I think ListTrainer is broken again.
See the error message:

from chatterbot.trainers import ListTrainer
conversation = [ "Olá" , "Olá!"  ]
chatbot.set_trainer(ListTrainer)
chatbot.train(conversation)

------------------------------------------------------------

Traceback (most recent call last):
  File "C:\Users\Weslley\Desktop\treino.py", line 3, in <module>
    chatbot.set_trainer(ListT

[2017-05-03 14:50] reubenkhanna opened #710 "Unable to get any response from mongodb"
Hi having this issues since 2 days now.

I followed the documentation and created  a database stored the conversations in my collections.
Now when I run it I dont get any response when I use the get_response() Method .
and the program just get stuck over that line.
[code]

it does enter the try block and prints here and gets stuck after that

[2017-05-04 00:20] gunthercox commented on #709
I think the error message is correct. See the line that says:

Have a look at this example for what needs to be included: http://chatterbot.readthedocs.io/en/latest/examples.html#simple-example

[2017-05-04 00:20] #709 closed

[2017-05-04 00:26] gunthercox commented on #710
Can you confirm that mongodb is running? It's possible that this is getting stuck because it it waiting for a connection.

[2017-05-04 00:47] #648 closed

[2017-05-04 05:19] reubenkhanna commented on #710
Yes mongoDB is running. I am running this on pycharm also when I use 'None' I am able to give input in my console and it replies correctly. but what if I just want a reply from the get request which I am sending.

Ex; http://localhost:8080/search/hi

so it should reply to this 'hi'  I am sending it in "text" and trying to get a response using bot.get_response(text)

This used to work fine while us

[2017-05-04 14:28] #708 closed

[2017-05-04 14:28] #701 closed

[2017-05-04 14:43] #698 closed

[2017-05-04 14:52] gunthercox commented on #703
Right now I think I'm leaning towards Stack Overflow. Google even uses it for many of their Python packages. I do agree that there is a barrier for beginners but I think that may possibly be a positive element because there are a lot of other resources out there for absolute beginners when it comes to programming. I may be wrong about this, but from my perspective it is somewhat beneficial if some

[2017-05-04 20:18] vkosuri commented on #703
@gunthercox Master, Can i ask them http://stackoverflow.com/contact here?

[2017-05-04 20:57] mrmrn commented on #407
Dear @onlydarkknight ,
Did you solve the problem?

[2017-05-05 07:14] Sinchana opened #717 "Unable to train Chatterbot while using it with Django"
Hi,

I am creating a chatbot application using Django and Chatterbot and setting the basic static data in the "training_data" parameter,
CHATTERBOT = {
    'name': 'ChatterBot Example',
    'trainer':'chatterbot.trainers.ListTrainer',
	'logic_adapters': [
        'chatterbot.logic.BestMatch'
    ],
    'training_data': [ "How are you?","I am good.", "That is good to hear.","Thank you","You are wel

[2017-05-05 08:54] vkosuri commented on #717
The reason you were not getting response from chatbot because you haven't trained your bot. Training bot from Django interface is different form regular chatterbot.

[code]
More information about Django training available here http://chatterbot.readthedocs.io/en/stable/django/training.html

[2017-05-05 09:59] Sinchana commented on #717
@vkosuri : Thank you so much for the response,

The response is not as expected. Even after running the train command

Now i am training the python as mentioned "python manage.py train". The code mentioned below.

CHATTERBOT = {
    'name': 'Tech Support Bot',
    'logic_adapters': [
        'chatterbot.logic.BestMatch'
    ],
    'trainer': 'chatterbot.trainers.ListTrainer',
    'training_data':

[2017-05-05 12:19] vkosuri opened #718 "Frequency and Density"
Is it possible to calculate frequency and Density for a given statement and response?

[2017-05-05 13:49] gunthercox commented on #703
Feel free to.

On Thu, May 4, 2017 at 4:18 PM Mallikarjunarao Kosuri <
notifications@github.com> wrote:

[2017-05-05 17:31] steveh110 opened #719 "UnicodeDecodeError: avec la commande--> response = self.bot.get_response(u"stève")"
Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Python27\lib\threading.py", line 801, in __bootstrap_inner
    self.run()
  File "E:\inmoovPY\inmoov\soft\chat.py", line 68, in run
    response = self.bot.get_response(u"stÃ¨ve")
  File "C:\Python27\lib\site-packages\chatterbot\chatterbot.py", line 108, in get_response
    input_statement = self.input.process_input_statem

[2017-05-06 11:37] #707 closed

[2017-05-06 12:44] gunthercox commented on #718
Could you elaborate a bit more about what frequency and density are?

[2017-05-06 13:11] vkosuri commented on #718
I am not sure this will benefit to chatterbot, My idea is to identify ``frequent words`` in all the ``statements``, so that i can guess my users are writing sentence or statements in such a way i can update my corpus based on those words

I find we could find frequency through ``NLTK`` module

[code]

More information https://languagelearning.stackexchange.com/questions/449/what-are-the-advantages

[2017-05-06 13:27] vkosuri opened #722 "Still Django Response and Statements are reversed"
While i trained on ChatterbotCorpusTrainer, and ListTrainer, the statement and Response both are reversed.

Previous issue https://github.com/gunthercox/ChatterBot/issues/308

[2017-05-06 13:33] vkosuri commented on #722
To reproduce this issue

[code]
![image](https://cloud.githubusercontent.com/assets/13664257/25772722/a56ec7b6-328e-11e7-8440-2e00e8f21712.png)

[2017-05-08 10:06] whm2300 commented on #679
@yeshoujquery. I have the same problem,  do you fix it?

[2017-05-08 10:08] yeshoujquery commented on #679
@whm2300 Did not solve the problem, the author seems to be unable to solve the problem should be the framework itself, I look at the conclusion of the source code

[2017-05-08 12:41] whm2300 commented on #679
thanks

发自我的 iPhone

[2017-05-08 16:05] vkosuri commented on #679
@yeshoujquery I'll try to reproduce this problem on my machine next week, will get it back soon.

[2017-05-09 01:34] gunthercox opened #723 "Run SQL tests in memory"
It would be optimal if the tests for the SQL adapter could be run with the database in memory. This would have better performance and make cleanup easier. Sqlite does support this.

**From the documentation (http://docs.sqlalchemy.org/en/latest/core/engines.html):**

To use a SQLite `:memory:` database, specify an empty URL:
[code]

[2017-05-09 02:22] yeshoujquery commented on #679
@vkosuri That's better, waiting for your good news, can you let me know?

[2017-05-09 05:55] vkosuri commented on #679
sure

[2017-05-09 05:59] Air-boy opened #724 "response slow,about 3.5 seconds, i use mongodb database"
i test that if database file is small, response very well, but database is large, about 3 seconds response time,
this porblem hot to  solve? @gunthercox

[2017-05-09 06:03] Air-boy commented on #724
@vkosuri  could u help me ?

[2017-05-09 08:55] #724 closed

[2017-05-09 08:55] Air-boy commented on #724
i had solve this problem

[2017-05-09 08:56] vkosuri commented on #724
@Air-boy could you please let us know how did you solved your problem?

[2017-05-09 09:23] Air-boy opened #725 "one question many answer And many question one answer"
have simple method?
do not write

chatterbot.train([
    "Hi there!",
    "Hello",
])

chatterbot.train([
    "Greetings!",
    "Hello",
])

@gunthercox @vkosuri

[2017-05-09 10:50] yeshoujquery commented on #679
@vkosuri Thanks very much

[2017-05-09 12:11] vkosuri commented on #725
@Air-boy i didn't understand could you please elaborate your question?

[2017-05-09 12:57] Air-boy commented on #725
when i input "Hi there",robot response "Hello" or "OK, i know"

i write a *.corpus.json file  fellow:
{
"conversations":[
"i love you",
"me too"
],
[
"i love you",
"i love you too"
]
}
i input one request ,robot response "me too" or "i love you too"
if i have ten response, i hava to repeat ten times
if i write ten times this "i love you",  it is  redundancy

so i want to find a simple write way

[2017-05-10 00:35] sporting commented on #724
I met the same problem. After import large training data to Mangodb, "get_response" will be very slow.

[2017-05-10 02:09] Air-boy commented on #725
@vkosuri

[2017-05-10 03:53] Air-boy commented on #724
@vkosuri  @sporting    i use vmware to run linux. i change memory to large, about 20 minits later, response speed had changed.  i do not anything  except this.

[2017-05-10 06:48] Air-boy commented on #722
i think ,you train only 4 message, they random ?

[2017-05-10 07:55] Cosmos19 opened #726 "How to train new ChatterBot instance with MongoDB storage.?"
Hello,

I have created the Chatterbot with Tornado web application and my storage adapter is MongoDB.

Now i want to train the bot to respond user queries. So i have two question with respect to training.
1)  Each input statement is getting stored in a database. but how to notify the bot about the answer to the relevant question.
2) How it will make decision with available so many statements.?

So

[2017-05-10 10:00] yeshoujquery commented on #679
@vkosuri Upload it, or can you give me a copy?

[2017-05-10 13:14] reubenkhanna commented on #710
@gunthercox  Can you help me with this

[2017-05-10 15:15] vkosuri commented on #726
It's not a full answer for your question, but something will help you http://chatterbot.readthedocs.io/en/stable/training.html#training

[2017-05-10 21:22] thedp commented on #717
After training with English greetings corps it can only respond to single words like: "Hello", "Hi", "Greetings!"

But it fails to reply to other phrases in that corps, like: "Hi, How is it going?"

[2017-05-11 00:42] sporting commented on #717
Is this what you want?
http://chatterbot.readthedocs.io/en/stable/logic/index.html#specific-response-adapter

[2017-05-11 03:58] FakerGit opened #727 "Issue about chatterbot.storage.MongoDatabaseAdapter must be a subclass of StorageAdatpter"
While I use the django(python manage.py runserver) , it always tell me that there is a InvaliadAdapterTypeException: chatterbot.storage.MongoDatabaseAdapter must be a subclass of StorageAdatpter .
Here is the setting of my bot:
[code]

[2017-05-11 05:12] vkosuri commented on #727
@FakerGit which version chatterbot are you using?

[2017-05-11 06:47] yeshoujquery commented on #679
@vkosuri Where is the code chatterbot seems to be particularly slow to solve

[2017-05-11 06:54] yeshoujquery commented on #679
@gunthercox  This problem can be solved using the mongodb also useless, or very slow

[2017-05-11 07:28] FakerGit commented on #727
@vkosuri  It is 0.6.0.  Without using Django,  my program is functioning well. By the way , the version of Django is 1.11.

[2017-05-11 09:07] kenyeung128 opened #728 "Does it support flow based dialog conversation?"
Does it support flow based dialog conversation?

[2017-05-11 10:26] addelll opened #729 "JSONDecodeError"
from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer

chatterbot = ChatBot("Training Example")
chatterbot.set_trainer(ChatterBotCorpusTrainer)

chatterbot.train("./greetings.corpus.json")

2017-05-11T10:19:31.942240+00:00 heroku[web.1]: State changed from starting to up
2017-05-11T10:19:32.233320+00:00 app[web.1]: /app/.heroku/python/lib/python3.6/site-packages/ch

[2017-05-11 11:20] gunthercox commented on #728
Hi @kenyeung128, could you describe what you mean by a "flow based" conversation? If you could provided an example or link to an article that describes it that would be perfect.

[2017-05-12 01:46] Air-boy opened #730 "i want to write my filer,but i can not find filter.py . where is it?"
@gunthercox @vkosuri

[2017-05-12 02:21] sporting commented on #730
This?
https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/filters.py

[2017-05-12 03:06] Air-boy commented on #730
@sporting   yeah,i find it ,  but now  i want to write my filter,to realize search result this confidence is 1.0

[2017-05-12 05:13] vkosuri commented on #730
This might help you https://github.com/gunthercox/ChatterBot/blob/351971a21e603642f5797c33e924c4195f96682b/chatterbot/logic/low_confidence.py#L32

[2017-05-12 06:12] Air-boy commented on #730
i mean that when i input "hello",they can response and only response ,and response  can cycle,
for examaple:
hello--->hi
hello--->hello
-----------
hello--->hi
hello--->hello

i use mongodb database @vkosuri

[2017-05-12 06:44] vkosuri commented on #730
Then you have to use ``Specific Response Adapter`` http://chatterbot.readthedocs.io/en/stable/logic/index.html#specific-response-adapter

[2017-05-12 08:01] Air-boy commented on #730
I stored in the mongo database and a lot of data, a question has more than one answer, I want to ask a question, and then answer the matched the answer machine, with each answer in my answer
@vkosuri
my english not well,
hope you can understand

[2017-05-12 08:14] vkosuri commented on #730
Could try like this, The logic will work what you are asking, other response you will get ``'I am sorry, but I do not understand.'``. Let me know if you need any help.

[code]

[2017-05-12 08:21] vkosuri commented on #729
Which version of chatterbot are you using? To know use ``python -m chatterbot --version``

Can try to define encoding of your file by adding very first line in your python file ``# -*- coding: utf-8 -*-`` on type file, and also verify you have valid JSON file using https://jsonlint.com/

If still failing let us know

[2017-05-12 08:45] Air-boy commented on #730
i use mongodb database, in the *.corpus.json file ，i hava this data:
["大海","蓝蓝的一望无际"],
["大海","好想陪你去看海"],

i write filter in my .py  ,this:
	filters=['chatterbot.filters.RepetitiveResponseFilter'],
when i first input "大海"，chatterbot  first response "蓝蓝的一望无际"
when i second input "大海"，chatterbot  second response "好想陪你去看海"

when i third input "大海"，chatterbot  third response  neither "蓝蓝的一望无际"  nor  "好

[2017-05-12 11:35] addelll commented on #729
I have the error when I use corpus of the chatterbot , i dont know where is probleme ?

[2017-05-12 11:42] Cosmos19 commented on #726
Hello @vkosuri ,

I have gone through that. ! But still am confused with the flow.

Lets take below scenario.

How to make the conversation to be continued with same topic.?
[
"right",
"okay"
],
[
"i have problem with eye",
"which side",
"right",
"oh...thats bad. What happened to right eye.?"
]
In the above scenarion. I want the bot to reply "oh...thats bad. What happened to right eye.?". but inst

[2017-05-12 11:46] Cosmos19 commented on #728
Am also facing the same problem.  if am right.

Lets take below scenario.

JSON:
[
"right",
"okay"
],
[
"i have problem with eye",
"which side",
"right",
"oh...thats bad. What happened to right eye.?"
]

conversation:
Me: I have problem with eye.
bot: which side
Me: right
Bot: Okay

In the above scenario. if am replying with "right" means I want the bot to reply "oh...thats bad. What happened to r

[2017-05-12 11:55] Cosmos19 commented on #729
Hi,

chatterbot.train("./greetings.corpus.json")

Can you please check above line.  It might be like below ( python 3.6.1)

chatterbot.train("chatterbot.corpus.english.greetings");

[2017-05-12 17:09] MYZ88 opened #731 "Chatterbot Conversation Learning"
Hello,

I have two "beginner" question:

1. I still not getting the learning part of chatterbot although I go through the documentation. When I talk to the chatterbot I understand that it save what I write in the database but how it will affect the future response what I see its remain same. Can you give me example of this part.

2. If I want to access chatterbot, I mean to talk to the bot from th

[2017-05-13 05:54] xilu0 opened #733 "How to configure the MongoDB storage adapter of django_chatterbot"
hi,
How to configure the MongoDB storage adapter of django_chatterbot ,Hoping to give me a sample

[2017-05-13 06:54] Air-boy commented on #733
you can read chatterbot doc

[2017-05-13 11:22] addelll commented on #729
the same error i dont know where is probleme!!!

[2017-05-13 12:26] addelll commented on #241
there is any way to see exemple using sqlalchemy ?

[2017-05-13 12:30] gunthercox commented on #241
Hi @addelll, you can use this storage adapter the same way that the others are used.

For example,

[code]

Is this what you are looking for as an example?

[2017-05-14 04:59] vkosuri commented on #731
This bot is very old chatterbot version, I think this like what your are looking https://chatterbot-live-example.herokuapp.com/

[2017-05-14 05:30] dekken201 opened #736 "ZipFile error"
Hello there! I'm a programming begginer and am having a problem when running the examples. It's probably a dumb mistake I'm making, but I couldn't really figure out what is happening. Every time I run even the most basic example, I get this message:
![error](https://cloud.githubusercontent.com/assets/20584812/26031254/950c8640-383a-11e7-810f-5f4206ab3624.jpg)
I can't figure out why it's saying the

[2017-05-14 13:15] anthdm commented on #679
The problem is rather simple to detect. Comparing more than 2000 responses with lexical comparison makes it super slow. Nothing to do with MongoDB.

A solution can be:
compute the word vectors for each statement to determine the vector for the whole phrase.
Rinse and repeat for the user input. The only thing we then having to do is query the vectors in MongoDB on closest similarity (Cosine Similar

[2017-05-14 17:05] gunthercox commented on #736
I've seen this happen sometimes when the NLTK library downloads its data files incorrectly the first time. You can fix it by deleting the NLTK data files so that it then re-downloads them correctly. You will need to figure out where they have been downloaded to on your computer, there are a few places you can check:

- 'C:\Users\<username>/nltk_data'
- '/home/<username>/nltk_data'

If the `nltk_da

[2017-05-14 17:40] dekken201 commented on #736
Many thanks for the answer! That was it.
Also, just one unrelated question. Do you check your e-mail often? I'd like to talk more about this bot and make some more questions.
Or should I just make more issues? I don't know how this works very well.

[2017-05-14 17:51] gunthercox commented on #736
No problem, I check my email quite frequently. Although, I prefer issues for things related to this project because it lets me keep track of everything better and I already have so many emails to respond to.

One suggestion I have is that it might be a good idea to open one issue per question, that way I can mark it as closed once it is completely answered.

[2017-05-14 17:59] dekken201 commented on #736
Alright. Thanks again! Could you check if my e-mails didn't go to your spambox? My email is luckbsp@gmail.com.
I'll close the issue now.

[2017-05-14 17:59] #736 closed

[2017-05-14 18:15] MYZ88 commented on #731
What do you main by the very old chatterbot version. I am using the latest one 0.60 on my PC.

Just to clarify my concern. How chatterbot will learn from my conversation inputs? and will it affect the future response?

My understating is as below conversation:

Me: whats my name?
Chatterbot: Mike
Me: My name is John
Chatterbot: ..
Me: whats my name?
Chatterbot: John

Is it like that, if not is it

[2017-05-14 20:02] vkosuri commented on #722
This happening due to foreign key mapping at [L136](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/ext/django_chatterbot/models.py#L136)

[code]

[2017-05-14 20:06] vkosuri commented on #722
@gunthercox Master, Do you have any idea how to solve this?

[2017-05-15 07:20] yeshoujquery commented on #679
@vkosuri Mongodb 373753 data time-consuming 89ms, relatively fast before, but can it be faster? Seconds out of that kind?

[2017-05-15 07:21] yeshoujquery commented on #679
@anthdm You say the solution, I don't choose chatterbot, then I directly choose tensorflow, now want to use chatterbot

[2017-05-15 08:35] vkosuri commented on #679
@yeshoujquery is it possible share your train data? I will debug further more on your train data

[2017-05-15 08:48] yeshoujquery commented on #679
@vkosuri Some Chinese data, in fact, as long as the order of magnitude will be slow,Do you need? Or chatterbot, how many orders of maximum support?

[2017-05-15 09:37] vkosuri commented on #679
@yeshoujquery I took [English corpus](https://github.com/gunthercox/chatterbot-corpus/tree/master/chatterbot_corpus/data/english), made it as 8MB data, started debugging will update more on this issue.

[2017-05-15 09:39] yeshoujquery commented on #679
@vkosuri  Well, thank you very much. The amount of data will be slow, and no way out

[2017-05-15 09:40] yeshoujquery commented on #679
@vkosuri Thank you very much. I'm waiting for your good news @gunthercox

[2017-05-15 11:21] longbottomname opened #739 "Update"

[2017-05-15 12:15] vkosuri commented on #739
@longbottomname could you please describe the issue?

[2017-05-15 12:40] vkosuri commented on #679
Trained 8.9MB data, with some minor changes observed fallowing stats on machine. i7, 8GB

<pre>
(venv)vkosuri@vkosuri:~/ChatterBot$ python terminal_mongo_example.py
Started Trainig
Trainig completed
<b>148.540009022 seconds</b>
2017-05-15,17:59:09.073 INFO {input_adapter} [process_input_statement] Recieved input statement: I enjoy raspberry ice cream.
2017-05-15,17:59:09.074 INFO {input_adapter} [

[2017-05-15 13:33] vkosuri commented on #679
@yeshoujquery Did you observed any improvement with new changes?

[2017-05-15 14:01] lijun900302 opened #740 "“UnicodeDecodeError: 'utf8' codec can't decode byte 0xd4 in position 0: invalid continuation byte“"
I  changed  chatbot.train('chatterbot.corpus.english') to chatbot.train('chatterbot.corpus.chinese'), then I got the problem  “UnicodeDecodeError: 'utf8' codec can't decode byte 0xd4 in position 0: invalid continuation byte”. Then all of examples (  https://github.com/gunthercox/ChatterBot/tree/master/examples) have the sam problem.How can I solve this problem?

[code]

[2017-05-15 14:04] gunthercox opened #741 "Create SQL tables automatically if none exist"
Currently it is required for `create=True` to be set when using to `SQLAlchemyDatabaseAdapter` for the first time so that it creates the tables in the database. This should only need to happen once.

- A check should be added so that when the storage adapter is initialized it checks to see if the tables exist.
- If the tables do not exist, then they should be created.
- The `create=True` parameter

[2017-05-15 14:07] #739 closed

[2017-05-15 14:14] gunthercox commented on #722
I believe it is an issue in the storage adapter, I still need to check over the code and figure out where the inconsistency is.

[2017-05-15 14:29] gunthercox commented on #733
Hi @xilu0, it is important to note that the ChatterBot storage adapter for Mongo DB is not designed to work with the Django ORM. If you want to use Mongo DB with ChatterBot you will need to modify your Django project to use a "Django storage backend" for MongoDB. There are a few popular ones available such as:

https://django-mongodb-engine.readthedocs.io/en/latest/topics/setup.html

[2017-05-15 14:32] gunthercox commented on #730
I'm going to close this issue as the question in the title has been answered and the additional questions asked in the comments appear to be duplicates of #725. I will respond to them on their corresponding ticket to try to keep this organized.

[2017-05-15 14:32] #730 closed

[2017-05-15 14:38] gunthercox commented on #725
@Air-boy There is not a simpler way to organize the training data. The corpus files that ChatterBot uses are just simple structured data. If you need to generate data that has lots of redundant responses to a particular input I would assume that it would be simple to write some code to generate a corpus training file that contained each variation of the statement and it's possible responses.

[2017-05-15 14:38] #725 closed

[2017-05-15 20:14] Marcogb81 opened #742 "Error in documentation"
Hello,

I follow the first steps of documentation 'CHatterbot Tutorial' and received this error:

[code]

[2017-05-15 20:40] Marcogb81 opened #743 "Error after actualice chatterbot to 6.0 version"
I actualiced the chatterbot to new version 6.0 and give me this error in python 2.7:
this code:
# -*- coding: utf-8 -*-
"""RESET: por si te da guerra este pedazo de desgraciado
   cibernetico, aqui tienes el enlace:
   https://chatterbot.readthedocs.io/en/stable/tutorial.html"""
from chatterbot import ChatBot

# new instance, databse, logic adapters
bot = ChatBot('TeRiehBot',
              storage

[2017-05-16 01:35] bpena opened #744 "hello"

[2017-05-16 01:47] dquigz commented on #686
I got around the 16mb cap by pulling up mongo shell and entering

db.collection.allowDiskUse="true"

but... then you hit issues such as this in mongo-

2017-05-15T21:30:24.661-0400 I COMMAND  [conn40] warning: log line attempted (5147kB) over max size (10kB)

haven't figured out a workaround for that, but as of right now... It's looking like that corpus is just wayyyy too large

[2017-05-16 08:02] apoorv-mishra commented on #741
Hi @gunthercox , I am relatively new to open-source. I just wanted to validate my approach to achieving what you mentioned above. I think of creating a global variable in `sqlalchemy_storage.py`, say `table_created` and initialising it to `false`, then within the `__init__` method of `SQLAlchemyDatabaseAdapter` class, we check whether `table_created` is `false`. If so, we create the tables by call

[2017-05-16 18:57] MYZ88 commented on #731
Any support here.

[2017-05-17 13:18] davizucon commented on #723
Yep, I will change the default behavior of database creation, where if unspecified database file, will always create a sqlite memory a database.

[2017-05-17 16:20] dyf6372 opened #747 "slow to get result when use Mongo Database Adapter"
mybot = ChatBot('Terminal',
    storage_adapter='chatterbot.storage.MongoDatabaseAdapter',
    database='db'
)

2017-05-18,00:17:08.864 INFO {input_adapter} [process_input_statement] Recieved input statement: abc
2017-05-18,00:17:08.866 INFO {input_adapter} [process_input_statement] "abc" is not a known statement
2017-05-18,00:17:16.571 INFO {best_match} [process] Using "abc" as a close match to "

[2017-05-17 16:41] vkosuri commented on #747
An improvement PR is here https://github.com/gunthercox/ChatterBot/pull/738

[2017-05-17 16:54] vkosuri commented on #747
Please checkout latest changes and experiment let me know your inputs how best we can speedup.

[2017-05-17 17:10] dyf6372 commented on #747
@vkosuri PR #738 is not work for me.
I checkout the latest changes using Mongo Database Adapter, training about 120000 lines.
I have tried on other machines, still can't get the response in 1s.

[I 170518 01:10:18 input_adapter:22] Recieved input statement: abc
[I 170518 01:10:18 input_adapter:30] "abc" is not a known statement
[I 170518 01:10:20 best_match:51] Using "abc" as a close match to "abc

[2017-05-17 17:24] dyf6372 commented on #747
![Uploading 2017-05-18_01-22-05.png…]()

Using profiler .

[2017-05-17 17:33] vkosuri commented on #747
Thanks for your inputs.

[2017-05-17 22:40] Alquimerico commented on #146
Thanks, I was having same problem

[2017-05-18 03:34] dyf6372 commented on #747
I debug the program and find out that it takes a long time in function get_response_statements in mongodb.py.

    def get_response_statements(self):
        """
        Return only statements that are in response to another statement.
        A statement must exist which lists the closest matching statement in the
        in_response_to field. Otherwise, the logic adapter may find a closest

[2017-05-18 07:31] Cosmos19 commented on #731
Exactly. am also having same kind of doubt here.

What i have observed is , the bot will store all the user inputs. but it doesn't map with exact question/answer. When u talk to the bot in future. It will try to match the user given inputs too. If it matches it will return as a response. But those responses are always not correct.

May be u should configure in such a way that the bot should ask "D

[2017-05-19 01:16] VanRH opened #749 "session queue.get_last_input_statement() and get_last_response_statement returning None"
Does anybody have working code that is able to peek() to return the last statements? I'm trying to get some context when having a session within a Jabber conversation.

I was expecting the following to return something for last_input and last_response.

[code]

should a session object already be tracking it our is there explicit need to add input, response to a dictionary of some sort? I create a

[2017-05-19 02:39] sporting opened #750 "use SQLAlchemyDatabaseAdapter and RepetitiveResponseFilter will cause 'NoneType' object has no attribute 'statement_text_not_in' when I call get_response()"
SQLAlchemyDatabaseAdapter set adapter_supports_queries = False?
Or it will support base_query in the future?

[2017-05-19 06:10] vkosuri commented on #749
I think you could write like this

[code]

[2017-05-19 11:08] #684 closed

[2017-05-19 14:31] VanRH commented on #749
Thanks vkosuri!

It seems my method with instance of conversationSessionManager keeps creating a new session.

Any ideas as to where and how this should implemented? I have this hooked up to a Jabber service account and the conversation stays in the same window. I was assuming the sessionid for chatterbot would stay the same, but I see it change between statements.

    def get_chat_session(self,

[2017-05-19 15:05] johnashu opened #751 "Slow to respond"
Hi,

I have just started with the example bot and initially i thought it had crashed.

It does eventually respond but after a good minute or 2.

how can i speed up performance?

[2017-05-19 23:39] sal48 opened #752 "Setting up a chatterbot using MongoDB with a user/pass combo"
I'm trying to setup a chatterbot with MongoDB, and I'm having issues authenticating with my bot script. Basically, I don't know if the MongoDatabaseAdapter object allows for authentication. Here's my code:

[code]
The code worked when I first installed Mongo DB, but I wanted to protect the database a bit, so I created a user/pass combo to use with the project. Unfortunately, I don't know how to cr

[2017-05-20 06:15] vkosuri commented on #752
Try like this
[code]

More information available here https://docs.mongodb.com/manual/reference/connection-string/

[2017-05-21 08:07] gabru-md opened #753 "Help with learning_feedback_example.py"
Can someone explain me why we do not take the correct response from the user if the user enters 'NO'.
We must take what is the correct output according to the User and then feed the ChatBot with the actual output that one expects !

- please enlighten me! and if there is something wrong then kindly forgive me. :p
- gabru-md

[2017-05-21 17:00] maker101 opened #754 "Setting up chatterbot with Mongodb storage adapter on heroku for messenger bot"
In case of Json storage adapter a .db file is formed after training, uploading the same on heroku works fine. What to do in case of mongodb storage adapter?

[2017-05-21 19:32] zhantongz commented on #754
The bot will update the specified database automatically if you train on heroku. You can also import the .db file to MongoDB with the collection name `statements`.

[2017-05-22 00:08] vkosuri commented on #753
If you want make accurate response make threshold value as 1.0, for example For more information please read this documentation http://chatterbot.readthedocs.io/en/stable/logic/index.html#low-confidence-response-adapter

[code]

[2017-05-22 06:36] xilu0 commented on #733
Thank you for your answer!
ganthercox,You know me, I hope support MongoDB, but Django is not good for MONGO, it's ideal to separate databases.

[2017-05-22 06:37] #733 closed

[2017-05-22 11:37] johnashu commented on #751
Thanks, im having a look now! :)

[2017-05-23 04:23] telkomops opened #755 "Error When Training with Ubuntu Corpus"
**INFO:chatterbot.trainers:Training** from: ./data/ubuntu_dialogs\3\100329.tsv

Windows 8.1 , 64 Bit
Python 3.6.0 :: Anaconda 4.3.1 (64-bit)
Chatterbot 0.6.0

[2017-05-23 07:45] telkomops commented on #686
tried 'db.collection.allowDiskUse="true"' on mongo shell. Does not work in Mongo 3.4 , is a mongo restart needed?

[2017-05-23 09:27] Cosmos19 opened #756 "Is regular expression matching response is handled.?"
Hello.

["WHAT ARE WEB *",
"I call them Internet ."
]

In the above json.  The question is something like this " What are web services". In this case it has to match and give a response.

Thanks.
Prakasam

[2017-05-23 09:38] vkosuri commented on #686
More info about this issue https://jira.mongodb.org/browse/SERVER-431?focusedCommentId=22283&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-22283

[2017-05-23 12:59] #744 closed

[2017-05-23 14:49] peterel commented on #686
Running in to this as well now. So, its simply not possible to train on the Ubuntu corpus? @vkosuri

[2017-05-23 20:50] peterel opened #757 "pymongo.errors.OperationFailure: distinct too big, 16mb cap"
Ive seen this here and there as an issue but its not clear to me what to do with it. As far as I can see, when receiving this issue it means that one simply tried to train with a much too large corpus and should re-do the training with something smaller. Is that correct or is there some way around this?

Thanks

[2017-05-23 20:57] yousifa opened #758 "Django adapter documentation"
IMO Django docs need more examples. Where do I put my custom logic, input, output and storage adapters?

I assume I need to create an app in Django, I did and connected it in settings.py, but don't know where to put my code.

Thanks

[2017-05-23 22:51] vkosuri commented on #686
@peterel I never tried, i'll give a try by next week

[2017-05-24 06:05] vkosuri commented on #756
Currently there is no mechanism implemented in chatterbot. If you need any specific one please write your own pre processor http://chatterbot.readthedocs.io/en/stable/preprocessors.html

I think wild card mapping will procedure many nearest distance/similarity between words. This will slow down you bot for every response request.

[2017-05-24 06:11] vkosuri commented on #758
Could you please let us know what areas still required, you could revisit the Django documentation from here http://chatterbot.readthedocs.io/en/stable/django/index.html

I am not sure what code your having.

This example app will guide how to build your own app https://github.com/gunthercox/ChatterBot/tree/master/examples/django_app

Here some of the steps we need to perform based on your code.

[2017-05-24 06:57] yousifa commented on #758
I went through that tutorial and got it all working up to where the tutorial ends. My question is where do I put the python code for my custom adapters?

[2017-05-24 07:03] telkomops commented on #755
changed the encoding to utf-8 to remove and proceed in trainers.py
`with open(file, 'r', encoding="utf-8") as tsv:`

[2017-05-24 07:03] #755 closed

[2017-05-24 07:12] telkomops commented on #747
issue is with,  response_query = self.statements.distinct('in_response_to.text');
Need to find a solution to generate distinct text and add it to a different collection if possible.
fails with ubuntu corpus with 16MB error when invoking the .distinct.
Using the MongoDB aggregation framework and use disk also fails as the collection exceeds 16 MB.
Any solutions?

[2017-05-24 08:22] telkomops opened #759 "Issue with Bot Response"
[code]

I have a chat history as part of 1 conversation which was trained , now the in the statements collection it was established as below in the mongodb collection

[code]

i tested this scenario in the terminal example. when typed

`"No. atlantic City" , Bot Responded with "It Started Last Wednesday" `

 Ideally it should be` "Ok. Let me see what i can do" `, as the same user has typed "**it s

[2017-05-24 08:39] telkomops commented on #686
@peterl , tried training on Ubuntu Corpus, In 16 hours, about 70% of the corpus is indexed.
currently the bottle neck is the 16MB issue being discussed around using MongoDB Adapter.

[2017-05-24 08:56] peterel commented on #686
@telkomops Then we are in the same situation. I had it running for around 15 hours and now running in to the 16MB issue. How did you proceed? Im thinking of scrapping MongoDB all together and try either some sql-version or maybe some other "chatbot framework". The jsonAdapter is simply much too slow to use in my testrunts.

[2017-05-24 10:47] Cosmos19 commented on #759
as far as i know. If you implement **chatbot.set_trainer(ListTrainer)**  it will look for sequential way. Even i have doubt how th AI is actually working in this chatterbot. Still i couldnt find any answer related to that. I have checked chatterbot docs too.

[2017-05-24 11:57] sanyam8182 opened #760 "ValueError: Extra data:"
When i try to run the bot i get the below output.

# Train based on the english corpus
... chatbot.train("chatterbot.corpus.english")
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
  File "chatterbot/trainers.py", line 117, in train
    trainer.train(pair)
  File "chatterbot/trainers.py", line 82, in train
    statement = self.get_or_create(text)
  File "chatterbot/traine

[2017-05-24 13:09] monokal commented on #686
IMO, ChatterBot would really benefit from a rewrite to integrate Keras/TensorFlow as the Machine/Deep Learning backend. It's not a difficult implementation now that Keras has been re-written by Google, complete with high-level Python APIs.

It provides powerful, well-maintained Machine Learning models/algorithms which have numerous NLP/chatbot examples on the web, will handle training storage, pro

[2017-05-24 13:09] monokal opened #761 "Keras/TensorFlow implementation."
IMO, ChatterBot would really benefit from a rewrite to integrate Keras/TensorFlow as the Machine/Deep Learning backend. It's not a difficult implementation now that Keras has been re-written by Google, complete with high-level Python APIs.

It provides powerful, well-maintained Machine Learning models/algorithms which have numerous NLP/chatbot examples on the web, will handle training storage, pro

[2017-05-24 13:10] monokal commented on #686
Opened proposal under https://github.com/gunthercox/ChatterBot/issues/761

[2017-05-25 04:51] Air-boy opened #762 "more than a mongodb databasefile use?"
like this
database="chatterbot-one-database"
database="chatterbot-two-database"
  can run?

[2017-05-25 14:33] authenticfake commented on #722
Hi gunthercox, any news?

[2017-05-25 20:34] yousifa commented on #758
The question is where in this Django integration example folder can you have python code to handle get_response, act on the response, .etc.

https://github.com/gunthercox/ChatterBot/tree/master/examples/django_app/example_app

similar to what is done in these examples scripts:
https://github.com/gunthercox/ChatterBot/tree/master/examples
http://chatterbot.readthedocs.io/en/latest/examples.html

Do

[2017-05-27 15:53] gabru-md commented on #753
I am saying why cannot we add the correct response to the input text. It would then be added to the data-file to train the chatterbot the next time.

Can it not be done ? This will also help the chatbot generate unique responses depending upon what the user wants!

[2017-05-28 14:17] peterel commented on #686
+1

[2017-05-29 06:49] telkomops commented on #759
From my understanding, when you ask a specific question, it takes all distinct, replies_to and tried to find the nearest or similar using , by default, Levenshtein_distance. So in my case, since i said , "No.Atlantic City" it found the match and it then returned "It started last wednesday" , however i feel that , logic should ignore sequence of conversations from same user.  When finding the repli

[2017-05-29 14:25] peterel commented on #761
@monokal 2 questions for you:

1. Do you know what Chatterbot is actually using in the backend as Machine/Deep Learning?
2. Im not so familiar with TF or Keras. Do you have any good tutorial for creating a chatbot that you have tried out and liked?

Peter

[2017-05-29 15:19] monokal commented on #761
1. It uses a bunch of simple custom logic adapters, which can be seen in the repo here: https://github.com/gunthercox/ChatterBot/tree/master/chatterbot/logic

2. There's some examples on the first page of Google and YouTube. Just search "tensorflow chatbot".

[2017-05-29 15:30] monokal commented on #757
Already confirmed as a bug here, which you've commented on. https://github.com/gunthercox/ChatterBot/issues/686

[2017-05-29 15:53] peterel commented on #761
1. Ok.
2. Yes, there are indeed a lot of examples. My question is, have you tried any of them and found them "good"?

[2017-05-29 15:55] peterel commented on #757
@monokal Indeed. Ill close this.

[2017-05-29 15:55] #757 closed

[2017-05-29 19:28] vkosuri commented on #761
It's all about you how you are going to apply your application and usecase.

[Tensorflow](https://www.tensorflow.org/) is all about google products for example Gmail replay suggestions, YouTube recommended videos, Google Photos i.e it is good for Classification of problems and predictions.

[Keras](https://keras.io/) is built on top of Tensorflow, [Theano](http://deeplearning.net/software/theano/)

[2017-05-29 19:31] vkosuri commented on #760
Currently chatterbot doesn't tested on anaconda, please try with Python2 or Python3 variants,  If it reproduces please feel to reopen this issue.

[2017-05-29 19:31] #760 closed

[2017-05-29 19:33] gunthercox commented on #762
This functionality isn't currently supported. Do you have a use case for when this would be needed?

[2017-05-29 19:33] vkosuri commented on #762
@Air-boy could you please let me why you required two DB files for a single instance, and if possible usecase?

[2017-05-29 19:40] gunthercox commented on #742
Hi @Marcogb81, what editor are you using? I see that there is a `.idea` directory in the trceback and I am wondering if this error is occurring because of the configuration of this editor.

[2017-05-29 19:41] #752 closed

[2017-05-29 20:49] peterel commented on #761
@vkosuri Thanks! Very useful reading!

[2017-05-29 21:41] Marcogb81 commented on #742
Hi Gunther,

Do not worry, finally I found my error: I do not use virtualenv and mi actual versión of Ubuntu 16.04 is a big disastre. Finally I can run the code.

Mi IDE is PyCharm.

Best regards,

MGB

________________________________
De: Gunther Cox <notifications@github.com>
Enviado: lunes, 29 de mayo de 2017 21:40
Para: gunthercox/ChatterBot
Cc: Marco Garcia Baturan; Mention
Asunto: Re: [gunth

[2017-05-30 05:51] vkosuri commented on #742
@Marcogb81 It seems to you have resolved your issue. Please feel free to reopen this issue if you found any issue?

[2017-05-30 05:51] #742 closed

[2017-05-30 09:35] Cosmos19 commented on #756
Closing this issue since it will reduce the bot response time. If other alternative way to implement this behavior is much appreciated in future.

[2017-05-30 09:35] #756 closed

[2017-05-30 09:39] Cosmos19 commented on #726
With my understanding. ChatterBot doesn't support flow based conversation. Closing this issue.

[2017-05-30 09:39] #726 closed

[2017-05-30 10:18] maker101 commented on #754
Thanks zhantongz ,
Can you please redirect me to 'reading resources' for the same. Do you know any app using chatterbot on heroku using mongodb storage adapter?

[2017-05-30 13:21] vkosuri commented on #754
This could help you https://elements.heroku.com/addons/mongolab

[2017-05-30 21:04] dexterash commented on #758
I'm also interested on how you send parameters to specific adapter (for example, logic adapter->LowConfidence).

[2017-05-31 03:31] Air-boy commented on #762
@vkosuri @gunthercox yeah,i want to use many field. for example: political,economy and so on. i want this chatbot Switch freely in two areas.   such as : i input political,it swith political  , i input economy ,it swith economy

[2017-05-31 03:39] Air-boy opened #763 "did chatterbot use nlp? it use StanfordNLP?"
when i input :i want to withdraw money or i want to withdraw 20K  ,this mean is withdraw

[2017-05-31 04:49] Air-boy commented on #763
@vkosuri @gunthercox

[2017-05-31 09:30] #754 closed

[2017-05-31 23:15] vkosuri commented on #763
@Air-boy Chatterbot It uses http://www.nltk.org/

[2017-05-31 23:19] vkosuri commented on #762
@Air-boy I think you have train your bot with two database and make programming logic to switch between databases based on your input. I think this link will provide more information https://github.com/cool-shark/mongoengine

[2017-06-01 04:12] bilalbayasut commented on #761
I'm agree with @vkosuri  , however @monokal idea is cool, however we need to see the whole picture first, how to utilize deep learning models in chatbot implementation, and me my self to be honest still got confused.

for instance, if you mean chatbot by just throwing away conversation logs , then what is the goal ?

you have to consider how if the user send multiple messages within short time, an

[2017-06-01 22:30] gunthercox commented on #750
It currently does not support queries but it will in the future.

[2017-06-01 23:00] #750 closed

[2017-06-01 23:14] gunthercox commented on #718
I'm not sure if this would benefit ChatterBot either. I'd be open to suggestions on design or implementation details regarding this if you or anyone else has suggestions about how something like this could be used to accomplish any learning or response generation tasks. For now however, I'm going to close this ticket off.

[2017-06-01 23:14] #718 closed

[2017-06-02 00:08] nonlin commented on #717
Training with the default settings.py doesn't seem to do anything for me as well. Still results in Hello responses.

[2017-06-02 00:18] nonlin opened #764 "Django Example Via Heroku Training not working."
I've followed the migration and train commands and have my django site running on Heroku but every message I give it results in "hello".

Here is my site live.

https://polar-basin-92507.herokuapp.com/

Here is my current source.

https://github.com/nonlin/SEBot

What am I missing to get this to train?

[2017-06-02 01:28] gunthercox commented on #727
@FakerGit I attempted to recreate the issue you encountered under the following conditions:

- ChatterBot version 0.6.0
- Python 2.7

Running the code snippet you provided I could not recreate this error. The only possibility I can think of is that you may have made modifications to the source code locally?

I'm going to close this issue, feel free to reopen it if you believe this is an error in C

[2017-06-02 01:28] #727 closed

[2017-06-02 01:40] gunthercox commented on #743
This is an error that occurs sometimes as a result of a bad NLTK corpus download. ChatterBot downloads this data automatically when it starts up.

See if the solution that was reached in https://github.com/gunthercox/ChatterBot/issues/736#issuecomment-301325738 works for you. Let me know if deleting the downloaded data files doesn't solve the issue.

Also noting that this was reported in (#662, #6

[2017-06-02 01:40] #743 closed

[2017-06-02 16:42] dekken201 opened #767 "Training bot"
Hello! I'm doing a college project and would like to ask a question and see if it applies with ChatterBot.
I have a bunch of answers in a list for some specific questions about a specific subject. Is there some way I can "train" a model and make it give out the answer that matches best with whatever question the user inputs?
For example, user asks "what's the meaning of existance" and the bot will

[2017-06-02 18:45] nonlin commented on #767
Doesn't sound like you have an issue but rather asking how to train a bot?

There is docs on how to do that here.

http://chatterbot.readthedocs.io/en/stable/training.html

[2017-06-02 19:52] dekken201 commented on #767
I've checked the docs, but I couldn't find the exact way of developing what I described, and if it's even doable.
Should I just create a new training class? How should I go about doing it?

[2017-06-03 02:50] gunthercox commented on #763
I'm going to close this ticket off. @vkosuri is correct, ChatterBot uses NLTK for natural language processing (NLP).

[2017-06-03 02:50] #763 closed

[2017-06-03 03:21] vkosuri commented on #767
Currently chatterbot uses json files to train your bot

[code]

[2017-06-03 05:24] vkosuri commented on #764
I checked it is working as expected. Could you please let me how you are Inputted your inputs

[2017-06-03 07:49] BlogBlocks commented on #760
367             raise ValueError(errmsg("Extra data", s, end, len(s)))
    368         return obj
    369

ValueError: Extra data: line 1 column 3 - line 1 column 223466 (char 2 - 223465)

[2017-06-03 14:01] dekken201 commented on #767
Actually, right now, I only got one list with the answers, but I'd like to at least know if it will work.  What are the parameters for list training? How should I go about making my own training class, if necessary?
Do I really need the questions that go with it, or can I just feed the answers?

[2017-06-03 14:09] vkosuri commented on #767
Yes, You could write your own class by extending Train class train method https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py#L16

[2017-06-03 14:13] dekken201 commented on #767
Does the bot accept other formats? Csv, from database? I'll see if I can transform my data to json if not.

-----Mensagem Original-----
De: "Mallikarjunarao Kosuri" <notifications@github.com>
Enviada em: ‎03/‎06/‎2017 10:09
Para: "gunthercox/ChatterBot" <ChatterBot@noreply.github.com>
Cc: "Dekken201" <lucksbp@gmail.com>; "Mention" <mention@noreply.github.com>
Assunto: Re: [gunthercox/ChatterBot] T

[2017-06-03 14:14] vkosuri commented on #767
No

[2017-06-03 14:16] iamhssingh opened #769 "Custom Storage Adapter in DJango"
This may not be an issue, just lack of documentation maybe.

How to use custom adapter in Django version?

[2017-06-03 14:19] iamhssingh commented on #769
Okay, its easy. Just follow the patter used while initialising w/o Django. Apologies!

[2017-06-03 14:19] #769 closed

[2017-06-03 14:20] vkosuri commented on #769
This could help you http://chatterbot.readthedocs.io/en/stable/storage/create-a-storage-adapter.html

[2017-06-03 14:23] iamhssingh commented on #769
I have already created a storage adapter. Didn't know how to use it in Django. Figured it out. BTW, can you tell how can I contribute by adding my adapter in this project? No experience in Git!

[2017-06-03 14:28] vkosuri commented on #769
https://help.github.com/articles/creating-a-pull-request/

[2017-06-03 15:13] gunthercox commented on #723
Closes by #745

[2017-06-03 15:13] #723 closed

[2017-06-03 15:22] dekken201 commented on #767
Alright, thanks.

[2017-06-03 15:22] #767 closed

[2017-06-03 21:34] peterel commented on #686
@vkosuri Did you find the time to give this a try and reproduce the issue?

[2017-06-03 22:38] nonlin commented on #764
@vkosuri I try "How are you?",  "Good Morning". And different stuff.
What input did you try and what responses did you get?
I'm not sure exactly what input will work with the default training I'm using.

[2017-06-04 00:50] #764 closed

[2017-06-04 00:51] nonlin commented on #764
I found the source to the corpus and asking questions from there seems to work.

[2017-06-04 02:37] iamhssingh opened #771 "Automated Test Python2.7 support"
I created a new pull but the automated tests are failing! How do I add support for Python 2.7?

[2017-06-04 02:42] iamhssingh commented on #771
For more info, I have added ArangoDB Storage Support.

Do I have to create Test Case also?

[2017-06-04 04:03] iamhssingh opened #772 "Graph based NoSQL"
I have successfully implemented ArangoDB Storage Adapter. I have also checked it with DJango. It works like charm. (But for some weird reason online tests are failing. See for yourself: [Pull #770](https://github.com/gunthercox/ChatterBot/pull/770 )

Now I am thinking to create edges and graphs. This will boost the speed to getting statement significantly. How does that sound as a feature?

I will

[2017-06-04 17:29] peterel opened #773 "requests.exceptions.ChunkedEncodingError:"
Hi,

When trying to use the Ubuntu corpus Im facing below. Note, all worked well approx 1 week ago when I tried the same training with this corpus.

requests.exceptions.ChunkedEncodingError: ("Connection broken: TimeoutError(60, 'Operation timed out')", TimeoutError(60, 'Operation timed out'))

The downloading starts but doesnt finish, end up with above error. When restarting the training it start

[2017-06-04 17:48] vkosuri commented on #771
thanks, and documentation possible

[2017-06-04 17:52] vkosuri commented on #773
Its python requests error, instead I'll try make a PR, to download Ubuntu corpus file

[2017-06-04 18:17] peterel commented on #773
@vkosuri Not sure I follow. Shall I do something or just await your PR to be approved and update my chatterbot?

[2017-06-05 01:05] vkosuri commented on #773
@peterel I am busy with my other tasks, If possible could you make a PR?

[2017-06-05 01:13] vkosuri commented on #772
@iamhssingh Thanks, I am very new to [Aragon DB](https://www.arangodb.com/), I have few questions on this

Does this feature has capable to know prior graphs information. for example

[code]

[2017-06-05 01:14] #771 closed

[2017-06-05 01:14] vkosuri commented on #771
I am closing this issue, Updated in PR https://github.com/gunthercox/ChatterBot/pull/770

[2017-06-05 01:16] vkosuri commented on #764
@nonlin could you place your solution, It helps others.

[2017-06-05 01:25] vkosuri commented on #686
@peterel i trained my bot with Offline Ubuntu corpus https://arxiv.org/abs/1506.08909, insted of above issue, I have seen file not found issues. I'll give another try today.

If possible where exactly you have seen the above error? I mean on which tsv file you encountered above error?

[2017-06-05 10:56] iamhssingh commented on #772
I am also kind of new to Arango. Currently I only want to add graph system to existing logic. Basically, all responses will be connected to each other and as user types statement, we can add "nodes" which will link to other node with respective weight (how similar are they?). I need to structure it.

But yes, context setup is also possible. And I have already written some stuff on setting up the c

[2017-06-05 12:46] rajasimon commented on #703
Well I have some reputation [Raja Simon](https://stackoverflow.com/users/3762142/raja-simon). Shall I create tag in SO. Can't wait to bring this community to SO. So exiting.

[2017-06-05 12:56] gunthercox commented on #703
@rajasimon If you can create the `chatterbot` tag, that would be very much appreciated.

[2017-06-05 14:12] vkosuri commented on #703
:+1:

[2017-06-05 16:33] peterel commented on #773
@vkosuri Very strange. I was looking to try one more time to pinpoint where the issue was and it all started to work again. It downloaded and extracted "as before". So, Ill close this ticket for now.

[2017-06-05 16:33] #773 closed

[2017-06-05 16:37] peterel commented on #686
@vkosuri Hmm, not sure I follow. This issue is regarding using the Ubuntu corpus and training it for a long time only to get a "pymongo.errors.OperationFailure: distinct too big, 16mb cap" error. In my case, I trained with the Ubuntu corpus for a couple of hours and all was well, it gave "decent" answers. Then I left if over night and when I tried a new conversation I hit this 16mb cap error.

Or

[2017-06-05 16:49] rajasimon commented on #703
Thanks. I created it. I'm editing as much question now to include chatterbot tags.

https://stackoverflow.com/questions/tagged/chatterbot

[2017-06-05 16:56] BLCKPSTV commented on #703
Hey, awesome that this is becoming something. Would you mind asking a thourough explanation to use a own corpuses and activating them on the django platform?

[2017-06-06 02:43] gunthercox commented on #703
@rajasimon Thank you. This is going to make a huge difference in how questions are able to be asked and allowing them to be responded to.

[2017-06-06 02:47] gunthercox commented on #703
@BLCKPSTV There is a ticket currently open requesting more documentation for ChatterBot's Django integration. I will be adding additional documentation as soon as possible. Feel free to open a ticket if you think any examples or additional explanations would benefit the project documentation.

[2017-06-06 02:47] #703 closed

[2017-06-06 12:46] Cosmos19 opened #774 "Is there any example to configure session for multiple chat conversations?"

[2017-06-06 13:29] vkosuri commented on #774
I think the current version of chatterbot does support this feature.

[2017-06-07 01:51] gunthercox commented on #774
Hi @Cosmos19, I don't believe an example for this has been included. You can do this by passing a unique identifier to the chat bot when getting a response. For example:

[code]

Let me know if you have any questions or if there is anything you I clarify.

[2017-06-07 03:16] andpark commented on #722
I got same problem.
So I inspected trainer code and I've found the solution.

The problem was in trainers.py
`
class ListTrainer(Trainer):
    """
    Allows a chat bot to be trained using a list of strings
    where the list represents a conversation.
    """

    def train(self, conversation):
        """
        Train the chat bot based on the provided list of
        statements that represents

[2017-06-07 05:07] Cosmos19 commented on #774
Hi @gunthercox  Thanks for your quick reply.

I have done that. But am facing below error.

**AttributeError: 'NoneType' object has no attribute 'conversation'**

version: chatterbot-0.6.1

[2017-06-07 05:50] vkosuri commented on #774
@Cosmos19 because there is no session with your unique_id, instead you could try to create a separate session for conversation, I think this line will help how to create sessions https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/chatterbot.py#L75

[2017-06-07 06:09] Cosmos19 commented on #774
@vkosuri  I have tried this. But still same error.

Here is my code.
                self.chatbot.conversation_sessions = ConversationSessionManager()
		self.chatbot.unique_session = self.chatbot.conversation_sessions.new()
		self.chatbot.unique_session.id = '234.1.34.56'
		statement = self.chatbot.get_response(message,self.chatbot.unique_session.id)

[2017-06-07 11:54] vkosuri commented on #774
@Cosmos19 I think if you specific question about how to do this, please post your question in stack-overflow https://github.com/gunthercox/ChatterBot/issues/703 with https://stackoverflow.com/questions/tagged/chatterbot tag, hope you will get more responses.

Instead asking question here make use of stack-overflow,  this issues tracker is meant only for Chatterbot issues.

@gunthercox Any inputs?

[2017-06-07 11:56] vkosuri commented on #722
@andpark could you please submit a PR for this issue?

[2017-06-07 12:15] vkosuri commented on #722
@andpark could you please submit a PR for this issue?

[2017-06-07 16:10] MYZ88 opened #775 "how to add Logic Adapter parameter (Django)"
Hello,

I am trying to follow django integration tutorial with chatterbot.

How can I add SpecificResponseAdapter and lowconfiedance adapter **parameters** in django setting.py

[code]

[2017-06-07 23:40] andpark commented on #722
@vkosuri Thanks. I made pull request.

[2017-06-08 05:32] neatville opened #777 "I'm hoping for each given question to have a better chance at getting many possible responses."
My basic setup.

[code]
Every time this python file run, the database would fill up more basic on what's in that corpus file that's listed. Here's a small sample of that json file.

[code]
So lets say the question to answer was "what's your favorite band". Too often, I think it would give the answer "Nine Inch Nails", all because that's the exact wording, character for character. I'd hope for an e

[2017-06-08 07:00] vkosuri commented on #775
Hope this will help

[code]

[2017-06-08 09:10] Air-boy commented on #725
@gunthercox   master  , i think  it is necessary,   for example: FAQ need this

[2017-06-08 09:17] Air-boy opened #778 "How can chatterbot only output the matching answer, and only one of these answers?"
I have used mango db to train my bot.
[code]
I have used chatterbot filters in my python file
[code]
when I input first time ``"大海"``，chatterbot response is ``"蓝蓝的一望无际"``
when I input second time ``"大海"``, chatterbot response is "好想陪你去看海"
when I input third time ``"大海"``，chatterbot response neither "蓝蓝的一望无际" nor "好想陪你去看海" ,

When i removed filters from my python the response are differ from previo

[2017-06-08 09:17] Air-boy commented on #778
@gunthercox @vkosuri   matser

[2017-06-08 09:20] Air-boy commented on #778
@gunthercox   master, this question and #725  is different question.

[2017-06-08 11:48] vkosuri commented on #778
Appologies, I don't understand Chinese language could you please elaborated in English?

[2017-06-08 12:14] psengupta1973 opened #779 "Chatterbot error on windows"
Hi,

Facing an issue as below. Please help.

[code]

[2017-06-08 14:31] coreyauger commented on #683
Hey guys.. just curious, but have you been able to train on the data.  After applying this patch.. and another one regarding utf-8 data formatting (only applicable in py-2.7), I was able to start the training process.  This was very slow.. and after several minutes it appears that only processed a couple meg of training data.  Additionally what is the time complexity for a search... at first glanc

[2017-06-08 20:03] lucas-alberto98 opened #780 "I have a problem, I've done everything and I could not solve"
I installed everything as the ChatterBot site says, but still gets this error.
[code]

I've tried reinstalling everything, but the error has already been reinstalled a thousand times the ChatterBot lib and ntlk and continues with this error.
The error happens in python2 and python3
Can someone help me?

[2017-06-08 22:40] gunthercox commented on #779
I think the last line of this stack trace might be the best clue as to what is going wrong.

For some reason ChatterBot can't create a new database file in whatever directory the chat bot is being executed in. The reason, as specified in the stack trace is that it doesn't have permission to do this.

One way you may be able to fix this is to create a new file called `database.db` in the directory

[2017-06-08 22:42] gunthercox commented on #780
Hi @lucas-alberto98 , I have seen this error reported several times. It is caused by a broken NLTK data download. This problem can be fixed if you remove the NLTK corpus files that get automatically downloaded.

[2017-06-08 22:50] gunthercox commented on #778
Please correct me if I'm wrong. I want to try to paraphrase the problem you are describing to make sure that I understand it.

Your chat bot always returns the same output, regardless of what input it receives. Am I correct?

[2017-06-08 23:02] gunthercox commented on #762
ChatterBot supports the ability for you to [add your own](http://chatterbot.readthedocs.io/en/latest/storage/create-a-storage-adapter.html) "storage adapters" to connect to databases as you see fit. You are welcome to modify the [existing storage adapter for Mongo DB](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/storage/mongodb.py) to switch databases depending on the requested

[2017-06-08 23:02] #762 closed

[2017-06-08 23:06] gunthercox commented on #775
@MYZ88 The solution suggested by @vkosuri is accurate. You just need to modify your Django settings to follow a the parameter pattern. For example, your Django settings might look like this:

[code]

[2017-06-08 23:06] #775 closed

[2017-06-08 23:15] gunthercox commented on #774
@Cosmos19 You don't need to worry about re-posting your question on Stack Overflow. You have already asked it here and I will make sure that it gets answered if possible.

There is actually an existing example that is used in ChatterBot's codebase. In one of the default Django views (typically only used when one is using ChatterBot with Django), a new session is created for different users that vi

[2017-06-08 23:18] gunthercox commented on #717
I've labeled this as a possible bug. I will investigate this as soon as possible.

[2017-06-08 23:21] gunthercox commented on #760
I can't seem to recreate this error on my system. If anyone can create a training test case that fails when it should pass for this data it would help to resolve the error. Until then there isn't much I can do because I don't have a way to test or recreate this.

[2017-06-08 23:51] vkosuri opened #781 "anaconda travis ci"
Master, I see many users are using anaconda for development/production environments. I think adding anaconda/conda to Travis will give a value add. For more information https://conda.io/docs/travis.html

If it is ok, can i make a PR?

[2017-06-09 01:51] gunthercox commented on #781
Feel free to make a pull request. I'm not sure if all tests will pass at first, there seems to be some odd differences between normal Python installations and Anaconda setups.

[2017-06-09 01:55] vkosuri commented on #781
Thanks Master i'll post my observations along with pull change

[2017-06-09 03:21] gunthercox commented on #741
@apoorv-mishra My apologies for the delayed response. It is usually best to avoid the use of global variables unless absolutely necessary. I'm still familiarizing myself with how SQL Alchemy works and at this point I don't have an accurate recommendation that I can provide. I believe that the part you mentioned about checking if the table is created upon initialization is correct. If I were going

[2017-06-09 03:35] gunthercox commented on #753
@gabru-md It can be done. Responses can be updated directly in the database (no utility methods have been added for doing this). Do you have any recommendations for what would be useful to provide for correcting "incorrect" responses?

[2017-06-09 03:43] Air-boy commented on #778
@vkosuri  using Chinese is question and answer.   ["大海","蓝蓝的一望无际"] equal ["sea,"blue and vast"], this is question and answer.
@gunthercox
when i write filter->filters=['chatterbot.filters.RepetitiveResponseFilter']
chatterbot only return one answer,
when i not write filter   ,chatterbot return others when question occer times more than answer times.
i rewriter this filter

class ResponseFilter(Fil

[2017-06-09 03:46] gunthercox commented on #683
@coreyauger You are correct, the primary issue is that the chat bot needs to search the entire space for each response. I am working on a solution to use cacheing as well as additional filtering for optimization but this is still largely an unsolved problem as far as I am aware because there isn't an efficient way to do NLP operations on a database level.

[2017-06-09 03:51] gunthercox commented on #778
@Air-boy Is it possible that the response is being given on every input because there isn't another alternative for the chat bot to respond with?

[2017-06-09 03:53] gunthercox commented on #722
Do the changes in #630 solve this issue?

[2017-06-09 03:55] Air-boy commented on #762
@gunthercox  this is very well ,really master

[2017-06-09 03:56] gunthercox opened #783 "Make sure Django training documentation is clear"
I'm assigning this task to my self to make sure that the documentation on training chat bots under Django configurations is clear and concise.

[2017-06-09 03:57] coreyauger commented on #683
Thanks for the quick response.  So I would be right in assuming that it is currently unfeasible to experiment with the entire ubuntu corpus?  Thanks again :)

[2017-06-09 04:00] gunthercox commented on #683
At the current time I would recommend avoiding training a chat bot with the entire Ubuntu corpus. This is a problem that I'm working to resolve but I don't have an ideal solution yet.

[2017-06-09 04:01] Air-boy commented on #778
I just want it to output one of the answers I give

   def filter_selection(self, chatterbot, session_id):

        session = chatterbot.conversation_sessions.get(session_id)

        if session.conversation.empty():
            return chatterbot.storage.base_query

        text_of_recent_responses = []

        for statement, response in session.conversation:
            text_of_recent_responses.

[2017-06-09 04:03] Air-boy commented on #778
I just want it to output one of the answers I give

    def filter_selection(self, chatterbot, session_id):

        session = chatterbot.conversation_sessions.get(session_id)

        if session.conversation.empty():
            return chatterbot.storage.base_query

        text_of_recent_responses = []

        for statement, response in session.conversation:
            text_of_recent_responses

[2017-06-09 04:10] gunthercox commented on #747
@telkomops I'm working on a solution that involves caching and additional filtering. The solution to this issue likely wont be available until the next major release of ChatterBot.

[2017-06-09 04:17] gunthercox commented on #731
@MYZ88 Hopefully I can address each of your questions.

As you talk to the chat bot, it learns based on how you respond to it. For example, if the chat bot says "How are you?" and you reply "I am well", then the chat bot will learn that "I am well" is a possible valid response to the phrase "How are you?".

There isn't _really_ a simple way to do that. You could create a small web service, with an

[2017-06-09 04:17] #731 closed

[2017-06-09 04:23] gunthercox commented on #778
@Air-boy I apologize, I don't think I fully understand what you are asking.

[2017-06-09 04:30] coreyauger commented on #683
I have some ideas on how you would accomplish this.  If you are interested I will compose them more and share them with you?

Also it is pretty cool that your project is mentioned in the upcoming book
https://www.manning.com/books/natural-language-processing-in-action

Which is how I found it to begin with :)

Thanks again!

[2017-06-09 04:53] dyf6372 commented on #747
@gunthercox I have cached the result in memory so i don't need to get from MongoDB every time.

[2017-06-09 06:52] Air-boy commented on #778
@gunthercox   i give you my server address  http://47.92.106.197:8890/?message=你吃了么
and my corpus.json
{"testFilter":[
......
["你吃了吗","我不需要吃东西，也会有无穷的力量滴。哈哈哈哈哈"],
["你吃了吗","您要给我吃的东西吗？是什么是什么？我很好奇。"],
["你吃了吗","还没还没，您要是带给我东西吃我是不会介意滴，尽管来！"],
......
]
}
and chatterbot,py

import tornado.ioloop
import tornado.web

from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer

bot

[2017-06-09 06:54] Air-boy commented on #778
@gunthercox i give you my server address http://47.92.106.197:8890/?message=你吃了吗
and my corpus.json
{"testFilter":[
......
["你吃了吗","我不需要吃东西，也会有无穷的力量滴。哈哈哈哈哈"],
["你吃了吗","您要给我吃的东西吗？是什么是什么？我很好奇。"],
["你吃了吗","还没还没，您要是带给我东西吃我是不会介意滴，尽管来！"],
......
]
}
and chatterbot,py

import tornado.ioloop
import tornado.web

from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer

bot = C

[2017-06-09 08:17] psengupta1973 commented on #779
Hi,
Thanks for your reply.
I have tried changing permission to all directories and sub-directories of the location where it's installed and also tried creating a blank file names 'database.db' in most of the directories under chatterbot, however it didn't work.

[2017-06-09 08:17] #779 closed

[2017-06-09 08:53] apoorv-mishra commented on #741
@gunthercox Alright, thanks.

[2017-06-09 10:42] gunthercox commented on #683
@coreyauger No problem, I would be happy to hear any ideas you have.

[2017-06-09 10:53] gunthercox commented on #747
@dyf6372 Database-level caching is a good start. When I mentioned caching I was referring to the various search and comparison algorithms that the chat bot uses to analyse statements and select responses. These often calculate values and these calculations can be costly when it comes to time.

[2017-06-09 11:11] vkosuri commented on #778
@Air-boy I apologies, I have modified your post to understand more, From your question i understood like this, correct me if i am wrong.

The [RepetitiveResponseFilter ](http://chatterbot.readthedocs.io/en/stable/filters/index.html?highlight=RepetitiveResponseFilter) isn't working as expected, then you have written your own filters, is this correct?

You are suggesting here, If you use [Repetitive

[2017-06-09 11:31] #759 closed

[2017-06-09 11:36] gunthercox commented on #740
Hi @lijun900302 It sounds like this might be a simple Python encoding issue. I noticed that you are using iPython and I am aware that developers seem to encounter errors like this more frequently with Anaconda distrobutions of Python. If you have a way to set the encoding in iPython this might fix the problem.

[2017-06-09 11:42] gunthercox commented on #710
@reubenkhanna I apologize for the late response. The reason you are not getting a response is because of the chat bot is waiting for input from the console. You likely need to use a different input adapter so that the bot won't be waiting for console input.

I recommend using the `VariableInputTypeAdapter` which is describe in more detail here: http://chatterbot.readthedocs.io/en/stable/input/

[2017-06-09 11:43] #729 closed

[2017-06-09 11:47] gunthercox opened #784 "Add documentation on how to create a new python module for logic adapters"
It would be useful to have documentation on how to create and publish a Python package that contains a logic adapter.

- Package setup
- Link to Python publishing documentation
- Using the new logic adapter in ChatterBot
- How to test it

[2017-06-09 12:12] SzuHannah opened #785 "I got a problem while installing the chatterbot"
I've tried as many things I could but still couldn't resolve the problem..
here's the error message:
`Traceback (most recent call last):
  File "C:/Users/qqisi/Documents/Han/大四/計程/final project/try step by step.py", line 5, in <module>
    trainer='chatterbot.trainers.ChatterBotCorpusTrainer'
  File "C:\Users\qqisi\AppData\Local\Programs\Python\Python35\lib\site-packages\chatterbot\chatterbot.py",

[2017-06-09 12:40] SzuHannah commented on #785
Ahh I solved it, thanks.

[2017-06-09 14:37] #785 closed

[2017-06-09 17:58] lucas-alberto98 commented on #780
But I already tried to delete the nltk and install, but the error continues.
Have it delete which folder/file?

[2017-06-10 01:58] Air-boy commented on #778
yes ,you are right!    language is a big obstacles

[2017-06-10 03:35] Air-boy commented on #778
@vkosuri @gunthercox   i am so sorry ,i hava solve this problem. i am very stupid

[2017-06-10 03:35] #778 closed

[2017-06-10 11:36] gunthercox commented on #780
The folder you want to delete is called `nltk_data`. It is created automatically by the NLTK Python library. Usually, `nltk_data` can be found in your home directory, although it can be different depending on what operating system you have.

[2017-06-10 11:46] #710 closed

[2017-06-10 17:11] yuvalBor opened #788 "ChatterBot backend"
1. Can you please shed some light on how chatter bot training works and how it chooses the utterance for a response.

I mean, do you use Neural networks, ML, deep learning or just some rule based (string distance -
 levenshtein distance) methodologies?

2. Is it contextual?

Thanks,
Yuval

[2017-06-10 18:45] gunthercox commented on #288
I'm going to re-open this ticket. I'm exploring new options for using a caching module to improve response generation performance.

[2017-06-12 10:20] LouisJacques opened #789 "Performance issue"
I am currently using a common JsonFileStorageAdapter for testing and I wondered if with a 190 Ko json file it's normal that the training last about one minute. I need to use like 1Mo of data and i can't think about how much time a simple print will take.
Some of you use that amount of data in a production environment ? How did you manage to find a balance between the execution time and the amount

[2017-06-13 06:01] decode007 opened #790 "Calling some function on the basis of input data"
I want to perform a FTP operation on the basis of input data.
Function performing is task is there.

How to call that function.  conversation will be like:

[code]
Now, here when user give "Yes" how will I call the FTP backup function
Also, that operation will take time.

So do I proceed with thread approach, and notify once operation will be done
Or can I make chatterBot inactive, till the time o

[2017-06-13 11:46] decode007 opened #791 "Giving nested json-data as database"
Can  chatterbot handle the nested json data and get the response on the basis of ``primary key``?
Internal keys could be same. Like in sample below: ``key1``, ``key2`` will have same internal key parms.

[code]

[2017-06-13 20:12] MYZ88 commented on #783
Thanks for your efforts. I believe this will help a lot of less experience users like me.

I faced a trouble to follow the current tutorial. Then, I used the modify Django example and follow the tutorial from django website to make it run.

[2017-06-14 01:19] vkosuri commented on #783
@MYZ88 could you please let us know what changes you did make it work? I think it can help improve more documentation

[2017-06-14 01:31] vkosuri commented on #791
@decode007 Current chatterbot support only simple JSON.

[code]

By looking your JSON response, you could write your own trainer class for example [UbuntuCorpus](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py#L216)

Add addition details using [add_extra](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py#L350) statement object

More information

[2017-06-14 01:44] vkosuri commented on #790
@decode007 I think you have to write you own logic adapter based on your question, more information about how to write a new logic adapter documented here http://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html

[2017-06-14 02:04] #741 closed

[2017-06-14 12:43] saraalosaid opened #792 "adding new corpus problem"
i am trying to add new corpus to train chatterbot but i have these errors
Traceback (most recent call last):
[code]

[2017-06-14 17:22] narvind2003 commented on #289
Hello,

I wrote a custom comparison method in chatterbot using the WMD (word mover's algorithm) implementation in the gensim python package.

WMD takes 2 sentences(or docs) and compares them semantically. Even if the 2 sentences have no common words, they get a high similarity score if they 'mean' the same thing.

Example - these 2 sentences get a very high similarity score:
1. The king and queen

[2017-06-14 18:37] AmusingThrone opened #793 "Issue with English Corpus"
So I was just testing ChatterBot, and made a simple Discord Bot. I found the following logs in my files:

[code]

I also found quite a bit of grammar mistakes, responses that made no sense, etc. Is there any place I can contribute to this, or I can go ahead and manually fix. It would be a pain to have to manually override this by using a list.

Edit: I maybe confused, but I cannot create my own co

[2017-06-14 18:57] AmusingThrone commented on #792
Your issue is pin-pointed with this statement right here:
```'IOError: [Errno 22] Invalid argument: 'C:\\Python27\\Lib\\site-packages\\chatterbot_corpus\\data\\english\x08ank.corpus.json'````

You can solve this with:
`chatterbot.train(
r'C:\Python27\Lib\site-packages\chatterbot_corpus\data\english\bank.corpus.json'
)`

[2017-06-15 03:19] sal48 opened #794 "Chatterbot Issues with Gitter"
I saw that people requested Gitter examples, and some were added. However, I haven't been able to get the bot to connect to Gitter, and when looking at the constructor, it looks so basic. No where in the examples do we pass an OAuth key or secret key. Has anyone been able to connect to Gitter using simply the API key? Here's my sample below attempting to connect to a room called 'meta-game'. (I bl

[2017-06-15 09:05] vkosuri commented on #793
@AmusingThrone Yes, The corpus files are located here https://github.com/gunthercox/chatterbot-corpus/tree/master/chatterbot_corpus/data

[2017-06-15 09:10] vkosuri commented on #289
@narvind2003 Sure feel free to submit a PR what you have.

And also I was planning to this task using [Dependencies and Dependency Grammar](http://www.nltk.org/book/ch08.html) 5th topic in this chapter.

[2017-06-15 11:59] gabru-md commented on #753
@gunthercox
Directly updating the database would mean to create a user specific training data-set.

What can be done is that as soon as the user enters "No", he/she must be prompted for a reply as to "What can be an apt response for {{QUESTION}} ?"
and then the correct response can be taken as input and stored directly into a database. This can be helpful and will then help generate a unique data-

[2017-06-16 03:20] zxxgobig commented on #717
@gunthercox hi,i run the python manage.py train but the response is not what i want .did this bug had fixed?

[2017-06-16 04:49] vkosuri commented on #722
No Master, Still they are in reverse order even after #630
![image](https://user-images.githubusercontent.com/13664257/27212375-3ef85204-527d-11e7-90a9-0d8cef91fe10.png)

[2017-06-16 16:41] yazdat opened #795 "Cannot get version number"
`python -m chatterbot --version`

[code]

[2017-06-17 05:59] gabru-md commented on #795
@yazdat
to get the version number try:
[code]

This should possibly result in an outcome like:

[code]

[2017-06-18 06:17] vkosuri commented on #795
I am not sure which Operating system are you using, Even after @gabru-md suggestion didn't worked, try to ``pip install chatterbot`` If it is Linux flavor try to ``sudo pip install chatterbot``

[2017-06-18 06:19] vkosuri commented on #793
I am closing off this issue, it was addressed here https://github.com/gunthercox/chatterbot-corpus/pull/23

[2017-06-18 06:19] #793 closed

[2017-06-18 06:24] vkosuri commented on #792
@saraalosaid any updates about this issue?

[2017-06-18 06:25] vkosuri commented on #790
@decode007 I am closing off this issue, Still your problem isn't resolved, please feel free to reopen this issue.

[2017-06-18 06:25] #790 closed

[2017-06-18 06:26] vkosuri commented on #791
@decode007 I am closing this issue, Feel free reopen this issue if you have any questions.

[2017-06-18 06:26] #791 closed

[2017-06-18 06:46] gabru-md commented on #790
@decode007
I would suggest using `threading` as an option. Because we know that Python does not provide an Asynchronous model for programming just like NodeJS.
It does not work on callbacks and hence managing time would be a problem in your case.

You can create threads corresponding to different works that you want to do.
t1 = Thread() to run ChatBot
t2 = Thread() to run the Backup process.

and

[2017-06-18 13:45] yazdat commented on #795
Thanks for the response  gabru-md and  vkosuri.

import chatterbot
chatterbot.__version__

worked fine. I am running 0.6.1
I'm experimenting with chatterbot to use on a robot. I'm sure I will have more questions. I hope to contribute where I can.

[2017-06-18 13:45] #795 closed

[2017-06-18 18:00] gunthercox opened #797 "Allow storage adapters to determine if they support extra data"
A development spike should be do to experiment with the idea that not all storage adapters need to support the `extra_data` parameter for statements. This parameter is easy to support for no-sql databases but it is difficult to implement for sql based databases.

I'm assigning myself to complete this research. Depending on what I find regarding the feasibility of implementing this I will either cr

[2017-06-18 18:45] greggmojica commented on #783
@gunthercox Please keep us posted on this. Currently, training using this app is somewhat unclear...Thanks.

[2017-06-18 19:09] saraalosaid commented on #792
i try chatterbot.train(r'C:\Python27\Lib\site-packages\chatterbot_corpus\data\english\bank.corpus.json') but it gives me the same error

[2017-06-19 11:05] ahmedshoaib commented on #717
using sql databases with django seems to be resulting in wrong training i.e responses mapping to wrong input statements

[2017-06-19 13:01] gabru-md commented on #717
@ahmedshoaib are you suggesting that using a different database like mongodb could potentially solve this problem?

[2017-06-19 16:11] ahmedshoaib commented on #717
@gabru-md  yes mongodb works perfectly fine with the django_app (I.e  with [use_django_models](https://github.com/gunthercox/ChatterBot/pull/653) : False). There seems to be a problem in storing training data in relational dbs.

[2017-06-20 03:50] sal48 commented on #789
Some of you use that amount of data in a production environment?

- JsonFileStorageAdapter shouldn't be used in a production environment. It's really just meant for testing. As soon as I started training my bot, I immediately noticed slowdowns in responses and the size of the db grew rapidly. I would highly recommend switching to a mongodb or something else. There's tutorials in the docs to do so.

[2017-06-23 13:21] sal48 commented on #788
So I just started delving into the backend, and I can share what I know with you. If you wanted to know the exact lines of code, you can find the relevant code in chatterbot.generate_response method. Basically, when you setup your chatbot instance, you should setup the logic adapters you want to use:

[code]

In the above snippet, I use Levenshtein Distance for statement comparison, but I also use

[2017-06-23 13:38] sal48 opened #798 "Profiling Chatterbot"
Hi guys,

I'm adding chatterbot to a server, so people can interact with it from my website. The server which will host the chatterbot (2 GB RAM, 2 cores) runs much slower than my home computer, and the kernel seems to kill my chatbot after a few minutes of use. (It usually responds to about 3-4 statements before getting killed.) Further, I'm having a hard time profiling my chatterbot to find out

[2017-06-23 13:43] vkosuri commented on #788
1. Neural networks :heavy_multiplication_x:
2. ML :heavy_check_mark:
3. Deep learning :heavy_multiplication_x:
4. just some rule based (string distance -levenshtein distance) methodologies :heavy_check_mark:
5. contextual :heavy_check_mark:

[2017-06-23 13:52] vkosuri commented on #798
I am using only cProfile, you could try like this

[code]

[2017-06-23 17:33] sal48 commented on #794
I figured this out, and there seems to be a bug when joining a room. I know the room id I wanted to join, so I hardcoded the value in input.gitter.py. I can run this to ground, if anyone else has an issue with it, and they don't know python code well. (The issue seems to be that the call was a post, where only a get is supported to get room information.)

[2017-06-23 17:44] sal48 commented on #777
Try using the repetive response filter:

[code]
That should keep the bot from saying the same thing every time. However, when you think of it, you might want it to say the same band, in this case. Like, if you gave me a diff band every time I asked you what your fave band was, I'd be very confused.

Anyway, try it out and lemme know what you think.

[2017-06-24 12:02] Barathwaja opened #799 "how to train a corpus which i downloaded?"
Hi there I downloaded a corpus json file has data about planets. when I imported it in train function and talks about any planet it doesn't speak.
Can anyone help me on this.. Thanks.. !!

![image](https://user-images.githubusercontent.com/5066436/27508488-c0d44d82-5903-11e7-9a46-b57a4be8322c.png)

![image](https://user-images.githubusercontent.com/5066436/27508460-fbdcac18-5902-11e7-9441-af5a6c42

[2017-06-24 20:18] gunthercox opened #801 "Add documentation for SQL adapter"
Now that the SQL adapter is fully working it should be safe to add documentation on it so that other developers can learn about it and use it for their projects.

[2017-06-25 09:59] sanyam8182 opened #802 "Issue with nltk_data"
When i try to run chatterbot on the local server it shows this error:

[nltk_data] Error loading stopwords: [nltk_data] Error loading wordnet: [nltk_data] Error loading punkt: [nltk_data] Error loading vader_lexicon

Along with it, it also shows the correct response.

[2017-06-25 18:15] #789 closed

[2017-06-25 18:16] #788 closed

[2017-06-25 18:16] #780 closed

[2017-06-25 18:26] #504 closed

[2017-06-25 18:29] gunthercox commented on #802
Hi @sanyam8182, have the required NLTK files been downloaded to your local server?

[2017-06-25 18:37] gunthercox commented on #799
Hi @Barathwaja, it looks like the data you downloaded isn't in a format that ChatterBot can read. You can still use this data but you will need to find a way to convert it to match the format that ChatterBot's training classes expect.

Here is a short example of the format that ChatterBot expects it's corpus data to be in:

[code]

There is more information on the current set of available corpus t

[2017-06-25 18:50] Barathwaja commented on #799
Yep sure mate.. thanks will try .. but if I wanna du like wat I asked say I feeded info about something and if I ask a question it should frame or through output based on that soo I hope you understand wat I have said so where do I start?? Can you shed some light ?? Thanks..

[2017-06-25 19:04] Barathwaja commented on #792
Q&A sample corpus I was able to add and it worked fine.. used the same syntax wat described in the docs ...

[2017-06-25 19:09] gunthercox commented on #799
You could always write your own training class that takes the planetary data file directly.

[2017-06-25 19:11] Barathwaja commented on #799
I feel like I can't understand how to write a training class in ur docs.. can you please tell a bit clear .. and thanks custom QA corpus worked 😊

[2017-06-25 19:30] gunthercox commented on #799
Sure, maybe an example would help? This is what the corpus trainer that is currently used looks like. It takes each conversation that is listed in the corpus and adds it to the bot's knowledge base. Each "conversation" in the training data is a series of statements where each statement is a response to the previous one.

You would probably want to make modifications so that your version converts t

[2017-06-25 19:51] gunthercox commented on #740
I've attempted to recreate this issue using the latest version of ChatterBot and `chatterbot-corpus`. I believe this may have been corrected in a previous release.

[2017-06-25 19:51] #740 closed

[2017-06-25 20:01] gunthercox opened #804 "Document order of response generation process including initialization"
This pipeline could be better described.

[2017-06-25 20:02] Barathwaja commented on #799
Thanks I will look into it .. will close the issue now thanks . .. :)

[2017-06-25 20:02] #799 closed

[2017-06-26 03:46] Barathwaja commented on #795
even for me this **python -m chatterbot --version** at beginning then I used **chatterbot.__version__** to find my version ...

[2017-06-26 09:57] vkosuri commented on #794
@sal48 Great resolving your issue, if possible could you make a PR to solve this issue?

[2017-06-26 17:37] sal48 commented on #794
Sure. After I finish profiling chatterbot to figure out my performance issues, I can make a general fix for the Gitter adapter.

I would like someone else to confirm that they're having issues. Basically, I tried to use the current chatterbot on master, and I was getting 404's when connecting.

[2017-06-26 18:42] davizucon commented on #801
Sure, almost done, there is a branch sql-doc, I`ll update docs and make a PR

[2017-06-26 21:21] sal48 commented on #804
Is this something you're gonna tackle? Or do you wanna farm out the work?

Also, are you talking about from a code perspective, to inform people about what filters and things they want to use? Or do you mean from a slightly higher, theoretical perspective, that talks about the steps from a scholastic approach? (Lots of questions, I know.)

[2017-06-26 23:50] gunthercox commented on #801
Thank you very much. 👍

[2017-06-26 23:57] gunthercox commented on #804
This is something I was thinking of tackling. However, I would not be opposed to it if anyone wanted to submit a pull request or even just make suggestions.

This is primarily going to be closer to the code perspective, possibly not mentioning any specific adapters. My goal is to go through the code and outline some useful implementation details, such as what order various method are called in, an

[2017-06-27 09:21] sanyam8182 commented on #802
i have downloaded the files in my system but i dont know about the server.

[2017-06-27 09:27] vkosuri commented on #802
It means, the chatterbot running machine, in your case your NLTK downloaded machine.

[2017-06-27 09:32] sanyam8182 commented on #802
yes i have all the files mentioned in the error

[2017-06-27 09:51] vkosuri commented on #802
Try to do fallowing steps

[code]
Check the files are copied into specified above directory or not. If files are there then it should work, even after also you are getting same error, try to download all corpus files

[code]

[2017-06-27 10:14] gunthercox commented on #794
Hi @sal48, I can confirm the issue that you encountered.

[code]

[2017-06-27 10:36] sanyam8182 commented on #802
on running the above commands i get this output:
['/Users/yuvikakoul/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data']

which directory am i supposed to check

[2017-06-27 11:58] vkosuri commented on #802
your home dir i.e '/Users/yuvikakoul/nltk_data'

[2017-06-27 17:11] sanyam8182 opened #806 "AttributeError: 'str' object has no attribute 'add_response'"
when using a feedback chatterbot it shows the following error:

[code]

[2017-06-27 17:21] sanyam8182 commented on #753
Try out this
from chatterbot import ChatBot

import logging

from chatterbot.trainers import ChatterBotCorpusTrainer

# Uncomment the following line to enable verbose logging
# logging.basicConfig(level=logging.INFO)

# Create a new instance of a ChatBot
bot = ChatBot("Terminal",
    storage_adapter="chatterbot.storage.JsonFileStorageAdapter",
    input_adapter="chatterbot.input.TerminalAdapter",

[2017-06-27 17:25] sanyam8182 commented on #802
it contains all the files, still i'll try downloading all the corpora files

[2017-06-27 21:50] gunthercox commented on #802
@sanyam8182 Remove the files it contains. They will be re-downloaded (hopefully without errors this time) automatically by ChatterBot.

[2017-06-28 00:26] vkosuri commented on #806
It seems to me that you transfer your requests from a ``web server`` to ``chatterbot``. This might converted your statmenet object into a string, If possible could you try to run your code stand alone before integrated into ``webserver``

[2017-06-28 03:12] sanyam8182 commented on #806
it works when i try to run it stand alone, but i need it to work on the server. How can i do that ?

[2017-06-28 03:33] vkosuri commented on #806
If possible I'll will help you, if you could share your server code?

[2017-06-28 03:36] sanyam8182 commented on #806
#!/Users/yuvikakoul/anaconda/bin/python
# -*- coding: utf-8 -*-

import cgi

def htmlTop():
    print("""Content-type:text/html\n\n
            <!DOCTYPE html>
                    <meta charset="utf-8"/>
                    <title>chat</title>
                </head>
                <body>""")

def htmlTail():
    print("""</body>
        </html>""")

if __name__ == "__main__":
    try:
        ht

[2017-06-28 03:47] vkosuri commented on #806
learn_response accepts ``statement`` object but you are passing ``strings``, try to look feedback example once again for more information

[2017-06-28 03:53] sanyam8182 commented on #806
I have to get the input from a Html page, so it will be a string, but how can i convert it into a statement object

[2017-06-28 04:16] sanyam8182 commented on #806
Problem solved, added this
if bol :
              text3 = bot.input.process_input_statement(text2)
              text4 = bot.input.process_input_statement(text)
              bot.learn_response(text3, text4)

[2017-06-28 04:31] vkosuri commented on #806
I am closing this issue, feel free to reopen if you have any questions

[2017-06-28 04:31] #806 closed

[2017-06-28 06:57] neopedro opened #807 "'Statement' object has no attribute 'encode' - The statement has a string attribute like the confidence?"
I have an issue with encodings, I can't use the str() function to convert the response to a string without getting errors and I can't use an encode function, because the Statement is not a string.

[2017-06-28 07:42] vkosuri commented on #807
@neopedro Try to add ``encoding header`` to your source file. for example ``# -*- coding: utf-8 -*-``.

If you share stack trace of what you have encountered error to debug further.

[2017-06-28 15:32] gunthercox commented on #807
@neopedro I think you want `statement.text`, this is the string value of the statement.

[2017-06-28 21:28] lashkarpalash commented on #760
I encountered same issue running on python 2.7.
What is the location of the  english corpa JSON file ?

-PL

[2017-06-28 21:44] lashkarpalash commented on #760
Found 20 JSON files in <>python\v2.7\Lib\site-packages\chatterbot_corpus\data\english .
Which file @BlogBlocks ?

[2017-06-29 14:35] lashkarpalash commented on #760
I was on python2.7 while I had that error, later using virtualenv tried testing on python3.6 and it worked fine without making any change to any JSON file. I am on a 64 bit machine/os.

[2017-06-29 16:30] sal48 commented on #783
What is the status of this @gunthercox ? I was setting up my chatterbot to work with gitter, but that won't actually suit my needs. I'll be setting up the chatterbot as a django app this weekend.

If needed, I can either provide feedback behind what portions are currently unclear, or I can add comments to the current codebase. What would be more beneficial?

[2017-06-29 22:12] gunthercox commented on #783
I haven't started work on this yet. Any feedback regarding the current documentation and any unclear parts of it would be useful.

[2017-06-29 22:14] gunthercox commented on #760
@lashkarpalash What version of ChatterBot did you encounter this issue with?

[2017-06-29 22:49] yousifa commented on #783
Adding how add custom adaptors and configure them within django would be helpful, especially if you could provide examples on custom logic and storage adaptors.

[2017-06-30 02:18] gunthercox commented on #753
Given @sanyam8182's answer I am going to close this off. ChatterBot is a learning-based chat bot and the example above show a good example of how to get additional information from the user to teach the chat bot with.

[2017-06-30 02:18] #753 closed

[2017-06-30 08:33] bilalbayasut opened #811 "Session creation is duplicated"
Hi friends, does anyone experienced this problem :

I tried to make the chatbot to be used by multiple user

[code]
By using code above, when I do json post and retrieve the session_id, the session_id is duplicated, means that the code generates the same session_id instead of unique one.. any ideas ?

FYI for this code I use the self.bot.default_session.id_string , as it generates new session. but

[2017-06-30 11:34] #807 closed

[2017-06-30 11:35] #802 closed

[2017-06-30 19:02] guitarzero opened #812 "does ChatterBot handle context ?"
Hi,
Thanks for ChatterBot work. Very impressive.
Just a question here : does ChatterBot handle context ?
In other words, I would like something similar to have a variable set after an answer of Chatterbot . This variable then could be retrieved to select the proper Adapter. I hope i am clear.
Better explained here : https://chatbotsmagazine.com/maintaining-context-in-chatbots-2016b6a5b7c6
Thanks
S

[2017-07-01 21:48] #660 closed

[2017-07-02 01:28] #722 closed

[2017-07-02 01:28] #622 closed

[2017-07-02 01:29] #308 closed

[2017-07-02 01:47] gunthercox commented on #811
@bilalbayasut The default session id will be the same for each instance of a chat bot. You will want to generate a new id for each "user session" (however you are tracking that) that is created.

[2017-07-02 01:50] gunthercox commented on #812
Currently ChatterBot responds only within the context of the previous input. Work is being done to extend the range of the chat bot's "memory" to make responses in conversations more coherent.

#276 Is currently open for tracking these changes.

[2017-07-02 05:12] vkosuri opened #815 "Bottom to top approach for list comprehension"
With Referencing pull request comment https://github.com/gunthercox/ChatterBot/pull/809#discussion_r125018676

Yes, I agree with @gunthercox comment, readability :eyes: is very important it will gives us many advantages for example

- Catching issues will be very easier and new develop/integration will become very easier.
- Etc.

Yes sometime it is necessary to pick response also, With some hacks

[2017-07-02 13:58] gunthercox commented on #815
@vkosuri I agree that this formatting does improve the readability of the list comprehension. Feel free to create a pull request. :+1:

[2017-07-02 15:09] gunthercox commented on #797
I'm going to close this ticket off. I had thought this functionality was going to be needed in order to get the SQL Storage adapter to work but the problems that were occurring there have been resolved. I'm considering the possibility of removing the `extra_data` parameter, however I think a better way to provide similar functionality would be to allow developers to extend the existing models for

[2017-07-02 15:09] #797 closed

[2017-07-02 15:11] #539 closed

[2017-07-02 15:18] gunthercox commented on #366
I'm going to close this ticket off as the functionality mentioned is being tracked in #513

[2017-07-02 15:18] #366 closed

[2017-07-02 15:21] gunthercox commented on #241
Thank you to everyone who has contributed to the creation of the SQL Storage adapter!

[2017-07-02 15:21] #241 closed

[2017-07-02 15:23] gunthercox commented on #288
Closing this again in favor of the reasoning I've described in this comment: https://github.com/gunthercox/ChatterBot/issues/797#issuecomment-312497461

[2017-07-02 15:23] #288 closed

[2017-07-02 16:25] #683 closed

[2017-07-02 18:17] #469 closed

[2017-07-02 19:53] sal48 commented on #783
Yup, as @yousifa mentioned, the docs in the website are great for getting chatterbot integrated with Django: http://chatterbot.readthedocs.io/en/stable/django/index.html. However, I was a little lost immediately after.

After syncing  the database for chatterbot, ‘python manage.py migrate django_chatterbot’, what is the next step? I can launch the django server, but I don’t know where to initializ

[2017-07-03 04:54] bilalbayasut commented on #811
I've implemented the new session from ConversationSessionManager , but I got this error any ideas ?

  File "/home/user/.local/lib/python3.6/site-packages/chatterbot/filters.py", line 31, in filter_selection
    if session.conversation.empty():
AttributeError: 'NoneType' object has no attribute 'conversation'

[2017-07-03 17:36] davizucon commented on #339
Hi @Gokul299210, CouchDB looks interesting, I would like to test several bots instances feeding up a local instance and using master to master replication.

[2017-07-03 17:42] davizucon commented on #691
Hi @monokal, maybe I'm wrong but I think its a kind of Logic Adapter, right ?

[2017-07-03 18:24] davizucon opened #820 "Action / Intention / Execution Recognition"
I wonder if I can interact with bot and it recognize several words or phrases that fire an Action or recognize an Intention that interact with external source and give me a response.

eg:
User: How about the weather today?
Bot : <city>,<state> ... forecast today.

or: (intention)
User: I want to run outside today.
Bot : It may rain today.

or (action/execution)
User: Turn on living room lights.
Bo

[2017-07-03 18:49] vkosuri commented on #339
See some comments from other PR https://github.com/gunthercox/ChatterBot/pull/770#pullrequestreview-47294006 and https://github.com/gunthercox/ChatterBot/pull/770#issuecomment-312465339

[2017-07-03 18:50] vkosuri commented on #691
I think it would be an Input and Output adapter

[2017-07-03 19:16] vkosuri commented on #820
@davizucon My views are like this. Yes you could truly achieve this task but you have to apply some chatterbot hacks here.

The chatterbot requires some training data, You have to prepare a your train data with some external input methods for example external REST API calls. There are many open external event generators through REST  API. My suggestion google REST API event

I have described above

[2017-07-04 01:31] davizucon commented on #339
@vkosuri I see, CouchDB is very similar as MongoDB as Key-Document, I really don't know how much users will support or need it.

I'll wait to go further in this.

[2017-07-04 01:52] davizucon commented on #820
@vkosuri nice hack! Issue #482 for is very specific, anyway I'll give a try!
By the way, my initial idea would be to have something apart from the conversation,  but its ok, using your hack, it can be extended with some metadata inside it.

What you think ?

eg:.
bot.train([
    'Current weather in London',
    '{"adapter":"chatterbot.logic.SpecificResponseAdapter"},
    'Have you read the documen

[2017-07-04 02:58] vkosuri commented on #820
@davizucon I think the specified information is sufficient, I am closing off this issue, please feel free reopen if you have any specific question on this issue.

[2017-07-04 02:58] #820 closed

[2017-07-04 02:58] vkosuri commented on #811
@bilalbayasut Any further updates?

[2017-07-04 09:16] guitarzero commented on #812
Thanks for your quick answer

[2017-07-04 12:59] #812 closed

[2017-07-04 13:32] gunthercox commented on #728
I'm closing this ticket as a duplicate of #276. Feel free to click the subscribe button on that page to follow the progress for when it is resolved.

[2017-07-04 13:32] #728 closed

[2017-07-04 13:33] #772 closed

[2017-07-04 13:50] #670 closed

[2017-07-04 13:52] gunthercox commented on #631
This may have been a one time error due to a network issue. I've tested the training process locally (with the latest 0.7.0 version of ChatterBot and I can't recreate this issue.

[2017-07-04 13:52] #631 closed

[2017-07-05 02:58] bilalbayasut commented on #811
Ok I have used the conversationManager, but the weird thing is when I use the generate_response() function and add seession_id within it, somehow the generate_base_query is failed.. somehow it looks like the session_id is None

  File "/home/bilal/.local/lib/python3.6/site-packages/chatterbot/storage/storage_adapter.py", line 41, in generate_base_query
    self.base_query = filter_instance.filter_

[2017-07-05 15:37] davizucon commented on #691
You are right, for avs, should be IO adapter, lex is a full chatbot and depends which service will be used.

[2017-07-05 21:25] lashkarpalash commented on #760
been away, its v 0.6.3

On Thu, Jun 29, 2017 at 6:14 PM, Gunther Cox <notifications@github.com>
wrote:

[2017-07-06 00:08] vkosuri commented on #760
current chatterbot version is ``0.7.0``, could you try to upgrade to latest version and let me know

``pip install --upgrade chatterbot``

[2017-07-06 02:14] #798 closed

[2017-07-06 02:25] sal48 commented on #783
How is this coming along @gunthercox? I'm having issues setting up API Authorization from a separate server. (I want to create a section to allow users to interact with my chatbot from my blog, meta-game.org, hosted on a separate server.)

The easiest way to setup authorization seems to be setting up a [CSRF Token](https://docs.djangoproject.com/en/1.10/ref/csrf/), but I can't seem to get that to

[2017-07-06 02:40] gunthercox commented on #783
@sal48 I haven't started work on it yet.

It sounds like you need to allow cross-domain requests to the API. There is a number of ways to do this. I highly recommend the `django-cors-headers` package for achieving this: https://github.com/ottoyiu/django-cors-headers/

[2017-07-06 08:00] harshalgaydhankar opened #826 "Not able to import chatterbot after successful installation"
code :
[code]
error :

[code]

[2017-07-06 08:56] vkosuri commented on #826
@harshalgaydhankar which version of chatterbot version you are currently using? To know current version chatterbot use below command.

[code]

If you are unable to get ``chatterbot`` version, try to install chatterbot by using this command. If you get any permission related errors try to apped ``sudo`` if you are using ``Linux/Ubuntu`` Platforms.

[code]

[2017-07-06 18:36] telkomops commented on #686
@peterel , i gave up on the ubuntu corpus, as my ideal scenarios was to train with my internal chat conversations and hit upon the bug #759 ,kind of giving up on chatterbot for now. :(

[2017-07-06 19:59] peterel commented on #686
@telkomops I gave up on the Ubuntu corpus as well. Using the built in one and hope users will "fill up" som proper responses. Are you going with Keras or Tensorflow instead? Or is there any other similar "framework" as Chatterbot youd recommend?

[2017-07-06 22:09] gunthercox commented on #686
@telkomops / @peterel, The Ubuntu corpus is a massive data set. I think it may have been a mistake for me to add documentation and training support for it. ChatterBot isn't ready to handle that much data, yet. I'm working to improve this but the changes required to optimize these queries on large data sets are still a few releases away.

[2017-07-06 22:10] gunthercox commented on #759
@telkomops I closed this issue off because I thought it had been resolved. My apologies if this was a mistake. Are you still encountering this issue?

[2017-07-06 22:12] #801 closed

[2017-07-07 09:06] peterel commented on #686
@gunthercox Many thanks for your efforts. Chatterbot is very cool :) I do agree though about the Ubuntu corpus. Since it wont "work" with Chatterbot atm its probably better to remove it from the docs or at least make folks aware that this wont work now. The alternative is, like for me, to spend days on training and then realizing that it doesnt work. Again, thanks for your efforts!

[2017-07-07 11:04] vkosuri commented on #686
Instead removing it from chatterbot, how about moving it to https://github.com/gunthercox/chatterbot-corpus. If any users are like to use UbuntuCorpusTrainer they will use it.

[code]

[2017-07-09 19:27] filipceglik opened #830 "Cannot get response from chatterbot with Django"
Hello!

I am developing a Django chatterbot webapp with multiple dockerised bots and when I got single bot up and alive, I still can't get response from him. It is trained using my custom _training data_
![image](https://user-images.githubusercontent.com/17405814/27996871-4cc26d6c-64ec-11e7-81c1-bd0e13cb31d1.png)
and nothing happens.
![image](https://user-images.githubusercontent.com/17405814/2799

[2017-07-09 19:42] juanpialbano opened #831 "sqlalchemy.exc.IntegrityError"
**Hi, i train the bot with the same response for different input**  :

[code]

and I get :

**sqlalchemy.exc.IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: ResponseTable.text, ResponseTable.text_search [SQL: 'INSERT INTO "ResponseTable" (id, text, occurrence, statement_text, text_search) VALUES (?, ?, ?, ?, ?)'] [parameters: (None, 'Hello Good Morning', 1, 'Hi', '{"id": null, "

[2017-07-09 22:25] filipceglik commented on #830
I tried pulling the original django_app from example apps and same thing happens. When inspecting the element in browser I can see the console output displaying an error.
![image](https://user-images.githubusercontent.com/17405814/27998090-412e5dac-6506-11e7-9bc3-8a6c34b6630a.png)

[2017-07-09 22:43] filipceglik commented on #830
I managed to resolve my error by syncing database
`python manage.py migrate --run-syncdb`

[2017-07-10 01:17] juanpialbano opened #832 "How does the chatbot learn?"
Hi,

   When the chatbot starts to work and answers the questions of different users, how does the chatbot learn?

How does the chatbot get **feedback**?

How does the chatbot know if the answer was correct or not?

 Also

 What are the best practices for building a chatbot? How should it be configured?

 Should I use Adapters, Filters, etc?

[2017-07-10 01:29] Olagsfark opened #833 "ModuleNotFoundError: No module named 'chatterbot_corpus'"
**Hi; firstly i must commend your work, its amazing! Good job!!

So i ran the _tkinter_gui.py_ example perfectly well with no issues. But then i tried to train the bot with an English corpus trainer and ended up with moduleImportError.**

## Here is the final code i ran

[code]

## here is the error log

[code]

i am actually planning to integrate this bot in a live project as a replacement of a C

[2017-07-10 04:58] SinoAngel commented on #831
yes, i'm reproducing it... could anybody help with this? thanks.

[2017-07-10 07:04] vkosuri opened #834 "Issue and Pull Request templates"
I thought this feature would be useful while creating pull requests and issues. More information https://github.com/blog/2111-issue-and-pull-request-templates and https://www.talater.com/open-source-templates/#/page/1

Some examples exists here https://github.com/stevemao/github-issue-templates

@gunthercox Master, it seems to useful, I'll create PR.

[2017-07-10 07:18] vkosuri commented on #833
@Olagsfark Thank you. ``chatterbot_corpus`` will come through ``chatterbot`` requirements.

Could you please try to do update chatterbot by using  ``pip install --upgrade chatterbot``.

Still if you are seeing same error message. Try to install ``chatterbot_corpus`` individually ``pip install --upgrade chatterbot_corpus``

[2017-07-10 09:23] vkosuri commented on #832
@juanpialbano A detailed information available here http://chatterbot.readthedocs.io/en/stable/#how-chatterbot-works

However i would like add some information here on learning process.

1. Chatterbot is Retrieval-Based Bot , all retrieval-based bot are uses some [pre-defined responses](https://github.com/gunthercox/ChatterBot/wiki/ChatterBot-Corpus-Specification#data-representation-schema).

2. A

[2017-07-10 14:51] peterel commented on #686
@vkosuri Hmm, if the Ubuntu Corpus cant be used with Chatterbot, I think its better not to include it at all or at least show a "disclaimer". Otherwise, youll end up with folks spending days in training only to see it crash...which is not so good :)

[2017-07-11 02:59] gunthercox commented on #831
Hey, this is definitely a bug. Its in this file: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/storage/sql_storage.py
It may be a day or so before I get a chance to check through the code and fix it.
Sorry.

[2017-07-11 05:25] Olagsfark commented on #833
Okay, i'll follow those instructions. Thanks!

[2017-07-11 11:28] juanpialbano opened #836 "Chatterbot from a Java program"
Hi, I want to run Chatterbot from a Java program, Which is the best option?

How can I achieve that?

[2017-07-11 11:37] vkosuri commented on #836
@juanpialbano Currently there is no support on Java. However you could make other workarounds like [Django integration](http://chatterbot.readthedocs.io/en/stable/django/index.html)

[2017-07-11 11:44] gunthercox commented on #836
@juanpialbano Just to add to what @vkosuri mentioned, it is possible to build a web API that could allow a Java application to post data and get responses from a chat bot.

[2017-07-11 11:47] gunthercox commented on #811
@bilalbayasut I'm currently working on changes that will allow "sessions" to be stored in the database. They are currently only stored in memory. I'm still working on the changes but they should definitely resolve this problem.