[2014-09-29 18:37] gunthercox opened #1 "Add support for multi-person conversations"
Currently the logs in which each conversation is recorded contain the name of the speaker. These details could be used to allow the program to have a conversation with multiple people simultaneously in which each person can be replied to but the relevance of topics in the conversation still hold weight.

[2014-09-29 18:41] gunthercox opened #2 "Conversation tracking"
Currently, ChatterBot only responds to the last statement that was entered. For better conversations and more accurate responses it would be useful to track the last statements that were entered in a given conversation and use these details to determine what to say next.

Should the chatterbot's responses to the user be remembered as well? In the past these were stored in the database along with u

[2014-10-11 14:09] gunthercox opened #3 "Stop importing api key from settings at the top of the file."
Currently, api keys are loaded from settings.py at the top of the file. This has caused some issues because the program doesn't always use an api.

A way to fix this might be to:
- Change chat bot so that it takes the api key in the constructor
- Add a method which allows an api to be enabled (this one might be more flexible as more apis are used)

[2014-10-11 14:20] gunthercox opened #4 "Set up proper oAuth signature generation"
Currently post requests are failing when trying to make replies via the twitter api. This is because there isn't a valid signature for sending them. The signature is not needed for get requests, which is why it has been working so far.

[code]

[2014-10-11 15:00] #3 closed, assigned to nobody

[2014-10-11 16:28] gunthercox opened #5 "Add chat bot name to the constructor"

[2014-10-11 17:03] gunthercox opened #6 "An apostrophe is showing up at the end of bot generated text."
![image](https://cloud.githubusercontent.com/assets/2030578/4603403/50557770-5168-11e4-8eee-2e89c01dda30.png)

[2014-10-12 21:11] gunthercox opened #7 "Filter responses by tone"
It would be useful if various input statements could change the weight of which response gets selected based on the tone of the speech. As a result, if an aggressive or angry input statement is entered, a suitable response can be issued.

It may be necessary to use user responses to determine what sentiment of statement should be returned. It may not always be appropriate for ChatterBot to reply t

[2014-10-15 15:05] gunthercox opened #8 "Additional response algorithms"
These are additional methods for returning responses from ChatterBot. These methods will increase the accuracy of any possible output that the program can provide. For example, questions about a specific subject will have to be processed much differently than simple greetings. Some algorithms that would be useful to implement may include the following:

- [ ] **find_a_name()** A method designed to

[2014-10-16 13:07] #6 closed, assigned to nobody

[2014-10-16 13:33] #5 closed, assigned to nobody

[2014-10-16 19:42] gunthercox opened #9 "Create a method for returning richer result data"
This is a useful feature for connecting the chat bot to provide output through APIs.
It may be useful to change the class to include a method that returns just a string based on input
and another method which returns richer data based in the form of a dictionary.

[2014-10-17 00:25] #9 closed, assigned to nobody

[2014-10-17 15:18] gunthercox opened #10 "Selecting a response for matching input statements"
The issue is that an input statement can have several equivalent matches. It may be possible to use the history of a conversation to determine which of the possible responses is the most reasonable.

[code]

[2014-11-29 18:59] #10 closed, assigned to nobody

[2014-11-29 19:08] #1 closed, assigned to nobody

[2014-12-24 03:06] PaarthBatra opened #12 "AttributeError: 'ChatBot' object has no attribute 'get_response'"
Using amazon linux and python 2.6.9 and installed chatterBot using pip

Ran basic examples and got this error  :

[code]

Tried similarly in windows python2,7 and same issue . Any solution to this ?

[2014-12-24 16:16] PaarthBatra opened #13 "for any input bot gives output as ('bot', 'No possible replies could be determined.')"
from chatterbot import Terminal
terminal = Terminal()
terminal.log_directory="D:/python_logs/chatterbot/conversation_engrams"
terminal.begin()

and for any input i just get No possible replies could be determined. How to fix this ?

hi
('bot', 'No possible replies could be determined.')
how r u ?
('bot', 'No possible replies could be determined.')

[2014-12-25 03:57] PaarthBatra opened #14 "How to stop a termimnal chat conversation with bot ?"
Hi

This might not be a bug but rather a Question regarding bot . Can you advice How can be finish the chat with bot from terminal ?

I mean do we need to terminate the program or is there any other way like saying bye or something like that ?

[2014-12-25 16:23] #12 closed, assigned to nobody

[2014-12-26 02:23] #14 closed, assigned to nobody

[2014-12-26 16:12] #4 closed, assigned to gunthercox

[2014-12-26 17:25] gunthercox opened #15 "Twitter social integration"
ChatterBot has the capability to integrate with various social networking sites to learn from user input and also respond to input. Implementation has been specified for the following social platforms.

**Twitter**
- [x] Retrieve OAuth token for Twitter
- [ ] Reply to direct messages

**Communication**
- [x] Create statements / replies based on statements learned from social media sites.

[2014-12-26 18:56] kevin-brown opened #16 "Python 3 and python-oauth2"
Right now the tests are triggering an error on Travis because you are using `python-oauth2`, which is a library for OAuth 1 that does not support Python 3.

You may want to look into [`oauthlib`](https://github.com/idan/oauthlib) for generating the tokens, and [`requests-oauthlib`](https://github.com/requests/requests-oauthlib) for sending signed HTTP requests. It supports both OAuth 1 and OAuth 2

[2014-12-26 22:37] gunthercox opened #17 "Turing Test"
I would like to allow this program to begin to address the Turing test concept.

A few common ways that users from a study attempted to determine if an entity was a computer or a person included the following:
- Ask name
- Ask gender
- Notice repeated information
- Ask questions repeatedly to see if different answers are given
- Try to get the entity to contradict itself
- Ask math questions
- Len

[2015-01-01 12:12] PaarthBatra commented on #13
I have done some edit suggestions in the document . Please have a look . This is first time i am working on a open source project , Please let me know if i do something wrongly .

[2015-01-03 00:25] gunthercox commented on #13
Awesome, sorry for the late reply. I've read over the additions and left a few comments in the document. Let me know what you think. I'm hoping to finish up the changes for the database pull request sometime in the next few days. Once its finished I think we should be good to finalize the knowledge-base training plan. I've also added you as a project contributor, you should now have push access to

[2015-01-03 16:34] gunthercox commented on #13
Sorry, didn't mean to close this.

[2015-01-04 06:35] PaarthBatra opened #21 "MongoDB few questions"
Few questions
Once we have mongo db to replace flat files conversations

1. Do anyone who is using this project need to install its own instance of mondodb and have to open mongod.exe on their machine ?
2. Will it replace flat files or can we have both flat files and mongodb in such a way if someone dont have db installed can still use flat files conversations ?
3. Do we still need to specify logf

[2015-01-04 15:36] gunthercox commented on #21
Let me know if I need to clarify any of these. Also feel free to object to any of the planned changes, I realize that running local database might not always be convenient and while I'm not sure if there is any workarounds, I am not opposed to attempting to maintain flat file support of some kind. I want this project to be as useful as possible for everyone so any feedback is extremely helpful.

*

[2015-01-05 02:41] PaarthBatra commented on #21
That clears most of my doubts and Sorry about the typo Mongo -> Mondo .

Implementation of DB as a replacement of flat files looks great .
Only thing i can suggest is we should create a CSV file or rather have a database dump ( like database dump in oracle ) by which anyone who will use this library can import database dump and can use it with some of default conversations and we must include that

[2015-01-05 02:51] PaarthBatra opened #22 "some bug fixes"
I am still in the process of reading the chatterbot and gettting more familiar slowly .

I found some bugs like in conversations.py 's Statement class function detect_sentiment

[code]

not sure if we are using this function anywhere however it still miss a self i.e. correct one should be

[code]

similarly something wrong in

[code]

can i do a change in it and add it in a new brach or is it best

[2015-01-05 02:58] kevin-brown commented on #21
Once the MongoDB implementation settles down, and we have a semi-reasonable API, it might be useful to extract it out into an adapter, so the data storage/source location could be swappable.  Considering there are different storage types out there for conversations (IRC chat logs come to mind, among many others), it would be useful to be able to still fall back on different storage engines instead

[2015-01-05 03:37] gunthercox commented on #22
These methods aren't being used. Feel free to create a branch and make the changes as needed.

[2015-01-05 03:48] #22 closed

[2015-01-17 15:50] sgtcal10 opened #24 "How to make the chatbot remember?"
Hi i am using your chatbot but it only uses the engrams. Everything i say it does not save it just follows the engrams conversation how do i make it remember the conversation and create a engram so i can train it through talking? Like cleverbot?

[2015-01-19 13:14] gunthercox commented on #24
Can you confirm that your responses to chatterbot are being saved and that the flag for logging is set to true? (Logging is enabled by default).

[2015-01-24 21:18] #16 closed

[2015-01-25 13:57] Jay-Parker opened #26 "ValueError from converstation.py, line 100, need more than 3 values to unpack"
Never used github, so sorry if this is in the wrong place for this or format.

Seems that chatterbot is creating converstation files that contain an empty line at the end, which converstation.py tries to read. My fix was just to check the line is not empty:

            # Continue only if the file contains lines
            if lines:
                previous_statement = None
                for li

[2015-01-25 14:20] gunthercox commented on #26
Thank you, I've made the change.

[2015-01-25 14:21] #26 closed

[2015-01-25 14:51] Jay-Parker commented on #26
Wow, that was a quick response! Happy to help.

[2015-02-01 13:46] gunthercox commented on #13
This has been fixed by the changes made in https://github.com/gunthercox/ChatterBot/pull/27

[2015-02-01 13:46] #13 closed

[2015-02-03 14:03] gunthercox opened #31 "Use occurrence count of statements as a weighting factor to determine response text"
ChatterBot currently keeps count of the number of times it receives a particular statement as input. This count is not being used anywhere at the moment, however it would useful to use it as a weighting factor to determine what response should be returned. Statements that occur frequently should be returned at a roughly equal frequency.

- [x] Training should be modified to increment this count so

[2015-02-03 14:16] gunthercox opened #32 "Markov chain based response algorithm"
ChatterBot is allows alternate statement selection algorithms to be passed into it's constructor. The default selection algorithm is `engram`, which looks for the closest existing match to a statement in the database and then returns a known response to that statement.

At the moment there is a placeholder file in `chatterbot/algorithms/markov.py` that is intended to be created as an option for se

[2015-02-09 01:52] johnbaums opened #33 "Your welcome"
Is "You're" intentionally misspelt to add realism? ;)

[2015-02-10 12:19] gunthercox commented on #33
Thanks. Closed in cfdd9bc8bf02924f3f6334b6ad8faa110a4da105.

[2015-02-10 12:19] #33 closed

[2015-02-10 14:00] gunthercox opened #34 "Need to create a contributing.md file"
- [ ] How to install from GitHub
- [ ] How to install in windows
- [ ] How to develop in windows
- [ ] How to develop in Linux
- [x] Running tests, install `python-nose`

[2015-02-12 21:02] gunthercox opened #35 "Additional training sources"
These are sources that would be useful to get lots of text based information to train the chat bot with.
- https://www.gutenberg.org
  - Project Gutenberg offers a large quantity of public domain texts which can be downloaded for free. Books can be downloaded in plain text format which will be useful for training the chat bot.
- https://dumps.wikimedia.org
  - Wikipedia hosts backups of its databa

[2015-02-14 23:33] gunthercox opened #36 "When a matching response cannot be found, prefer statements with no know responses"
This will help build and enhance the knowledge base.

[2015-02-15 01:04] gunthercox commented on #31
Added in 78a9406ecc883f4cadeb620d6359982a00c1c545

[2015-02-15 01:04] #31 closed

[2015-02-15 01:07] gunthercox commented on #24
Looking into this a bit more I realized that there was an issue with common responses not being returned. The frequency at which a statement is received by the chat bot is now taken into consideration when returning responses such that more common statements are returned with precedence. This change was made for #31.

[2015-02-15 01:07] #24 closed

[2015-03-22 19:27] gunthercox commented on #32
Closed by 32bd5977a51e7ced7f0068006c65c703a8130d51
I'm closing this one off because using a markov chain based algorithm to generate new statements isn't an accurate way to produce responses to statements.

[2015-03-22 19:27] #32 closed

[2015-04-18 15:31] angelaambroz opened #38 "Weight responses by identity"
Hi - great project, I'm having fun playing around with it. (Built a small Shakespeare chat bot, feeding it Hamlet via `nltk.corpus.gutenberg` to train with.)

Would it be possible, when training the bot with a conversation between Person 1 and Person 2, to weight, say, Person 1's responses more heavily? That is, the bot would learn about context and human language, generally, from the dialogue, bu

[2015-04-18 22:34] gunthercox commented on #34
A note on nose testing has been added in the readme. The other items listed can be explained better through [existing resources](http://lmgtfy.com/?q=how+to+install+pip+in+windows)

[2015-04-18 22:34] #34 closed

[2015-04-18 22:37] gunthercox commented on #38
I'm really interested in implementing this. I've done some experiments with creating 'personas' by custom-training multiple bots. However, I think the option to have ChatterBot learn based on weighted training data is closer to how people learn (based on choosing role models).

[2015-04-19 22:03] gunthercox commented on #21
I'm closing this one off since commit f26da1bef066455c0526431fb3d9d7179ddece29 introduces an adapter class that can be used to incorporate other database types.

[2015-04-19 22:03] #21 closed

[2015-05-03 19:08] justindomingue commented on #17
*Your link is dead*

Remember that for the bot to be able to pass the Turing test, it should be able to answer questions like

    Explain why the following story is funny/absurd: "A man walks into a bar and say 'Hello, it's me!' - but it wasn't him..."

My point is that although your implementation might pass a restricted Turing test, aiming for the full version will require more semantic analysi

[2015-05-24 19:31] asya-bergal opened #40 "Pip install not finding 'requirements.txt'"
I'm getting the error "No such file or directory: 'requirements.txt'" when running `pip install chatterbot`. I think this might be because you don't include 'requirements.txt' in your `MANIFEST.in` file.

[2015-05-24 19:50] gunthercox commented on #40
Hi @asya-bergal, thank you. Including `requirements.txt` in the manifest fixed this problem. I've released the latest version of ChatterBot (0.2.0) which includes this fix.

[2015-05-24 19:50] #40 closed

[2015-05-27 02:06] asya-bergal opened #41 "Importing Terminal fails"
The command `from chatterbot import Terminal` gives me a `cannot import name Terminal` error. This also happens with `TalkWithCleverBot` and I suspect every import except for `ChatBot`.

[2015-05-27 03:11] kevin-brown commented on #41
I suspect this happened after https://github.com/gunthercox/ChatterBot/commit/ffebc964e4ff68103d5613188f5359b9f098ece8, which was part of the current efforts to split things up into individual modules.

[2015-05-27 03:46] asya-bergal opened #42 "Bot starts running slowly after several hundred responses"
On my computer the bot delays a few seconds between inputs when I train with with 1000 example lines. It gets worse the more training data there is. Is there any way to speed up the performance, or is this just the nature of the beast?

[2015-05-27 20:39] gunthercox commented on #41
These classes have been moved out of the package for the latest release. This was done in favor of keeping the main ChatBot class as abstract as possible while simultaneously introducing the concept of **adapters** for various operations.

**Example Classes**
All of the classes such as `Terminal` and `TalkWithCleverBot` have been moved into the [examples](https://github.com/gunthercox/ChatterBot/t

[2015-05-27 21:09] gunthercox commented on #42
If you install `python-cjson` ChatterBot's [default database module](https://github.com/gunthercox/jsondb) will detect it and use it instead of python's built in `json`. The [cjson module](https://pypi.python.org/pypi/python-cjson) has much better preformance and supposedly offers up to 250 times the speed when processing data.

Asside from this, as I briefly mentioned in https://github.com/gunthe

[2015-05-30 12:27] gunthercox commented on #41
I've updated the documentation in the readme for these changes. Please let me know if anything is unclear or could be improved.

[2015-05-30 12:27] #41 closed

[2015-05-31 01:00] gunthercox commented on #35
This issue is being closed due to the fact that that these data sources don't match a schema which would be useful for training a ChatterBot.

[2015-05-31 01:00] #35 closed

[2015-06-03 05:08] SethDusek opened #43 "ChatterBot issue on pypy?"
I dont know if this is an issue on Pypy only, but this is what happens:

When I start a ChatBot() session and get a response it gives me
IndexError: list index out of range

This does not happen if I use my previous database.db file.

I thought chatbot() creates a database.db file if one does not exist? This does not seem to be happening here...

[2015-06-03 14:28] kevin-brown commented on #43
Can you provide the full traceback that is triggering the `IndexError`?

[2015-06-04 00:55] brizzbane commented on #42
Discovered this project after CleverBot's api (undocumented) went down.

I work daily with Elasticsearch, I think combined w/this (only have *just* started reviewing the code), it could probably be made to scale very well.  Haven't looked yet how the JSON fields correlate to responses (FYI elasticsearch is JSON)--but I imagine the features of elasticsearch'es SEARCH could be used to greatly improv

[2015-06-07 00:50] gunthercox commented on #36
I'm closing this one off due to the fact that there is usually an existing statement that holds more relevance than one that is completely random.

[2015-06-07 00:50] #36 closed

[2015-06-10 03:40] SethDusek opened #45 "Chatterbot slows down on large databases"
So my plan was, to make a irc bot that would learn from logs and then be in the channel.

I fed it about 25k lines of logs from a large log file, and then I decided to test it out.

I asked it something, then waited for it to respond, it was taking about 40% CPU usage, and I waited an hour for it to respond. Nothing.

Also I am on PyPy so the default json library is already very fast

[2015-06-10 10:46] gunthercox commented on #45
This is a known issue. I'm working on writing database adapters for mongodb and sqllite. The mongodb adapter should be available in the next release of ChatterBot.

[2015-06-10 11:41] gunthercox commented on #17
@justindomingue You have a valid point. As I've researched this topic more in-depth I'm beginning to see a trend in the types of questions that are asked. An example might be something such as

which is actually an invalid Turing test question. The problem with it is the assumption that the machine can't define the meaning of life because it isn't alive. In reality, producing a definition to answe

[2015-06-21 11:28] gunthercox opened #46 "Response list structure"
Each statement object that ChatterBot stores contains an attribute for referencing each statement that it has been used to respond to.

In the future, the `in_response_to` list should become a dictionary of the response statements with a value of the number of times each statement has occurred. This should make selecting likely responses more accurate because we can see how common one response is

[2015-06-23 22:44] dambros opened #47 "How is the database created and how can I change it?"
I am doing some research on chatting bots for studying purposes, but I have never done any Python programming before and coming from a Java background, the database creation is pure black magic to me. Can you please point me in a direction on how I can add 1 additional "column" to the list of values stored?

I need to add a "score_value" to the database so I can measure how many points an user mad

[2015-06-24 00:39] gunthercox commented on #47
Hi @dambros, the default _database_ used by ChatterBot is just a json formatted file. You shouldn't need to make any adjustments to the database itself in this case. I recommend you checkout the `get_response_data` method in the main `ChatBot` object (chatterbot.py). Around line 70 of this file you will see that I assign a few values like this:
[code]
These are the attributes that are being saved

[2015-06-24 01:41] dambros commented on #47
That did what I wanted. Thanks for your help :D

[2015-06-24 01:57] dambros commented on #47
Just one more thing, how can I change the train method to allow passing a score?

[2015-06-24 02:07] gunthercox commented on #47
For this you will want to modify the `train` method in the `StorageController` class. You can assign the score in the same way in this method. Since the train method in the `ChatBot` class calls the train method in the `StorageController` class, you may want to modify it to take an additional parameter for the score.

[2015-06-24 02:18] dambros commented on #47
Thanks.

[2015-06-24 02:18] #47 closed

[2015-07-11 04:35] Xuefeng-Zhu opened #48 "terminal.py does not work"
[code]
When I try to run the example/terminal.py, it gives me above error

[2015-07-11 12:52] gunthercox commented on #48
Hi @Xuefeng-Zhu, I just pushed up [a commit](https://github.com/gunthercox/ChatterBot/commit/0ab60a4330daf727f88bb89dd9ce4abd31b6f89e) that fixes the issue here. The problem was that the wrong name was being called for a keyword argument in the main `init` method.

[2015-07-11 12:52] #48 closed

[2015-07-15 12:29] gunthercox commented on #43
@SethDusek any word on this?

[2015-07-15 14:22] SethDusek commented on #43
I decided to give it a try.
Here's the full log
kamal@vaio ~ $ pypy
Python 2.7.3 (2.2.1+dfsg-1ubuntu0.2, Dec 02 2014, 23:00:55)
[PyPy 2.2.1 with GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.
And now for something completely different: ``PyPy is like absurd theater''

/usr/local/lib/pypy2.7/dist-packages/fuzzywuzzy/fuzz.py:33: UserWarning: Using slow pu

[2015-07-22 01:16] gunthercox commented on #43
I've confirmed this issue. This has been fixed [here](https://github.com/gunthercox/ChatterBot/commit/a234dffb9d74af4d139ad03e8b6cb5b9f062cc4f) and a new test case has been added to ensure that it does not occur again in the future.

These fixes will be available on PyPi in the next release.

[2015-07-22 01:16] #43 closed

[2015-07-22 01:23] gunthercox commented on #42
Closing this one off as it is a duplicate of https://github.com/gunthercox/ChatterBot/issues/45

[2015-07-22 01:23] #42 closed

[2015-08-23 13:24] gunthercox opened #49 "Corpus for conversation training"
It would be useful to have a corpus available to use for training ChatterBot instances. Here are a few possible sources to investigate.

- http://www.imsdb.com/
- http://www.simplyscripts.com/
- http://sfy.ru/
- http://script-o-rama.com/table.shtml
- http://dailyscript.com/
- http://opensubtitles.org/
- http://subscene.com/

via  http://opendata.stackexchange.com/questions/5589/movie-script-databa

[2015-08-27 14:01] shambolic opened #50 "Terminal Example"
probably a simple oversight, but trying to run your terminal example i get the following error:
`AttributeError: 'ChatBot' object has no attribute 'get_input'`

have successfully imported the module and 'dir'd around the objects a bit, but can't see a get_input method anywhere. do i need to explicitly import Terminal?
thanks!

[2015-08-28 01:46] gunthercox commented on #50
Sorry, this is because the version of ChatterBot on PyPi is behind the version of ChatterBot on master. I plan on doing a release of the next version of ChatterBot within the next week. Until then I recommend downloading the current copy of the repo from github, and installing it locally via `pip install . --upgrade`.

I apologize for the inconvenience, I hope this solution helps.

[2015-08-29 07:24] shambolic commented on #50
great. that's done it.  sorry if that was documented elsewhere.  keep up the good work!

[2015-08-29 07:24] #50 closed

[2015-09-06 23:42] gunthercox commented on #45
Greetings! Just to provide an update, https://github.com/gunthercox/ChatterBot/pull/51 adds support for connecting ChatterBot to MongoDB which should yield significant performance improvements on large databases.

[2015-09-06 23:43] #45 closed

[2015-09-07 10:07] SethDusek commented on #45
Okay I'll give it a try, thanks!

[2015-09-12 12:36] gunthercox commented on #15
Originally, I was also considering the creation of methods to retrieve data and interact with people through the APIs of Google+, Discus, and GitHub. I'm going to hold off on those for now until I can determine how well each platform will work as a potential source of training data and a medium for communication.

[2015-09-17 01:22] DarkmatterVale opened #57 "Use Semantic Folding Engine to compare text"
Using Cortical.io's ( http://www.cortical.io ) Semantic Folding Engine, the chat bot might be able to get better performance when identifying the best response for a given input. I'm not sure how well this would work, but it is definitely something to consider.

I'm still researching this, so I'll hopefully have more details on this soon. Have you heard about this before @gunthercox ?

[2015-09-17 14:32] gunthercox commented on #57
I haven't heard about this before but it looks very interesting. This might work well as a new logic adapter that takes Cortical's API credentials as a keyword argument.

[2015-09-17 15:36] DarkmatterVale commented on #57
That's exactly what I was thinking.

It should be pretty simple to get it to work, but I don't know how effective it would be. Cortical.io seems to relate some similar words to each other very well, but not well for others ( I'm using their demos to explore ). Hopefully I'll get a chance within a couple of days to try to add a logic adapter for this, as long as you would not like to do it yourself

[2015-09-17 23:28] gunthercox commented on #57
Feel free to explore this, I will be traveling for the next four days and won't have a chance to thoroughly experiment with Cortical's API. From what I've seen so far it sounds extremely promising. Keep me posted with what you come up with.

[2015-09-23 10:20] vikas17a opened #58 "default database.db gives KeyError: 'in_response_to'"
Hi when i tried running chatterbox with default data base it exits with KeyError: 'in_response_to'
[code]

[2015-09-23 12:10] gunthercox commented on #58
I believe the included database contains a validation error. I haven't been able to isolate where exactly it is. My plan to correct this is to remove the included database in a future release of ChatterBot and to add a corpus of training material that can be used to easily populate a database.

My recommendation in the mean time is to use a different database than the one that comes included with

[2015-09-26 21:58] gunthercox opened #59 "Google hangouts adapter"
It would be really cool to have an IO adapter for ChatterBot that makes it possible for a chatbot instance to communicate through the Google Hangouts API.

It may be useful to look at https://github.com/hangoutsbot/hangoutsbot

Pull requests welcomed if anyone is interested.

[2015-09-26 22:01] gunthercox opened #60 "IRC adapter"
It would be interesting to have an IO adapter for ChatterBot that makes it possible for a instance of the program to communicate through an IRC client. I don't have a lot of experience with IRC, but this would be a great addition and a pull request would be welcomed if anyone is ever interested.

[2015-09-27 02:33] Akagi201 opened #61 "Add nltk and python-Levenshtein in requirements.txt"
I tested it on my Mac OS X.
It needs these two packages to run.

[2015-10-06 21:22] gunthercox commented on #2
Commit 177ad7b314f56039f27f8b05f83a3f7b7d48448d introduces a parameter to pass the current conversation into the logic adapter. This makes it possible to access this information from within a future logic adapter that will make choices in based on the context of the current conversation.

[2015-10-07 01:28] #61 closed

[2015-10-09 08:48] SethDusek commented on #60
You should take a look at the twisted framework

[2015-10-10 01:34] #49 closed

[2015-10-10 01:34] #58 closed

[2015-10-10 13:11] DarkmatterVale commented on #57
Sorry for the late reply....Got caught up in some other work. I will be testing this weekend, and will let you know how it goes.

[2015-10-10 13:38] gunthercox commented on #57
Awesome, let me know how it goes.

[2015-10-17 19:39] #46 closed

[2015-10-18 11:10] muatik opened #64 "which dialogue algorithm is adopted in this project?"
I am curious about which of the following features are available;

* enriching or at least retaining a context during a dialogue
* learning from humans
* making prediction or/and deduction based on available knowledge

Another thing is: Is it just simple statement matcher in which user questions and bot questions have to be the exactly same?

For instance, suppose i trained the bot with:
q: "where

[2015-10-18 12:37] gunthercox commented on #64
ChatterBot currently supports two different dialogue algorithms.

The first is the _closest match_ algorithm that determines the similarity between the statement provided by the user and a set of known statements. For example, based on the sample input you provided, there is a 65% similarity between `"where is the post office?"` and `"looking for the post office"`. The closest match algorithm sele

[2015-10-18 17:37] muatik commented on #64
:+1: very detailed explanation. I couldn't find this information anywhere, maybe you can consider to present it in this project's wiki pages.

[2015-10-18 19:08] gunthercox commented on #64
Thank you, I am planning on making these updates to the documentation soon.

[2015-10-18 19:29] DarkmatterVale commented on #57
I'm currently in contact with them and trying to work out some issues/enhancements with the Python-SDK.

Is there currently any way to send information to a LogicAdapter? To add this as a logic adapter, an API-Key will be required to be given to the logic adapter.

[2015-10-18 20:00] gunthercox commented on #57
Yes, here is how I would recommend setting this up.

Lets say we create a new ChatBot instance like this:
[code]
Note the last parameter being passed in (` cortical_api_key`). ChatterBot passes all keyword argument parameters to it's adapters. This means you can access these from inside your logic adapter (or any other adapter for that matter).

Then, your new logic adapter would likely look somet

[2015-10-19 00:33] gunthercox commented on #64
I have updated these sections in the wiki. Thank you for posting these questions, please let me know if there is anything else I can improve or clarify.

[2015-10-19 00:33] #64 closed

[2015-10-19 20:03] muatik commented on #64
I near future, I may make some contribution to this project because I am planning to use something similar to  chatterbot in one of my spare time works. Thank you.

[2015-10-19 20:15] gunthercox opened #65 "Closest Meaning Logic Adapter improvements"
The [Closest Meaning Logic Adapter](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/closest_meaning.py) currently only checks the path similarity between the first synset for each word (`synset1[0].path_similarity(synset2[0])`). This heuristic might be more accurate if it selected the maximum (shortest path) pair of synsets for the two words.

Because this operation

[2015-10-19 20:21] gunthercox opened #66 "Support additional data on response object"
Serialized response lists should be a list of json objects so that additional data such can be added in the future.

Current format:
[code]

New format:
[code]

[2015-10-19 22:23] DarkmatterVale commented on #66
This sounds like a good idea. You might also want to think about providing the POS tags of the sentence in the new format. Although it only takes a short amount of time to calculate part of speech for every word, on databases that are large that time could add up. The format that I propose would be something similar to this:

[code]

[2015-10-19 22:40] DarkmatterVale commented on #65
Why did you decide to go with path_similarity as opposed to wup_similarity? The advantage of wup_similarity is that it predicts based on the most specific sense of the word, which might give you a better result depending on what synsets are available for any given word.

[2015-10-20 11:20] gunthercox commented on #65
Thank you, I didn't know about `wup_similarity` until now. I will look into it.

[2015-10-20 11:23] gunthercox commented on #66
@DarkmatterVale Definitely, I agree.

[2015-10-20 22:54] DarkmatterVale commented on #65
No problem! Let me know if I can help in any way. Give me a little lead time though, because I'm currently working on adding a logic adapter for using SVO comparisons ( which requires I redesign part of my regex4dummies library, so its taking a little while ).

[2015-10-22 12:29] zeandrade opened #67 "Basic usage : AttributeError: 'module' object has no attribute 'english'"
In [5]: chatbot.train('chatterbot.corpus.english')

AttributeError                            Traceback (most recent call last)
<ipython-input-5-508e33bbf87d> in <module>()
----> 1 chatbot.train('chatterbot.corpus.english')

/usr/lib64/python2.7/site-packages/chatterbot/chatterbot.pyc in train(self, conversation, *args, **kwargs)
    150
    151             if corpora:
--> 152                 self

[2015-10-22 12:49] DarkmatterVale commented on #67
I just tested my installation and got the same issue.

[2015-10-23 12:45] gunthercox commented on #67
I can confirm as well. Interestingly it appears that the [unit test for this](https://github.com/gunthercox/ChatterBot/blob/master/tests/training_tests/test_training_from_corpus.py#L23) is passing.

I believe the issue has something to do with relative / non-relative import paths being loaded in the corpus utility module: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/corpus/utils

[2015-10-23 13:51] zeandrade commented on #67
thank you @gunthercox

[2015-10-25 13:01] gunthercox commented on #67
I am continuing to look into this issue. I am still trying to debug what is going on here.

What I am seeing is that the corpus modules are being imported differently depending on where the method is called from.

I can currently duplicate both successful and failing module imports by running either:
`nosetests tests/training_tests/` (failing)

or just `nosetests` (passing).

[2015-10-26 18:36] jamdagni86 opened #71 "Chatterbot returns a random answer when asked the same question (similar to the one in the training set) multiple times"
When the Chatterbot is asked a question (similar to the one present in the training set), it returns the proper answer only once. After that, it returns a random answer.

[2015-10-28 01:05] gunthercox commented on #67
Hi @zeandrade, this should be all set now. I've switched from using python imports to simply traversing the data directory of files. This makes things much easier to work in general and corrects the issue with the import location you encountered.

[2015-10-28 01:05] #67 closed

[2015-10-31 01:15] Thetoxicarcade opened #73 "corpus data dne?"
When I try to train using the example in the readme, I get this error:

code:

[code]

output:

[code]

is something just not installing?

[2015-10-31 21:07] gunthercox commented on #73
Hi, it appears that the corpus data files were not included in the package. I've corrected the issue by including them in the project's `MANIFEST.in` file.

You should now be able to upgrade to chatterbot 0.2.9 where this should now be fixed.

[2015-11-02 16:50] Thetoxicarcade opened #74 "python-levenshtein as recommended requirement"
bot throws errors for pure python parsing.

should python-levenshtein be a requirement when installed?

[2015-11-02 20:10] gunthercox commented on #74
python-levenshtein unfortunately cannot be a requirement. It has to remain optional because it a c extension and it currently fails to build on most windows operating systems.

[2015-11-04 00:07] #74 closed

[2015-11-04 00:08] #73 closed

[2015-11-08 22:24] DarkmatterVale commented on #57
That sounds like a very elegant way of doing this. Much more elegant than how I would have done it had I not have talked this through :)

As soon as they give some documentation (which is still apparently on their "backlog"), I will get right on this and add a new logic adapter. Sorry for the delay!

[2015-11-08 23:51] gunthercox commented on #57
No problem

[2015-11-09 16:16] DarkmatterVale opened #78 "SVO Logic Adapter"
It turns out I made a minor mistake going with Pattern. Since it is not available on Python 3.x yet, we will need to change the logic adapter to use another SVO triplet identifier. We can use nlpnet, but that contains a fairly large dependency file which I am not sure is worth it. If that doesn't work, we could use a simple SVO triplet identifier I created using NLTK's built-in POS Tagger, but I a

[2015-11-09 21:00] DarkmatterVale commented on #8
Would you mind if I took a look at evaluate_mathematically and tried to add that?

Also, just a few comments/questions that I would like to add.

1) How do you plan on choosing which algorithms to apply? Even though you save the input, how will the chatbot know which input to actually use?
2) How will you feed information to the find_a_name() method? For example, how would you train the bot to ans

[2015-11-09 22:00] gunthercox commented on #78
Sorry, I noticed this too after merging yesterday and didn't get a chance to respond. It looks like tests didn't run on the pull request so I never got a notification about the python 3 issue.

Nlpnet had a few python 3 compatibility issues as well that I was able to open a pull request to fix
(https://github.com/erickrf/nlpnet/pull/18). I also agree that the dependency file is rather large for nl

[2015-11-09 22:10] DarkmatterVale commented on #78
Yes, and for that reason I'm leaning towards not implementing nlpnet. You can check out my current implementation here https://github.com/DarkmatterVale/regex4dummies/blob/master/regex4dummies/semantic_parsers/nltk_parser.py . It is a little rusty, but with some improvement we might be able to get it to work solidly for a large percentage of sentences.

Good idea to move the commits over to a new

[2015-11-09 22:21] gunthercox commented on #78
That's ok, new branch is up at https://github.com/gunthercox/ChatterBot/tree/svo

[2015-11-09 23:50] gunthercox commented on #8
Sure, the only thing I can think of for mathematical evaluation is that you should decide ahead of time if you just want to deal with numbers and operators, or a combination of those and words. Such as seven + 8.

For the other questions,

1) I am currently unsure about how to logically determine which algorithm to apply. This feature requires an element of trail and error testing that is not curr

[2015-11-11 13:21] DarkmatterVale commented on #8
Ok. I will take that into account.

Sorry for all of the changes on the commits....Github is not cooperating with me right now...

[2015-11-13 09:28] Thetoxicarcade commented on #73
you're awesome :) <3

[2015-11-15 14:46] DarkmatterVale opened #79 "PyPi text formatting"
@gunthercox  Just an FYI that the text is not formatting properly on PyPi.

https://pypi.python.org/pypi/ChatterBot/0.2.9

[2015-11-15 14:47] DarkmatterVale commented on #78
Thank you for moving it. I will close this issue since it is not affecting the main branch anymore.

[2015-11-15 14:47] #78 closed

[2015-11-15 23:54] gunthercox commented on #79
I am aware of the issue. It is due to an improper conversion of `.md` format to `.rst`. I have been meaning to figure out what line the problem is happening on but haven't had time yet. Thank you.

[2015-11-16 00:07] DarkmatterVale commented on #79
Awesome; I just wanted to make sure you were aware of the problem.

[2015-11-23 17:58] DarkmatterVale commented on #66
Have you had a chance to work on updating this? If so, what have your results shown? Is there any performance improvement using the current logic adapters?

[2015-11-23 18:18] gunthercox commented on #66
I haven't had a chance to work on this yet. I was thinking of implementing it over this upcoming weekend.

[2015-11-23 18:35] DarkmatterVale commented on #66
Ok, just checking in...

[2015-11-24 14:46] #71 closed

[2015-11-28 16:18] gunthercox commented on #79
This issue has been corrected in the release of ChatterBot v 0.3.0.

[2015-11-28 16:18] #79 closed

[2015-11-29 19:31] gunthercox opened #85 "Multiadapter support"
This ticket introduces the road map for the next set of major changes to ChatterBot. Multiadapter support is the addition of the ability for ChatterBot instances to be configured with any number of each type of adapter.

- [ ] Storage adapters
- [x] Logic adapters
- [x] Input/Output (IO) adapters

# Storage Adapters

Multi adapter support for storage adapters means that it will be possible for Cha

[2015-11-29 20:09] nielsole opened #86 "0.3.0 cannot be installed via pip"
`raise ValueError("Expected "+item_name+" in",line,"at",line[p:])
ValueError: ('Expected version spec in', 'requests ~=2.8.0,<3.0.0', 'at', ' ~=2.8.0,<3.0.0')`

I am using Python 2.7
0.2.9 installs just fine

https://github.com/gunthercox/ChatterBot/commit/750721d75afe4e403e773cb4ce68ca4a6c3e4054 seems to contain the malicious change

`~=` syntax does not seem to be valid syntax!? (https://pip.rea

[2015-11-29 20:55] gunthercox commented on #86
Thank you, I have removed the requirements for requests and requests-oauthlib because these are not actually used anywhere in the project anymore.

I will be releasing version 0.3.1 later tonight because there was additional errors in the 0.3.0 release.

[2015-11-29 23:38] gunthercox commented on #86
Version 0.3.1 has been released to pypi.

[2015-11-29 23:38] #86 closed

[2015-11-30 09:43] bloodywing commented on #60
There are a lot for python, I can try to write one. I already did some irc stuff in the past with python. But never really used twisted for this. Only circuits so far, which is async as well. The most straight forward way would be to use socket. http://wiki.shellium.org/w/Writing_an_IRC_bot_in_Python Without adding the twisted dependency or one for any other library. Keep in mind that the bot need

[2015-12-01 00:47] gunthercox commented on #60
I would be more than happy to accept a pull request if this can be accomplished. I have had people ask me about this before which is why I created the ticket. Again, I don't know a ton about IRC so I can't offer much help if you want to look into this.

One idea which might help is that I have been considering designing an adapter for email communication. The structure is set up so that there is a

[2015-12-01 00:55] bloodywing commented on #60
I doubt that. IRC has a constant stream which you buffer periodically. I doubt your email adapter works like that. (If I understand the irc protocol correctly)

[2015-12-02 13:58] DarkmatterVale opened #89 "Speech IO adapter"
It would be a great addition to have an IO adapter for speech-to-text and text-to-speech. This would allow people to use ChatterBot in more situations and with less work.

- [ ] STT Adapter
- [ ] TTS Adapter

This is a pretty complicated addition, but the Jasper project does a great job implementing STT and TTS functionality. Some information about their user interaction ( how it can be configured

[2015-12-02 21:18] gunthercox commented on #89
Text to speed and speech synthesis would be an awesome addition.

[2015-12-02 21:24] #15 closed

[2015-12-05 01:46] DarkmatterVale opened #90 "Additional Plugins"
In addition to evaluate_mathematically, there are many other plugins that would be really nice to have. @gunthercox Do you have a preference for the type of plugins you would like ChatterBot to have? For example, are you alright with having plugins for time?

If so, here is a list of plugins that I would like to implement ( over some long period of time ;) ):
- [x] Time = Get the time ( current, f

[2015-12-05 14:34] gunthercox commented on #90
These all sound great. I can't think of any additions at the moment, but I will make a comment if I do.

[2015-12-05 16:00] gunthercox commented on #17
Just wanted to post a few more thoughts here.

1. **Testing awareness of own knowledge.** In this case if the entity being tested confirms competency to answer a given question, then it should be able to answer the question when it is asked. This also could be modified to ask a more generalized version that questions if the entity knows how about a general subject, for instance _do you know how to

[2015-12-06 22:45] #66 closed

[2015-12-07 05:37] LucasZielke commented on #90
Instead of having to manually tell the program that it has to run these input, would it not be a little easier to have like a form of inline python parsing?

[2015-12-07 08:59] gdunstone opened #92 "NLTK find looks for the wrong thing in closes meaning logic adapter"
Changing to this in `__init__.py` fixes the issue:
missing was corpora and tokenizers in find calls.
[code]

[2015-12-07 09:02] gdunstone opened #93 "O(n2) in ChatBot.get_response"
[code]
Pretty sure this is very inefficient when dealing with larger datasets

changing to this does what the comment says (and is much faster):

[code]

[2015-12-07 12:16] DarkmatterVale commented on #90
Can you please elaborate on the implementation of such a system?

[2015-12-07 13:55] DarkmatterVale commented on #8
I'm going to be swamped for a little while because of Google Code In, but I will try to work on find_a_name() and get that done by the end of December. I will post a comment containing the specifics for how I plan to develop the algorithm to find a name ( or fact ) as soon as I can.

[2015-12-07 13:58] gunthercox commented on #8
Awesome, I will be interested to see what you come up with!

[2015-12-07 20:07] The-Penultimate-Defenestrator opened #94 "Train with dynamic responses using functions"
It'd be great if you could use functions (which return strings) in trainining dialog.

Example:
[code]
Chatterbot could recognize that `time` is a function, not a string, and then return the result of calling that function in response to the question of "what time is it". That way, I could get the real time and date back from asking what time is it.

[2015-12-07 20:25] DarkmatterVale commented on #94
This sounds like a very good idea. I will work on implementing this in the plugin_chooser class.

[2015-12-07 20:26] DarkmatterVale commented on #90
@LucasZielke See #94 for a great way to train the bot to certain inputs ( and results ). I will work on providing details as soon as I can get some time to work on this.

[2015-12-07 20:27] The-Penultimate-Defenestrator commented on #94
If added in the plugin_chooser class, how would this look if used in code? Would it look like my example or different? Also, if you don't mind my asking, how long (as a rough estimate) might it take to implement? If it's longer than a week, I might attempt to modify the code myself.

[2015-12-07 20:31] The-Penultimate-Defenestrator commented on #94
I have a few friends and myself in a [discord](https://discordapp.com) chat, which uses the [discord API](https://github.com/Rapptz/discord.py) to implement chatterbot. I'm finding that having a few people regularly interacting with it through a system that is designed for easy communication is a great way to train the bot. I really love your project, very helpful.

[2015-12-07 21:20] LucasZielke commented on #94
@DarkmatterVale This is sorta what i encouraged the inline parsing for, by that i mean
[code]

So that when training the bot, you would set the output as (in the time case)

"  The time is [import time;return time.strftime("%a, %d %b %Y %H:%M:%S")]   "

[2015-12-07 21:50] DarkmatterVale commented on #94
@LucasZielke I see what you mean. This might be kind of difficult for large plugins, however, because then the code could get very long. Maybe this could be used for shorter plugins though as a quick and easy way to get a fast response.

@The-Penultimate-Defenestrator You would have to train the bot to determine what plugin is valid given an input. Then, the bot would find the plugin with the high

[2015-12-07 22:26] The-Penultimate-Defenestrator commented on #94
Ok. Can you add some doc strings into the example PluginAdapter plugin class? I understand what should_answer does, but not what process does. Does process return another string that is passed again to the response algorithm, or return the final answer?

[2015-12-08 00:52] LucasZielke commented on #94
process seems to return the input value = and then answer, so:
one plus 3 times 5 = 16

[2015-12-08 01:04] LucasZielke commented on #85
In the case of the multiple logics wouldnt this require it to completely restructure its internal "thoughts" after every input?

[2015-12-08 01:11] gunthercox commented on #85
@LucasZielke What brings you to that conclusion?

[2015-12-08 01:31] gunthercox commented on #92
Currently there is some very similar code in https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/closest_meaning.py#L18

I will check this out, wondering if it might be an NLTK version related issue.

[2015-12-08 01:36] gunthercox commented on #93
Awesome point! Feel free to make a pull request, otherwise I will make sure to add it in a commit before the next release.

Thank you!

[2015-12-08 02:16] The-Penultimate-Defenestrator commented on #94
thanks, @LucasZielke. I'll take a look, see what I can figure out.

[2015-12-08 20:41] The-Penultimate-Defenestrator opened #95 "Transfer database from JSON to MongoDB"
I have a JSON database with 1000+ responses, and even after installing `python-cjson` it's still pretty slow. From what I understand, MongoDB is much faster. Is this correct, and is there an easy way to switch between the two

[2015-12-09 02:37] LucasZielke commented on #95
If i was reading correctly you should just be able to insert the raw json file into mongo db and it seems to be structured pretty simmilarly but you should probably try to restructure your json file to follow the same format as @gunthercox 's files are before, so that we can code the bot to grab the info from the db the same way it grabs from local

[2015-12-09 12:05] The-Penultimate-Defenestrator commented on #95
So, if I have my local database, how programmatically do I "insert the file into mongo DB"?

[2015-12-09 19:03] LucasZielke commented on #95
Try this
[code]

[2015-12-09 20:33] LucasZielke commented on #95
Think of a MongoDb as a json file structured like
[code]

[2015-12-09 22:01] The-Penultimate-Defenestrator commented on #95
So, if I understand correctly, mongoDB is web based? What makes it faster than JSON? Also, if it's not too bothersome, how can I put the JSON into a dict? Should I use [json_util](http://api.mongodb.org/python/current/api/bson/json_util.html) from MongoDB?

[2015-12-09 22:52] LucasZielke commented on #95
Ive never used the json_util but if im correct
[code]
jsonData should be a dict

[2015-12-09 22:55] The-Penultimate-Defenestrator commented on #95
OK, great. I'll look into this

[2015-12-09 23:01] LucasZielke commented on #95
Ok, push it into your fork of the project and mention me, i want to see what youre doing  with it, and the json file

[2015-12-10 00:49] The-Penultimate-Defenestrator commented on #95
Ok. I'm actually not planing to integrate this into my fork, but instead into my personal bot which is slowing down. My fork will likely just include changes to the actual library, this is code I'd like to run once to make a change. My fork will likely just be support for dynamic responses through functions, which I'd like to implement into `train` rather than as a plugin.

[2015-12-10 06:27] LucasZielke commented on #95
Might i suggest implementing both, as i was saying prior, have inline parsing for the bots output and train it with code inside [ ] 's

https://github.com/gunthercox/ChatterBot/issues/94#issuecomment-162667398

[2015-12-10 11:50] The-Penultimate-Defenestrator commented on #95
I'll see, I'm really just modifying for one personal project. I'll see how it goes.

[2015-12-11 00:45] The-Penultimate-Defenestrator commented on #95
It seems like kind of a limitation that under MongoDB, keys cannot contain the `.` character

[2015-12-11 02:43] LucasZielke commented on #95
What would the reason you would put a `.` in your db??

[2015-12-11 02:56] The-Penultimate-Defenestrator commented on #95
Some responses have multiple sentences and therefore periosd

[2015-12-11 17:19] LucasZielke commented on #90
Might i suggest like a micro dictionary function in there like:
input: Do you know what the word _____ means?
Output: Yeah, that means _________

[2015-12-11 17:29] DarkmatterVale commented on #90
That is similar to the "find_a_name()" function, just a broader dictionary. I think the function you are describing should become an evolved version of the find_a_name() function.

@gunthercox Sorry for being gone for so long! I am still at the beginning of GCI ( which will last through January ), and am having a lot of trouble finding time for everything. I will try and get some stuff done, but t

[2015-12-12 13:04] gunthercox commented on #90
@DarkmatterVale Not a problem, these next few weeks will likely be very busy for me as well. Good luck with your coding!

[2015-12-12 13:17] gunthercox commented on #95
Hi guys, sorry for the late response. If you are still looking to migrate from jsondb to mongo then I believe the following code snippet should help quite a bit.

[code]

[2015-12-12 17:09] The-Penultimate-Defenestrator commented on #95
That looks great. I was previously unsuccessful, I tried making my own database, and naming the collection 'statements' as in the code for the storage adapter. I'll try this and we will see how much faster Mongo is than JSON

[2015-12-12 21:17] The-Penultimate-Defenestrator commented on #95
@gunthercox Although MongoDB makes response time at least 3 times faster, it appears everything has been mixed up in transferring. An example conversation with the newly trained mongo bot:

Bot: Yes I am
Me: What's up?
Bot: 1963
Me: Hello
Bot: Or is it?
Me: What's your name
Bot: How old are you?

Having a similar conversation with the old JSON bot:

Bot: FROM THE OTHER SIDE
-Adele
Me: What's up?
B

[2015-12-12 21:59] The-Penultimate-Defenestrator commented on #59
I'm already running a chatbot through [discord.py](https://github.com/rapptz/discord.py). I'm running this as a separate script, but maybe it would make sense as an IO adapter?

[2015-12-13 15:40] gunthercox commented on #95
I will look into this. This may indicate an issue with the mongodb adapter.

[2015-12-13 15:45] gunthercox commented on #59
That looks promising! I will have to check out how they are accomplishing their [event handling](https://github.com/Rapptz/discord.py/blob/master/examples/reply.py) but something like that may work well.

[2015-12-13 15:48] The-Penultimate-Defenestrator commented on #59
I'm pleased with how my bot is working out. The repo in which I've written my code is [here](https://github.com/The-Penultimate-Defenestrator/bergerbot) if you want to take a look at how I'm using discord with chatterbot

[2015-12-13 15:50] The-Penultimate-Defenestrator commented on #95
I also have had some issues training it with the text of shakespeare's Julius Caesar, but assumed that was an error on my part... I'll check whether I get the intended behavior with a JSON database, which would indicate an issue with the MongoDB adapter.

[2015-12-13 16:25] The-Penultimate-Defenestrator commented on #95
It appears that the MongoDB adapter does have some issues. Training with the text of Julius Caesar, under the JSON database I get:

**Me:** Peace, Ho! Let us hear him!
**Bot:** Friends, Romans, countrymen, lend me your ears;
I come to bury Caesar, not to praise him.
The evil that men do lives after them;
The good is oft interred with their bones;
So let it be with Caesar. The noble Brutus
Hath tol

[2015-12-13 21:27] gunthercox commented on #95
I believe I have tracked down the issue. Response objects on each statement were being returned as a dictionary instead of a normalized list of objects when the filter method was being called. https://github.com/gunthercox/ChatterBot/pull/96 should correct the problem. I will merge it as soon as tests pass.

[2015-12-14 00:59] The-Penultimate-Defenestrator commented on #95
Great! I look forward to being able to use faster databases reliably!

[2015-12-14 01:58] The-Penultimate-Defenestrator commented on #95
Issue appears to be fixed, and MongoDB shows ¼ the response time, yay! Thanks for your help, all.

[2015-12-14 02:10] The-Penultimate-Defenestrator commented on #95
Not quite, appears you forgot to convert to dict in line 41 of `jsondatabase.py`. I think it's likely you left `response` as a list when you meant to change it to a dict. You call `text = response["text"]` on line 41, which raises an error, because `response` is a list, not a dict and cannot be indexed by a string. Either you meant `text = response[text]` where text is an integer, or you meant for

[2015-12-14 06:20] LucasZielke commented on #60
What I have researched of IRC is that it requires you to "Pong its Pings", which could really be a problem if you start to get more and more information in your database (because of processing time), so you would have to have it ping ponging and trying to find a proper response for the message in a different thread or vice versa

[2015-12-14 09:08] bloodywing commented on #60
In IRC your database can get easily > 1.3MB which gave me a processing time of more than 20 Minutes for a single response, even with MongoDB.

[2015-12-14 12:24] The-Penultimate-Defenestrator commented on #95
This means that conversation with JSON database is broken completely... I cannot have a conversation with my bot from before the update.

[2015-12-14 17:49] gunthercox commented on #95
@The-Penultimate-Defenestrator I'm not seeing this error on my end, and the code appears correct.

To explain what is being done circa line 41:
[code]

Can you post the stack trace you are getting?

[2015-12-14 18:22] The-Penultimate-Defenestrator commented on #95
Yes, my stack looks like:
[code]

[2015-12-14 19:43] gunthercox commented on #95
I apologize, I'm fairly certain I just figured out what the issue is. There was a schema change in the json database format the also got released in 0.3.2. (https://github.com/gunthercox/ChatterBot/pull/84). The change improves response object representations to make them more flexible, however it breaks backwards compatibility.

[2015-12-14 19:52] The-Penultimate-Defenestrator commented on #95
"breaks backwards compatibility" does this mean I cannot use a previous database with the new format? If it only breaks backwards compatibility, why is an error thrown on the simple usage I included above:

[code]

[2015-12-14 20:27] The-Penultimate-Defenestrator commented on #95
Ok, if I remove the existing database and run the code again, the error disappears. How can I move my database from one format to another? The only way I can possibly think of is to have multiple virtual environments with different versions of the library in them, then somehow output from one into a different format which I import into the other. I'm not smart enough to figure this out, do you hav

[2015-12-15 01:32] The-Penultimate-Defenestrator commented on #95
My approach to transferring the database has failed. My planned approach:

1. Revert to chatterbot 0.3.0
2. Read JSON database and convert to MongoDB
3. Go back to 0.3.2
4. Read MongoDB database and convert back to JSON

I was hoping that only reading of the mongo database had been broken, not writing. I now cannot call `filter()` in 0.3.0 either without throwing an error, after about 8 seconds I

[2015-12-15 02:07] gunthercox commented on #95
Not sure if there is simple a solution now that the database has both types of data structures within it.

[2015-12-15 02:10] The-Penultimate-Defenestrator commented on #95
Ok. I'm fine with losing all data with the new type of data structure, as
it represents very little data. Is there a way to remove that and then
convert all other data?

On Mon, Dec 14, 2015 at 9:07 PM Gunther Cox <notifications@github.com>
wrote:

[2015-12-15 02:10] The-Penultimate-Defenestrator commented on #95
I'm fine with losing all the data represented by the new type of data structure, might this allow for a simpler solution?

[2015-12-15 02:29] gunthercox commented on #95
Possibly. This script may help. This should remove any invalid response keys that were created by the new version, assuming it can load a statement. I recommend saving a backup first.

[code]

[2015-12-15 02:31] The-Penultimate-Defenestrator commented on #95
Thanks, I'll definitely try this

[2015-12-15 02:33] gunthercox commented on #95
From there, if you want to migrate the database to the new version, it might be best to attempt to export it as a corpus format. See https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/corpus/data/english/conversations.json

Then it would be possible to import it into the new database schema and retain all of the existing structure.

I don't have a script for this yet, but it would not

[2015-12-15 02:34] The-Penultimate-Defenestrator commented on #95
Great. I'll try this. Probably going to sleep in 20-ish minutes as I have school tomorrow, I'll report back when I have a result.

[2015-12-15 17:54] LucasZielke commented on #60
@bloodywing do you mean a tails file for the IRC? I am referring to accessing the MongoDB that holds all of the i/o for the chatbot itself

[2015-12-15 18:53] bloodywing commented on #60
@LucasZielke Nope, I mean the json file handler but thats a problem with chatterbot itself when. What you want to do with the bot is idling in the irc and following conversations and respond when the boot sees a specific keyword (like the botname or !botrespond) I already did something similar with the bot on a simple website with message system and an API and parsed the conversation. But should t

[2015-12-15 19:55] LucasZielke commented on #60
@bloodywing  Haha if it saved all of the convo from the irc channel youd make one cruel bot

[2015-12-15 20:03] mcolonj commented on #89
I work on a mac and have been using pyobjc to hook into the AppKit NSSpeechSynthesizer to listen to the output. I have also worked on many other STT and TTS applications (iOS and mac). Writing and enhancement for Chatterbot is on my todo list. How do you propose to add STT and TTS adapters to ChatterBot?

[2015-12-16 16:21] AlexanderLJ commented on #60
This is how I do it in my IRC bot that is based on async.  My bot is modular and threaded and It replies to the ping/pongs when needed, then feeds for example what is being said in a channel to any plugin that needs it (or only when there is a certain trigger).

[2015-12-16 16:41] The-Penultimate-Defenestrator commented on #95
I'm not exactly sure how to export to a corpus format, I can iterate through `JsonDatabaseAdapter.filter()` to find all responses but I'm not sure how to separate them into separate conversations.

[2015-12-17 20:13] The-Penultimate-Defenestrator commented on #1
This would be great. Is it possible somehow to make multiple chatterbot instances, and then periodically 'combine' their training into one database so that they all benefit from the others' experience?

[2015-12-17 21:30] The-Penultimate-Defenestrator opened #97 "mongoDB method deprecated"
According for the documentation for `pymongo.collection.Collection`, the `update` method is deprecated in favor of `update_one` or `update_many`

[2015-12-18 02:36] LucasZielke commented on #97
Would it be smart to just have it default to the `update_many` wont that
allow you to just pass one?
On Dec 17, 2015 4:37 PM, "Luke Deen Taylor" <notifications@github.com>
wrote:

[2015-12-19 02:05] The-Penultimate-Defenestrator commented on #97
Not sure, I think `update_many` finds multiple matches for one statement, in case a statement occurs more than once, where as `update_one` behaves like `str.find()` in python.

[2015-12-19 14:01] DarkmatterVale commented on #89
I currently do not have an implementation plan. I would like to do something similar to what the Jasper project does, but recently I have not had time to really explore how their code works. It is also a pure python implementation.

[2015-12-20 00:18] gunthercox commented on #1
Yes, one way that this would be possible would be to simply create a number of chatterbot instances and set the parameter so that they all use the same database.

[2015-12-20 00:19] The-Penultimate-Defenestrator commented on #1
Great, thanks for the info.

On Sat, Dec 19, 2015 at 7:18 PM Gunther Cox <notifications@github.com>
wrote:

[2015-12-25 01:13] gunthercox commented on #94
I'm going to vote against the proposed implementation of this one. Something like this would be better implemented as a logic adapter as ChatterBot moves towards a muti-adapter structure in the future. As a logic adapter the setup would need to check if the input value contained a time-centric question and then return the current time as a response statement.

The reason for this design choice is

[2015-12-25 01:23] #97 closed

[2015-12-25 01:30] #93 closed

[2015-12-25 01:30] The-Penultimate-Defenestrator commented on #94
I think this would be more practical if logic adapters could be more deeply embedded into chatterbot. As of right now, they have to decide independently whether they can answer a question. If the `should_answer` function could somehow access the logic that powers the rest of chatterbot, this would be more realistic.

[2015-12-25 01:36] gunthercox commented on #94
If you take a look at https://github.com/gunthercox/ChatterBot/issues/85, it covers the future changes to logic adapters that will make this possible. The key parts are rating confidence values and tie-breaking.

[2015-12-25 12:58] The-Penultimate-Defenestrator commented on #94
Great, this sounds like a really great solution.

On Thu, Dec 24, 2015 at 8:36 PM Gunther Cox <notifications@github.com>
wrote:

[2015-12-27 18:12] DarkmatterVale commented on #90
Another great plugin that we could implement is a Developer Assistant. This is a little more complex, but is something that a lot of people could use. In addition, this is a very modular plugin, allowing us to start very simple and expand greatly to add functionality over time.

[2015-12-29 02:31] dmartincc commented on #8
Some clues about how to do semantic parsing of questions: http://cs.stanford.edu/~pliang/papers/freebase-emnlp2013.pdf

By the way, from my point of view some algorithms that could fit quite well into chatterbot are, a POS tagger, grammar rules from POS tags and custom dictionaries, a named entity recogniser, trigger classifiers (intention, interests, etc.) and access to a third party sources like

[2015-12-30 01:06] gunthercox commented on #85
- [ ] Just a note, although multi-logic adapter support has been added, it is not currently using the weighting based on adapter order as described in the initial ticket.

[2015-12-30 02:29] gunthercox commented on #94
@The-Penultimate-Defenestrator I am closing this off as #103 demonstrates the implementation of this feature as I described it. Feel free to checkout the code for these changes: https://github.com/gunthercox/ChatterBot/pull/103/files

[2015-12-30 02:29] #94 closed

[2016-01-16 14:08] gunthercox commented on #92
I am going to close this one off for now. I have not been able to replicate it.

[2016-01-16 14:08] #92 closed

[2016-01-25 19:23] DarkmatterVale opened #110 "Multithreading support during logic adapter selection"
To increase the speed of processing, multithreading support is really needed.

In the future, when more logic adapters are added including more advanced ones (such as a developer assistant), https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/multi_adapter.py#L11 will consume a lot of computing resources. If this is all in one thread, it could cause a slowdown of the pro

[2016-01-25 20:59] DarkmatterVale opened #111 "Logic adapters not processing correctly"
Although it looks fine on the surface, there are issues with the current method for using multiple logic adapters. This can be easily found when you run chatterbot and type "what time is it?". Sometimes, I will get the current time while other times I will get "what time is it?", which is displayed because there is no other statement in the database. In addition, most of the time when I ask that q

[2016-01-25 22:04] gunthercox commented on #111
I believe the issue here is due to an overly aggressive confidence threshold on the closest match adapter.

As you mentioned, [line 11 in multi_adapter.py](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/multi_adapter.py#L11) appears to be ignoring output from evaluate_mathematically, even when it properly generates a response with a confidence of 1.

Logging the out

[2016-01-26 12:19] DarkmatterVale commented on #8
@dmartincc It would definitely be a nice addition to have a "utility kit" for functions like this. We could create custom implementations of each to fit out needs, then use them when parsing input. I will look into adding something like this for chatterbot. @gunthercox What do you think?

Although I would say you are making a little bit of a jump here; you can't just have those functions and then

[2016-01-26 13:04] gunthercox commented on #8
I agree these would be useful additions. At the moment chatterbot lacks the ability to use the knowledge it accumulates to understand the context or meaning of the input it receives. I would recommend taking a look at NLTK, I believe it already has implementations of a few of these algorithms.

[2016-01-26 13:13] gunthercox commented on #95
@The-Penultimate-Defenestrator Were you ever able to resolve your issue?

[2016-01-26 13:24] gunthercox commented on #110
It might be a good idea to weight the advantages of threading vs multiprocessing for this task. Most computers nowadays are built with multi-core processors.

A multiprocessor implementation of this example would allow multi_adapter.py to run the processes for several adapters in parallel on separate processors. Of course the adapter would still need to wait for each adapter to finish processing,

[2016-01-26 17:35] DarkmatterVale commented on #8
I have done a lot with NLTK's built in functions, and I agree they are definitely a good place to start. Unfortunately, they tend to degrade in capability as the sentences and ideas get more complex, mainly because the functions are based on math, not semantic understanding. Because of this, we will eventually need to use a custom implementation (haven't really thought about the details yet).

[2016-01-27 18:09] DarkmatterVale opened #118 "Add class documentation"
At the moment, there is no documentation for each class. I suggest that we add a "quote block" (I can't remember the official name for the triple-quote comment) immediately before each class which describes exactly what the class's function is, how it accomplishes whatever it does, author, etc.

I believe this will become very important to help keep track of what each class does once we get comple

[2016-01-27 18:17] DarkmatterVale commented on #111
As stated in the PR, the issue has been fixed. The only issue remaining in the current implementation for logic adapters is that both the adapter's response and the user's prompt are saved to the database.  This could allow the bot to give some odd responses to a prompt the user gives.

I think the solution is pretty simple though: We return an additional variable which tells ChatterBot whether or

[2016-01-27 19:18] The-Penultimate-Defenestrator commented on #118
The official name is "docstring"

On Wed, Jan 27, 2016 at 1:09 PM Vale <notifications@github.com> wrote:

[2016-01-28 02:48] gunthercox commented on #118
Internally documenting code as well as descriptive variable names are always a good idea.

[2016-01-28 03:08] gunthercox commented on #111
Some general thoughts on adding a variable to determine if a given statement should be saved to the database when returned from a logic adapter:

My initial thought on this is that whatever is returned from a logic adapter should always be saved (I am open to alternate suggestions). My reasoning for this is that the response that a logic adapter returns is part of a conversation. In a conversation

[2016-01-28 11:57] DarkmatterVale commented on #118
I will work on this and send a PR when I'm done.

[2016-02-02 14:20] DarkmatterVale opened #123 "Context for tests"
When I am writing tests for logic adapters, I get errors relating to the self.context variable being NoneType. @gunthercox Any ideas how to implement context in tests?

[2016-02-02 18:08] roxxup opened #124 "default database.db gives KeyError: 'in_response_to'"
Traceback (most recent call last):
  File "speech.py", line 77, in <module>
    chatvoice(chatbot.get_response(takeString))
  File "/usr/local/lib/python2.7/dist-packages/chatterbot/chatterbot.py", line 67, in get_response
    existing_statement = self.storage.find(input_statement.text)
  File "/usr/local/lib/python2.7/dist-packages/chatterbot/adapters/storage/jsondatabase.py", line 29, in find

[2016-02-03 16:16] The-Penultimate-Defenestrator opened #126 "Best way to delete a response from the database"
Is there an easy way to delete a response from a Mongo database? Say, for example, I have a public bot, and someone enters an inappropriate response I'd like to delete.

[2016-02-04 01:27] gunthercox commented on #123
The `self.context` variable is typically the current instance of the `ChatBot` class or a subclass of `Adaptation`. What tests are you trying to write tests for that you are seeing these errors on?

[2016-02-04 01:56] gunthercox commented on #124
@DarkmatterVale Looks like this involves the speech adapter. Any thoughts on what might be causing it?

[2016-02-04 02:00] gunthercox commented on #95
Hi, @The-Penultimate-Defenestrator I am going to close this issue, please re-open if you need further assistance.

[2016-02-04 02:00] #95 closed

[2016-02-04 02:05] DarkmatterVale commented on #124
The speech adapter that I currently have implemented is in the file "tts.py". I believe he has created a custom wrapper on top of the default implementation, but I cannot be sure unless I can see the code.

@roxxup What version of ChatterBot are you using? Newest? Also, maybe you could provide us with the database you are having issues with?

Thanks!

[2016-02-04 02:08] DarkmatterVale commented on #123
I am writing tests for logic adapters I am creating, and I have to find a workaround because the code (which would work on all actual systems) breaks in testing. This is due to the context variable not being set for adapters in tests. An example of when this occurs is if I have "self.context.io.process(...)", it will throw an error because self.context is of NoneType.

[2016-02-04 02:16] DarkmatterVale commented on #111
I agree with you with respect to the user's response being a response to the bot's output. The only issue with the current system is the fact that the bot's response is used as a response to a user's question, when it should not. For example, if I ask the bot what the current time is, it do exactly what it should and respond with the current time. However, later on in the chat, maybe 10 minutes la

[2016-02-04 02:19] gunthercox commented on #126
Currently, no. You would have to manually remove it.

This seems like a reasonable problem. I will leave this ticket open until I have a chance to add a method to address it.

[2016-02-04 02:26] gunthercox commented on #123
This makes sense, since nothing has been assigned to `self.context` then it is None. By default, the context also doesn't have any adapters added to it so there is nothing to call the `process()` method on.

You have two options for setting up tests.
1. Create a mock object and add the adapters you want to test with to it.
You may be able to do this by doing something like:
[code]

2. Test at a hi

[2016-02-04 02:30] The-Penultimate-Defenestrator commented on #95
No, it's fine, I've started a new database with the new format. No worries.

[2016-02-04 02:30] The-Penultimate-Defenestrator commented on #126
Great, thanks.

[2016-02-04 02:39] gunthercox commented on #111
Hmm, that's strange. This might actually be an issue with the response selection algorithm. Technically that should only happen if there are very few possible responses in the database and it is choosing one at random, or if the use's input is very close to a question about the current time. I will write up a few test cases to see if I can consistently recreate this. It may be possible to refine t

[2016-02-04 22:29] gunthercox commented on #118
I believe this has been accomplished by #119.

[2016-02-04 22:29] #118 closed

[2016-02-04 22:31] DarkmatterVale commented on #118
Yes, thank you.

[2016-02-05 00:10] DarkmatterVale commented on #123
I see what you are saying. I am going to close this issue then, because this will solve my problem.

[2016-02-05 00:10] #123 closed

[2016-02-06 14:21] gunthercox commented on #126
@The-Penultimate-Defenestrator https://github.com/gunthercox/ChatterBot/pull/130 Adds a method for removing statements. It will be included in the next release.

[2016-02-06 14:22] The-Penultimate-Defenestrator commented on #126
Great, thanks a lot! I'll take a look

On Sat, Feb 6, 2016 at 9:21 AM Gunther Cox <notifications@github.com> wrote:

[2016-02-06 14:49] #126 closed

[2016-02-06 15:12] gunthercox commented on #8
I'm going to close this ticket off because it appears that all of the items it covers have either been implemented or are covered in #90

[2016-02-06 15:12] #8 closed

[2016-02-06 15:39] gunthercox commented on #85
I had a chance to think about the implementation for multiple io adapters a bit more yesterday. When retrieving input from multiple sources, the response should be returned to the adapter that the input came  from. So for a hypothetical scenario with multiple io adapters:

| Process input | Process response | Process response |
|--------------------|--------------------------|---------------------

[2016-02-09 02:08] roxxup commented on #124
@DarkmatterVale Thanks for giving me suggestions .

[2016-02-14 23:13] gunthercox opened #132 "Redesign recent_statements to hold the entire current conversation"
The updated representation should be a list of tuples:
[code]
This change will be needed for upcoming additions of logic adapters that look at the context of the current conversation.

[2016-02-21 15:39] gunthercox opened #133 "Rename no output adapter"
I just noticed that there is an extra parameter for in the `process_input` method of the JSON io adapter. A change needs to be made so that all io adapters meet the same interface specification.

[2016-02-21 15:52] gunthercox commented on #133
As a side note, I am also considering making the following changes:
- Rename no output adapter to something that describes what it does, rather then what it does not do
- Rename json adapter since it actual returns a dictionary, not a json object
- Add an object adapter that returns the original statement object

I'm just adding these as a comment for now since I am not yet sure on the scope of th

[2016-02-23 07:42] Arinerron commented on #59
:package:

[2016-02-29 10:38] GeraldLoeffler commented on #57
just stumbled across this thread of yours, and not knowing whether you've actually implemented an adapter to the Cortical.io API or not, i thought i should point out that there is a new, simplified Python client to that API: https://github.com/cortical-io/retina-sdk.py

[2016-02-29 21:21] gunthercox commented on #57
Hi @GeraldLoeffler, this adapter has not been implemented yet. Thank you, I was unaware of the Python API.

[2016-03-12 08:58] orfeomorello opened #135 "UnicodeDecodeError: 'utf8' codec can't decode byte 0x8a in position 8: invalid start byte"
Hello, I used the Italian data to train the system. My platform is Windows 10 with Python 2.7
With the following example, i have no problems:

from chatterbot import ChatBot
chatbot = ChatBot("BotItaliano")
chatbot.train("chatterbot.corpus.italian")
chatbot.get_response("Ciao, come va?")

But if i use the get_response with these words, in particular the "è" character

chatbot.get_response("la vita

[2016-03-12 09:35] orfeomorello commented on #135
If i use Python 3.5 i have not this error, but when i start to have response, i see strange characters

"Cos'Ã¨ che vuoi sapere?"

it should be:

"Cos'è che vuoi sapere?"

[2016-03-12 13:01] gunthercox commented on #135
Hi, could you try running the following and let me know if it fixes the issue for you?

[code]

In this case I've made two changes. I've added a unicode header to the main program, and I have added a unicode prefix to the input string containing the unicode characters.

[code]

[2016-03-12 13:44] orfeomorello commented on #135
I have put the code in a file "test.py" and no result

[code]

[2016-03-12 13:55] orfeomorello commented on #135
It works! After i adding the header and saving the file in UNICODE UTF-8 Format. Not enough to simply add the header. Very Thanks!

[2016-03-12 13:55] #135 closed

[2016-03-12 14:04] gunthercox commented on #124
I'm closing this off as I believe this has been resolved.

[2016-03-12 14:04] #124 closed

[2016-03-15 13:07] SolarPolarMan opened #136 "SystemError: Parent module '' not loaded, cannot perform relative import"
I tried installing with pip but python's not registering so I put it in the directory and it's now having troubles with
[code]

[2016-03-16 00:57] gunthercox commented on #136
I am assuming the file `/media/solarpolarman/hdd/code/discord/markov/chatterbot.py` is one you created. I have no way of knowing what the contents of this file are, _but_ if you are importing something from the chatterbot module you installed with pip inside of another file named chatterbot.py this can cause some issues.

**Solution:** Rename the chatterbot.py file to something else.

Please let m

[2016-03-17 18:32] msegala opened #137 "AIML Integration"
Hi everyone,

Great tool!
I was wondering if there was any consideration for adding in the ability to use AIML files?
I guess these can be converted to JSON files but that seems like a big work around.

Thanks!

[2016-03-17 22:56] gunthercox commented on #137
This is a great idea. I would be more than happy to add direct support for this. I will need to look into the AIML spec a bit fist as it looks like they support a few things like wildcard input which ChatterBot currently does not support.

[2016-03-18 01:17] msegala commented on #137
Awesome!
I have been thinking about this issue with the wildcards and would be very interested in hearing about the approach you come up with. I feel like it may be similar to your ClosetMatchAdapter class but probably a lot more complicated. I was even thinking that each topic can get a class like TimeLogicAdapter with some NaiveBayesClassifier but that is probably overkill.

Also, a lot of the A

[2016-03-27 01:23] Spriter337 opened #139 "Restart the database"
How would I go about restarting the entire database of the bot's responses and what it's learnt?

[2016-03-27 13:01] #139 closed

[2016-03-27 21:12] gunthercox commented on #136
@SolarPolarMan Any update on this? I'm closing this off, feel free to comment or reopen if you need more assistance.

[2016-03-27 21:12] #136 closed

[2016-03-27 21:13] gunthercox commented on #89
Closing this ticket off as work on this component of chatterbot will be continuing at https://github.com/gunthercox/chatterbot-voice

[2016-03-27 21:13] #89 closed

[2016-03-27 21:57] #65 closed

[2016-03-28 00:12] DarkmatterVale commented on #111
@gunthercox Can I close this?

[2016-03-28 00:53] gunthercox commented on #111
I believe this should be safe to close.

[2016-03-28 23:36] gunthercox commented on #133
The extra parameter issue described in the body of the ticket has been resolved by [https://github.com/gunthercox/ChatterBot/commit/15c1935b956edd85b2648d48583558cce077a1e9].

Leaving this open for now until [my other comment](https://github.com/gunthercox/ChatterBot/issues/133#issuecomment-186848301) is resolved as well.

[2016-03-29 20:05] wallabra opened #141 "Storage suggestions"
I would suggest that for storage of sentences, use a dict instead of a list.

Simple enough? Thanks :)

When this is implemented, it'd probably be even quickier to respond to input, add output to learned sentences and etc!

[2016-03-29 20:10] #141 closed, assigned to nobody

[2016-03-31 17:31] vojcio opened #142 "Problem with twitter storage example"
Hi!
I'm trying to make the twitter example work, but without success.
Connection to Twitter work's correctly - strace show's that chatterbox is polling data constantly from twitter, but after that it just repeat a message which were sent, so for example:

[code]

Maybe I'm doing something wrong.. But I'm stucked, and can't move forward. Code is as the twitter_storage example, without any change.

[2016-04-01 21:35] korymath opened #143 "JSON loading in corpus.py is quite slow"
When working with multiple MB files in the corpus JSON limps along loading them slowly... I have found that working with a faster JSON handling library (simplejson, ultrajson) speeds things up significantly.

[2016-04-01 21:47] korymath opened #144 "Add ability to create database exports"
Is there a means by which to combine two learned databases... it would seem to me that this is a critical component to store learned responses, and transfer and combine them with other learned interactions?

Is this something that is covered?

[2016-04-01 23:43] gunthercox commented on #144
This is not currently supported, however I would be in favor of adding this as an import / export feature.

[2016-04-02 00:10] #111 closed

[2016-04-02 05:38] korymath commented on #143
Perhaps this is part of a larger ticket on speed of the algorithms in general. While finding strings in a dictionary is relatively quick for small databases, it seems that with a large corpus (over 200kb json) then the bot takes a long time to respond.... any experience with this?

[2016-04-02 10:50] gunthercox commented on #143
I am aware of limitations with speed when saving statements. I'm not sure how much can be done to fix it considering the problem has to do with the amount of time it takes a computer to read and write to its hard disk.

I would reccomend using the MongoDB database for significantly better performance.
https://github.com/gunthercox/ChatterBot/wiki/Storage-adapters#mongo-database-adapter

[2016-04-03 21:02] gunthercox commented on #142
Hi @vojcio, I'm still debugging this. I can replicate it, but I believe the problem has a few factors contributing to it. For example, if a bot is created with an empty database and no results are found through twitter's api, then the only response that the bot knows to give is the user's previous input. The issue is that something should always be returned by the twitter storage adapter but this

[2016-04-03 21:06] vojcio commented on #142
Thank you @gunthercox, looking forward :)

[2016-04-04 06:38] korymath commented on #143
Yes, it seems that MongoDB is a good solution here to speed things up considerably. A little more overhead for the installation, but well worth it when using big data sets.

Much appreciated.

[2016-04-04 06:38] #143 closed

[2016-04-05 14:53] Mrtenz opened #146 "ImportError: cannot import name ChatBot"
I copied an example, but get this when executing it:
[code]

[2016-04-05 19:45] gunthercox commented on #146
This is a circular import error. You named your file `chatterbot.py`, then imported _from chatterbot_.
To fix this rename your `chatterbot.py` in `/root/taartbot/` to something else.

[2016-04-05 19:45] #146 closed

[2016-04-07 20:45] korymath opened #147 "Is there a way to query a random line from the database / corpus?"
I am finding it valuable to throw some randomness in a conversation... is there an efficient way to grab a random line from the database?

[2016-04-07 21:02] korymath commented on #147
Sorry I missed this, you can close it....

I found get_random(self): in the storage adapters.

[2016-04-08 01:06] gunthercox commented on #147
Ok, glad you found what you were looking for. :+1:

[2016-04-08 01:06] #147 closed

[2016-04-08 19:09] korymath commented on #143
Perhaps there is even a way to increase the speed of training a MongoDB backed model as well?

Perhaps update_one is faster than replace_one in the storage adapter.

[2016-04-13 17:57] SamuelRiversMoore opened #148 "Avoiding repetitions"
Hi,
I'm wondering, is there is any simple ways to prevent the bot from repeating itself too much?

Maybe : keeping a record of the two or three previous exchanges and returning an output that could be a bit less appropriate if the most appropriate has been returned too recently… What do you think?

Amazing work, btw! :+1:

[2016-04-14 12:49] Larry850806 opened #149 "How do I continue to train my bot?"
Because my computer have to shutdown.
How do I continue to train my bot after restart the script?

[2016-04-14 12:51] benjpi commented on #149
If I'm correct it should be either saved to a database?

On Thu, Apr 14, 2016 at 10:19 PM, Larry850806 <notifications@github.com>
wrote:

[2016-04-14 16:02] Larry850806 commented on #149
Store the data and train the bot every time?

[2016-04-14 17:53] gunthercox commented on #149
Your chat bot saves what it learns on your computer. It's knowledge is not erased when the computer is shut down. You should only need to train it once.

[2016-04-14 17:56] gunthercox commented on #148
I agree with this. There is currently a `recent_statements` variable which I added so that this could eventually be accomplished. Currently the variable holds a list of the bot's responses for the current session. At some point I would love to make the change so that it avoids repeating the same words frequently.

[2016-04-15 00:52] Larry850806 commented on #149
@gunthercox
Thanks. In this case, How do I remove what the bot have learned and retrain it?

[2016-04-15 01:51] gunthercox commented on #149
You can remove what a bot has learned by calling: `mychatbot.storage.drop()`.

For example:
[code]

[2016-04-15 05:40] Larry850806 commented on #149
@gunthercox
Thanks.
I have used it and it's awesome.

[2016-04-15 16:37] #149 closed

[2016-04-15 23:36] cd-rum opened #150 "Training data size limit?"
I've got a 50,000+ line JSON file for training data and it seems to hang in training. Is there a limit? Should I split it up?

[2016-04-15 23:40] gunthercox commented on #150
For large amounts of data there is a natural limit based on the amount of hard disk space and free memory that your system has. Using the MongoDB adapter is advised for large amounts of data (https://github.com/gunthercox/ChatterBot/wiki/Storage-adapters#mongo-database-adapter).

[2016-04-15 23:51] cd-rum commented on #150
Ah, thanks. That should help.

[2016-04-18 09:02] korymath commented on #150
Also, check out #143

[2016-04-18 22:32] cd-rum commented on #150
Using `ultrajson` and MongoDB solved the issue for me, a la:

[code]

[2016-04-18 22:32] #150 closed

[2016-04-18 23:11] korymath commented on #150
Any timing details on how long this took to train?

[2016-04-18 23:13] cd-rum commented on #148
+1

[2016-04-18 23:13] cd-rum commented on #150
Not long. Under a minute.

[2016-04-18 23:14] korymath commented on #150
Wonder how a big database like this will affect closest meaning adapters....

[2016-04-19 07:29] SamuelRiversMoore commented on #148
Ok, maybe it's not the cleanest way to do but I have something. At least it's a start.
I modified two functions : `process()` in `base_match.py` and `get()` in `closest_match.py`

For `get()` :

[code]

For `process()` :

[code]

[2016-04-20 20:51] johndpope opened #152 "Dialog Tree - feature enhancement"
I think it would be valuable to attempt upgrade the bot with some dialog tree capabilities.
It maybe as simple as something like this
https://github.com/jeromeetienne/dialogtree.js

This app - http://www.chatmapper.com/features/ looks more robust / supporting multiple languages.
![celi02dweauwns-](https://cloud.githubusercontent.com/assets/289994/14689857/1a642ad8-0717-11e6-9c0c-0ba3880fd448.jpg)

[2016-04-26 14:01] bogomil opened #153 "No module named LocationLogicAdapterchatterbot.adapters.logic"
Hi,
I have created a new module, based on your instructions for a Logic adapter, but when I run the bot this error appears (I have added it in `_init_.py`)

[code]

[2016-04-26 14:04] gunthercox commented on #153
The import error (`LocationLogicAdapterchatterbot.adapters.logic`) suggests a possible issue in your code.

Perhaps you meant `chatterbot.adapters.logic.LocationLogicAdapter`?

[2016-04-26 14:06] kevin-brown commented on #153
Quick guess, you appear to be missing a trailing comma on line 8 of `chatbot.py`, and as a result your settings for multiple logic adapters are being interpreted as one single (invalid) logic adapter. This is happening because [otherwise it treats it as one long string](http://stackoverflow.com/q/7992559/359284) instead of multiple strings.

[2016-04-27 06:52] bogomil commented on #153
@kevin-brown you are right and I am stupid :) Now it works.
Thanks!

[2016-05-02 02:50] justquantum opened #159 "Purging database"
I am using ChatterBot as a feature in a Kik Bot I've been developing as a hobby. As ChatterBot learns things from users talking to it, it can learn some not so great things, some of which end up violating the Kik terms of service for bots. I would like to be able to completely purge the database and reteach from the corpus via a special command only I have access to, but I'm not sure how I would g

[2016-05-02 14:04] gunthercox commented on #159
You can delete the database or you can remove what a bot has learned by calling: `mychatbot.storage.drop()`.

For example:
[code]

[2016-05-02 14:04] #153 closed

[2016-05-02 21:16] justquantum commented on #159
awesome, thanks

[2016-05-02 21:28] justquantum commented on #159
how do I generate a new database without reinstatiating the ChatBot?

[2016-05-02 23:21] gunthercox commented on #159
After you delete the old database, ChatterBot should create a new one automatically the next time you run your program.

[2016-05-03 00:24] justquantum commented on #159
yeah, but I was wondering if there was a way to regenerate it without restarting/reinstantiating

[2016-05-03 00:27] gunthercox commented on #159
I'm not sure what you mean by regenerate. If you're looking to populate the database with content you can use the `.train()` method as described in the [documentation](https://github.com/gunthercox/ChatterBot/wiki/Training).

[2016-05-03 00:28] justquantum commented on #159
Ok, I worked around this by instantiating another ChatBot without getting rid of the already existing one. That generated the database I needed to keep using the one I had.

[2016-05-03 00:28] #159 closed

[2016-05-03 00:29] justquantum commented on #159
I needed the actually database file. when I dropped it with the earlier command, I couldn't run any subsequent commands because the file was missing.

[2016-05-07 09:39] gpjyothish opened #161 "Is there any reserch paper or something that can be referenced related to this?"
Any algorithm that it uses?

[2016-05-07 13:01] gunthercox commented on #161
I currently haven't written a research paper for ChatterBot, although I would not be opposed to eventually writing one. You may have luck with finding research papers related to some of the project's dependencies:

- [FuzzyWuzzy](https://github.com/seatgeek/fuzzywuzzy) - A Python implementation of the [Levenshtein Distance](https://en.wikipedia.org/wiki/Levenshtein_distance) algorithm
- [Natural L

[2016-05-07 19:37] BlueFreakLP opened #162 "404 Error"
Hi,
im actually getting an 404 error when I trying to ask cleverbot a question. Have they changed their API again?

Btw: I am using the java implemention.

[2016-05-07 19:39] gunthercox commented on #162
ChatterBot is written in Python. How are you using the Java implementation?

[2016-05-07 19:40] BlueFreakLP commented on #162
@gunthercox Uww sorry,
I that was the wrong github repo :D

[2016-05-07 19:40] #162 closed

[2016-05-08 14:56] gunthercox commented on #90
I'm closing this off as some of these adapters go beyond the scope of chatbot communication. It would be great to see them created as third party python packages that could be imported by the main ChatterBot module.

[2016-05-08 14:56] #90 closed

[2016-05-09 13:01] sntp opened #164 "Bad performance on big amount of training data"
I trained the bot with ~17k conversations and now it takes a lot of time for response. Are there ways to avoid it?
Training data: https://gist.github.com/sntp/221f53c48bec929ac36d0951b496fcbd

[2016-05-09 14:31] gunthercox commented on #164
Commit https://github.com/gunthercox/ChatterBot/commit/e5a986968a0844549283d14ae77d60a98d2987a1 makes one small change to start to address this by reducing the number of read and write transactions that are made to the database. I will continue to post updates on this ticket to track performance improvement changes.

[2016-05-10 09:07] gunthercox commented on #85
Closing this ticket off because the multi-adapter has been created for logic adapters. I am not planning on adding support for multiple databases because the amount of time it would take to query multiple large databases causes more problems than it fixes in the long run. I am also re-thinking having multiple IO adapters as it adds a lot of complexity without many advantages.

[2016-05-10 09:07] #85 closed

[2016-05-11 23:04] #133 closed

[2016-05-15 12:04] gunthercox opened #168 "Add documentation for the Twitter storage adapter"
:rocket:

[2016-05-15 12:18] gunthercox opened #169 "Check for subadapter agreement in MultiLogicAdapter"
ChatterBot's MultiLogicAdapter module makes it possible to get a response based the output of any number of logic adapters. Currently, ChatterBot returns the response with the highest confidence value.

One concept I am considering is the idea that if multiple adapters agree on the same statement, then that statement is more likely to be the correct response.

There are a few ways this could be im

[2016-05-16 10:50] #132 closed

[2016-05-17 02:03] gunthercox opened #174 "Create Mailgun input adapter"
Currently there is an [output adapter](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/output/mailgun.py) that will send emails using the Mailgun API, but there is no input adapter to retrieve new emails or responses.

https://documentation.mailgun.com/api-sending.html#retrieving-stored-messages

[2016-05-24 01:13] gunthercox opened #177 "Include English math terms in mathematical parsing?"
It could possibly be beneficial to extend the range of ChatterBot's mathematical parsing capabilities to include English math terms such as product, sum, difference and quotient.

[2016-05-24 01:20] gunthercox commented on #144
The implementation of database exporting capabilities is currently waiting on my designs for AIML Integration (#137). Some of the features in the AIML specification currently do not agree with ChatterBot's design (such as wildcard statements). I need to create a common internal format for storing this information before database exports can be allowed.

[2016-05-25 02:08] gunthercox opened #178 "Signature objects can probably be removed"
Signature objects were originally added to the conversation module to support additional relationships between statements and other data (such as who the said the statement). The current road map for the future of ChatterBot suggests the possibility that the Signature object will not be needed because this data can likely be better represented as additional dynamic attributes on the statement obje

[2016-05-25 08:32] hemangsk opened #179 "Documentation link 'http://chatterbot.readthedocs.io/' dead"
Hello @gunthercox , chatterBot rocks.
That readthedocs.io link can be replaced by https://github.com/gunthercox/ChatterBot/wiki/, whatsay?

[2016-05-25 12:18] gunthercox commented on #179
The read the docs link appears to be working. The wiki page is currently in the process of being phased out as all of the updated documentation is being written for read the docs.

[2016-05-25 12:19] gunthercox commented on #179
Can you confirm that the link is still broken for you? Or was this possibly a network hickup?

[2016-05-25 18:06] franciscovargas opened #180 "docs are misguiding"
the docs are wrong since they are not pointing out that you need to use the set trainer method before training. The class passed to this is not specified anywhere.

[2016-05-25 22:44] gunthercox commented on #180
Hi, could you possibly link to the page where this is unclear? I am currently looking at the [docs](http://chatterbot.readthedocs.io/en/latest/training.html) and all the examples appear to have this included.

![image](https://cloud.githubusercontent.com/assets/2030578/15558512/89c6d928-22a8-11e6-8337-b6d8973b66b8.png)

![image](https://cloud.githubusercontent.com/assets/2030578/15558528/97f6d660-

[2016-05-25 23:20] #179 closed

[2016-05-25 23:22] gunthercox commented on #180
I have updated a few outdated code examples in the readme and wiki pages. I believe everything should be up to date now. Feel free to reopen this ticket if there are any other issues.

[2016-05-25 23:22] #180 closed

[2016-05-25 23:34] hemangsk commented on #179
That was a network issue. I tried opening in different browsers earlier and it didn't load, but now its loading fine.

[2016-06-02 01:04] mackgrenfell opened #183 "ValueError: Extra Data"
Hello,

I'm getting this error whenever I try to train or get a response from chatterbot, any suggestions?

Traceback (most recent call last):
  File "C:\Users\Mack\Documents\Python Scripts\Kd\qtdev.py", line 33, in <module>
    chatbot.train("chatterbot.corpus.english.conversations")
  File "D:\Users\Mack\Anaconda\lib\site-packages\chatterbot\training\trainers.py", line 48, in train
    trainer.t

[2016-06-02 11:16] mackgrenfell commented on #183
Solved. Database cleared. A bit embarrassing.

[2016-06-02 11:16] #183 closed

[2016-06-05 11:27] gunthercox commented on #164
Pull request https://github.com/gunthercox/ChatterBot/pull/173 allows the storage adapter to override an expensive method to provide a more efficient implementation. The `get_response_statements` method has been overridden on the MongoDB storage adapter to provide a much more efficient version that should yield a significant improvement in performance.

[2016-06-06 11:39] Sundarasan opened #186 "Need multiple chatbot instances which are trained separately."
I need to create chatbots which are trained separately with different set of conversation.

For example, say I have two chatbot instances **A** and **B**.
- **A** should reply _"18"_ to _"What is your age?"_
- **B** should reply _"35"_ to _"What is your age?"_

[2016-06-06 12:34] gunthercox commented on #186
If you specify a different database endpoint for each bot, this should provide the functionality you desire. http://chatterbot.readthedocs.io/en/latest/adapters/storage.html#database

[2016-06-08 05:01] futetest opened #187 "Machine Learning"
Hi I'm trying to understand the learning process of the chatter bot. I see database.json being created but i do not understand what is going on in there. The relationship of the statements and the responses. Please help me clarify that.

[2016-06-08 09:21] adhoc92 opened #188 "Where is the data saved?"
I want to delete all of the data I've inputted into my bot, but I can't find where it's stored on my computer.

[2016-06-09 09:21] futetest commented on #188
Hi, the data is saved into a database file. This file is in the same place where you executing your python bot from.

See the below code:
bot = ChatBot("Terminal",
    storage_adapter="chatterbot.adapters.storage.JsonDatabaseAdapter",
    logic_adapters=[
        "chatterbot.adapters.logic.MathematicalEvaluation",
        "chatterbot.adapters.logic.TimeLogicAdapter",
        "chatterbot.adapters.l

[2016-06-12 11:27] adhoc92 commented on #188
Ohhh, thanks!

[2016-06-12 12:14] digitaldesaster opened #189 "improved time adapter example"
Hi, i have played around with chatterbot the last two days and it is a really great starting point into the world of chatbots. So thanks for your awesome work!

i tried to optimize the time adapter example.

1.) for my usecase i need to have german "umlaute" like 'äöü' etc. I changed the coding to utf-8 but it did not helped. so i made this "jsonfy" function to get rid of the "umlaute".

2.) i rec

[2016-06-12 12:46] dcsan opened #190 "Is that a definition or an oppinion?"
I'm trying to train the bot and keep getting the response.

Can't see this in the training sets... is it inside the source somewhere for the bot?
Is this a prompt to train the default bot somehow?

[2016-06-12 13:02] dcsan commented on #187
@futetest I'm also going through this! Where is that file being created for you? I don't see it.

You'll have to look in the logic inside the chatter bot. I have things setup using a virtualenv so the code is in

    YOURENV/lib/python2.7/site-packages/chatterBot

then you can see the input/output adapters making the logical decisions.

[2016-06-12 18:28] TimPchelintsev opened #192 "AttributeError: 'dict' object has no attribute 'serialize'"
When using mongodb, got this error:
[code]
Seems it is because of mongo adapter custom get_response_statements realization with no deserealize_responses call before making a Statement classes from dicts.

Managed to fix it via #191

Thanks for great lib!

[2016-06-12 18:53] TimPchelintsev commented on #190
This is from training set - https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/corpus/data/english/conversations.json#L122

[2016-06-13 10:30] dcsan opened #193 "ClosestMeaning appears broken?"
I tried using the "nearest meaning" matcher, but it seems to not match on basic synonyms or even if there is punctuation missing from an input.

[code]

in fact, it doesn't match if a punctuation mark is missing.

are you good <> are you good?

[code]

is this expected behavior using the

[code]

or do we have a bug somewhere?

[2016-06-14 20:31] mrmrn opened #194 "Installation and first use error"
Dear Developers,
At first this is so good for me that can test a language independent chat bot.
I tried to install ChatterBot in ubuntu 14.04 and I can`t install it without sudo!
then I used this document to start an example: http://chatterbot.readthedocs.io/en/latest/examples.html#terminal-example
I create a chatbot.py text file and input the example1 in it. but when I start the example I gave th

[2016-06-15 04:10] gustavo-gomez commented on #194
Hi, I am not the developer but can help you, you installed chatterbot into Python 2.7 but tried to use it with Python 3, so make sure you use or Python 2.7 or Python 3 but no both.

[2016-06-15 04:37] futetest commented on #187
i get the logical decisions and all but i do not get the structure of the database.json file from which the bot is reading and mapping the inputs. Can someone explain the structure of the database.json file.

[2016-06-15 04:41] futetest commented on #194
yup, gustavo-gomez is right, just do

`python chatbot.py
`
it'll work

[2016-06-15 04:47] futetest opened #195 "Chat logs for multiple instance of chatbot"
Hi

I'm trying to create logs of the conversation that instances of chat bot had had with different people and store it into a database. I know how the knowledge base works for the chat bot and its database implementation as well. What i want to do is store the logs into a database in order to monitor the chats it had with different people with their session id or something to differentiate betwee

[2016-06-15 09:15] futetest commented on #192
Hi

I was getting the same error as you. Used your fix but now its throwing new error, could you please look into it.

`Traceback (most recent call last):
  File "mongoBot.py", line 19, in <module>
    bot_input = bot.get_response(None)
  File "/usr/local/lib/python2.7/dist-packages/chatterbot/chatterbot.py", line 136, in get_response
    confidence, response = self.logic.process(input_statement)

[2016-06-16 21:44] gunthercox commented on #190
Hi @dcsan

Just to clarify further, if you wish to limit the scope of the training data to just the English conversations you can do so by passing the following value to your chat bot's train method.

[code]

Likewise, the following would train the bot off of every data set in the English corpus.

[code]

Hope this helps.

[2016-06-16 21:45] #190 closed

[2016-06-16 21:47] kevin-brown commented on #190
"opinion" is misspelled, any chance we can get that corrected?

[2016-06-16 21:53] gunthercox commented on #190
@kevin-brown Corrected spelling https://github.com/gunthercox/ChatterBot/commit/db06771539b4a09dc5cca2ee92145bd8d973e63e

[2016-06-16 22:00] gunthercox commented on #195
You may be able to use the [`extra_data`](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/conversation/statement.py#L32) attribute on statements to store this information in your database. This method is currently undocumented because it is not being directly used anywhere in the code base. Essentially it just allows extra information to be stored in the database attached to a stat

[2016-06-16 22:09] #194 closed

[2016-06-16 23:25] gunthercox commented on #187
Hi @futetest

The primary feature of the conversation representations in ChatterBot's databases is the ability for the known responses to a given statement to be tracked.

Each statement object in the database represents something that someone has said to the chat bot. On top of that, each statement in the database also holds a reference to each other statement that it has been issued in response

[2016-06-16 23:58] #192 closed

[2016-06-17 00:01] gunthercox commented on #193
This sounds like a bug somewhere in the logic adapter.

[2016-06-17 00:06] gunthercox commented on #189
Hi @digitaldesaster, this looks like a good improvement. Would you be interested in creating a pull request?

[2016-06-17 00:07] #186 closed

[2016-06-20 17:35] nvartolomei opened #197 "Nested in_response_to keys appearing in json database"
Hi! I'm getting familiar with ChatterBot, at the moment I try to understand how it works under the hood.
When I opened the database I saw this:
[code]

Hm, it looks like this is conversation tracking, but issue #2 say otherwise

Can someone shed some light on this?

[2016-06-23 12:10] gunthercox commented on #197
Hi @nvartolomei, This looks like a case where a statement is being saved as a response somewhere in the code base. It won't cause any problems but I will take a look through and see if I can determine where this is occurring. Could you let me know what adapters you are using for your chat bot?

[2016-06-23 17:18] nvartolomei commented on #197
@gunthercox basic example with english corpus trainer. Also when asking some questions, when asking empty questions, after few questions it can't parse the database anymore. This also happens when using mongodb storage.

[code]

[2016-06-23 22:05] quanghoc opened #198 "Any way to leverage Spark for better performance?"
I'd like to figure out if it's possible to convert the usage of local file system for .json file to HDFS and have Spark MLib to do the machine learning instead. What are the thoughts on this?

[2016-06-23 23:05] #188 closed

[2016-06-23 23:06] #178 closed

[2016-06-23 23:08] #195 closed

[2016-06-23 23:08] #60 closed

[2016-06-23 23:17] gunthercox commented on #198
This sounds possible. You may be able to implement a custom storage adapter that connects to HDFS and a custom logic adapter that uses Spark. ChatterBot's documentation covers these and there is also various existing adapters that can be used as examples in this repository.

[2016-06-23 23:48] fr0hsty opened #199 "Provide the bot with facts/axioms?"
What would be a best practice method for feeding the bot information that it can consider 'true' and then later recall during conversation eg:

The sky is blue. Chocolate is delicious. You like Coffee.

- Blue.

- Yes

I'm absolutely loving my limited ChatterBot experience thus far :)

[2016-06-23 23:56] gunthercox commented on #199
One way to do this could be to create your own training corpus. Check out the existing ones that come with ChatterBot for an example: https://github.com/gunthercox/ChatterBot/tree/master/chatterbot/corpus/data/english

You may also want to see the documentation on training from corpus data if you haven't yet: http://chatterbot.readthedocs.io/en/latest/training.html#training-with-corpus-data

[2016-06-24 10:18] ryanbsong commented on #150
@cd-rum What trainer did you use when training your bot? When I tried implementing the code that you had written to train my bot using a MongoDB, I used the ChatterBotCorpusTrainer and got the error AttributeError: 'dict' object has no attribute 'split'.

[2016-06-24 11:31] ryanbsong commented on #150
@cd-rum Which trainer did you use when training the data? At first, I tried using the ChatterBotCorpusTrainer and tried training the chatterbot using the dictionary I extracted from the JSON file, but I got the error AttributeError: 'dict' object has no attribute 'split'. I then tried using the ListTrainer and converted the dictionary into a list, but while training the data, MongoDB force-quit be

[2016-06-25 03:38] NotSoSuper opened #200 "Slow"
The responses become very slow after the brain/AI becomes to be used more/learns more.

If theres any way to make it faster after lots of input, as it is very slow at responses with a few thousands conversations.

[2016-06-25 12:54] gunthercox commented on #200
Have you tried the MongoDB storage adapter? http://chatterbot.readthedocs.io/en/latest/adapters/storage.html#mongo-database-adapter

[2016-06-25 19:06] NotSoSuper commented on #200
I'll try it soon, thanks!

[2016-06-25 19:42] NotSoSuper commented on #200
Not sure how much faster it will be now because it didn't transfer the previous contents of what it learned to the new database. However I'll post results in a few days when it becomes used again!

[2016-06-25 20:58] #200 closed

[2016-06-26 15:15] #198 closed

[2016-06-26 15:16] #199 closed

[2016-06-27 01:11] NotSoSuper opened #203 "Error during Mongo adapter statement serialization"
Hey, after I started using the mongodb storage adapter, I keep getting this error:

[code]

[2016-06-27 23:24] gunthercox commented on #203
This sounds like an issue that may have been fixed in a recent release of ChatterBot, can you confirm what version you are using?

[2016-06-27 23:44] NotSoSuper commented on #203
I installed 2 weeks ago, I'll try pip upgrade, if nothing I'll update from the repo.

[2016-06-27 23:48] NotSoSuper commented on #203
It seems as I was on the latest version, 0.4.3 but I've went ahead and uninstaleld pip and installed from source. Hope the issue is fixed, closed for now.

[2016-06-28 00:10] #187 closed

[2016-06-29 11:39] futetest opened #204 "Default Reply"
Hi
As of now chatbot repeats the statement which it can't map to the database. Suppose it doesn't have a mapping for "Hello", it would throw back hello in reply as well. What I want to do is, for all the matches it can't find, it should give a default reply like "not found" or something. Any help ?
P.S. I've turned off the learning.

[2016-06-29 16:08] gunthercox commented on #204
There is not currently a way to set a default response. Having a default response prevents the chat bot from learning new responses (even when it responds incorrectly). It is not likely that this is something that will be added in the future.

[2016-06-29 16:08] #204 closed

[2016-06-30 07:08] futetest commented on #204
Since there's an option to turn off the learning, I thought this is something that's achievable. Can you at least tell me, how does it give the same response if it can't find the map to it. Let's say there is no map for "Mercedes", it returns "Mercedes" back, how does it do that ?

[2016-06-30 13:01] gunthercox commented on #204
If no responses are known, there is an internal logic adapter that returns the input statement: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/no_knowledge_adapter.py

[2016-06-30 15:09] DataTerminatorX opened #205 "Machine learning methods in ChatterBot?"
Hi @gunthercox ,
Thx for launching such a great project !
But I was wondering which machine learning methods were used for training ChatterBot? I haven't got the answer after reading source codes and docs. Or it seems that ChatterBot is trained by some text matching methods?
Looking forward to your reply. Thx!

[2016-06-30 17:35] gunthercox commented on #205
ChatterBot represents the knowledge it has learned internally as a graph data structure with connections between each statement and it's known responses. The program then uses a logic adapter to apply the response selection algorithm. ChatterBot has a few different selection algorithms built in. One uses NLTK for matching the closeness of word synonyms, another uses Levenshtein distance.

[2016-06-30 20:16] DataTerminatorX commented on #205
Thx for ur reply. I'm much clear now :-)
I'll try ChatterBot myself. Hope further discussion with you :-)

[2016-07-01 23:39] NotSoSuper commented on #203
Hey, I'm still getting it for some reason even after a full update,

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/discord/ext/commands/bot.py", line 247, in _run_extra
    yield from coro(*args, **kwargs)
  File "./mods/AI.py", line 47, in on_message
    msg = "**{0}**\n".format(message.author.name)+str(chatbot.get_response(message.content))
  File "/usr/local/

[2016-07-02 13:44] gunthercox commented on #203
Hi, I can't seem to replicate this issue. Can you post some more information to help me debug this:

1. The parameters you are passing to the `ChatBot()` constructor.
2. The version of python you are using.

[2016-07-02 13:49] #189 closed

[2016-07-02 17:01] NotSoSuper commented on #203
Python version: 3.5

chatbot = ChatBot("NotSoBot",
                  storage_adapter="chatterbot.adapters.storage.MongoDatabaseAdapter",
                  logic_adapter="chatterbot.adapters.logic.ClosestMeaningAdapter",
                  input_adapter="chatterbot.adapters.input.VariableInputTypeAdapter",
                  output_adapter="chatterbot.adapters.output.OutputFormatAdapter",

[2016-07-03 11:29] gunthercox commented on #203
Alright, thank you. I will see if I can track down where this is happening.

[2016-07-04 10:34] olahivepriyanka opened #206 "How to Handle unknown words and say "I Dont Understand""
when some unknown sentence occurs how to say  "I Dont Understand, Can you be more Specific?"
any method?? code please :)

[2016-07-05 09:03] Bomme commented on #206
Maybe the discussion in issue #204 could get you started?

[2016-07-06 12:56] #205 closed

[2016-07-07 08:43] futetest commented on #206
There's no way to do that as of now. Even I wanted something similar but couldn't achieve it. The "no_knowledge_adapter.py" wasn't of much use either for me.

Anyways, if you figure it out, let me know as well.

[2016-07-07 08:44] futetest opened #207 "What is "context"?"
Hi @gunthercox
I see "context" in the code, but I don't understand it well. Can you please tell me more about it.

[2016-07-08 07:34] kontrybutor opened #208 "How to create my own logic adapter?"
Hi @gunthercox
As the title says, I am wondering how to create my own logic adapter. I know how the default adapters like TimeLogic, MathematicalEvalutaiion work. They are installed in my usr/lib/python~ directory and the only import is "from chatterbot import ChatBot". Variable logic_adapters contains  "chatterbot.adapters.logic.MathematicalEvaluation" for example.
In my project directory I've tr

[2016-07-09 00:57] gunthercox commented on #207
This variable is an object passed to each type of adapter. It allows each adapter to access other adapters. There are cases where it may be beneficial for logic adapters to have direct access to the storage adapter for example.

[2016-07-09 01:01] gunthercox commented on #208
It sounds like you need to include the file name in the path as well. For example, if your adapter class `MyLogicAdapter` is in a file named `my_logic_adapter.py` then you would want the string passed to the chat bot's list of adapters to look like `"my_logic_adapter.MyLogicAdapter"`. This string is essentially just an python import path. The class gets split off the end of the string and imported

[2016-07-09 13:04] gunthercox commented on #203
@NotSoSuper Not sure if this is part of the issue, but I believe you may needs to specify `output_format='text'` instead of `format='text'` in your code. It appears this was incorrect in the documentation.

[2016-07-09 20:02] NotSoSuper commented on #203
Alright, testing it now, thanks for the update!

[2016-07-10 03:08] NotSoSuper commented on #203
Seems to be working good now, had a few testers. Thanks!

[2016-07-10 14:23] #208 closed

[2016-07-10 18:56] gunthercox commented on #207
I've added updated documentation to cover this. http://chatterbot.readthedocs.io/en/latest/adapters/index.html#context

Feel free to reopen this ticket or submit a pull request if more information is needed.

[2016-07-10 18:56] #207 closed

[2016-07-11 14:04] NotSoSuper commented on #203
and its back :(

[2016-07-16 18:07] mrmrn opened #210 "can chatterbot learn any persian concept?"
Does chatterbot maked bots understand the meaning and concept of non English sentences or this are just some marked phrases?
I mean how this machine learning and AI works in chatterbot?

[2016-07-16 18:29] gunthercox commented on #210
ChatterBot is designed to be language independent so bots can be created that can communicate using any language. You can either train your chat bot using pre-recorded data, or it can learn to speak as you communicate with it.

[2016-07-16 18:43] #59 closed

[2016-07-16 20:07] #57 closed

[2016-07-18 04:39] imumair commented on #161
Hi, I had a question, I was reading the source fro Logic adapters, and specially for the Closest matching adapter, ... sorry for the dumb question...new at machine learning, but still tryign to figure out which machine learning algorithms are you using for the chatterbot it Naive Baysean or ... ... also I was lookign at the nltk documentation ... it says these 3 as machine learnign modules .. are

[2016-07-18 21:56] #210 closed

[2016-07-18 22:23] gunthercox commented on #161
Hi @imumair, from NLTK, the classify machine learning algorithm is used in logic adapters such as the time logic adapter. NLTK is also used in the closest meaning adapter, but it is only used for calculating synonyms when traversing the knowledge graph. Another adapter (the closest match adapter) uses [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) as an alternate method

[2016-07-20 01:54] antfellow opened #214 "conversations.json - has anyone developed bigger corpus?"
Hi there  I have just downloaded the chatterbot.  Just wondering if anyone has developed any additional/bigger training corpus files? Thanks.

[2016-07-20 12:54] gunthercox commented on #214
I'm aware that there are a few user-created ones floating around out there
for non-english languages. If you or anyone else is interested in
contributing a larger selection of corpus data to the project the addition
would be greatly welcomed.

On Tue, Jul 19, 2016 at 9:54 PM antfellow <notifications@github.com> wrote:

[2016-07-21 19:35] Nykho opened #215 "Chinese Training using List Trainer"
Hi. I'm having problems trying to use the ChatterBot to talk to me in Chinese.

In the terminal I get:

`/usr/local/lib/python2.7/site-packages/chatterbot/conversation/statement.py:46: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  if response.text == self.in_response_to[index].text:
Type something to begin...`

for this

[2016-07-22 23:28] mbarisa commented on #215
Hi, I made a pull request you might want to check out, I think that is same issue I encountered with Croatian language, so I just added utf-8 support for corpus. I tried ListTrainer with your dataset, and it seems to work fine.

You want to check this commit [https://github.com/gunthercox/ChatterBot/pull/216/commits/9ea48eac3954fd818947dbb0742d1d545b4f8c08](here)

[2016-07-26 17:17] z4nD4R opened #219 "RecursionError: maximum recursion depth exceeded while decoding a JSON array from a unicode string"
Hi All,

I'm starting with ChatterBot and so I've followed the doc. - http://chatterbot.readthedocs.io/en/latest/training.html#set-trainer.

Unfortunatelly I failed in very begginig:

[code]

I've got:

[code]

Any help is highly appreciated.

Thank you.

[2016-07-26 18:54] mbarisa commented on #219
Hey, I did not try it out but you have a typo in your JSON, at the end of your array you have a colon, you should remove it so it looks like:

chatterbot.train([
"How are you?",
"I am good.",
"That is good to hear.",
"Thank you",
"You are welcome."
])

Please let me know if that was helpful

[2016-07-26 20:49] z4nD4R commented on #219
@mbarisa : I've tried also withou the colon, but the result is the same. Looks like some deep issue in JSON and how it parse or handle string into array. Didn't have time to go to deep.

 File "createJson.py", line 52, in <module>
    u"You are welcome."
  File "/home/ms/sataData/Progr/python/jarvis/virtualenv/boot/lib/python3.5/site-packages/chatterbot/training/trainers.py", line 36, in train

[2016-07-28 21:44] nick198205 commented on #215
I have the same problem with @Nykho ,and I have merged the commit from @mbarisa said,but it still didn't work for me !

[2016-07-28 22:13] gunthercox commented on #215
Hi @Nykho, I've been able to confirm this issue on my end. I will attempt to issue a patch as soon as I can.

[2016-08-01 14:57] nuzhdov opened #221 "Python-Levenstein required"
`/usr/local/lib/python2.7/dist-packages/fuzzywuzzy/fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')
`
I have read issues with Levenstein. This error often appears on Windows, as I understood. But I use Linux Mint 17.1 . And I

[2016-08-01 15:27] kevin-brown commented on #221
This appears to be a warning, not an error. So I don't think it's _required_, it's just _highly recommended_.

[2016-08-01 15:39] gunthercox commented on #221
@kevin-brown is correct.

If you're goal is to remove the warning, your options are
1. Install the python-Levenshtein package with pip.
2. Silence `UserWarning` level warnings when running your code.

[2016-08-02 07:19] buaahsh commented on #214
hi antfellow, gunthercox, may you can try the [Ubuntu dialog dataset] (https://github.com/rkadlec/ubuntu-ranking-dataset-creator) , it's one of the largest public dialog datasets available, but it's not a chit-chat corpus.

hi @gunthercox , i have a question about the logic of statement. For a query-response pair, you used the response as the text property of the statement class, why not use the q

[2016-08-02 07:57] nuzhdov commented on #221
Ok. Thank you. Python-Levenshtein can't be installed. Got an error with it, too. I will ignore it until it's not critical. Oh try to fix this later.)

[2016-08-02 08:09] #221 closed

[2016-08-04 20:39] z4nD4R commented on #214
Hi all,

I have tried to create a larger corpus in my own language. I've succesfully created a conversations.json corpus file. The file itself is ~16MB big. When I tried to to use
```chatterbot.train("chatterbot.corpus.slovak")``` after 30min the import/train will crash with `Number of recursion error`. Anyone experienced this issue?

[2016-08-08 03:57] LucasZielke commented on #206
The logics of this program do not permit it to not find a response since it is trying to find the closest possible match to the input. A method for achieving what you are attempting might be to change from using this sort of logics to more of an AIML style program (pyAIML is a good library if you are looking to be programming it in python).

[2016-08-08 10:00] gunthercox commented on #206
@LucasZielke That is partially correct, part of the process of selecting a response is trying to find the closest possible match to the input, but there is also another step that involves choosing a response from the selection of closest matching known inputs.

[2016-08-09 01:46] gunthercox commented on #203
Sorry about the long wait on this. I believe I have finally tracked down the source of the issue. It appears that in some cases, statement objects were being added to the response list of other statements. While this should have been Ok in theory since both objects share a similar API, it actually caused a problem during deserialization because some of the attributes remained in dictionary form. #

[2016-08-09 03:54] NotSoSuper commented on #203
Just upgraded @gunthercox and it's back but in a new format,
`Traceback (most recent call last):
  File "./mods/AI.py", line 51, in on_message
    msg = "**{0}**\n".format(message.author.name)+str(chatbot.get_response(message.content))
  File "/usr/local/lib/python3.5/dist-packages/ChatterBot-0.4.5-py3.5.egg/chatterbot/chatterbot.py", line 149, in get_response
  File "/usr/local/lib/python3.5/dist

[2016-08-09 13:25] gunthercox commented on #203
@NotSoSuper I haven't created a new release on PyPy with the changes I made yet. Did you upgrade with pip or from the code on GitHub?

[2016-08-09 13:36] NotSoSuper commented on #203
I pulled from github and ran python3.5 setup.py install
It seems as the error is different as you made the serelieze in a function now

[2016-08-09 13:36] NotSoSuper commented on #203
You think wiping my mongodb for the data would work? I would rather not because o have a lot of data from users using it however I will of needed.

[2016-08-09 13:39] gunthercox commented on #203
You could specify a different database name and your old data would be safe while you test your theory.

[2016-08-09 13:40] NotSoSuper commented on #203
yeah, that's what I was thinking. I'll try it when I get home, thanks.

[2016-08-10 07:08] Matgek opened #226 "Why does the json database store previous statements as values?"
Hi,
I'm a freshman to chatterbot. I have read the code and docs. It's really a great job.

But I have a question. Why does the json database store a statement as a key, and its previous statement as the value (`in_response_to.text`)? I think an alternative way is to store a statement's responses as  the value. To be more specific, I want to show an example.

A conversation:
[code]

Existing json d

[2016-08-12 09:55] futetest opened #227 "Number of words matched in closest_meaning"
HI @gunthercox

how do I know how many words did it actually match of the input with the statement? i tried to look into the closest_meaning but couldn't find with how many word is it matching.

[2016-08-12 10:37] gunthercox commented on #226
Hi, @Matgek your logic seems valid.. I will set up some test cases to try to benchmark any changes in performance by reversing how the statements are stored.

[2016-08-12 10:56] gunthercox commented on #227
Hi, @futetest. The [ClosestMeaningAdapter](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/closest_meaning.py) compare all the words.

![image](https://cloud.githubusercontent.com/assets/2030578/17620135/2ce1b046-6058-11e6-809b-31c6f89933fa.png)

To explain a bit further, it selects the highest value combination of matching tokenized versions of the words in each pai

[2016-08-13 13:30] #215 closed

[2016-08-13 17:38] Nykho commented on #215
Thanks @gunthercox!

[2016-08-13 18:24] gunthercox commented on #197
I believe this issue has been resolved by https://github.com/gunthercox/ChatterBot/pull/224
Feel free to reopen if it continues.

[2016-08-13 18:24] #197 closed

[2016-08-13 18:26] #177 closed

[2016-08-13 18:46] gunthercox commented on #193
Hi, I cannot seem to replicate this issue. I have added a test case to verify that the adapter is handling punctuation correctly. Please feel free to reopen this ticket it the problem continues.

[code]

[2016-08-13 18:46] #193 closed

[2016-08-13 19:08] gunthercox commented on #206
Hi everyone. Here is a solution that may work for you. All you need to do is create a file containing the following logic adapter and add it to your chat bot setup. You will likely need to customize the output based on your needs, but I think this should be a pretty good basis for everyone to work from.

[code]

[2016-08-13 19:09] #206 closed

[2016-08-13 19:10] #227 closed

[2016-08-13 19:14] gunthercox commented on #219
Hi @z4nD4R, I cannot replicate your issue with the code you posted. I'm going to close this issue off for now, but feel free to reopen it if you continue to run into the problem.

[2016-08-13 19:32] gunthercox opened #231 "Create ChatterBot Django API storage adapter"
The adapter can connect to django instance running locally or remotely to return results for a particular query. This allows for additional separation of services and also opens up the opportunity to connect ChatterBot to any of the storage backends supported by django (in which case pretty much every database is covered in either django itself, or by third party packages).

Resources:
- http://ww

[2016-08-14 12:43] csrgxtu opened #232 "can i use movie subtitle as the training corpus?"
since there are lots of movies, use the movie subtitle as the training data set will improve accuracy and usability.

[2016-08-14 12:54] gunthercox commented on #232
Yes, that would likely be an excellent source of training data.

[2016-08-14 12:59] csrgxtu commented on #232
and also Quora and Stackoverflow has lots of conversation data.

[2016-08-16 01:26] brohjoe opened #233 "ChatterBotCorpusTraining error"
Hello,
I'm testing the ChatterBotCorpusTraining functionality with the 'greetings' corpus and getting errors.  I'm not sure if I understand fully the concept of machine learning using this library and I can't find enough information to help.  I'm using the code from the docs.   If I use "None" as a parameter as listed in the docs:
   `bot_input = bot.get_response(None)`
I get an error stating: cha

[2016-08-16 01:47] gunthercox commented on #233
It looks like there is an issue with the example. The `VariableInputTypeAdapter` expects an input value which is why it is erroring out when give a None value. Want to swap out the input and output adapters you are using with the following:
[code]

[2016-08-16 03:20] brohjoe commented on #233
Thanks gunthercox.  Its working now.  Now if I wanted to have an action performed like calling a function, would I need to create an adapter for that, say if I wanted a window opened based on a request?

[2016-08-16 03:29] gunthercox commented on #233
Correct, you would want to create an adapter for handling that.

[2016-08-17 12:29] Nixellion opened #234 "Random responses to same question"
Hello, I'm trying to create a basic chat bot with voice recognition and tts, I'm trying to teach it Russian, and stumbled upon a problem.

I'm trying to teach it through simple lists, which I stored as json file, here is an example:

`    [
      "Расскажи о себе.",
      "Я ИИ, написанный на питоне."
    ],
    [
      "Расскажи о себе.",
      "Мне нравится оранжевый..."
    ],
    [
      "Расс

[2016-08-17 13:12] gunthercox commented on #234
Hi, I will have to look into this issue a bit more. In the mean time, could
you tell me what version of Python you are using?
I'm aware that Python 2.7 can sometimes have issues handling unicode text.

On Wed, Aug 17, 2016 at 8:29 AM Nixellion <notifications@github.com> wrote:

[2016-08-17 13:49] Nixellion commented on #234
Nope, I specifically updated to 3.5 to work with chatterbot and stuff. There are no issues with unicode, I'm using  codecs.open() to read unicode file, and it reads perfectly, and bot uses and recognizes all the phrases, it's just that it does not randomly choose one of the learned answers. It acts the same with english lists, I just did not have english example at hand at the moment.

[2016-08-18 00:03] asperduti commented on #234
I have the same issue in Spanish using python 2.7, i didn't test it with 3.x. In rare occasions it picks another answer.

[2016-08-19 01:29] PengTedShen opened #235 "whether the confidence setting is too low, and re-run issue"
Hi @gunthercox

Thank you for great work. ChatterBot is in very good quality and easy to use. After used for a while, I found three issues which would like to discuss with you.

1. After added "TheIDontKnowAdapter", about codes below:
[code]
whether the value of confidence is setting too low? normally,  it is easy to pass default_repsonse and return as closest_match

2. within "base_match.py", the

[2016-08-19 03:10] PengTedShen opened #236 "ClosestMeaningAdapter issue"
Hi @gunthercox

If use ClosestMeaningAdapter as logic_adapters, then the output answers will not select from Corpus data answer part. The output shows the exact same as question part, of course, it is the Closest Meaning result. Thanks

[2016-08-19 12:39] ephillipe opened #237 "Portuguese corpus with JSON problem"
**linguisticKnowledge_pt-BR.json**
Line 14 missing comma.

**proverbs_pt-BR.json**
Line 32, "Minha namorada est. me evitando" -> "Minha namorada está me evitando'
Line 32, needs remove last comma

[2016-08-19 16:47] ephillipe opened #238 "BulkWriteError error when training with Mongo Adapter"
Traceback (most recent call last):
  File "/home/local/ALTERDATA/erick.cirrus/Desenvolvimento/web/karoo/scripts/chatterbot/train_terminal_karoo.py", line 75, in <module>
    bot.train(conversacao)
  File "/usr/local/lib/python2.7/dist-packages/chatterbot/trainers.py", line 41, in train
    self.storage.update(statement)
  File "/usr/local/lib/python2.7/dist-packages/chatterbot/adapters/storage/mon

[2016-08-19 21:56] Nixellion commented on #164
What about using SQLite? Will that speed up the process? Is there sqlite adapter?

I tried to do the same, I fed a 3.5Mb training file with converstations from social network, was curious what kind of answers i'll get from that :D

And firstly it took about 40 minutes to train, and now it is just stuck on trying to answer.
I tried using MongoDB but got an error pymongo.errors.ServerSelectionTimeou

[2016-08-19 23:11] sntp commented on #164
Btw, Why not to use SQL database?

[2016-08-19 23:33] #237 closed

[2016-08-19 23:33] gunthercox commented on #237
Thank you

[2016-08-19 23:34] #232 closed

[2016-08-19 23:38] #233 closed

[2016-08-20 01:06] gunthercox commented on #238
Unfortunately the `BulkWriteError` does not give me enough information to debug this issue. Could you tell me what the content of your `conversacao` variable was?

[2016-08-20 01:08] gunthercox commented on #236
Is there any specific data that you are training your bot with when this occurs?

[2016-08-20 01:15] PengTedShen commented on #236
Thank you for asking, Yes ,I created small simplified Chinese data file as attached

[hospitalQA.zip](https://github.com/gunthercox/ChatterBot/files/428071/hospitalQA.zip)

[2016-08-20 01:26] gunthercox commented on #235
Hi @PengTedShen, for your question:

1. It is possible that 10 is not the most optimal value for that code example. Feel free to adjust it as needed.
2. The method call to `self.context.storage.update(closest_match)` will return the updated statement that is passed in to the method. Although, it's meta data may change, the statement text will be the same. I would advocate keeping the random respon

[2016-08-20 01:31] PengTedShen commented on #235
Thank you for your reply. About point 2, I will discuss with you if I could have some suggestions after study codes further.

[2016-08-20 01:32] #235 closed

[2016-08-20 08:02] vince06fr opened #240 "error with french corpus"
[code]

[2016-08-20 09:07] rajasimon commented on #240
It should be related with your json file formatting. Can you try validate with [jsonlint](http://jsonlint.com).

[2016-08-20 12:56] gunthercox commented on #240
Hi @vince06fr, it appears that there was an empty file in the french training corpus that was causing this issue. It looks like an empty file is invalid JSON :trophy: I have removed the file and the issue appears to be fixed. https://github.com/gunthercox/ChatterBot/commit/db2f758bc0d7d1632e5f9dfaab2b48721518af88

[2016-08-20 12:56] #240 closed

[2016-08-20 12:56] Nixellion commented on #164
Okay, MongoDB actually responses very quickly, compared to json, and yeah, thats obvious. It would still be handy to have ability to use sqlite, because it is stored in just 1 files, and easier to manage, and does not require to install and run mongodb server.

But I now experienced another problem. I think I will open a separate issue about that. On a 3.5mb training file it throws and error:
pymo

[2016-08-20 12:58] Nixellion commented on #164
Oh, okay, mongodb works fine now. Much faster. But that Bulk error is annoying.

And I still think having a standard option of sqlite would be nice, it's much faster than json, but it is also just a single file and it does not require you to install anything but python. Just a thought. No rush though.

[2016-08-20 13:02] gunthercox opened #241 "Create SQLite storage adapter"
SQLite will provide better performance than the `JsonFileAdapter` while still allowing for an easy setup (MongoDB and other databases require additional packages to be installed).

[2016-08-20 13:02] Nixellion commented on #238
I get the same error. I'm feeding bot.train(). Here is my code.

`    def vk_train(self):
        global chatbot
        conversations = []  # list of final conversations

        # first we need to parse vk_comments.txt file
        print("// Reading file")
        with open('vk_comments.txt', 'r', encoding='utf-8') as datafile:
            vk_comments = datafile.read()

        print("// Parsing

[2016-08-20 13:06] gunthercox commented on #164
@Nixellion I'm glad you are getting better results with the Mongo DB adapter. The JSON file adapter is really just meant for testing and development because it is limited by the fact that it has to write to the hard disk each time it needs to save.

Sill looking into the bulk insert error, and I've opened a ticket for tracking the addition of a new SQLite storage adapter #241.

[2016-08-20 13:09] #144 closed

[2016-08-20 13:13] Nixellion commented on #238
` print("// Learning from file.", len(conversations), "conversations")
        conversations_count = len(conversations)
        for i, conv in enumerate(conversations):
            print (i, "out of", conversations_count)
            chatbot.train(conv)
            time.sleep(1)`

Using this code it does this:
[code]

And no matter what wait i set, it's always at 70.

Checked what it is, it is jus

[2016-08-20 13:26] #219 closed

[2016-08-20 13:39] gunthercox commented on #203
@NotSoSuper Any success?

[2016-08-20 15:37] gunthercox opened #242 "Add a verbose logging mode for convenient debugging"
Create a verbose mode to help me debug what options the bot is choosing from and why it selects a given choice and why it ignores a given choice.

[2016-08-20 16:29] vince06fr commented on #240
thank you for the quick fix

[2016-08-20 16:35] NotSoSuper commented on #203
Oh sorry, forgot to respond. After updating again with your new commits a few days later, I haven't received the error again. Everything seems well at this point and it's fast. Thanks for keeping in check and continuing development of this project!

[2016-08-20 16:35] #203 closed

[2016-08-20 17:19] Nixellion commented on #164
Cool, thanks!

[2016-08-20 21:44] gunthercox commented on #203
Awesome, glad to hear!

[2016-08-20 22:13] gunthercox opened #243 "Set confidence to zero if a random response is chosen"
In the base class for the matching adapters, if no possible responses to the input are known then a random response is chosen from the database.

- [x] This needs to be changes so that if a random response is selected, a confidence value of zero is returned.
- [x] Create unit test

[2016-08-20 23:00] #243 closed

[2016-08-21 01:14] #242 closed

[2016-08-21 12:08] gunthercox opened #246 "Create a program flow diagram"
It would be useful to create a visual representation of how ChatterBot works so that various ideas and concepts could be easily conveyed to other developers.

[2016-08-21 13:40] #246 closed

[2016-08-22 19:23] navyad commented on #168
@gunthercox doc is added [https://github.com/gunthercox/ChatterBot/pull/248](https://github.com/gunthercox/ChatterBot/pull/248)

[2016-08-23 10:04] navyad commented on #241
@gunthercox  i have taken this up.

[2016-08-23 12:48] gunthercox commented on #241
@navyad Thank you! I don't believe that anyone is working on this.

[2016-08-23 12:54] navyad commented on #241
@gunthercox Thanks.

[2016-08-24 00:27] davizucon opened #249 "Missing "," in linguisticKnowledge_pt-BR.json"
Hi,
   There is a missing "," in file , chatterbot/corpus/data/Portuguese/linguisticKnowledge_pt-BR.json 14:34

Thanks

[2016-08-24 17:19] davizucon opened #254 "TieBreaking - most_frequent_response"
Hi,

  If I choose most_frequent_response, chatterbot/adapters/logic/mixins.py:16 pass only one argument, but get_most_frequent_response() expect 3.

Thanks,
Davi

[2016-08-24 17:27] davizucon commented on #137
Hi,
There is another project (https://github.com/cosimoiaia/pyAiml-2.0) is in very early stages , for AIML 2.0 it is a porting of program-AB (JAVA).

With pyAIML, I believe can be treated like  any other logic adapter.

What you think ?

[2016-08-24 21:52] gunthercox commented on #249
Thank you, I believe this has been recently corrected and will be fixed in the next release of ChatterBot. The commit https://github.com/gunthercox/ChatterBot/commit/1ed1afad690ee5c4e10d81f285dcb5ddb2a4bad1 appears to contain the fix.

I'm going to close this issue. Feel free to reopen it if that was not a fix for the error you were refering to.

[2016-08-24 21:52] #249 closed

[2016-08-25 14:47] slin17 commented on #254
Could you elaborate your issue a bit more? If you instantiate a TieBreaking class, and call get_most_frequent_response(), the method expects 2 arguments, not 3. However, I don't see "most_frequent_response" method in the TieBreaking class. Where are you calling it?

[2016-08-25 16:11] davizucon commented on #254
Hi,
Sorry about that,
I`m setting:
chatbot = ChatBot(
...
tie_breaking_method="most_frequent_response"
...
)
I created a pull request, #256 , see if its ok for you.

Thanks!

[2016-08-25 16:37] Craz3Coyote opened #257 "OrientDB adapter"
I am pretty new to coding in Python, even at Github is new to me.

Does anyone know if there is a adapter for orientDB?  How can I implement this?

[2016-08-25 19:00] davizucon commented on #257
I believe there is not orientDB adapter, by the way, OrientDB looks awesome! To implement you should take a look at chatterbot.adapters.storage.JsonFileStorageAdapter as a example.

[2016-08-25 22:18] gunthercox commented on #257
@davizucon is correct. There is not currently an adapter for OrientDB but this looks like something that would be awesome to add.

[2016-08-25 22:36] gunthercox commented on #137
@davizucon Looks promising, definitely something to look in to.

[2016-08-25 22:45] #168 closed

[2016-08-26 02:07] slin17 commented on #254
It's alright. I'm still new to this project, and learning about how this all works.

[2016-08-26 05:13] Craz3Coyote commented on #257
I can come up with many reasons to have a OrientDB adapter.
I better figure out how to do this...seems like this could worth the effort. I will start looking on how JsonFileStorageAdapter works.
I am new to Python so it may take a while....but worth the effort.  Any advice or insight would be appreciated! Thanks!

[2016-08-26 13:24] davizucon commented on #254
@slin17,  I`m new too. Great question, IRC or Slack are very straightforward. We should ask to
@gunthercox if there is any.

[2016-08-26 13:41] davizucon commented on #257
Hi @Craz3Coyote, I'm now work on integration with SQLAlchemy, instead of specific DB, the main reason have SQLAlchemy dependency is to be database agnostic. BUT OrientDB have a very specific API so, like mongoDB, must have its own  Adapter.

[2016-08-26 15:08] gunthercox commented on #257
@davizucon I think having a Slack channel sounds like a good idea. I've added one for the project at https://chatterbot.slack.com

[2016-08-26 15:23] davizucon commented on #257
@gunthercox  great !!! Can  add my github mail to the team ?

[2016-08-26 16:48] gunthercox commented on #257
@davizucon I just realized Slack doesn't have support for letting anyone join (each new member has to be explicitly invited). I think Gitter might end up being a better solution because of this.

https://gitter.im/chatter_bot/Lobby

[2016-08-26 17:24] Craz3Coyote commented on #257
@davizucon  I think together we can probably get it done... just a reminder I am very new to Python and even githhub.  I came from Borland Pascall an C++, I used to write real time day trading apps based on satellite many years ago. I decided to get up to speed with python by using this project as I have a lot of time on my hands. I am a disabled retired U.S. Navy.  So, if you can bear with me get

[2016-08-26 18:06] davizucon commented on #257
@Craz3Coyote, Sure! we all learning here, don't worry about speed, the constant help is more important.

@gunthercox You are right. No problem, but I made a bot using slack [Add Bot To Slack](https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id=5002663685.73478346871)  now its off line. But will be on-line soon. Would be great letting this bot be tested by us.

[2016-08-26 21:18] gsingers opened #260 "Limiting training"
Is there a way to only learn based on conversations that are marked?  I'm integrating Chatterbot with a bot I'm building for Slack and I want to use "Slack reactions" as a way of giving feedback to the bot as to the correctness of the conversation.  I know there is a "read only" mode, but this is slightly different.

Thanks for the great tool!

[2016-08-26 21:46] gunthercox commented on #260
Hi @gsingers, this currently isn't possible to do but I like the idea. Currently, the learning done by ChatterBot is done in the `get_response` method of the main `ChatBot` class. The "learning" is done by updating the database with the user's response to the chat bot's output.

I think it might be an excellent idea to separate the learning code from the response generation code. After making this

[2016-08-26 22:23] gsingers commented on #260
@gunthercox yeah, I'd like that.  Given conversations aren't threaded in Slack, I'm doing some additional work to try to correlate the questions I'm trying to answer and the responses from the chatterbot.

FWIW, I don't think my use case is straight up "chat".  It's more like Q&A bot where I eventually only want to learn and answer specific questions/interactions.  You can see my _total_ work in p

[2016-08-26 23:25] Craz3Coyote commented on #257
Sounds good to me... I will start putting effort in orientDB and then I'm planning on filling it with data.  I'm currently adding dragonfly connected to nuance speech to ChatterBot.

[2016-08-27 00:23] Craz3Coyote commented on #257
What API should I go with? Tinkerpop?

[2016-08-27 06:46] nikhil-pandey opened #261 "Key too large to index"
[code]

Long sentences causing error.

[2016-08-27 12:15] gsingers commented on #260
BTW, @gunthercox I reworked to make the slack connectors use Input/OutputAdapters, if you want, I can make a Pull Request to fold them in upstream.

[2016-08-27 16:43] gsingers opened #262 "input statement vs existing statement"
Not sure if there is a bug or intended, but in chatterbot.py, the following code implies that any extra_data that comes in on a statement that is _also_ on an existing statement loses the extra_data of the input statement.  In my case, I have an input adapter for Slack and I'm adding things like the user id and the channel the question came from, but I also have some training data and the extra in

[2016-08-28 18:59] gunthercox commented on #260
@gsingers The slack adapters sound like a great addition. If you're interested in making a pull request I'd be happy to accept it.

[2016-08-28 23:58] gunthercox commented on #262
I believe this issue has been fully resolved now. Feel fee to reopen it if I missed something.

[2016-08-28 23:58] #262 closed

[2016-08-29 04:38] sumn2u opened #265 "can't use the new logical adapters"
I am building own approximate sentence matching logic adapter which uses Jaccard index. I create it under /usr/local/lib/python3.5/dist-packages/chatterbot/adapters/logic/logic_Adapter.py. It shows me error like this.
[code]
My Source code is .
[code]

[2016-08-29 16:44] gunthercox commented on #265
Hi @sumn2u, there are a few issues I can see right off the bat. I think I can help you solve the issue you are encountering.

***

First, it appears that your logic adapter is inheriting from the `Adapter` class when it should be inheriting from the `LogicAdapter class. To fix this, you can just change your imports from:

[code]
to:
[code]
(Another example of the imports can be seen in the [docume

[2016-08-29 16:56] sumn2u commented on #265
Thank you @gunthercox  well i have workout much and change something
[code]
I can't use the closest match adapter because if the sentence contains **How are you doing ?**  and **How you doing ?** It returns same result so i used this one .

[2016-08-29 18:08] davizucon commented on #257
Hi @Craz3Coyote , I think Tinkerpop is written in Java, I dunno if Tinkerpop act as server or as client library embed in.
If Tinkerpop running as a server, I think the effort writing to Tinkerpop or OrientDB will be the same, it`s just a matter of knowing API calls for both.

I believe if you write an adapter, especific for OrientDB, then you will be more familiar with chatterbot structure and wri

[2016-08-29 18:17] davizucon commented on #260
@gsingers , this is exactly what I was looking for. :) Are you using Slack RTM ?

[2016-08-31 07:24] Matgek commented on #226
Thanks.

[2016-08-31 07:24] #226 closed

[2016-08-31 18:41] adryr83 opened #270 "Deprecated Warning with NLTK"
Hi,
I'm learning with Python. I installed your beautiful Chatterbot 0.4.6. but there is a big problem wit NLTK module because with Python 3.5.2, chatterbot doesn't work because of there is a Deprecated Warning.
I tried a lot of methods to solve this event:
 **First**
With 'python3 -m pip install -U <library_name>'
**Second**
I downloaded the new module nltk  and then I installed it with command: s

[2016-09-01 00:07] gunthercox commented on #270
Hi, could you tell me what version of NLTK you have installed? I'm testing with version 3.2.1 and I'm not seeing this error.
You can check the version you have by running:
[code]

[2016-09-01 05:09] adryr83 commented on #270
I have the same: 3.2.1

I don't know why it compares the Deprecated Warning message...

Please, help me.

Il 01/Set/2016 02:08, "Gunther Cox" <notifications@github.com> ha scritto:

Hi, could you tell me what version of NLTK you have installed? I'm testing
with version 3.2.1 and I'm not seeing this error.
You can check the version you have by running:

python -c "import nltk; print nltk.__version_

[2016-09-01 08:18] adryr83 commented on #270
Hi,
I find also this:

https://bugs.python.org/issue27172

It seems a bug, but I don't know how to change the code and where put it.

Adriana

Il 01/Set/2016 02:08, "Gunther Cox" <notifications@github.com> ha scritto:

[2016-09-01 12:04] gunthercox commented on #270
Lets try making sure you have all of the latest dependencies for NLTK installed.

First, uninstall `nltk` by running `pip uninstall nltk`.
Next, install nltk with the latest dependencies by running `pip install nltk --upgrade`.

Sometimes installing python packages using `setup.py` can have some issues. Using `pip` is usually a safe bet that the package and all of it's dependencies will be install

[2016-09-02 08:28] PengTedShen opened #271 "any automatically update response answers functionality"
Hi @gunthercox

When there is no such closest match answer for new input, chatter robot used “fuzzywuzzy” or other algorithm method to find one and we as user reviewed this answer as qualified (or as user, we add new answer for this new input) can chatter robot update its Jason db or corpus automatically, by this way, it will save re-run time and update knowledge base.

For improving the accurate

[2016-09-02 09:14] adryr83 commented on #270
I tried you solution. I have to uninstall nltk by running sudo pip uninstall nltk. With pip uninstall nltk, the result was permission denied. Then I installed nltk by running pip install nltk --upgrade.
But the result is the same:
Warning (from warnings module):
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/nltk/decorators.py", line 59
    regargs, varargs,

[2016-09-02 14:44] #231 closed

[2016-09-02 15:06] kevin-brown commented on #270
This appears to be an issue in NLTK and not one in Chatterbot. I haven't been able to find a ticket for NLTK that is tracking this issue, so either it was reported and fixed or it was never reported.

[2016-09-02 15:54] adryr83 commented on #270
I opened a ticket for NLTK because I suspected this problem could be
associated to this module with os x.

I don't have answer yet. I hope someone help me.

Thanks a lot.

Il 02/Set/2016 17:06, "Kevin Brown" <notifications@github.com> ha scritto:

[2016-09-02 17:15] gunthercox commented on #265
@sumn2u Has the issue you encountered been fixed? Let me know if there is anything else I can clarify or help with.

[2016-09-02 17:18] gunthercox commented on #254
This issue was fixed in https://github.com/gunthercox/ChatterBot/pull/268/files, closing this ticket off.

[2016-09-02 17:18] #254 closed

[2016-09-02 17:30] gunthercox commented on #271
Hi @PengTedShen ChatterBot does automatically update it's knowledge database based on the user's input. This is how the program learns new responses to statements that it can use to communicate with.

Also, I am sure that there are numerous other algorithms out there that could be used to select possible responses. For example, in the past I have looked into adding logic adapters that use markov-c

[2016-09-03 07:20] sumn2u commented on #265
well i implement the jaccard index logic , i found it to have better performance . I have made a pull request  you can have a look [https://github.com/gunthercox/ChatterBot/pull/272](url) @gunthercox  please check this pull request .

[2016-09-03 12:29] navyad commented on #17
Turing questions

[http://britell.com/misc/turing.html](http://britell.com/misc/turing.html)

[2016-09-03 14:32] #265 closed

[2016-09-03 15:22] adryr83 commented on #270
Sorry, I have a question: Is it possibile to use your chatterbot with
Python 3.5.2?

I asked to Michele Simionato (author of both modules decorator.py and
decorators.py) and he answered me in this way:

A deprecation warning is a non-issue, it is just a warning. I will remove
it in future versions of the decorator module, bit it is not urgent at all.

But it isn't just a warning because when I try

[2016-09-03 15:34] gunthercox commented on #270
Hi @adryr83, Michele Simionato is correct. Warnings in python are just warnings, not errors. Regarding your error, I'm not entirely sure I understand what you mean when you say that it _compares only Deprecated Warning_. It sounds like you are saying that an exception is being compared against something else (which is entirely possible).

Perhaps you could describe the issue you are encountering a

[2016-09-03 17:36] gunthercox opened #274 "Add section on logging to ChatterBot documentation"
ChatterBot supports logging for debugging and analysis purposes. It would be useful to include a section on how to enable it in the documentation.

[2016-09-04 02:15] PengTedShen commented on #271
thanks. Markov chains is good choice. May I double check with you that there is no good python package available for Markov chains based on my understanding?

[2016-09-04 02:55] gunthercox commented on #271
@PengTedShen I am not aware of a generic library for markov chains.

[2016-09-04 11:45] navyad commented on #261
@nikhil-pandey Can you point which piece of code resulted this error.

[2016-09-04 18:29] #271 closed

[2016-09-04 19:07] gunthercox commented on #236
Hi @PengTedShen, I created a test case to try to replicate the issue you reported. I have not been able to recreate the issue. Based on my tests, if a user enters `早上好`, then `'您好'` is correctly returned as a response.

I'm going to close this ticket for now, please reopen it if I missed something or misinterpreted your question.

Here is the test case that I created to try to very the problem:

[

[2016-09-04 19:07] #236 closed

[2016-09-04 19:40] gunthercox opened #276 "Tie breaking method based on the current conversation history"
ChatterBot currently has a [few tie breaking methods](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/mixins.py) that can be used to determine how it selects a response when there are multiple equivalent possible responses.

Hypothetically, the current conversation that the user is having with the chat bot could be compared to past conversations for similarity. This

[2016-09-04 19:42] gunthercox opened #277 "Switch default test case to return object instead of string"
The base test case is currently set to return the response as a string instead of the statement object. The object has more information attached to it and could be used to make tests more accurate.

[2016-09-04 21:26] #277 closed

[2016-09-05 14:25] slin17 commented on #254
Hello @gunthercox , is there like a IRC channel or Slack for this project?
Thanks.

[2016-09-05 14:54] gunthercox commented on #254
Hi @slin17, there is on Gitter: https://gitter.im/chatter_bot/Lobby

[2016-09-06 22:15] gunthercox opened #280 "Make storage adapter query support true by default in a future release"
At the moment, not all of ChatterBot's storage backends support querying and filters. To maintain backwards compatibility, a field (`adapter_supports_queries`) has been included on all storage adapters. By default, `adapter_supports_queries` is false. If a storage adapter supports queries, then it needs to have `adapter_supports_queries = True` set in it's `__init__` method.

In some future releas

[2016-09-06 22:32] gunthercox opened #281 "Rename context to chatterbot"
The name `context` is confusing. It is actually the ChatBot instance.

**Details**
When any adapter (input, output, logic, storage) is added to an instance of ChatterBot, it is initialized with a variable called `context` which allows the adapter to access other adapters and variables that were set on the ChatBot instance.
The `context` variable should be renamed to `chatbot` to be more self-expla

[2016-09-06 22:41] gunthercox opened #282 "Add Django settings unit tests"
A unit test needs to be added to check that if a user sets the `NAME` variable in their `CHATTERBOT` settings in Django, that the name is correctly set for the ChatBot that gets instantiated in the view.

[2016-09-07 00:21] gunthercox opened #283 "Add documentation for tie breaking methods"
- Basic autodoc from the docstrings should be sufficient
- A link should be included somewhere in the logic adapter documentation
- Code: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/adapters/logic/mixins.py

[2016-09-07 02:56] gunthercox opened #284 "Pass ChatterBot Django settings to ChatBot constructor"
When using ChatterBot with Django, when the `CHATTERBOT` variable is defined in the Django app's `settings.py` file they should be passed to the ChatBot constructor defined in the API view.

[2016-09-07 15:14] gunthercox commented on #274
Added in https://github.com/gunthercox/ChatterBot/commit/287dbaeb5ec6252355bb2057d23129d2cd081139

[2016-09-07 15:14] #274 closed

[2016-09-07 17:38] gunthercox opened #285 "Change ChatBot filters parameter to import classes from the string path"
Currently, filters classes are being set like this:

[code]

They should be changed to use the string import path to the module like all of the other module parameters:

[code]

This change should be made before the next release since it will be the first release including the filter class options.

[2016-09-07 18:59] gunthercox opened #286 "Support extra data on django storage"
Storage adapters for ChatterBot typically support an `extra_data` attribute on statement objects which can store dynamic information about the statement. This field is currently not supported on the Django storage adapter.

I am open to suggestions on the best way to handle dynamic fields in a relational database environment.

[2016-09-07 19:09] gunthercox opened #287 "Change format of ChatBot parameters"
Currently, all of the parameters passed to a chat bot are also passed to each of the chat bot's adapters regardless of whether or not that adapter uses that parameter. This setup also makes it a bit unclear as to which adapter an extra parameter is used for. As ChatterBot grows, there might also be future issues with parameter name conflicts between multiple adapters that expect the same argument.

[2016-09-09 00:44] gunthercox commented on #282
Closed by https://github.com/gunthercox/ChatterBot/commit/adc1ed8b4cfa55591dd3c05ca3f8fee6964f3c15

[2016-09-09 00:44] #282 closed

[2016-09-09 00:45] gunthercox commented on #284
Closed by https://github.com/gunthercox/ChatterBot/commit/adc1ed8b4cfa55591dd3c05ca3f8fee6964f3c15

[2016-09-09 00:45] #284 closed

[2016-09-09 14:16] gunthercox opened #288 "Replace extra_data with actual caching"
At the moment, statement objects have an `extra_data` attribute designed to allow additional information to be stored on the statement object. This is useful for allowing logic adapters to cache calculated information on the statement.

The issue with the current setup is that having this as a dynamic field may not be the best way to store this data for multiple reasons. Mainly, No-SQL databases l

[2016-09-09 14:16] #286 closed

[2016-09-09 15:00] gunthercox opened #289 "SyntaxNet"
SyntaxNet is an open source project released by Google for analysing the parts of a statement.
I haven't had a chance to look fully into it yet but this might be a usefull feature to add to ChatterBot. Essentially it could make it so that ChatterBot can learn to understand what statements mean.
- Google Research Blog article: https://research.googleblog.com/2016/05/announcing-syntaxnet-worlds-most

[2016-09-09 15:04] gunthercox opened #290 "Integration with Microsoft Bot Framework"
The Microsoft Bot Framework has some great features that allow a chat bot to easily connect with various online services. Adding support so that ChatterBot adapters can connect to the Bot Framework endpoint to do various tasks might be useful.
- REST API Documentation: https://docs.botframework.com/en-us/restapi/connector/

[2016-09-09 19:18] davizucon commented on #290
Hi @gunthercox,It'll be a great addition !

I already tried REST API version 3.0 to connect with skype, IMO, bot REST API still very new and has a poor error handling.

Maybe with Node or C# works better.

[2016-09-10 12:12] #283 closed

[2016-09-10 12:39] #285 closed

[2016-09-10 12:47] gunthercox commented on #270
I'm going to close this as I believe it is a non-issue. Feel free to re-open the ticket if I've missed something.

[2016-09-10 12:47] #270 closed

[2016-09-10 12:55] gunthercox commented on #148
A new feature called _filters_ was recently introduced to ChatterBot. A filter called the `RepetitiveResponseFilter` has been added which eliminates recent responses from the set of possible replies that the chat bot can return. Currently, not all storage adapters support filtering but in the future they will.

See documentation http://chatterbot.readthedocs.io/en/stable/filters/index.html

[2016-09-10 12:55] #148 closed

[2016-09-10 13:04] gunthercox commented on #234
Hi @Nixellion @asperduti, the latest release of ChatterBot now includes much more verbose logging that can be enabled to help debug issues like these. You can enable the logging by setting Python's logging level to info:

[code]

This should allow you to actually see what is happening inside ChatterBot and it will also tell you exactly why a particular response was returned.

If anything strange s

[2016-09-10 13:18] gunthercox commented on #152
Based on the description of a dialog tree from @jeromeetienne's README, I believe this is something that ChatterBot is already doing (except for the GUI component).

ChatterBot stores all of the input statements it receives as a graph data structure with connections between a statement and it's possible responses.

For visualizations, another ticket was recently opened (#257) which proposes adding

[2016-09-10 16:14] adryr83 commented on #270
Ok. Thanks a lot.

In the next days I will restart to work with your chatterbot.

A.

Il 10/Set/2016 14:47, "Gunther Cox" <notifications@github.com> ha scritto:

[2016-09-10 21:42] Nixellion commented on #234
Hi, thanks. Here''s what I've got:

[code]

[2016-09-10 21:59] Nixellion commented on #234
Change the bit in base_match.py to:

[code]

now it selects random responses. But I guess it's not the correct way to set it, right?

[2016-09-11 02:33] Jackojc opened #292 "'DeprecationWarning' and 'UnsuitableForProductionWarning' when running example program."
When running the example program:

[code]

I get two warnings, Although the program continues to run as normal.

[code]

and

[code]

I'm running with Python3.5 AMD64 on Windows 10.

[2016-09-11 14:07] gunthercox commented on #292
Hi @Jackojc,

The `DeprecationWarning` is being triggered in the codebase of NLTK, which is another library that ChatterBot uses internally to handle various text analysis tasks. You can see where this code is being used around line 59 in https://github.com/nltk/nltk/blob/develop/nltk/decorators.py

The `UnsuitableForProductionWarning` warning is being triggered by ChatterBot. Keep in mind that it

[2016-09-11 14:11] gunthercox commented on #234
You can actually specify this when you construct your chat bot:

[code]

The documentation on these methods was _very_ recently added: http://chatterbot.readthedocs.io/en/latest/adapters/tie_breaking_method_mixins.html

[2016-09-11 14:13] gunthercox commented on #234
Note, that there are currently plans to improve the selection process. Specifically, https://github.com/gunthercox/ChatterBot/issues/276 will add functionality so that the the response is selected based on the context of the current conversation. This will help make these responses much more relevant.

[2016-09-11 14:54] Nixellion commented on #234
Thanks, yeah, did not see that before in the docs.

And sounds great, some contextual responses should be great.
Also some documentation on how to add some functional adapters, things that actually do stuff like play music, google something or check your mail. Right now I did a few, and they do stuff within adapter itself, after checking if they can process the input, but I'm not sure if thats the

[2016-09-14 09:53] navyad commented on #287
@gunthercox  please have a look at PR, let me know your feedback.

[2016-09-14 17:36] gunthercox opened #295 "Training chat bot within Django app"
It appears I overlooked this functionality when adding Django integration to ChatterBot. There is currently no way to do this within a django app.

[2016-09-14 20:15] liberaltech commented on #295
@gunthercox Could chatterbot be trained externally and then combined with the django app?

[2016-09-14 20:41] shuboy2014 commented on #295
Yeah @gunthercox  is this possible ?

[2016-09-14 20:47] gunthercox commented on #295
@liberaltech @shuboy2014 Not really. If the "external" training updated the statement and response entries in the django app's database, then yes. Otherwise it is not possible.

The solution that I am currently considering, is adding an API endpoint for training the chat bot, or at least for passing data to it's training function.

[2016-09-15 19:04] liberaltech commented on #295
@gunthercox  I created an adapter with weighted user inputs that then generate a response.
I modified the time_adapter.py, this would be a very tedious task for a large database of questions.
[code]

[2016-09-16 16:13] sumn2u commented on #214
Maybe we can try it with hadoop MapReduce @gunthercox  what you say  ?

[2016-09-18 04:37] RafaMedina opened #298 "Hook"
Is there a way to link a hook function to some phrases?

[2016-09-18 05:43] rileyjshaw opened #299 "RepetitiveResponseFilter example not working"
I tried to adapt the example at http://chatterbot.readthedocs.io/en/stable/filters/index.html to my code, but I keep getting the error:

[code]

It looks like `Filter` is somehow being read as a string?

For reference, here's the code I'm using:

[code]

I also tried `from chatterbot.filters import RepetitiveResponseFilter` and using that directly, but that failed with:

[code]

[2016-09-18 05:45] rileyjshaw commented on #299
[code]

seems to work... is this right? :S

[2016-09-18 10:47] navyad commented on #299
@rileyjshaw  Yeah that will work, expected way is to pass filters as a tuple

[2016-09-18 11:45] HarshGrandeur opened #301 "On stop training, default response??"
If i dont want the bot to learn further after training by setting read_only =true, what is the response of some random statement

[2016-09-18 12:32] gunthercox commented on #301
When `read_only=True` the bot will select the best response it can from what it already knows. The only difference from normal operation is that the user's response to whatever the bot says will not be learned by the bot.

[2016-09-18 12:34] gunthercox commented on #299
@rileyjshaw There is a known issue with the current release where the filters parameter is expecting a callable for the filter class instead of a string path to the callable class. This has been fixed but the changes won't be available until the next version of ChatterBot is released.

[2016-09-18 12:37] gunthercox commented on #298
Yes, you can create a custom logic adapter that checks for your specific phrases. Check out the documentation and the existing logic adapters. Let me know if you have any questions.

- http://chatterbot.readthedocs.io/en/stable/adapters/logic.html
- http://chatterbot.readthedocs.io/en/stable/adapters/create_a_logic_adapter.html
- https://github.com/gunthercox/ChatterBot/tree/master/chatterbot/adap

[2016-09-18 14:09] rileyjshaw commented on #299
Cool, thanks!!

On Sun, Sep 18, 2016 at 08:34 Gunther Cox <notifications@github.com> wrote:

[2016-09-18 17:44] RafaMedina commented on #298
Oh! great!

I'm trying to create a kind of decision tree implementing a machine learning conversation, it is where chatterbot shows up.

If you know or have something related it, please let me know it,

Thanks.

[2016-09-18 17:44] #298 closed

[2016-09-19 12:01] gunthercox commented on #299
@rileyjshaw ChatterBot version 0.4.10 has been released.

[2016-09-19 12:01] #299 closed

[2016-09-19 12:13] #301 closed

[2016-09-19 12:16] gunthercox commented on #292
Hi @Jackojc,

The latest release of ChatterBot (0.4.10) now allows a parameter to be passed in that will suppress the JSON File Database performance warning. To use it, you must set it when constructing your chat bot:

[code]

[2016-09-19 12:16] #292 closed

[2016-09-19 12:24] gunthercox opened #302 "Add documentation on how to create functional logic adapters"

[2016-09-19 12:24] #234 closed

[2016-09-19 16:49] gunthercox opened #304 "Create filter for statements without responses"
This filter would be useful for removing statements that do not have a known response from consideration by logic adapters. Logically these statements cannot be used to select a response because no response is known for them.

[code]

[2016-09-19 17:10] Jackojc commented on #292
Thanks @gunthercox!

[2016-09-19 17:23] #280 closed

[2016-09-20 13:27] davizucon commented on #214
Maybe we can use Redis as storage adapter.

[2016-09-22 09:59] sjpatil opened #306 "Examples are not working"
Hi,

I just tried basic_example.py and it does not seem to work.  Even if we ignore warnings it does not give any output.

_/usr/local/lib/python2.7/dist-packages/fuzzywuzzy/fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')
/u

[2016-09-22 11:34] EnderShadow commented on #306
I got the same problem

[2016-09-23 10:02] gunthercox commented on #306
Hi @sjpatil & @EnderShadow , lets take a look at the code for `basic_example.py`.

The goal of this line is to get a response to the input "How are you?". However, it is important to keep in mind that this chat bot is untrained at this point, so it doesn't know **anything** about the world or how to communicate. The first thing we do to it is say "How are you?" so now, it knows one thing (that phr

[2016-09-23 10:02] #306 closed

[2016-09-26 01:50] hobson commented on #295
If you used the DjangoStorageAdapter as the storage for the training it shouldn't the training-from-corpus examples "just work"?

[2016-09-26 02:06] hobson opened #308 "Django App statement -> response relationship is reversed"
To reproduce:
1. `runserver` on the example django app.
2. visit localhost:8000/admin to log in and view the Response model
3. click on the chatterbot app and the `Responses` table
4. click on one of the statements
5. bug: the field labeled `statement` is what you typed in response to the text shown under the `response`

The Response table should hold the foreign keys to the statement and the resp

[2016-09-26 02:07] hobson commented on #295
One problem with the DjangoStorageAdapter that I'm seeing is that `Response.response.text` is actually the statement that is being responded to and `Response.statement.text` is the real response. At least if you look at the data in the admin interface after submitting at least 2 chats to the API through using example django app.html: Issue #308

[2016-09-26 04:24] rmdort opened #309 "Intent and prompts"
Hi Gunther,

We are doing intent classification with a custom Logic adapter. The intent will match for `Book a flight ticket` => `book_ticket` .

The matched Logic adapter will respond with `What is your destination` . Let's say a user types a random word `asdadasd`, is there anyway for me to go back to the Logic adapter and prompt `What is your destination`  . Can conversations remain in the Logi

[2016-09-26 14:05] gunthercox commented on #309
This should be possible to do, but you will need to handle the state of this interaction within your custom logic adapter.

[2016-09-26 14:21] rmdort commented on #309
Awesome. I have written a basic IntentClassifier for `book_flight` intent. Am I going the right direction? Is there a better way?

[code]

[2016-09-26 14:57] gunthercox commented on #309
It looks like you are going in the right direction.

Let me know if you have any feedback or thoughts on the current setup of logic adapters. I originally designed them for just processing responses to a user's input but I am seeing a lot of developers creating action-style logic adapters. I'm interested in making changes to better accommodate multi-step workflows like the one you are working on.

[2016-09-26 15:07] gunthercox opened #310 "Logic adapters may benefit by choosing from an upper bounds of known responses"
A few of ChatterBot's logic adapters may benefit from selecting from the known responses of the top percentile of matching statements instead of just selecting the responses from the closest matching statement.

For example, there may be 3 known responses to "Hello" and 6 known responses to "Hello!". Even though there is only a single character difference between the two inputs, there is likely so

[2016-09-26 15:14] rmdort commented on #309
Sure. Thanks. I would be interested in having a `persist` flag to indicate if a conversation should remain in a Logic adapter.

If the `persist` flag is false, then only that Logic adapter will handle all conversations.

What do you think?

[2016-09-26 16:16] jltchiu opened #311 "Is there a way to let bot answer the same question with different answers?"
Thanks for this great tool. I was looking at the example program. In the English corpus, there are cases where a same question can have multiple answers

        [
            "Hi, How is it going?",
            "Good"
        ],
        [
            "Hi, How is it going?",
            "Fine"
        ],
        [
            "Hi, How is it going?",
            "Okay"
        ],
        [

[2016-09-26 17:11] gunthercox commented on #311
Yes, this is possible. When you create your chat bot, set `tie_breaking_method="random_response"` like this:

[code]

http://chatterbot.readthedocs.io/en/latest/adapters/tie_breaking_method_mixins.html#chatterbot.adapters.logic.mixins.TieBreaking.get_random_response

[2016-09-26 17:34] jltchiu commented on #311
Thank you very much, that's exactly what I am looking for.

I didn't find that in the document, maybe I missed that.

[2016-09-26 17:36] #311 closed

[2016-09-27 15:09] rmdort opened #312 "Websocket input/output adapter"
Hi Gunther. Is it possible for you to release a websocket adapter?

I have been trying to implement one with autobahn, But i am not sure how the input and output adapters should be

[2016-09-28 02:09] rmdort commented on #312
Got around implementing it. Was quite simple

[code]

[2016-09-28 06:42] rmdort commented on #312
Fixed this by setting `user_id` before `get_response`.

* I have a global `users` object with all user settings (eg: Intent)
* Single instance of Chatbot
* Pass the `users` object into Chatbot while initializing

[code]

It would be great if you can provide a method to set context variables dynamically. And even adding/removing adapters

[2016-09-28 13:26] rmdort opened #313 "Add Multi-user support"
Multi-user support in the core would be really useful

[2016-09-28 14:38] gunthercox commented on #312
@rmdort I'm glad you figured it out. I agree with the idea to add methods to add and remove logic adapters. Feel free to open a ticket with that request.

[2016-09-28 14:41] #312 closed

[2016-09-28 14:42] rmdort opened #314 "Dynamically add and remove logic adapters"
Add methods to `add` and `remove` logic adapters in the ChatBot

[2016-09-28 15:21] gunthercox opened #315 "Event driven response generation"
This is just a thought (still needs to get expanded upon) but it may be interesting to experiment with event-driven patterns in Python for response generation.

[2016-09-29 00:52] rmdort commented on #309
Another issue i am facing is sometimes i need to save Context variables for a specific amount of time for a future conversation.

For eg:
[code]

In this case, i have to save `location` context which can be re-used in a different logic adapter.

I can save it externally, but would be good if Chatterbot handles per-user settings and saving of context internally.

[2016-10-01 13:55] #314 closed

[2016-10-01 20:16] #7 closed

[2016-10-02 01:19] #315 closed

[2016-10-02 02:42] rmdort commented on #309
@gunthercox

I was wondering if chatterbot can have Topic based conversations in the core. Similar to

https://github.com/superscriptjs/superscript/wiki/Topics

Or should we just use the logic adapter pattern to do this? There is also another chatbot that implements Topics

https://github.com/open-intent-io/open-intent

[2016-10-02 11:16] gunthercox commented on #309
@rmdort It looks like topics have to be set manual in these implementations. I have a few notes on the subject which I can create a ticket for, but I'm wondering if a setup where the chat bot **learns** to group similar conversations together by "topic" might be more flexible.

Is there a use case for setting topics manually? From my understanding, the goal of a topic is just to group similar conv

[2016-10-02 11:23] gunthercox opened #318 "Create time parsing utility function"
It would be useful to have access to a utility function that could parse date time objects out of sentences. Use cases include scheduling reminders and looking up historical information.

**Example input:**

- "Let's meet next tuesday."
- "Do you want to meet on Tuesday or Thursday?"
- "We will deploy our new app in the first quarter of 2016."
- (Standard datetime formats)
- "My birthday is on Jan

[2016-10-02 12:01] gunthercox commented on #313
I believe there is actually two cases here, both of which I'd like to implement.

1. One bot is having many different conversations with single users.
2. The bot has a conversation with a group of users. The users may address the bot or each other. (This is a bit more complex than the first case).

[2016-10-02 12:28] gunthercox opened #319 "Allow bots to be created from a config file"
This should make it easier to create bots that share a common configuration or just have large configurations in general. The file should be in json or yaml format.

[code]

[2016-10-02 12:33] gunthercox opened #320 "Additional operations for the Math logic adapter"
- square root
- logarithms
- Pi

[2016-10-02 12:51] rmdort commented on #318
I have been using NLTK timex parser to parse date and time just like https://duckling.wit.ai/ . We also parse email, url, phone numbers.

Do you have an API skeleton in mind, if so i can help with this

[2016-10-02 13:03] rmdort commented on #309
It would be good to see your notes on this. I am not sure how would you make the bot learn to group conversations into a topic.

I was thinking topics to be manually created ones, and conversations are tagged to a topic.  But it will be interesting to see your POV

A few features off the top of my head

1. Tagging conversations to topics.
2. Branching between conversations inside a topic
3. Branch

[2016-10-02 14:47] gunthercox commented on #318
For the API I was thinking of just a simple function that takes a string as input and returns a list of Python datetime objects in the order that they were found in the string. So something like:

[code]

[2016-10-03 00:23] rmdort commented on #318
Noted.

Hi @gunthercox , I have a question regarding the license of this app.

1. Can chatterbot be used commercial purposes?
2. What kind of License is it released under? MIT?

[2016-10-03 05:54] rmdort commented on #318
This is where I am right now.

[code]

If you notice the first dates object is an array of dates (since the user is referring to multiple dates), while others are not.

Yet to add tests. How do i run tests? Sorry I am from the Javascript world :)

[2016-10-03 10:05] gunthercox commented on #318
ChatterBot is distributed under the BSD 3-clause licence (similar to many other Python projects such as Django). This license does allow for commercial use.

For running tests, this project uses nose. Nose can be installed with pip by running `pip install nose`.
Tests can be run using the command `nosetests` and individual test files can be specified by running `nosetests path/to/test/file.py`

[2016-10-03 10:16] rmdort commented on #318
Awesome thanks. I didnt see the license information in `license.md` file, thats the reason i asked.

[2016-10-05 08:11] rmdort opened #323 "Send multiple responses for a single input"
Is it possible to send multiple response to a conversation? How can i do something like this

[code]

[2016-10-05 09:04] vkosuri opened #324 "Django multi app support"
I am planning to add different department services as Django re usable apps. Will it be possible with this framework?

for exampl

[code]
If so, could you please let me how do this?

[2016-10-05 16:45] gunthercox commented on #323
This would need a custom logic adapter and possibly a custom output adapter to handle this case. At the moment, the existing ones just handle returning a single response.

[2016-10-05 17:54] gunthercox commented on #324
I believe you could achieve this by creating a different chat bot instance for each subservice that you wich to provide. Tanking a look at the existing chat bot API view might provide you with a good idea on how to add this in your own code: https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/ext/django_chatterbot/views.py

[2016-10-06 11:10] rmdort commented on #323
Ah ok. I see what you are saying - the logic adapter outputs multiple responses in a certain format and let the output adapter send the response as multiple messages

[2016-10-06 11:10] #323 closed

[2016-10-07 01:11] #324 closed

[2016-10-07 04:17] vkosuri commented on #324
@gunthercox thank you very much, I'll try and let you about about development, if possible I'll update documentation also.

[2016-10-07 11:25] rmdort opened #325 "Can a logic adapter enrich input statement"
Is it possible for a logic adapter to modify the input statement before it goes to the next adapter?

Can I use extra_data for this, to store some computed value

[2016-10-07 12:11] gunthercox commented on #325
Yes you can, just be sure to save it back to the database.

[2016-10-07 13:23] rmdort commented on #325
ok noted. How about the input response?

I want to create a logic adapter that does spell correction and handles the output to the next logic adapter.

[2016-10-07 14:59] gunthercox commented on #325
The input statement is passed to the logic adapter so it should definitely
be possible to modify. I may be misunderstanding your question, but you can
modify any attribute of the statement in your logic adapter and it will be
available to the next adapter as long as you save it to the database.

On Fri, Oct 7, 2016 at 9:23 AM Vinay M <notifications@github.com> wrote:

[2016-10-07 15:06] rmdort commented on #325
Ah ok. So save the computed value in the databse from one logic adapter and retrieve the saved value in the next logic adapter?

[2016-10-07 16:40] gunthercox commented on #325
Correct.

[2016-10-07 16:44] #325 closed

[2016-10-07 17:39] rmdort opened #326 "Extra data doesn't get passed on to response statement"
Bot Input
[code]
In my logic adapter,
[code]

I only see this issue when using Terminal output adapter. I guess its the job of the input adapter to persist extra_data

[2016-10-08 17:20] rmdort commented on #326
I guess preserving `extra_data` is upto the Input/output adapater. Hipchat and Terminal input adapters modify the input_statement, hence extra_data gets lost.

So i don't think any action is required. What do u think?

[2016-10-08 17:25] gunthercox commented on #326
Check out `test_response_extra_data` in https://github.com/gunthercox/ChatterBot/blob/master/tests/test_chatbot.py#L134. It appears to confirm that the `extra_data` parameter is being saved from the input statement.

[2016-10-08 17:29] rmdort commented on #326
Yes. Can close this. 👍

Its just that in the terminal input adapter

[code]

In this case the input `statement` object is not being used, instead a new instance of `Statement` is returned. So extra_data is lost in the response of the output adapter. But yes, you are right, the core doesnt alter `extra_data`

[2016-10-08 17:29] #326 closed

[2016-10-08 18:54] winn opened #329 "Cannot get response using Chinese"
from chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrainer
chinesebot = ChatBot("Training Example")
chinesebot.set_trainer(ChatterBotCorpusTrainer)
chinesebot.train("chatterbot.corpus.chinese")
chinesebot.get_response("早上好，你好吗?")

utf-8
Error
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe6 in position 0: ordinal not in range(128)

decode utf-8
UnicodeEncodeErro

[2016-10-09 01:31] rmdort commented on #329
Can you make sure your file encoding is set to utf. Add this to the top of your file

[code]

[2016-10-09 03:07] gunthercox opened #331 "Add tests for Gitter input and output adapters"
(Added in #330)

[2016-10-09 16:47] rmdort opened #336 "When no training data is present, logic adapters are skipped"
When user provides no training data, chatterbot is currently responding with the input statement. Logic adapter output is completely skipped

I guess its because of no knowledge adapter. Can we remove that and make it optional to the user?

[code]

[2016-10-09 21:49] gunthercox commented on #336
I'm not sure if I understand what the benefit of removing it would be. If a bot hasn't been trained and it hasn't communicated with anyone before, then it has no information about how to respond to input. In this scenario (which should only ever occur once) the only information it has to respond with is the user's input.

[2016-10-10 00:38] rmdort commented on #336
ok noted.

The bot i was building didn't need any training data. I was using logic adapters for everything. I have adapters for `greetings`, `q&a` etc. I will probably just add one training data to prevent this error.

[2016-10-10 03:08] rmdort commented on #313
Currently how i am handling user-bot conversations is

1. When a user is connected, i create a user_id cookie and save the user to mongodb
2. I record all the user's conversations in mongodb tagged to the unique user_id, so next i can pick up the conversation where it left off
3. Users current_intent and previous_intent is stored as well. So that the bot knows the context before responding to the

[2016-10-11 11:48] Gokul299210 opened #339 "couchdb storage adapter"
Hi,

Has anyone come up with a storage adapter for couchdb?

[2016-10-12 17:56] rmdort commented on #336
#337

[2016-10-12 17:56] #336 closed

[2016-10-12 23:01] #319 closed

[2016-10-13 04:25] rmdort commented on #329
Closing this issue. Feel free to reopen if you still have this problem

[2016-10-13 04:25] #329 closed

[2016-10-13 10:24] forestli opened #342 "Unicode characters issue"
I tried to train with Chinese corpus, and then get response by passing some input(for example, "你好"), but exception was thrown,
=====================================================================
/usr/local/lib/python2.7/site-packages/chatterbot/chatterbot.pyc in get_response(self, input_item)
    149         """
    150         input_statement = self.input.process_input(input_item)
--> 151

[2016-10-13 10:30] rmdort commented on #342
Duplicate of #329

[2016-10-13 11:06] armsmani opened #343 "'ChatBot' object has no attribute 'get_response'"

[2016-10-13 12:49] navyad commented on #343
@armsmani can you specify which part of the code, raised this error ?

[2016-10-13 12:55] gunthercox commented on #343
@armsmani I suspect you may have named one of the classes in your code `ChatBot`, however I can't be certain based on the information provided.

[2016-10-13 14:01] forestli commented on #342
thanks for quick response. close the case.

[2016-10-13 14:01] #342 closed

[2016-10-14 07:37] nurulishlah commented on #309
Hi @rmdort and @gunthercox, I've been looking for the way to create this intent and contextual chatting in this chatterbot. any updates on this?

Cheers,

[2016-10-14 11:23] Nixellion opened #345 "Russian math words and russian corpus"
Hi, so, I decided to separate my AI's command-logic from chatterbot's adapters. At least this way I can better contribute to making chatterbot a better chatterbot, and not an assistant, while also having full control over my command-logic, where just regular expressions work better than full-blown matching\levenshtein distance\dictionary\etc logic of chatterbot :) anyway...

I'll start making russ

[2016-10-14 14:15] gunthercox commented on #345
Sure, contributing changes with GutHub and git is fairly easy. The basic flow to do this is:

- Fork the project
- Clone your fork locally
- Create a new git branch to start working on your changes
- Make code changes in your local copy
- Commit changes to git and push them up to your clone
- Create a pull request to merge changes from your project to the original

If you need more info on any of

[2016-10-14 17:13] Nixellion commented on #345
THanks! Yeah, I did that. Will try to make a basic russian corpus asap.

Aand one more question though, is there a central place for switching language in chatter bot, or will it just define language automatically somehow?

[2016-10-15 13:24] gunthercox commented on #345
ChatterBot actually doesn't define a language anywhere. It learns based on user input. As a result, the only time a language is really "set" is when a chat bot is being trained with a particular language.

However, the math words language does have to be set manually (currently). This is done by specifying the parameter `math_words_language='russian'` when initializing the chat bot.

[2016-10-15 13:32] rmdort commented on #290
👍 Looking forward to bot framework intergration

[2016-10-15 23:57] Nixellion commented on #238
Hm, thats weird. It seems that this appears on my windows desktop. but it does not on a Raspberry Pi 3. Either it's something to do with windows\linux, or maybe it's just that PC writes to the database to quickly, and it fails? This would be weird...