[2017-07-11 12:39] juanpialbano commented on #836
I  want to put it in Production in my job, I developed an api with werkzeug  but there is not suppor for python in the server ...

I'm trying to make work with Jython but I have a lot of problems

[2017-07-11 14:59] shousunny commented on #826
i met the same problem today,  and i had upgraded chatterbot ,but i am unable to get chatterbot version yet. when using "from chatterbot import ChatBot", Python still show importError： No module named chatterbot.
(Windows 10 64bit, python3.5)

[2017-07-11 15:52] vkosuri commented on #826
I am unable to figure your issue, how are you installing/upgrading ``chatterbot`` through virtual enviroment or system level?

[2017-07-11 23:24] shousunny commented on #826
Microsoft Windows [version 10.0.14393]
(c) 2016 Microsoft Corporation
## 【1、i install chatterbot via CMD,use pip install./chatterbot】
C:\WINDOWS\system32>d:
D:\>cd D:\Program Files (x86)\Python35-32\Lib\site-packages
D:\Program Files (x86)\Python35-32\Lib\site-packages>pip install ./chatterbot

Processing d:\program files (x86)\python35-32\lib\site-packages\chatterbot
  Requirement already satisfi

[2017-07-11 23:28] shousunny commented on #826
Then， i met the same problem like@harshalgaydhankar, python3.5 show importError," No module named chatterbot."
just like:
[code]

[2017-07-12 01:09] gunthercox commented on #826
Can you import _any_ python packages that have been installed?
I'm wondering if this isn't an issue that is specific to ChatterBot.

For example, if you run:
[code]
and then try to import it:
[code]

[2017-07-12 01:13] gunthercox commented on #836
Sorry, I don't have any experience with Jython.

[2017-07-12 04:10] gabru-md commented on #836
I believe if yoy make a server and then access the chatterbot with custom setup api then you can definitely run chatterbot inside java.
If there will be a web api , like which produces JSON objects as response then ot can be used overultiple platforms.

I hope this help.
Cheers!

[2017-07-12 05:54] vkosuri commented on #826
Your were in current chatterbot installation directory, could you try relative import like below?

[code]

[2017-07-12 11:51] shousunny commented on #826
i import nose successfully , @gunthercox

and i tried relative import, but also failed, @vkosuri

thanks for your help, i  am totally a newcomer to chatterbot and python.
[code]

[2017-07-12 12:04] vkosuri commented on #826
Thanks @shashwatbhatt, Another guess could be ``D:\Program Files (x86)\Python35-32\`` is not in system path.

To know system path, try below commands. If ``D:\Program Files (x86)\Python35-32\`` not added to python path, please add it in [windows system environment variables](https://stackoverflow.com/questions/3701646/how-to-add-to-the-pythonpath-in-windows-7).

[code]

[2017-07-12 12:07] shousunny commented on #826
@vkosuri
[code]

[2017-07-12 12:08] shousunny commented on #826
[code]

[2017-07-12 12:14] vkosuri commented on #826
I am sorry i am unable to figure it your issue on machine with python 3.4, I see these type issues if you have multiple variants of pythons installed in your machine.

[2017-07-12 12:26] shousunny commented on #826
thanks, only python3.5 installed in my PC

[2017-07-12 12:41] gunthercox commented on #826
What do you get as an output from the command `pip freeze` ?

[2017-07-12 12:52] shousunny commented on #826
my god~~i am so sorry , i made a stupid mistake, after i download the "ChatterBot-master" from git,  i used this folder directly.Instead, i should copy the subfolder"chatterbot" in "ChatterBot-master" .

[2017-07-12 15:46] gabru-md commented on #836
@gunthercox sir,

can i start the work on the API ?

[2017-07-12 15:48] GRA0007 opened #838 "How to use the session manager"
I have a simple chatterbot set up where multiple users can chat at once and I'm not really sure how to implement the session manager to "sessionalize" the conversations.

This is my code:
[code]
Don't worry about how I'm getting the `USER_ID` or the `INPUT`, I just need to implement sessions for the bot and the docs page is rather confusing. Thanks.

Note: the `USER_ID` is a unique string.

[2017-07-13 11:30] gunthercox commented on #826
No problem, it happens ¯\_(ツ)_/¯

[2017-07-13 11:30] #826 closed

[2017-07-13 11:40] gunthercox commented on #838
Hi @GRA0007, I don't have a perfect example of this to provide at the moment. I've added a task to my to-do list for adding an example to the project documentation.

Right now there _is_ a working example of conversation session management in the Django extension module. You can take a look at that and it might provide some insight on how to set this up.

https://github.com/gunthercox/ChatterBot/b

[2017-07-14 00:14] narnikgamarnikus opened #839 "Why did the chatterbot respond slower?"
I used the ubuntu corpus trainer.
I just did usual training (I use MongoDB).

The bot sends messages to the web interface via web sockets. Earlier, when there was no data, he responded instantly. Now you need to wait 5-10 seconds until he answers.

I understand that this problem is related to mongo and not to the chatterbot, but is this really normal ?
Or am I the only one who has this problem?

[2017-07-14 00:25] gunthercox commented on #839
It takes longer because there is more data to process when selecting a response.

[2017-07-14 02:34] sal48 commented on #839
@gunthercox, yeah, but this is a problem. It's the problem I currently have with my chatbot. What is the best way to handle this? Should I load everything from disk and just keep it in RAM? I've ran the problem to ground, and I see that the most time is spent when it gets all response statements from the DB. I had this issue both with MongoDB and SQLite. (best_match.BestMatch.get method)

What is

[2017-07-14 03:10] narnikgamarnikus commented on #839
@gunthercox, It is obvious.
Also, I see how my processor is overloaded, when searching for an answer.

[2017-07-14 03:32] sal48 commented on #839
@narnikgamarnikus Actually, I looked deeper at the problem. Retrieving data from the tables doesn't take any time at all. (Putting all of the cornell data mentioned above takes about 100 MB, and it's accessed really quickly.)

The real issue is finding a close match. Out of the 88 seconds that it took to retrieve an answer, 72 seconds were spent iterating over the statement list and using the comp

[2017-07-14 03:37] sal48 commented on #839
Also, @narnikgamarnikus, MongoDB is a NoSQL database, and it's perfectly fine for production projects.

However, if you'd prefer to get away from the storage options available, you can code a storage adapter. It's really not too bad, there's only a handful of methods you need to code. (It's mostly code to connect to your instance.)

[2017-07-14 04:35] anantbara opened #840 "Training issue after Django Integration"
Getting issue in training with below chatterbot settings in settings.py

[code]

*Error generated*
![error](https://user-images.githubusercontent.com/24452345/28198400-88aec676-687b-11e7-8ef5-027d42af8c74.jpg)

[2017-07-14 05:22] anantbara commented on #840
Having issue in logic adapter ('import_path')

[2017-07-14 07:00] #834 closed

[2017-07-14 09:41] vkosuri commented on #840
Similar issue https://github.com/gunthercox/ChatterBot/issues/717.

@anantbara might be this solution will work https://github.com/gunthercox/ChatterBot/issues/717#issuecomment-309488888

[2017-07-14 09:44] narnikgamarnikus commented on #839
@sal48, Maybe it makes sense to write in the documentation about the threshold values for storing the number of records, after which the bot starts to slow down significantly?

[2017-07-14 11:01] gunthercox commented on #839
This issue is a problem that I am aware of and working to fix. My plan is to reduce the amount of statements that need to be analysed when searching for a match. To accomplish this I am going to modify the training process so that it categorizes each statement. The categorization process will be flexible and will even allow developers to add their own categorization functions. Here is a quick exam

[2017-07-14 16:15] huobaiyu opened #842 "when run example file, report many errors"
source py file:
[code]
output：
[code]

[2017-07-14 16:37] narnikgamarnikus opened #843 "What about AIML ?"
I know about AIML, but nowhere could I find a mention of the chatbot in combination with the AIМL.

Let's say I have a database of dialogs in the language of AIML and I want to use a chatterbot to work with it.

Tell me, what do I need to do for this?

[2017-07-14 18:58] sal48 commented on #839
@gunthercox I think that's the correct direction, but the codebase seems pretty far from that point. I'll try experimenting with different confidence thresholds tonight, as the chatbot simply isn't production ready when it takes 80 secs to respond.

@narnikgamarnikus The threshold value seems to vary on application. For instance, if you're running a chatbot for a company that needs to answer techn

[2017-07-14 19:25] juanpialbano commented on #832
@vkosuri thanks but I have doubt, How does the Chabot learn ?

here it doesn't explain so much : [ http://chatterbot.readthedocs.io/en/stable/#how-chatterbot-works](url)

When the Chabot makes a response, it stores the request-response in the database for future queries?
How does he know if a request-response was right o wrong so he can use it in the future ?

Thanks in advance

[2017-07-15 00:20] gunthercox commented on #842
Hi @huobaiyu thank you for the bug report. I will correct this as soon as possible.

[2017-07-15 00:22] gunthercox commented on #843
Sounds similar to #137

[2017-07-15 00:51] #843 closed

[2017-07-15 01:28] vkosuri commented on #839
@gunthercox Master, Looks good to me the above approach. I have few question on above process.

If the entire corpus database has question and answers,  For example UbuntuCorpus.

the above approach will improve request and response time? how could be the approach such corpus models?

[2017-07-15 06:21] gabru-md commented on #842
Check Stack-Overflow [Here](https://stackoverflow.com/questions/31059477/sqlalchemy-unique-constraint-failed-error-yet-no-unique-constraints-set)

It says that :
"Drop your tables or delete your DB and initialize it again. Every time you make a schema change you must drop your tables and re-initialize, it doesn't just update."

I hope this helps :D
Cheers!

[2017-07-15 08:38] gabru-md commented on #836
@gunthercox  sir,

can i make the web platform / API for chatterbot?

[2017-07-15 08:54] amanvars opened #844 "Issue when using SQlStorageAdapter"
[code]

[2017-07-15 14:12] gunthercox commented on #836
@gabru-md What kind of web platform are you imagining?

[2017-07-15 14:16] gabru-md commented on #836
sorry! i mean an API as i discussed above.
It will give JSON results for every query. So that any Chatterbot can be used with any programming language.
i have it ready.

[2017-07-15 14:24] nggary opened #845 "Advance use of logic adpater?"
Hi there, first of all, I would like to say thank you to gunthercox for writing this engine, this engine is amazing.

Assume that i had a currency exchane rate table based on hong kong dollar in database:
Usd: 0.13
Yen: 700
Etc...

If I want to impletment currency checker function to bot like this:

(Default currency is Hong Kong dolloar)
Me: usd rate
Bot: 1 hkd = 0.13 usd
Me: us dollar rate
Bot:

[2017-07-15 14:26] gunthercox commented on #836
Is your API build using ChatterBot's Django integration or does it use a different framework?

[2017-07-15 14:30] gabru-md commented on #836
mine is simple.

It uses node.js for backend and python for response prediction.
sir, you can see it here: [chatterbot-api](https://github.com/gabru-md/chatterbot-api)
i've tried it on localhost though! :P

#justaBeginner

[2017-07-15 14:46] gabru-md commented on #836
any suggestions sir ?

[2017-07-15 14:54] gunthercox commented on #836
ChatterBot is intended to support the ability for developer to use it in web based APIs. I'm glad that you were able to get this to work for your project.

Right now I don't think I'm ready to support an additional API example being added to the project.

@juanpialbano I'm going to close this ticket off. I hope this conversation has served to provide a sufficient response. There are many ways to g

[2017-07-15 14:54] #836 closed

[2017-07-15 15:52] huobaiyu commented on #842
I didn't create any tables. How to drop or delete tables?

[2017-07-15 18:16] gunthercox commented on #842
my_chatbot = ChatBot(...)

my_chatbot.storage.drop()

[2017-07-15 20:18] juanpialbano opened #847 "Responses based the context of the conversation"
Hi, How to make a response based in the context of the conversation?

I mean, if the user say 'I have an error' is not the same if previously he said he was transferring money that if previously he said he was changing his password

So, how can I manage responses based in the context of the conversation?

[2017-07-15 23:33] vkosuri commented on #845
@nggary

Yes, here is an example of [Mathematics Evaluation](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/logic/mathematical_evaluation.py)

You could found more information in this thread https://github.com/gunthercox/ChatterBot/issues/820

[2017-07-15 23:36] vkosuri commented on #844
@amanvars Similar issue https://github.com/gunthercox/ChatterBot/issues/831

[2017-07-15 23:43] vkosuri commented on #832
@juanpialbano Thanks for your inputs we will improve that phase

Yes,

Using [Response selection methods](http://chatterbot.readthedocs.io/en/stable/logic/response_selection.html#module-chatterbot.response_selection)

Let me know if you need any further help

[2017-07-16 00:01] sal48 commented on #831
@gunthercox, what is the status of this bug? I ran into this a few days ago, and it seems that it doesn't connect to the database when one uses the SQLStorageAdapter. Is this what you found? In this case, I suppose we can just hard code the path to our SQL dbs while we wait for the fix, right?

[2017-07-16 02:03] huobaiyu commented on #842
still report errors:
Traceback (most recent call last):
  File "D:\Program Files (x86)\Python36\lib\site-packages\sqlalchemy\engine\base.py", line 1182, in _execute_context
    context)
  File "D:\Program Files (x86)\Python36\lib\site-packages\sqlalchemy\engine\default.py", line 470, in do_execute
    cursor.execute(statement, parameters)
sqlite3.OperationalError: no such table: StatementTable

Th

[2017-07-16 09:08] nggary commented on #845
For the second part of this question is it possible to make a enhancement to the engine? Such like this:
{
    "test":
    [
        [
            "What is the best selling product?",
            "The best selling product is [class.method]"
        ],......

The response with automatically replace the tag [class.method] to static method from specific class

[2017-07-16 09:22] nggary commented on #482
May I know how @vkosuri do the conversation from text to event action? I see there are several calendar

[2017-07-16 12:17] gunthercox commented on #842
@huobaiyu Yes, this is an actual bug in ChatterBot. You aren't doing anything incorrectly. I am still tracking down where the error is actually occurring.

[2017-07-16 12:22] gunthercox commented on #831
@sal48 The status is the same as it was a few days ago. You will see comments and / or pull requests from me when I make changes.

This issue is due to integrity errors from a unique constraint violation.

[2017-07-16 12:24] gunthercox commented on #847
Hi @juanpialbano, I am currently working on changes that will add support for this functionality. It currently isn't possible but it will be once I finish making those modifications. See #828 for details.

[2017-07-16 14:03] #845 closed

[2017-07-16 15:13] PrabinPC opened #849 "Create New bot"
Where to write the this section of code. Please kindly help me
If you are using Python 2.7, be sure that the unicode header is the first line of your Python file:
[code]

[2017-07-16 15:42] nggary commented on #849
Please take a look on the example code

[2017-07-16 19:29] #831 closed

[2017-07-16 19:29] #842 closed

[2017-07-16 19:29] #844 closed

[2017-07-17 00:05] gunthercox commented on #719
I was unable to recreate this issue using the latest version of ChatterBot. There is additional information [in the documentation](http://chatterbot.readthedocs.io/en/stable/encoding.html) on how to solve various common unicode errors in Python.

Feel free to reopen this issue if you are still encountering the error.

[2017-07-17 00:05] #719 closed

[2017-07-17 00:58] gunthercox commented on #758
There is now documentation on the directory setup for custom logic adapters.

http://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html#directory-structure

It is located under the general logic adapter documentation because the setup is the same regardless of if Django is being used.

[2017-07-17 00:58] #758 closed

[2017-07-17 03:35] Olagsfark commented on #839
I sure hope the time lag issue is fixed. the timing on my bots is way too much for production.
I really hope to see this fixed.
Anyways, @gunthercox great JOB!!! Truly great job Man!!!!

[2017-07-17 14:53] nggary opened #853 "Training the bot response same answer by asking different question?"
Sample corpus as following:
"new" : {
"What's news?",
"Here is the news: XXX"
},{
"Any news?",
"Here is the news: XXX"
}

Is there any way to train the bot response the same answer but reduce the duplicate training corpus item without implement new training class?

[2017-07-17 16:22] juanpialbano commented on #853
Hi, I've made an small function for this :
[code]

Hope Hope this can help you

[2017-07-18 01:11] nggary commented on #853
Wow, thank you very much.I will try this.

[2017-07-18 07:18] vkosuri commented on #849
@PrabinPC I am assuming you are trying use this example on fallowing details

OS: Linux
Language: Python

If want run your script, here some of the steps i am trying to plot in Linux terminal

1. Activate [virtual environment](http://python-guide-pt-br.readthedocs.io/en/latest/dev/virtualenvs/)
2. Install chatterbot using [pip](https://github.com/gunthercox/ChatterBot#installation)
3. Open new fil

[2017-07-18 08:46] vkosuri commented on #845
Yes, you can write using some type template mechanism, here is an example i have wrote long back https://github.com/gunthercox/ChatterBot/issues/518#issuecomment-268188844

[2017-07-18 14:30] #853 closed

[2017-07-18 14:51] nggary opened #857 "How it handle conversation of booking?"
If I want to create an account by the chatbot:

Me: Hi, I want to book the dinner.
Bot: May I have your name?
Me: Peter
Bot: May I have your mobile number?
Me: xxxxxxxxxxxxxx
Bot: What time you want to eat at?
Me: 8:00 pm
Bot: Your table is reserved.

This conversation involve few questions:
1. How do the chatbot store the booking information from multiple input (name, mobile no. and time)?
2. How

[2017-07-18 15:10] nggary opened #858 "ModuleNotFoundError: No module named 'dateutil' on python 3.6"
I've execute the command "pip install --upgrade chatterbot" already.

When I try to execute the sample code from https://chatterbot.readthedocs.io/en/stable/training.html#

[code]
Error message:

[code]
Process finished with exit code 1

The same code works fine before I updated the chatterbot, but fail after I updated it.

[2017-07-18 16:27] vkosuri commented on #858
@nggary we haven't added ``python 3.6`` to travis. I think we have to add those @gunthercox Master any comments adding python 3.6 to travis?

@nggary May be i think dateutil package won't come with python3.6, could you please try to install dateutil using pip ``pip install python-dateutil``

[2017-07-18 16:38] vkosuri commented on #857
You have to write your own logic adapter to handle above scenario, For more information about custom logic adapter will find [here ](http://chatterbot.readthedocs.io/en/stable/logic/create-a-logic-adapter.html).

However an example code located in this issue comment https://github.com/gunthercox/ChatterBot/issues/309#issuecomment-249583779

[2017-07-18 17:12] prakhar21 opened #859 "List of default response"
Hi, is it possible to give list of possible default response in LowConfidenceAdapter instead of just one statement. or maybe programatically this functionality can be achieved ?

[2017-07-18 21:54] gunthercox commented on #858
@nggary It appears I was overzealous in my eagerness to embrace the ["release early, release often"](https://en.wikipedia.org/wiki/Release_early,_release_often) philosophy of the [Cathedral and the Bazaar](https://en.wikipedia.org/wiki/The_Cathedral_and_the_Bazaar). My apologies. I will push up a fix shortly that adds `python-dateutil` to the project requirements.

[2017-07-19 00:55] nggary commented on #858
No worries, take your time.

[2017-07-19 00:57] nggary commented on #857
Thanks for pointing me the direction.

[2017-07-19 01:49] #858 closed

[2017-07-19 14:41] Listade opened #862 "SQLStorageAdapter"
[code]

database_uri from database_name ignored.

[2017-07-20 00:03] #847 closed

[2017-07-20 00:03] #833 closed

[2017-07-20 00:10] gunthercox opened #865 "Will removing the unique index from the Mongo DB adapter improve performance?"
This is something I'm interested in looking into. Possibly, this would remove the overhead of the database having to rebuild the index each time a statement is added (some research on this is still required).

[code]

[2017-07-20 07:48] Listade opened #867 "Crash in use SQLStorageAdapter"
[code]

[code]

[2017-07-20 09:38] vkosuri commented on #865
Some references https://docs.mongodb.com/manual/tutorial/optimize-query-performance-with-indexes-and-projections/

[2017-07-20 09:52] vkosuri commented on #867
@Listade Could you please your example code, to debug further.

[2017-07-20 15:04] nggary opened #868 "Training didn't auto generated the database.db"
I used to execute the following code to train my chatbot and the database.db will be auto generated, but It doesn't happen in this version.

[code]

[2017-07-21 09:48] vkosuri commented on #868
@nggary Chatterbot default storage adapter is ``SQLStorageAdapter``.

It uses database_uri to connect your database, more information available [here](http://chatterbot.readthedocs.io/en/stable/storage/index.html#sql-alchemy-storage-adapter).

If you want to know table properties use [find(statement_text)](http://chatterbot.readthedocs.io/en/stable/storage/index.html#chatterbot.storage.SQLStorageA

[2017-07-21 11:04] telkomops commented on #832
Hi Query on the  [response relationship](http://chatterbot.readthedocs.io/en/stable/conversations.html#statement-response-relationship). does the statement have user affinity. for e.g. User A Says Statement 1, User A Says Statement 2 , User B Says statement 3.
Stored as Statement 1 , Statement_2 ::: In_response_To Statement_1 , Statement_3 :: in_Response_To_Statement_2.
In here the user affinity i

[2017-07-21 11:08] telkomops commented on #759
@gunthercox , how do i handle such scenarios?your guidance in this is much appreciated. my bot is repeating what the user a said in sequence to a question asked by another user.
All my conversations are 1 on 1 conversations.

[2017-07-21 14:09] nggary commented on #868
I don't know it is a bug or on purpose on the document modification. There should be something writen about the JsonFileStorageAdapter, but now its gone, and that is what I'm looking for.

[2017-07-21 18:52] saraalosaid commented on #717
i have the same problem ,iam wondering how to use mongodb with the django

[2017-07-21 21:24] #862 closed

[2017-07-21 21:25] #784 closed

[2017-07-21 21:32] #849 closed

[2017-07-22 18:49] gunthercox commented on #717
@saraalosaid If you want to use MongoDB and Django then you will need to configure configure Django's storage backend to use one the is build for MongDB. I highly recommend **Django MongoDB Engine** for this: https://django-mongodb-engine.readthedocs.io/en/latest/

[2017-07-23 06:16] nggary commented on #857
[#309 (comment)](https://github.com/gunthercox/ChatterBot/issues/309#issuecomment-249583779) is a good example, but it still doesn't have the multi-step.

[2017-07-23 10:50] #838 closed

[2017-07-23 10:51] #774 closed

[2017-07-23 10:58] #815 closed

[2017-07-23 11:08] gunthercox commented on #678
ChatterBot now supports in-memory databases. If you configure the SQL storage adapter in read-only mode it will achieve the effect desired here because it won't create a database and no statements will be added to it.

[code]

[2017-07-23 11:08] #678 closed

[2017-07-23 12:02] nggary commented on #857
I found that there is a sample code of [Chat form](https://github.com/gunthercox/ChatterBot/wiki/Chat-Forms) inside the wiki page, which is perfectly suit my requirement, may I know the feature is under development or completed?

[2017-07-23 20:06] gunthercox commented on #857
@nggary Chat Forms are just a feature idea that I recorded a while ago. The functionality you are looking for is a common request that I've had from different developers. I'd love to add it in the future but right now it is something that isn't even on the development roadmap.

[2017-07-23 20:14] #868 closed

[2017-07-24 00:50] nggary commented on #857
Thanks for the answer!

[2017-07-24 00:50] #857 closed

[2017-07-24 01:29] shousunny commented on #696
i met the same problem as you .once  a problem 's answer  is set , it 's can't  be changed .

[2017-07-24 09:59] vkosuri commented on #696
@jinfagang Thanks for your inputs, May be i don't have exact answers to your questions, but there are some workarounds to do so.

There is [learning_feedback_example](https://github.com/gunthercox/ChatterBot/blob/master/examples/learning_feedback_example.py) which will provide a workaround/trick to do.

I think for every question the occurrence count will increase, I think this area needs to impro

[2017-07-25 09:18] jinfagang commented on #696
My English already bad. Puzzles sounds like mystery but I want to express meaning is just questions.

[2017-07-25 13:57] ingmferrer commented on #867
I'm having this same issue, same traceback.

[2017-07-25 14:13] semen7907 opened #873 "speed sqlite"
I need to speed up sqlite with
PRAGMA journal_mode = OFF;
PRAGMA synchronous = OFF; , Where should this be added?

[2017-07-25 14:50] shousunny commented on #696
i found that  if we use JsonFileStorageAdapter,   if a conversation has already been storeed into database, we can add a new answer of this statement by ListTrainer. SO ,there are more than one answers related to a given statement,  when being asked , the chabot will choose  one of the answers , by the times of occurence  or other reason.

But " UnsuitableForProductionWarning: The JsonFileStorageA

[2017-07-25 16:21] vyz1194 commented on #372
Hey Everyone

I been working on 0.6.0 version and have added previous context check variable to the response selector
I was under the impression it would not be shared across the sessions But now when we try from multiple systems, the variable is being overwritten by the last user, anyway to avoid this scenario ?

[2017-07-26 10:37] anilneeluri commented on #668
Response while using the storage adapter is too slow

[2017-07-26 12:47] WildDylan opened #876 "How to know list training progress"
I have use 1 million conversation to train this bot, How to know list training progress

[2017-07-26 16:19] prakhar21 commented on #859
@vkosuri For example: For any query user asks the bot, the score comes out to be less that the LowConfidenceAdapter threshold (say 0.65) I should be able to generate randomized responses from certain predefined list of responses rather than just displaying hardcoded value of "default_response"

[2017-07-26 18:05] hack-r opened #877 "Readthedoc.io link dead"
On the Django app page there seems to be a dead link to documentation:

http://chatterbot.readthedocs.io/en/latest/django.html

Just a heads up.  I think it should be:

http://chatterbot.readthedocs.io/en/stable/django/index.html

[2017-07-26 22:51] AxelAli commented on #867
same

[2017-07-27 08:02] WildDylan opened #878 "The list trainer is slowly"
I have 1 million conversation, when train with ListTrainer, it's slowly. how to speed up it.

[2017-07-27 08:31] WildDylan opened #879 "How to do this"
You can also specify file paths to corpus files or directories of corpus files when calling the train method.

[code]

What json format the corpus needed?
do you have an example for `custom.corpus.json`?

[2017-07-27 08:34] WildDylan commented on #879
Fixed wit #799

[2017-07-27 08:34] #879 closed

[2017-07-27 11:19] gunthercox commented on #878
Hi @WildDylan This is something I will have to look into. That's a pretty large data set and some changes to ChatterBot may be required to speed that up.

[2017-07-27 12:42] WildDylan commented on #878
yep, Does `ChatterBot ` used `processor` or other multiple thread when training?

[2017-07-27 13:28] anilneeluri commented on #878
What are the formats used to train the chatbot?

[2017-07-27 13:48] WildDylan commented on #878
#799

[2017-07-27 13:53] anilneeluri commented on #878
Thanks for responding. But, I want to know the default formats used to train the chatbot.

[2017-07-27 13:57] WildDylan commented on #878
[code]

[2017-07-27 15:30] WildDylan commented on #878
@gunthercox When I use SQLite as the storage adapter, get this error:

[code]

[2017-07-27 17:04] vkosuri commented on #878
@WildDylan Which version of chatterbot are you using, I believe this error fixed in https://github.com/gunthercox/ChatterBot/pull/850,

Could you please try to upgrade chatterbot to latest version to resolve this issue.

[code]

[2017-07-27 17:13] WildDylan commented on #878
@vkosuri Thx, I upgrade it Fixed that problem.
another question I need help: how to speed up the `get_response` when I have 1 million corpus in my database

[2017-07-27 18:49] vkosuri commented on #878
There any many other workarounds you could do with this great project. Thanks to Master @gunthercox made such a beautiful project.

You could consider this is a workaround, There are much more improvements on training and retrieval responses are  in pipeline in upcoming release.

Coming to speed up, you could write [your own training class ](http://chatterbot.readthedocs.io/en/stable/training.html

[2017-07-27 21:03] Issen007 opened #882 "Import large list of training data"
Hi,
I'm new on Django but I got the Chatterbot installed successfully in my own Django installation.
I have also successfully imported the Exampel App you guys have wroted so I can talk though the API.

But now do I have a large list of training data that I want to import to the Database.
How is the easiest way to import that?

I have a text file in the same format as following documentation shows

[2017-07-28 01:52] WildDylan commented on #878
Okey, I will give a try.

[2017-07-28 03:19] #877 closed

[2017-07-28 03:34] #867 closed

[2017-07-28 06:13] anilneeluri opened #884 "How to add our chatbot to the server"
I want to add my chatbot in the server. What is the best way to do it?

[2017-07-28 08:09] Issen007 opened #885 "Create large responds text"
Hi,
Continue my testing of the chatterbot and I'm really glad what you guys have done.

Maybe I can fix this on my own by going though the code. But the responds text length is to small for me some times.

As an example if a end-user has a error code in their text let's say following statement comes up such.

I got 2 issues with the responds, the first is that I got empty lines and the second prob

[2017-07-28 10:30] praveenrengarajan opened #886 "Question: will ChatterBot support Form type conversation"
After Its come to custom adapter, chat should hold the state and continue until the form data filled.
Example, If I have 5 fields in a form : have to do validate and should get input from user. Like iDialog Form in Microsoft Bot Framework

[2017-07-28 10:58] Hemanth2396 commented on #878
thanks for providing the code for the chatter bot ,i have two questions .
one is regarding can NLP be included for the coding to give the appropriate response for the unknown input data without training?
second one is regarding the to get a response we must have to add response of unknown question or else is there any possibility to get GOOD RESPONSE for the unknown input.

[2017-07-28 15:18] AxelAli commented on #885
how about you replace newline with a custom character and then store it, when you get it back, replace it.
Ex.
[code]

[2017-07-28 15:19] AxelAli commented on #884
check Flask Chatterbot
[https://github.com/chamkank/flask-chatterbot](url)

[2017-07-29 11:03] #878 closed

[2017-07-29 11:06] WildDylan opened #887 "SQLite encoding issue"
When use SQLitestorage, Chinese looks like have some encoding problems.

[code]

What's wrong with it...

When I use this bot in server:

[code]

response with a fail encoding was:

[code]

[2017-07-29 13:54] gunthercox commented on #886
In the future, this is a feature that might possibly be added. I have notes about a possible design in the project wiki. Right now my focus is on improving the performance and accuracy of the chat bot's responses so this feature likely won't be added any time in the near future.

[2017-07-29 14:15] gunthercox commented on #876
Right now there isn't a way to do this. I'll mark this as a feature request. I agree that this would be useful.

[2017-07-29 15:06] gunthercox commented on #884
@anilneeluri This is kind of a vague question because it doesn't really specify any details about the kind of server you are using. I'm going to assume you are intending to run ChatterBot as a web application?

I'm going to open a pull request that adds some documentation on this. It would be awesome if you could review / comment on it to make sure that I cover everything you need. This is a good

[2017-07-29 15:27] gunthercox commented on #873
Internally, ChatterBot uses SQLAlchemy to connect to sqlite databases. It looks like I might have to make some changes to the setup of the SQL Storage adapter so that additional parameters can be specified. I'll look into this and get back to you as soon as possible.

[2017-07-30 04:19] lesleslie commented on #873
Try the following (lines 119 to 134) of sql_storage.py:

        self.engine = create_engine(self.database_uri)

        from re import search

        if search('^sqlite://', self.database_uri):
            from sqlalchemy.engine import Engine
            from sqlalchemy import event

            @event.listens_for(Engine, "connect")
            def set_sqlite_pragma(dbapi_connection, connection_

[2017-07-30 04:19] WildDylan commented on #876
let's do it. Thanks for invitation

[2017-07-30 04:19] #876 closed

[2017-07-30 04:37] lesleslie commented on #686
The maximum BSON document size is 16 megabytes.

There is lots of stuff on this and workarounds on stack overflow.

Most recommend using GridFS.  Which would mean switching from '.distinct' to '.aggregate'.

This doesn't work but it would probably look something like this (mongodb.py):

    def get_response_statements(self):
        """
        Return only statements that are in response to anothe

[2017-07-30 11:20] vkosuri commented on #886
Wiki link https://github.com/gunthercox/ChatterBot/wiki/Chat-Forms

[2017-07-30 11:38] vkosuri opened #891 "Training Progress Bar"
I think adding a progress is much useful to know how percentage is left/completed. I see a variety of example are available in stack overflow https://stackoverflow.com/questions/3160699/python-progress-bar

@gunthercox if it useful, then i will make a PR

Ref Issue: https://github.com/gunthercox/ChatterBot/issues/876

[2017-07-30 15:10] gunthercox commented on #891
Definitely, thank you.

[2017-07-30 15:22] gunthercox commented on #882
There is an additional setting for this that can be used in Django's settings for ChatterBot.

http://chatterbot.readthedocs.io/en/latest/django/training.html#training-settings

The content of the `training_data` can be different, depending on the training class that you are using. I've been meaning to add more documentation to the section on using ChatterBot with Django so I apologize about the l

[2017-07-30 16:09] elcolie opened #892 "Is it support Asian wording?"
I known a bit on Machine Learning.
Therefore it would be helpful for new comer like me to understand capability of this bot.
Is it support Asian wording?
The difficulties are composition between wording and grammar.
Like in Thai language. It has no space between word.

[2017-07-30 21:18] Issen007 commented on #882
gunthercox, no problem. I more then happy to help out here if you want to.
I'm more then open to take a quick chat so I can help with documentation for you.

Because I can probably help you out to create a corpus version in Swedish for you and we probably also want to create a German for you.
And from here I can probably also with your guidelines get all the steps documentation so more people can

[2017-07-31 04:50] anilneeluri commented on #884
Thanks for the reply. It is Helpful.

[2017-07-31 11:43] edwardinubuntu commented on #892
I am using in Traditional Chinese, in Chinese, each word is connect to each one without space between, so far it's ok. It will match the close word with the question you define, and reply the whole sentence you define.

[2017-07-31 11:46] edwardinubuntu opened #893 "Response with a confidence of 0 not LowConfidence threshold 0.3 default response."
Here is the settings
[code]
But in my logging file, I found out it turn out
[code]

And the Low Confidence log is written: LowConfidenceAdapter as a response with a confidence of 0

All the confidence is 0, and it reply the random, not the one I define 'threshold': 0.3, you can ask other question.

[2017-07-31 12:23] l1346792580123 opened #894 "pip install failed"
Running setup.py install for pymongo ... error
\pip\compat\__init__.py", line 75, in console_to_str
    return s.decode('utf_8')
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa1 in position 42: invalid start byte

[2017-07-31 12:35] #894 closed

[2017-07-31 16:51] edwardinubuntu commented on #893
I think I am using too low threshold. After increase above 0.5, lots of dialog works.
Maybe we can add a log info about closest_match.confidence with confidence_threshold.

[2017-07-31 21:00] liberaltech opened #895 "random_seed_word"
How does one change this parameter for the TwitterTrainer, could you give me an example?

[2017-08-01 02:57] elcolie commented on #892
Still doubt on it, but I will give it a try. Thai language has 4 position in single character

[2017-08-01 02:57] #892 closed

[2017-08-01 05:49] vkosuri commented on #895
random_seed_word is keyword argument you could pass through ChatBot parameter. I hope this example will give idea.

[code]

[2017-08-01 06:28] BlueMyOcean opened #896 "Is this framework based on sequence to sequence model?"
as the tittle typed,i want to know some basic principle of this project

[2017-08-01 09:36] vkosuri commented on #896
No

May be we could take up this as feature request

Detail information about algorithms available in this comment https://github.com/gunthercox/ChatterBot/issues/64#issuecomment-149007645

[2017-08-01 10:29] yeshoujquery opened #897 "Large amount of data, slow inquiry"
The current version is updated to.75, but it still doesn't solve the big data problem
Only 373754 took 164 seconds
![qq 20170801182431](https://user-images.githubusercontent.com/10823306/28821183-134c3bdc-76e7-11e7-90ce-d9d400f6a5e6.png)

Recommend the following robot
![fc2305d9cbdc0f86db2b46e2a5835fa8](https://user-images.githubusercontent.com/10823306/28821252-50a45e56-76e7-11e7-9f67-268791a3636

[2017-08-01 10:34] gunthercox commented on #882
@Issen007 Thank you, that would be greatly appreciated.

[2017-08-01 13:01] WildDylan commented on #887
Fixed by #890

[2017-08-01 13:01] #887 closed

[2017-08-01 20:00] VanRH commented on #886
This would be really useful. Being able to keep context and track what's required in a "form" would be great.

[2017-08-01 20:01] Issen007 commented on #882
Let's try to catch up over Hangout or similar to do a quick chat and see what I can help you with.

[2017-08-01 21:10] #884 closed

[2017-08-01 21:18] gunthercox commented on #897
@yeshoujquery Yes, that is correct. Version 0.7.5 doesn't contain any performance improving features and none were planned for this version.

I assure you that I am aware of the performance issues and they will be greatly improved through future releases.

For reference, you can review the details for the changes in each release in ChatterBot's release notes section: https://github.com/gunthercox/

[2017-08-01 21:18] #897 closed

[2017-08-01 22:36] gunthercox commented on #895
The seed word parameter, as well as other available parameters are also described in detail the documentation (I'm just posting a line for convenient reference).

http://chatterbot.readthedocs.io/en/latest/training.html#training-with-the-twitter-api

I believe this question has been answered. I'm going to close it off. @liberaltech feel free to reopen it if you have any further questions. @vkosuri

[2017-08-01 22:36] #895 closed

[2017-08-01 22:40] gunthercox commented on #893
@edwardinubuntu I agree with your suggestion. I'll add additional logging to cover the scenario where this adapter isn't used due to the value of the confidence threshold.

[2017-08-02 11:45] Hemanth2396 opened #898 "Effective training of chatter bot"
hello all ,

     how can we train the chatterbot effectively to achieve the good response from bot.
can you give suggestions to improve the quality of response from chatbot.

[2017-08-02 12:36] vkosuri commented on #898
A high amount of confidence. will give accurate response from bot. To set threshold like this

[code]

[2017-08-02 13:06] Hemanth2396 commented on #898
thanks for the reply .

    Actually i want to know about  HOW TO TRAIN a basic chatbot with more amount of data.

[2017-08-03 09:34] yeshoujquery commented on #897
@gunthercox  OK, which version of the performance problem is likely to be solved?

[2017-08-03 10:16] #893 closed

[2017-08-03 11:59] 7633 commented on #898
@Hemanth2396, you should just create a dataset (dialogue corpus) and format it to one of the using [formats to training](http://chatterbot.readthedocs.io/en/stable/training.html).
There are list of state-of-the-art corpuses for training chatbots: [](https://github.com/Marsan-Ma/chat_corpus)

[2017-08-03 12:47] vkosuri commented on #886
@gunthercox Master, I would like work on this feature, could you please guide how to do and where to do

[2017-08-03 14:22] vyz1194 opened #900 "Session Management using inbuilt modules"
I have  modified the response selector by adding a variable to keep track of the context
but when I tried it out with multiple users, I see the context get overwritten by the last incoming message from any user

So thinking of writing the context with the session id into the mongo

Can anybody guide me on how I can use  inbuilt session module to enable this functionality
or if there any better app

[2017-08-04 07:03] anilneeluri commented on #898
@7633 Can you give a detailed explanation about this, If you have tried and succeeded in doing this?

[2017-08-04 15:06] bainadeashish opened #901 "Possible issue with RepetitiveResponseFilter class when getting responses"
Hi Team,

Initially i was using JsonFileStorageAdapter it was giving correct responses but it was slow.Hence I moved to MongoDatabaseAdapter.It is giving quick responses but inaccurate.:(

Code is :+1:
[code]

Below is sample log for MongoDatabaseAdapter:

START OF MESSAGE
[code]
START OF MESSAGE
[code]

What should I do to avoid such false responses?

[2017-08-05 04:48] vkosuri commented on #901
@bainadeashish Chatterbot does support multiple response selection methods, from your example, you have choose [random response method](http://chatterbot.readthedocs.io/en/stable/logic/response_selection.html#chatterbot.response_selection.get_random_response), and threshold values as ``0.6``.

For example In your case and based on your inputs the fallowing statements will fall under threshold valu

[2017-08-05 05:01] bainadeashish commented on #901
Hi @vkosuri ,I dont think its because of random response method.
From the log i have shared earlier,
INFO:chatterbot.adapters:Selecting response from 1 optimal responses.
when i gave hello as input ,it tries to select from 1 optimal response .

But second time i have given hello as input,log says
INFO:chatterbot.adapters:No response to "Hello" found. Selecting a random response.
Here it is not abl

[2017-08-05 05:09] vkosuri commented on #898
@Hemanth2396 and @anilneeluri

For large amount of data, it is recommended to write your corpus file. I think the below Q&A will answer your questions.

1. How to write a corpus file?
2. What is training and what are different training class are available?

### 1. How to write a corpus file?
Chatterbot does support both [YAML ](https://en.wikipedia.org/wiki/YAML) and JSON format in question and an

[2017-08-05 05:17] vkosuri commented on #901
@bainadeashish I think it is slightly confusing, the documentation needs to corrected here, Based on ``closet_match`` the optimal values are selected. Here are the steps the bot is performing. The information started from this [steps ](https://github.com/gunthercox/ChatterBot/blob/351971a21e603642f5797c33e924c4195f96682b/chatterbot/logic/best_match.py#L55)

1. Select the closest match to the input

[2017-08-05 05:26] bainadeashish commented on #901
@vkosuri yesterday i debug the code & found that it is working weird for mongodb storage adapter.
It is removing optimal response at each iteration by 1.

For Hello i was having 3 response Hi,Greetings,Hey.
for the 1st hello input ,it gave me below:
INFO:chatterbot.adapters:Selecting response from 3 optimal responses.
For 2 nd hello input
INFO:chatterbot.adapters:Selecting response from 2 optimal

[2017-08-05 09:36] bainadeashish commented on #901
@vkosuri  which version of chatterbot works fine with mongodb storage adapter?
so that I can  use previous versions of chatterbot till the time any of us fix this bug.

[2017-08-05 11:01] bainadeashish commented on #901
@vkosuri tag 0.5.4 working fine with mongodb storage adaptor ,post 0.5.5 to latest version which is 0.7.5 there is bug for mongodb storage adaptor.
Hope this helps for resolving bug.
We need to check what went wrong from 0.5.4 to 0.5.5.

[2017-08-07 05:18] anilneeluri commented on #898
So this is not an easy thing to complete. We don't usually get the data set in the yaml format i.e the question and answer format and practically is it possible to get the large amount of data in that format.

[2017-08-07 05:35] vkosuri commented on #898
You could write your own training class for example UbuntuDialogCorpus and Twitter Training classes take a look exists training classes https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py

[2017-08-07 11:20] sherinmannambeth opened #902 "the question comes in Response and answer comes in statement in next row"
![image](https://user-images.githubusercontent.com/25637940/29024661-b77f6bcc-7b90-11e7-83e3-0e65b8bd624f.png)

[2017-08-07 13:19] vkosuri commented on #902
@sherinmannambeth which version of chatterbot are you using?

To know current of chatterbot issue this command on your terminal ``(venv)user$python -m chatterbot --version``

[2017-08-07 19:13] Issen007 commented on #902
I used 0.7.4 and upgraded to version 0.7.5 now but still the same issue.

[2017-08-07 20:15] Issen007 opened #903 "Connect Chatterbot to PostgresSQL"
I guess the answer to my question is yes.
But it shouldn't be any issue to connect the Chatterbot to PostgresSQL?

Do you have any guide lines how to connect the Chatterbot to other databases?

Thanks
Christian

[2017-08-08 00:14] #891 closed

[2017-08-08 00:31] gunthercox opened #904 "Allow all database models to be extended"
A common request is that a developer wants to add an additional field to one of the database models. To easily allow this and also to encourage loose coupling of ChatterBot with its database models, changes should be made so that it is possible to specify the model classes that a chat bot should use.

- [x] Django models
- [x] SQL Alchemy models
- [x] Python object models
- [x] Remove the `extra_d

[2017-08-08 01:30] gunthercox opened #905 "Check which logic adapters are english-dependent"
I believe a few of ChatterBot's logic adapters that use NLTK have english-specific restrictions. The logic adapter for telling the current time is an example of this.

An plan should be developed for supporting other languages in these adapters. I'm not yet sure what the best approach will be. One possibility I am considering is adding that data to the ChatterBot corpus and implementing a warning

[2017-08-08 02:13] gunthercox commented on #137
I've was reminded about AIML recently and I just wanted to record a brief though about a possible direction for supporting it in ChatterBot.

1. It would be easy to add a field to mark Statements that contain AIML.
2. A filter would have to be created to control when AIML responses are used.
3. I'm not certain about how the AIML statements should be evaluated, but I'm fairly sure a custom logic ad

[2017-08-08 03:40] sherinmannambeth commented on #902
@vkosuri I am using 0.7.5 version
@Issen007 sometimes the questions I ask are also returned to me as answers.

[2017-08-08 03:45] gunthercox commented on #897
@yeshoujquery Hopefully within the releases for either 0.8 or 0.9.

[2017-08-08 03:47] gunthercox commented on #886
@vkosuri I'll put together a ticket for it with more details.

[2017-08-08 03:47] yeshoujquery commented on #897
@gunthercox  Quietly waiting, hope can be realized

[2017-08-08 03:50] aliray opened #908 "too slow if training custom corps"
i have corps with 6000000 lines data , and i try to train the corps but it's too slow ,is there any ways to improve the performance in ChatterBot ?

[2017-08-08 04:03] gunthercox commented on #903
ChatterBot's `SQL Storage Adapter uses SqlAlchemy internally. According to the latest documentation, SQL Alchemy supports PostgresSQL. This is something that I haven't tested out so I'm not sure if it will work.

**Sources**

- SQL Alchemy docs: http://docs.sqlalchemy.org/en/latest/dialects/postgresql.html
- ChatterBot SQL Storage documentation: http://chatterbot.readthedocs.io/en/stable/storage/i

[2017-08-08 04:07] gunthercox commented on #886
@VanRH Nope, I will be sure to design it so that it can work independently from the environment where the chat bot is being hosted. It is the bot that will be filling in the fields for the form anyway.

[2017-08-08 04:11] gunthercox commented on #908
Right now, no. Luckily training only has to be done once for a chat bot. You may encounter further issues once you finish training with that much data. I'm currently working on changes to solve performance issues for large data sets.

[2017-08-08 04:15] gunthercox commented on #900
Hi @vyz1194, If by "inbuilt session module" you mean the one included in ChatterBot, I would recommend against using it. I've made changes to remove ChatterBot's session management system in the next version in favor of storing a history of individual conversations in the database. I think this might be closer to what you are looking for.

[2017-08-08 05:51] vkosuri commented on #905
Some of the resources i have found https://hugonlp.wordpress.com/2015/10/07/how-to-do-pos-tagging-and-lemmatization-in-languages-other-than-english/

[2017-08-08 06:53] anilneeluri opened #909 "unable to train with Twittertrainer"
I have trying to train with the twitter trainer because of the following error

   twitter.error.TwitterError: [{'code': 89, 'message': 'Invalid or expired token.'}]

how can I solve this problem?

[2017-08-08 06:58] vkosuri commented on #909
@anilneeluri I think this something is related to twitter API token broken issue, I have found a similar question comment which will guide to resolve your problem https://stackoverflow.com/a/17994472/358458

[2017-08-08 07:12] Issen007 commented on #903
@gunthercox Next questions, is it then possible to have multiple databases sources?
I'm thinking to have a central Database where multiple chatterbot only will read from and also have a local database that contain data that Chatterbot can read/write to.

Thanks

[2017-08-08 07:13] Issen007 commented on #903
@gunthercox will try with PostgreSQL and get back to you if it works or not.

[2017-08-08 07:17] anilneeluri commented on #909
@vkosuri Thanks. Solved it.

[2017-08-08 07:17] #909 closed

[2017-08-08 11:01] gunthercox commented on #903
Thank you, I will be interested to know if it works.

[2017-08-08 11:45] cho-is commented on #774
I just found this repo and I wanted to give @gunthercox a million thanks not only for your work here, but also for being supportive, something I saw just going through your answers, like the above for instance. Great to see this!

[2017-08-08 14:00] bainadeashish commented on #902
@sherinmannambeth  I think you are using mongodb storage adapter,if yes the work around is use tochatterbot version 0.5.4.It will resolve your issue.

[2017-08-08 14:04] bainadeashish opened #911 "How to train chatterbot with emoticons?"
Can we train chatterbot with smiley as input or response?
I tried using python library emojione with chatterbot but it didn't help.
anyone succeeded in doing this, your help is appreciated.

[2017-08-08 21:07] pgrandinetti opened #912 "Shouldn't it be dump (without s) ?"
https://github.com/gunthercox/ChatterBot/blob/68527223db52c39cbb94393cdf313f39485c5856/chatterbot/trainers.py#L67

[2017-08-08 21:22] nalancer08 opened #913 "Help installing"
Hi, I use a Mac with python 2.7.10 and pip2

When i tried to install the bot with pip, gives me this error, can you help me.

[code]

[2017-08-08 21:35] gunthercox commented on #913
Hi @nalancer08 I don't have a Mac to test with but I'll see what I can do to resolve this. One thing I just noticed is that there have been [some updates](https://pypi.python.org/pypi/ruamel.yaml) to the `ruamel.yaml` library since version 0.15, one of which seems to include Python wheels (which may fix some of the c-related errors you are seeing in your output).

Want to try running the following

[2017-08-08 21:39] gunthercox commented on #912
Yes, it should.

[2017-08-08 21:44] gunthercox commented on #911
@bainadeashish I _believe_ this should work. I'd be more than happy to look into it and add some tests to confirm that it works. There might even be some interesting potential here to add a data set containing emoticons to the [chatterbot corpus](https://github.com/gunthercox/chatterbot-corpus)

[2017-08-08 21:49] pgrandinetti commented on #912
cool, I didn't feel like doing a pull request for exactly one character.
Thanks for the nice bot ;)

[2017-08-09 05:40] 7633 commented on #913
How about python 3?

[2017-08-09 07:06] bainadeashish commented on #911
@gunthercox  thank you.
if your attempt succeeds i will add corpus for emoticons.

[2017-08-09 10:04] bainadeashish commented on #911
Hi @gunthercox ,i have update on this.
We can use emojipy --Python library for working with emojione.
There are shortcodes associated with each emoticon.
smiling face ---> shortcode is    :grinning:
Hence we can train chatbot as
Input :grinning:  response "You seems to be happy today"
Hence,the task is first convert smiley image into short code.
Hope I have written in a way you should understand i

[2017-08-09 10:07] vkosuri commented on #911
@bainadeashish happy to hear from you,Full emoji list  http://www.unicode.org/emoji/charts/full-emoji-list.html

[2017-08-09 10:16] hochochoc opened #917 "Facebook chatbot using Chatterbot"

[2017-08-09 10:23] hochochoc commented on #917
I want to do a Facebook chatbot using Chatterbot, but I  don't know whether I have to create a new input adapter or not. Can you give me a guess?  Thank you so much

[2017-08-09 10:40] vkosuri commented on #917
@hochochoc

Yes

Please be aware of future expansion https://github.com/gunthercox/ChatterBot/issues/528

I found some resources this might be useful to you http://masnun.com/2016/05/22/building-a-facebook-messenger-bot-with-python.html

[2017-08-09 10:49] vkosuri commented on #913
Similar issue https://bitbucket.org/ruamel/yaml/issues/37/osx-not-able-to-install-using-pip

[2017-08-09 14:46] hochochoc commented on #917
I have just made a simple chatbot using Fb and chatterbot, but I didn't create a new input adapter.
I only followed this project https://github.com/chamkank/flask-chatterbot . However, I think, in future, I will create a Facebook adapter for chatterbot. This maybe interesting.
Thank you very much.

[2017-08-09 14:46] #917 closed

[2017-08-09 15:16] Issen007 commented on #902
I can now see that with 0.7.6 that if I ask a question I got the correct responds, but when I ask another question or continue the conversation, the chatterbot think that is the answer for the statement that the Chatterbot responded back to be from the first question.
Then next time I ask the 2nd question I got the wrong answer back.

First Time:
Me: Hello
Bot: Hi,
Me: How are you?
Bot: I'm good

[2017-08-09 19:01] hochochoc opened #918 "Session and ResponseQueue"
I'm reading about ResponseQueue and Session docs, but I am wondering that how chatterbot works when ResponseQueue is full (maxsize=10). Chatterbot will create a new Session or something i don't know.
Please help me to explain this. Thanks.

[2017-08-10 02:01] vkosuri commented on #918
@hochochoc recently ResponseQueue concept has been removed https://github.com/gunthercox/ChatterBot/commit/e7a1d9c42ac0b3e0f03c585f43852756ad5705d7 from chatterbot.

I think documentation is pending will update soon.

It won't create another it will remove top element from the list, I have copied the snippet pasted here

[code]

[2017-08-10 03:37] nalancer08 commented on #913
Thank you so much for everyone, I fixed compiling direct with

python setup.py build
python setup.py install

But, with PIP I didnt make it works

[2017-08-10 03:43] nalancer08 opened #920 "Feedback example"
I trying to run example for feedback, with this code:

[code]

And I got this error:

[code]

[2017-08-10 04:25] sherinmannambeth commented on #902
@bainadeashish I am using "chatterbot.storage.DjangoStorageAdapter"

[2017-08-10 06:38] vkosuri commented on #917
@hochochoc Sure

[2017-08-10 07:00] vkosuri commented on #920
@nalancer08 I think the example are working fine, which version of chatterbot are you using? To know current version of chatterbot, please paste below commands on your terminal.

[code]

[2017-08-10 11:43] cho-is opened #921 "chatterbot train fails: value too long for type character varying(255)"
`AbstractBaseStatement`[models.py#L12](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/ext/django_chatterbot/models.py#L12) has `max_length=255` so the corpus fails at: [corpus.english.ai#L57](https://github.com/gunthercox/chatterbot-corpus/blob/master/chatterbot_corpus/data/english/ai.yml#L57)

I understand using `CharField` and maximum length might be more efficient in terms of p

[2017-08-10 11:57] vkosuri commented on #921
how about increased it to 16K,

[code]
or make it as TextField

[code]

[2017-08-10 12:06] cho-is commented on #921
Just tried making it a `TextField` and then got

[code]

[2017-08-10 12:54] nalancer08 commented on #920
Hi, I have 0.7.6

[2017-08-10 12:59] lesleslie commented on #920
Check your code.  converation has prob been corrected to conversation.
You're also going to run into an issue with the default_session.id cause it
has changed too.  See pull request #916.

Cheers,

-- les

On Aug 10, 2017 5:54 AM, "Erick Sánchez Pérez" <notifications@github.com>
wrote:

[2017-08-10 13:10] nalancer08 commented on #920
Hello @lesleslie how can I updated the code? Is there an a command?

[2017-08-10 13:17] lesleslie commented on #920
If your getting that error the problem is in your code not chatterbot.  The
spelling correction of conversation took place 6 hours ago.  Follow the
traceback from the error code you're getting and it will point you to which
module and which line is calling the wrong function.

-- les

On Aug 10, 2017 6:11 AM, "Erick Sánchez Pérez" <notifications@github.com>
wrote:

[2017-08-10 13:18] lesleslie commented on #920
In your case line 61 in feedback.py needs converation changed to
conversation.

On Aug 10, 2017 6:17 AM, "les" <les@wedgwoodwebworks.com> wrote:

[2017-08-10 13:21] lesleslie commented on #920
Don't forget too to change default_session.id to default_conversation_id
too in your code.

On Aug 10, 2017 6:18 AM, "les" <les@wedgwoodwebworks.com> wrote:

[2017-08-10 13:25] anilneeluri commented on #697
@jm33-m0 What is the memory size of your dataset and  Whats the  format of the data?

[2017-08-10 13:28] nalancer08 commented on #920
@lesleslie yes, I was reading the last corrections, this is my code with the corrections

[code]

But now, I getting this error:

[code]

[2017-08-10 13:45] dileepkantapop opened #922 "How to unable Enable bing spell checker in Luis?"
Hi Folks,

I am facing the issue with the spell checker option in LUIS, As i am checked it and published. When i see again its showing as unchecked. I had purchased Bing spell check key too.

Please help me with this...

Thank you...!!

[2017-08-10 13:48] nalancer08 commented on #920
@lesleslie I was checking the SQLAdapter code, but the function `add_to_conversation` doesn't exists, only `add_to_converation`

In the file sql_storage.py, line 248, ` def add_to_converation(self, conversation_id, statement, response):`

But in any case, return error

[2017-08-10 13:53] nalancer08 commented on #920
@lesleslie
I was cheking your fork, and you updated the code and adapters, to use the correct function `add_to_converation`, how can I upgrade the ChatterBot code to use correctly the examples?

[2017-08-10 13:58] lesleslie commented on #697
My data set is 8.9M and is all loaded from pickled lists generated by my CorpusTool, which is part of fBot (https://github.com/lesleslie/fBot - fBot lacks documentation but if you can install, run it, and  figure out what it does you'll realize that this is probably a good thing) but I will prob split it off because it is a standalone tool.  CorpusTool will scrape webpages for song lyrics, quotes,

[2017-08-10 14:20] lesleslie commented on #920
Ok, change back to default_session.id and try that.  We may be using
slightly different versions.

On Aug 10, 2017 6:28 AM, "Erick Sánchez Pérez" <notifications@github.com>
wrote:

[2017-08-10 14:52] nalancer08 commented on #920
@lesleslie I did it, but give me this error

[code]

[2017-08-10 21:18] #912 closed

[2017-08-10 21:23] gunthercox commented on #911
@bainadeashish Thank you for that note, I'll take that into consideration. A preprocessor would probably be the most optimal way to accomplish the conversion you mentioned http://chatterbot.readthedocs.io/en/stable/preprocessors.html

[2017-08-10 22:04] gunthercox commented on #922
Hi @dileepkantapop, I'm not sure what Luis is. I would be happy to try to help. Do you have a link to project you are working with?

[2017-08-11 01:28] lesleslie commented on #920
Look at chatterbot/storage/sql_storage.py and see what the name of the
function is in your version and adjust accordingly.

-- les

On Aug 10, 2017 7:52 AM, "Erick Sánchez Pérez" <notifications@github.com>
wrote:

[2017-08-11 09:11] vkosuri commented on #921
@cho-is It working fine on my machine. I am not sure in what you are getting this error.

[code]

[2017-08-11 09:31] vkosuri commented on #922
Luis is an Microsoft AI https://www.luis.ai/home

@dileepkantapop I think this thread will help you https://github.com/Microsoft/Cognitive-LUIS-Windows/issues/18#issuecomment-289385413

[2017-08-11 11:26] yescay commented on #922
Hi @dileepkantapop , If you are referring to this screenshot, then the state of selection is not saved. It does not persists the selection.
![screen shot 2017-08-11 at 4 53 36 pm](https://user-images.githubusercontent.com/4955155/29211258-a9cf465a-7eb5-11e7-84ee-43e6e4b141fd.png)

However, the following are the steps,

1.  Get a bing spell check API key
2. Add it in external Association
3. Publish

[2017-08-11 12:12] dileepkantapop commented on #922
buddy @yescay i am using the LUIS in Bot framework C# i can't call API to get the result. I know that it has "spellCheck=true" in API. But my problem is different! The state of the checkbox is not saving.

[2017-08-11 12:39] yescay commented on #922
The state of the check box does not matter – the parameter value is what matters. Explore the Request object of your C# code to see if you can set the bing spellcheck that you can set to “true”.

AFAIK This checkox in LUIS publish page – does not retain state.

Thanks

Kamesh

From: Dileep Kanta Bivanapalli <notifications@github.com>
Reply-To: gunthercox/ChatterBot <reply@reply.github.com>
Date: F

[2017-08-11 12:48] dileepkantapop commented on #922
Buddy! In Bot framework we won't call API, we just have Intents in which we will get data in entities.

[2017-08-11 16:59] nalancer08 commented on #920
Hi again @lesleslie

I tested you fork repo, and installed, but the same example, now gave me this error

[code]

[2017-08-11 17:09] lesleslie commented on #920
My repo was constantly being tweaked and worked on recently so I'm not sure
when you downloaded it.  As of just a few hours ago is it passing all of
the tests and is stable.  Please try forking my version again and if you
run into the same problem again I'll give it a good look and help resolve
the issue.  My repo, as at stands as of RIGHT NOW is, I believe, about to
be merged into the main branch

[2017-08-11 17:15] lesleslie commented on #920
Nevermind that last statement.  You need to change default_session to
conversation_id in line 61 of so.py.  Again if you follow the traceback, to
the Exception, it will tell you exactly where the error is occurring in the
code.  It may do you some good to read a python debugging tutorial.

-- les

On Aug 11, 2017 10:09 AM, "les" <les@wedgwoodwebworks.com> wrote:

[2017-08-11 17:18] lesleslie commented on #920
Make that line 47 in so.py.  I think I got it right this time.

-- les

On Aug 11, 2017 10:17 AM, les <les@wedgwoodwebworks.com> wrote:

[2017-08-11 17:18] lesleslie commented on #920
Sorry again, that's line 41 in so.py.  I'm doing this from my phone.

-- les

On Aug 11, 2017 10:15 AM, "les" <les@wedgwoodwebworks.com> wrote:

Nevermind that last statement.  You need to change default_session to
conversation_id in line 61 of so.py.  Again if you follow the traceback, to
the Exception, it will tell you exactly where the error is occurring in the
code.  It may do you some good to

[2017-08-11 20:44] gunthercox commented on #873
Closed by #914 ✔️

[2017-08-11 20:44] #873 closed

[2017-08-11 20:47] #686 closed

[2017-08-11 20:48] gunthercox commented on #747
Closing this as a duplicate of #697

[2017-08-11 20:48] #747 closed

[2017-08-11 20:55] gunthercox commented on #913
@nalancer08 I'm glad your issue was resolved. I am going to make changes to switch to a different Python YAML library to hopefully fix and prevent issues like this in the future.

[2017-08-11 20:55] #913 closed

[2017-08-12 13:01] gunthercox opened #924 "Modify ChatterBot Corpus trainer to save corpus categories as tags for statements"
This is a small change that needs to be made before future changes that will help improve the time and processing efficiency when ChatterBot generates a response to an input statement.

Changes have already been made to add categories to the [ChatterBot Corpus](https://github.com/gunthercox/chatterbot-corpus/) so that the data looks like this:

[code]

The `categories` attribute allows a list of d

[2017-08-12 13:07] gunthercox opened #925 "Allow statements to be filtered by their tags"
_This issue is blocked by #924 and can't be worked on until those changes are made._

***

Changes need to be made to ChatterBot's storage adapters so that statements can be filtered by their `tags` attribute.

This is an important change that will allow more efficient response generation. After this change is made it will be possible to add a processing step where new input statements are classif

[2017-08-12 13:17] gunthercox opened #926 "Document some useful development tools"
I'd like to add a page to the [development documentation](http://chatterbot.readthedocs.io/en/latest/development.html) that highlights a handful of useful development tools that can be helpful when creating chat bots or working on ChatterBot's codebase. In general, these tools should preferably be cross-platform (not something that *only* Mac or Windows or Linux users can use).

A few ideas so far

[2017-08-12 14:38] vkosuri commented on #926
I have been using

1. DB browser SQLite http://sqlitebrowser.org/, It looks good and works well for me
2. Robomongo for Mongo DB browser https://robomongo.org/

[2017-08-12 14:40] vkosuri commented on #925
@gunthercox Master, If you didn't started working on this, I am happy to work on this feature, Is there any ETA to do this?

[2017-08-12 15:27] vkosuri commented on #925
I am planning to write a utility method to find categories something like below

Question: If same/similar statement present in multiple categories are we going considering those?

[code]

[2017-08-13 06:19] lesleslie commented on #926
I use the exact same as @vkosuri and can recommend them as well.

It should be noted that Robomongo is now called Robo 3T.

[2017-08-13 07:14] lesleslie commented on #920
@nalancer08 sorry but there is an issue with the sql_storage adapter right now.  the default_conversation_id can not be 'None' with sql databases.  i've been strictly using mongodb so i didn't see it and somehow all the tests pass this way.  i was just playing around with the sql_adapter again and see what you are talking about. good catch.  i have solution that i'll be proposing and pushing hopef

[2017-08-13 07:41] lesleslie commented on #920
this is my the workaround that i propose for you:

change DEFAULT_CONVERSATION_ID or DEFAULT_SESSION_ID or whatever you have in your code to bot.storage.create_conversation().  ie:

DEFAULT_CONVERSATION_ID = bot.storage.create_conversation()

this change makes more sense to me because each time you access the bot via terminal, or however you're doing it, it actually is it's own conversation and sh

[2017-08-13 08:18] lesleslie commented on #920
@nalancer08

see #927

[2017-08-13 08:35] lesleslie commented on #903
i actually used postgresql before even trying chatterbot with sqlite and it worked just fine.

i went back to test it again for you and came across #927 btw.

with the patch in #927 added to my personal code, it worked just fine.  i've used sqlalchemy with postgresql and sqlite in another project of mine and it was seamless.  you will need to install psycopg2 in order to use postgresql with sqlalc

[2017-08-13 08:38] lesleslie commented on #903
@Issen007 the multiple databases sources question should probably be opened up in another ticket as a feature request.

[2017-08-13 08:39] nalancer08 commented on #920
@lesleslie let me check

[2017-08-13 08:51] lesleslie commented on #926
I could also recommend Postico for PostgreSQL and Mac:  https://eggerapps.at/postico/

[2017-08-13 10:40] lesleslie opened #928 "Update installation instruction to use virtualenv"
I recommended updating the installation instructions to install chatterbot into a virtualenv.

I would be more than happy to do this if everyone agrees.

[2017-08-13 11:22] vkosuri commented on #928
I don't see any issues with python virtualenv. Many users/developers facing issues while installation chatterbot on ``anacoda`` installation instructions.

I am ok, if you are going add both ``python`` and ``anaconda``.

And also a similar issue https://github.com/gunthercox/ChatterBot/issues/781, if you want you could start work on this issue also.

[2017-08-13 12:12] gunthercox commented on #925
@vkosuri Thank you, that would be greatly appreciated.

Yes, multiple categories for a statement should be supported.

Also, if you check the `corpora` variable on [#L119](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/trainers.py#L119) of trainers.py you should be able to get the categories from it. They are being added in the [`load_corpus`](https://github.com/gunthercox/chatter

[2017-08-13 12:27] lesleslie commented on #928
i don't have any experience with anaconda.  look it's interesting.  i'll give it a try and see what i can do.

[2017-08-13 12:28] gunthercox commented on #928
I decided to take a look at the Django documentation as a roll model for what the best documentation practice would be for adding a note about virtualenv.

From what I found, it looks like the Django docs mention it in two main places:

1. As a recommended step in the development workflow (https://docs.djangoproject.com/en/1.11/intro/contributing/#getting-a-copy-of-django-s-development-version)
2.

[2017-08-13 12:40] vkosuri commented on #925
Thanks Master, Another question

1. is ``None`` is the default category?
2. If user didn't specified any category about do we need search whole corpora? If not what's your thoughts?

[2017-08-13 12:43] lesleslie commented on #928
ok.  i have virtualenv instructions that i use for my own projects i can reference too.  i can make the instructions optional too.  i personally feel though that installing chatterbox using a virtualenv, by default, is a much better practice - especially for development so i'll definitely add them there.

[2017-08-13 14:36] gunthercox commented on #928
Agreed. Thank you!

[2017-08-13 14:40] gunthercox commented on #925
Since a statement can have multiple categories, the default should be an empty list.

Yes, but that is going to be a different pull request. #925 describes this a bit more.

[2017-08-13 17:49] vansh215 opened #929 "after installation no command running,every command gives error,KINDLY HELP ASAP"
[code]

[2017-08-14 06:11] sedemmler opened #930 "NLTK SSL Errors loading..."
I didn't see this directly addressed earlier, but please correct me if I missed it.

I'm receiving these NLTK related errors when running ChatBot (but no issues when I'm coding up NLTK separately on another project.

Any guidance would be wonderful. Thanks guys.

[code]

[2017-08-14 06:39] vkosuri commented on #930
@sedemmler I googled your issue found some answer, i think this could help solve your problem

https://stackoverflow.com/a/41692664/358458
https://stackoverflow.com/a/39142816/358458

However the post suggested disable ssl error explicitly, i am not sure how this will effect

[code]

[2017-08-14 06:42] Issen007 commented on #929
@vansh215 You should first of all start a python command prompt.

[2017-08-14 06:46] vkosuri commented on #929
@vansh215 by looking into error console, you are just copy and pasted you code on terminal, that is the reason you are seeing many failures.

To avoid these kind error, open text editor and save it.
[code]
or you could launch python interpreter from your terminal
[code]

[2017-08-14 07:14] sedemmler commented on #930
I appreciate you taking a look. Let me give your suggestion ago tomorrow and I'll let you know how it goes. Thanks!

[2017-08-14 07:20] Issen007 opened #931 "Use multiple databases"
As suggested, I open a new request for this.
But it should be really nice to be able to have multiple databases connections to a single chatterbot.
And in the chatterbot configuration area you should be able to tell it if you only should have Reaad-Only mode or read-write mode.

In this case you can then have a larger master databases where multiple chatterbots can be connected to, to be able to h

[2017-08-14 07:21] Issen007 commented on #903
Thanks @lesleslie, I will try this tomorrow in our lab.

[2017-08-14 08:54] vansh215 commented on #929
thank you @vkosuri @Issen007

[2017-08-14 09:08] Issen007 commented on #902
@sherinmannambeth just a question for you, are you using it together with Django?
And have you sort of copycat the django App HTML code that includes as an example with the GitHub package?

Because I start thinking this is not a Chatterbot problem. I think this is a HTML/Django problem that the responds start to be the question and everything you and I type will be the responds.

[2017-08-14 09:23] sherinmannambeth commented on #902
@Issen007 Yes, I am using the same Django App HTML Code. But this issue doesnt happen when I train data from the corpus. When trained, the question goes to statement and answer goes to response. If this where to be Django's problem then y doesnt it reflect on training?

[2017-08-14 09:30] lesleslie commented on #931
sqlalchemy does support multiple binds and allows for multiple database
connections.  I can't give you a time frame but I need to see how flask
implements this anyway and I'll get back to you, unless of course someone
is able to get to it before.

I'm pretty sure using multiple mongodbs  wouldn't be that hard to implement
either.

-- les

On Aug 14, 2017 12:20 AM, "Christian Petersson" <notificati

[2017-08-14 09:44] Issen007 commented on #902
Even during when you run the corpus data file?

[2017-08-14 09:47] sherinmannambeth commented on #902
For trained data its normal. Only while running the bot the problem persists.

[2017-08-14 10:34] mymusise commented on #839
@gunthercox  Hi, if bot will find a response from all dataset everytime, why not make a preproccess after training and filter the statement just need not all when calling `get_response`. For example `Inverted index`.

[2017-08-14 11:29] #929 closed

[2017-08-14 11:37] Arvhus opened #932 "How to set up a comparison function"
Hi I recently tried to incorporate my own comparison method into Chatterbot and received the following error

From the documentation I understood that all that was required was handling the statements that would come into the function and returning a confidence value. Could you tell me where I'm going wrong? Why should there be a get_initialization_functions function?

[2017-08-14 12:28] Issen007 commented on #902
And that's what's I mean. I think we have a JavaScript / Python issue here and not a Python problem.
When I follow the code in the HTML form we pushing in the same data though the same field and variable.
So I think we need to debug the webpage/javascript and make sure that is proper configured.

[2017-08-14 12:54] Issen007 commented on #902
![capture](https://user-images.githubusercontent.com/18008787/29272456-74b42bbe-8100-11e7-96d0-1e255e4736b0.PNG)

This is what you got when you run your chatbot?

[2017-08-15 00:42] gunthercox commented on #931
I'm wondering about the pros and cons of supporting this. If a particular database architecture (MongoDB, Sqlite, etc.) allows this than I'm all for it.

One possible issue I can foresee is the challenge of merging the results from multiple non-homogeneous database. For example, someone wants to use a Postgres database and a MongoDB database together for their data.

[2017-08-15 00:49] gunthercox commented on #839
@mymusise We are working on changes that will prevent the full dataset from needing to be searched each time a new input is received. #924 and #925 have further details on what changes will be made.

[2017-08-15 00:57] gunthercox commented on #932
Hi @Arvhus Take a look at the existing comparison functions:

https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/comparisons.py

Your comparison function should be on a class that inherits from `Comparator` which can be imported using:

[code]

The reason this class is used is because sometime it is necessary for various setup processes to be run a single time when a chat bot first st

[2017-08-15 01:02] lesleslie commented on #931
Yeah, i think this would have to be implemented using multiple mongos OR
multiple sql's.  I know the ability exists in sqlalchemy to mix and a match
your sqldb's, but I just can't see trying to use a sql and a mongo.

-- les

On Aug 14, 2017 5:42 PM, "Gunther Cox" <notifications@github.com> wrote:

[2017-08-15 05:31] Issen007 commented on #902
@gunthercox @vkosuri can you point me to the area where you take the Javascript inputData and POST it to Python chatterbotURL?
Because I can see that we don't insert the first statement. And I got a feeling that you take the first sentence and then the second sentence match that data with existing data in the database.
If not match, then do you add the data to the data.
If exist you just add the c

[2017-08-15 05:38] Issen007 opened #935 "Tell Chatterbot if it is the correct answer"
Another future request for you.
I think this is maybe already possible to do. But it should be nice if you can add a Voting function to the answer from the chatterbot.

That mean for every time you ask and get a responds you can vote to add another 👍 +1 or 👎 : (-2) to the counter.
In that case we can easier train our chatterbot for the correct answer.
If we hit 👎 the chatterbot will automatic do a

[2017-08-15 06:29] vkosuri commented on #902
https://github.com/gunthercox/ChatterBot/blob/9f4b385b052b467ac6dcf9995d13dc6544143b42/examples/django_app/example_app/templates/app.html#L84

[2017-08-15 13:22] Issen007 commented on #902
Thanks, That one did I already found out but what python file does that one pointing to?
I did search in view.py and url.py but can't find that inputData line.

[2017-08-15 16:46] vkosuri commented on #902
I think you are looking this

https://github.com/gunthercox/ChatterBot/blob/9f4b385b052b467ac6dcf9995d13dc6544143b42/chatterbot/ext/django_chatterbot/views.py#L72

[2017-08-15 18:20] vkosuri commented on #479
@boris314159 I think this issue was addressed in this PR https://github.com/gunthercox/ChatterBot/pull/817

[2017-08-15 19:11] vansh215 opened #936 "can you tell all the softwares used in the project? thank you"

[2017-08-15 19:16] Issen007 commented on #931
@lesleslie in our case we will probably mix between Centralize Postgress and local SQLite

[2017-08-15 19:37] Issen007 commented on #936
@vansh215 what do you mean?
I'm looking at to use chatterbot as a System Administrator Assistance so we got a 24x7 System Administrator that help us to find issues before we found it on our own.

[2017-08-15 19:41] Issen007 commented on #902
@vkosuri Thanks and this was the area I looking for.
But can now see that there is updates in the code at GitHub but no formal update that could be used though `pip install --upgrade chatterbot` command.

But I will upgrade though GitHub and see if that fix solve the issue for us.

[2017-08-15 19:54] Issen007 commented on #902
The new code sort of solve the issue for me.
But now do I get the Chatterbot Respond in the Statement column and the Responds column, also my statement also get in both columns.

I think this could be great by design function to be able to predict where the conversation will end.

[2017-08-15 19:57] Issen007 commented on #925
@gunthercox @vkosuri in what area should we start using tags?
I'm playing around with this at the moment and could I add tags example in to the Corpus training data files?

Thanks

[2017-08-16 02:54] gunthercox opened #939 "Removing support for redundant database connection parameters"
Right now, the MongoDB storage adapter and the SQL storage adapter each support both of the following parameters.

- `database`: A simple string such as "chat-bot-database" that then gets turned into a database connection string by the storage adapter.
- `database_uri` A database connection string.

I think it might simplify things if one of these parameters was removed. Considering they both almo

[2017-08-16 02:59] #479 closed

[2017-08-16 03:03] gunthercox commented on #925
@Issen007 Tags will be added to the statements based on the `category` field from their corpus data (at least when training with the `chatterbot-corpus`).

[2017-08-16 04:41] Arvhus commented on #932
Thanks a lot @gunthercox ! Tried it out and it works perfectly :+1:

[2017-08-16 04:41] #932 closed

[2017-08-16 04:55] Arvhus opened #940 "Include information for default selections in documentation"
As the title suggests the default choice for Logic Adapter and comparison functions should be called out in the documentation. If this is present then I apologize, I didn't see it and thought people might like to know.

[2017-08-16 06:50] nggary opened #942 "Enhancement of session class"
Hi there, I am working on a way to customize the intention of a conversation seesion, It world be nice to have extra storage variable in session object, so that make each conversation has its own intention
Currently there are only uuid, id_string, id included in session class:
http://chatterbot.readthedocs.io/en/stable/_modules/chatterbot/conversation/session.html#Session

[2017-08-16 07:15] #882 closed

[2017-08-16 07:16] Issen007 commented on #882
This has now been documented at chatterbot-corpus website "[Chatterbot-Corpus](https://github.com/gunthercox/chatterbot-corpus/)"

[2017-08-16 07:47] Issen007 commented on #902
@gunthercox @vkosuri from my point of view has this issue been solved by the new code.

@sherinmannambeth FYI, if you run a git clone from GitHub on this project to a separate directory.
Copy the all data from directory `ChatterBot/chatterbot/*` to your `<virt env>/lib/pythonX.X/site-packages/chatterbot`
Then will your Statement/Responds issue been solved and we can close this ticket.

[2017-08-16 07:52] Issen007 opened #943 "After upgrade: "Statement matching query does not exist""
After upgrading the code I got a new bug.
This is happening when I type in a unknown word for the ChatterBot.
[code]

[2017-08-16 09:39] sherinmannambeth commented on #902
@Issen007  I have done what you said and this is what I got when tested,
My conversation
![conv](https://user-images.githubusercontent.com/25637940/29357306-ab597d1e-8294-11e7-9c14-2f66f192ecfb.JPG)

In Django admin
![admin](https://user-images.githubusercontent.com/25637940/29357362-d674fd02-8294-11e7-939e-84ecc27c3844.JPG)

[2017-08-16 10:18] Issen007 commented on #902
This is correct, and this is what I asked @gunthercox and @vkosuri
If the idea was to create a conversation we need both ChatterBot Reponds and what will your Responds be to his previews answer to be able to predict future conversation.

Thanks

[2017-08-16 23:38] gunthercox commented on #942
Hi @nggary some changes have recently been made and the session object is being removed in the next release. It was replaced with a "conversation" object which is persisted in the database.

Additionally I opened issue #904 which, once completed, will make it possible for the existing objects such as statements, responses and conversations to be overwritten so that additional method and variables

[2017-08-16 23:40] gunthercox commented on #940
There currently some brief documentation on this page: http://chatterbot.readthedocs.io/en/latest/chatterbot.html#adapter-defaults

I agree that many of the defaults are lacking. I'll see what I can do about updating these 👍

[2017-08-16 23:54] gunthercox commented on #943
A line probably needs to be modified in there to create that statement. I probably missed it when I did the conversation changes for #828

[2017-08-17 04:14] sherinmannambeth commented on #902
No no..the conversation is working fine..but what comes in Django admin later becomes part of the training  data...according to my conversation only two rows should be created in the admin part..but theres an extra row which finally adds up to be a wrong training data.
![29357362-d674fd02-8294-11e7-939e-84ecc27c3844](https://user-images.githubusercontent.com/25637940/29395716-8a9cf622-8330-11e7-86

[2017-08-17 07:34] 7633 opened #944 "Training with corpus"
I have two questions according to corpus data:

1. How are the specified categories in *.yaml files using in training?
In the source code I found out only parsing separately categories and conversations inside.

[code]

2. How should I write corpus in yaml, if parser doesn't pay attention at `--` and `-` statements?
exmaple from `conversations.yaml`:
[code]

example from `ai.yaml`:
[code]
I want t

[2017-08-17 10:49] vkosuri commented on #944
@7633 Yes, it should work, I would recommand to you write serveral response before you check YAML lint http://www.yamllint.com/

The below example save it into .yaml and train your bot it should work.

[code]

[2017-08-17 19:42] Issen007 commented on #903
@lesleslie I did a quick test but I got a import issue when loading the chatterbot module.
It complain it can't import the StorageAdapter.
But I need some more time to verify what's going on.

[2017-08-18 04:03] 7633 commented on #944
@vkosuri yep, but how Chatterbot use this information about category?

[2017-08-18 05:19] vkosuri commented on #944
short and detail described here https://github.com/gunthercox/ChatterBot/issues/925

[2017-08-18 05:20] Issen007 commented on #903
@lesleslie I got the PostgreSQL connection to work. But now by changing the `sql_storage.py` but via the Django `settings.py` file.

Maybe the chatterbot works different between if you are going though the Django App and if you go though the pure python app.
Because if I only import the ChatBot module from chatterbot it doesn't complain during the load but it complain during the training but it co

[2017-08-18 05:22] Issen007 commented on #902
@sherinmannambeth I'll will work on this today and see if I can solve it. Because I agree with you with that result.
But let me go though the code and see if I can find that statement in the code and see where it push in the responds in to the database.

@vkosuri maybe you have some sort of guidelines to come up with where I should search for.

[2017-08-18 05:36] vkosuri commented on #902
My guess

https://github.com/gunthercox/ChatterBot/blob/9f4b385b052b467ac6dcf9995d13dc6544143b42/chatterbot/storage/django_storage.py#L79

[2017-08-18 08:53] saurabhzuve commented on #605
Hey in order to maintain context I was trying to build a Logical Adapter for each context that I want in my conversation. But the problem is that I need the last statements that were made in the conversation in the Logical Adapter such that I can define the rules to be followed if a particular set of statements have already been passed.
I am unable to get the last mentioned response or input state

[2017-08-18 11:53] Issen007 commented on #902
@sherinmannambeth I think I found the issue.
If you put a # infront of line [101-105](https://github.com/gunthercox/ChatterBot/blob/9f4b385b052b467ac6dcf9995d13dc6544143b42/chatterbot/storage/django_storage.py#L101) in django_storage.py then will you remove the double statement.

@gunthercox @vkosuri do we know why we got that function?
Because when I switch that values to
[code]
the Chatterbot wi

[2017-08-18 13:07] vkosuri commented on #902
I think the meaning of keeping another create is, if Response didn't created create it, create Response object. it should something like below.

[code]

[2017-08-19 07:08] Arvhus commented on #940
Thanks a lot @gunthercox I'm playing around with chatterbot and really like it. Others will definitely also do so if they understand easier

[2017-08-19 07:08] #940 closed

[2017-08-19 13:30] #921 closed

[2017-08-19 15:06] neutralboy commented on #908
@aliray , if you don't mind can you please state where you acquired the data from?

[2017-08-19 17:02] neutralboy opened #946 "how to get conversations from django_app"
Every time I perform a request to the server, it returns a **[19/Aug/2017 22:21:30] "GET /chatterbot/ HTTP/1.1" 405 110**.
I changed nothing from the *example_app* for integration of Django and Chatterbot, I have just copied all of it.
Later when I examined the console I found this `Loading failed for the <script> with source “resource://devtools/client/shared/vendor/react-dev.js”`. I have no idea

[2017-08-19 20:14] gunthercox commented on #946
Hi @neutralboy, I don't believe the error you are seeing is related to ChatterBot. It looks like it might be an error generated in one of your browser extensions.

[2017-08-20 07:00] nggary commented on #942
Good to hear that, I look forward to the next release

[2017-08-20 07:01] #942 closed

[2017-08-20 14:05] gunthercox commented on #605
@saurabhzuve I think you need `self.chatbot` insted of `self.bot`

[2017-08-20 17:16] mouhsinelonly commented on #509
@ThomasKoscheck  can you post how you solved your problem i am facing the same issue, i cant use arabic with chatterbot

[2017-08-20 17:47] ThomasKoscheck commented on #509
@mouhsinelonly This is my solution:

[code]

The bold ones are the important ones.

[2017-08-20 18:25] Issen007 commented on #903
I will close this ticket because it works when I change the Django Settings for PostgreSQL and that is good enough for me.

[2017-08-20 18:25] #903 closed

[2017-08-20 19:07] vkosuri opened #948 "tag_association Simplifying Association Objects"
Currently the associations are defined as association_table,

Instead i would propose to create a separate table for tag_association for example ``TagAssociation`` table. More information available here http://docs.sqlalchemy.org/en/latest/orm/extensions/associationproxy.html#simplifying-association-objects

@gunthercox Master any comments/suggestions?

[2017-08-21 00:51] vkosuri commented on #509
correct format

<pre><code lang="python">
def on_chat_message(self, msg):
    global chat_id
    content_type, chat_type, chat_id = telepot.glance(msg)
    <b>reload(sys)</b>
    <b>sys.setdefaultencoding("utf-8")</b>

    try:
        chat_id = msg['chat']['id']
        firstname = msg['from']['first_name']<b>.encode('utf8')</b>
        username = msg['from']['username']<b>.encode('utf8')</b>
</c

[2017-08-21 01:01] vkosuri commented on #946
@neutralboy if you want get conversations from chatterbot you have do post operation.

https://github.com/gunthercox/ChatterBot/blob/324c312e036ef63fa80885f93ed2ff808919592f/examples/django_app/example_app/templates/app.html#L82

the error message came from here

https://github.com/gunthercox/ChatterBot/blob/324c312e036ef63fa80885f93ed2ff808919592f/chatterbot/ext/django_chatterbot/views.py#L103

[2017-08-21 05:47] #944 closed

[2017-08-21 10:36] mouhsinelonly commented on #509
i solved another way by using python3 and exporting the envitrenment
encoding for python . thank you

On Mon, Aug 21, 2017, 4:52 AM Mallikarjunarao Kosuri <
notifications@github.com> wrote:

--

محسن بخيش
مدير قسم البرمجة بمركز التعليم عن بعد ،كلية العلوم الشرعية ،مسقط ، عمان
المحمول : +96890164489

[2017-08-21 13:37] neutralboy commented on #946
@gunthercox : **The error isnt related to the browser extensions.** I disabled all the browser extensions and then tried it again, it didnt work.
@vkosuri : I tried the views.py and html template you had in your github page and even that gave me the **same error.**

[2017-08-22 04:09] laonan commented on #908
Corps with 900000 lines data, use mongodb, super slow.

[2017-08-22 06:06] theman00011 opened #949 "Trying to implement Jaccard similarity comparison"
[code]

I'm trying to implement the Jaccard similarity comparison, but even just using a basic setup with or without any logic adapters renders the error TypeError: get_initialization_functions() missing 1 required positional argument": 'self'

I can provide the entire exception thrown if necessary

[2017-08-22 09:48] vkosuri commented on #949
You could write something like this

[code]

or

[code]

The comparison class are converted to calable names at line number [325](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/comparisons.py)

More information about comparison functions http://chatterbot.readthedocs.io/en/stable/conversations.html#statement-comparison

[2017-08-22 09:49] liqiang311 opened #950 "How to make the robot as much as possible to identify the user's different questions?"
How to make the robot as much as possible to identify the user's different questions?

[2017-08-22 11:52] theman00011 commented on #949
Ah, okay. Everything appears to be functioning as normal now after using the correct class. Thank you

[2017-08-22 11:52] #949 closed

[2017-08-22 20:28] Issen007 commented on #946
Can you send over a code snip view to us so it is easier for us to understand what you are try to do?

[2017-08-23 06:05] nggary commented on #935
`# -*- coding: utf-8 -*-

from chatterbot import ChatBot

bot = ChatBot(
    'Feedback Learning Bot',
    storage_adapter='chatterbot.storage.JsonFileStorageAdapter',
    logic_adapters=[
        'chatterbot.logic.BestMatch'
    ],
    input_adapter='chatterbot.input.TerminalAdapter',
 output_adapter='chatterbot.output.TerminalAdapter')

DEFAULT_SESSION_ID = bot.default_session.id

def get_feedbac

[2017-08-23 06:06] nggary commented on #935
Above is the sample of let user determine is it the correct response by using terminal mode

[2017-08-24 03:53] zhouzebiao opened #951 "when i use it in Chinese，it don't work in python2"
**when i use it in Chinese，it don't work in python2：**

`      chatbot.set_trainer(ChatterBotCorpusTrainer)

     chatbot.train(

      "chatterbot.corpus.chinese"

      )`

**when i run the code, the error is:**

conversations.yml Training: [####################] 100%
greetings.yml Training: [####################] 100%
trivia.yml Training: [####################] 100%

Traceback (most recent call

[2017-08-24 04:46] vkosuri commented on #951
@zhouzebiao Could you please provide fallowing details to resolve issue very quickly

1. version of chatterbot, to know chatterbot version ``python -m catterbot chatterbot.__version__``
2. corpus data examples
3. example code snippet that produced erros

Read this documentation to fix python encoding issues http://chatterbot.readthedocs.io/en/stable/encoding.html#how-do-i-fix-python-encoding-error

[2017-08-24 05:44] vkosuri commented on #950
@liqiang311 could you provide more information and a simple usecases you looking for?

[2017-08-24 05:44] #948 closed

[2017-08-24 06:33] balaram-bhukya commented on #950
Two same questions with different wordings in it -semantic similarity
1. I want to order a pizza
2. I need to book a pizza

[2017-08-24 07:59] vkosuri commented on #950
Current chatterbot uses [BestMatch](http://chatterbot.readthedocs.io/en/stable/logic/index.html#best-match-adapter) algorithm to match statements using different [statement_comparison_functions](http://chatterbot.readthedocs.io/en/stable/conversations.html#statement-comparison)
 this bot configuration will produce a good results for you

[code]

[2017-08-24 09:45] gunthercox opened #952 "ChatterBot Newsletter"
I'm considering starting a ChatterBot newsletter. It would be sent out periodically, probably about once a month, and it would highlight some of the following topics:

- Major changes being made
- Project goals and planned changes
- Developer highlights, if someone submits a significant fix or contribution.

For convenience, the Mailchimp signup form. (I'm thinking the footer and index page of the

[2017-08-24 14:37] milanmaximo opened #953 "How to create ChatterBot on Facebook Messenger"
Hello,
does anyone have experience with ChatterBot on Facebook messenger?
I would like to try to make create answers with emoticons.
Thanks a lot

[2017-08-24 15:15] vkosuri commented on #953
similar issue https://github.com/gunthercox/ChatterBot/issues/917

[2017-08-24 15:31] vkosuri commented on #952
💯

[2017-08-24 16:48] hochochoc opened #954 "ListTrainer with chatbot"

[2017-08-24 16:53] vkosuri commented on #954
@hochochoc could you please provide more information about this issue?

[2017-08-24 17:08] hochochoc commented on #954
Sorry,
I train my bot with ListTrainer. However, when I change something in Response B to Statement A in train list, I will receive the old response, not the new I have changed. I understand how ListTrainer works and how chatbot select response. But can you guess me how to get the new response, not the old one? May I have to make a new chatbot - select response or something like that?
Thank you ve

[2017-08-24 17:25] hochochoc commented on #953
emoticons issue #911

[2017-08-24 17:27] vkosuri commented on #954
Currently training process is static, if you made any changes in your train data, you have to retrain your bot or create new one.

I don't understand why you are trying to change existing statements? Is there any use case behind?

Some of the reference, that might useful to you

https://github.com/gunthercox/ChatterBot/pull/103
https://github.com/gunthercox/ChatterBot/issues/94#issuecomment-167920

[2017-08-24 17:37] milanmaximo commented on #953
Thank you @vkosuri  and @hochochoc
It seems that there is no pure python Facebook messenger, except this one with Flask

[2017-08-24 17:38] vkosuri commented on #953
and Django http://chatterbot.readthedocs.io/en/stable/django/index.html

[2017-08-24 17:58] milanmaximo commented on #953
maybe could help this video https://www.youtube.com/watch?v=6DQ6v1hcNyk&t=185s

from this source https://github.com/twtrubiks/facebook-messenger-bot-tutorial

[2017-08-25 04:16] hochochoc commented on #954
I don't know why it keep processing the old response when I try to create new bot with new ListTrainer.

[2017-08-25 12:42] milanmaximo commented on #954
Same is here, and I have a problem to delete letters with another iso code, let's say I have letter with Č,Ć,Đ.. I cant delete them from admin

[2017-08-25 13:31] vkosuri commented on #954
@milanmaximo In your case you could write your own pre-processors to convert your text into desired format, if these chars are unicode apply [convert_to_ascii](http://chatterbot.readthedocs.io/en/stable/preprocessors.html#chatterbot.preprocessors.convert_to_ascii).

If not write your own pre-processor, here some documentation how to write [own processor]( http://chatterbot.readthedocs.io/en/stable

[2017-08-25 16:36] nggary commented on #951
This Chinese article may solve your problem, http://blog.just4fun.site/create-a-smart-chat-bot.html, please read the section of "坑", it mention the encoding problem may have in python2

[2017-08-26 07:47] elcolie opened #955 "How to let Chatbot execute Django query and OS command?"
I am working with Django and Infra.
I have read all the given example in the repo. But it does focus on training, dataset, feedback, ... etc

How to let `Chatbot` execute `Django query` and `OS commands`?

[2017-08-27 03:43] vkosuri commented on #955
@elcolie I didn't understand you question? could you provide with some examples?

Do want access dbshell of chatterbot,

[code]

Or Are you trying to access [custom management commands](https://docs.djangoproject.com/en/dev/howto/custom-management-commands/), then the [train](http://chatterbot.readthedocs.io/en/stable/django/training.html#management-command) command and source [code](https://githu

[2017-08-28 03:02] elcolie commented on #955
I am considering the very simple plain task like.

[code]

Then I expect `Chatbot` be able to execute my given `custom management commands`.
Or

[code]

Then I expect `Chatbot` be able to execute `uptime` directly to OS level.

This technique is similar to `customer management commands`.
But I branches a question since I do not known the technical implementation behind the scenes.
However, in opin

[2017-08-28 14:50] taiwotman opened #956 "BestMatchAdapter confuse two different questions with same response"
Using the BestMatchAdapter of Chatterbot, it confuses two questions with the same answer. For example, training the ai.yml.

On the other hand, the following similar questions make much sense in the bot answer:

[2017-08-28 14:54] taiwotman opened #957 "Empty Chatterbot Conversation table in Django Admin"
In Django admin, the chatterbot conversion table is empty after training has been performed using

`python manage.py train`

The above code populates the statement and response tables with the training data based on the yml file. This is fine.

However, during testing, the statements posted to the chatbot and the response ought to go to the empty conversation table and should be allowed to be adde

[2017-08-29 00:30] ken-talkingsource opened #958 "learning_feedback_example error: 'SQLStorageAdapter' object has no attribute 'create_conversation'"
ChatterBot version : 0.7.6
python version : 3.6.2

In learning_feedback_example.py line 26 has an error :
[code]
How should I fix that ?

---

Thanks @lesleslie

Reinstall from git fix the problem.

`pip3 uninstall chatterbot`
`pip3 install git+git://github.com/gunthercox/ChatterBot.git@master`

[2017-08-29 01:01] lesleslie commented on #958
on line 239 of chatterbot/storage/sql_storage.py do you see:

def create_conversation(self):

if not you need to clone/download/merge your ChatterBot source again from
github.  there have been 67 commits to the master since 0.76 was released.
 this is one of them i'm thinking.

Les Leslie
Principal / Developer
Wedgwood Web Works
les@wedgwoodwebworks.com
(406) 640-4222

On Mon, Aug 28, 2017 at 5:30

[2017-08-29 10:08] vkosuri commented on #957
@taiwotman I have commented here https://stackoverflow.com/questions/45911071/empty-chatterbot-conversation-table-in-django-admin/45936303#45936303

[2017-08-29 12:36] vkosuri commented on #956
@taiwotman I don't know the corpus files trained. In short the best match algorithm works like this, Bot will iterate all the statements which you have trained the bot.

[code]

The default comparision algorithm is [levenshtein_distance](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/comparisons.py#L35)

In your example the scenario look like this

[code]
In this the **confidence

[2017-08-29 14:03] taiwotman commented on #956
This adjustment makes it work @Mallikarjunarao Kosuri(much credit for your suggestion).

[code]

[2017-08-29 14:11] taiwotman commented on #957
@vkosuri, thanks a lot.
Here is my final recommendation based on our [StackExchange](https://stackoverflow.com/questions/45911071/empty-chatterbot-conversation-table-in-django-admin/45936303#45936303):
I feel that there is duplication going on and I hope future chatterbot release would correct this. The conversation table should only contain the user's statement that is posted and the response. Th

[2017-08-30 05:01] vedantnarayan opened #959 "Problem when training a custom corpus in django project."
Hi ,

I have added a custom corpus . my directory structure is as follows - circus/example_app/CustomCorpus/oneWindow.yml

and my Settings.py looks like this --
[code]
When I am running manage.py train, I am getting the following error-
[code]
Please help.

[2017-08-30 06:50] vkosuri commented on #959
@vedantnarayan Django unable to find your custom corpus file in Pythons ``site-packages`` folder, Could try to place your CustomCorpus. for example ``C:\Python27\Lib\site-packages\circus\example_app\CustomCorpus``

[2017-08-30 06:59] vkosuri commented on #956
@taiwotman I am closing this issue, please feel free to reopen if you have any questions

[2017-08-30 06:59] #956 closed

[2017-08-30 07:06] vkosuri commented on #957
@taiwotman

The framework built like this, the [conversation ](http://chatterbot.readthedocs.io/en/stable/conversations.html#conversations) is a combination of ``Statements and Responses``

Statement: The Bot will consider a statements either inputs from external/user or corpus file.
Response: The relationship between two statements.

That is the reason you were seeing both user input and as-well-

[2017-08-30 11:40] gunthercox opened #960 "Fix edge case where responses exist but no possible response can be given"
An edge case currently exists where a statements that a chat bot could return exist in the chat bot's database, but due to constraints enforced by the storage adapter, no valid responses that can be used can be returned.

**Steps to recreate this issue**

1. Train a database entirely with statements that have no response
2. Try to get a response from the chat bot

**Cause of issue**

The main piec

[2017-08-30 16:44] s0rata opened #961 "Chatterbot handles multiple logic adapters"
Hello,
I am interested in this engine and I want to build a chat bot with multiple logic adapters. Let's say, one logic adapter for asking questions related to weather, another logic adapter for booking events in calendar, and more logic adapters. In this case, I want to have one adapter to handle the input_statement and this adapter will match input_statement with logic adapter.

My question is t

[2017-08-31 08:00] 7633 commented on #961
Hello @s0rata, you could implement your willings with ChatterBot.
First of all, multiplelogic adapter have already implemented in ChatterBot, when you create it, and it handle all of [standart logic adapters](http://chatterbot.readthedocs.io/en/stable/logic/index.html).
How MultipleLogicAdapter works? - [answer](http://chatterbot.readthedocs.io/en/stable/logic/multi-logic-adapter.html)

Seperate s

[2017-08-31 10:26] skanda09 commented on #961
Hi 7633,
Can you provide an example where we use one sql database to respond and a second response from another sql database using this MultipleLogicAdapter

[2017-08-31 10:41] 7633 commented on #961
@skanda09
In the case, that I described above, we use one database for all logic adapters. You can't use several databases in one ChatterBot to process different logic adapters. There is no such functionality.

If you think, that each logic adapter should keep statements in different databases, I recommend you review your project architecture.

[2017-08-31 10:48] skanda09 commented on #961
You see there are some things that are already maintained in one database and used for other purposes.

One is getting created for the conversation. For example let us say that the second database is used to get data from the net and store it there.

So I need to answer the question from one database and give the results of searches already made from the other.

[2017-08-31 10:51] skanda09 commented on #961
Can you at least give an example for multiple outputs for a single statement

E.g.,

User Hi
Bot Hello! How are you doing?
Bot Good Afternoon
Bot How can I help you today?

Where do I have make the changes?

[2017-08-31 11:02] skanda09 opened #962 "Send multiple responses for a single input"
Can I get an example for the custom logic adapter to handle this.
user: Hi
bot: Hello, How do you do?
bot: Good afternoon
bot: How can I help you today?

I presume that there is a requirement for an custom output adapter. Kindly help me.

[2017-08-31 11:06] skanda09 opened #963 "What is the type of Network that is used to do the Machine learning in ChatterBot"
What is the type of Network that is used to do the Machine learning in ChatterBot

Can you tell me what is the network? If it is not there then how can I do it.

[2017-08-31 11:16] 7633 commented on #961
@skanda09

See documentation for MultipleLogicAdapter: [link](http://chatterbot.readthedocs.io/en/stable/logic/multi-logic-adapter.html#selecting-a-response-from-multiple-logic-adapters):

Therefore, I can't get such example.

If I'm not mistaken, first database only with questions, another one is answers. For use Chatterbot, you should preprocess this databases into one training format, for examp

[2017-08-31 11:19] skanda09 opened #964 "How to access data from two databases of the same type"
You see there are some things that are already maintained in one database and used for other purposes.

One is getting created for the conversation. For example let us say that the second database is used to get data from the net and store it there.

So I need to answer the question from one database(The Conversation) and give the results of searches already there in the other database.

[2017-08-31 11:24] skanda09 commented on #961
7633
No One is with questions and Answers. Another is a search of all hotels and taxis in the area

[2017-08-31 11:35] vkosuri commented on #961
@s0rata Are you looking something like this https://github.com/gunthercox/ChatterBot/issues/357

[2017-08-31 11:40] vkosuri commented on #963
@skanda09

I don't understand you question, could you elaborate your question with more information?

If you are look for What kinds of machine learning does ChatterBot use?

See this [documentation ](https://github.com/gunthercox/ChatterBot/blob/aeb6a37c3a73e938d00c9dc710fd5929ece1bf05/docs/faq.rst#what-kinds-of-machine-learning-does-chatterbot-use)

[2017-08-31 11:44] vkosuri commented on #964
@skanda09 I think this thread will provide some information to you https://github.com/gunthercox/ChatterBot/issues/931,

[2017-08-31 11:46] vkosuri commented on #962
Currently this is not implemented, but there is a plan in near future to implement using chat forms https://github.com/gunthercox/ChatterBot/wiki/Chat-Forms

[2017-08-31 11:46] skanda09 commented on #963
I mean which is the Neural Network Used?

[2017-08-31 11:52] skanda09 commented on #962
Can this be done using a Custom Adapter in the present setup

[2017-08-31 11:56] vkosuri commented on #963
Not implemented, Chatterbot purely implemented using search algorithms techniques and [naive Bayesian classification
](https://en.wikipedia.org/wiki/Naive_Bayes_classifier)

I think you could start this one https://github.com/gunthercox/ChatterBot/issues/289

[2017-08-31 11:59] vkosuri commented on #962
@skanda09 I totally misunderstood you question, Yes, you were correct you could write your own custom adapter to do, I found a similar thread https://github.com/gunthercox/ChatterBot/issues/323

[2017-08-31 15:04] s0rata commented on #961
@7533 thank you. So from what you said, the Multi Adapter class will handle this for me. What I need to do is to classify the input_statement to match with adapter. I think I have an idea for now. Thank again.

[2017-08-31 15:06] bainadeashish opened #965 "connect to mongodb on aws ec2 ubuntu"
Hi Team,

I have mongo db running on mongodb on aws ec2 ubuntu.
Below is code :
[code]

But i am getting below error:

[code]

Any help would be appriciated,I spent almost a day on it & not able to figure out cause.

[2017-08-31 15:10] s0rata commented on #961
@vkosuri #357 is similar. But that somehow give me another idea of what I want to do. Thank for pointing that out.

[2017-08-31 15:15] s0rata commented on #961
@7633 @vkosuri Is there any text classifier library for python you can recommend? Because I intend to use it to categorize the input_statement. Sorry, I am new to this. Thank again.

[2017-08-31 15:38] PrinceToch opened #966 "chatbot"

[2017-09-01 04:21] 7633 commented on #961
I recommend you to look textblob, nltk [link with more info](https://elitedatascience.com/python-nlp-libraries)

[2017-09-01 05:00] vkosuri commented on #966
@PrinceToch could you provide more information?

[2017-09-01 05:26] PrinceToch opened #967 "help me please"

[2017-09-01 05:31] vkosuri commented on #965
@bainadeashish From the error console log, this issue was with Mongo DB driver issue, not an chatterbot issue.

I hunch could be the **firewall issue,** Recently i registered with Mongo DB course, One learning was

Apart from this information I am googled your issues, some of the solution i found are

1. https://community.bitnami.com/t/pymongo-errors-operationfailure-not-authorized-on-mydb-to-exec

[2017-09-01 05:32] vkosuri commented on #967
@PrinceToch What help are you looking?

[2017-09-01 05:33] vkosuri commented on #966
@PrinceToch I am closing this issue due to lack of information, Please feel free to reopen the issue if you need help from us.

[2017-09-01 05:33] #966 closed

[2017-09-01 06:08] s0rata commented on #961
@7633 Thank you for your recommendation.

[2017-09-01 06:23] bainadeashish commented on #965
@vkosuri If i use mongodb without authentication then there is know issue.
But when i use authentication i am getting above error.
Wha t is code to pass username & pwd to mongodb instanace?Because while creating chatterbot instanace we are just passing url without authentication info.Please see below
database_uri='mongodb://ec2-52-66-113-108.ap-south-1.compute.amazonaws.com:27017'
Let me know how

[2017-09-01 06:26] vkosuri commented on #961
@s0rata Please feel free ask any question if you need information. Some of the resources that might help you.

1. https://stackoverflow.com/questions/30821188/python-nltk-pos-tag-not-returning-the-correct-part-of-speech-tag
2. Facts and figures https://spacy.io/docs/api/

[2017-09-01 06:31] s0rata commented on #961
@vkosuri Thank you.

[2017-09-01 06:39] vkosuri commented on #965
Here is the [standard connection string format](https://docs.mongodb.com/manual/reference/connection-string/#standard-connection-string-format) Mongo db suggested

[code]

In your case, it could be like this

[code]

[2017-09-01 06:42] bainadeashish commented on #965
thanks this is thing i needed:)
big thank you:)

[2017-09-01 06:42] #965 closed

[2017-09-02 08:15] skanda09 commented on #963
Can I know how the saving and retrieval from database is happening? In which program would I find this info so that I can plan my json file on specific format

[2017-09-02 09:25] vkosuri commented on #963
You will find line number 115 https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/chatterbot.py

[2017-09-02 09:54] skanda09 commented on #963
Saving is fine retrival where is it done?

[2017-09-02 09:59] skanda09 commented on #963
How the the processing is happening can you tell me?

[2017-09-02 10:16] maylad31 opened #969 "must contain a value for "import_path""
My code for logic adapter in django gives me the above mentioned error. Please help.
code:

       'logic_adapters' : [
          {
             "import_path": 'chatterbot.logic.BestMatch',

          },

        {

            "import_path": 'chatterbot.logic.LowConfidenceAdapter',
            "threshold": 0.90,
            "default_response": 'OhNo'
        }
        ],

[2017-09-02 11:14] vkosuri commented on #963
Here is the process flow diagram http://chatterbot.readthedocs.io/en/stable/#process-flow-diagram

Some useful information you will find here https://github.com/gunthercox/ChatterBot/issues/832#issuecomment-314052937

[2017-09-02 19:19] rodneyhayes commented on #969
Try:

logic_adapters=[
      {
         "import_path": 'chatterbot.logic.BestMatch',

      },
      {

        "import_path": 'chatterbot.logic.LowConfidenceAdapter',
        "threshold": 0.90,
        "default_response": 'OhNo'
      }
],

[2017-09-02 19:58] maylad31 commented on #969
hi thanks one more issue i am facing in django is that i am getting the previous sentence in the list as a response when i was running in flask it was alright. Please help me.

[2017-09-02 21:02] MayankGupta3090 opened #970 "untraining a chatbot"
how can I untrain a chatbot?
I have done following:
1. deleted db.sqlite3 file
2. trying to train the chatbot after deleting the db.sqlite3 file

getting the following error while training the bot:

Thanks in advance!!!

C:\Python36\python.exe C:/Users/mayan/Desktop/Circus-master/manage.py train
botprofile.yml Training: [###                 ] 17%Traceback (most recent call last):
  File "C:\Python

[2017-09-02 21:18] rodneyhayes commented on #969
What are you using to get responses?

[2017-09-03 11:12] maylad31 commented on #969
this is my code that i have in settings.py file

CHATTERBOT = {
    'name': 'Django ChatterBot Example',
    'trainer': 'chatterbot.trainers.ListTrainer',
    'training_data': [
        #here i have my data
],
 'django_app_name': 'django_chatterbot'
}

[2017-09-03 16:19] maylad31 commented on #970
I think you forgot to migrate before training.

[2017-09-04 03:40] vedantnarayan commented on #959
The issue is solved. Please close this.

[2017-09-04 03:40] #959 closed

[2017-09-04 11:03] maylad31 commented on #970
Did my respnse help?

[2017-09-04 16:45] vkosuri commented on #970
@maylad31 are looking a solution or anything you are conveying message to update solution?

[2017-09-04 16:47] vkosuri commented on #969
which version of chatterbot are you using? To know version ``python -m chatterbot --version``

[2017-09-04 17:30] maylad31 commented on #969
0.7.6
I am not getting any problem when i am using flask.

[2017-09-04 19:56] taiwotman commented on #969
Did you have this problem when you `python manage.py train `?
If yes,  comment out(#) the whole **logic_adapters** in your settings.py and uncomment after your training is done.

[2017-09-05 01:42] vedantnarayan opened #971 "How to fire django_chatterbot from an existing .Net Web application."
Hello All,

This is not an issue. Just a question.

I have build a chatbot using django using chatterbot. I want it to integrate in an existing .Net web application. I want to call this application from an existing .Net application. Please guide me if anyone has any information regarding this.

[2017-09-05 05:04] vkosuri commented on #967
@PrinceToch I am closing this issue, if you need any help please feel free reopen this issue.

[2017-09-05 05:04] #967 closed

[2017-09-05 14:58] taiwotman commented on #969
@maylad31, can you confirm asap if your issue has been solved. You are free to re-open.
@vkosuri can you this close #969?

[2017-09-05 16:11] maylad31 commented on #969
okay i will try as you say. yes please close this issue as i have shifted my app on flask. However i will still try with django and if the problem persists i will reopen. Thanks.

[2017-09-06 00:51] gunthercox opened #972 "Making storage adapters more flexable"
It would be useful if the storage adapters allows queries to be made for any database model that a chat bot is using. This would allow more generic queries to be made and it would greatly benefit filters and logic adapters.

[2017-09-06 00:54] gunthercox opened #973 "Make stuff in ChatterBot wiki actionable if needed"
There are a few pages in the GitHub wiki that are proposals for ideas, notes, etc. Some of these items have been implemented and others are just hypothetical plans. This issue is a reminder for me to go through the wiki and make the some of the pages into actionable tickets or move information into the documentation as needed.

[2017-09-06 09:35] WildDylan commented on #970
untrain a chatbot? why not redeploy....

[2017-09-06 11:28] jaysharp opened #974 "response cannot be updated"
when realizing there is typo in response or just wrong input, retrain also can't update the very response.

[2017-09-06 18:09] vkosuri commented on #974
The retraining will check for existing statement, if any existing statement are found it will update occurrence count not the statement.

Correct you corpus and delete existing database ``db.sqlite3`` and retrain you bot. Hope this will solve your problem.

Any comments or suggestions on training process?

[2017-09-07 01:44] jaysharp commented on #974
In the case that there is typo in response or such small mistakes, it seems inefficiently to delete and  retrain the whole bot. What if checking and replacing the old statement while training the bot?

[2017-09-07 04:34] ayushecps opened #975 "Enable Read Only mode of ChatBot"
From which file and which line of the file can we enable read only mode of chatterbot ?

Please Help !

[2017-09-07 05:14] gunthercox commented on #975
Hi @ayushecps, when you instantiate a new instance of the chat bot class in a new file that you have created, you will need to set the `read_only` parameter to `True`. Here is a quick example:

[code]

Feel free to check out more examples in the documentation.
http://chatterbot.readthedocs.io/en/latest/quickstart.html#read-only-mode

[2017-09-07 10:43] naturesphere opened #977 "Something Wrong in Read Only mode"
[code]

[2017-09-07 10:46] naturesphere commented on #977
waiting patiently...

[2017-09-07 11:35] vkosuri commented on #977
@naturesphere Thanks for the waiting, Here you combing two scenario into one. The [get_response()](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/chatterbot.py#L93) method always calls the [process_input](https://github.com/gunthercox/ChatterBot/blob/master/chatterbot/input/terminal.py#L13) method to get the input. This input will map corresponding adapter you are used.

1. You ar

[2017-09-07 18:07] tosaravanan opened #978 "Word Aliases"
for ex:
AI
Artificial intelligence
machine intelligence

how to treat all this words as one word in an custom logic adapter

[2017-09-08 04:47] nikhilv-quantela opened #979 "Saving the bot instance"
I have created an example bot using the code below. My question is, is it possible to access this trained bot instance **my_bot** with name **TestMe** later directly when needed.

[code]

[2017-09-08 05:44] vkosuri commented on #979
@nikhilv-quantela Each object is copied into ``self``.

https://github.com/gunthercox/ChatterBot/blob/b611cbd0629eb2aed9f840b50d1b3f8869c2589e/chatterbot/chatterbot.py#L17

if want do any operations later time you could do like this
[code]

[2017-09-08 09:58] vkosuri commented on #978
@tosaravanan I think this information will help you to do so.

[code]
For more information try to read these documents this thread will help you https://stackoverflow.com/questions/19258652/how-to-get-synonyms-from-nltk-wordnet-python and http://www.nltk.org/howto/wordnet.html

And also I tried to debug further how to add new words ``wordnet.synsets`` , again this information will help you https:/

[2017-09-08 14:56] jiangyuhe123 opened #980 "Training with the Twitter API in Django ChatterBot"
Dear buddy,

I want to train with Twitter API in the Django ChatterBot example app. But I meet following problem when call command train. (all the Twitter key ... are set correctly)

Traceback (most recent call last):
  File "/Users/southdom/Library/Application Support/JetBrains/Toolbox/apps/PyCharm-P/ch-0/172.3968.37/PyCharm.app/Contents/helpers/pycharm/django_manage.py", line 43, in <module>

[2017-09-09 12:27] #980 closed

[2017-09-09 13:04] vkosuri commented on #980
http://chatterbot.readthedocs.io/en/stable/examples.html#examples I think above train examples will help you

[2017-09-11 03:27] monster713 commented on #951
I set storage_adapter="chatterbot.storage.MongoDatabaseAdapter", then it works.

[2017-09-11 05:32] nikhilv-quantela commented on #979
@vkosuri  Ok

So, we don't need to train it again right?

[2017-09-11 05:51] vkosuri commented on #979
I think your question is, to get bot name do i need train it again?
No

[2017-09-11 05:54] nikhilv-quantela commented on #979
@vkosuri thanks for clarification

[2017-09-11 08:39] vyz1194 commented on #900
Thanks for the Reply @gunthercox

Can please tell me which all modules will/have change with your update ?

*very sorry for responding this late*

[2017-09-11 09:36] vkosuri commented on #900
Reference pull request https://github.com/gunthercox/ChatterBot/pull/828

[2017-09-11 13:57] tosaravanan commented on #978
Thanks @vkosuri
am trying to do this, whereas price from an web-service can you guide me with best approach
tell samsung j7 price
get price samsung mobile j7

[2017-09-11 16:20] vkosuri commented on #978
Try [JaccardSimilarity](http://chatterbot.readthedocs.io/en/stable/conversations.html?highlight=jaccard_similarity#chatterbot.comparisons.JaccardSimilarity) to achieve your approach

Here is the python snippet .

[code]

[2017-09-12 09:44] ayushecps opened #981 "How to see flow of a chatterbot and queries that are hitting database ?"
How to see flow of a chatterbot and queries that are hitting database ?

[2017-09-12 10:03] saraalosaid opened #982 "low confidence adapter in django chatbot"
how to use low confidence adapter in django chatbot ,the given example in documentation show the use in terminal chatbot, i try the code in django setting but it doesnt work ,please help...

[2017-09-12 10:52] ayushecps commented on #982
'logic_adapters':  [
        'chatterbot.logic.LowConfidenceAdapter'
    ],

[2017-09-12 11:01] saraalosaid commented on #982
and how i can specify threshold and make default response

[2017-09-12 11:52] vkosuri commented on #982
I think this example will help you

[code]

[2017-09-12 13:08] Issen007 commented on #476
@gunthercox what is status on this? Should be great to get to see this enhancement.

[2017-09-12 13:11] Issen007 commented on #974
@jaysharp are you using together it together with Django? In that case you can modify the line in the Django Admin.

[2017-09-12 13:13] Issen007 commented on #970
I think the correct way from a Django perspective is to login as Django Admin and open Response / Statement and delete the line you want to "untrain" or correct the answer so you get the correct statement with the correct answer.

[2017-09-14 06:08] Cosmos19 opened #983 "Is it possible to switch between different database.?"
Hi,

I would like to switch between different database based on some user choice. The idea is to maintain uniqueness and also to avoid collision between questions.
storage_adapter='chatterbot.storage.MongoDatabaseAdapter',
trainer='chatterbot.trainers.ChatterBotCorpusTrainer',
database="chatterrbot-XX-database"
database="chatterrbot-YY-database"

now i want to switch between XX to YY database base

[2017-09-14 06:45] vkosuri commented on #981
By adding a logging config to your bot, here is a sample snippet

[code]

[2017-09-14 06:45] vkosuri commented on #983
Yes, you can, By changing the database_uri runtime

https://github.com/gunthercox/ChatterBot/blob/b611cbd0629eb2aed9f840b50d1b3f8869c2589e/chatterbot/storage/mongodb.py#L89

Not sure consequences and effects, and also you have to train tow databases in order to responses. A sample snippet

[code]

[2017-09-14 11:52] #961 closed

[2017-09-15 08:24] Issen007 opened #984 "Change unknown responses"
Today when the chatterbot got a untrained statement, the standard responds will be "The Current Time is XX:XX"

Where can I change that?

Thanks

[2017-09-15 10:31] vkosuri commented on #984
If any response not found chatterbot will pick a random response form existing statements, This phenomenon you could find in ``BestMatch`` adapter at line 25

https://github.com/gunthercox/ChatterBot/blob/b611cbd0629eb2aed9f840b50d1b3f8869c2589e/chatterbot/logic/best_match.py#L25

and also look into how random_respnse_selection works
https://github.com/gunthercox/ChatterBot/blob/b611cbd0629eb2aed9

[2017-09-15 11:43] ayushecps opened #985 "Weather API Implementation"
How can we implement weather API and what changes to be made in code to implement the same.

[2017-09-15 17:22] vkosuri commented on #985
See this example https://github.com/gunthercox/chatterbot-weather#example

Adding more information https://github.com/gunthercox/ChatterBot/issues/820#issuecomment-312717335

Let me know if you need any help

[2017-09-16 07:04] ayushecps commented on #985
stil I am facing the issue. I am even not able to follow the steps as I am a beginner. Could you please help me at more basic level.

[2017-09-18 02:21] spongejj opened #986 "Can I train a robot with two scenes alone?"
In detail, what i want is a robot answers questions in two or more scenes, firstly, i have trained a chatbot in mixed scenes-corpus using chatterbot, but it played not very well, and i tried to use chtterbot to build two chatbots trained on different corpus, they can really answer different scenes questions.
But, can i train only one chatbot, split trainers or training corpus to let my chatbot  an

[2017-09-18 08:28] lingyiliu016 opened #987 "When chatterbot uses PostgreSQL as database problems occurred"
when I use PostgreSQL as database.I met some problem.
here is my chatterbot writed:
[code]
when I run process.some problem occured.
here is the problem:
sqlalchemy.exc.ProgrammingError: (psycopg2.ProgrammingError) there is no unique constraint matching given keys for referenced table "StatementTable"
[code]

[2017-09-18 08:29] lingyiliu016 commented on #987
I hope author can help me find the answer why the process cannot create StatementTable?

[2017-09-18 10:35] vkosuri commented on #985
I don't what steps you are trying to do. You could do weather example with 3 simple steps.

1. ``pip install --upgrade chatterbot``, Recommanded installation using [virtual environments](http://docs.python-guide.org/en/latest/dev/virtualenvs/)
2. create a new file using any text editor for e.g. weather.py, paste below code into that
[code]
3. Run your code, python weather.py, it will print current

[2017-09-19 09:28] jaysharp commented on #974
@Issen007 ：thank you. I don't use it together with Django

[2017-09-19 14:51] Super-Fly commented on #969
I have the same issue with Django -> `python manage.py train`
[code]

The error is in chatterbot/utils.py file on line 54, trying to get import_path but the structure is not like this

[2017-09-19 14:59] Issen007 commented on #974
@jaysharp in that case open the Database UI/CLi and either modify that line or delete that row in the database.

[2017-09-19 15:29] vkosuri commented on #969
Yes, It is reproducing I'll tag it as Bug

[2017-09-19 15:37] taiwotman commented on #987
In development, I would recommend using the default dbsqlite. In production, you can use heroku which does the deployment easily with PostgreSQL.

[2017-09-20 09:51] hawskpy opened #989 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe6 in position 0: ordinal not in range(128)"
Traceback (most recent call last):
  File "chatRobot.py", line 25, in <module>
    print(chatbot.get_response(str))
  File "/Library/Python/2.7/site-packages/chatterbot/chatterbot.py", line 104, in get_response
    input_statement = self.input.process_input_statement(input_item)
  File "/Library/Python/2.7/site-packages/chatterbot/input/input_adapter.py", line 22, in process_input_statement
    se

[2017-09-20 13:48] evgenibers opened #990 "export_example.py empty output file"
After running example "export_example.py" I got "my_export.json" in the same directory but it was empty. What could be wrong?

[2017-09-21 09:55] vkosuri commented on #989
@hawskpy did you added [Unicode header](http://chatterbot.readthedocs.io/en/stable/encoding.html#unicode-header) to your file?

[2017-09-21 09:59] vkosuri commented on #990
@evgenibers which version of chatterbot are you using? To know chatterbot version try ``python -m chatterbot --version``

I tried on my machine it is working fine.

[code]

[2017-09-21 14:24] evgenibers commented on #990
I am using 0.7.6 version.

[2017-09-21 14:28] evgenibers commented on #958
Same issue. @ken-talkingsource Have you figured out what is wrong?

[2017-09-22 06:31] rupinderkr186 opened #991 "Run ChatterBot code on windows 7 PC"
Hi,
I am new to python have just run the helloWorld example can you please provide me steps how can I use the code of chatterBot and run it on my windows 7 PC so as to see the demo of chatterBot and can analyze its feature. Actually I want to build my own custom bot which can respond to the user and can share the requested file by the user. I did some research and came forward with the chatterBot

[2017-09-22 11:42] vkosuri commented on #991
@rupinderkr186 Personally I feel Linux flavored machines are better for any chatbots applications. However chatterbot will work on windows exceptionally.

I think here are the steps that will help run a chatbot example.

1. [Install Python Win7](http://www.openbookproject.net/courses/webappdev/units/softwaredesign/resources/install_python_win7.html)
2. After that install chatterbot on to your mach

[2017-09-23 20:37] SherlocKOficial opened #992 "Session Id in Flask"
How do I integrate an external id using sessions in the flask?

Exemple:

@app.route("/msg/<string:msg>&id=<string:id>")
def get_raw_response():
    return str(portuguese_bot.get_response(query))

if __name__ == "__main__":
    app.run()

[2017-09-23 23:17] JoaoPedroToledo opened #993 "Test"

[2017-09-23 23:18] #993 closed

[2017-09-24 02:44] vkosuri commented on #992
I am not familiar with flask, I knew there is a repository which implemented on flask https://github.com/chamkank/flask-chatterbot this might help you

[2017-09-24 07:57] SherlocKOficial commented on #992
Thanks, but I need to know how to implement the system of individual sessions using flask

.Bad english :/

[2017-09-24 13:59] #991 closed

[2017-09-24 14:06] gunthercox commented on #971
Hi @vedantnarayan,

I have never tried this, but one possibility _might_ be Iron Python (http://ironpython.net/). I've never tried it but it might be worth experimenting with.

[2017-09-25 01:29] nggary opened #994 "Why using NLTK Naive Bayes Classifier used in Time logic adapter?"
[NLTK Naive Bayes Classifier](http://www.nltk.org/_modules/nltk/classify/naivebayes.html) only return 1 or 0 as confidence and it always return 1 wrongly when user input several characters(e.g abc),

https://github.com/gunthercox/ChatterBot/blob/a4a7b0287c3516975770d6f9ab1e5b8fa5572e1c/chatterbot/logic/time_adapter.py#L61

why don't you use compare_statements in best match adapter which return a p

[2017-09-25 03:55] ellenawoo opened #995 "Does Django filter work?"
Hi, does the repetitive response filter work in Django? The bot still returns the same response even though it has other trained responses for the same question.

In settings.py:
[code]

[2017-09-25 06:24] Issen007 commented on #987
@lingyiliu016 I had a similar issue for a wild ago with PostgreSQL and it shows up that was a grant issue in the PostgreSQL server.
Please verify that you user `u_chatterbot` have the correct authority to create a new table.

[2017-09-25 06:44] Issen007 commented on #970
@MayankGupta3090 if this is solve, can you please close this issue ticket.

[2017-09-25 20:33] taiwotman commented on #987
The good news is Adverto.ai implements this seamlessly with PostgreSQL. This I have done based on my previous answer.

[2017-09-26 09:16] Cosmos19 opened #997 "Throwing "Error float division by zero" while using jaccard_similarity statment comparison."
Code:

                       trainer='chatterbot.trainers.ChatterBotCorpusTrainer',
			statement_comparison_function=jaccard_similarity,
			database="chatterbot-database"

I have installed NLTK data and then i have changed to jaccard_similarity algo.

Please help me to solve this.

Thanks in advance.

[2017-09-26 10:20] riktimmondal opened #998 "Showing chatbot.train is callable for any of the scripts"
![screenshot from 2017-09-26 15-46-50](https://user-images.githubusercontent.com/24415468/30855370-595d973a-a2d2-11e7-98cc-b8849946b5a2.png)

[2017-09-26 11:50] vkosuri commented on #997
@Cosmos19 This is an expected behavior, those are only warning message, but it will not stop your bot

[code]

Did you bot program was terminated?

[2017-09-26 11:54] vkosuri commented on #998
@riktimmondal You could resolve you in two ways.

1. i think you cloned chatterbot repository from GitHub, then you could try like this ``pip install -r dev-requirements.txt`` and ``pip install -r requirements``

2. The other could be you need specify chattebot as your source repository, I don't how do that in Visaul Studio Code.

[2017-09-28 02:54] nanda248 opened #999 "How do I train specific bot from command line?"
I'm using ChatterBotCorpusTrainer as my trainer and i have lists of YAML files in my training_data. I can train all the bots using "python manage.py train".
But now I want to train specific bot from command line by passing the YAML file name and training_data will be chatterbot.corpus.english.[yamlFileName] and it will only train that specific bot. How can I do that?
Can I update training_data fro

[2017-09-28 04:40] vkosuri commented on #999
@nanda248 Yes, you could. Read this http://chatterbot.readthedocs.io/en/stable/training.html#specifying-corpus-scope documentation.

[2017-09-28 05:06] ken-talkingsource commented on #958
Reinstall from git fix the problem.

[code]

[2017-09-28 05:07] #958 closed

[2017-09-28 14:32] elcolie opened #1000 "How to POST to Chatterbot from Django REST?"
Hi I use very plain POST technique from the Postman App.
Django 1.11
python3.6.2

My `settings`

[code]

`GET` I got
[code]

`POST` I got
[code]
I prefer Django REST over html form.
How can I do that?

[2017-09-29 03:39] vkosuri commented on #1000
There are multiple ways to resolve this issue, I found this will be useful to resolve your issue  https://stackoverflow.com/questions/10388033/csrf-verification-failed-request-aborted

[2017-09-29 03:53] elcolie commented on #1000
Thank you. `FBV` would be the last choice I use, but you're right it has multiple ways to go.
For now I would not touch the REST. And follow this https://github.com/gunthercox/ChatterBot/tree/master/examples/django_app

[2017-09-29 03:53] #1000 closed

[2017-09-29 07:04] jays1 opened #1002 "Error on running python manage.py runserver 0.0.0.0:8000"
I am getting the below mentioned error when running the server. Has anybody experienced it ?

Python 3.6.1 :: Anaconda 4.4.0 (64-bit)
Django 2.1.dev20170928183954
chatterbot 0.7.6

on running >>>>>>
C:\Users\JS\scrapy\ChatterBot\examples\django_app>python manage.py runserver 0.0.0.0:8000

Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x000001C67A937510>
Traceb

[2017-09-29 08:33] jays1 opened #1003 "Are multiple user sessions supported in ChatterBot ?"
Is there any way in ChatterBot to distinguish between users ? Suppose, there are two users A and B. I wanted some way to know user A has requested a response to ChatterBot. So, that when A comes back I know which questions he had asked before.

Is there any way to do this ?

Thanks,
Jay

[2017-09-29 11:06] #975 closed

[2017-09-29 11:14] gunthercox commented on #930
I'm going to close this ticket off because it hasn't been reported again. I'm assuming it could have possibly been a temporary error on the side of the servers hosting NLTK's data.

[2017-09-29 11:14] #930 closed

[2017-09-29 11:16] #985 closed

[2017-09-29 11:30] gunthercox commented on #476
@Issen007 Minimal changes have been made so far to facilitate feedback learning in ChatterBot. I agree this would be an awesome feature.

[2017-09-29 11:36] gunthercox commented on #994
The Naive Bayes Classifier was chosen because it provides a fairly simple and efficient way to achieve text classification. Since the classification is feature based, it can determine what features are important based on the examples provided.

Text classification was chosen because it seemed like the best solution to solve the problem of determining if the input text was time-related. Text compar

[2017-09-29 11:38] gunthercox commented on #997
I'm going to mark this as a bug. Realistically the calculation should be set up so that it doesn't raise an exception.

[2017-09-29 11:40] vkosuri commented on #1003
@jays1 Yes, Recently we updated ``session`` with ``conversation``. I hope this example will give some idea on user create user conversations.

[code]

[2017-09-29 12:47] jays1 commented on #1003
Thanks for the info.

[2017-09-29 12:47] #1003 closed

[2017-09-29 12:51] rdt712 commented on #902
Has this issue been fixed? I am also getting this issue.

[2017-09-29 13:07] vkosuri commented on #902
@rdt712 No idea, where were this, Might @Issen007 know about this?

[2017-09-29 13:42] ayushecps opened #1005 "Switching between different DB SQLite files"
How can we switch between 1 or more DB SQLite files based on the user input, so that CHATBOT replies specific to that module that user asked.

[2017-09-29 15:10] rdt712 commented on #902
In order to get around this, I am just setting the read_only flag to true. I don't particularly care that the chatbot learns from my users and the current way produces weird results. @vkosuri

[2017-09-29 20:27] kishore-devaraj commented on #1005
You can create two instance of chatbot, each having different botname and a database name. Whenever the user enters the input you can switch between by calling the name of the bot.

[2017-09-30 05:01] chasingML commented on #925
@vkosuri hi,bro. you are really great. I am caught in problem with efficiency, even i use mongodb to be storage adapter, the response is still too slow. I found you are very active. So can you share some experience of improving efficiency or using methods. thank u very much!!!

[2017-09-30 08:43] chasingML commented on #908
@laonan hello, have u solved the problem of efficiency. I meet the same problem

[2017-09-30 09:47] laonan commented on #908
not yet, if u have any good news, would pls let me know? thx.

[2017-09-30 19:14] gunthercox commented on #1002
Hi @jays1, I believe you are running Django 2.0 (which is currently in an alpha release state). ChatterBot doesn't support Django 2.0 yet.

To fix this problem you can install the latest current version of Django.

[code]

[2017-09-30 19:17] gunthercox commented on #1002
I'm fairly certain I know the cause of this error and I will be making a changes in the near future to support Django 2.0

[2017-10-01 12:44] gunthercox commented on #1005
@ayushecps This is definitely feasible to do with ChatterBot, however it isn't a feature that exists right now.

I think the only challenge you might face is regarding how to determine which database to switch to for a particular input. Do you have any ideas for how you might achieve this (or at least theoretically how yo would *like* it to work)?

[2017-10-01 12:48] gunthercox commented on #970
I'm going to close this ticket off due to lack of activity.

[2017-10-01 12:48] #970 closed

[2017-10-01 12:52] #983 closed

[2017-10-01 12:53] #900 closed

[2017-10-01 12:55] gunthercox commented on #979
@nikhilv-quantela You are correct, each bot only needs to be trained once.

[2017-10-01 12:55] #979 closed

[2017-10-01 13:05] gunthercox commented on #986
@spongejj Yes, you can train a chat bot using multiple trainers. To do this you will have to consecutively change the training setting for each of the different ones you want to use.

[2017-10-01 13:07] gunthercox commented on #981
@ayushecps What type of database are you using? There are a number of excellent database debugging tools out there, many of them support the functionality that you are describing.

[2017-10-01 13:08] #982 closed

[2017-10-01 13:09] gunthercox commented on #951
I'm closing this off because I _believe_ this was answered? @zhouzebiao feel free to reopen this if you have any further questions on this issue.

[2017-10-01 13:09] #951 closed

[2017-10-01 13:10] #978 closed

[2017-10-01 13:11] #977 closed

[2017-10-01 13:13] #963 closed

[2017-10-01 13:14] #964 closed

[2017-10-01 13:17] gunthercox commented on #955
@elcolie To achieve this you are likely going to need to write your own logic adapter for your chat bot. Let me know if I can provide any guidance on how to do this. There is information in the documentation as well.

[2017-10-01 13:19] #954 closed

[2017-10-01 13:24] gunthercox opened #1006 "Training should use the chat bot's preprocessors"
Currently, when a chat bot is trained, the dialog is saved directly to the database. This needs to be changed so that the training data can be cleaned and tagged by the chat bot's preprocessors.

***

Related to https://github.com/gunthercox/ChatterBot/issues/954#issuecomment-324920752

[2017-10-01 13:27] #953 closed

[2017-10-01 13:29] #950 closed

[2017-10-01 14:40] elcolie commented on #955
@gunthercox  Thank you very much for keyword `logic adapter`. Let me study it for a while and I will come back to you.

[2017-10-01 14:40] #955 closed

[2017-10-01 21:02] jays1 commented on #1002
Thanks for your input. Is there any recommended version of Django that I should be using ? I tried installing 1.9 and getting a different error (HTMLParseError) on starting the server.

[2017-10-01 21:22] jays1 commented on #1002
Thanks it worked with Django 1.11.5

[2017-10-01 21:22] #1002 closed

[2017-10-02 06:20] Issen007 commented on #902
@rdt712 if the read_only flag works for you.
But if you implement the "workaround" from the 18th of Aug, then it works.

[2017-10-02 06:20] Issen007 commented on #902
@vkosuri sorry to say that your idea to solve it didn't work. But again I haven't got time to look in to this because of other works that need to be done before.

[2017-10-02 06:25] Issen007 commented on #476
@gunthercox I will see if I can add this to my todo list. Because this will be a key function on our chatbot that I try to develop for our inhouse project.
I have way to less resources to train the chatbot so I really need external resources to vote if the answer was correct or not.

[2017-10-02 13:44] Issen007 commented on #1005
@ayushecps way do you want multiple databases in this case?
Are you trying to feed the chatterbot from a BigData datalake environment? Or do you have multiple Knowledge databases you want to use?

[2017-10-02 13:52] Issen007 commented on #999
@nanda248 you can also read the short documentation on following link
[https://github.com/gunthercox/chatterbot-corpus/blob/master/readme.md#install-your-training-corpus-data-to-django](https://github.com/gunthercox/chatterbot-corpus/blob/master/readme.md#install-your-training-corpus-data-to-django)

[2017-10-02 13:56] CruelAlpha opened #1007 "I'm not sure what im doing :("
Hey Guys!
Sorry, however im not sure what im doing, i learnt about tensorflow and deep learning, and im quite interested in learning.
I'm having trouble starting the bot up in general, could someone show me how i can start up the bot?
Thanks!

[2017-10-02 18:50] Issen007 commented on #1007
@CruelAlpha what do you want?
Do you want to run it from a Python CLI or via a Web Interface?

[2017-10-02 18:58] vkosuri commented on #1007
@CruelAlpha Sure

Let me clarify few things Chatterbot is independent of [Tensorflow ](https://www.tensorflow.org/) and [Deep Learning ](https://en.wikipedia.org/wiki/Deep_learning).

I will give a birdeye view of chatterbot,

1. Did you [installed ](http://chatterbot.readthedocs.io/en/stable/setup.html#installation) chaterbot? If not please do so.
2. Second major import thing is, understanding of

[2017-10-02 19:02] Issen007 commented on #995
Is this a copy of #902 ?

[2017-10-02 20:44] Issen007 opened #1008 "Question: Create a Django RestAPI"
Hi,
Just want to check if anyone have try and successfully created a Django RestAPI that takes to a centralized chatterbot?
If yes, is it possible for you to share that knowledge?
If you have any other ideas, please feel free to comment.

@gunthercox @vkosuri you guys maybe have ideas?

[2017-10-02 20:45] Issen007 commented on #1008
If no one have done it I will continue my milestone project for this and I hope to have this done end of the year.

[2017-10-03 03:09] CruelAlpha opened #1009 "Discord Integration?"
Is it possible to have [discord integration](https://discordapp.com/) added in as an example?
Just a suggestion!
Thanks

[2017-10-03 06:24] vkosuri commented on #1009
@CruelAlpha Yes, it is possible by looking this API https://discordapp.com/developers/docs/reference

@gunthercox Master,Future update https://github.com/gunthercox/ChatterBot/issues/528

And suggestions: https://github.com/gunthercox/ChatterBot/pull/770#issuecomment-312465339

[2017-10-03 06:31] vkosuri commented on #1008
@issen007 I think this what your are looking https://stackoverflow.com/a/40904241/358458

And i am trying to implement same thing here https://github.com/vkosuri/django-apiai , If anything i achieved i will share with you.

[2017-10-03 06:33] vkosuri commented on #1008
Another thing i found here https://github.com/gunthercox/django-rest-requirements

[2017-10-03 08:21] nanda248 commented on #999
Thanks, I have solved this issue. But not in the way i wanted it. But I created a function call inside my code which can be used to train specific bot. I'm using Django Integration with chatterbot and I use REST API call to that particular function to train the specific bot.

[2017-10-03 08:21] #999 closed

[2017-10-03 12:03] ellenawoo commented on #1008
I am very keen to know how to implement chatterbot Django REST API as backend and communicate with a front end client in JSON as well.

[2017-10-03 12:08] gunthercox commented on #1008
@Issen007 The Django example included in this repo is API based and uses a single chat bot. Is there anything missing from this example that doesn't meet what you are looking for?

[2017-10-03 12:10] ellenawoo commented on #995
@Issen007 for example in the corpus training YML file,
- - tell me a joke
  - joke 1
  - joke 2
  - joke 3

How do i make it such that the response isn't always the same?

[2017-10-03 12:17] gunthercox commented on #995
@ellenawoo If the response you want to return is purely random, you could set the chat bot's `response_selection` parameter so that it uses the random response selection method.

http://chatterbot.readthedocs.io/en/stable/logic/response_selection.html#chatterbot.response_selection.get_random_response

[2017-10-03 16:03] rdt712 opened #1011 "Integrating MongoDB with Chatterbot Django Example"
Is there a working example of integrating MongoDB with the Chatterbot Django example? I am having issues. I have tried using the MongoDB Engine and Django-NoRel and was successful to a point, but I am unable to get the admin page working. Can someone provide an example or offer some advice regarding getting the admin page to work with MongoDB?

Thanks!

[2017-10-03 19:52] Issen007 commented on #1008
@gunthercox maybe now, but what I'm looking for at the moment is to split the chatterbot.
So I got a Client Chatterbot where we do all the presentation and Q&A functions and the ChatterBot Server where we do all background job and give back the responds from the statement that the client have done.

So in that case I can then build a multiple client network that take to the same backend that is in

[2017-10-04 02:25] chasingML commented on #908
@laonan I have read the doc and asked the author. There is no good approach to efficiency and the author is working on it. The later version will get some changes and I may do some preprocessing before training to improve retrieve speed of response

[2017-10-04 05:30] jays1 opened #1012 "Issue on training Django example"
Django out of the box example works fine and I was able to chat through UI. I have two questions.

1. On adding logic adapters in settings.py file
CHATTERBOT = {
    'name': 'Django ChatterBot Example',
	'logic_adapters': [
            'chatterbot.logic.BestMatch' # this works
            'import_path': 'chatterbot.logic.BestMatch'    #this does not work
    ],
    'trainer': 'chatterbot.trainers.

[2017-10-04 13:20] umaash opened #1013 "cassandra storage adapter"
We would like to build a Cassandra storage adapter for  ChatterBot. We already went through the documentation on creating new adapter but couldn't figure out much.
So, could anyone guide us on the building the  adapter.

[2017-10-04 13:21] shre81 opened #1014 "django.core.exceptions.ValidationError: ['The attribute "text" is required.'] on Microsoft Bot Emulator"
Hello,

I tried connecting the Chatterbot Django app as an endpoint within the Bot Emulator. I was able to get it running but at the first instance of the connection, I encounter this error

[code]

I have run the necessary migrations. FWIW, this is the line I'm running at the terminal:

[code]

and below is the error trace. Can anyone please help me understand what I'm doing wrong?

[code]

[2017-10-04 14:42] ayushecps commented on #1005
@gunthercox The major problem I am facing is like how can we catch the user input and modify the input then display the output as per the modified input. Please help.

[2017-10-04 15:01] ayushecps opened #1015 "Return google map in Chat window"
How can we get a google map of a location entered by user in chat window ?
Please help me with code I am a beginner.

Also I want to know is like how can we catch the user input and modify the input then display the output as per the modified input. Please help.

[2017-10-04 15:20] vkosuri commented on #1005
I think this what you are looking  http://chatterbot.readthedocs.io/en/stable/preprocessors.html

[2017-10-05 09:12] vkosuri commented on #1015
@ayushecps

Google has it's own [REST API](https://developers.google.com/maps/documentation/geolocation/intro) to access google maps.

I found google python repo https://github.com/googlemaps/google-maps-services-python, which will be useful and a example

[code]

Using pre processor http://chatterbot.readthedocs.io/en/stable/preprocessors.html and pre processor function http://chatterbot.readthed

[2017-10-05 09:24] vkosuri commented on #1014
@shre81 Are you getting this error message after starting Django server or when you submit input to on the web form?

Usually the user input will make as an JSON object for example
[code]
https://github.com/gunthercox/ChatterBot/blob/857a83fe3d7ef341907b7aee5893f47a75a1e355/examples/django_app/example_app/templates/app.html#L84

After it will make POST request to Django server, it validates here
h

[2017-10-05 10:08] vkosuri commented on #1013
@umaash Sure.

For your request, you need write up new storage adapter.

1. Install python[ cassandra driver](https://github.com/datastax/python-driver) on your machine.
2. Extend [Cassandra Storage](https://docs.datastax.com/en/cassandra/2.1/cassandra/dml/manage_dml_intro_c.html) class with base class [StorageAdapter](http://chatterbot.readthedocs.io/en/stable/_modules/chatterbot/storage/storage_

[2017-10-05 10:19] vkosuri commented on #1011
@rdt712 Currently there is no working example, I will tag this is an future request. I found some references on Djanog mongo db https://github.com/django-nonrel/mongodb-engine

[2017-10-05 11:07] shre81 commented on #1014
@vkosuri This happens on startup. I noticed that when I send a message on the emulator, I get no response back (but I get a response back on the web form).

Is there some Microsoft emulator specific changes I need to make in the example to make it work?

[2017-10-05 15:05] kokenjr commented on #995
@gunthercox I'm running into the same issue. Perhaps i'm not understanding the true intent of the RepetitiveResponseFilter.

The following is what currently occurs with the filter enabled:
[code]

My expectation:
[code]

[2017-10-05 16:12] nggary commented on #994
thanks for the answer

[2017-10-05 17:33] taiwotman opened #1016 "Mathematical_evaluation adapter fails for words (to numbers) greater than unit digits"
Using the chatterbot Mathematical_evaluation with say:

`Five - 6
`

gives:

`(5-6) = -1`

But it fails to compute correctly:
`sixty-six - 6`
Or any word conversion to a number with a value greater than 10 or unit digit.

Hence words form of 31  to 39, 41 to 49, 51-59 etc all fail the test.

[2017-10-06 11:30] gunthercox commented on #1008
@Issen007 Understood. I agree this would be useful and I have a similar need for one of my projects. I've been thinking about adding something like this for a while.

[2017-10-06 11:33] gunthercox commented on #1016
Is the hyphen throwing it off? I think `sixty six - 6` might work. I'll still mark this as a bug because either way this is a case that should be handled.

[2017-10-06 12:14] gunthercox commented on #946
@neutralboy I'm going to close this ticket off due to inactivity. Feel free to reopen it if you are still encountering an issue.

[2017-10-06 12:14] #946 closed

[2017-10-06 12:21] gunthercox commented on #1005
@ayushecps Another option you could try is to create your own logic adapter. Within it you could handle the users input and return the exact response you want. There is an example in the documentation http://chatterbot.readthedocs.io/en/latest/logic/create-a-logic-adapter.html#example-logic-adapter

[2017-10-06 12:24] gunthercox commented on #995
@ellenawoo @kokenjr I'll have to look into this further. It's possible that the filter is getting skipped.

[2017-10-06 13:13] taiwotman commented on #1016
Two observations:
1. Absolutely, the hyphen is throwing it off.
2. Without the hyphen from `ninety one` upward does not seems to conform to the math rule.

[2017-10-07 01:29] naturesphere commented on #977
thanks

[2017-10-07 01:32] vkosuri commented on #528
@gunthercox Master, I have created a repo https://github.com/vkosuri/chatterbot-io-adapters to address this issue, if it looks to good, I will make PR to remove io adapter from chatterbot.

[2017-10-07 13:19] gunthercox commented on #528
@vkosuri Please don't make that change yet unless doing so is absolutely necessary. I'd like to minimize the number of changes that occur in the next release (0.8) and as far as I am aware removing support for IO adapters is fairly low priority.

[2017-10-08 02:41] vkosuri commented on #528
@gunthercox Thank you master, Meanwhile Can add these Slack #682, Facebook #917, Discord #1009 to that package https://github.com/vkosuri/chatterbot-io-adapters, is that ok?

[2017-10-08 11:59] gunthercox commented on #528
If the io adapters for those tickets get created, then yes, feel free to close their corresponding tickets off. Even if ChatterBot drops support for IO adapters there will still be a migration plan to so that some of their code can be re-used.

[2017-10-08 15:58] #1007 closed

[2017-10-08 17:35] #1015 closed

[2017-10-08 17:37] #986 closed

[2017-10-08 17:42] gunthercox commented on #998
@riktimmondal I don't think this is anything I can fix. The code linting tool in Visual Studio is having trouble detecting that the `train` method is callable because it is a property that returns a callable.

I'm going to close this ticket off because there isn't an actionable change that I'm aware of that I can do to fix this.

[2017-10-08 17:42] #998 closed

[2017-10-09 10:55] elkhawajah opened #1019 "CMS or Portal"
Hi,

Is there a cms interface for this project to train the bot?

If not, does it have an api that support building a portal for that?

Thanks!

[2017-10-09 11:28] vkosuri commented on #1019
@elkhawajah Did you mean Content management System https://en.wikipedia.org/wiki/Content_management_system

[2017-10-09 11:44] elkhawajah commented on #1019
I meant like wi.ai where u can interface to train chatbot on responses.
Define actions/intent.

So I can bring normal person and train the bot through this cms or whatever
it should be called.

Makes sense ?

On Mon, Oct 9, 2017 at 3:28 PM Mallikarjunarao Kosuri <
notifications@github.com> wrote:

[2017-10-09 14:58] chasingML commented on #164
@martmists hi, bro, have u solved the efficiency of bot's training and testing ?can u share some thoughts about improving efficiency ? tks

[2017-10-09 15:00] chasingML commented on #897
@yeshoujquery hi,bro, have u solved the problem of efficiency?

[2017-10-09 15:10] chasingML commented on #839
@narnikgamarnikus @sal48  hi,bros, have u solved the problem of efficiency? my bot used only about 3M data with mongodb and response time about 41s , it is really too slow. can u share some experience about improving efficiency?

[2017-10-09 15:12] Pythonbotty opened #1020 "Run into an error when typing chinese"
Does anybody else run into the following error when trying to type chinese character into the chatbot?

sqlalchemy.exc.ProgrammingError: (sqlite3.ProgrammingError) You must not use 8-bit bytestrings unless you use a text_factory that can interpret 8-bit bytestrings (like text_factory = str). It is highly recommended that you instead just switch your application to Unicode strings. [SQL: u'SELECT s

[2017-10-10 00:24] martmists commented on #164
One thing to note is to NOT use the default JSON storage. It's slow due to constant I/O, it's relatively unoptimized and uses the stdlib JSON module. I recommend writing your own or trying to find one online.

[2017-10-10 01:29] chasingML commented on #164
@martmists I have used mongodb as the storage adapter. However it is still very slowly for response about 7w data taking 41 seconds. I am working on finding other ways to improving efficiency. How about u?

[2017-10-10 01:55] yeshoujquery commented on #897
@chasingML The project has been abandoned

[2017-10-10 03:27] gunthercox commented on #1019
@elkhawajah I have plans to start a separate project that might be close to what you are looking for. Nothing that fits that description currently exists (at least that I'm aware of). What kind of "normal people" are you looking to target? If they are developers then the new project (eventually) might be close to a CRM / Portal for the chat bot's dialog data.

[2017-10-10 03:32] gunthercox commented on #1020
@Pythonbotty I haven't hit this error before but it sounds like a possible error with the Sqlite storage. I'll see what I can do to recreate this error and correct it.

[2017-10-10 03:46] elkhawajah commented on #1019
I plan to build one that close to wit.ai initially. Eventually we want any
person to use it, not only engineers/developers.

On Tue, Oct 10, 2017 at 7:28 AM Gunther Cox <notifications@github.com>
wrote:

[2017-10-10 04:45] chasingML commented on #679
@yeshoujquery hi. u used  373753 data with mongodb  time-consuming 89ms? right? I want to know how to make it ? I used 7w data with mongodb  time-consuming 41s for response, it's really too slow? I do not clear what's wrong with my codes? tks a lot!!!

[2017-10-10 09:50] #971 closed

[2017-10-10 09:52] #936 closed

[2017-10-10 09:54] gunthercox commented on #935
I'm going to close this off as a duplicate of #476. @Issen007 Feel free to let me know if you believe there is any components of this that occur outside the scope of feedback learning.

[2017-10-10 09:54] #935 closed

[2017-10-10 09:55] #928 closed

[2017-10-10 09:58] #922 closed

[2017-10-10 10:00] #832 closed

[2017-10-10 10:02] gunthercox commented on #811
I'm going to close this issue off. It should be resolved at least on the master branch on GitHub and following the next release to PyPi.

[2017-10-10 10:02] #811 closed

[2017-10-10 10:06] #572 closed

[2017-10-10 15:10] Pythonbotty commented on #1020
Thanks Gunther. These are my codes if it helps in any way. I just have to type a chinese character into it and the error will show up.

bot = ChatBot ("Charlie",trainer="chatterbot.trainers.ListTrainer", logic_adapters=[{
    "import_path":"chatterbot.logic.BestMatch",
    "statement_comparison_function":"chatterbot.comparisons.levenshtein_distance"}],response_selection_method=get_random_response,

[2017-10-10 15:11] Pythonbotty commented on #1020
These are my last 2 lines of errors.

File "C:\Users\USER\Anaconda\Lib\site-packages\sqlalchemy\engine\base.py", line 1182, in _execute_context
    context)
  File "C:\Users\USER\Anaconda\Lib\site-packages\sqlalchemy\engine\default.py", line 470, in do_execute
    cursor.execute(statement, parameters)

[2017-10-11 00:49] gunthercox commented on #989
@hawskpy I believe @vkosuri's diagnosis might have been correct. I'm going to close this ticket off since we haven't heard a reply from you.

[2017-10-11 00:49] #989 closed

[2017-10-11 01:17] gunthercox commented on #528
@pylobot Currently there is no planned release date for this change. Removing support for IO adapters is **very** low priority.

[2017-10-11 03:14] chasingML commented on #897
@yeshoujquery hi. u used 373753 data with mongodb time-consuming 89ms? right? I want to know how to make it ? I used 7w data with mongodb time-consuming 41s for response, it's really too slow? I do not clear what's wrong with my codes? tks a lot!!!

[2017-10-11 05:44] vkosuri commented on #918
yes i think so, @hochochoc please feel free reopen if you have further updates

[2017-10-11 05:44] #918 closed

[2017-10-11 09:17] Cosmos19 opened #1022 "Is it possible to deploy this chatterbot in Skype channel.?"
Hello,

Currently am running chatterbot application through web interface. Now am interested to run this with Skype.

I have checked Skype4Py library. its not working and also currently the development has stopped.

Thanks in advance.!

[2017-10-11 09:23] Cosmos19 commented on #997
@vkosuri  My Bot is not terminated but somtime it takes time to respond when this message shows.

@gunthercox  Thanks. !

[2017-10-11 11:39] gunthercox commented on #1022
@Cosmos19 At this point Microsoft has made changes so that access to skype is available through the Microsoft Bot Framework https://dev.skype.com/bots

[2017-10-11 22:26] phpmind commented on #839
Did anyone use elastic search? ElasticSearch is really fast for searching text?  It happens because everything comes from RAM.

[2017-10-11 23:04] phpmind opened #1023 "New page for use cases and Example demo."
Hi Gunther,
Is it possible to create a page for users to allow Demo URLs and a bit explanation how their bot works etc?
This way other users can experience performance and get motivation and can follow that path.
For us, some use cases and some implementation.

Thanks

[2017-10-12 10:48] gunthercox commented on #1023
@phpmind Would something like this be close to what you are looking for?

https://github.com/gunthercox/ChatterBot/wiki/ChatterBot-Showcase

[2017-10-12 17:15] phpmind commented on #1023
Thanks, Gunther,
I know this page but people can not post their working demo  URLs for other people to see and experience.
This page is very useful.

[2017-10-12 17:21] phpmind commented on #575
vusdo - Please share your experience of elastic search implementation.

[2017-10-12 18:06] vkosuri commented on #1023
@phpmind I think these items also be a part of show case

1. Heroku Deployment https://github.com/vkosuri/chatterbot-live-example
2. Flask Deployment https://github.com/chamkank/flask-chatterbot
3. Integration or IO Adapter
i. [Gitter](http://chatterbot.readthedocs.io/en/stable/input/index.html#gitter-input-adapter)
ii. [Hipchat](http://chatterbot.readthedocs.io/en/stable/input/index.html#id1)
iii

[2017-10-12 18:17] phpmind commented on #1023
Thanks, vkosuri.
Do you know if any of these are using elastic search as storage engine?

[2017-10-12 18:22] phpmind commented on #1023
I just want to experience a production-grade heavy data-oriented chatbot with great performance.
vkosuri - Can you guide me how to utilize this chatbot engine for other different languages. Tamil, Hindi, Spanish etc.

I want to allow local people to chat in their own language, not just English also on a particular topic like heath, local-regional disease etc.

[2017-10-12 18:45] vkosuri commented on #1023
I don't know much about elastic search

Yes, chatterbot will able to do this, but you have train the bot in accurate way. If possible i will try to make any example ASAP

After this implementation of chatterbot news letter https://github.com/gunthercox/ChatterBot/issues/952 will provide more usecases/exposure

[2017-10-12 18:54] phpmind commented on #1023
Thanks, vkosuri.

Do you know any good large data source for training in hindi or tamil?

[2017-10-12 18:57] phpmind commented on #952
Gunther - That is really great idea.

[2017-10-13 01:06] nanda248 opened #1024 "How do I change file location of Chatterbot_corpus data?"
Hi, I have developed my own UI for creating Q&A for chatterbot_corpus data. I can test chatterbot responses also. They are working fine.
Now when i create Q&A from my project, the YAML files will be stored in location "C:/Python27/Lib/site-packages/chatterbot_corpus/data/english/". For the simplicity of my project, I want to move it into my project folder so that I don't have to use absolute path,

[2017-10-13 06:32] SharkBaby opened #1025 "How to use mongodb as the backend for chatterbot"
Hi Team,

I have tried to use pymongo3.5.1 or  mongoengine0.9.0, but I always got below issue after I change the code in settings.py
[code]
I have searched for some solutions , but it still donot work, and I always got below error.
[code]

Can some one who could tell us how we can use mongodb as the backend for chatterbot , thanks so much.

[2017-10-13 08:18] rajasimon commented on #962
Chat-Forms method seems promissing. I believe Google DataFlow and IBM watson and even Amazon Lex follow this. Is early prototype I can follow ?

[2017-10-13 17:37] vkosuri commented on #1025
@SharkBaby The message it self suggesting you DB is improperly configured, please try to use a valid DB configuration which is working on your machine.

After configuration still it fails, post your stack trace, we will try to help you.

[2017-10-13 17:39] vkosuri commented on #1024
@nanda248 Yes, you could, Read this [documentation ](http://chatterbot.readthedocs.io/en/stable/training.html#specifying-corpus-scope) will guide you how to configure.

[code]

[2017-10-13 17:45] vkosuri commented on #1023
I think this information will help you

http://ml-india.org/datasets/
http://lipitk.sourceforge.net/hpl-datasets.htm
http://www.cfilt.iitb.ac.in/Downloads.html
http://tdil.mit.gov.in/

[2017-10-14 08:31] kumsantosh opened #1026 "ImportError: No module named 'chatterbot'"
Installed chatterbot, getting below error when executed basic_example.py, this error was not there in previous versions.

ImportError: No module named 'chatterbot'

[2017-10-14 08:41] #1026 closed

[2017-10-14 14:53] vkosuri commented on #1026
@kumsantosh Did your problem was resolved?

[2017-10-15 00:43] taiwotman opened #1027 "Mathematical_evaluation adapter division returning integer value instead of double."
The mathematical_evaluation adapter division returning integer value instead of double such that

` 4/6 = 0`

[2017-10-16 02:40] tisuchi opened #1028 "Operation not permitted Issue"
Hi,

I am trying to integrate chatterbot with django. However, it shows me following error after implementing ```pip install django chatterbot``` on terminal.

[code]

Any solution for that?

[2017-10-16 03:35] SharkBaby commented on #1025
@vkosuri , you can below the settings for the mongodb in mongo.py file
![image](https://user-images.githubusercontent.com/18545909/31594155-e21c7dc8-b265-11e7-8831-b8c93c609952.png)
self.database_name = self.kwargs.get(
            'database', 'chatterbot-database'
        )
        self.database_uri = self.kwargs.get(
            'database_uri', 'mongodb://localhost:27017/'
        )
and I create

[2017-10-16 12:45] jamilaMila opened #1029 "simple chatbot"

[2017-10-16 15:48] kokenjr commented on #289
@narvind2003 Do you have an example of this custom comparison method? I'd like to implement it as well.

[2017-10-16 16:33] narvind2003 commented on #289
@kokenjr : I'm still working on publishing my code...some more testing to be done.

But a combination of levenshtein (for typos and word swaps) and WMD using gensim library (for semantic relationships) seems to work best. But the challenge is getting the comparisons done reasonably fast.

Please take a look at wmd_distance in gensim library using gloVe or fasstext embedings. I'll share updates soo

[2017-10-17 03:37] tisuchi commented on #1028
Guys, I found a solution for that. If you same issue, you may follow this-

To address my issue, I use-

[code]

[2017-10-17 03:37] #1028 closed

[2017-10-17 06:01] vkosuri commented on #1029
@jamilaMila here are some detailed example can be found in [examples ](https://github.com/gunthercox/ChatterBot/tree/master/examples) directory

A simple example

[code]

[2017-10-17 06:06] vkosuri commented on #1028
@tisuchi glad, you figured out.

[2017-10-18 11:51] adryr83 opened #1030 "deploy on Heroku"
Hi,
I created my first Telegram chatbot and I deployed it on Heroku.

It doesn't work. My program has these files:
[code]
The logs are:

[code]

In Procfile I wrote:
[code]

In magghybot.py file the code is:
[code]
In Magghy.py, I wrote:
[code]

What is the problem? Please help me!

Thanks a lot!

Adri

[2017-10-18 12:17] Issen007 commented on #1022
@Cosmos19 if you start working on anything, I'm more then interesting to watch what you have completed. This could be really fun hobby project

[2017-10-19 03:48] vkosuri commented on #1030
@adryr83 It is very difficulty to me find root cause of the above code,

Couple of questions
Did your bot working on locally?
Do you have heroku logs?

And also see error code of heroku https://devcenter.heroku.com/articles/error-codes, to familiar what exactly is happening

A chatterbot heoku example located here https://github.com/vkosuri/chatterbot-live-example

[2017-10-19 08:28] adryr83 commented on #1030
Hi @vkosuri,
my bot works perfectly on locally.
I have this Heroku logs:

`2017-10-19T08:16:11.000000+00:00 app[api]: Build succeeded
2017-10-19T08:16:44.658372+00:00 heroku[worker.1]: State changed from crashed to starting
2017-10-19T08:16:50.967642+00:00 heroku[worker.1]: Starting process with command `python Magghy.py`
2017-10-19T08:16:51.590782+00:00 heroku[worker.1]: State changed from starti

[2017-10-19 09:36] Tracy6465 opened #1032 "I can not import settings in python3.5"
I try the doc demo,but there is a problem that i can't import settings module

from settings import GITTER
ImportError: No module named 'settings'

[2017-10-19 15:33] chasingML opened #1033 "how to do multiple concurrent conversations？"
the codes are following about multiple concurrent：
CONVERSATION_ID = bott.storage.create_conversation()
response = bot.get_response(statement, CONVERSATION_ID)
Is this right？

[2017-10-19 15:59] taiwotman commented on #1030
Configuration on Heroku is not a straight line graph. It took me a while to set it up with adverto.ai vis-a-vis using this wonderful chatterbot API.
Unless I can sit with you on this; but for now, let me hint you on the following to avoid a recurrent crash of your program on Heroku (hope it helps).

1.

Create the Settings_dev/py separate from the Setting_prod.py and switch either one to Settings

[2017-10-19 18:34] rdt712 opened #1034 "How can you change the threshold for the Jaccard Similarity logic adapter?"
How can you change the threshold for the Jaccard Similarity logic adapter? Looking at the code, it seems it is hard coded at 0.50.

[2017-10-20 02:17] vkosuri commented on #1032
It seems to me those are unused import, you could remove and try?

[2017-10-20 02:27] vkosuri commented on #1034
@rdt712 you could try like this, after the bot initialization

[code]

[2017-10-20 02:28] vkosuri commented on #1033
@chasingML yes

[2017-10-20 05:43] nikhilv-quantela opened #1035 "Web API or http framework I/O"
I have created my chatbot with custom corpus and services for use, but I am in need for some pointers on how to get my chatbot input output via a web API or http client, as the development phase was done on Terminal I/O adapters.
I am exploring Falcon Framework currently.
Any aid or direction for it or some better method would be greatly helpful.

Thanks

[2017-10-20 07:08] vkosuri commented on #1035
@nikhilv-quantela I am not familiar with [Falcon Framework](https://falconframework.org/), but there are some project that exposes rest endpoints

1. Django integration http://chatterbot.readthedocs.io/en/stable/django/index.html
2. Flask chatterbot https://github.com/chamkank/flask-chatterbot

[2017-10-20 07:18] nikhilv-quantela commented on #1035
thanks a lot

On Fri, Oct 20, 2017 at 12:38 PM, Mallikarjunarao Kosuri <
notifications@github.com> wrote:

--
Nikhil Vashishtha
Trainee Data Scientist
Quantela Inc.
Bengaluru

+91-7477858588

[2017-10-20 10:54] calmzealA commented on #908
Corps with 10000 lines data, use mongodb,
trainning once is acceptable.
But getresponse more than 2 second.

BestMatch get all 10000 lines and compute confidence each

[2017-10-20 15:38] rdt712 commented on #1034
In Django I don't see how that would be possible?

[2017-10-20 22:57] vkosuri commented on #1034
Using low confidence adapter http://chatterbot.readthedocs.io/en/stable/logic/index.html#low-confidence-response-adapter

[2017-10-23 12:20] rdt712 commented on #1034
@vkosuri I have that, but that doesn't affect the Jaccard Similarity Threshold. I'm looking at this:
![image](https://user-images.githubusercontent.com/13369991/31888618-d618ae56-b7ca-11e7-8efa-6974538f11bf.png). It is the threshold that is in the comparison function itself. There is no way to directly set it in the Django settings.

[2017-10-23 16:07] vkosuri commented on #1034
@rdt712 Thanks, I think this is a possible bug, i will tag it as Bug.

[2017-10-23 17:41] sharma-ji opened #1036 "Custom Script?"
Can we integrate custom scripts for specific replies to chatbot? For e.g. when the user say "Find hotels in NY" then the chatbot loads another python script to execute this task.
If we don't have this option then how will the chatbot respond to the above query? Or specifically hw it will execute a particular task ??

[2017-10-23 19:26] kokenjr commented on #957
Just to confirm, there is indeed a bug that is causing conversations not to be persisted? Or am I missing a configuration that I need to turn on?

[2017-10-24 05:36] vkosuri commented on #1036
Yes, this definately possible. Here is an example on weather API

[code]

[2017-10-24 05:42] nikhilv-quantela commented on #1035
I started using the django framework as shown.
I have added my chatterbot model in _ChatterBot-master/examples/django_app/example_app/settings.py_ chatterbot settings, and trained and migrated via _ChatterBot-master/exples/django_app/manage.py._
But, on running the manage.py runserver, I am getting **Bad Request (400)**
I have tried on 0.0.0.0:8000 and 127.0.0.1:8000
Is there some settings I am mi

[2017-10-24 05:53] vkosuri commented on #1035
Did you added you host ip address to ``ALLOWED_HOSTS`` More info available here https://docs.djangoproject.com/en/1.11/ref/settings/#allowed-hosts

[2017-10-24 05:57] nikhilv-quantela commented on #1035
@vkosuri , thanks for quick response
Yes I have already added ALLOWED_HOSTS = ['0.0.0.0:8000','127.0.0.1:800'] in _ChatterBot-master/examples/django_app/example_app/settings.py_

[2017-10-24 06:02] nikhilv-quantela commented on #1035
@vkosuri
It started working, I included **port info :8000** also, that's why error was coming. I used
**ALLOWED_HOSTS = ['0.0.0.0','127.0.0.1']**
Thanks a lot

[2017-10-24 12:02] rajasimon commented on #1036
It will be good if we can override the `SpecificResponseAdapter` for our need. But we can also create your own adapter for this need...

    from __future__ import unicode_literals
    from chatterbot.logic import LogicAdapter

    class SpecificResponseAdapter(LogicAdapter):
        """
        Return a specific response to a specific input.
        """

        def __init__(self, **kwargs):

[2017-10-24 18:15] sharma-ji opened #1037 "Question: The core working of Chatterbot"
I believe at the core the chatterbot works as AIML chat bot, with only difference being it uses yml and if it is so, then there should be a compiled brain file as well, because loading the English Corpous every time will be lengthy task.

Also can anyone explain how it is different from AIML chat bot, and how it actually learns from past experiences and how NLTK is used here?

I shall be thankful

[2017-10-24 18:46] sharma-ji commented on #1037
Checkout my bot, it uses AIML and its not self learning or connected to Database but its pretty nice
https://github.com/sharma-ji/tony_bot

[2017-10-25 04:28] guangrei opened #1038 "use existing conversation as dataset ?"
hi i have archived conversation/chat in file.txt like
me : ..
friend : ..
me : ..
me : ..
friend : ..
me : ..
friend : ..
friend : ..
me : ..
and so on..
can i use that as dataset ?
thanks

[2017-10-25 04:42] nikhilv-quantela commented on #1038
Yes, you can store this conversation in proper corpus format (**.JSON** or **.YML**) as you can see in _site-packages/chatterbot_corpus/data/_.
You can add your conversation in _site-packages/chatterbot_corpus/data/custom/_.
I prefer **.YML**, as it is more human readable, as compared to **.JSON**

[2017-10-25 04:49] nikhilv-quantela commented on #1035
@vkosuri
I am facing an issue, where the responses come after the second query like this:
**hi
Hello
how are you doing
Hi
good morning
I am doing well, how about you?**
My chatterbot and database defined in the setting is this:

`CHATTERBOT = {
    'name': 'Django ChatterBot Example',
    'trainer': 'chatterbot.trainers.ChatterBotCorpusTrainer',
    'training_data': [
        'chatterbot.corpus.en

[2017-10-25 05:36] vkosuri commented on #1035
tagging @Issen007, Do you have any update about this issue?
Ref Issue: https://github.com/gunthercox/ChatterBot/issues/902

[2017-10-25 05:39] DynamicScope commented on #261
Is this still not fixed? 🤔

[2017-10-25 05:41] nikhilv-quantela commented on #1035
will look into it, thanks

[2017-10-25 05:44] vkosuri commented on #1037
Thanks @sharma-ji I found some of the difference between AIML and chatterbot are https://github.com/gunthercox/ChatterBot/issues/469#issuecomment-267481465

[2017-10-25 06:32] Issen007 commented on #1035
@nikhilv-quantela as you can see in bug #902 we have remove a couple of lines of code.
But we haven't done all verification yet to see if this is the correct solution yet. But it is at least a workaround that work for our testing we do at the moment.

[2017-10-25 06:34] nikhilv-quantela commented on #1035
sure, currently working on that, let's see

[2017-10-25 06:35] Issen007 opened #1039 "Use Chatterbot as a reference"
@gunthercox this is a direct question to you.
I will be on main stage on a IBM Event in Europe and talk about my project working with AI together with one IBM Software called IBM Spectrum Protect.

My question to you, is it OK if I use Chatterbot as a reference in my presentation and do some print screens from the code to show on the main screen?

Thanks
Christian

[2017-10-25 07:31] vkosuri commented on #1038
Yes using existing export feature http://chatterbot.readthedocs.io/en/stable/corpus.html?highlight=export#exporting-your-chat-bot-s-database-as-a-training-corpus

[2017-10-25 11:36] gunthercox commented on #1039
Yes, that is perfectly acceptable.

Best of luck with your presentation 😄

[2017-10-25 12:27] Issen007 commented on #1039
Thanks

[2017-10-25 12:27] #1039 closed

[2017-10-25 18:14] guangrei commented on #1038
its possible to have multiple statement in one section ?
as i see in documentation :
Satement
Response
Satement
Response
Satement
Response
etc ...

and here what would i do :
Satement
Response
Statement
Statement
Response
statement
statement
statement
Response

[2017-10-25 18:24] kokenjr opened #1040 "Chatterbot has far fewer responses than statements"
Looking through my database, I noticed that I have about ~16K statements, but only about 400 responses (and occurrences are all, for the most part, a value of 1). Is this normal?

My understanding from reading about the [statement-response-relationship](http://chatterbot.readthedocs.io/en/stable/conversations.html#statement-response-relationship) is that there should be a database record for each

[2017-10-26 00:15] vkosuri commented on #1040
@kokenjr It's not normal. I think you were correct each statement must have a response, is same response the occurrence count will increment, However the tests are covering this scenario also

https://github.com/gunthercox/ChatterBot/blob/ec189e05f2ccd4d16bca2a3168e0ecee61a20e68/tests/conversation_tests/test_statements.py#L68

Yes it's in under implementation

[2017-10-26 00:19] vkosuri commented on #1038
@guangrei It won't possible with current training algorithm. But i didn't understand your usecase, if possible can with some examples with your usecase?

[2017-10-26 00:26] vkosuri commented on #1039
@Issen007 All the best

[2017-10-26 05:04] nikhilv-quantela commented on #902
@rdt712 , where are you using the `read _only=True`, I am setting that in _example_app/settings.py_ in **CHATTERBOT** definition, it is throwing error

[2017-10-26 05:12] nikhilv-quantela commented on #1035
#902
where to use `read_only=True` if I don't want chattterbot to learn from user, I am setting that in _example_app/settings.py_ in **CHATTERBOT** definition, it is throwing error.

[2017-10-26 13:22] Karamya commented on #1038
for custom dataset, is it necessary to export our database as a training corpus. If not, can anyone recommend me how to train on a custom dataset. I have a .yml file in a folder. If I train based on the .yml file, it gives an error

AttributeError: 'list' object has no attribute 'get'

[2017-10-26 13:26] rHuggler commented on #990
I also ran into this issue using Chatterbot installed with pip.
Apparently changing `json.dumps()` to `json.dump()` on _chatterbot.trainers_ fix this.

[2017-10-26 14:03] kokenjr commented on #1040
@vkosuri How can I go about troubleshooting this issue. I'm not really sure why this is occurring.

[2017-10-26 14:31] kokenjr commented on #1040
Ah it seems I wasn't passing back a cookie with the `sessionid` on my API calls. I seem to have rectified this issue.

[2017-10-26 14:35] kokenjr commented on #995
@gunthercox I think my issue may have been related to this Issue #1040. I'll monitor the conversations and confirm this is the case.

[2017-10-26 15:23] kokenjr commented on #1040
@vkosuri After further testing, I'm still not consistently getting responses stored

[2017-10-26 18:08] pranavlal opened #1041 "Request for documentation on Creating my own corpus"
Hi all,
I want to use chatter bot in a FAQ situation. My users will pose questions to the bot and the bot will answer them. I have a list of questions and responses in AIML that are broken down by topics. Does chatter bot support topics? I see a category tag but I am not sure if this is the same thing as an AIML topic.
Is there any documentation that explains this in detail?

[2017-10-27 01:25] vkosuri commented on #1041
@pranavlal Thank you showing interesting updating corpus. The information grabbed from http://www.alicebot.org/aiml.html

[code]
The free A.L.I.C.E. AIML includes a knowledge base of approximately 41,000 categories. Here's an example of one of them:
[code]

<b>And the below response is very clear, AIML category and chatterbot tag both are same, but coming AIM topic and Chatterbot tag aren't same</

[2017-10-27 01:27] vkosuri commented on #1040
@kokenjr If possible could you post your observations with example scenarios?

[2017-10-27 14:13] pranavlal commented on #1041
Hi,
Thanks for your answer. I understand how topics are used in AIML. I am confused by the YAML syntax in chatter bot. There is a categories: heading that I see in the corpus files. What is that used for? Can I exercise flow control by using these categories?

[2017-10-27 15:49] vkosuri commented on #1041
The best answer you could found here https://github.com/gunthercox/ChatterBot/issues/924

[2017-10-27 23:43] guangrei commented on #1038
the case look like a multiple statement with one response e.g:
when statement match one of statement 1 or statement 2 or statement 3 then will get same response

[2017-10-28 02:43] pranavlal commented on #1041
Understood thanks.

[2017-10-28 02:43] #1041 closed

[2017-10-28 05:03] pranavlal opened #1042 "I am getting a database error when running a simple chat bot with my own corpus"
I have defined my own corpus which is being parsed successfully from what I can tell. However, when I run the bot, I am getting the following error.
[code]

I have sqlite3 installed. My code is below.

[code]

[2017-10-28 11:32] Monisha9255 opened #1044 "sqlite3.OperationalError: unable to open database file"
[code]

The above exception was the direct cause of the following exception:
[code]

[code]
After this statement

[2017-10-29 01:19] vkosuri commented on #1044
@Monisha9255 Usually ``sqlite db`` file will created in ``current directory``. Due to lack of permission sqlite unable to create ``db.sqlite3`` file on your current directory.

And also you are trying through ``pyshell`` May be ``sqlite3`` doesn't have permission to create ``db.sqlite3`` Could you please try where you write permission to create files.

[2017-10-29 19:29] rajasimon opened #1045 "Serverless chatterbot is here"
I've tried to bring the chatterbot to serverless world and tried deployed in AWS Lambda function.

Check out this repo [serverless-chatterbot](https://github.com/rajasimon/serverless-chatterbot) deployed in AWS Lambda.

[2017-10-30 04:39] #1035 closed

[2017-10-30 04:42] nikhilv-quantela opened #1046 "Django chatterbot web page looks like this and not working"
My django chatterbot is up but suddenly it looks just like template, not the actual working one.
![screenshot from 2017-10-30 10-08-57](https://user-images.githubusercontent.com/31243445/32155013-b2bd8324-bd5a-11e7-9770-a727cb1108e1.png)

Some aid would be helpful. Thanks.

[2017-10-30 05:39] vkosuri commented on #1046
@nikhilv-quantela The problem here static fonts aren't loading, check here https://docs.djangoproject.com/en/1.11/howto/static-files/

Make sure you template added ``{% load staticfiles %}``

https://github.com/gunthercox/ChatterBot/blob/c3163c84e0c18dc712ea0a449175b5eff4ccd0e6/examples/django_app/example_app/templates/app.html#L1

[2017-10-30 05:43] vkosuri commented on #1035
@nikhilv-quantela Did your problem was resolved? If so please share your experience so that it will be useful others.

[2017-10-30 06:17] nikhilv-quantela commented on #1046
@vkosuri
Thanks for quick response, I checked the _app.html_ file` {% load staticfiles %}` is there.
I also cross checked _example_app/settings.py_, it has static files code block also

[code]

[2017-10-30 09:32] nikhilv-quantela commented on #1035
Yes, I was finally able to use django chatterbot properly after using
'read_only' : 'True' flag, I tried commenting out the response creation
code block in django storage.py but it was still ambiguous. Then there was
some issue with training, sorted it out after updating djangorestframework,
markdown and django-filter.

Currently, facing static files issue as queried in issue #1046. Working on
it.

[2017-10-30 09:35] calmzealA commented on #925
Great work! This is a very important feature.
It's  slow for now while corpus over 10000 records.

[2017-10-30 11:39] nikhilv-quantela commented on #1046
@vkosuri @gunthercox
Any updates on this, I tried reinstalling the chatterbot, also installed and tested different system, in case any cache in browser affects this. But same result.

[2017-10-30 15:09] kokenjr commented on #1040
After monitoring it for long, I think it's behaving as expected now.

[2017-10-30 15:09] #1040 closed

[2017-10-31 05:15] nikhilv-quantela commented on #1046
@vkosuri @gunthercox
Sorry for extending but I have an update
Working properly when `Debug=True`, problems arise when `Debug=False`
But **SECURITY WARNING: don't run with debug turned on in production!**
So, is that to be taken care of while making separate websites?
Please clarify.

[2017-10-31 05:54] #1046 closed

[2017-10-31 09:00] rajasimon commented on #1045
@gunthercox Can you link this example to Chatterbot Readme. Or may be add new page in docs regarding the community project. i.e)  [channels community project](http://channels.readthedocs.io/en/stable/community.html)

[2017-10-31 09:00] #1045 closed

[2017-10-31 10:12] Cosmos19 commented on #1022
@gunthercox  Thanks for your reply. i will have a look

[2017-10-31 10:12] #1022 closed

[2017-10-31 13:36] vkosuri commented on #1040
@kokenjr could you please post your observation, so that it will be useful for future verfications.

[2017-10-31 13:39] vkosuri commented on #1045
@rajasimon can you make PR to address this issue?

[2017-10-31 14:03] rajasimon commented on #1045
@vkosuri thanks I'm making the changes for the pull request. Also I've plan to do the DynamoDB storage adapter for Chatterbot. Just started out let's see how this thing goes...

[2017-11-01 11:52] nikhilv-quantela opened #1047 "Testing django chatterbot on ubuntu server"
@vkosuri @gunthercox
I am tryning to test my django chatterbot on aws based ubuntu server, I have installed and tested the files, on `python manage.py runserver`, it is coming on 127.0.0.1:8000, which is not working.
My doubt is how to get it running through the server address which is like XX.XX.XXX.XXX:<port>

[2017-11-01 13:20] rajasimon commented on #1047
You have to run Django runserver in 0.0.0.0:80 . This resolves the ip address of the instance. And then you can view by your address...

https://stackoverflow.com/a/33735648/3762142

[2017-11-01 14:10] pranavlal commented on #1042
Hi all,
I have further tested the bot on Linux and am getting the same error message. How do I troubleshoot this? I can see the database file being created. Could the problem be with my corpus? I am attaching the file with this issue.
I am also pasting the code of my bot.
pi@raspberrypi:~ $ cat cb.py
from chatterbot import ChatBot
import logging
logging.basicConfig(level=logging.INFO)
chatbot = Ch

[2017-11-02 04:31] nikhilv-quantela commented on #1047
@rajasimon
thanks for the response, but got this error

Django version 1.11.6, using settings 'example_app.settings'
Starting development server at http://0.0.0.0:80/
Quit the server with CONTROL-C.
Error: You don't have permission to access that port.

Been studying on how to get that back, but need assist, used netstat to get the ports used, it is just showing nginx80 already in use.
Thanks

[2017-11-02 04:45] rajasimon commented on #1047
By theory you have to root all the Django traffic to Nginx and Nginx take care of the rest. Remember that nginx always running in the port 80 because of this you don't have to your Django server by port 80.

- Case1. Please run Django as normal server `python manange.py runserver` Please see below example taken from gunicorn nginx settings...
[code]
- Case2. Stop Nginx server so port 80 will be fr

[2017-11-02 05:06] nikhilv-quantela commented on #1047
@rajasimon
thank you for detailed explanation, will work on it and get back

[2017-11-02 06:46] nikhilv-quantela commented on #1047
@rajasimon

Case 1 is not my case, as nginx is used at port 80 for some other important applications. So, my question is:-

1. Is testing framework django chatterbot possible on port 80 as you described only, or can testing be done on some other ports?

2. If testing can only be done in port 80, how to migrate the applications on port 80 to another port?

Thanks

[2017-11-02 07:36] rajasimon commented on #1047
No you got it wrong... you can run Django runserver whichever port you want. Please run your django runserver as 127.0.0.1:8010 or etc...

[2017-11-02 08:54] nikhilv-quantela commented on #1047
ok thanks

[2017-11-02 12:09] PoojaPatel05 opened #1048 "how can i import data from .txt file. and train that data."
[code]
this is my code. it is running but not giving proper answer (which is stored in dataq2.txt ) it do not train data which is in dataq2.txt file. or  may be it trains that but can not store that.
dataq2.txt have QA data. what i want is if I write 1st line than it should reply line 2.

dataq2 is in the form of this
[code]
here if i input hello than it should reply hi.
please help me

[2017-11-02 12:55] vkosuri commented on #1048
@PoojaPatel05 Yes you could train your bot with some small modifications.

[code]

FYI... I haven't verified above code, let me know your inputs on this.

[2017-11-02 12:58] vkosuri commented on #1042
@pranavlal could you please post your ``Linux`` stack trace? So that will more idea on your failure?

[2017-11-02 13:01] PoojaPatel05 commented on #1048
what do you want? I am not getting you. I am Sorry

On Thu, Nov 2, 2017 at 6:26 PM, Mallikarjunarao Kosuri <
notifications@github.com> wrote:

--
Pooja Patel
Python Developer
w: www.tagove.com
<https://u3476773.ct.sendgrid.net/wf/click?upn=AvVTWHpii7nfl55rPBWDlFzoSSG-2BuGg5dAeZQNDakXg-3D_ls62w2VqncErQRLLYqULEUYLnD2M4VQenauY8ZodonLGqFgeX4dvd6ZyrtANiPzAcOslZAPxp-2F98z04-2BFw1-2BtZloOEzXXgh7hLucUKp4p